{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Formulario de Solicitud BTH.
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Solicitud BTH </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Nro. Trámite: <strong>{{ id_tramite}}</strong> Formulario de Solicitud BTH </h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">1.- Personal Administrativo </h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Director(a)</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Carnet de Identidad</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span>{{ director.paterno ~' '~ director.materno ~' '~ director.nombre }}</span>

                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ director.carnet }}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">2.- Información General</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                {% set iedu = ieducativa[0] %}
                                                {% set iedusu = ieducativa[1] %}
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Código RUE</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Unidad Educativa</strong>
                                                        </div>
                                                    </div>
                                                    <br>

                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ institucion.id }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ iedu.institucioneducativa }}
                                                        </div>
                                                    </div>
                                                    <br>

                                                </div>
                                            </div>


                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">3.- Localización</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Departamento</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Cantón</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Distrito</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['departamento'] }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['canton'] }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['distrito'] }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Localidad</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Zona</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Dirección</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['localidad'] }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['zona'] }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ ubicacion['direccion'] }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">4.- Cumplimiento de Requisitos</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>4.1 Informe</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="ckbox ckbox-theme">
                                                        <input id="informe"  type="checkbox">
                                                        <label for="informe"></label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">5.- Especialidad</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Seleccionar las especialidades</strong>
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-md-5">

                                                    {% if (tipoTramite == 45)  %}
                                                        <select  id="select_especialidade" name="select_especialidade[]" class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                            {% for especialidad in especialidadlista %}
                                                                <option value="{{ especialidad.id }}">{{ especialidad.especialidad }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% else %}
                                                    <select data-placeholder="Seleccionar especialidad" id="lista_select_especialidad" name="lista_select_especialidad[]"  class="form-control" multiple=""  >
                                                        {% for especialidadarray in especialidadarray %}
                                                            <option value="{{ especialidadarray.id }}">{{ especialidadarray.especialidad }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Seleccionar Curso al que se Aplica</strong>
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-md-5">
                                                    <strong><span class="label label-warning">Nivel: Secundaria</span></strong>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Documento adjunto</strong><br>
                                                    <a  class="btn btn-lilac btn-xs btn-stroke" href="{{asset('uploads/archivos/'~ documento )}}" target="_blank">
                                                        <i class="fa fa-file-pdf-o fa-2x" >  </i>   Informe Enviado por la Dirección Distrital
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitubthDis()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <ul id="select_esp" style="display: none">
        {% for especialidadarray in especialidadinfo %}
            <li>{{ especialidadarray }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var informe = {{ informe }};
            if(informe==1){
                document.getElementById("informe").checked = true;
            }
            $('#obs').hide();
            var select_array = [];
            $('#select_esp').find('li').each(function (index, item) {
                select_array.push(item.innerHTML);
            });
            setTimeout(function () {
                $("#select_especialidade").val(select_array).trigger('chosen:updated');
            },1000);
        });
        function muestraobs(){
            var respuesta=$('input:radio[name=radiotype1]:checked').val();
            if(respuesta=='si'){
                $('#obs').hide();
            }else {
                $('#obs').show(2000);
            }
        }
        function  enviarSolicitubthDis() {
            var idsolicitud={{ tipoTramite }};
            switch (true) {
                case (idsolicitud == 45)://Registro Nuevo
                    swal({
                        title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                        text: "La información llenada será enviada a la Direccion Distrital.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["Cancelar", "Continuar"],
                    })
                        .then(function(willDelete)  {
                            if (willDelete) {
                                var institucionid={{ institucion.id }}
                                var tipoTramite={{ tipoTramite }}
                                var ip = [];
                                if($('#informe:checked').val())
                                    ip.push({ informe : 1});
                                else ip.push({ informe : 0 });
                                ip.push({institucionid : institucionid});
                                if($('#select_especialidade').val())
                                    ip.push({select_especialidad : $('#select_especialidade').val()});
                                else
                                {swal("Debe seleccionar al menos una especialidad."); return false;}

                                var obstxt=$('#obstxt').val();
                                var ipt=JSON.stringify(ip);
                                var imagen = '{{ asset("img/loading96.gif") }}';
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('solicitud_bth_enviosolicitud') }}",
                                    data:{ipt: ipt,id_distrito: {{ ubicacion['codigo_distrito'] }},institucionid:{{ institucion.id }},id_tramite:{{ id_tramite}},idsolicitud:idsolicitud,sw:1 },
                                    dataType : 'json',
                                    beforeSend: function () {
                                        swal({
                                            title: "Enviando...",
                                            text: "Espere un momento por favor",
                                            icon: imagen,
                                            buttons: false
                                        });
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        if (data==1 ){
                                            swal("Su formulario se ha enviado con éxito, con Nro. Trámite: " + {{ id_tramite}} );
                                            location.href = "{{ path('wf_tramite_index') }}";
                                        }
                                        else if(data==2 ){
                                            swal("Debe iniciar su trámite como 'Ratificacion'");
                                        }else {
                                            swal('Su formulario no se envío correctamente');
                                        }
                                    },
                                    complete: function () {
                                        swal.stopLoading();
                                        swal.close();
                                    }
                                });
                            }
                        });

                    break;
                case (idsolicitud == 46)://Ratificacion
                    swal({
                        title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                        text: "La información llenada será enviada a la Direccion Distrital.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["Cancelar", "Continuar"],
                    })
                        .then(function(willDelete)  {
                            if (willDelete) {
                                var institucionid={{ institucion.id }}
                                var tipoTramite={{ tipoTramite }}
                                var ip = [];
                                if($('#informe:checked').val())
                                    ip.push({ informe : 1});
                                else ip.push({ informe : 0 });
                                ip.push({institucionid : institucionid});

                                    var especialidades_id = [];
                                    $("#lista_select_especialidad").find("option").each(function(index, opc){
                                        especialidades_id.push(opc.value);
                                    });
                                    ip.push({"select_especialidad" : especialidades_id});

                                var obstxt=$('#obstxt').val();
                                var ipt=JSON.stringify(ip);
                                var imagen = '{{ asset("img/loading96.gif") }}';
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('solicitud_bth_enviosolicitud') }}",
                                    data:{ipt: ipt,id_distrito: {{ ubicacion['codigo_distrito'] }},institucionid:{{ institucion.id }},id_tramite:{{ id_tramite}},sw:1 },
                                    dataType : 'json',
                                    before: function () {
                                        swal({
                                            title: "Enviando...",
                                            text: "Espere un momento por favor",
                                            icon: imagen,
                                            buttons: false
                                        });
                                    },
                                    success: function (data) {
                                            if (data==1){
                                                swal("Su formulario se ha enviado con éxito, con Nro. de Trámite:"+{{ id_tramite}} );
                                                location.href = "{{ path('wf_tramite_index') }}";
                                            }
                                            else if(data==3 ){
                                                swal("Debe iniciar su trámite como 'Registro Nuevo'");
                                            }else {
                                                swal('Su formulario no se envío correctamente');
                                            }
                                        },
                                    complete: function () {
                                        swal.stopLoading();
                                        swal.close();
                                    }
                                });
                            }
                        });
                    break;

            }
        }

    </script>

{% endblock %}
