{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> FORMULARIO RITT <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('solicitud_ritt_inicio') }}>Formulario RITT</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel ">
                            <div class="panel-heading">
                                <h3 class="panel-title"><p class="text-center">
                                    <p class="text-right"><strong>FDJ - RITT N° 001</strong></p> <p class="text-center"><strong>FORMULARIO DE REGISTRO DE INSTITUTOS TÉCNICOS, TECNOLÓGICOS SUPERIORES Y FORMACIÓN
                                            ARTÍSTICA DE CARÁCTER FISCAL, DE CONVENIO Y PRIVADO</strong></p>
                                </h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div class="row">

                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">I. DATOS DEL INSTITUTO</h3>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong>1.1. TIPO DE INSTITUTO</strong>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="rdio rdio-theme circle">
                                                        <input id="tecnico" type="radio" name="radiotype1" value="si" onclick="muestraobs()" >
                                                        <label for="tecnico"><strong>Técnico</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="rdio rdio-theme circle">
                                                        <input id="tecnologico" type="radio" name="radiotype1" value="no" onclick="muestraobs()">
                                                        <label for="tecnologico"><strong>Tecnológico</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="rdio rdio-theme circle">
                                                        <input id="formacion" type="radio" name="radiotype1" value="no" onclick="muestraobs()">
                                                        <label for="formacion"><strong>Formación Artística</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>1.2. NOMBRE DEL INSTITUTO SEGÚN R.M. VIGENTE</strong>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input class="col-md-10" type="input"  id="NomInstituto" placeholder="Nombre del Instituto">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>1.3. NATURALEZA JURÍDICA</strong>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="rdio rdio-theme circle">
                                                    <input id="Fiscal" type="radio" name="radiotype2" value="si" onclick="muestraobs()" >
                                                    <label for="Fiscal"><strong>Fiscal</strong></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="rdio rdio-theme circle">
                                                    <input id="Convenio" type="radio" name="radiotype2" value="no" onclick="muestraobs()">
                                                    <label for="Convenio"><strong>Convenio</strong></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="rdio rdio-theme circle">
                                                    <input id="Privado" type="radio" name="radiotype2" value="no" onclick="muestraobs()">
                                                    <label for="Privado"><strong>Privado</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>1.4. DATOS DE RESOLUCIÓN MINISTERIAL VIGENTE</strong>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>N° </strong><input type="input" id="resolucion" placeholder="Resolución Ministerial">
                                            </div>
                                            <div class="col-md-8">
                                                <div id='sandbox-container'>
                                                    <div class="input" id="datepicker">
                                                        <strong>Fecha  </strong>
                                                            <input type="text" id="fechaRespolucion" placeholder="dd-mm-aaaa" >
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" id="cod_ritt_titulo">
                                            <div class="col-md-12">
                                                <strong>1.5. CÓDIGO RITT</strong> <small>(SÓLO LLENAR SI TIENE)</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" id="cod_ritt_dato">
                                            <div class="col-md-12">
                                                <strong>N° </strong><input type="input" placeholder="Código RITT">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">1.1. TIPO DE TRÁMITE</h3>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="rdio rdio-theme circle">
                                                    <input id="Sede" type="radio" name="radiotype3" value="si" onclick="" >
                                                    <label for="Sede"><strong>Sede</strong></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="rdio rdio-theme circle">
                                                    <input id="SubSede" type="radio" name="radiotype3" value="si" onclick="" >
                                                    <label for="SubSede"><strong>Subsede</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="Apertura" type="checkbox" onclick="verifica()">
                                                    <label for="Apertura">Apertura</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="Ratificacion" type="checkbox" onclick="verifica()">
                                                    <label for="Ratificación">Ratificación</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="Ampliación" type="checkbox" onclick="verifica()">
                                                    <label for="Ampliación">Ampliación de oferta curricular</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="Cambio" type="checkbox" onclick="verifica()">
                                                    <label for="Cambio">Cambio de domicilio</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="ckbox ckbox-theme" onclick="verifica()">
                                                    <input id="Cierre" type="checkbox">
                                                    <label for="Cierre">Cierre</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div><!-- /.panel-body -->
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">II. DATOS DE UBICACIÓN</h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <strong>2.1. DATOS DE UBICACIÓN GEOGRÁFICA(*)</strong>
                                <div class="row">

                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                    </div>

                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">III. OFERTA ACADÉMICA</h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table" id="tabla_oferta">
                                                <thead>
                                                <tr>
                                                    <th style="min-width: 10px">Nro. </th>
                                                    <th align="center">DENOMINACIÓN DE CARRERA</th>
                                                    <th align="center">NIVEL DE FORMACIÓN</th>
                                                    <th align="center">RÉGIMEN DE ESTUDIOS (*)</th>
                                                    <th align="center">TIEMPO DE ESTUDIOS (**)</th>
                                                    <th align="center">CARGA HORARIA</th>
                                                    <th align="center">DENOMINACIÓN DEL TÍTULO PROFESIONAL O CERTIFICADO DE CAPACITACIÓN</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="pull-right">
                                        <button type="button" onclick="adicionar()"> + </button>
                                        <a href="#{#{{ path('solicitud_ritt_solicitudRITT') }}#}" class="btn btn-info" id="btnenviarRITT" onclick="enviaInformacion()">Enviar Formulario</a>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    {#<div style="display: none" id="fila">
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
    </div>#}
{% endblock %}
{% block javascripts%}
{{ parent() }}
    <script>
        function verifica() {
            if($('#Ratificación:checked').val())
            {$('#cod_ritt_titulo').show();
                $('#cod_ritt_dato').show();}
            if($('#Ampliación:checked').val())
            {$('#cod_ritt_titulo').show();
                 $('#cod_ritt_dato').show();}
            if($('#Cambio:checked').val())
            { $('#cod_ritt_titulo').show();
                $('#cod_ritt_dato').show();}
            if($('#Cierre:checked').val())
            {$('#cod_ritt_titulo').show();
                $('#cod_ritt_dato').show();
                $('#Apertura').prop('checked',false);
                $('#Ratificación').prop('checked',false);
                $('#Ampliación').prop('checked',false);
                $('#Cambio').prop('checked',false);

            }
            if($('#Apertura:checked').val())
            {   $('#cod_ritt_titulo').hide();
                $('#cod_ritt_dato').hide();
                $('#Ratificación').prop('checked',false);
                $('#Ampliación').prop('checked',false);
                $('#Cambio').prop('checked',false);
                $('#Cierre').prop('checked',false);
            }

        }
        function enviaInformacion() {

            swal({
                title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                text: "La información llenada será enviada a la instancia correspondiente.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["Cancelar", "Continuar"],
            })
                .then(function(willDelete)  {
                    if (willDelete) {
                        var ip = [];
                        if($('#Sede:checked').val())
                            ip.push({ Sede : 1 });
                        else ip.push({ Sede : 0 });

                        if($('#SubSede:checked').val())
                            ip.push({ SubSede : 1 });
                        else ip.push({ SubSede : 0 });

                        if($('#Apertura:checked').val())
                            ip.push({ Apertura : 1 });
                        else ip.push({ Apertura : 0 });

                        if($('#Ratificacion:checked').val())
                            ip.push({ Ratificacion : 1 });
                        else ip.push({ Ratificacion : 0 });

                        if($('#Ampliacion:checked').val())
                            ip.push({ Ampliacion : 1 });
                        else ip.push({ Ampliacion : 0 });

                        if($('#Cambio:checked').val())
                            ip.push({ Cambio : 1 });
                        else ip.push({ Cambio : 0 });

                        if($('#Cierre:checked').val())
                            ip.push({ Cierre : 1 });
                        else ip.push({ Cierre : 0 });

                        if($('#tecnico:checked').val())
                            ip.push({ tecnico : 1 });
                        else ip.push({ tecnico : 0 });

                        if($('#tecnologico:checked').val())
                            ip.push({ tecnologico : 1});
                        else ip.push({ tecnologico : 0 });

                        if($('#formacion:checked').val())
                            ip.push({ formacion : 1});
                        else ip.push({ formacion : 0 });

                        if($('#NomInstituto').val()=='')
                        { swal("Debe Introducir un Nombre");
                            return false;}
                        else {ip.push({ nom_instituto : $('#NomInstituto').val()});}

                        if($('#Fiscal:checked').val())
                            ip.push({ Fiscal : 1 });
                        else ip.push({ Fiscal : 0 });
                        if($('#Convenio:checked').val())
                            ip.push({ Convenio : 1});
                        else ip.push({ Convenio : 0 });
                        if($('#Privado:checked').val())
                            ip.push({ Privado : 1});
                        else ip.push({ Privado : 0 });

                        if($('#resolucion').val()=='')
                        {swal("Debe Introducir la Resolución");
                            return false;
                        }
                        else {ip.push({ resolucion : $('#resolucion').val()});}

                        if($('#fechaRespolucion').val()=='')
                        {swal("Debe Introducir la Fecha de Resolución");
                            return false;
                            }
                        else {ip.push({ fechaResolucion : $('#fechaRespolucion').val()});}
                        var carreras = [];
                        $('#tabla_oferta tbody').find('tr').each(function(){
                            var fila_carrera = [];
                            $(this).find('td').each(function(){
                                if($(this).find('input').val()!= undefined){
                                    fila_carrera.push($(this).find('input').val());
                                }

                                //console.log($(this).find('input').val());
                            });
                            carreras.push(fila_carrera);
                        });
                       // console.log(carreras);
                        ip.push({'carreras': carreras})
                        var ipt=JSON.stringify(ip);
                       // alert(ipt);
                        var imagen = '{{ asset("img/loading96.gif") }}';


                        $.ajax({
                            type: 'post',
                            url: "{{ path('solicitud_ritt_enviosolicitudRITT') }}",
                            data:{ipt: ipt},
                            dataType : 'json',
                            before: function () {
                                swal({
                                    title: "Enviando...",
                                    text: "Espere un momento por favor",
                                    icon: imagen,
                                    buttons: false
                                });
                            },
                            success: function (data) {
                                $('#respuesta').append(data);
                                //console.log(data);
                                /* if (data==0){
                                     swal("Su formulario se ha enviado con éxito Muchas gracias");
                                 }
                                 else{
                                     swal("Su formulario se ha enviado con éxito Muchas gracias");
                                 }*/
                            },
                            complete: function () {
                                swal.stopLoading();
                                swal.close();
                            }
                        });


                    }
                });

        }

        function  adicionar() {
            var html = ' <tr>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><input type="text"></td>\n' +
                '            <td><a href="#" class="remover_campo"><span class=".text-danger"><strong>(-)</strong></span></a></td>\n' +
                '        </tr>'

            $('#tabla_oferta tbody').append(html);

            // Remover o div anterior
            $('#tabla_oferta').on("click",".remover_campo",function(e) {
                e.preventDefault();
                $(this).closest('tr').remove();

            });
        }
    </script>

    <script>
        $(document).ready(function(){
            $('#cod_ritt_titulo').hide();
            $('#cod_ritt_dato').hide();
           // $('#btnenviarRITT').attr("disabled", true);
        });

    </script>
    <script type="text/javascript">
        // DateRangePicker
        $('#sandbox-container .input-daterange').datepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 'linked'
        });


    </script>

{% endblock %}