{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Solicitudes - BTH <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('solicitud_bth_index') }}>Solicitud BTH</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>1.- Personal Administrativo </strong></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Director(a)</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                               <strong>C.I.</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>{{ director.paterno ~' '~ director.materno ~' '~ director.nombre }}</span>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ director.carnet }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>2.- Información General</strong> </h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    {% set iedu = ieducativa[0] %}
                                    {% set iedusu = ieducativa[1] %}
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Código RUE</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Unidad Educativa</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ institucion.id }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ iedu.institucioneducativa }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>3.- Localización</strong></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Departamento</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Cantón</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Localidad</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Zona</strong>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Dirección</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>Distrito</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['departamento'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['canton'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['localidad'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['zona'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['direccion'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ ubicacion['distrito'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>4.- Solicitud BTH</strong></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a href="{{path('solicitud_bth_nuevasolicitud',{'idinstitucion':institucion.id,'gestion':gestion})}}"class="btn btn-sm btn-facebook"><i class="fa fa-plus-circle"></i> Nueva Solicitud</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div id="solicitudes" class="body-content  animated fadeIn">
                                        <div class="table-responsive col-md-12">
                                            <table class="table table-bordered table-striped table-default" id="listaSolicitudes" >
                                                <thead>
                                                <tr >
                                                    <th style="min-width: 10px"><strong>Nro.</strong></th>
                                                    <th style="min-width: 10px"><strong>Nro. Trámite</strong></th>
                                                    <th><strong>Tipo de Trámite</strong></th>
                                                    <th><strong>Fecha de Solicitud</strong></th>
                                                    <th><strong>Estado</strong></th>
                                                    <th><strong>Observaciones</strong></th>
                                                    <th><strong>Acciones</strong></th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th style="min-width: 10px"><strong>Nro.</strong></th>
                                                    <th style="min-width: 10px"><strong>Nro. Trámite</strong></th>
                                                    <th><strong>Tipo de Trámite</strong></th>
                                                    <th><strong>Fecha de Solicitud</strong></th>
                                                    <th><strong>Estado</strong></th>
                                                    <th><strong>Observaciones</strong></th>
                                                    <th><strong>Acciones</strong></th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                {% for listatareas in listatareas %}
                                                    <tr>

                                                        <td class="text-center">{{ loop.index }}</td>
                                                        <td class="text-center">{{ listatareas.id }}</td>
                                                        <td>{{ listatareas.tramite_tipo }}</td>
                                                        <td>{{ listatareas.fecha_registro|date('d-m-Y') }}</td>
                                                        <td> {% if ( listatareas.estado =='ENVIADO') %}
                                                                <span class="label label-success">{{ listatareas.estado }}</span>
                                                            {% else %}
                                                                <span class="label label-danger">{{ listatareas.estado }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ listatareas.obs }}</td>
                                                        <td>
                                                            {% if ( listatareas.estado =='DEVUELTO') %}
                                                                <a href="{{ path('solicitud_bth_formulario',{'idUE':institucion.id,'id_tramite':listatareas.id}) }}" class="btn btn-warning btn-xs"   title="Ver Formulario"><i class="fa fa-eye"></i></a>
                                                            {% else %}
                                                                <a href="{{ path('solicitud_bth_imprimeDirector',{'idUE':institucion.id,'tramite_id':listatareas.id}) }}" class="btn btn-danger btn-xs"   title="Imprimir Formulario"><i class="glyphicon glyphicon-print"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            cargatablas();
        });
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#listaSolicitudes tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "No."){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );

            // DataTable
            var table = $('#listaSolicitudes').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };
    </script>
{% endblock %}