{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated flip"></i> Solicitudes BTH - Pendientes <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('solicitud_bth_index') }}>Solicitud BTH </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"> <strong> Solicitudes Pendientes - Técnico SIE Distrital</strong></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="table-responsive col-md-12">
                                        <table class="table table-bordered table-striped table-default" id="listaSolicitudes" >
                                            <thead>
                                            <tr >
                                                <th class="text-center border-right" style="min-width: 10px">No. Trámite</th>
                                                <th>Código RUE</th>
                                                <th>Unidad Educativa</th>
                                                <th>Tipo de Trámite</th>
                                                <th>Remitente</th>
                                                <th>Estado</th>
                                                <th>observaciones</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th class="text-center border-right">No. Trámite</th>
                                                <th>Código RUE</th>
                                                <th>Unidad Educativa</th>
                                                <th>Tipo de Trámite</th>
                                                <th>Remitente</th>
                                                <th>Estado</th>
                                                <th>observaciones</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            {% for lista_tramites in lista_tramites %}
                                                <tr>
                                                    <td class="text-center border-right">{{ lista_tramites.id}}</td>
                                                    <td>{{ lista_tramites.cod_sie}}</td>
                                                    <td>{{ lista_tramites.institucioneducativa }}</td>
                                                    <td>{{ lista_tramites.tramite_tipo }}</td>
                                                    <td>{{ lista_tramites.nombre }}</td>
                                                    <td>{% if(lista_tramites.estado=='ENVIADO') %}  <span class="label label-success">RECIBIDO</span>
                                                    {% else %} <span class="label label-danger">{{ lista_tramites.estado }}</span>{% endif %} </td>
                                                    <td>{{ lista_tramites.obs}} </td>
                                                    <td>
                                                        {% if(lista_tramites.estado=='ENVIADO') %}
                                                            <a  class="btn btn-xs btn-warning" href="{{ path('solicitud_bth_solicitudBTHDis',{'lista_tramites.id':lista_tramites.id} )  }}" title="Ver Solicitud"><i class="fa fa-eye"></i></a>
                                                        {% else %}
                                                            <a  class="btn btn-xs btn-warning" href="{{ path('solicitud_bth_formularioDis',{'lista_tramites.id':lista_tramites.id}) }}" title="Ver Solicitud"><i class="fa fa-eye"></i></a>
                                                        {% endif %}

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                            </div><!-- /.panel-body -->
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>
    $( document ).ready(function() {
        cargatablas();
    });
    var cargatablas = function (identif){
        // Setup - add a text input to each footer cell
        $('#listaSolicitudes tfoot th').each( function () {
            var title = $(this).text();
            if(title.trim() === "" || title === "No."){
                $(this).html('');
            } else {
                $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
            }
        } );

        // DataTable
        var table = $('#listaSolicitudes').DataTable( {
                "order": [[ 0, "asc" ]],
                "columnDefs": [
                    { "orderable": false, "targets": [0] }
                ],
            }
        );

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    };
</script>
{% endblock %}