{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Nueva Solicitud BTH <span>Nueva Solicitud BTH </span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('solicitud_bth_index') }}>Nueva Solicitud BTH</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Formularios de Solicitudes</h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    {{form_start(form,{'attr':{'id':'formSolicitud'} })}}
                                    <div class="col-md-4 col-md-offset-4">
                                        <h3><strong>Seleccionar Tipo de Solicitud</strong></h3>
                                        {{form_widget(form.solicitud)}}
                                    </div>
                                    {{form_end(form)}}
                                </div>
                            </div><!-- /.panel-body -->
                        </div>

                    </div>
                </div>

            </div>

        </div>
    <div class="row" >
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title" id="titulo">Formularios</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row" id="form_nuevo" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">1.- Información General</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            {% set iedu = ieducativa[0] %}
                                            {% set iedusu = ieducativa[1] %}
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Código RUE</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Unidad Educativa</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Sub Sistema</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ institucion.id }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ iedu.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2.- Localización</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Departamento</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Cantón</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Distrito</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['departamento'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['canton'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['distrito'] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Localidad</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Zona</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Dirección</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['localidad'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['zona'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['direccion'] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3.- Cumplimiento de Requisitos</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                               <strong>3.1 Técnico Administrativo</strong>
                                            </div>
                                            <div class="col-md-4">
                                                {#<div style="padding:10px; background: #ffffff">
                                                    <div class="checkbox" style="margin-left: 30px">
                                                        <label style="color:#3174C1">
                                                            <input type="checkbox" required="required">
                                                        </label>
                                                    </div>
                                                </div>#}
                                                <div class="ckbox ckbox-theme">
                                                    <input id="tecadmin"  type="checkbox">
                                                    <label for="tecadmin"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>3.2 Infraestructura y Equipamiento</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="infra" type="checkbox">
                                                    <label for="infra"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.3 Desarrollo Curricular</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="descurricular" type="checkbox">
                                                    <label for="descurricular"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.4 Informe</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="informe"  type="checkbox">
                                                    <label for="informe"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">4.- Especialidad</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar las especialidades</strong>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar especialidad"  id="select_especialidad" name="select_especialidad[]"  class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% for especialidad in especialidad %}
                                                        <option value="{{ especialidad.id }}">{{ especialidad.especialidad }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar Curso al que se Aplica</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong><span class="label label-warning">Nivel: Secundaria</span></strong>
                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar Curso" class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% if cursos %}
                                                    {% for cursos in cursos %}
                                                        <option value="{{ cursos.grado_tipo_id }}">{{ cursos.grado }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                        <option value="">U.E. sin cursos </option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" id="form_regularizacion" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">1.- Información General</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            {% set iedu = ieducativa[0] %}
                                            {% set iedusu = ieducativa[1] %}
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Código RUE</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Unidad Educativa</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Sub Sistema</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ institucion.id }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ iedu.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2.- Localización</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Departamento</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Cantón</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Distrito</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['departamento'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['canton'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['distrito'] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Localidad</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Zona</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Dirección</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['localidad'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['zona'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['direccion'] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3.- Cumplimiento de Requisitos</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>3.1 Técnico Administrativo</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="tecadminregularizacion" value="1" type="checkbox">
                                                    <label for="tecadminregularizacion"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>3.2 Infraestructura y Equipamiento</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="infraregularizacion" value="1" type="checkbox">
                                                    <label for="infraregularizacion"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.3 Desarrollo Curricular</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="descurricularregularizacion" value="1" type="checkbox">
                                                    <label for="descurricularregularizacion"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.4 Informe</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="informeregularizacion" value="1" type="checkbox">
                                                    <label for="informeregularizacion"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">4.- Especialidad</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar las especialidades</strong>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar especialidad"  class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% for especialidad in especialidad %}
                                                        <option value="{{ especialidad.id }}">{{ especialidad.especialidad }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar Curso al que se Aplica</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong><span class="label label-warning">Nivel: Secundaria</span></strong>
                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar Curso" class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% if cursos %}
                                                        {% for cursos in cursos %}
                                                            <option value="{{ cursos.grado_tipo_id }}">{{ cursos.grado }}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        <option value="">U.E. sin cursos </option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudRegularizacionbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>
                                            <div id="respuesta">

                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" id="form_especialidad" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">1.- Información General</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            {% set iedu = ieducativa[0] %}
                                            {% set iedusu = ieducativa[1] %}
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Código RUE</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Unidad Educativa</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Sub Sistema</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ institucion.id }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ iedu.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2.- Localización</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Departamento</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Cantón</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Distrito</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['departamento'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['canton'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['distrito'] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Localidad</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Zona</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Dirección</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['localidad'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['zona'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['direccion'] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3.- Cumplimiento de Requisitos</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>3.1 Informe</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="informeespecialidad" value="1" type="checkbox">
                                                    <label for="informeespecialidad"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">4.- Especialidad</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Especialidades</strong>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                <input type="button" class="btn btn-sm btn-twitter" id="nueva_especialidad" value="Adicionar Especialidad">
                                                <br>
                                                <div id="listas_especialidad">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar Curso al que se Aplica</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong><span class="label label-warning">Nivel: Secundaria</span></strong>
                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar Curso" class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% if cursos %}
                                                        {% for cursos in cursos %}
                                                            <option value="{{ cursos.grado_tipo_id }}">{{ cursos.grado }}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        <option value="">U.E. sin cursos </option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">

                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudEspecialidadbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><!-- /.panel-body -->
        </div>
    </div>


    </div>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>



    var campos_max  = 10;   //max de 10 campos
    var x = 0;
    $('#nueva_especialidad').click (function(e) {
        e.preventDefault();
        if (x < campos_max) {
            $('#listas_especialidad').append('<div>\
                                <input type="text" name="campo[]">\
                                <a href="#" class="remover_campo"><span class=".text-danger"><strong>(-)</strong></span></a>\
                                <br>\
                                </div>');
            x++;
        }
    });
    // Remover o div anterior
    $('#listas_especialidad').on("click",".remover_campo",function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    });

    function cargarFormularioSolicitud() {
        var idsolicitud=$('#form_solicitud').val();
        switch (true){
            case (idsolicitud == 44):
                document.getElementById("titulo").innerHTML= "Formulario de Registro Nuevo";
                $('#form_regularizacion').hide();
                $('#form_especialidad').hide();
                $('#form_nuevo').show(2000);
                break;
            case (idsolicitud == 45):
                document.getElementById("titulo").innerHTML= "Formulario de Regularización";
                $('#form_nuevo').hide();
                $('#form_especialidad').hide();
                $('#form_regularizacion').show(2000);
                break;
            case (idsolicitud == 46):
                document.getElementById("titulo").innerHTML= "Formulario de Nueva Especialidad";
                $('#form_nuevo').hide();
                $('#form_regularizacion').hide();
                $('#form_especialidad').show(2000);
                break;
        }

    }
    function enviarSolicitudbth() {
        swal({
            title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
            text: "La información llenada será enviada a la instancia correspondiente.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            buttons: ["Cancelar", "Continuar"],
        })
            .then(function(willDelete)  {
                if (willDelete) {
                    var institucionid={{ institucion.id }}
                    var ip = [];
                    if($('#tecadmin:checked').val())
                        ip.push({ tecadmin : 1 });
                    else ip.push({ tecadmin : 0 });;
                    if($('#infra:checked').val())
                        ip.push({ infra : 1});
                    else ip.push({ infra : 0 });
                    if($('#descurricular:checked').val())
                        ip.push({ descurricular : 1});
                    else ip.push({ descurricular : 0 });
                    if($('#informe:checked').val())
                        ip.push({ informe : 1});
                    else ip.push({ informe : 0 });
                    ip.push({institucionid : institucionid});
                    //ip.push({ institucioneducativa : })
                    ip.push({select_especialidad : $('#select_especialidad').val()});

                    var ipt=JSON.stringify(ip);
                    alert(ipt);

                    var imagen = '{{ asset("img/loading96.gif") }}';
                    //alert(ipt);
                    $.ajax({
                        type: 'post',
                        url: "{{ path('solicitud_bth_enviosolicitud') }}",
                        data:{ipt: ipt},
                        dataType : 'json',
                        before: function () {
                            swal({
                                title: "Enviando...",
                                text: "Espere un momento por favor",
                                icon: imagen,
                                buttons: false
                            });
                        },
                        success: function (data) {
                            $('#respuesta').append(data);
                            //console.log(data);
                           /* if (data==0){
                                swal("Su formulario se ha enviado con éxito Muchas gracias");
                            }
                            else{
                                swal("Su formulario se ha enviado con éxito Muchas gracias");
                            }*/
                        },
                        complete: function () {
                            swal.stopLoading();
                            swal.close();
                        }
                    });
                }
            });
    }

    function enviarSolicitudRegularizacionbth() {

        /*var defaults = [2,5,6,4,3,6,8,9];
        $("select").val(function(i) { return defaults[i]; });*/
        alert("Regularizacion");

    }
    function enviarSolicitudEspecialidadbth() {

        alert("Especialidad");

    }
    $(document).ready(function(){
            $('#form_nuevo').hide();
            $('#form_regularizacion').hide();
            $('#form_especialidad').hide();

    });



</script>
{% endblock %}