{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Nueva Solicitud BTH <span>Nueva Solicitud BTH </span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí12312:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('solicitud_bth_index') }}>Nueva Solicitud BTH</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Formularios de Solicitudes</h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    {{form_start(form,{'attr':{'id':'formSolicitud'} })}}
                                    <div class="col-md-4 col-md-offset-4">
                                        <h3><strong>Seleccionar Tipo de Solicitud</strong></h3>
                                        {{form_widget(form.solicitud)}}
                                    </div>
                                    {{form_end(form)}}
                                </div>

                            </div><!-- /.panel-body -->
                        </div>

                    </div>
                </div>

            </div>

        </div>
    <div class="row" >
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title" id="titulo">Formularios</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row" id="form_nuevo" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">1.- Información General</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">

                                            {% set iedu = ieducativa[0] %}
                                            {% set iedusu = ieducativa[1] %}
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Código RUE</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Unidad Educativa</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                {#<div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Sub Sistema</strong>
                                                    </div>
                                                </div>#}
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ institucion.id }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ iedu.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2.- Localización</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Departamento</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Cantón</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Distrito</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['departamento'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['canton'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['distrito'] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Localidad</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Zona</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Dirección</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['localidad'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['zona'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['direccion'] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3.- Cumplimiento de Requisitos</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.1 Informe</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="informe"  type="checkbox">
                                                    <label for="informe"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">4.- Especialidad</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Seleccionar las especialidades</strong>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                <select data-placeholder="Seleccionar especialidad"  id="select_especialidad" name="select_especialidad[]"  class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% for especialidad in especialidad %}
                                                        <option value="{{ especialidad.id }}">{{ especialidad.especialidad }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Nivel al que se Aplica</strong>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                {#<select data-placeholder="Seleccionar Curso" class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                    {% if cursos %}
                                                    {% for cursos in cursos %}
                                                        <option value="{{ cursos.grado_tipo_id }}">{{ cursos.grado }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                        <option value="">U.E. sin cursos </option>
                                                    {% endif %}
                                                </select>#}
                                                <strong><span class="label label-primary">Nivel: Secundaria</span></strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" id="form_regularizacion" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">1.- Información General</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            {% set iedu = ieducativa[0] %}
                                            {% set iedusu = ieducativa[1] %}
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Código RUE</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Unidad Educativa</strong>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ institucion.id }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ iedu.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2.- Localización</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Departamento</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Cantón</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Distrito</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['departamento'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['canton'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['distrito'] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Localidad</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Zona</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong>Dirección</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['localidad'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['zona'] }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ ubicacion['direccion'] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3.- Cumplimiento de Requisitos</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>2.4 Informe</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ckbox ckbox-theme">
                                                    <input id="informeregularizacion" value="1" type="checkbox">
                                                    <label for="informeregularizacion"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.panel-body -->
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">4.- Especialidad</h3>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Lista de Especialidades</strong>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-5">
                                                <select  id="lista_especialidades_ratificacion" name="lista_especialidades_ratificacion[]"  class="form-control" multiple  >

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Curso al que se Aplica</strong>
                                            </div>
                                            <div class="col-md-3">
                                                <strong><span class="label label-primary">Nivel: Secundaria</span> <span >Grado: {{ grado }}</span> </strong>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.panel-body -->
        </div>
    </div>


    </div>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>


    var campos_max  = 10;   //max de 10 campos
    var x = 0;
    $('#nueva_especialidad').click (function(e) {
        e.preventDefault();
        if (x < campos_max) {
            $('#listas_especialidad').append('<div>\
                                <input type="text" name="campo[]">\
                                <a href="#" class="remover_campo"><span class=".text-danger"><strong>(-)</strong></span></a>\
                                <br>\
                                </div>');
            x++;lista_especialidades
        }
    });
    // Remover o div anterior
    $('#listas_especialidad').on("click",".remover_campo",function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    });

    function cargarFormularioSolicitud() {
        var idsolicitud=$('#form_solicitud').val();
        switch (true){
            case (idsolicitud == 45):
                document.getElementById("titulo").innerHTML = "Formulario de <strong><em>Registro Nuevo</em></strong>";
                $('#form_regularizacion').hide();
                $('#form_especialidad').hide();
                $('#form_nuevo').show(2000);
                break;
            case (idsolicitud == 46):
                document.getElementById("titulo").innerHTML= "Formulario de Ratificación";
                $('#form_nuevo').hide();
                $('#form_especialidad').hide();
                $('#form_regularizacion').show(2000);
                $.ajax({
                    type: 'post',
                    url: "{{ path('solicitud_bth_lista_especialidades') }}",
                    data:{institucionid:{{ institucion.id }}},
                    before: function () {

                    },
                    success: function (data) {

                        $(data).each(function(i, v){ // indice, valor
                            $('#lista_especialidades_ratificacion').append('<option value="' + v.id + '">' + v.especialidad + '</option>');
                        });
                    }
                });
                break;

        }

    }
    function enviarSolicitudbth() {

        var idsolicitud=$('#form_solicitud').val();
        switch (true){
            case (idsolicitud == 45): //Registro Nuevo
                swal({
                    title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                    text:  "La información llenada será enviada a la Dirección Distrital.",
                    icon:  "warning",
                    buttons: true,
                    dangerMode: true,
                    buttons: ["Cancelar", "Continuar"],
                })
                    .then(function(willDelete)  {
                        if (willDelete) {
                            var institucionid={{ institucion.id }}

                            var ip = [];
                            if($('#informe:checked').val())
                                ip.push({ informe : 1});
                            else
                            { swal("Debe seleccionar la casilla de informe."); return false;
                                ip.push({ informe : 0 })
                            };
                            ip.push({institucionid : institucionid});
                            if($('#select_especialidad').val())
                                ip.push({select_especialidad : $('#select_especialidad').val()});
                            else
                            {swal("Debe seleccionar al menos una especialidad."); return false;}

                            var ipt=JSON.stringify(ip);
                            var imagen = '{{ asset("img/loading96.gif") }}';
                            //alert(ipt);
                            $.ajax({
                                type: 'post',
                                url: "{{ path('solicitud_bth_enviosolicitud') }}",
                                data:{ipt: ipt,id_distrito: {{ ubicacion['codigo_distrito'] }},institucionid:{{ institucion.id }},idsolicitud:idsolicitud,sw:0},
                                dataType : 'json',
                                beforeSend: function () {
                                    swal({
                                        title: "Enviando...",
                                        text: "Espere un momento por favor",
                                        icon: imagen,
                                        buttons: false
                                    });
                                },
                                success: function (data) {
                                    if (data==1 ){
                                        swal("Su formulario se ha enviado con éxito Nro Tramite:");
                                        location.href = "{{ path('wf_tramite_index') }}";
                                    }
                                    else if(data==2 ){
                                        swal("Debe iniciar su trámite como 'Ratificacion'");
                                    }else {
                                        swal('Su formulario no se envío correctamente debido a que su Unidad Educativa ya ' +
                                            'inicio su trámite como NUEVO');
                                    }
                                },
                                complete: function () {
                                    swal.stopLoading();
                                    swal.close();
                                }
                            });
                        }
                    });
                break;
            case (idsolicitud == 46): //Ratificacion

                swal({
                    title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                    text:  "La información llenada será enviada a la Dirección Distrital.",
                    icon:  "warning",
                    buttons: true,
                    dangerMode: true,
                    buttons: ["Cancelar", "Continuar"],
                })
                    .then(function(willDelete)  {
                        if (willDelete) {
                            var institucionid={{ institucion.id }}
                            var ip = [];
                            if($('#informeregularizacion:checked').val())
                                ip.push({ informe : 1});
                            else
                            { swal("Debe seleccionar la casilla de informe."); return false;
                                ip.push({ informe : 0 })
                            };

                            ip.push({institucionid : institucionid});

                            var especialidades_id = [];
                            $("#lista_especialidades_ratificacion").find("option").each(function(index, opc){
                                especialidades_id.push(opc.value);
                            });
                            ip.push({"select_especialidad" : especialidades_id});

                            var ipt=JSON.stringify(ip);
                            var imagen = '{{ asset("img/loading96.gif") }}';
                            //alert(ipt);
                            $.ajax({
                                type: 'post',
                                url: "{{ path('solicitud_bth_enviosolicitud') }}",
                                data:{ipt: ipt,id_distrito: {{ ubicacion['codigo_distrito'] }},institucionid:{{ institucion.id }},idsolicitud:idsolicitud,sw:0},
                                dataType : 'json',
                                before: function () {
                                    swal({
                                        title: "Enviando...",
                                        text: "Espere un momento por favor",
                                        icon: imagen,
                                        buttons: false
                                    });
                                },
                                success: function (data) {
                                    if (data==1){
                                        swal("Su formulario se ha enviado con éxito Muchas gracias");
                                        location.href = "{{ path('wf_tramite_index') }}";
                                    }
                                    else if(data==3 ){
                                        swal("Debe iniciar su trámite como 'Registro Nuevo'");
                                    }else {
                                        swal('Su formulario no se envío correctamente');
                                    }
                                },
                                complete: function () {
                                    swal.stopLoading();
                                    swal.close();
                                }
                            });
                        }
                    });
                break;
        }


    }
    $(document).ready(function(){
            $('#form_nuevo').hide();
            $('#form_regularizacion').hide();
            $('#form_especialidad').hide();
    });

</script>
{% endblock %}