<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div id="no-more-tables">

                <table id="myTable" class="table table-bordered table-hover cf dataTable">

                    <thead class="">
                        <tr class="">
                            <th>No.</th>
                            <th>Turno</th>
                            <th>Nivel</th>
                            <th>Grado</th>
                            <th>Paralelo</th>
                            <th>Proyección Est.</th>
                            <th>Fecha Solicitud</th>
                            <th class="text-center">Acción</th>
                            {# <th >Form</th> #}

                        </tr>
                    </thead>
                    <tbody>
                        {% for ns in areas %}
                            <tr>
                                <td data-title="No.">{{ loop.index }}</td>
                                <td data-title="Turno" >{{ ns.turno }}</td>
                                <td data-title="Nivel">{{ ns.nivel }}</td>
                                <td data-title="Grado">{{ ns.grado }}</td>
                                <td data-title="Paralelo" class="text-center">{{ ns.paralelo }}</td>
                                <td data-title="Paralelo" class="text-center">{{ ns.estudiantes }}</td>
                                <td data-title="Fsolicitud" class="text-center">{{ns.fecha_solicitud}}</td>

                                <td class="text-center">
                                    {# <td class="text-center"> #}
                                        {# <a href="#" class="btn btn-link" id="viewList" > #}
                                        {% if ns.aprobado is null %}
                                            <a href="#" class="btn btn-link" id="viewList" onclick="eliminarSolicitudes({{ns.tccid}})" >
                                                Eliminar
                                            </a>
                                        {% else %}
                                            {% if ns.aprobado == true %}
                                                <button type="button" class="btn btn-success">Aprobado</button>
                                            {% else %}
                                                <button type="button" class="btn btn-danger">Rechazado</button>
                                            {% endif %}    -
                                        {% endif %}
                                    {# </td> #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>



    </div>
</div>
