    {% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <style type="text/css">
        .swal-overlay {
            background-color: rgba(43, 165, 137, 0.45);
        }
    </style>
    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Nueva Solicitud BTH <span>Nueva Solicitud BTH </span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí12312:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={#{{ path('solicitud_bth_index') }}#}>Nueva Solicitud BTH</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">
    {% if estado == 0 %}
        {% set iedu = ieducativa[0] %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Formularios de Solicitudes</h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    {{form_start(form,{'attr':{'id':'formSolicitud'} })}}
                                    <div class="col-md-4 col-md-offset-4">
                                        <h3><strong>Adición y eliminación de especialidades</strong></h3>
                                        {{form_widget(form.solicitud)}}
                                    </div>
                                    {{form_end(form)}}
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="titulo">Formularios </h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row" id="form_adicionar_especialidad" style="display: none" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">1.- Información General</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Código RUE</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Unidad Educativa</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ id_institucion }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ iedu.institucioneducativa }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">2.- Información de la(s) especialidad con las que cuenta su Unidad Educativa</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <div id="listaespecialidades_adicionar">
                                                    <div class="table-responsive mb-20">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th>Especialidad</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for especialidad in objespecialidades_ue %}
                                                                <tr>
                                                                    <td class="text-center">{{loop.index}}</td>
                                                                    <td>{{especialidad.especialidad}} </td>
                                                                </tr>
                                                            {% endfor%}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">3.- Especialidades a adicionar</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <div id="listaespecialidades_adicionar">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <strong>Seleccionar las especialidades para adicionar</strong>
                                                        </div>
                                                        {# <div class="col-md-3">
                                                        </div> #}
                                                        <div class="col-md-6 col-md-offset-2">
                                                            <select data-placeholder="Seleccionar especialidad"  id="select_especialidad" name="select_especialidad[]"  class="chosen-select" multiple="" tabindex="-1" style="display: none;">
                                                                {% for especialidad in objespecialidades %}
                                                                    <option value="{{ especialidad.id }}">{{ especialidad.especialidad }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p><strong> Informe breve de la adici&oacute;n de la(s) especialidades </strong></p>
                                                            <textarea id="textdirector" col="10" style="margin: 0px; width: 800px; height: 122px;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudEspecialidadesbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="form_eliminar_especialidad" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">1.- Información General</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Código RUE</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <strong>Unidad Educativa</strong>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ id_institucion }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ iedu.institucioneducativa }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div><!-- /.panel-body -->
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">2.- Información de la(s) especialidad con las que cuenta su Unidad Educativa</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="row">
                                                <div id="listaespecialidades_adicionar">
                                                    <div class="table-responsive mb-20">
                                                        <table class="table" id="especialidades_eliminar" >
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th>Especialidad</th>
                                                                <th>Eliminar</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for especialidadlista in objespecialidades_ue %}
                                                                <tr style="color: #ff6d00 !important;">
                                                                    <td class="text-center">{{loop.index}}</td>
                                                                    <td class="espe" >{{especialidadlista.especialidad}} </td>
                                                                    <td> <input type="checkbox" class="marcado" id="marca_{{loop.index}}" name="marca_{{loop.index}}" data-id="{{especialidadlista.id}}">
                                                                    </td>
                                                                </tr>
                                                            {% endfor%}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p><strong> Informe breve de la eliminaci&oacute;n de la(s) especialidades </strong></p>
                                                    <textarea id="textdirector" col="10" style="margin: 0px; width: 800px; height: 122px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="enviarSolicitudEspecialidadesbth()"><i class="fa fa-pencil"></i> Enviar Solicitud</button>
                                                    {# <button class="btn btn-sm btn-facebook"  title="Enviar Solicitud" onclick="pruebalupe()"><i class="fa fa-pencil"></i> pruebalupe</button> #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="recargar" tabindex="-1" role="dialog" style=" border-radius: 80px;" >
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    {#<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>#}
                    <div class="modal-body">
                        <h2 align="center"><span id="msg">¡Su formulario fue enviado con éxito!.</span></h2>

                        <div class="alert alert-danger">
                            <strong>Nota.- !</strong> Descargue su comporbante en "Trámites Enviados".
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-facebook" onclick="recargar()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="alert alert-warning ">
                                        <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                                        <div class="notification-info">
                                            {% if estado == 1 %}
                                            <p>
                                                Su Unidad Educativa no es plena.
                                            </p>
                                            {% elseif estado == 2 %}
                                                <p>
                                                    Su Unidad Educativa ya inicio su trámite ó no le corresponde realizar la solicitud para BTH.
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="{{ path('wf_tramite_index') }}" class="btn btn-info">Volver</a>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}
    </div>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script>
        var campos_max  = 10;   //max de 10 campos
        var x = 0;
        $('#nueva_especialidad').click (function(e) {
            e.preventDefault();
            if (x < campos_max) {
                $('#listas_especialidad').append('<div>\
                                <input type="text" name="campo[]">\
                                <a href="#" class="remover_campo"><span class=".text-danger"><strong>(-)</strong></span></a>\
                                <br>\
                                </div>');
                x++;
            }
        });
        // Remover o div anterior
        $('#listas_especialidad').on("click",".remover_campo",function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        });
        $('.marcado').on("change",function(e) {
          console.log($(this).val());
        });

        function enviarSolicitudEspecialidadesbth() {
            var textDirector = $('#textdirector').val();
            /*
            * Funcion que envia la solicitud BTH capturando los valor introducidos
            * en el formulario.*/
            var solicitud=$('#form_solicitud :selected').text();
            switch (solicitud){
                case 'Adicionar Especialidades': //Registro Nuevo
                    swal({
                        title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                        text:  "La información llenada será enviada a la Dirección Distrital." + '\n'+
                        "Puede descargar su formulario como comprobante " +
                        "en : Trámites Enviados" +'\n'+"",
                        icon:  "warning",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["Cancelar", "Continuar"],
                    })
                        .then(function(willDelete)  {
                            if (willDelete) {
                                var institucionid={{ id_institucion }}
                                var idsolicitud=$('#form_solicitud').val();
                                if($('#select_especialidad').val()) {
                                } else {
                                    swal("Debe seleccionar al menos una especialidad.");
                                    return false;
                                }
                                //var ipt=JSON.stringify(ip);
                                var imagen = '{{ asset("img/loading96.gif") }}';
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('tramite_solicitud_especialidades_bth') }}",
                                    data:{ipt: {institucionid : institucionid,select_especialidad : $('#select_especialidad').val()},iddistrito: {{ iddistrito }},institucionid:{{ id_institucion }},idsolicitud:idsolicitud,solicitud:solicitud,idflujotipo:{{ idflujo }},textDirector:textDirector,sw:0},
                                    dataType : 'json',
                                    beforeSend: function () {
                                        swal({
                                            title: "Enviando...",
                                            text: "Espere un momento por favor",
                                            icon: imagen,
                                            buttons: false
                                        });
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        if (data.estado==1){
                                            swal.stopLoading();
                                            swal.close();
                                            $(".modal-backdrop ").css("display", "none");
                                            $('#msg').text(data.msg);
                                            $('#recargar').modal('show');
                                            $(".modal-backdrop ").css("display", "none");

                                        }
                                        else if(data.estado==3 ){
                                            swal("Su trámite ya fue iniciado'");
                                        }else if(data.estado == 4){
                                            swal(data.msg)
                                        }
                                        else {
                                            swal('Su formulario no se envío correctamente debido a alguna de las siguientes razones: \n '   +
                                                '- Su Unidad Educativa ya inicio su trámite como "REGISTRO NUEVO o RATIFICACION.  \n' +
                                                '- Su Unidad Educativa ya se encuentra registrado como BTH.');
                                        }
                                    },
                                    complete: function () {
                                        swal.stopLoading();
                                        swal.close();
                                    }
                                });
                            }
                        });
                    break;
                case 'Eliminar Especialidades'://Eliminar Especialidades
                    swal({
                        title: "¿Está Segura/o de enviar los valores introducidos en el formulario?",
                        text:  "La información llenada será enviada a la Dirección Distrital." + '\n'+
                        "Puede descargar su formulario como comprobante " +
                        "en : Trámites Enviados" +'\n'+"",
                        icon:  "warning",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["Cancelar", "Continuar"],
                    })
                        .then(function(willDelete)  {
                            if (willDelete) {
                                var institucionid={{ id_institucion }}
                                var idsolicitud=$('#form_solicitud').val();
                                var select_especialidad = [];
                                $('#especialidades_eliminar tbody').find("tr").each(function() {
                                    $(this).find('td input').each(function() {
                                        if($(this)[0].checked == true) {
                                            select_especialidad.push($(this).data("id"));
                                        }
                                    });
                                });
                                console.log(select_especialidad);
                                if(select_especialidad.length== 0) {
                                    swal("Debe seleccionar al menos una especialidad.");
                                    return false;
                                }
                                var imagen = '{{ asset("img/loading96.gif") }}';
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('tramite_solicitud_especialidades_bth') }}",
                                    data:{ipt: {institucionid : institucionid,select_especialidad : select_especialidad},iddistrito: {{ iddistrito }},institucionid:{{ id_institucion }},idsolicitud:idsolicitud,solicitud:solicitud,idflujotipo:{{ idflujo }},sw:0},
                                    dataType : 'json',
                                    beforeSend: function () {
                                        swal({
                                            title: "Enviando...",
                                            text: "Espere un momento por favor",
                                            icon: imagen,
                                            buttons: false
                                        });
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        if (data.estado==1){
                                            swal.stopLoading();
                                            swal.close();
                                            $(".modal-backdrop ").css("display", "none");
                                            $('#msg').text(data.msg);
                                            $('#recargar').modal('show');
                                            $(".modal-backdrop ").css("display", "none");
                                        }
                                        else if(data.estado==3 ){
                                            swal("Su trámite ya fue iniciado'");
                                        }else if(data.estado == 4){
                                            swal(data.msg);
                                        }
                                        else {
                                            swal(data.msg);
                                        }
                                    },
                                    complete: function () {
                                        swal.stopLoading();
                                        swal.close();
                                    }
                                });
                            }
                        });
                    break;
            }
        }

        function cargarFormularioSolicitud() {
            var solicitud=$('#form_solicitud :selected').text();
            var idsolicitud=$('#form_solicitud').val();
            switch (true){
                case (solicitud == 'Adicionar Especialidades'):
                        document.getElementById("titulo").innerHTML = "Formulario de <strong><em>Adición de especialidades</em></strong>";
                        $('#form_eliminar_especialidad').hide();
                        $('#form_adicionar_especialidad').show(2000);
                    break;
                case (solicitud == 'Eliminar Especialidades')://Eliminar Especialidades
                    document.getElementById("titulo").innerHTML= "Formulario de <strong><em>Eliminación de especialidades</em></strong>";
                    $('#form_adicionar_especialidad').hide();
                    $('#form_eliminar_especialidad').show(2000);
                    break;
            }
        }
        function validarsolicitud() {
            var solicitud=$('#form_solicitud :selected').text();
            var idsolicitud=$('#form_solicitud').val();
            var imagen = '{{ asset("img/loading96.gif") }}';
            $.ajax({
                type: 'post',
                url: "{{ path('tramite_validar_solicitud_especialidades_bth') }}",
                data:{institucionid:{{ id_institucion }},idsolicitud:idsolicitud,solicitud:solicitud,idflujotipo:{{ idflujo }}},
                dataType : 'json',
                beforeSend: function () {
                    swal({
                        title: "Verificando...",
                        text: "Espere un momento por favor",
                        icon: imagen,
                        buttons: false
                    });
                },
                success: function (data) {
                    if (data.respuesta==0){
                        cargarFormularioSolicitud();
                    }else if(data.respuesta==1)  {
                        swal('Usted ya dio inicio al trámite de adicionar especialidades');
                    }else if(data.respuesta==2){
                        swal('Usted ya dio inicio al trámite de eliminar especialidades');
                    }
                },
                complete: function () {
                    swal.stopLoading();
                    swal.close();
                }
            });
        }
        function recargar() {
            $('#recargar').modal('hide');
            location.href = "{{ path('wf_tramite_index') }}";
        }
        $(document).ready(function(){
            $('#form_adicionar_especialidad').hide();
            $('#form_eliminar_especialidad').hide();
            $('#mensaje').hide();
        });
    </script>
{% endblock %}