{% extends 'layoutHerramienta.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>

        [v-cloak]{
            display: none;
        }
        .readData{
            background-color: lightblue;
            color:  #000;
            opacity: 0.8;
         

        }
		.jupper{
			text-transform: uppercase;
		}

        .seleccionado{
			  color: currentColor;
			  display: inline-block;  /* For IE11/ MS Edge bug */
			  pointer-events: none;
			  text-decoration: none;        	
            background: #111406 !important;
            pointer-events: none;
        }		     
    </style>

{% endblock %}
{% block contentoption %}


<!-- Start page header -->
<div class="header-content">
	<h2><i class="fa fa-table"></i> Registro Evento Ajedrez <span></span></h2>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">Usted esta aquí:</span>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#">Registro Evento Ajedrez</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li class="active"></li>
		</ol>
	</div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- /.row -->
<div id="app" v-cloak>

    <div class="modal fade" id="modalNewInscription" data-backdrop="static">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> </h4>
                </div>
                <div class="modal-body">

				    <div class="panel panel-info">
					    	<div class="panel-heading">
					    	    <h4>${infoUE.modalidadLabel} </br>${infoUE.faseLabel} </br>${infoUE.categorieLabel} </h4>
					    	</div>
					    <div class="panel-body">
					    </div>  
				   </div>


					<form class="form-row" v-if="swRegistryClassi">
						<div class="form-group">
							<label for="rude">Código RUDE: </label>
							<input type="text" v-model="infoUE.codigoRude"  class="form-control" id="exampleInputPassword1" placeholder="RUDE">
						</div>
						<button v-on:click="findStudent(infoUE)" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar para clasificar </button>
					</form>					   


					<div class="table-responsive" v-if="existStudentpre">
						<div class="alert alert-info" role="alert">Resultado de la busqueda</div>    									
                    	<table class="table table-dark" v-if="swRegistryClassi">
                    		<thead>
                    			<tr ><th colspan="5">Resultado de la busqueda</th></tr>
                    		</thead>
							<tbody>
							<tr>
								<th>RUDE</th>
								<th>CI</th>
								<th>Paterno</th>
								<th>Materno</th>
								<th>Nombre(s)</th>
								
							</tr>
							<tr>
								<td>${DBstudentPreCla.codigo_rude}</td>
								<td>${DBstudentPreCla.carnet_identidad}</td>
								<td>${DBstudentPreCla.paterno}</td>
								<td>${DBstudentPreCla.materno}</td>
								<td>${DBstudentPreCla.nombre}</td>
							</tr>
							<tr  >
								<td colspan="5"><button v-on:click="registerClassified(infoUE)" type="button" class="btn btn-success" title="Clasificado" > Registrar </button>	</td>
							</tr>
							</tbody>
						</table>							
					</div>	
					</br>
								<small>
								<div class="table-responsive">
	                            	<table class="table table-dark">
										<tbody>
										<tr>
											
											<th>#</th>
											<th>Cod. RUDE</th>
											<th>CI-COMPL.</th>
											<th>Paterno</th>
											<th>Materno</th>
											<th>Nombre(s)</th>
											<th>option</th>	
										</tr>
										
										<tr v-for="(student,rindex) in DBstudentClasificado">
											<td>${rindex+1}</td>
											<td>${student.codigo_rude }</td>
											<td>${student.carnet_identidad} ${student.complemento}</td>
											<td colspan="3">${student.paterno } ${student.materno } ${student.nombre }</td>
											{#  #}
											<td v-bind:id="student.inscriptionid"><a href="#" v-on:click="removeInscriptionCheesNextLevel( student.eveinscriptionid)"  :class="{disabled: linkDisabled}" v-if="true"> Eliminar </a> </td>
										</tr>

										<tr >
											<th colspan="6" align="left">
											{# <button v-on:click="doInscription()" type="button" class="btn btn-success" title="C"> Inscribir </button>								    		 #}
											</th>
										</tr>
										</tbody>
									</table>
								</div>
								</small>

                </div>
            </div>
        </div>
    </div> 



	{#<div v-if="cortina" class="cortina">
		<i class="fa fa-refresh fa-spin"></i> Procesando... 
	</div>#}
	<div class="body-content animated fadeIn">

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="titulo">Registro Evento Ajedrez</h3>
						<div class="col-md-5">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" :class="{active: opcion == 1}" @click="opcion = 1">
										<a role="tab" data-toggle="tab">Buscar por SIE</a>
									</li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" :class="['tab-pane', {active: opcion == 1}]">

										<form class="form-row">
											<div class="form-group">
												<label for="rude">Código SIE: </label>
												<input type="text" v-model="infoUE.sie"  class="form-control" id="exampleInputPassword1" placeholder="SIE" :readonly="disableElement>0">
											</div>
											<button v-on:click="findUEData()" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Continuar </button>
										</form>																
									</div>
								</div>
							</div>							
						</div>
						<div class="col-md-7">
							<div v-if="buscando" class="text-center">
								<img src="{{asset('img/loading.gif')}}" alt=""> Buscando...
							</div>						
							<div class="table-responsive" v-if="infoUE.existUE">
								<button v-on:click="closeEventChees(infoUE)" type="button" class="btn btn-warning btn-xs" title="cierre"> Cierre Registro Evento Ajedrez </button>
		                        <div class="" v-if="infoUE.swcloseevent" >
									<a v-bind:href="infoUE.urlreporte" ><b> <i class="fa fa-file-pdf-o fa-2x"></i> Descargar Lista Ajedrez</b></a>
		                        </div>								
	                        	<table class="table table-dark">
	                        		<thead>
	                        			<tr ><th colspan="2">Resultado de la busqueda</th></tr>
	                        		</thead>
									<tbody>
									<tr>
										<th >Cod. SIE</th>
										<th>${infoUE.sie}</th>
									</tr>
									<tr>
										<th>Institucion Educativa</th>
										<th>${infoUE.institucioneducativa}</th>
									</tr>									
									{# 
									<tr >
										<th colspan="6" align="left">
										<button v-on:click="mostrarFormulario()" type="button" class="btn btn-success" title="Caso de Homónimo"> Proceder con  el Registro de Datos </button>								    		
										</th>
									</tr> #}
									</tbody>
								</table>								
							</div>

						</div>

						<div class="col-md-12">
						

							{# tabla con los datos encontrados #}
							<div v-if="buscando" class="text-center">
								<img src="{{asset('img/loading.gif')}}" alt=""> Buscando...
							</div>

							<div style="padding: 15px;" v-if='infoUE.existUE'>
								<h4 style="text-align: center;background-color:#4694e8 ;color: white;" >Seleccionar Información para la inscripción</h4>
								<hr>

								<form>								
								  <div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="mod">Modalidad</label>
										<select name="modalidades" id="idmodalidades_p" v-model="infoUE.modalidadId" class="custom-select js-example-basic-multiple form-control" v-on:change="resetAllvalues(infoUE.modalidadId, infoUE.levelId, this.value)">
											<option v-for="item in DBModalidades"  v-text="item.modalidad" :id="item.id" :value="item.id" >${ item.modalidad }</option>       
										</select>								      
								    </div>
								    <div class="form-group col-md-6">
								      <label for="lvel">Nivel</label>
										<select name="modalidades" id="idmodalidades_p" v-model="infoUE.levelId" class="custom-select js-example-basic-multiple form-control" v-on:change="getInfoEvent(infoUE.modalidadId, infoUE.levelId, this.value)">
											<option v-for="item in DBLevel" :id="item.id" :value="item.id" >${ item.level }</option>       
										</select>
								    </div>
								  </div>
								  
								  <div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="fase">Fase</label>
										<select name="arrFase" id="idarrPais_p" v-model="infoUE.faseId" class="custom-select js-example-basic-multiple form-control">
											<option v-for="item in DBFases"  :value="item.id">${ item.descripcion }</option>       
										</select>							      
								    </div>
								    <div class="form-group col-md-6">
								      <label for="Categoría">Categoría</label>
										<select name="arrCategoria" id="idarrPais_p" v-model="infoUE.categorieId" class="custom-select js-example-basic-multiple form-control">
											<option v-for="item in DBCategories"  :value="item.id">${ item.categoria }</option>       
										</select>
								    </div>
								  </div>								  
								  <button v-on:click="dataSelected(infoUE)" type="button" class="btn btn-primary mb-2">Seleccionar</button>
								</form>

  
							</div>
						</div>	
						
						<div class="col-md-6" v-if="existSelectData">
							<div clsas="row">
								<div class="table-responsive">
									<table class="table table-bordered">
									  <thead>
									  	<tr>
									  		<th colspan="3">Seleccionar Estudiantes</th>
									  	</tr>									  
									    <tr>
									      <th>Modalidad</th>
									      <th>Fase</th>
									      <th>Categoria</th>
									      {# <th></th> #}
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>${infoUE.modalidadLabel}</td>
									      <td>${infoUE.faseLabel}</td>
									      <td>
									      	${infoUE.categorieLabel}

									      </td>
									      {# <td><a href="#" v-on:click="startInscription(infoUE)" type="button" class="">Inscribir</a></td> #}
									    </tr>
									    <tr>
									    	<td>Grado</td>
									    	<td>
												<select name="arrGradoallow" id="idgrado_p" v-model="infoUE.gradeId" class=" form-control" v-on:change="getParalelos(infoUE)">
													<option v-for="item in DBInscriptionLevel"  :value="item.id">${ item.grade }</option>       
												</select>									    		
									    	</td>
									    </tr>
									    <tr>
									    	<td>Paralelos</td>
									    	<td>
												<select name="arrParall" id="idparall_p" v-model="infoUE.parallelId" class=" form-control">
													<option v-for="item in DBParallels"  :value="item.paralelo_tipo_id">${ item.paralelo }</option>       
												</select>									    		
									    	</td>
									    	<td>
									    		<button v-on:click="showStudents(infoUE)" type="button" class="btn btn-primary mb-2">Buscar</button>
									    	</td>
									    </tr>
									  </tbody>
									</table>									
								</div>
							</div>

							<div v-if=" existStudent ">
                            	<!-- data new studen  -->
                            	<p class=" bg-primary">&nbsp&nbsp  INFORMACIÓN ESTUDIANTE</p>
								<small>
								<div class="table-responsive">
	                            	<table class="table table-dark">
										<tbody>
										<tr>
											
											<th>#</th>
											<th>Cod. RUDE</th>
											<th>CI-COMPL.</th>
											<th>Paterno</th>
											<th>Materno</th>
											<th>Nombre(s)</th>
											<th>Genero</th>
											<th>option</th>	
										</tr>
										
										<tr v-for="(student,rindex) in DBstudent">
											<td>${rindex+1}</td>
											<td>${student.codigo_rude | uppercase}</td>
											<td>${student.carnet_identidad} ${student.complemento}</td>
											<td colspan="3">${student.paterno | uppercase} ${student.materno | uppercase} ${student.nombre | uppercase}</td>
											<td>${student.genero | uppercase}</td>
											{#  #}
											<td v-bind:id="student.inscriptionid"><a href="#" v-on:click="doInscription(infoUE, student.inscriptionid)"  :class="{disabled: linkDisabled}" v-if="!infoUE.swcloseevent"> Inscribir </a> </td>										
										</tr>

										<tr >
											<th colspan="6" align="left">
												<button v-on:click="doInscription()" type="button" class="btn btn-success" title="C"> Inscribir </button>
											</th>
										</tr>
										</tbody>
									</table>
								</div>
								</small>
                        	</div>



						</div>

						<div class="col-md-6" v-if="existSelectData">

							<div clsas="row">
								<div class="table-responsive">
									<table class="table table-bordered">
									  <thead>
									  	<tr>
									  		<th colspan="2">Inscritos</th>
									  		<th colspan="2">
												<a v-if="infoUE.modalidadId == 1" href="#"  id="btn_registra_clasificados" v-on:click="startInscription(infoUE)" type="button" class="btn btn-success">Registro de clasificados</a>
									  		</th>
									  	</tr>
									    <tr>
									      <th>Modalidad</th>
									      <th>Fase</th>
									      <th>Categoria</th>
									      {# <th></th> #}
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>${infoUE.modalidadLabel}</td>
									      <td>${infoUE.faseLabel}</td>
									      <td>
									      	${infoUE.categorieLabel}

									      </td>
									    </tr>
									  </tbody>
									</table>									
								</div>
								<hr>
								<small>
									<div class="table-responsive">
		                            	<table class="table table-dark" >
											<tbody>
											<tr>
												
												<th>#</th>
												<th>Cod. RUDE</th>
												<th>CI-COMPL.</th>
												<th>Estudiante</th>
												<th>Nivel / Grado / Paralelo</th>
												<th>option</th>	
											</tr>
											<tr v-for="(competitor, index) in DBEveStudents">

												<td>${index+1}</td>
												<td><strong>${competitor.codigo_rude}</strong> </td>
												<td>${competitor.carnet_identidad} ${competitor.complemento}</td>
												<td>
												${competitor.paterno} ${competitor.materno} ${competitor.nombre}
												</td>
												<td>${competitor.nivel} / ${competitor.grado} /<strong>${competitor.paralelo}</strong> </td>
												<th><a href="#" v-on:click="removeInscriptionChees(competitor.eveinscriptionid)" v-bind:id="competitor.eveinscriptionid" :class="{disabled: linkDisabled}" v-if="!infoUE.swcloseevent"> <i class="fa fa-trash"></i> </a> </td>										

											</tr>
											


											<tr >
												<th colspan="6" align="left">
												{# <button v-on:click="doInscription()" type="button" class="btn btn-success" title="C"> Inscribir </button>								    		 #}
												</th>
											</tr>
											</tbody>
										</table>
									</div>	
								</small>							



							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>	

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript">
    // $("#form_idfecnac").inputmask({ "alias": "dd-mm-yyyy", 'placeholder':'dd-mm-aaaa' });
  </script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-the-mask/0.11.1/vue-the-mask.min.js" integrity="sha512-qXurwUG9teY1KFtbBifUHInCiNK/POQqJeFRSoaHg1pHEB1tBUlFKRsfPzm1D6b6ueeQOCKldvXYCtOsPURrcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
<script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>



<script type="text/javascript">

	var app = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: {
			opcion: 1,
			swcloseevent: 0,
			disableElement: '{{disableElement}}',
			infoUE:{
				sie: '{{codsie}}',
				institucioneducativa:'',
				modalidadLabel:'',
				faseLabel:'',
				categorieLabel:'',
				existUE:0,
				swcloseevent:0,
				urlreport:'',
			},
			infoUE2:{
				sie:80730460,
				institucioneducativa:'',
				modalidadLabel:'',
				faseLabel:'',
				categorieLabel:'',
				existUE:0
			},
			DBModalidades: {},
			DBLevel:  {},
			DBFases: {},
			DBCategories: {},
			DBselectedData: {},
			DBstudent: {},
			DBstudentPreCla: {},
			DBstudentClasificado: {},
			DBParallels: {},
			DBInscriptionLevel: {},
			DBEveStudents: {},
			existSelectData:false,
			existStudent:false,
			existStudentpre:false,
			swRegistryClassi:false,
			existParall:false,
			linkDisabled:false,
			/////////////////////////////
			categorias: [
				{'id': 'A', 'description': 'Cat.A'},
				{'id': 'B', 'description': 'Cat.B'},
				{'id': 'C', 'description': 'Cat.C'},
				
			],

			buscando: false,			
			showbuttonPDF:false,
			swCertification:false,
			procesar: false,
			
			
		},
		filters: {
			uppercase: function(v) {
				return v.toUpperCase();
			}
		},	

		components: {
			//vuejsDatepicker
		},

		mounted(){	
			//this.loadData(); 
			//var selector = document.getElementById("fecha_vencimiento");
			//Inputmask("datetime",{ inputFormat: "dd-mm-yyyy", outputFormat: "mm-yyyy-dd", inputEventOnly: true}).mask(selector);              
		
		},

		methods: {
			findUEData:function(){
				this.existSelectData=false;
				this.DBModalidades={};
				this.DBFases={};
				this.DBCategories={};
				this.infoUE.existUE = 0;
				this.buscando=true;
				if (typeof this.infoUE.sie === "undefined") {
					Swal.fire(
						'Atencion !',
						'Debe ingresar el  CÓDIGO SIE',
						'warning'
						);
					this.buscando = false;
					return;
				}				

				axios.post(Routing.generate('cheesevent_findUEData', this.infoUE ))
				.then(response => {
					if (response.status == 200) {
							// console.log(response.data);

							if(response.data.existUE == true){

								this.infoUE.sie = response.data.sie;
								this.infoUE.institucioneducativa = response.data.institucioneducativa;
								this.infoUE.existUE = response.data.existUE;
								this.DBModalidades = response.data.arrModalidades;
								this.DBLevel = response.data.arrLevel;
								this.swcloseevent = response.data.swcloseevent;
								this.infoUE.swcloseevent = this.swcloseevent;
								this.infoUE.urlreporte = response.data.urlreporte;
								console.log(this.DBModalidades);
							}else{
								Swal.fire(
								'Atencion !',
								'CÓDIGO SIE NO EXISTE',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});				

			},
			resetAllvalues: function(modalidadId, levelId, selectModalidad){
				this.existSelectData=false;
				DBLevel = {};
				this.DBFases = {};
				this.DBCategories = {};
			},
			getInfoEvent: function(modalidadId, levelId, selectModalidad){
				// console.log(event.target.value);
				this.existSelectData=false;
				axios.post(Routing.generate('cheesevent_getInfoEvent', this.infoUE ))
				.then(response => {
					if (response.status == 200) {
							// console.log(response.data);

							if(response.data.existUE == true){
								this.DBFases = response.data.arrFases;
								this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'no answer...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});					


			},
			dataSelected: function(selectedData){
				this.existSelectData=false;
				this.existParall = false;
				this.DBParallels={};
				this.existStudent=false;
				this.DBstudent={};				
				this.DBEveStudents={};

				axios.post(Routing.generate('cheesevent_dataSelected', this.infoUE ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existSelectData == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadLabel = response.data.modalidadLabel;
								this.infoUE.faseLabel = response.data.faseLabel;
								this.infoUE.categorieLabel = response.data.categorieLabel;
								this.infoUE.genderRequest = response.data.genderRequest;
								this.DBInscriptionLevel = response.data.arrAllowGrade;
								this.DBEveStudents = response.data.arrEveStudents;
								this.existSelectData = response.data.existSelectData;

								this.swcloseevent = response.data.swcloseevent;
								this.infoUE.swcloseevent = this.swcloseevent;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								/*console.log('jhere');
								if(response.data.arrEveStudents.length > 0 ){
									console.log('ya hay clasificados')
									Swal.fire(
									'Atencion !',
									'YA EXISTE UN CLASIFICADO',
									'warning'
									);

									//this.existSelectData = false
									this.infoUE.modalidadId = 0;

								}*/
								
							}else{
								Swal.fire(
								'Atencion !',
								'no answer...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});					
			},
			startInscription:function(infoUEsend){
				// console.log(infoUEsend);
				console.log('startInscription');
				this.DBstudentPreCla = {};
				this.DBstudentClasificado = {};
				this.infoUE.codigoRude = '';
				this.existStudentpre = false;
				this.swRegistryClassi = false;

				axios.post(Routing.generate('cheesevent_startInscription', infoUEsend ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existStudentClassi == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								// this.infoUE.inscriptionidCla = response.data.arrStudents.estinscid;
								this.DBstudentClasificado = response.data.arrEveStudentsClassified;

								this.existStudentpre = response.data.existStudentpre;
								this.swRegistryClassi = response.data.swRegistryClassi;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								/*console.log('here');
								if(response.data.arrEveStudentsClassified.length() > 0 ){
									conole.log('ya hay clasificados')
									Swal.fire(
									'Atencion !',
									'YA EXISTE UN CLASIFICADO',
									'warning'
									);

									this.existSelectData = false

								}*/


								
							}else{
								Swal.fire(
								'Atencion !',
								'no existe Resultado...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});	



				$('#modalNewInscription').modal('show');
			},
			findStudent:function(infoUEsel){
				this.DBstudentPreCla = {};
				this.existStudentpre = false;
				axios.post(Routing.generate('cheesevent_findStudent', infoUEsel ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existStudentpre == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								this.infoUE.inscriptionidCla = response.data.arrStudents.estinscid;
								this.DBstudentPreCla = response.data.arrStudents;

								this.existStudentpre = response.data.existStudentpre;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'no existe Resultado...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});	
			},
			registerClassified:function(infoUEsel){
				
				// this.loadingpre = false;
				this.swRegistryClassi = false;
				axios.post(Routing.generate('cheesevent_registerClassified', infoUEsel ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existStudentpre == true){
							// console.log(response.data.arrEveStudentsClassified);return;
								// this.DBstudentClasificado = {};
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								this.DBstudentClasificado = response.data.arrEveStudentsClassified;
								this.existStudentpre = response.data.existStudentpre;
								this.swRegistryClassi = response.data.swRegistryClassi;
								// this.infoUE.inscriptionidCla = response.data.arrStudents.estinscid;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'no existe Resultado o registro duplicado...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});	
			},
			getParalelos:function(infoUEAll){
				this.existParall = false;
				this.DBParallels={};
				this.existStudent=false;
				this.DBstudent={};
				axios.post(Routing.generate('cheesevent_getParalelos', infoUEAll ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existParall == true){
								
								// this.DBselectedData = response.data.selectedData;
								// this.infoUE.modalidadId = response.data.modalidadId;
								// this.infoUE.faseId = response.data.faseId;
								// this.infoUE.categorieId = response.data.categorieId;
								// this.infoUE.sie = response.data.sie;
								this.DBParallels = response.data.arrParallels;

								this.existParall = response.data.existParall;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'no answer...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});					

			},
			showStudents:function(infoUEAll){
				this.existStudent=false;
				this.DBstudent={};
				axios.post(Routing.generate('cheesevent_showStudents', infoUEAll ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existStudent == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								this.DBstudent = response.data.arrStudents;

								this.existStudent = response.data.existStudent;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'no answer...',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					console.log(e);
					this.buscando = false;
				});					

			},
			doInscription:function(infoUE, inscriptionid){

                    Swal.fire({
                        title: '¿Realizar el registro??',
                        text: "Se registrará al estudiante seleccionado...",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, registrar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
	                    if (result.value) {

							this.DBEveStudents ={};
							this.infoUE.inscriptionid=inscriptionid;
							$('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('cheesevent_doInscription', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									// this.DBselectedData = response.data.selectedData;
										// console.log(response.data);

										if(response.data.existStudent == true){
											
											// this.DBselectedData = response.data.selectedData;
											this.infoUE.modalidadId = response.data.modalidadId;
											this.infoUE.faseId = response.data.faseId;
											this.infoUE.categorieId = response.data.categorieId;
											this.infoUE.sie = response.data.sie;
											// this.DBstudent = response.data.arrStudents;
											this.DBEveStudents = response.data.arrEveStudents;

											// this.existStudent = response.data.existStudent;

											// this.infoUE2.krlos = 'krlos';
											// this.DBCategories = response.data.arrCategories;
											
										}else{
											Swal.fire(
											'Atencion !',
											'no answer...',
											'warning'
											);
										}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								console.log(e);
								this.buscando = false;
							});		

	                    
	                    }                    
                    });


			},
			removeInscriptionCheesNextLevel:function(inscriptionid){

                    Swal.fire({
                        title: '¿Realizar la eliminación??',
                        text: "Se eliminará al estudiante seleccionado...",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, registrar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
	                    if (result.value) {

							this.infoUE.remoinscriptionid=inscriptionid;
							// $('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('cheesevent_removeInscriptionCheesNextLevel', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									// this.DBselectedData = response.data.selectedData;
										// console.log(response.data);

										if(response.data.existRemoveStudent == true){
											// this.DBEveStudents ={};
											
											// this.DBselectedData = response.data.selectedData;
											this.infoUE.modalidadId = response.data.modalidadId;
											this.infoUE.faseId = response.data.faseId;
											this.infoUE.categorieId = response.data.categorieId;
											this.infoUE.sie = response.data.sie;
											// this.DBstudent = response.data.arrStudents;
											this.DBstudentClasificado = response.data.arrEveStudentsClassified;
											this.swRegistryClassi = response.data.swRegistryClassi;
											// this.DBEveStudents = response.data.arrEveStudents;

											// this.existStudent = response.data.existStudent;

											// this.infoUE2.krlos = 'krlos';
											// this.DBCategories = response.data.arrCategories;
											
										}else{
											Swal.fire(
											'Atencion !',
											'no answer...',
											'warning'
											);
										}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								console.log(e);
								this.buscando = false;
							});		                    	

						}		
					 });



			},			
			removeInscriptionChees:function(inscriptionid){

                    Swal.fire({
                        title: '¿Realizar la eliminación??',
                        text: "Se eliminará al estudiante seleccionado...",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, registrar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
	                    if (result.value) {

							this.infoUE.remoinscriptionid=inscriptionid;
							// $('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('cheesevent_removeInscriptionChees', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									// this.DBselectedData = response.data.selectedData;
										// console.log(response.data);

										if(response.data.existRemoveStudent == true){
											this.DBEveStudents ={};
											
											// this.DBselectedData = response.data.selectedData;
											this.infoUE.modalidadId = response.data.modalidadId;
											this.infoUE.faseId = response.data.faseId;
											this.infoUE.categorieId = response.data.categorieId;
											this.infoUE.sie = response.data.sie;
											// this.DBstudent = response.data.arrStudents;
											this.DBEveStudents = response.data.arrEveStudents;

											// this.existStudent = response.data.existStudent;

											// this.infoUE2.krlos = 'krlos';
											// this.DBCategories = response.data.arrCategories;
											
										}else{
											Swal.fire(
											'Atencion !',
											'no answer...',
											'warning'
											);
										}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								console.log(e);
								this.buscando = false;
							});		                    	

						}		
					 });



			},
			closeEventChees: function(infoUE){
                    Swal.fire({
                        title: '¿Realizar el cierre del Registro?',
                        text: "Si acepta, se deshabilitan las opciones de registro al evento...",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, aceptar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
	                    if (result.value) {

							// this.infoUE.remoinscriptionid=inscriptionid;
							// $('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('cheesevent_closeEventChees', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									// this.DBselectedData = response.data.selectedData;
										// console.log(response.data);

										if(response.data.swcloseevent == true){
											this.DBEveStudents ={};
											this.swcloseevent = response.data.swcloseevent;
											this.infoUE.swcloseevent = this.swcloseevent;
											this.infoUE.urlreporte = response.data.urlreporte;
											
										}else{
											Swal.fire(
											'Atencion !',
											'no answer...',
											'warning'
											);
										}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								console.log(e);
								this.buscando = false;
							});		                    	

						}		
					 });				

			},
			/////////////////////////////////////////////////////////////////////

			
		},
		
	});

	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		$("td").focus();
		$("#fecha_vencimiento").inputmask({ "alias": "dd-mm-yyyy" });
		//$("#idarrPais_p").select2();
	});      

	$(".js-example-basic-multiple").select2({
            tags: "true",
            placeholder: "Seleccione una opción",
            allowClear: true
        });  



</script>
{%endblock%}
