{% extends 'layoutHerramienta.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        .higherWider {
            width:1024px;
            margin-top:100px;
        }
    </style>
{% endblock %}
{% block contentoption %}
       <div class="header-content">
        <h2><i class="fa fa-table"></i> Historial de Inscripción <span>Estudiante</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">RUE</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Búsqueda</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->

   

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notihistory') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-fw fa-warning"></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('goodhistory') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-fw fa-check-circle"></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

<div class="body-content animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="tabs-accordions.html#buscar1">BÚSQUEDA POR CÓDIGO RUDE</a></li>
                    <li><a data-toggle="tab" href="tabs-accordions.html#buscar2">BÚSQUEDA POR CARNET DE IDENTIDAD</a></li>
                </ul>
    
                <div id="myTabContent" class="tab-content">
                    <div id="buscar1" class="tab-pane fade in active">
                        <div class="panel panel-icon panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-search"></i> Búsqueda por Código RUDE
                            </div>
                            <div class="panel-body">
                                {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{form_label(form.codigoRudeHistory)}}
                                            {{form_widget(form.codigoRudeHistory)}}
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <input id="form_tipo" name="form[tipo]" type="hidden" value="0">
                                        <div class="col-md-12">{{form_widget(form.buscar0)}}</div>
                                    </div>
                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                    <div id="buscar2" class="tab-pane fade">
                        <div class="panel panel-icon panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-search"></i> Búsqueda por Carnet de Identidad
                            </div>
                            <div class="panel-body">
                                {{form_start(form1, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{form_label(form1.carnetIdentidad)}}
                                        {{form_widget(form1.carnetIdentidad)}}
                                    </div>
                                    <div class="col-md-4">
                                        {{form_label(form1.complemento)}}
                                        {{form_widget(form1.complemento)}}
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <input id="form_tipo" name="form[tipo]" type="hidden" value="1">
                                    <div class="col-md-12">{{form_widget(form1.buscar1)}}</div>
                                </div>
                                {{form_end(form1)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!--start of result of search history  -->
    {% if sw  %}
        {% include 'SieRegularBundle:NewHistoryInscription:info_estudiante.html.twig' with {'datastudent': datastudent} %}
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-blue">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4>Historial de Inscripción</h4>
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    {% if dataInscriptionR %}
                        {% include 'SieRegularBundle:NewHistoryInscription:historial_regular.html.twig' with {'dataInscription': dataInscriptionR} %}
                    {% endif %}
                    {% if dataInscriptionA %}
                        {% include 'SieRegularBundle:NewHistoryInscription:historial_alternativa.html.twig' with {'dataInscription': dataInscriptionA} %}
                    {% endif %}
                    {% if dataInscriptionE %}
                        {% include 'SieRegularBundle:NewHistoryInscription:historial_especial.html.twig' with {'dataInscription': dataInscriptionE} %}
                    {% endif %}
                    {% if dataInscriptionP %}
                        {% include 'SieRegularBundle:NewHistoryInscription:historial_pnp.html.twig' with {'dataInscription': dataInscriptionP} %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var seeNotaNew = function (inscripcionid, estudianteid, gestion, subsistema) {
            $('#modalNotas').modal('show');
            $.ajax({
                type: 'get',
                url: Routing.generate('note_consultation_parents_sie_nota_new', {'inscripcionid': inscripcionid,'estudianteid': estudianteid, 'gestion': gestion, 'subsistema': subsistema}),
                beforeSend: function () {
                    $("#idNotas").empty();
                    $("#idNotas").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" /></div>');
                },
                success: function (data) {
                    $("#idNotas").empty();
                    $("#idNotas").append(data);
                },
                statusCode: {
                    500: function () {
                        $("#idNotas").html('<div class="text-center text-danger">Ocurrió un error inesperado.</div>');
                    },
                    404: function () {
                        $("#idNotas").html('<div class="text-center text-info">No se encontraron resultados.</div>');
                    }
                }
            });
        };

        var pagoBf = function (inscripcionid) {
            $('#modalBf').modal('show');
            $.ajax({
                type: 'get',
                url: Routing.generate('apoderado_bono_familia_detalle_pago', {'inscripcionid': inscripcionid}),
                beforeSend: function () {
                    $("#idBf").empty();
                    $("#idBf").html('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" /></div>');
                },
                success: function (data) {
                    $("#idBf").empty();
                    $("#idBf").html(data);
                },
                statusCode: {
                    500: function () {
                        $("#idBf").html('<div class="text-center text-danger">Ocurrió un error inesperado.</div>');
                    },
                    404: function () {
                        $("#idBf").html('<div class="text-center text-info">No se encontraron resultados.</div>');
                    }
                }
            });
        };
    </script>
{% endblock %}
