{% extends 'layoutEspecialSie.html.twig' %}

{% block contentoption %}
{% set onlyview = app.session.get('onlyview') %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Información <span>Centro</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('info_especial_open', {'form':{'idInstitucion': data.id,'gestion':data.gestion,'institucioneducativa':data.institucioneducativa,'institucioneducativaTipoId':4,'data':''}})}}">Menu Principal</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div>
    </div>

    <!-- Start body content -->
    <div class="body-content animated fadeIn">
        {% include 'SieEspecialBundle:Principal:infoue.html.twig' with {'titulo': 'Menú Principal', 'gestion': data.gestion,'sie': data.id, 'ieducativa': data.institucioneducativa, 'opcion': 'Acceso a Módulos'} %}
        {% include 'SieEspecialBundle:Principal:onlyview.html.twig'%}

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/unidad-educativa300.jpg')}}" alt="Centro Educativo">
                    <div class="caption text-center">
                        <h4>Centro Educativo</h4>
                        <div class="thumbnail-action">
                            {{form_start(centroform)}}
                                {{form_widget(centroform.next)}}
                            {{form_end(centroform)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/administrativo300.jpg')}}" alt="Administración de Cursos">
                    <div class="caption text-center">
                        <h4>Administración de Cursos</h4>
                        <div class="thumbnail-action">
                            {{form_start(cursosform)}}
                                {{form_widget(cursosform.next)}}
                            {{form_end(cursosform)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/maestros300.jpg')}}" alt="Personal Administrativo">
                    <div class="caption text-center">
                        <h4>Personal Administrativo</h4>
                        <div class="thumbnail-action">
                            {{form_start(personalAdmform)}}
                                {{form_widget(personalAdmform.next)}}
                            {{form_end(personalAdmform)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/estudiantes300.jpg')}}" alt="Personal Docente">
                    <div class="caption text-center">
                        <h4>Personal Docente</h4>
                        <div class="thumbnail-action">
                            {{form_start(infoMaestroform)}}
                                {{form_widget(infoMaestroform.next)}}
                            {{form_end(infoMaestroform)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/administrativo300Alter.jpg')}}" alt="Asignación Areas/Maestros">
                    <div class="caption text-center">
                        <h4>Asignación Areas/Maestros</h4>
                        <div class="thumbnail-action">
                            {{form_start(areasform)}}
                                {{form_widget(areasform.next)}}
                            {{form_end(areasform)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" >
                <div class="thumbnail">
                    <img src="{{asset('img/estudiantes300Alter.jpg')}}" alt="Estudiantes">
                    <div class="caption text-center">
                        <h4>Estudiantes</h4>
                        <div class="thumbnail-action">
                            {{form_start(infotStudentform)}}
                                {{form_widget(infotStudentform.next)}}
                            {{form_end(infotStudentform)}}
                        </div>
                    </div>
                </div>
            </div>

           === {{data.id}}
            
             {% if data.gestion == 2024 %} 
           
               {#

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <img src="{{asset('img/closeOperativo.jpg')}}" alt="Cerrar Operativo Inscripción">
                            <div class="caption text-center">
                                <h4>Cerrar Operativo Inscripción Excepcional</h4>
                                <div class="thumbnail-action">
                                    {{form_start(closeOperativoform, { 'attr':{'id':'formCloseOperativo' }} )}}
                                        {{form_widget(closeOperativoform.next)}}
                                    {{form_end(closeOperativoform)}}
                                </div>
                            </div>
                        </div>
                    </div>
             
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="{{asset('img/closeOperativo.jpg')}}" alt="Cerrar Operativo 1er Trimestre ">
                        <div class="caption text-center">
                            <h4>Cerrar Operativo Notas</h4>
                            <div class="thumbnail-action">
                                {{form_start(closeOperativoNotasform, { 'attr':{'id':'formCloseOperativoNotas' }} )}}
                                    {{form_widget(closeOperativoNotasform.next)}}
                                {{form_end(closeOperativoNotasform)}}
                            </div>
                        </div>
                    </div>
                </div> 
             #}
                {% if data.id == 50640088 or data.id == 80730827 or data.id == 40730602 or data.id == 80720220 or data.id == 72180071 or data.id == 82480049 or data.id == 82470070 or data.id == 62470070 %} 
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="{{asset('img/closeOperativo.jpg')}}" alt="Cerrar Operativo Rudees">
                        <div class="caption text-center">
                            <h4>Cerrar Operativo Rudees</h4>
                             
                            <div class="thumbnail-action">
                                {{form_start(closeOperativoRudeesform, { 'attr':{'id':'formCloseOperativoRudees' }} )}}
                                    {{form_widget(closeOperativoRudeesform.next)}}
                                {{form_end(closeOperativoRudeesform)}}
                            </div>
                          
                        </div>
                    </div>
                </div>
              {% endif %} 
                
               {% endif %} 
                {% if onlyview == false %} 
                
                 
               
               
                {#
                              
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="{{asset('img/closeOperativo.jpg')}}" alt="Cerrar Operativo ">
                        <div class="caption text-center">
                            <h4>Cerrar Operativo Calificaciones</h4>
                            <div class="thumbnail-action">
                                {{form_start(closeOperativoNotasform, { 'attr':{'id':'formCloseOperativoNotas' }} )}}
                                    {{form_widget(closeOperativoNotasform.next)}}
                                {{form_end(closeOperativoNotasform)}}
                            </div>
                        </div>
                    </div>
                </div>  #}
            {% endif %}
            {# Operativo Bono JP
             
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/operativo-salud300.jpg')}}" alt="Operativo Salud">
                    <div class="caption text-center">
                        <h4>Operativo salud</h4>
                        <div class="thumbnail-action">
                            {{form_start(operativoSaludform)}}
                                {{form_widget(operativoSaludform.next)}}
                            {{form_end(operativoSaludform)}}
                        </div>
                    </div>
                </div>
            </div>
            #}
             {# Operativo Bono JP 

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('images/juancito.jpg')}}" alt="Operativo Bono Juancito Pinto">
                    <div class="caption text-center">
                        <h4>Operativo Bono JP</h4>
                        <div class="thumbnail-action">
                            {% if operativoBonoJP %}
                                <a href="{{path('operativo_bono_jp_ddjj',{sie:data.id,gestion:data.gestion})}}" target="_blank" class="btn btn-success btn-md btn-block">Descargar DDJJ</a>
                            {% else %}
                                {{form_start(operativoBonoJPform, { 'attr':{'id':'formCerrarBonoJs' }} )}}
                                    {{form_widget(operativoBonoJPform.next)}}
                                {{form_end(operativoBonoJPform)}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
            #}

        <input type="hidden" name="op" id="op" value="{{operativo}}">
        </div>
        <div class="row">
            <div id="answerClose" style="overflow: scroll; width: 100%; height:300px" class="col-lg-3 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{parent()}}
    <script>
        var closeOperativo = function(){
            
            if(confirm('¿Está segura/o de cerrar el operativo?')){
                formData = $('#formCloseOperativo').serialize();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('info_especial_close_operativo'),
                    data: formData,
                    beforeSend: function () {
                        $("#answerClose").empty();
                        $("#answerClose").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:70px;" /></div>');
                    },
                    success: function (data) {
                        $("#answerClose").empty();
                        $("#answerClose").append(data);
                        //location.reload(true);
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
                });
            }else{
                return false;
            }
        };
        var closeOperativoRudees = function(){
            
            if(confirm('¿Está segura/o de cerrar el operativo?')){
                formData = $('#formCloseOperativo').serialize();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('info_especial_close_operativo_rudees'),
                    data: formData,
                    beforeSend: function () {
                        $("#answerClose").empty();
                        $("#answerClose").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:70px;" /></div>');
                    },
                    success: function (data) {
                        $("#answerClose").empty();
                        $("#answerClose").append(data);
                        //location.reload(true);
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
                });
            }else{
                return false;
            }
        };
        var closeOperativoNotas = function(){
            
            if(confirm('¿Está segura/o de cerrar el operativo?')){
                formData = $('#formCloseOperativo').serialize();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('info_especial_close_operativo_notas'),
                    data: formData,
                    beforeSend: function () {
                        $("#answerClose").empty();
                        $("#answerClose").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:70px;" /></div>');
                    },
                    success: function (data) {
                        $("#answerClose").empty();
                        $("#answerClose").append(data);
                        //location.reload(true);
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
                });
            }else{
                return false;
            }
        };



        $('#formCerrarBonoJs').on('submit',function (e)
        {
            e.preventDefault();
            closeOperativoBonoJS();
        });
        var closeOperativoBonoJS = function(){
            if(confirm('¿Está segura/o de cerrar el operativo Bono Juancito Pinto?')){
                formData = $('#formCerrarBonoJs').serialize();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('operativo_bono_jp_cerrar'),
                    data: formData,
                    beforeSend: function () {
                        $("#answerClose").empty();
                        $("#answerClose").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:70px;" /></div>');
                    },
                    success: function (data)
                    {
                        var res= data;
                        var status = res.status;
                        var msj = res.msj;
                        var urlReporte = res.urlReporte;
                        var observacionesBonpJP = res.observacionesBonpJP;
                        var contenedor = $('#formCerrarBonoJs');
                        if(status==200)
                        {
                            if(observacionesBonpJP && observacionesBonpJP.length>0)
                            {
                                $("#answerClose").empty();
                                var obs ='<ol class="list-group"><li class="list-group-item" style="background-color:#63D3E9;color:white"><h4>'+observacionesBonpJP.length+' Inconsistencias / Observaciones</h4></li>';
                                for (var i in observacionesBonpJP)
                                {
                                    obs+='<li class="list-group-item list-group-item-danger">'+observacionesBonpJP[i].observacion+'</li>';
                                }
                                obs+='</ol>';
                                $("#answerClose").html(obs);
                            }
                            else
                            {
                                $("#answerClose").empty();
                                var aHref='<a href="'+urlReporte+'" target="_blank" class="btn btn-success btn-md btn-block">Descargar DDJJ</a>';
                                if(typeof(contenedor)!='undefined')
                                {
                                    $('#formCerrarBonoJs').html('');
                                    $('#formCerrarBonoJs').html(aHref);
                                }
                            }
                        }
                        else
                        {
                            alert('Ocurrio un error por favor vuelva a intentarlo.');
                        }
                    },
                    statusCode: {
                        500: function () {
                            alert('Acaba de ocurrir un error de servidor.');
                        },
                        404: function () {
                            alert('Ocurrio un error por favor vuelva a intentarlo.');
                        }
                    }
                });
            } else{ 
                return false;
            }
        };

        </script>
{%endblock%}
