{% extends 'layoutUniversity.html.twig' %}
{## % extends 'layoutRegular.html.twig' % ##}
{% block contentBread %}
    <i class="fa fa-angle-right"></i>
    <a href="#">
        Sedes
            
    </a>
{% endblock %}
{% block contentoption %}
    <style>
        .formatyears {
            width:200px;
            padding:16px;
            border-radius:10px;
            margin:auto;
            background-color:#e5e7e9;
            }
        .formatyearsform {            
            padding:16px;
            border-radius:10px;
            margin:auto;
            background-color:#e5e7e9;
            }
        .formatallstaff{
            width:100%;
            padding:16px;
            border-radius:10px;
            margin:auto;
            background-color:#e5e7e9;
            }
        </style>
        <!-- Start page header -->
        <link rel="stylesheet" href="{{asset('css/kcssformat.css')}}">
    <div class="header-content fixed-top">
        <h2>
            <i class="fa fa-home"></i>
            {% if titulo is defined %}
                {{ titulo }}
            {% endif %}
            <span>
                {% if subtitulo is defined %}
                    {{ subtitulo }}
                {% endif %}
            </span>
        </h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">
                Usted esta aquí:
                            
            </span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('sie_university_homepage') }}">
                        Inicio
                                            
                    </a>
                </li>
            </ol>
        </div>
    <!-- /.breadcrumb-wrapper -->
    </div>
    <!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">

        
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="mt-0 text-primary">
                        <strong>
                            {{ central.universidad }}
                        </strong>
                    </h3>
                    <h4 class="mt-0 text-info">
                        {{ central.abreviacion }}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-primary">

                                <div class="panel-heading yearOld">
                                    <h3 class="panel-title"> <i class="fa fa-file"></i> CARRERA: {{ entity.carrera }} - {{ entity.getUnivNivelAcademicoTipo.getDescripcion()}}</h3>
                                </div>

                                
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-3">

                                            <div class="table-responsive mb-20">
                                            
                                                <div class="alert alert-info">
                                                    <strong>OPERATIVOS DISPONIBLES</strong>
                                                </div>
                                                <div class="formatyears">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th>Gestión</th>
                                                            
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for  entity in gestiones %}
                                                        <tr>                                                            
                                                            <td class="text-center"></td>
                                                           
                                                            <td> 
                                                               
                                                                <a href="{{ path('carreras_info',  {'carrera_id':100, 'gestion' :  entity.gestion_tipo_id}) }}"  data-toggle="tooltip" data-placement="top" data-original-title="Ver Estadisticas" >{{ entity.gestion_tipo_id }}</a>
                                                            </td>

                                                            
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                    
                                        </div>

                                        <div class="col-md-9">

                                            {##<div class="alert alert-info">
                                                <strong>REGISTRO DE ESTUDIANTES POR GENERO EN LA GESTION Y PERIODO</strong>
                                            </div>##}

                                            <div class="alert alert-info fa-2xs">
                                                <span class="alert-icon"><i class="fa fa-user"></i></span>
                                                <div class="notification-info">
                                                    <ul class="clearfix notification-meta">
                                                        <li class="pull-left notification-sender"><span><a href="#"><strong>REGISTRO DE ESTUDIANTES POR GENERO EN LA GESTION Y PERIODO</strong></a></span></li>
                                                        <li class="pull-right notification-sender" id="label_gestion_est"><strong>{{ gestion_id }}</strong></li>
                                                    </ul>                                                    
                                                </div>
                                            </div>

                                          
                                            <div class="formatallstaff">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th rowspan="2">TIPO MATRICULA</th>
                                                    <th colspan="3">1er. Periodo</th>

                                                    {% if data.periodos == 2 %}
                                                        <th colspan="3">2do. Periodo</th>
                                                    {% endif %}
                                                   
                                                    <th >Acciones</th>
                                                </tr>
                                                <tr>
                                                    <th>M</th>
                                                    <th>F</th>
                                                    <th>Total</th>
                                                    {% if data.periodos == 2 %}
                                                        <th>M</th>
                                                        <th>F</th>
                                                        <th>Total</th>
                                                    {% endif %}
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, entity in data.array_estudiantes %}
                                                <tr>
                                                    <td> {{ entity.matricula }}</td>

                                                    <td class="success" id="af{{ key + 1 }}c1">{{ entity.m1 }}</td>
                                                    <td class="success" id="af{{ key + 1 }}c2">{{ entity.f1 }}</td>
                                                    <td class="success" id="af{{ key + 1 }}c3">{{ entity.total1 }}</td>

                                                    {% if data.periodos == 2 %}

                                                        <td class="success" id="af{{ key + 1 }}c4">{{ entity.m2 }}</td>
                                                        <td class="success" id="af{{ key + 1 }}c5">{{ entity.f2 }}</td>
                                                        <td class="success" id="af{{ key + 1 }}c6">{{ entity.total2 }}</td>

                                                    {% endif %}
                                                    <td>
                                                        {% if entity.id != 0 %}
                                                            <button class="btn btn-info"
                                                                onclick="updateEstudiantes('{{ entity.id }}', 'af{{ key + 1 }}');">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                    {## 
                                                    <td>
                                                        <a href="#" style="border-radius: 10px;" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                    </td>
                                                    ##}
                                                </tr>
                                                {% endfor %}
                                               
                                                </tbody>
                                                
                                                {## <tfoot>
                                                    <tr>
                                                        <th>TOTALES</th>
                                                        <th>120</th>
                                                        <th>50</th>
                                                        <th>170</th>
                                                        
                                                    </tr>
                                                </tfoot>
                                                ##}
                                                
                                            </table>
                                            </div>

                                            <hr>

                                            <div class="alert alert-success fa-2xs">
                                                <span class="alert-icon"><i class="fa fa-users"></i></span>
                                                <div class="notification-info">
                                                    <ul class="clearfix notification-meta">
                                                        <li class="pull-left notification-sender"><span><a href="#"><strong>REGISTRO DE DOCENTES POR GENERO EN LA
                                                                        GESTION Y PERIODO</strong></a></span></li>
                                                        <li class="pull-right notification-sender" id="label_gestion_est"><strong>{{ gestion_id }}</strong></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="formatallstaff">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2">TIPO CARGO</th>
                                                            <th colspan="3">1er. Periodo</th>
                                            
                                                            {% if data.periodos == 2 %}
                                                            <th colspan="3">2do. Periodo</th>
                                                            {% endif %}
                                            
                                                            <th>Acciones</th>
                                                        </tr>
                                                        <tr>
                                                            <th>M</th>
                                                            <th>F</th>
                                                            <th>Total</th>
                                                            {% if data.periodos == 2 %}
                                                            <th>M</th>
                                                            <th>F</th>
                                                            <th>Total</th>
                                                            {% endif %}
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key, entity in data.array_cargos %}
                                                        <tr>
                                                            <td> {{ entity.matricula }}</td>
                                            
                                                            <td class="success" id="bf{{ key + 1 }}c1">{{ entity.m1 }}</td>
                                                            <td class="success" id="bf{{ key + 1 }}c2">{{ entity.f1 }}</td>
                                                            <td class="success" id="bf{{ key + 1 }}c3">{{ entity.total1 }}</td>
                                            
                                                            {% if data.periodos == 2 %}
                                            
                                                            <td class="success" id="bf{{ key + 1 }}c4">{{ entity.m2 }}</td>
                                                            <td class="success" id="bf{{ key + 1 }}c5">{{ entity.f2 }}</td>
                                                            <td class="success" id="bf{{ key + 1 }}c6">{{ entity.total2 }}</td>
                                            
                                                            {% endif %}
                                                            <td>
                                                                {% if entity.id != 0 %}
                                                                <button class="btn btn-info" onclick="updateCargos('{{ entity.id }}', 'bf{{ key + 1 }}');">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                {% endif %}
                                                            </td>
                                                            {##
                                                            <td>
                                                                <a href="#" style="border-radius: 10px;" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                                                    data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                            </td>
                                                            ##}
                                                        </tr>
                                                        {% endfor %}
                                            
                                                    </tbody>
                                            
                                                    {## <tfoot>
                                                        <tr>
                                                            <th>TOTALES</th>
                                                            <th>120</th>
                                                            <th>50</th>
                                                            <th>170</th>
                                            
                                                        </tr>
                                                    </tfoot>
                                                    ##}
                                            
                                                </table>
                                            </div>

                                            <hr>

                                            <div class="alert alert-warning fa-2xs">
                                                <span class="alert-icon"><i class="fa fa-file"></i></span>
                                                <div class="notification-info">
                                                    <ul class="clearfix notification-meta">
                                                        <li class="pull-left notification-sender"><span><a href="#"><strong>REGISTRO DE MATRICULADOS POR GENERO EN LA
                                                                        GESTION Y PERIODO</strong></a></span></li>
                                                        <li class="pull-right notification-sender" id="label_gestion_est"><strong>{{ gestion_id }}</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div class="formatallstaff">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2">TIPO MATRICULA</th>
                                                            <th colspan="3">1er. Periodo</th>
                                            
                                                            {% if data.periodos == 2 %}
                                                            <th colspan="3">2do. Periodo</th>
                                                            {% endif %}
                                            
                                                            <th>Acciones</th>
                                                        </tr>
                                                        <tr>
                                                            <th>M</th>
                                                            <th>F</th>
                                                            <th>Total</th>
                                                            {% if data.periodos == 2 %}
                                                            <th>M</th>
                                                            <th>F</th>
                                                            <th>Total</th>
                                                            {% endif %}
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key, entity in data.array_tipo_matricula %}
                                                        <tr>
                                                            <td> {{ entity.matricula }}</td>
                                            
                                                            <td class="success" id="cf{{ key + 1 }}c1">{{ entity.m1 }}</td>
                                                            <td class="success" id="cf{{ key + 1 }}c2">{{ entity.f1 }}</td>
                                                            <td class="success" id="cf{{ key + 1 }}c3">{{ entity.total1 }}</td>
                                            
                                                            {% if data.periodos == 2 %}
                                            
                                                            <td class="success" id="cf{{ key + 1 }}c4">{{ entity.m2 }}</td>
                                                            <td class="success" id="cf{{ key + 1 }}c5">{{ entity.f2 }}</td>
                                                            <td class="success" id="cf{{ key + 1 }}c6">{{ entity.total2 }}</td>
                                            
                                                            {% endif %}
                                                            <td>
                                                                {% if entity.id != 0 %}
                                                                <button class="btn btn-info" onclick="updateMatriculaTipo('{{ entity.id }}', 'cf{{ key + 1 }}');">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                {% endif %}
                                                            </td>
                                                            {##
                                                            <td>
                                                                <a href="#" style="border-radius: 10px;" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                                                    data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                            </td>
                                                            ##}
                                                        </tr>
                                                        {% endfor %}
                                            
                                                    </tbody>
                                            
                                                    {## <tfoot>
                                                        <tr>
                                                            <th>TOTALES</th>
                                                            <th>120</th>
                                                            <th>50</th>
                                                            <th>170</th>
                                            
                                                        </tr>
                                                    </tfoot>
                                                    ##}
                                            
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                    <br><br>

                                    <div class="row">

                                    <div class="col-md-3">

                                      
                                    </div>

                                    
                                </div>
                                   
                                </div>
                            <!-- /.panel-body -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading yearOld">
                                    <h3 class="panel-title"> <i class="fa fa-file"></i> Panel Info</h3>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div style=" text-align: center;">
                                        <i class="fa fa-institution fa-lg"></i>
                                    </div>

                                    <h3>{{ central.universidad }}</h3>
                                    <h4> Sede: La Paz </h4>
                                    <hr>
                                                                                                        
                                </div>
                            <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

    
    </div>

   
    <div id="modal-estudiante" class="modal modal-success fade bs-example-modal-lg" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!--div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">REGISTRO DE ESTUDIANTES</h4>
                    </div-->
                <div class="modal-body">
                    <div class="alert alert-info">
                        <strong>MODIFICAR DATOS DE ESTUDIANTES</strong>
                    </div>
    
                    <form action="project-issue-tracker.html#" class="formatyearsform">
                        <div >

                            <input type="hidden" id="registro_id" name="registro_id" value="">
                            <input type="hidden" id="fila" name="fila" value="">
    
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="fecha_apertura">Género</label>
                                    <select name="genero_id" id="genero_id"
                                        class="">
                                        {% for c in generos %}
                                        <option value="{{ c.id }}">{{c.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
    
                            <br>
    
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="nivel">Periodo Académico</label>
                                    <select name="periodo_id" id="periodo_id"
                                        class="">
                                        {% for c in periodos %}
                                        <option value="{{ c.id }}">{{c.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
    
                            <br>   
    
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="nivel">Cantidad de Estudiantes</label>
                                    <input type="text" class="form-control" id="cantidad" placeholder="" maxlength="5">
                                </div>
                            </div>
    
                            <br>
    
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-theme" onclick="updateInfo();">Grabar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="modal-cargos" class="modal modal-success fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!--div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">REGISTRO DE ESTUDIANTES</h4>
                </div-->
                <div class="modal-body">
                    <div class="alert alert-info">
                        <strong>REGISTRAR DATOS DE DOCENTES</strong>
                    </div>

                    <form action="project-issue-tracker.html#" class="formatyearsform">
                        <div class="form-body no-padding">

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="fecha_apertura">Género</label>
                                <select name="arrNivel" id="genero_id2" >
                                {% for c in generos %}
                                    <option value="{{ c.id }}" >{{c.descripcion}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="nivel">Periodo Académico</label>                                  
                                <select name="arrNivel" id="periodo_id2" >
                                {% for c in periodos %}
                                    <option value="{{ c.id }}" >{{c.descripcion}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="fecha_apertura">Tipo Cargo</label>
                                <select name="arrNivel" id="nivel" >
                                {% for c in cargos %}
                                    <option value="{{ c.id }}" >{{c.cargo}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="nivel">Cantidad</label>                                  
                                <input type="text" class="form-control" id="cantidad2" placeholder=""  maxlength="5" >
                            </div>
                        </div>
                        
                        <br>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-theme" onclick="updateInfo2();">Grabar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="modal-matriculas" class="modal modal-success fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!--div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">REGISTRO DE ESTUDIANTES</h4>
                </div-->
                <div class="modal-body">
                    <div class="alert alert-info">
                        <strong>REGISTRAR DATOS TIPO DE MATRICULA</strong>
                    </div>

                    <form action="project-issue-tracker.html#" class="formatyearsform">
                        <div class="form-body no-padding">

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="fecha_apertura">Género</label>
                                <select name="arrNivel" id="genero_id2" >
                                {% for c in generos %}
                                    <option value="{{ c.id }}" >{{c.descripcion}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="nivel">Periodo Académico</label>                                  
                                <select name="arrNivel" id="periodo_id2" >
                                {% for c in periodos %}
                                    <option value="{{ c.id }}" >{{c.descripcion}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="fecha_apertura">Tipo Matriculas</label>
                                <select name="arrNivel" id="nivel" >
                                {% for c in matriculasestado %}
                                    <option value="{{ c.id }}" >{{c.estadomatricula}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="nivel">Cantidad</label>                                  
                                <input type="numeric" class="form-control" id="cantidad2" placeholder=""  maxlength="5" >
                            </div>
                        </div>
                        
                        <br>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-theme" onclick="updateInfo2();">Grabar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

   

</div>
</div>

    <!-- /.row -->

      
   
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

    var ingresoSede = function (sede){
        var formSede = $('#form_sede');
        var formulario = $('#form')[0];
        formSede.val(sede);
        formulario.submit();        
        return true;
    };

    function updateEstudiantes(id, fila) {
        console.log(id, fila);

        document.getElementById("registro_id").setAttribute('value', id);
        document.getElementById("fila").setAttribute('value', fila);
        /*
        document.getElementById("registro_id").value = id;
        document.getElementById("fila").value = fila;*/

        $("#modal-estudiante").modal('show');
    }

    function updateCargos(id, fila) {
        console.log(id, fila);

        document.getElementById("registro_id").setAttribute('value', id);
        document.getElementById("fila").setAttribute('value', fila);
        /*
        document.getElementById("registro_id").value = id;
        document.getElementById("fila").value = fila;*/

        $("#modal-cargos").modal('show');
    }

    function updateMatriculaTipo(id, fila) {
        console.log(id, fila);

        document.getElementById("registro_id").setAttribute('value', id);
        document.getElementById("fila").setAttribute('value', fila);
        /*
        document.getElementById("registro_id").value = id;
        document.getElementById("fila").value = fila;*/

        $("#modal-matriculas").modal('show');
    }


    function updateInfo() {

        if (confirm('Registrar Estadisticas ?')) {

            var col = document.getElementById("genero_id");
            var columna = col.value;
            console.log('columna:',columna);

            var per = document.getElementById("periodo_id");
            var periodo = per.value;
            console.log('periodo:',periodo);

            valor = document.getElementById("cantidad").value;
            console.log('valor:',valor);

            row_id = document.getElementById('registro_id').value;
            fila = document.getElementById('fila').value;
            console.log('fila:',fila);

            if (periodo === '1') {
                if (columna === '1') { document.getElementById( fila +'c1').innerHTML = valor; }
                if (columna === '2') { document.getElementById( fila +'c2').innerHTML = valor; }
                document.getElementById( fila +'c3').innerHTML = parseInt(document.getElementById(fila +'c1').innerText) + parseInt(document.getElementById(fila +'c2').innerText);
            } else {
                if (columna === '1') { document.getElementById( fila +'c4').innerHTML = valor; }
                if (columna === '2') { document.getElementById( fila +'c5').innerHTML = valor; }
                document.getElementById( fila +'c6').innerHTML = parseInt(document.getElementById(fila +'c3').innerText) + parseInt(document.getElementById(fila +'c4').innerText);
            }

            $('#modal-estudiante').modal('hide');

        }

    }

    function updateInfoBefore() {
       
      
        if (confirm('Registrar Estadisticas ?')) {

            /*$.ajax({
                type: 'post',
                url: Routing.generate('carrera_delete', {'id': id}),  
                success: function (data) {
                    console.log('deleted !');
                },
                error: function () {

                }
            });*/

            fila = 4;

            var col = document.getElementById("genero_id");
            var columna = col.value;
            console.log(columna);

            var per = document.getElementById("periodo_id");
            var periodo = per.value;
            console.log(periodo);

            valor = document.getElementById("cantidad").value;
            console.log(valor);

            if(periodo === '1'){
                if(columna === '1') {  document.getElementById('f4c1').innerHTML = valor; }
                if(columna === '2') {  document.getElementById('f4c2').innerHTML = valor; }           
                document.getElementById('f4c3').innerHTML = parseInt(document.getElementById ( "f4c1" ).innerText) + parseInt(document.getElementById ( "f4c2" ).innerText);
            }else {
                if(columna === '1') {  document.getElementById('f4c4').innerHTML = valor; }
                if(columna === '2') {  document.getElementById('f4c5').innerHTML = valor; }           
                document.getElementById('f4c6').innerHTML = parseInt(document.getElementById ( "f4c3" ).innerText) + parseInt(document.getElementById ( "f4c4" ).innerText);
            }

            $('#modal-assign').modal('hide');

           



        }

        return false;
    }

    function loadData(gestion)
    {
        
        console.log('gestion: ', gestion);


        
        /*for(fila=1; fila<=4; fila++)
        {            
            //fila = 4;
            //console.log(fila);
            document.getElementById('f' + fila + 'c1').innerHTML = getRandomValue();
            document.getElementById('f' + fila + 'c2').innerHTML = getRandomValue();
            document.getElementById('f' + fila + 'c3').innerHTML = parseInt(document.getElementById ('f' + fila + 'c1' ).innerText) + parseInt(document.getElementById ( 'f' + fila + 'c2' ).innerText);

            document.getElementById('f' + fila + 'c4').innerHTML = getRandomValue();
            document.getElementById('f' + fila + 'c5').innerHTML = getRandomValue();
            document.getElementById('f' + fila + 'c6').innerHTML = parseInt(document.getElementById ( 'f' + fila + 'c3' ).innerText) + parseInt(document.getElementById ( 'f' + fila + 'c4' ).innerText);
        }*/

        document.getElementById('label_gestion_est').innerHTML  = '<strong>Gestion: ' + gestion + '</strong>';
        //document.getElementById('label_gestion_doc').innerHTML  ='<strong>Gestion: ' + gestion + '</strong>';

    }

    function getRandomValue()
    {
        return Math.floor(Math.random() * 101);
    }


    </script>
{% endblock %}
    