{% extends 'layoutRegular.html.twig' %}

{% block stylesheets %}
{{parent()}}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <style>
    	#lienzoMapa {
			top: 0;
			bottom: 0;
			width: 100%;
			height: 540px;
		}
		.marker {
			background-image: url("{{asset('images/mapbox-icon.png')}}");
			background-size: cover;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
		}
		.mapboxgl-popup {
			max-width: 200px;
		}  
		.mapboxgl-popup-content {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
		}		  
    </style>
{% endblock %}

{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>SISTEMA DE INFORMACIÓN EDUCATIVA
                    <small>(SIE)</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{ path('estudianteinformacion') }}">Buscar Estudiante</a></li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="well well-lg text-dark-blue">
                <h4>MÓDULO DE CONSULTA AL SISTEMA DE INFORMACIÓN EDUCATIVA</h4>
                <h5>INFORMACIÓN DE LA O EL ESTUDIANTE</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <div class="row">
                    <div class="col-lg-4">
                        <span class="text-dark-blue">CÓDIGO SIE DE LA UNIDAD EDUCATIVA:</span> <span class="text-green">{{ sie }}</span>
                    </div>
                    <div class="col-lg-4">
                        <span class="text-dark-blue">CÓDIGO RUDE DE LA O EL ESTUDIANTE:</span> <span class="text-green">{{ rude }}</span>
                    </div>
                    <div class="col-lg-4">
                        <span class="text-dark-blue">GESTIÓN:</span> <span class="text-green">{{ gestion }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well well-lg">

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="tabs-accordions.html#home">I. DATOS DE INSCRIPCIÓN (GESTIÓN {{ gestion }})</a></li>
                    <li><a data-toggle="tab" href="tabs-accordions.html#datosestudiante">II. DATOS DE LA O EL ESTUDIANTE</a></li>
                    <li><a data-toggle="tab" href="tabs-accordions.html#padremadre">III. DATOS DEL PADRE, MADRE O TUTOR</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>I. DATOS DE INSCRIPCIÓN (GESTIÓN {{ gestion }})</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <td class="text-blue col-lg-4">1.1. CÓDIGO SIE DE LA UNIDAD EDUCATIVA</td>
                                            <td><strong>{{ institucion.ieducativaId}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.2. NOMBRE DE LA UNIDAD EDUCATIVA</td>
                                            <td><strong>{{ institucion.ieducativa}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.3. DEPENDENCIA DE LA UNIDAD EDUCATIVA</td>
                                            <td><strong>{{ institucion.dependencia }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.4. DISTRITO EDUCATIVO</td>
                                            <td><strong>{{ institucion.distritoId }} - {{ institucion.distrito }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.5. NIVEL Y AÑO/GRADO ESCOLAR DE LA O EL ESTUDIANTE</td>
                                            <td class="col-lg-8"><strong>{{ inscription.nivel }} - {{ inscription.grado }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.6. PARALELO</td>
                                            <td><strong>{{ inscription.paralelo }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">1.7. TURNO</td>
                                            <td><strong>{{ inscription.turno }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue" colspan="2">1.8. UBICACIÓN GEOGRÁFICA DE LA UNIDAD EDUCATIVA:</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% if (institucion.cordx and institucion.cordy) %}
                                                    <div id="lienzoMapa"></div>
                                                {% else %}
                                                <div class="text-center"><span class="label label-danger">No se cuenta con coordenadas para mostrar la localización geográfica de la U.E.</span></div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="datosestudiante" class="tab-pane fade">
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>II. DATOS DE LA O EL ESTUDIANTE</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <td class="text-blue col-lg-4">2.1. APELLIDO(S) Y NOMBRE(S)</td>
                                            <td class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-4">Apellido Paterno:</div>
                                                    <div class="col-lg-8"><strong>{{ student.paterno }}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">Apellido Materno:</div>
                                                    <div class="col-lg-8"><strong>{{ student.materno }}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">Nombre(s):</div>
                                                    <div class="col-lg-8"><strong>{{ student.nombre }}</strong></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.2. LUGAR DE NACIMIENTO</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Pais:</div>
                                                    <div class="col-lg-8"><strong>{{ student.paisTipo }}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">Departamento:</div>
                                                    <div class="col-lg-8"><strong>{{ student.lugarNacTipo }}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">Provincia:</div>
                                                    <div class="col-lg-8"><strong>{{ student.lugarProvNacTipo }}</strong></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">Localidad:</div>
                                                    <div class="col-lg-8"><strong>{{ student.localidadNac }}</strong></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.3. CÓDIGO ESTUDIANTIL RUDE</td>
                                            <td class="text-green"><strong>{{ student.codigoRude}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.4. DOCUMENTO DE IDENTIFICACIÓN</td>
                                            <td>{% if(student.carnetIdentidad) %}{{ student.carnetIdentidad }}{% elseif(student.pasaporte) %}{{ student.pasaporte }}{% else %}<span class="label label-danger">No cuenta con identificación</span>{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.5. FECHA DE NACIMIENTO</td>
                                            <td>{{ student.fechaNacimiento|date('d-m-Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.6. GÉNERO</td>
                                            <td>{{ student.generoTipo }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.7. CERTIFICADO DE NACIMIENTO</td>
                                            <td>
                                                {% if(student) %}
                                                    <div class="row">
                                                        <div class="col-lg-4">Oficialia:</div>
                                                        <div class="col-lg-8"><strong>{{ student.oficialia }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Libro:</div>
                                                        <div class="col-lg-8"><strong>{{ student.libro }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Partida:</div>
                                                        <div class="col-lg-8"><strong>{{ student.partida }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Folio:</div>
                                                        <div class="col-lg-8"><strong>{{ student.folio }}</strong></div>
                                                    </div>
                                                {% else %}
                                                    <div><span class="label label-danger">No se cuenta con información del certificado de nacimiento</span></div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">2.8. DOMICILIO</td>
                                            <td>
                                                {% if(socioeconomico) %}
                                                    <div class="row">
                                                        <div class="col-lg-4">Localidad:</div>
                                                        <div class="col-lg-8"><strong>{{ socioeconomico.localidad }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Zona:</div>
                                                        <div class="col-lg-8"><strong>{{ socioeconomico.zona }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Avenida:</div>
                                                        <div class="col-lg-8"><strong>{{ socioeconomico.avenida }}</strong></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">Calle/Nro:</div>
                                                        <div class="col-lg-8"><strong>{{ socioeconomico.numero }}</strong></div>
                                                    </div>
                                                {% else %}
                                                    <div><span class="label label-danger">No se cuenta con información de domicilio</span></div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="padremadre" class="tab-pane fade">
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>III. DATOS DEL PADRE, MADRE O TUTOR</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    {% if apoderados is not empty %}
                                        <div id="no-more-tables">
                                            <table class="table table-bordered table-hover cf dataTable" id="myTable">
                                                <thead class="cf">
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Carnet de Identidad</th>
                                                        <th>Paterno</th>
                                                        <th>Materno</th>
                                                        <th>Nombre(s)</th>
                                                        <th>Parentesco</th>
                                                        <th>Empleo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for apoderado in apoderados %}
                                                        <tr>
                                                            <td data-title="N°">{{ loop.index }}</td>
                                                            <td data-title="Carnet">{{ apoderado.carnet }}</td>
                                                            <td data-title="Paterno">{{ apoderado.paterno }}</td>
                                                            <td data-title="Materno">{{ apoderado.materno }}</td>
                                                            <td data-title="Nombre(s)">{{ apoderado.nombre }}</td>
                                                            <td data-title="Parentesco">{{ apoderado.apoTipo }}</td>
                                                            <td data-title="Empleo">{{ apoderado.empleo }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <span class="label label-danger">No hay apoderados registrados.</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if (institucion.cordx and institucion.cordy) %}
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
		<script>
			mapboxgl.accessToken = 'pk.eyJ1Ijoic2lnZWUiLCJhIjoiY2p5c3FmOWgxMG44ajNsbG0weTdmbHFqMCJ9.xzWqmSJjMqpM86r1Kf1jhg';

			var map = new mapboxgl.Map({
				container: 'lienzoMapa',
				style: 'mapbox://styles/mapbox/streets-v11',
				center: [{{institucion.cordy}}, {{institucion.cordx}}],
				zoom: 15,
				minZoom: 10
			});

			var geojson = {
				type: 'FeatureCollection',
				features: [{
				  	type: 'Feature',
				  	geometry: {
						type: 'Point',
						coordinates: [{{institucion.cordy}}, {{institucion.cordx}}]
				  	},
				  	properties: {
						ieducativa: '{{institucion.ieducativa}}',
						ieducativaId: '{{institucion.ieducativaId}}'
				  	}
				}]
			};			  
			  
			// add markers to map
			geojson.features.forEach(function(marker) {

				// create a HTML element for each feature
				var el = document.createElement('div');
				el.className = 'marker';
	
				// make a marker for each feature and add to the map
				new mapboxgl.Marker(el)
				.setLngLat(marker.geometry.coordinates)
				.addTo(map);

				new mapboxgl.Marker(el)
				.setLngLat(marker.geometry.coordinates)
				.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
				.setHTML('<p><strong>Código RUE: </strong>' + marker.properties.ieducativaId + '<p><strong>Institución Educativa: </strong>' + marker.properties.ieducativa + '</p>'))
				.addTo(map);
			});

			// Add controls to the map.
			map.addControl(new mapboxgl.FullscreenControl());
			map.addControl(new mapboxgl.NavigationControl());
		</script>
	{% endif %}
{% endblock %}