<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Información Estudiante</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="pinfoestudiante" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><small>Rude</small></th>
                                    <th><small>Paterno</small></th>
                                    <th><small>Materno</small></th>
                                    <th><small>Nombre</small></th>
                                    <th><small>Género</small></th>
                                    <th><small>CI</small></th>
                                    <th><small>Fecha Nac.</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>{{datastudent.codigoRude}}</small></td>
                                    <td><small>{{datastudent.paterno}}</small></td>
                                    <td><small>{{datastudent.materno}}</small></td>
                                    <td><small>{{datastudent.nombre}}</small></td>
                                    <td><small>{{datastudent.generoTipo}}</small></td>
                                    <td><small>{{datastudent.carnetIdentidad}}</small></td>
                                    <td><small>{{ datastudent.fechaNacimiento|date('d-m-Y') }}</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Historial de Inscripciones</h4>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="omitidos" class="panel-collapse collapse in">
                <div class="portlet-body">
                    {% if dataInscriptionR %}
                        {% include 'SieAppWebBundle:EstudianteInformacion:historial_regular.html.twig' with {'dataInscription': dataInscriptionR, 'datastudent': datastudent} %}
                    {% endif %}
                    {% if dataInscriptionA %}
                        {% include 'SieAppWebBundle:EstudianteInformacion:historial_alternativa.html.twig' with {'dataInscription': dataInscriptionA, 'datastudent': datastudent} %}
                    {% endif %}
                    {% if dataInscriptionE %}
                        {% include 'SieAppWebBundle:EstudianteInformacion:historial_especial.html.twig' with {'dataInscription': dataInscriptionE, 'datastudent': datastudent} %}
                    {% endif %}
                    {% if dataInscriptionP %}
                        {% include 'SieAppWebBundle:EstudianteInformacion:historial_pnp.html.twig' with {'dataInscription': dataInscriptionP, 'datastudent': datastudent} %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>