{% extends 'layoutProcesos.html.twig' %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> TRAMITE RUE: <span>ENVIAR FORMULARIOS SIE, RUE, INFRA Y LE DEPARTAMENTAL</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Trámite</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {% if app.session.flashBag.has('exito') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('exito') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-danger">
                                {% for msg in app.session.flashBag.get('error') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}    
                        <div class="pull-left">
                            <h3 class="panel-title">TRÁMITE-{{idtramite}}</h3>
                        </div>
                        {#<div class="pull-left">
                            <label>Código RUE:</label>
                            <input type="text" value="" id="idrue">
                            <a href="#" class="btn btn-primary" id="buscar_rue">
                                <i class="fa fa-plus"></i> Buscar
                            </a>
                        </div>#}
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                     {{ form_start(form) }}
                    <div class="panel-body">
                       
                        <div class="row">
							<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
								{{ form_label(form.idrue) }}
								{{ form_widget(form.idrue, {'attr':{'class':'form-control'} }) }}
							</div>
                            <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
								{{ form_label(form.institucioneducativa) }}
								{{ form_widget(form.institucioneducativa, {'attr':{'class':'form-control'} }) }}
							</div>
                            <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
								{{ form_label(form.tipotramite) }}
								{{ form_widget(form.tipotramite, {'attr':{'class':'form-control'} }) }}
							</div>
                            <div class="row"></br></br>
                            <div class="form-group col-md-12">
								<div class="col-md-12"><h5 class="panel-title">FORMULARIOS A ENVIAR</h5></div></br>
                                {% for f in form.formularios %}
                                <div class="card col-md-12">
                                    {{ form_widget(f) }}
                                    {{ form_label(f) }}
                                </div>
                                {% endfor %} 
							</div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
    								{{ form_label(form.observacion) }}
	    							{{ form_widget(form.observacion, {'attr':{'class':'form-control'} }) }}
		        				</div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_label(form.guardar) }}
                                {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                                <a href="{{path('wf_tramite_recibido')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
							</div>
                        </div>    
        			    
			        </div><!-- /.panel-body -->
                </div>
            </div>
        </div>
{{ form_end(form) }}
    </div>
{% endblock %}
 {% block javascripts %}
    {{ parent() }} 
    <script>
       $('#form_varevaluacion1_1').click(function(){
           //alert('entra');
          if ($("#form_varevaluacion1_1").is(':checked')){
              $('#informe').show();
              $('#obs').hide();
          }
       });
       $('#form_varevaluacion1_0').click(function(){
           //alert('entra');
          if ($("#form_varevaluacion1_0").is(':checked')){
              $('#informe').hide();
              $('#obs').show();
          }
       });
    </script>   
    {% endblock %}