
{% if exist == true %}
  <small>
        <div class="header-content">
            <h4><i class="glyphicon glyphicon-list-alt"></i> {{etapaespecialidad}} <span> - {{dataUe['paralelo']}}</span></h4>
            <div class="breadcrumb-wrapper hidden-xs">
                <span class="label"> Turno:</span>
                <ol class="breadcrumb">
                    <li>
                        <a href="">{{dataUe['turno']}}</a>
                    </li>
                </ol>
            </div><!-- /.breadcrumb-wrapper -->
        </div>
        <BR>
        <div id="msg"></div>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noinscription') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('goodinscription') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('errorcursoduplicado') %}
        <div class="row">
            <div class="col-md-12" align="center">
                 <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscritos">
                    {% for flashIdcurso in app.session.flashbag.get('idcursodup') %}                    
                        <a href="#" onclick="doCursoDuplicado('{{ infoUe }}','{{ flashIdcurso }}');">
                            <span><i class="icon-leaf"></i>
                                VER CURSO DUPLICADO -- {{ flashIdcurso }}
                            </span>
                        </a>
                    {% endfor %}    
                </div>                
            </div>
            <p>
            <div class="col-md-12">                
                <div class="alert alert-danger alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}                        
                </div>
            </div>                                 
        </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('seedatoscursoduplicado') %}
        <div class="row">            
            <div class="col-md-12">                
                <div class="alert alert-warning alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}                        
                </div>
            </div>                                 
        </div>
        {% endfor %}
        
        <div class="row">
        {% if (app.session.get('ie_per_estado') != '1')%}
            <div class="col-md-3">
                <form action="{{path('herramienta_alter_reporte_centralizadores')}}" method="post" style="">
                    <input type="hidden" name="dat" value="{{infoUe}}">
                    <button type="submit" class="btn btn-primary btn-stroke">
                        <i class="fa fa-cloud-download"></i> Imprimir Centralizador
                    </button>
                </form>
            </div>
        {% endif %}

        {% if (app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3') %}
            {# if existins == false #}
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger btn-stroke" onclick="deletecurso('{{infoUe}}');" >
                        <i class="fa fa-eraser"></i> Eliminar Curso
                    </button>
                </div>
            {# endif #}
            {# commented by krlos 15.04.2020 app.session.get('ie_gestion') == app.session.get('currentyear') or #}

            {# {% if app.session.get('ie_id') == 80730796 or  app.session.get('roluser') == 7 or (app.session.get('ie_gestion') == app.session.get('currentyear') ) %}
                {% if ((app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3') or (app.session.get('ie_per_estado') == '0')) %}
                    <div class="col-md-3">
                        <button type="button" class="btn btn-inverse btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" data-backdrop="static" onclick="doInscriptions('{{infoUe}}', {{iecId}}, ' {{etapaespecialidad}}', '{{dataUe['paralelo']}}');" >
                            <i class="fa fa-user"></i> Inscripción con CI
                        </button>
                    </div>
                {% endif %}
            {% endif %} #}
            
            <!--div class="col-md-3">
                <button type="button" class="btn btn-danger btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsWithOutRude('{#{{infoUe}}#}');" >
                    <i class="fa fa-user-plus"></i> Inscrip. sin Rudeal
                </button>
            </div-->
        {% endif %}

        {% if app.session.get('ie_id') == 80730796 or app.session.get('roluser') == 7 or (app.session.get('ie_gestion') == app.session.get('currentyear') ) %}
            {% if ( (app.session.get('ie_per_estado') == '0') or (app.session.get('ie_per_estado') == '1') ) %}
                <div class="col-md-3">
                    <button type="button" class="btn btn-inverse btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" data-backdrop="static" onclick="doInscriptions('{{infoUe}}', {{iecId}}, ' {{etapaespecialidad}}', '{{dataUe['paralelo']}}');" >
                        <i class="fa fa-user"></i> Inscripción con CI
                    </button>
                </div>
            {% endif %}
        {% endif %}
        
        {#
          print CERTIFICADOS To PRIMARIA
          #}
        {% if (app.session.get('ie_per_estado') == '0') and primariaNuevo and ((app.session.get('ie_gestion') >= '2018')) %}
        
         <div class="col-md-3">
                <form action="{{path('herramienta_alter_certificados_primaria')}}" method="post" style="">
                    <input type="hidden" name="data" value="{{infoUe}}">
                    <button type="submit" class="btn btn-primary btn-stroke">
                        <i class="fa fa-cloud-download"></i> Imprimir Certificados
                    </button>
                </form>
         </div>       
        
        {% endif %}
        
      </div>
      <BR>
    {#<div class="row">
      <div class="col-md-12">
        <div class="header-content">

              <i class="fa fa-mouse-pointer"></i>
              {{dataUe['nivel']}} <code>/</code> {{dataUe['grado']}} <code>/</code> {{dataUe['paralelo']}}

        </div>
      </div>
    </div>#}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded swadow panel-teal">
                    <div class="panel-heading">
                        <h4>Estudiantes Inscritos:<span class="label label-success">{{totalInscritos}}</label></h4>
                    </div>
                    <div id="no-more-tables" class="table-responsive">
                        <table class="table table-bordered table-hover cf">
                            <tr>
                                <th>#</th>
                                <th>CÓDIGO RUDE</th>
                                <th>C.I.</th>
                                <th>PATERNO</th>
                                <th>MATERNO</th>
                                <th>NOMBRE(S)</th>
                                <th>FECHA NAC.</th>
                                <th>Obs. SEGIP</th>
                                <th>OPCIONES</th>
                                <!--td>
                                    <input type="checkbox" id="checkAll" name="selectAll" onclick="selectAllEle();"   >
                                </td-->
                            </tr>
                            {#init the array info student #}
                            {% set objInfoStudent = [] %}
                            {% for data in objStudents %}

                              {% set items = {
                                              'estadomatriculaId': data.estadomatriculaId,
                                              'id': data.id,
                                              'carnetIdentidad': data.carnetIdentidad,
                                              'codigoRude': data.codigoRude,
                                              'paterno': '',
                                              'materno': '',
                                              'nombre': '',
                                              'fechaNacimiento': data.fechaNacimiento,
                                              'eInsId': data.eInsId,
                                              'nivelId': data.nivelId,
                                              'cicloId': data.cicloId,
                                              'gradoId': data.gradoId,
                                              } %}

                                {# set the array student info and convert on json string #}
                                {# set objInfoStudent = objInfoStudent|merge(data) #}
                                {# set jsnInfoStudent = objInfoStudent #}
                                {% set jsnInfoStudent = items|json_encode() %}

                                <tr {% if data.segipId == 0 %}class="text-danger"{% endif %} id="trEstudianteSegip_{{data.codigoRude}}">
                                    <td>{{loop.index}}</td>
                                    <td >{{data.codigoRude}}</td>
                                    <td>{{data.carnetIdentidad}}{% if data.complemento %}-{{data.complemento}}{% endif %}</td>
                                    <td>{{data.paterno}}</td>
                                    <td>{{data.materno}}</td>
                                    <td>{{data.nombre}}</td>
                                    <td>{{data.fechaNacimiento |date('d-m-Y')}}</td>
                                    <td class="text-center">
                                        {# VALIDACIÓN SEGIP #}
                                        <div id="estudianteSegip_{{data.codigoRude}}">
                                            {% if data.segipId == 1 %}
                                                <span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Válido SEGIP</span>
                                            {% elseif data.segipId == 0 and data.carnetIdentidad %}
                                                <form action="{{path('herramienta_info_estudiante_validar_segip')}}" method="post">
                                                    <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{data.codigoRude}}">
                                                    <button type="button" class="btn btn-link text-danger" onclick="validarEstudianteSegip('{{data.codigoRude}}');"><i class="fa fa-fw fa-edit"></i> Validar con SEGIP</button>
                                                </form>
                                            {% else %}
                                                <span class="badge badge-info"><i class="fa fa-fw fa-info"></i> No cuenta con C.I.</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group">
                                                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button" aria-expanded="false">Opciones <span class="caret"></span></button>
                                                <ul class="dropdown-menu">

                                                    {# APODERADO BONO FAMILIA #}
                                                    {# {% if app.session.get('ie_gestion') == 2020 and data.segipId == 1 and data.edad < 18 and true %}
                                                        <li>
                                                            <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="apoderadoBonoFamilia({{data.eInsId}});" >
                                                                <span class="label label-info"><i class="fa fa-list"></i> Registro de apoderado</span>
                                                            </a>
                                                        </li>
                                                    {% endif %} #}

                                                    {#SE CONTROLA EL ACESSO EN LA PANTALLA DE NOTAS POR ESO ESTA ACTIVO PARA TODOS LO ESTADOS MENOS INCRIPCIONES#}
                                                    {% if (app.session.get('ie_gestion') <= app.session.get('currentyear') and  ((app.session.get('ie_per_estado') == '2') or (app.session.get('ie_per_estado') == '3') or (app.session.get('ie_per_estado') == '0') ) )%}
                                                    {# commented by krlos 07.07.2020  #}
                                                                {# <li>
                                                                    <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getNotasPrimaria('{{infoUe}}', '{{jsnInfoStudent}}');" >
                                                                        <span class="label label-primary"><i class="fa fa-list"></i> Registro de Notas</span>
                                                                    </a>
                                                                </li> #}
                                                        {% if ( app.session.get('ie_per_estado') == '2' ) %}
                                                            {% if primariaNuevo %}
                                                            {% else %}
                                                                <li>
                                                                    <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getNotas('{{infoUe}}', '{{jsnInfoStudent}}');" >
                                                                        <span class="label label-primary"><i class="fa fa-list"></i> Registro de Notas</span>
                                                                    </a>
                                                                </li>
    
                                                            {% endif %}
                                                        {% endif %}   
                                                   
                                                    {% endif %}

                                                    {#LIBRETAS SOLO EN MODO LECTURA Y AÑOS 2015,2016,2017#}
                                                    {% if (app.session.get('ie_per_estado') == '0') and (app.session.get('ie_gestion') <= app.session.get('currentyear') ) %}
                                                        <li>
                                                          <a href="{{path('herramienta_alter_libretas', {'eInsId': data.eInsId, 'nivel': data.nivelId})}}">
                                                              <span class="label label-warning"> <i class="fa fa-credit-card"></i> Imprimir Libreta</span>
                                                          </a>
                                                        </li>
                                                    {% endif %}
                                                    {#IMPRIMIR FORMULARIO RUDE AL SEGUN EL CASO#}
                                                    {% if (((app.session.get('ie_gestion') == '2016') and (app.session.get('ie_per_cod') == '3')) or ((app.session.get('ie_gestion') >= '2017') and (app.session.get('ie_per_cod') in ['2','3']))
                                                            ) %}
                                                            {% if (app.session.get('ie_per_estado') == '0') %}
                                                                <li>
                                                                    <a href="{{path('herramienta_alter_reporte_socioeconomico', {'inscripcionId': data.eInsId,'rude': data.codigoRude })}}">
                                                                        <span class="label label-warning"> <i class="fa fa-credit-card"></i> Imprimir Formulario Rudeal</span>
                                                                    </a>
                                                                </li>
                                                            {% else %}
                                                                {# SOLO DESPUES DE LAS INSCRIPCIONES #}
                                                                    <li>
                                                                        <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getRudealNew('{{infoUe}}', '{{jsnInfoStudent}}');" >
                                                                            <span class="label label-success"><i class="fa fa-edit"></i> Registro de Rudeal</span>
                                                                        </a>
                                                                    </li>
                                                                {% if (app.session.get('ie_per_estado') == '2') %}
                                                                    {# <li>
                                                                        <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getRudeal('{{infoUe}}', '{{jsnInfoStudent}}');" >
                                                                            <span class="label label-success"><i class="fa fa-edit"></i> Registro de Rudeal</span>
                                                                        </a>
                                                                    </li> #}
                                                                    {# <li>
                                                                        <a href="{{path('herramienta_alter_reporte_socioeconomico', {'inscripcionId': data.eInsId,'rude': data.codigoRude })}}">
                                                                            <span class="label label-warning"> <i class="fa fa-credit-card"></i> Imprimir Formulario Rudeal</span>
                                                                        </a>
                                                                    </li> #}
                                                                {% endif %}
                                                            {% endif %}                                                            
                                                    {% endif %} 
                                                    
                                                    {#ACTIVO ELIMINACION SOLO EN INSCRIPCIONES Y REGULARIZAION#}
                                                    {% if (app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3') %} 
                                                        <li>
                                                            <a href="#" type="link"  class="" onclick="removeInscriptionStudent('{{infoUe}}', '{{ jsnInfoStudent }}');" >
                                                              <span class="label label-danger"><i class="fa fa-remove"></i>Eliminar Inscripción</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {#ACTIVO TOMA DE AREAS SOLO EN NOTAS Y REGULARIZAION#}
                                                    {% if (app.session.get('ie_gestion') <= app.session.get('currentyear') and ((app.session.get('ie_per_estado') == '2') or (app.session.get('ie_per_estado') == '3') )) %}      
                                                    {# commented by krlos 07.07.2020 #}                                                     
                                                        <li>
                                                          <a href="#" type="link" data-toggle="modal" data-target=".bs-example-modal-table" onclick="addModulosToStudeent('{{infoUe}}', '{{jsnInfoStudent}}');" >
                                                            <span class="label label-lilac"><i class="fa fa-file-text"></i> Toma de Áreas/Módulo</span>
                                                          </a>
                                                        </li>  
                                                                                                         
                                                    {% endif %}
                                                    <li class="divider"></li>


                                                    {# DESCARGAR DESPUES DE CIERRE DE OPERATIVO INSCRIPCION #}
                                                    {#ACTIVO DECLARACION JURADA EN LOS ULTIMOS GRADOS DE HUMANISTICA Y TECNICA#}
                                                    {% if ( ((data.nivelId == 15) and (data.cicloId == 2) and (data.gradoId == 3)) or ((data.nivelId == 5) and (data.cicloId == 2) and (data.gradoId == 2)) )%}
                                                        <li>
                                                            <a href="{{path('herramienta_alter_reporte_ddjj_hum', {'rude': data.codigoRude, 'gestion':app.session.get('ie_gestion') , 'sie': app.session.get('ie_id') } )}}">
                                                                <span class="label label-warning"> <i class="fa fa-cloud-download"></i>Descargar DDJJ HUMA</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if data.nivelId in ['18','19','20','21','22','23','24','25'] %}
                                                        <li>
                                                            <a href="{{path('herramienta_alter_reporte_ddjj_tec', {'insId': data.eInsId, 'rude': data.codigoRude, 'gestion':app.session.get('ie_gestion') } )}}">
                                                                <span class="label label-warning"> <i class="fa fa-cloud-download"></i>Descargar DDJJ TEC</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {# {% if ( app.session.get('ie_per_estado') != '0' ) %}
                                                    {% endif %} #}
                                                </ul>
                                          </div>


                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.portlet -->
                </div>
            </div>
        </div>
    </small>
    <!-- /.row -->
{% else %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('noinscription') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready( function(){
        $(".tooltips").tooltip();
    });

    var apoderadoBonoFamilia = function (idInscripcion) {

        $.ajax({
            type: 'post',
            data: ({idInscripcion: idInscripcion}),
            url: "{{ path('apoderado_bono_familia_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content text-center" style="padding:20px;"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getNotas = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_alter_infoEstudianteNotas_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    }

    var getNotasPrimaria = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_alter_infoEstudianteNotasPrimaria_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    }

    var getRudeal = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('socioeconomicoalt_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $("#modal").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" /></div>');

            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                reloadmyform();
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    }

    var getRudealNew = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('estudiante_rudeal_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $("#modal").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" /></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                reloadmyform();
            },
            statusCode: {
                500: function () {

                },
                404: function () {
                    console.log("in 404");
                }
            }
        });
    }

    function reloadmyform(){
/*
        $('#id').change(function () {
            listarmenu($('#form_seccioniiEducacionDiversa').val());
        });
        $('#id').on('change', function () {
            listarmenu($('#form_seccioniiEducacionDiversa').val());
        });*/
      //  alert($('#form_seccioniiEducacionDiversa').val());return false;
        //$("#answerID").trigger(onchange(listarmenu($('#form_seccioniiEducacionDiversaTipo').val())));
       // $("#answerIDUM").trigger(onchange(tipomili($('#form_seccioniiUnidadMilitarTipo').val())));
        //$("#answerIDP").trigger(onchange(tipopenal($('#form_seccioniiPenalTipo').val())));
    }


    var removeInscriptionStudent = function (infoUe, infoStudent) {

      if(confirm('¡¡Advertencia!! Esta por eliminar una inscripción. ¿Esta seguro de continuar?')){
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_alter_estudianterequest_removeinscription') }}",
            beforeSend: function () {
              $("#idstudents").empty();
              $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
            },
            success: function (data) {
              $("#idstudents").empty();
              $("#idstudents").append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
      }else{
        return false;
      }

    };

    var doInscriptions = function(data, iecId, etapaespecialidad, paralelo){
     $.ajax({
         type: 'post',
         data: ({infoUe: data, iecId: iecId, etapaespecialidad: etapaespecialidad, paralelo: paralelo  }),
         url: "{{ path('alter_inscriptionstudent_index') }}",
         beforeSend: function () {
             $('#modal').empty();
         },
         success: function (data) {
             $('#modal').empty();
             $('#modal').append(data);
         },
         statusCode: {
            500: function () {

            },
            404: function () {

            }
         }
     });
   };


   var doCursoDuplicado = function (infoUe,idcursodup) {
            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe, idcursodup: idcursodup}),
                url: Routing.generate('herramientalt_ceducativa_curso_duplicado'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

   var doInscriptionsWithOutRude = function(data){
     $.ajax({
         type: 'post',
         data: ({infoUe: data }),
         url: "{{ path('alter_inscriptionstudent_without_rude_index') }}",
         beforeSend: function () {
             $('#modal').empty();
         },
         success: function (data) {
             $('#modal').empty();
             $('#modal').append(data);
         },
         statusCode: {
             500: function () {

             },
             404: function () {

             }
         }
     });
   };

   var addModulosToStudeent = function (infoUe, infoStudent) {

    $.ajax({
        type: 'post',
        data: ({infoUe: infoUe, infoStudent: infoStudent}),
        url: "{{ path('herramienta_alter_studentModule_index') }}",
        beforeSend: function () {
            $('#modal').empty();
        },
        success: function (data) {
            $('#modal').empty();
            $('#modal').append(data);
        },
        statusCode: {
            500: function () {

            },
            404: function () {

            }
        }
      });
    };

    var deletecurso = function(infoUe){
     $.ajax({
         type: 'post',
         data: ({infoUe: infoUe }),
         url: "{{ path('herramienta_curso_alternativa_delete') }}",
         beforeSend: function () {
            $('#mengestioncurso').empty();
            $('#mengestioncurso').append("<div style='text-align:center; color:#5C9FFB'>Eliminando curso...</div>");
        },
        success: function (data) {
            $('#mengestioncurso').empty();
            $('#mengestioncurso').html("<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>"+data.mensaje+"</strong></div>");
            window.location.href =  Routing.generate('herramienta_alter_cursos_index');
        },
        error: function(data){
            $('#mengestioncurso').empty();            
            $('#mengestioncurso').html("<div class='alert alert-warning alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>¡Proceso detenido!</strong> Si desea eliminar el curso debe antes eliminar lo siguiente: Toma de materias, inscripciones, materias/módulos maestro asignados.</div>");
            //window.location.href =  Routing.generate('herramienta_alter_cursos_index');                            
        },
     });
   };

   var validarEstudianteSegip = function(codigoRude){
        if(confirm('Está a punto de validar con SEGIP el registro observado. ¿Desea continuar?')) {
            $.ajax({
                type: 'post',
                data: ({codigoRude: codigoRude}),
                url: "{{path('herramienta_info_estudiante_validar_segip')}}",
                beforeSend: function () {
                    $('#estudianteSegip_'+codigoRude).empty();
                    $('#estudianteSegip_'+codigoRude).html('Cargando...');
                },
                success: function (data) {
                    $('#estudianteSegip_'+codigoRude).empty();
                    if(data.estado){
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-success');
                        $('#estudianteSegip_'+codigoRude).html('<span class="badge badge-success"><i class="fa fa-fw fa-check"></i> '+data.mensaje+'</span>');
                    } else {
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-warning');
                        $('#estudianteSegip_'+codigoRude).html('<span>'+data.mensaje+'</span>');
                    }
                },
                statusCode: {
                    500: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');                        
                    },
                    404: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');
                    }
                }
            });
        }
    };

</script>
