{% extends 'SieRieBundle:Default:rie.html.twig' %}
{% block contentoption %}
    <div class="block-header">
        <h2>REPORTE DE INSTITUTOS TÉCNICOS Y TECNOLÓGICOS A NIVEL NACIONAL</h2>
		<br>
		<ol class="breadcrumb breadcrumb-bg-cyan">
			<li><a href="{{path('reporte_list')}}">Listado de Departamentos</a></li>
			<li class="active">Listado de Institutos según Departamento</li>
		</ol>
		<center><h3>{{ depto }}</h3></center>
    </div>
			<div class="row clearfix">
				<!-- Basic Examples -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="body">
							<div class="row clearfix">
                        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">						
								<!--<table class="table table-bordered table-striped table-hover dataTable js-exportable" role="grid"> -->
								<table class="table table-bordered table-striped table-hover dataTable js-exportable" role="grid">  
									<thead>
										<tr>
											<th nowrap>Nro.</th>
											<th nowrap>DENOMINACIÓN</th>
											<th nowrap>R.M.</th>
											<th nowrap>FECHA-R.M.</th>
											<th nowrap>VIGENCIA</th>
											<th nowrap>SEDE/SUBSEDE</th>
											<th nowrap>TIPO INSTITUTO</th>
											<th nowrap>CARACTER JURÍDICO</th>
											<th nowrap>NIVEL FORMACIÓN</th>
											<th nowrap>DEPARTAMENTO</th>
											<th nowrap>PROVINCIA</th>
											<th nowrap>MUNICIPIO</th>
											<th nowrap>CANTON</th>
											<th nowrap>LOCALIDAD</th>
											<th nowrap>ZONA</th>
											<th nowrap>DIRECCIÓN</th>
											<th nowrap>ESTADO</th>
											<th nowrap>COD RIE</th>
											<th nowrap>COD LE</th>
											
										</tr>
									</thead>
									<tbody>
										{% for list in listados %}
										<tr>
											<td nowrap>{{ loop.index }}</td>
											<td nowrap>{{ list.institucioneducativa }}</td>
											<td nowrap>{{ list.nro_resolucion }}</td>
											<td nowrap>{{ list.fecha_resolucion }}</td>
											<td nowrap>{{ list.vigente }}</td>
											<td nowrap>{{ list.sede }}</td>
											<td nowrap>{{ list.tipo }}</td>
											<td nowrap>{{ list.dependencia }}</td>
											<td nowrap>{{ list.nivelautorizado }}</td>
											<td nowrap>{{ list.departamento }}</td>
											<td nowrap>{{ list.provincia }}</td>
											<td nowrap>{{ list.municipio }}</td>
											<td nowrap>{{ list.canton }}</td>
											<td nowrap>{{ list.localidad }}</td>
											<td nowrap>{{ list.zona }}</td>
											<td nowrap>{{ list.direccion }}</td>
											<td nowrap>{{ list.estado }}</td>
											<td nowrap>{{ list.ie_id }}</td>
											<td nowrap>{{ list.le_juridicciongeografica_id }}</td>
										</tr>
										{% endfor %}
									</tbody>	
								</table>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
	
{% endblock %}

	
	


