

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">

            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Información Resultado</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <small>
                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th class="text-center">Rude</th>
                                        <th class="text-center">Nombre(s)</th>
                                        <th class="text-center">Paterno</th>
                                        <th class="text-center">Materno</th>
                                        {#<th class="text-center">CI</th>#}
                                        {#<th class="text-center">Complemento</th>#}
                                        <th class="text-center">Genero</th>
                                        <th class="text-center">F. Nacimiento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Rude">{{oldStudent[0].codigo_rude}}</td>
                                        <td data-title="Nombre">{{ oldStudent[0].nombre|e }} </td>
                                        <td data-title="Paterno">{{oldStudent[0].paterno|e}}</td>
                                        <td data-title="Materno">{{oldStudent[0].materno|e}}</td>
                                        {#<td data-title="CI">{{oldStudent.carnetIdentidad}} </td>#}
                                        {#<td data-title="Complemento" class="text-center">{{oldStudent.complemento}}</td>#}
                                        <td data-title="Genero" class="text-center">{{oldStudent[0].genero}} </td>
                                        <td data-title="F. Nacimiento" class="text-center">{{oldStudent[0].fecha_nacimiento|date('d-m-Y')}}</td>
                                </tbody>
                            </table>


                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th class="text-center">No</th>
                                        <th class="text-center">Gestion</th>
                                        <th class="text-center">SIE</th>
                                        <th class="text-center">Unidad Educativa</th>
                                        <th class="text-center">Nivel</th>
                                        <th class="text-center">Grado</th>
                                        <th class="text-center">Turno</th>
                                        <th class="text-center">Paralelo</th>                                        
                                        <th class="text-center">Estado Matricula</th>
                                        <th class="text-center">Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in oldStudent%}
                                        <tr>
                                            <td data-title="Rude">{{loop.index}}</td>
                                            <td>{{data.gestion_tipo_id}}</td>
                                            <td>{{data.institucioneducativa_titulo}}</td>
                                            <td>{{data.institucioneducativa}}</td>
                                            <td>{{data.nivel|e }} </td>
                                            <td>{{data.grado|e}}</td>
                                            <td>{{data.turno}} </td>
                                            <td>{{data.paralelo|e}}</td>
                                            <td class="text-center">{{data.em}}</td>
                                            <td data-title="VerNota" class="text-center">
                                                <a href="#" onclick="seeNotaNew('{{data.eiid}}', '{{data.eid}}', '{{data.nivel_tipo_id}}', '{{data.grado_tipo_id}}', '{{data.pid}}', '{{data.turno_tipo_id}}', '{{data.gestion_tipo_id}}', '{{data.institucioneducativa_id}}')" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </small>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <strong><i class='fa fa-linux'></i></strong> Datos Nueva Desunificación
                        </div>
                        <small>
                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th class="text-center">Rude</th>
                                        <th class="text-center">Nombre(s)</th>
                                        <th class="text-center">Paterno</th>
                                        <th class="text-center">Materno</th>
                                        {#<th class="text-center">CI</th>#}
                                        {#<th class="text-center">Complemento</th>#}
                                        <th class="text-center">Genero</th>
                                        <th class="text-center">F. Nacimiento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Rude" id="rudecor">{{objEstudiante.codigoRude}}</td>
                                        <td data-title="Nombre">{{ objEstudiante.nombre|e }} </td>
                                        <td data-title="Paterno">{{objEstudiante.paterno|e}}</td>
                                        <td data-title="Materno">{{objEstudiante.materno|e}}</td>
                                        <td data-title="Genero" class="text-center">{{objEstudiante.generoTipo}} </td>
                                        <td data-title="F. Nacimiento" class="text-center">{{objEstudiante.fechaNacimiento|date('d-m-Y')}}</td>                                         
                                </tbody>
                            </table>


                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th class="text-center">No</th>
                                        <th class="text-center">Gestion</th>
                                        <th class="text-center">SIE</th>
                                        <th class="text-center">Unidad Educativa</th>
                                        <th class="text-center">Nivel</th>
                                        <th class="text-center">Grado</th>
                                        <th class="text-center">Turno</th>
                                        <th class="text-center">Paralelo</th>                                        
                                        <th class="text-center">Estado Matricula</th>
                                        <th class="text-center">Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in newStudent%}
                                        <tr>
                                            <td data-title="Rude">{{loop.index}}</td>
                                            <td>{{data.gestion_tipo_id}}</td>
                                            <td>{{data.institucioneducativa_titulo}}</td>
                                            <td>{{data.institucioneducativa}}</td>
                                            <td>{{data.nivel|e }} </td>
                                            <td>{{data.grado|e}}</td>
                                            <td>{{data.turno}} </td>
                                            <td>{{data.paralelo|e}}</td>
                                            <td class="text-center">{{data.em}}</td>
                                            <td data-title="VerNota" class="text-center">
                                                <a href="#" onclick="seeNotaNew('{{data.eiid}}', '{{data.eid}}', '{{data.nivel_tipo_id}}', '{{data.grado_tipo_id}}', '{{data.pid}}', '{{data.turno_tipo_id}}', '{{data.gestion_tipo_id}}', '{{data.institucioneducativa_id}}')" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </small>
                    </div>
                </div>
            </div>

            <!-- /.portlet -->
        </div>


    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->