{% extends 'layoutHerramienta.html.twig' %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block contentoption %}
<!-- Start page header -->
<div class="header-content">
	<h2><i class="fa fa-table"></i> Registro Beneficio para Estudiantes Participantes CPV-2024 <span></span></h2>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">Usted esta aquí:</span>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#">Registro Beneficio Censo</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li class="active"></li>
		</ol>
	</div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="body-content animated fadeIn">
	<header class="navbar navbar-default" style="background-color: #00bbc8; padding: 20px; border-radius: 8px 8px 0 0; text: #969696">
		<div class="navbar-header">
			<h2 style="color: white; margin-top: 0;"><strong>Registro de Beneficio para Estudiantes CPV 2024</strong></h2>
			<h5 style="color: white; margin-top: 0;"><strong>Institución Educativa: {{ institucion.id }} - {{institucion.institucioneducativa }}</strong></h5>
		</div>
	</header>
	{% if operativo >= 2 %}
	<div class="col-md-12">
		
			<div class="alert alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				La Unidad Educativa {{ institucion.id }} - {{institucion.institucioneducativa }} ya finalizo el operativo del {{ operativo }} trimestre.
			</div>
		
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form style="margin-top: 15px;">
						<div class="form-row">
							<div class="form-group col-md-9">
								{% if app.session.get('roluser') in [7] and  operativo <= 2 %}
								{# <label class="col-md-4"><strong>Buscar por código RUDE:</strong></label>
								<div class="input-group col-md-6">
									<input type="hidden" class="form-control" id="sie" name="sie" value="{{ institucion.id }}">
									<input type="text" class="form-control" placeholder="RUDE" id="codigoRude">
									<span class="input-group-btn">
										<button onclick="BucarBeneficiario()" type="button" class="btn btn-primary">
											<i class="fa fa-search"></i> Buscar
										</button>
									</span>
								</div> #}
								{% endif %}
							</div>
							<div class="form-group col-md-3 text-right"> <!-- Alinea el botón a la derecha -->
								<button onclick="VerTodosBeneficiario()" type="button" class="btn btn-success">
									<i class="fa fa-gears"></i> Ver todos
								</button>
							</div>
							{# <p><strong>Nota: </strong> Para registrar más estudiantes, utilice la opción <strong>'Buscar'</strong>. Asegúrese de presentar la documentación correspondiente, que debe ser corroborada por la Dirección de la Unidad Educativa.</p> #}
							{# <p style="color: red;"><strong>Nota: </strong> Concluyo el registro de incentivo CPV 2024.</p> #}
						</div>
					</form>
					
					<div id="no-more-tables">
						
							<table class="table table-primary table-striped custom-pagination" id="tabla-estudiantes">
								<thead>
									<tr>
										<th style="min-width: 5px;">N°</th>
										<th>Grado</th>
										<th>Paralelo</th>
										<th>Turno</th>
										<th>Rude</th>
										<th>C.Identidad</th>
										<th>Nombre</th>
										<th>Paterno</th>
										<th>Materno</th>
										<th>Acciones</th>
										</tr>
								</thead>
								<tbody>
								{% if estudiante is not empty %}
								
									{% for estudiante in estudiante %}
										<tr data-estudiante-id="{{estudiante.ei_id}}">
											<td data-title="N°">{{ loop.index }}</td>
											<td data-title="grado">{{ estudiante.grado }}</td>
											<td data-title="paralelo">{{ estudiante.paralelo }}</td>
											<td data-title="turno">{{ estudiante.turno }}</td>
											<td data-title="rude">{{ estudiante.codigo_rude }}</td>
											<td data-title="carnet">{{ estudiante.carnet_identidad }}</td>
											<td data-title="nombre">{{ estudiante.nombre }}</td>
											<td data-title="paterno">{{ estudiante.paterno }}</td>
											<td data-title="materno">{{ estudiante.materno }}</td>
											<td data-title="Acciones">
												<div class="btn-group">
													{% if estudiante.estado == 0 and app.session.get('roluser') in [7] and operativo <= 2 %}
													{# <button type="button" class="btn btn-sm btn-warning" onclick="verRegistrarBeneficio({{estudiante.ei_id}})" title="Pendiente de Registro">
														<i class="fa fa-plus-square"></i> Pendiente
													</button> #}
													{% endif %}
													{% if estudiante.estado == 1 and (app.session.get('roluser') in [8,7] or app.session.get('userId') == 13815704)%}
													<button type="button" class="btn btn-sm btn-success" onclick="verBeneficio({{estudiante.ei_id}})" title="Ver de Registro">
														<i class="fa fa-eye"></i> 
													</button>
													{% if operativo <= 2 %}
													{# <button type="button" class="btn btn-sm btn-primary" onclick="editBeneficio({{estudiante.ei_id}})" title="Editar Registro">
														<i class="fa fa-pencil"></i> 
													</button> #}
													{# <button type="button" class="btn btn-sm btn-danger" onclick="elimBeneficio({{estudiante.ei_id}})" title="Eliminar Registro">
														<i class="fa fa-trash"></i> 
													</button> #}
													{% endif %}
													{% endif %}
													{% if estudiante.estado == 2 and (app.session.get('roluser') in [8,7] or app.session.get('userId') == 13815704) %}
													
													<button type="button" class="btn btn-sm btn-info" onclick="verBeneficio({{estudiante.ei_id}})" title="Registro concluido">
														<i class="fa fa-check"></i> Concluido
													</button>

													{% endif %}
													{% if estudiante.estado <= 2 and app.session.get('roluser') in [9,10]%}
													<button type="button" class="btn btn-sm btn-success" onclick="verBeneficio({{estudiante.ei_id}})" title="Ver Registro"> 
														<i class="fa fa-check-circle"></i> Registrado
													</button>
													{% endif %}
												</div>
											</td>
										</tr>
									{% endfor %}
								{% else %}
										<tr>
											<td colspan="10" class="text-center">No se encontraron estudiantes.</td>
										</tr>
									
								{% endif %} 
								</tbody>
							</table>
						{# </form> #}
						</div>
				</div>
			</div>
		</div>
	</div>
	

</div>

<!-- Modal para agregar areas -->
<div class="modal fade bs-example-modal-table" id="modalRegistroBeneficio" tabindex="-1" role="dialog" aria-labelledby="modalRegistroBeneficio" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content custom-modal-content">
			<div class="modal-header custom-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title custom-modal-title" id="modalAreasMaestroLabel">Distribución de Beneficio </h4>
			</div>
			<div class="modal-body">
				<!-- Contenido del formulario -->
				<div id="resultado"></div>
			</div>   
		</div>            
	</div>
</div>


{% endblock %}
{% block javascripts%}
    {{parent()}}
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
	<script>

	function verRegistrarBeneficio(id) {
        estudianteId = id;
        $('#modalRegistroBeneficio').modal('show');
		$.ajax({
                type: 'get',
                url: Routing.generate('censobeneficio_registroPuntos', {'id': estudianteId }),
				beforeSend: function () {
                	$('#resultado').empty(); 
            	},
                success: function (data) {
                    $("#resultado").append(data);     
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
    }
	function BucarBeneficiario() {
		const rude = document.getElementById('codigoRude').value;
		const sie = document.getElementById('sie').value;
		console.log(rude);
		
		$.ajax({
			type: 'get',
			url: Routing.generate('censobeneficio_findEstudiante', { 'id': rude, 'sie': sie }),
			success: function (data) {
				if (data.error) {
        		// Mostrar el mensaje de error y esperar a que el usuario haga clic en "Aceptar"
					Swal.fire({
						title: 'Error',
						text: data.error,
						icon: 'error'
					}).then((result) => {
						if (result.isConfirmed) {
							// Recargar la página después de que el usuario haya confirmado
							location.reload();
						}
					});
				} else {
					actualizarTablaEstudiantes(data.estudiantes);
				}
			},
			error: function (xhr, status, error) {
				// Manejar el error si es necesario
				console.log('Error en la petición AJAX:', error);
			}
		});
	}
	
	function actualizarTablaEstudiantes(estudiantes) {
		const tablaEstudiantes = $('#tabla-estudiantes');
		const tbody = tablaEstudiantes.find('tbody');
		tbody.empty(); // Limpiar el cuerpo de la tabla

		if (estudiantes.length === 0) {
			const fila = `
				<tr>
					<td colspan="10" class="text-center">No se encontraron estudiantes.</td>
				</tr>
			`;
			tbody.append(fila);
		} else {
			estudiantes.forEach((estudiante, index) => {
				let estadoBtn;
				if (estudiante.estado === 2) {
					estadoBtn = `<button type="button" class="btn btn-sm btn-danger" onclick="verRegistrarBeneficio(${estudiante.ei_id})" title="Nuevo Registro">
									<i class="fa fa-check-circle"></i> Nuevo Reg.
								</button>`;
				} else if (estudiante.estado === 0) {
					estadoBtn = `<button type="button" class="btn btn-sm btn-warning" onclick="verRegistrarBeneficio(${estudiante.ei_id})" title="Pendiente de Registro">
									<i class="fa fa-check"></i>
								</button>`;
				} else {
					estadoBtn = `<button type="button" class="btn btn-sm btn-success">
									<i class="fa fa-check-circle"></i> Registrado
								</button>`;
				}

				const fila = `
					<tr data-estudiante-id="${estudiante.ei_id}">
						<td data-title="N°">${index + 1}</td>
						<td data-title="grado">${estudiante.grado}</td>
						<td data-title="paralelo">${estudiante.paralelo}</td>
						<td data-title="turno">${estudiante.turno}</td>
						<td data-title="rude">${estudiante.codigo_rude}</td>
						<td data-title="carnet">${estudiante.carnet_identidad}</td>
						<td data-title="nombre">${estudiante.nombre}</td>
						<td data-title="paterno">${estudiante.paterno}</td>
						<td data-title="materno">${estudiante.materno}</td>
						<td data-title="Acciones">
							<div class="btn-group">
								${estadoBtn}
							</div>
						</td>
					</tr>
				`;

				tbody.append(fila);
			});
		}
	}

	function VerTodosBeneficiario(){
		location.reload();
	}

	function verBeneficio(id) {
        estudianteId = id;
        $('#modalRegistroBeneficio').modal('show');
		$.ajax({
                type: 'get',
                url: Routing.generate('censobeneficio_verRegistro', {'id': estudianteId }),
				beforeSend: function () {
                	$('#resultado').empty(); 
            	},
                success: function (data) {
                    $("#resultado").append(data);     
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
    }

	function editBeneficio(id) {
        estudianteId = id;
        $('#modalRegistroBeneficio').modal('show');
		$.ajax({
                type: 'get',
                url: Routing.generate('censobeneficio_editRegistro', {'id': estudianteId }),
				beforeSend: function () {
                	$('#resultado').empty(); 
            	},
                success: function (data) {
                    $("#resultado").append(data);     
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
    }

	function elimBeneficio(id) {
		estudianteId = id;
		Swal.fire({
			title: `¿Está seguro de eliminar el Registro del Beneficio CPV 2024 para el estudiante?`,
			text: "¿Eliminar los puntajes y subió el/los archivos solicitados?",
			icon: 'question', // Cambiado de 'type' a 'icon' (versión actual de SweetAlert2)
			html: 'Si acepta, se eliminará el beneficio ...',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Si, proceder',
			cancelButtonText: 'Cancelar'
		}).then((result) => {
			// Verifica si el usuario ha confirmado la acción
			if (result.value) {
				$.ajax({
					type: 'get',
					url: Routing.generate('censobeneficio_elimRegistro', {'id': estudianteId }),
					beforeSend: function () {
						$('#resultado').empty();
					},
					success: function (data) {
						// Recargar la página o manejar el resultado
						location.reload();
					},
					error: function (xhr, status, error) {
						// Manejar el error si es necesario
						console.log('Error en la petición AJAX:', error);
					}
				});
			}
		});
	}

	</script>

{% endblock %}
