{% extends 'SieProcesosBundle:TramiteCertificacionCursosLargos:index.html.twig' %}
{% block contentSearchBread %}
    <li class="active">Registro</li>
{% endblock %}
{% block contentsearch %}
    {% if listaParticipante is defined  %}
 <div class="container-fluid">    
    <div class="row">
        <div class="col-md-12">
         <div class="col-md-12 col-lg-12  col-sm-12">
           <div class="panel panel-secondary">
                <div class="panel-heading">
                <strong></strong>
                </div>
                <div class="panel-body">
                Lista de participantes que terminarón el curso largo satisfactoriamente.
                </div>
            </div>            
         </div>
        </div>
    </div>
 </div>        
     
<div class="container-fluid">           
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-lg-12  col-sm-12">
                <form name="formtable" id="formtable" role="form" action="{{ path('tramite_certificado_permanente_registro_guarda') }}" method="POST" onsubmit="return verificaCampos()">
                    <input type="hidden" name="_token" value="{{ csrf_token('registrar') }}">
                    <input type="hidden" name="_info" value="{{ datosBusqueda }}">
                    <input type="hidden" name="_flujotipo" value="{{ flujotipo }}">
                    <input type="hidden" name="_idTramite" value="{{ idTramite }}">
                    <input type="hidden" name="_especialidad" value="{{ especialidad }}">
                    <input type="hidden" name="_nivel" value="{{ nivel }}">
                    <input type="hidden" name="_idsie" value="{{ infoAutorizacionCentro }}">

                    <div class="panel">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h4 class="panel-title">C.E.A.: {{ datosCentro.institucioneducativa}} - {{infoAutorizacionCentro}} </h4>
                            </div>
                            <div class="pull-right">
                                {# <input type="submit" name="botonAceptar" id="botonAceptar" class="btn btn-primary" value="Registrar" disabled="true" /> #}
                                {# <a class="btn btn-lilac" href="{{ path('tramite_certificado_tecnico_registro_lista_pdf', {'info': datosBusqueda}) }}" target="_blank">Imprimir</a> #}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            {# {% if infoAutorizacionCentro.tec_basico == 0 and listaParticipante[0].nivel == 1 %}
                                <div class="alert alert-danger">
                                    <strong>Alerta!</strong> No cuenta con la autorización correspondiente según R.U.E. para la emisión de certificados a nivel básico.
                                </div>
                            {% endif %}
                            {% if infoAutorizacionCentro.tec_auxiliar == 0 and listaParticipante[0].nivel == 2 %}
                                <div class="alert alert-danger">
                                    <strong>Alerta!</strong> No cuenta con la autorización correspondiente según R.U.E. para la emisión de certificados a nivel auxiliar.
                                </div>
                            {% endif %}
                            {% if infoAutorizacionCentro.tec_medio == 0 and listaParticipante[0].nivel == 3 %}
                                <div class="alert alert-danger">
                                    <strong>Alerta!</strong> No cuenta con la autorización correspondiente según R.U.E. para la emisión de certificados a nivel medio.
                                </div>
                            {% endif %} #}

                            <table id="tablaParticipantes" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:50px; text-align:center;">#</th>
                                        <th style="text-align:center;">Código RUDEAL</th>
                                        <th style="text-align:center;">C.I.</th>
                                        <th style="text-align:center;">Complemento</th>
                                        <th style="text-align:center;">Paterno</th>
                                        <th style="text-align:center;">Materno</th>
                                        <th style="text-align:center;">Nombre</th>
                                        <th style="text-align:center;">Fecha de nacimiento</th>
                                        <th style="width:50px; text-align:center;">
                                            <div class="ckbox ckbox-primary">
                                                <input id="participantesAll" type="checkbox" onchange="marcarTodos(this);">
                                                <label for="participantesAll"></label>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Código RUDEAL</th>
                                        <th>C.I.</th>
                                        <th>Complemento</th>
                                        <th>Paterno</th>
                                        <th>Materno</th>
                                        <th>Nombre</th>
                                        <th>Fecha y Lugar de Nacimiento</th>
                                        <th style="text-align:center;">
                                            &nbsp;
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for participante in listaParticipante %}
                                        {% set registro = true %}
                                        <tr>
                                            <td style="text-align:center;">
                                            <buttom onclick="participanteHistorial('{{ participante.id|base64_encode }}','{{ participante.especialidad_id|base64_encode }}','{{ participante.nivel|base64_encode }}');" data-toggle="modal" class="btn btn-circle btn-primary btn-stroke btn-xs" data-toggle="tooltip" data-placement="top" title="Ver Calificaciones" data-target=".bs-example-modal-table">{{ loop.index }}</buttom>                                               
                                            </td> 
                                            <td>{{ participante.codigo_rude }}</td>
                                            <td>{{ participante.carnet_identidad }}</td>
                                            <td>{{ participante.complemento }}</td>
                                            <td>{{ participante.paterno }}</td>
                                            <td>{{ participante.materno }}</td>
                                            <td>{{ participante.nombre }}</td>
                                            <td>{{ participante.fecha_nacimiento }}</td>
                                            <td>
                                                {% if participante.estado == 1  %}
                                                    <span class="label label-warning rounded">En proceso</span>
                                                {% endif %}    
                                                {% if participante.estado  == 2 %}
                                                        <span class="label label-success rounded">Concluido</span>
                                                        {% set registro = false %}
                                                {% endif %}
                                                {% if participante.estado  == 3 %}
                                                        <span class="label label-primary rounded">Certificado Entregado</span>
                                                        {% set registro = false %}
                                                {% endif %}
                                                {% if participante.estado  == '' %}
                                                    <div class="ckbox ckbox-info">
                                                    <input name="participantes[]" id="{{ ("participantes"~loop.index)|base64_encode }}" value="{{ participante.id|base64_encode }}"  type="checkbox" onchange="validarMarcar(this);">
                                                        <label for="{{ ("participantes"~loop.index)|base64_encode }}"></label>                                                        
                                                    </div> 
                                                {% endif %}                                                  
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                           
                        </div><!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="row">                                
                                <div class="col-md-2 col-md-offset-5">
                                <input type="submit" name="botonAceptar" id="botonAceptar" class="btn btn-primary" value="Enviar Solicitud" disabled="true" />                               
                                </div>
                            </div> 
                        </div>                
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>   
    {% endif %}
{% endblock %}

