{% if listaModuloCargaHoraria is defined  %}   
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="pull-left">
                    <span class="media-heading block mb-0 h4 text-white">Participante:<strong>{{ listaModuloCargaHoraria[0]['participante'] }}</strong></span>
                    <span class="text-white h6"> Carga horaria cumplida: <strong>{{ total_horas[0]['total_horas'] }} Hrs.</strong> </span>
                
            </div>
            {# <div class="pull-right text-right">
                <span class="media-heading block mb-0 h4 text-white"><strong>{{ listaModuloCargaHoraria[0]['especialidad'] }}</strong></span>
                <span class="text-white h6"> {{ listaModuloCargaHoraria[0]['acreditacion'] }} </span>
            </div> #}
            <div class="clearfix"></div>
        </div>
        <div class="panel-body no-padding">              
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center border-right">No.</th>                        
                        <th class="text-center">Módulo</th>
                        <th class="text-center">Calificación</th>                        
                        <th class="text-center">Carga horaria</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for moduloHoras in listaModuloCargaHoraria %}
                        <tr>
                            <td class="text-center border-right">{{ loop.index }}</td>                          
                            <td class="text-center">{{ moduloHoras.modulo }}</td>
                            <td class="text-center">{{ moduloHoras.nota_cuantitativa }}</td>
                            <td class="text-center">{{ moduloHoras.horas_modulo }}</td>                           
                        </tr>  
                    {% endfor %}         
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
