{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
{% endblock %}
{% block contentoption%}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Unidades Educativas en Proceso de Apertura
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="index.html">U.E. No Acreditadas</a>
                    </li>
                    <li class="active">Lista </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag().get('warning') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>U.E en Proceso de Apertura</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="{{ path('sie_ienoacreditadas_new') }}" class="btn btn-xs  btn-info">Nuevo </a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinfoestudiante"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinfoestudiante" class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <div id="no-more-tables">

                            <table id="myTable" class="table table-bordered table-hover cf dataTable">

                                <thead class="">
                                    <tr class="">
                                        <!--th>Id</th-->
                                        <th>Institucioneducativa</th>
                                        <th>Dependencia tipo</th>
                                        <th>Org. Curricular tipo</th>
                                        <th >Opción</th>
                                        <th >Opción</th>
                                        <th >Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            <!--td data-title="Id"><a href="{{ path('sie_ienoacreditadas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td-->
                                            <td >{{ entity.institucioneducativa }}</td>
                                            <td >{{ entity.dependenciaTipo }}</td>
                                            <td >{{ entity.orgcurricularTipo }}</td>
                                            <!--td data-title="Acciones">
                                                <a href="{{ path('sie_ienoacreditadas_show', { 'id': entity.id }) }}">show</a>
                                            </td-->
                                            <td>
                                                <a href="{{ path('sie_ienoacreditadas_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> editar</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('sie_ienoacreditadas_list', { 'id': entity.id }) }}"><i class="fa fa-book"></i> Listar</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('sie_ienoacreditadas_delete', { 'id': entity.id }) }}" onclick="javascript:if (confirm('Esta seguro de Eliminar la Unidad Educativa')) {
                                                            return true;
                                                        } else {
                                                            return false;
                                                        }
                                                   "><i class="fa fa-times"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


