{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
{% endblock %}
{% block contentoption%}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Unidades Educativas en Proceso de Apertura
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('sie_ienoacreditadas')}}">U.E. No Acreditadas</a>
                    </li>
                    <li class="active">Lista Estudiante </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag().get('warning') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag().get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Bien!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>U.E no Acreditadas</h4>
                    </div>
                    <div class="portlet-widgets">

                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinfoestudiante"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinfoestudiante" class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <div id="no-more-tables">

                            <table id="myTable" class="table table-bordered table-hover cf dataTable">

                                <thead class="">
                                    <tr class="">
                                        <th>No.</th>
                                        <th>CI</th>
                                        <th>Paterno</th>
                                        <th>Materno</th>
                                        <th>Nombres(s)</th>
                                        <th>Género</th>
                                        <th>Fecha Nacimiento</th>
                                        <th>Nivel</th>
                                        <th>Grado</th>
                                        <th>Paralelo</th>
                                        <th>turno</th>
                                        <th >Actions</th>
                                        <th >Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            <td >{{loop.index}}</td>
                                            <td >{{ entity.carnetIdentidad }}</td>
                                            <td >{{ entity.paterno }}</td>
                                            <td >{{ entity.materno }}</td>
                                            <td >{{ entity.nombre }}</td>
                                            <td >
                                                {% if entity.generoTipoId==1%}
                                                    MASCULINO
                                                {%else%}
                                                    FEMENINO
                                                {%endif%}
                                            </td>
                                            <td >{{entity.fechaNacimiento | date('d-m-Y')}}</td>
                                            <td> {{entity.nivel}}</td>
                                            <td> {{entity.grado}}</td>
                                            <td> {{entity.paralelo}}</td>
                                            <td> {{entity.turno}}</td>
                                            <td>
                                                <form action="{{path('sie_ienoacreditadas_editstudent')}}" style="display: inline-block" method="post">
                                                    <input type="hidden" name="form[id]" id="form_id" value="{{ entity.id }}">
                                                    <input type="hidden" name="form[idie]" id="form_idie" value="{{ entity.ienoacreditada }}">
                                                    <button type="submit" class="btn-link" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i> Editar</button>
                                                </form>
                                            </td>

                                            <td>
                                                <a href="{{ path('sie_ienoacreditadas_deletestudent', { 'id': entity.id }) }}" class="btn-link" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="javascript:if (confirm('Esta seguro de Eliminar la Unidad Educativa')) {
                                                            return true;
                                                        } else {
                                                            return false;
                                                        }
                                                   "><i class="fa fa-times"></i> Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{{path('sie_ienoacreditadas')}}" class="btn btn-link"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Volver</a>
        </div>
    </div>
{% endblock %}
