{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}

	{#
	<!--Modal registrar inscripción0
	<div class="modal fade" id="modal-create-inscription" tabindex="-1" role="dialog" aria-labelledby="modal-crear-inscripcion">
		<form action="#" method="POST" class="form-create-inscription">
			<input type="hidden" name="token" value="{{ csrf_token('form-create-inscription') }}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modal-crear-inscripcion">Registrar inscripción</h4>
					</div>
					
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div class="row" style="padding-top:1rem">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">Gestión:</label>
											<div class="col-xs-12 col-sm-9">
												<select name="register_gestion" id="register_gestion" class="form-control" required>
													<option></option>
													{% for y in range(2020,2009) %}
													<option value="{{y}}">{{y}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">SIE:</label>
											<div class="col-xs-12 col-sm-9">
												<input type="text" class="form-control" name="register_sie" id="register_sie" required>
											</div>
										</div>
									</div>
								</div>

								<div class="row" style="padding-top:1rem">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">Nivel:</label>
											<div class="col-xs-12 col-sm-9">
												<input type="text" class="form-control" name="register_nivel" id="register_nivel" required>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">Grado:</label>
											<div class="col-xs-12 col-sm-9">
												<input type="text" class="form-control" name="register_grado" id="register_grado" required>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="padding-top:1rem">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">Paralelo:</label>
											<div class="col-xs-12 col-sm-9">
												<input type="text" class="form-control" name="register_paralelo" id="register_paralelo" required>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<label class="col-xs-12 col-sm-3 control-label">Turno:</label>
											<div class="col-xs-12 col-sm-9">
												<input type="text" class="form-control" name="register_turno" id="register_turno" required>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success btn-create-inscription">Registrar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	-->
	#}

	{% block modalRegistrarNotas %}{% endblock %}
	{#
	<!--Modal registrar notas
	<div class="modal fade" id="modal-register-grade" tabindex="-1" role="dialog" aria-labelledby="modal-registrar-notas">
		<form action="#" method="POST" class="form-register-grade" onsubmit="...">
			<input type="hidden" name="token" value="{{ csrf_token('form-register-grade') }}">
			<input type="hidden" name="inscription_id" id="inscription_id" class="inscription-id" value="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modal-registrar-mostas">Registrar notas</h4>
					</div>
					
					<div class="modal-body">
						<div class="div-add-grade"></div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success btn-register-grade">Registrar/Actualizar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	#}

	<div class="header-content">
		<h2><i class="fa fa-list-alt"></i> Detalle Solicitudes recibidas <span> Estudiantes post bachillerato</span></h2>
		<div class="breadcrumb-wrapper hidden-xs">
			<span class="label">Usted esta aquí:</span>
			<ol class="breadcrumb">
				<li>
					<a href="#">Estudiantes post bachillerato</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">Detalle solicitudes recibidas</a>
					<i class="fa fa-angle-right"></i>
				</li>
			</ol>
		</div><!-- /.breadcrumb-wrapper -->
	</div>

	<div class="body-content animated fadeIn">
		<div class="row" style="padding-top:1rem">
			<div class="col-lg-12">
				<div class="panel panel-icon panel-primary">
					<div class="panel-heading yearOld">
						<div class="pull-left">
							<h3 class="panel-title">Detalle solicitud recibida</h3>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="panel-body panel-primary">
							<div class="div-form-">

								{% if estudiante %}
								<div class="container-fluid-">
									{#
									<div class="row" style="padding-top:1rem">
										<div class="col-xs-12">
											<a href="#" class="btn btn-success">Ver Historial</a>
										</div>
									</div>
									#}

									<div class="row" style="padding-top:1rem">
										<div class="col-xs-12">
											<fieldset>
												<legend>Datos del estudiante<p class="bg-danger"></p></legend>
												<div class="panel-body">      
													<table class="table table-condensed table-bordered" style="background:#EEEEEE">
														<tr>
															<th>Codigo Rude</th><td style="color:#0086DD"><strong>{{estudiante.codigoRude}}</strong></td>
														</tr>
														<tr>
															<th>Nombre(s)</th><td>{{estudiante.nombre}}</td>
														</tr>
														<tr>
															<th>Apellido Paterno</th><td>{{estudiante.paterno}}</td>
														</tr> 
														<tr>
															<th>Apellido Materno</th><td>{{estudiante.materno}}</td>
														</tr>
														<tr>
															<th>Carnet de Identidad</th><td>{{estudiante.carnetIdentidad}}{% if estudiante.complemento %} - {{estudiante.complemento}}{% endif %}</td>
														</tr>
														<tr>
															<th>Género</th><td>{{estudiante.generoTipo}}</td>
														</tr>
														<tr>
															<th>Fecha de Nacimiento</th><td>{{estudiante.fechaNacimiento|date('d-m-Y')}}</td>
														</tr>
														<tr>
															<th>Lugar de Nacimiento</th><td>{{estudiante.localidadnac}}</td>
														</tr>
													</table>
												</div>
											</fieldset>
										</div>
									</div>
									{# <div class="row" style="padding-top:1rem">
										<div class="col-xs-12">
											<fieldset>
												<legend>Datos del estudiante</legend>
													<div class="row" style="padding-top:1rem">
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">Nombre(s):</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.nombre}}</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">Materno:</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.materno}}</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">Paterno:</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.paterno}}</div>
																</div>
															</div>
														</div>
													</div>
													<br>
													<div class="row" style="padding-top:1rem">
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">R.U.D.E.:</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.codigoRude}}</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">C.I.:</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.carnetIdentidad}} {{estudiante.complemento}}</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<div class="form-group">
																<label class="col-xs-12 col-sm-3 control-label">F. Nacimiento:</label>
																<div class="col-xs-12 col-sm-9">
																	<div class="form-control">{{estudiante.fechaNacimiento|date('d/m/Y')}}</div>
																</div>
															</div>
														</div>
													</div>
											</fieldset>
										</div>
									</div> #}

									{% block seccionTablaInscripciones %}{% endblock %}
									{#
									<!--Tabla inscripcion-->
									<div class="row" style="padding-top:1.5rem">
										<div class="col-xs-12 table-responsive ">
											<table class="table table-striped">
												<thead>
													<tr>
														<th>#</th>
														<th>Inscripción</th>
														<th>Gestión</th>
														<th>Nivel</th>
														<th>Grado</th>
														<th>Paralelo</th>
														<th>Turno</th>
														<th width="5%" colspan="2"></th>
													</tr>
												</thead>
												<tbody class="tbody-subject-assignment">
													{% for m in regularizacion_materias_inscritas %}
													<tr class="regularizacion-materias-inscritas-{{m.id}}">
														<th scope="row">{{m.id}}</th>
														<td>Inscripción {{m.id}}</td>
														<td class="data-gestion">{{m.gestion}}</td>
														<td class="data-nivel">{{m.nivel}}</td>
														<td class="data-grado">{{m.grado}}</td>
														<td class="data-paralelo">{{m.paralelo}}</td>
														<td class="data-turno">{{m.turno}}</td>
														<td><button type="button" class="btn btn-primary btn-xs btn-open-modal-register-grade" data-inscription={{m.id}} onclick="abrirModalRegistrarCalificaciones(this)">Ver notas</button></td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div><!--FIN Tabla inscripcion-->
									#}

									{# Aqui se enviara el array de archivos adjuntos #}
									{% block seccionArchivosAdjuntos %}{% endblock %}

									<form action="#" method="POST" class="form-send-request">
									<input type="hidden" name="token" value="{{ csrf_token('form-send-request') }}">
									
									{% block seccionCreacionYSubidaDelInforme %}{% endblock %}

									{% block seccionAsignarUe %}{% endblock %}

									{% block seccionAceptarORechazar %}{% endblock %}

									{% block seccionBtnEnviar %}{% endblock %}

									</form>

								</div>
								{% else %}
								<div class="container-fluid">
									<div class="row" style="padding-top:1rem">
										<div class="col-xs-12">
											No existe resultados
										</div>
									</div>
								</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}


{% block javascripts%}
	{{ parent() }}
	<script type="text/javascript" >

	</script>
{% endblock %}

