{% extends 'layoutFixture.html.twig' %}
{% block contentoption %}
    <div class="row">
            <div class="col-lg-12" style="text-align:center; color:#fff; margin: 0px 0px 0px 5px; height:320px; background-color: rgba(7,11,40,0.3);">  
                <div class="row">  
                    <div class="carousel" >
                        <div id="carousel_1" class="carousel_content carousel_inner">
                            <div class="carousel_box">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2">
                                        <font class="titulo_central3" style="font-size: 27px;">
                                             MEDALLERO&nbsp;-&nbsp;(1er al 5to Lugar)
                                        </font>
                                        <table class="" style="font-size: 25px; text-align:center;">
                                            <tr>
                                                <td width="50px" style="text-align:center;">
                                                     <font class="titulo_central2_b" style="font-size: 23px;">
                                                         #
                                                    </font>
                                                </td>
                                                <td width="300px" style="text-align:center;">
                                                     <font class="titulo_central2_b" style="font-size: 23px;">
                                                         DEPARTAMENTO
                                                    </font>
                                                </td>
                                                <td width="100px" style="text-align:center;">
                                                     <font class="titulo_central2_b" style="font-size: 23px;">
                                                         ORO
                                                    </font>
                                                </td>
                                                <td width="100px" style="text-align:center;">
                                                     <font class="titulo_central2_b" style="font-size: 23px;">
                                                         PLATA
                                                    </font>
                                                </td>
                                                <td width="120px" style="text-align:center;">
                                                     <font class="titulo_central2_b" style="font-size: 23px;">
                                                         BRONCE
                                                    </font>
                                                </td>
                                            </tr> 
                                            <tr><td>1</td><td>COCHABAMBA</td>   	<td>2</td>   <td>1</td>   <td>1</td></tr>
                                            <tr><td>2</td><td>ORURO</td>         	<td>1</td>   <td>1</td>   <td>1</td></tr>
                                            <tr><td>3</td><td>POTOSI</td>       	<td>1</td>   <td>1</td>   <td>0</td></tr>
                                            <tr><td>4</td><td>TARIJA</td>   		<td>0</td>   <td>1</td>   <td>1</td></tr>
                                            <tr><td>5</td><td>CHUQUISACA</td>       <td>0</td>   <td>0</td>   <td>1</td></tr>
                                        </table>
                                    </div>
                                </div>                    
                            </div>    
                            <div class="carousel_box">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2">
                                        <font class="titulo_central3" style="font-size: 27px;">
                                             MEDALLERO&nbsp;-&nbsp;(6to al 9no Lugar)
                                        </font>
                                            <table class="" style="font-size: 25px; text-align:center;">
                                                <tr>
                                                    <td width="50px" style="text-align:center;">
                                                         <font class="titulo_central2_b" style="font-size: 23px;">
                                                             #
                                                        </font>
                                                    </td>
                                                    <td width="300px" style="text-align:center;">
                                                         <font class="titulo_central2_b" style="font-size: 23px;">
                                                             DEPARTAMENTO
                                                        </font>
                                                    </td>
                                                    <td width="100px" style="text-align:center;">
                                                         <font class="titulo_central2_b" style="font-size: 23px;">
                                                             ORO
                                                        </font>
                                                    </td>
                                                    <td width="100px" style="text-align:center;">
                                                         <font class="titulo_central2_b" style="font-size: 23px;">
                                                             PLATA
                                                        </font>
                                                    </td>
                                                    <td width="120px" style="text-align:center;">
                                                         <font class="titulo_central2_b" style="font-size: 23px;">
                                                             BRONCE
                                                        </font>
                                                    </td>
                                                </tr>
												<tr><td>6</td><td>SANTA CRUZ</td>   <td>0</td>   <td>0</td>   <td>0</td></tr>
                                                <tr><td>7</td><td>BENI</td>   		<td>0</td>   <td>0</td>   <td>0</td></tr>
                                                <tr><td>8</td><td>LA PAZ</td>       <td>0</td>   <td>0</td>   <td>0</td></tr>
                                                <tr><td>9</td><td>PANDO</td>        <td>0</td>   <td>0</td>   <td>0</td></tr>
                                            </table>
                                    </div>
                                </div>                    
                            </div>                       
                            
							





							
							
							
							
							
							
							<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
TUPIZA JAIME MENDOZA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE SHINAHOTA B
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JOSE NAVAL MONZON
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SANTA ANA KM 100
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
VICTORIA DIEZ
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
REPUBLICA DE MEXICO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
CARLA LOAYZA GUZMAN
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANICETO ARCE
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 9:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JAIME DE SUDAÑEZ
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/cochabamba.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
COCHABAMBA 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
BUENAS NUEVAS
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 9:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
HUMBERTO VASQUEZ
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/cochabamba.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
COCHABAMBA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ESPAÑA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE SHINAHOTA B
</BR></font><font class="titulo_central2_a">
11/2/2016 - 9:30:00 AM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/pando.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
PANDO 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
PUERTO RICO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
HNO. FELIPE PALAZON
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CANCHA MARIPOSAS (PUERTO VILLARROEL)
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ITAHO CHOQUECOTA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
AMERINST
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO MUNICIPAL DE SHINAHOTA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JOSE MANUEL BARRIO FERNANDEZ
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
MADRE SETON
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
T.A.C. CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SANTA ANA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
MARANATHA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
LA SALLE
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
NUESTRA SEÑORA DE FATIMA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE IVIRGARZAMA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/cochabamba.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
COCHABAMBA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
TUPAC KATARI
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANTONIO CARVALHO UREY
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CHIPIRIRI VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
12 DE ABRIL
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
NACIONAL BOLIVIA CHALLAPATA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN ANTONIO DE PADUA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/pando.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
PANDO 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
GONZALO MORENO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 5:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANTONIO DIAZ VILLAMIL
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/cochabamba.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
COCHABAMBA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANTONIO MARIA CLARET
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE IVIRGARZAMA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JUAN MANUEL CALERO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
RAFAEL BUSTILLO A
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CHIPIRIRI VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN LUIS DISPERSA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
DEFENSORES DEL CHACO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CANCHA MARIPOSAS (PUERTO VILLARROEL)
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:10:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
VIRGEN DEL MAR
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAINT GEORGE
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO MUNICIPAL DE SHINAHOTA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:10:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN IGNACIO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAGRADO CORAZON
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
T.A.C. CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:10:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
AVE MARIA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ELIM II
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 6:10:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
EUGENIA RAVASCO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
TOMACHI
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE IVIRGARZAMA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
FRAY. QUEBRACHO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/pando.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
PANDO 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
EBEN - EZER
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CHIPIRIRI VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANTOFAGASTA DE CHALLAPATA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JOSE MANUEL PANDO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JUAN BAUTISTA COIMBRA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JUAN MISAEL  SARACHO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
ESTADIO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
9 DE ABRIL VILLAZON
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
EL CEDRO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CANCHA MARIPOSAS (PUERTO VILLARROEL)
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:20:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JUAN PABLO II
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SANTA ANA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO MUNICIPAL DE SHINAHOTA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:20:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
LLALLAGUA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/pando.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
PANDO 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
INSTITUTO AMERICANO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
T.A.C. CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:20:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN BERNARDO DE TARIJA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/pando.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
PANDO 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
EBEN - EZER
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
DAMAS
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 7:20:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SANTA MARIA
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
GABRIEL RENE MORENO
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE IVIRGARZAMA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
NATIONAL SCHOOL
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
NACIONAL JUNIN
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
FUTBOL SALA
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CHIPIRIRI VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:00:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/santacruz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
SANTA CRUZ 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
J. MARIA SCHOOL
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/potosi.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
POTOSI 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
PICHINCHA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
CANCHA MARIPOSAS (PUERTO VILLARROEL)
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:30:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN CALIXTO
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/chuquisaca.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
CHUQUISACA 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
JAIME DE SUDAÑEZ
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
BALONCESTO
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO MUNICIPAL DE SHINAHOTA
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:30:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/oruro.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
ORURO 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ALEMAN
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/beni.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
BENI 2</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ANDRES ALBERDY SALEGUI
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
T.A.C. CHIMORE
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:30:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 2
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
ISMAEL MONTES
</font></div>
</div>
</div>
</div>                    
</div>
<div class="carousel_box">
<div class="row">
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/lapaz.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
LA PAZ 1</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
SAN ANTONIO DE PADUA
</font></div>
</div>
</div>
<div class="col-lg-4"><div class="row"><font class="titulo_central3">
VOLEIBOL
</BR></font><font class="titulo_central3_a">
VARONES
</BR></font></div><div class="row"><font class="titulo_central2_c">
-
</font>&nbsp;&nbsp;-&nbsp;&nbsp;<img src="{{ asset('img/vs.png') }}" style="width: 60px; height: 50px" />&nbsp;&nbsp;-&nbsp;&nbsp;<font class="titulo_central2_c">
-
</font></div><div class="row"><font class="titulo_central2">
COLISEO DE VILLA TUNARI
</BR></font><font class="titulo_central2_a">
11/2/2016 - 8:30:00 PM
</font></div></div>
<div class="col-lg-4 text-center">
<div class="row">
<div class="col-lg-12">
<img src="{{ asset('img/tarija.png') }}" style="width: 120px; height: 100px" />
</div>
<div class="col-lg-12"><font class="titulo_central">
TARIJA 1
</font></div>
<div class="col-lg-12"><font class="titulo_central2_b">
LA SALLE CONVENIO
</font></div>
</div>
</div>
</div>                    
</div>





							
							
							

							
							
							
							
							
							
							
							
							
							
							
							
							
							
							












                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="text-align:center; color:#fff; margin: 10px 0px 0px 0px; height:450px;  background-color: rgba(7,11,40,0.3);"> 
                    <iframe id="ls_embed_1474847299" src="//livestream.com/accounts/10468276/events/3529933/player?width=560&height=300&enableInfoAndActivity=true&autoPlay=true&mute=false" width="500" height="440" frameborder="0" scrolling="no" allowfullscreen> </iframe>
            </div>

            <div class="col-lg-6" style="text-align:center; color:#fff; margin: 10px 0px 0px 0px; height:450px; background-color: rgba(7,11,40,0.3);"> 
                <div class="row">
                    <div class="carousel">
                        <div id="carousel_2" class="carousel_inner" style="margin: 0 auto; overflow: hidden; width: 500px;">                            
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/131.jpg') }}" style="width: 500px; height: 440px" /> </div>     
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/132.jpg') }}" style="width: 500px; height: 440px" /> </div>     
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/133.jpg') }}" style="width: 500px; height: 440px" /> </div>  
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/134.jpg') }}" style="width: 500px; height: 440px" /> </div>  
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/135.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/136.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/137.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/138.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/139.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/1310.jpg') }}" style="width: 500px; height: 440px" /> </div>    
                            </div>                          
                            <div class="carousel_box">
                                <div class="row"><img src="{{ asset('img/fotos_evento/1311.jpg') }}" style="width: 500px; height: 440px" /> </div>   
                            </div>                                                           
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}

