<div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<form action="" id="formNotas" onsubmit="registrarNotas(); return false">
        <input type="hidden" name="infoUe" id="infoUe" value="{{infoUe}}">
      	<input type="hidden" name="infoStudent" id="infoStudent" value="{{infoStudent}}">
        <div class="panel panel-danger">        
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Calificaciones del Estudiante</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body no-padding" id="modal-body">
            {% include 'SieHerramientaBundle:InfoEstudianteNotas:encabezadoNotas.html.twig' %}
            <h5 class="text-success" style="margin-left:10px">Calificaciones <span style="float:right; margin-right:10px; font-size:0.9em;">Gestion: {{inscripcion.institucioneducativaCurso.gestionTipo.gestion}} | <span style="color:#2D839A; font-size: 1em"> {% if app.session.get('roluser') in [7,8,10]  %} C{{notas.operativo }} {% else %} A{{notas.operativo}} {% endif %} </span> </span></h5>
            <div style="padding:0px 10px 0px 10px">
            {% include 'SieAppWebBundle:Services/Notas:'~ plantilla ~'.html.twig' with {'notas':notas, 'vista':vista} %}
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            {% if vista > 0 and inscripcion.estadomatriculaTipo.id in notas.estadosPermitidos %}
            {# {% if (vista > 0 and inscripcion.estadomatriculaTipo.id in notas.estadosPermitidos) or ((inscripcion.estadomatriculaTipo.id in [55]) and inscripcion.institucioneducativaCurso.gestionTipo.id == 2019 and notas.operativo == 4 and notas.nivel == 13) %} #}
	            <button type="submit" class="btn btn-theme">Guardar Cambios</button>
	        {% endif %}
        </div>
    </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
<script>

    var getLastStatus = function(idInscripcion){
       
      //get the values to reload
      infoStudent = $('#infoStudent').val();
      infoUe = $('#infoUe').val();
      $.ajax({
          type: 'post',
          url: Routing.generate('herramienta_StudentScore_updatestatus'),
          data: ({idInscripcion:idInscripcion}),
          beforeSend: function () {
          },
          success: function (data) {
            document.getElementById(data.idInscripcion).innerHTML = data.statusStudent;              
            // document.getElementById(data.idInscripcion).innerHTML = 'krlos';              
          },
          error: function (data) {

          }
      });

    };    

    var registrarNotas = function(){

    	var enviar = validarEnvioNotas();

        if(enviar == true){
	    	var formData = $('#formNotas').serialize();
		    $.ajax({
		        type: 'post',
		        url: Routing.generate('herramienta_StudentScore_create_update'),
		        data: formData,
		        beforeSend: function () {
		            $('#modal-body').empty();
		            $('.modal-footer').empty();
		            $('#modal-body').append("<div style='text-align:center; padding:10px; color:#6ECBFF; font-size:15px'><img src='{{asset('img/loading-sm.gif')}}'><br>Espere mientras se procesan los cambios...</div>");
		        },
		        success: function (data) {
                     
		            $('#modal').modal('hide');
                    setTimeout(function(){}, 2200);
                    document.getElementById(data.idInscripcion).innerHTML = data.statusStudent;
                    getLastStatus(data.idInscripcion);
		        },
		        error: function (data) {

		        }
		    });
		}
	}

	$(".jnumbersletters").keypress(function (key) {
        var key = key || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 97 || k > 122)//letras minusculas
            && (k < 65 || k > 90) //letras mayusculas
            && (k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
            && (k != 241) //ñ
             && (k != 209) //Ñ
             && (k != 32) //espacio
             && (k != 225) //á
             && (k != 233) //é
             && (k != 237) //í
             && (k != 243) //ó
             && (k != 250) //ú
             && (k != 193) //Á
             && (k != 201) //É
             && (k != 205) //Í
             && (k != 211) //Ó
             && (k != 218) //Ú
             && (k != 44) //coma ,
             && (k != 46) //punto .
            )
            return false;
    });
    var newSpeciality = function(){
      //get the values to reload
      infoStudent = $('#infoStudent').val();
      infoUe = $('#infoUe').val();
      $.ajax({
          type: 'post',
          url: Routing.generate('herramienta_infoEstudianteNotas_putspeciality'),
          data: ({infoStudent:infoStudent, infoUe:infoUe}),
          beforeSend: function () {
            $('#respSpeciality').empty();
              //$('#modal-body').empty();
              //$('.modal-footer').empty();
              //$('#modal-body').append("<div style='text-align:center; padding:10px; color:#6ECBFF; font-size:15px'><img src='{{asset('img/loading-sm.gif')}}'><br>Espere mientras se procesan los cambios...</div>");
          },
          success: function (data) {
            $('#respSpeciality').append(data);
              //$('#modal').modal('hide');
          },
          error: function (data) {

          }
      });

    };


    var saveSpecialityNew = function (infoUe, infoStudent) {

        var  specialityForm = $('#specialityFormId').serialize();
        var specialityId = $('#form_especialidad').val();
        var horas = $('#form_horas').val();
        var eInsId = $('#form_eInsId').val();
        if(confirm('Está seguro de registrar la especialidad?\nDespues de guardar no podrá realizar modificación a lo reportado.')){
          $('#modal').modal('hide');
            $.ajax({
                type: 'post',
                url: Routing.generate('herramienta_info_register_speciality_save'),
                data: ({specialityId: specialityId, horas: horas, eInsId: eInsId}),
                beforeSend: function () {
                  $('#modal').empty();
                },
                success: function (data) {
                  $('#modal').empty();
                  //$('#modal').append(data);
                  //location.reload(true);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }else{
          return false;
        }


     };


</script>
