{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">

        {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Administración Personal Administrativo', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Lista'} %}
        {% include 'SieHerramientaBundle:Principal:onlyview.html.twig'%}
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noSearch') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="modal fade in" id="myModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">¡Advertencia!</h4>
                            </div>
                            <div class="modal-body">
                                <p>La Unidad Educativa cuenta con más de un(a) Director(a), verifique esta información.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-danger">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Administrativos</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel-body panel-primary">
                            <div class="pull-right">
                                {% if activar_acciones and (app.session.get('lastOperativo') != 5) %}
                                    {# {% if app.session.get('roluser') != 20 %}
                                        <a href="{{path('herramienta_info_personal_adm_find')}}" id="nuevoA" name="nuevoA" class="btn btn-primary btn-md" style="display:inline-block"><i class="fa fa-user"></i> Nueva/o Administrativa/o</a>
                                    {% endif %} #}
                                {% endif %}
                                {% if personal_no_idioma is empty and personal_no_genero is empty and contador == 1 and personal is not empty and app.session.get('roluser') == 9 %}
                                    <form method ="POST" action="{{path('herramienta_info_personal_adm_ddjj')}}" name="form" id="form" style="display:inline-block" onsubmit="return validaDatos()">
                                          <input type="hidden" id="ddjjMaestro_sie" name="ddjjMaestro[sie]" value="{{institucion.id}}">
                                          <input type="hidden" id="ddjjMaestro_gestion" name="ddjjMaestro[gestion]" value="{{gestion}}">
                                          <input type="submit" class="btn btn-md btn-danger" value="Finalizar / Declaración Jurada"  onclick="return confirm('¿Está segura/o de continuar? Recuerde que posteriormente no podrá realizar más cambios hasta el siguiente operativo.')">
                                    </form>
                                {% endif %}
                                {% if not activar_acciones and habilitar_ddjj and (app.session.get('roluser') == 7 or app.session.get('roluser') == 10) and (app.session.get('lastOperativo') != 5) %}
                                    <div class="pull-right">
                                        <form method ="POST" action="{{path('herramienta_info_personal_adm_habilitar_ddjj')}}" name="form" id="form" style="display:inline-block" onsubmit="return validaDatos()">
                                              <input type="hidden" id="ddjjAdmHabilitar_sie" name="ddjjAdmHabilitar[sie]" value="{{institucion.id}}">
                                              <input type="hidden" id="ddjjAdmHabilitar_gestion" name="ddjjAdmHabilitar[gestion]" value="{{gestion}}">
                                              <input type="submit" class="btn btn-md btn-danger" value="Habilitar Declaración Jurada" onclick="return confirm('¿Está segura/o de continuar? Recuerde que se podrá volver a habilitar el operativo únicamente para las U.E. que aún no descargaron el archivo IGM.')">
                                        </form>
                                    </div>
                                {% endif %}
                                {% if not activar_acciones and (app.session.get('roluser') == 8 or app.session.get('roluser') == 7 or app.session.get('roluser') == 10) %}
                                    <div class="pull-right">
                                        <form method ="POST" action="{{path('herramienta_info_personal_adm_habilitar_ddjj')}}" name="form" id="form" style="display:inline-block" onsubmit="return validaDatos()">
                                              <input type="hidden" id="ddjjAdmHabilitar_sie" name="ddjjAdmHabilitar[sie]" value="{{institucion.id}}">
                                              <input type="hidden" id="ddjjAdmHabilitar_gestion" name="ddjjAdmHabilitar[gestion]" value="{{gestion}}">
                                              <input type="submit" class="btn btn-md btn-danger" value="Habilitar Declaración Jurada" onclick="return confirm('¿Está segura/o de continuar? Recuerde que se podrá volver a habilitar el operativo únicamente para las U.E. que aún no descargaron el archivo IGM.')">
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="callout callout-warning">
                                <strong>NOTA:</strong><br />
                                - Los datos de los Maestros han sido migrados. Por lo tanto, se solicita la corroboración de esta información.<br>
                                - La verificación y ratificación de estos datos son responsabilidad del director.<br>
                                - Podra editar la información, si corresponde.
                            </div>
                            {% if personal_no_idioma %}
                                <div class="callout callout-danger">
                                    <strong>¡Error!</strong> Debe registrar los idiomas para los administrativos resaltados en rojo. Ingese a la acción "Editar" por cada administrativo observado.
                                </div>
                            {% endif %}
                            {% if personal_no_genero %}
                                <div class="callout callout-danger">
                                    <strong>¡Error!</strong> Debe registrar el género para los administrativos resaltados en rojo. Ingese a la acción "Editar" por cada administrativo observado.
                                </div>
                            {% endif %}
                            {% if contador > 1 %}
                                <div class="callout callout-danger">
                                    <strong>¡Advertencia!</strong> La Unidad Educativa cuenta con más de un(a) Director(a), verifique esta información.
                                </div>
                            {% endif %}
                            {% if contador < 1 %}
                                <div class="callout callout-danger">
                                    <strong>¡Advertencia!</strong> La Unidad Educativa no cuenta con un(a) Director(a), verifique esta información.
                                </div>
                            {% endif %}
                            {% if not activar_acciones %}
                                <div class="callout callout-info">
                                    <strong>Bien!</strong> La Unidad Educativa finalizó el registro de la información del personal administrativo, puede generar el reporte las veces que se requiera.
                                </div>
                            {% endif %}
                            {% if not habilitar_ddjj and (app.session.get('roluser') == 7 or app.session.get('roluser') == 8 or app.session.get('roluser') == 10) %}
                                <div class="callout callout-danger">
                                    <strong>Técnicos SIE Nacionales, Departamentales y Distritales:</strong><br />
                                    - Se podrá volver a habilitar el operativo únicamente para las U.E. que aún no descargaron el archivo IGM.
                                </div>
                            {% endif %}
                            {% if personal is not empty %}
                                <div id="no-more-tables">
                                    <div class="clearfix"></div>
                                    <!--table class="table table-bordered table-hover cf dataTable" id="myTable"-->
                                    <table class="table table-primary">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Carnet de Identidad</th>
                                                <th>Paterno</th>
                                                <th>Materno</th>
                                                <th>Nombre(s)</th>
                                                <th>Función</th>
                                                <th>Formación</th>
                                                <th>Fecha Registro</th>
                                                <th>Fecha Modificación</th>
                                                <th>Observación</th>
                                                {% if app.session.get('roluser') != 20 %}
                                                    <th>Acciones</th>
                                                    <th>Es vigente</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for personal in personal %}
                                                {% set persona = personal.persona %}
                                                {% set formacion = personal.formacionTipo %}
                                                <tr {% if persona.id in personal_no_idioma|keys or persona.id in personal_no_genero|keys %}class="danger text-danger"{% endif %}>
                                                    <td data-title="N°">{{ loop.index }}</td>
                                                    <td data-title="Carnet">{{ persona.carnet }}{% if persona.complemento != null or persona.complemento != '' %}-{{persona.complemento}}{% endif %}</td>
                                                    <td data-title="Paterno">{{ persona.paterno }}</td>
                                                    <td data-title="Materno">{{ persona.materno }}</td>
                                                    <td data-title="Nombre(s)">{{ persona.nombre }}</td>
                                                    <td data-title="Función">{{ personal.cargoTipo }}</td>
                                                    <td data-title="Formación">{{ formacion.formacion }}</td>
                                                    <td data-title="FechReg">{% if personal.fechaRegistro %}{{ personal.fechaRegistro|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                                    <td data-title="FechMod">{% if personal.fechaModificacion %}{{ personal.fechaModificacion|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                                    <td data-title="Observacion" {% if persona.id in personal_no_idioma|keys or persona.id in personal_no_genero|keys %}class="text-danger"{% else %}class="text-success"{% endif %}>
                                                        {% if persona.id in personal_no_idioma|keys %}<i class="fa fa-fw fa-warning" aria-hidden="true"></i>No tiene idiomas{% else %}<i class="fa fa-fw fa-check" aria-hidden="true"></i>(Idiomas) Correcto{% endif %}<br />
                                                        {% if persona.id in personal_no_genero|keys %}<i class="fa fa-fw fa-warning" aria-hidden="true"></i>Corrija el género{% else %}<i class="fa fa-fw fa-check" aria-hidden="true"></i>(Género) Correcto{% endif %}
                                                    </td>
                                                    {% if app.session.get('roluser') != 20 %}
                                                        <td data-title="Acciones">
                                                            {% if activar_acciones and (app.session.get('lastOperativo') != 5) %}
                                                                <form action="{{path('herramienta_info_personal_adm_edit')}}" method="post" style="display:inline-block">
                                                                    <input type="hidden" name="idPersona" value="{{persona.id}}">
                                                                    <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                    <input type="hidden" name="gestion" value="{{gestion}}">
                                                                    <input type="hidden" name="idMaestroInscripcion" value="{{personal.id}}">
                                                                    <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                                                </form>
                                                                <form action="{{path('herramienta_info_personal_adm_delete')}}" method="post" style="display: inline-block" id="eliminarF" name="eliminarF">
                                                                    <input type="hidden" name="idPersona" value="{{persona.id}}">
                                                                    <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                    <input type="hidden" name="gestion" value="{{gestion}}">
                                                                    <input type="hidden" name="idMaestroInscripcion" value="{{personal.id}}">
                                                                    <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="fa fa-trash-o text-danger"></i> Eliminar</button>
                                                                </form>
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                        {% if (app.session.get('lastOperativo') != 5) %}
                                                            <form action="{{path('herramienta_info_personal_adm_es_vigente_administrativo')}}" method="post" style="display: inline-block">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <input type="hidden" name="idMaestroInscripcion" value="{{personal.id}}">
                                                                <input type="hidden" name="idCargo" value="{{personal.cargoTipo.id}}">
                                                                {% if personal.esVigenteAdministrativo %}
                                                                    <button type="submit" class="btn btn-success" onclick="return confirm('¿Está segura/o de continuar?');">Vigente</button>
                                                                {% else %}
                                                                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está segura/o de continuar?');">Definir como Vigente</button>
                                                                {% endif %}
                                                            </form>
                                                        {% endif %}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                No hay personal administrativo registrado
                            {% endif %}
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var cont = 0;
        function validaDatos() {
            cont++;
            $('#nuevoA').hide();
            $('#eliminar').hide();
        }
    </script>
{% endblock %}
