<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="text-primary">Educación Regular</h3>
    </div>
</div>
<div class="table-responsive">
    <div id="example-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <table id="example-table" class="table table-striped table-bordered table-hover table-green dataTable" aria-describedby="example-table_info">
      <thead>
        <tr role="row">
          <th class="text-center">Gestión</th>
          <th class="text-center">SIE</th>
          <th class="text-center">Unidad Educativa</th>
          <th class="text-center">Nivel</th>
          <th class="text-center">Grado</th>
          <th class="text-center">Paralelo</th>
          <th class="text-center">Turno</th>
          <th class="text-center">Estado Matrícula</th>
          {% if visible == true %}
            <th class="text-center">Acciones</th>
          {% endif %}
        </tr>
      </thead>

      <tbody role="alert" aria-live="polite" aria-relevant="all">
        {% for data in dataInscription %}
          <tr class = "success">
            <td>{{data.gestion_tipo_id_raep}}</td>
            <td>{{data.institucioneducativa_id_raep}}</td>
            <td>{{data.institucioneducativa_raep}}</td>
            <td>{{data.nivel_r }} </td>
            <td>{{data.grado_r}}</td>
            <td>{{data.paralelo_raep}}</td>
            <td>{{data.turno_raep}} </td>
            <td class="text-center">{{data.estadomatricula_fin_r}}</td>
            {% if visible == true %}
              <td class="text-center">
                <a href="#" onclick="seeNotaNew('{{data.estudiante_inscripcion_id_raep}}', '{{data.estudiante_id_raep}}', '{{data.gestion_tipo_id_raep}}', '1')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>