{% extends '::base.html.twig' %}

{% block body -%}
    <h1>OlimMateriaTipo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Materia</th>
                <td>{{ entity.materia }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechainsini</th>
                <td>{{ entity.fechaInsIni|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechainsfin</th>
                <td>{{ entity.fechaInsFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('olimmateriatipo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('olimmateriatipo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
