<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Código RUE:</th>
        <td>{{institucion.id}}</td>
    </tr>
    <tr>
        <th>Unidad Educativa:</th>
        <td>{{institucion.institucioneducativa}}</td>
    </tr>
    <tr>
        <th>Dependencia:</th>
        <td>{{institucion.dependenciaTipo|upper}}</td>
    </tr>
    <tr>
        <th>Distrito Educativo:</th>
        <td>{{institucion.leJuridicciongeografica.distritoTipo.distrito}}</td>
    </tr>
    <tr>
        <th>¿Llega alguna señal de internet a la Institución Educativa?:</th>
        <td>
            {% if iai.tieneInternet %}
                <p class="text-success"><strong>Sí, llega señal de inernet a la Institución Educativa.</strong></p>
                {% if internetDatos %}
                    <ul>
                        {% for dato in internetDatos %}
                            <li>{{ dato.accesoInternetProveedorTipo.proveedor }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <p class="text-danger"><strong>No llega señal de inernet a la Institución Educativa.</strong></p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>¿Llega alguna señal de televisión a la Institución Educativa?:</th>
        <td>
            {% if iai.tieneTv %}
                <p class="text-success"><strong>Sí, llega señal de televisión a la Institución Educativa.</strong></p>
                {% if tvDatos %}
                    <ul>
                        {% for dato in tvDatos %}
                            <li>{{ dato.accesoCanaltvTipo.canaltv }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <p class="text-danger"><strong>No llega señal de televisión a la Institución Educativa.</strong></p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>¿La Institución Educativa cuenta con "Plan de Emergencia Sanitaria"?:</th>
        <td>
            {% if iai.tieneEmergenciaSanitaria %}
                <p class="text-success"><strong>Sí, la Institución Educativa cuenta con plan de emergencia sanitaria.</strong></p>
                <p>Adjunto: <a href="/uploads/archivos/cobertura/{{institucion.id}}/{{iai.planEmergenciaSanitaria}}" target="_blank"><i class="fa fa-fw fa-2x fa-file-pdf-o"></i></a></p>
            {% else %}
                <p class="text-danger"><strong>La Institución Educativa no cuenta con plan de emergencia sanitaria.</strong></p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>¿La Institución Educativa cuenta con "Protocolo de Bioseguridad"?:</th>
        <td>
            {% if iai.tieneBioseguridad %}
                <p class="text-success"><strong>Sí, la Institución Educativa cuenta con protocolo de bioseguridad.</strong></p>
                <p>Adjunto: <a href="/uploads/archivos/cobertura/{{institucion.id}}/{{iai.protocoloBioseguridad}}" target="_blank"><i class="fa fa-fw fa-2x fa-file-pdf-o"></i></a></p>
            {% else %}
                <p class="text-danger"><strong>La Institución Educativa no cuenta con protocolo de bioseguridad.</strong></p>
            {% endif %}
        </td>
    </tr>
{# 
    <tr>
        <th>Cantidad de estudiantes sin síntomas de COVID-19 en la gestión 2020:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.sinSintomasF2020}}</li>
                <li>Varones: {{estudianteSalud.sinSintomasM2020}}</li>
                <li>Total: {{estudianteSalud.sinSintomasF2020 + estudianteSalud.sinSintomasM2020}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Cantidad de estudiantes enfermos con COVID-19 en la gestión 2020:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.enfermoF2020}}</li>
                <li>Varones: {{estudianteSalud.enfermoM2020}}</li>
                <li>Total: {{estudianteSalud.enfermoF2020 + estudianteSalud.enfermoM2020}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Cantidad de estudiantes fallecidos por COVID-19 en la gestión 2020:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.fallecidoF2020}}</li>
                <li>Varones: {{estudianteSalud.fallecidoM2020}}</li>
                <li>Total: {{estudianteSalud.fallecidoF2020 + estudianteSalud.fallecidoM2020}}</li>
            </ul>
        </td>
    </tr>
 #}    
    <tr>
        <th>Cantidad de estudiantes sin síntomas de COVID-19 en los ultimos 7 dias de la semana (nro. {{numberweek}})  del mes de {{munbermounth}}:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.sinSintomasF2021}}</li>
                <li>Varones: {{estudianteSalud.sinSintomasM2021}}</li>
                <li>Total: {{estudianteSalud.sinSintomasF2021 + estudianteSalud.sinSintomasM2021}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Cantidad de estudiantes enfermos con COVID-19 en los ultimos 7 dias de la semana (nro. {{numberweek}})  del mes de {{munbermounth}}:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.enfermoF2021}}</li>
                <li>Varones: {{estudianteSalud.enfermoM2021}}</li>
                <li>Total: {{estudianteSalud.enfermoF2021 + estudianteSalud.enfermoM2021}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Cantidad de estudiantes fallecidos por COVID-19 en los ultimos 7 dias de la semana (nro. {{numberweek}})  del mes de {{munbermounth}}:</th>
        <td>
            <ul>
                <li>Mujeres: {{estudianteSalud.fallecidoF2021}}</li>
                <li>Varones: {{estudianteSalud.fallecidoM2021}}</li>
                <li>Total: {{estudianteSalud.fallecidoF2021 + estudianteSalud.fallecidoM2021}}</li>
            </ul>
        </td>
    </tr>
</table>