{% extends app.session.get('layout') %}

{% block contentoption %}

    <div class="header-content">
        <h2><i class="fa fa-table"></i> Acceso a Internet <span>Institución Educativa</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Acceso a internet</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Resultado</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel rounded shadow panel-teal">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Información registrada</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>Código RUE:</th>
                                <td>{{institucion.id}}</td>
                            </tr>
                            <tr>
                                <th>Unidad Educativa:</th>
                                <td>{{institucion.institucioneducativa}}</td>
                            </tr>
                            <tr>
                                <th>Dependencia:</th>
                                <td>{{institucion.dependenciaTipo|upper}}</td>
                            </tr>
                            <tr>
                                <th>Distrito Educativo:</th>
                                <td>{{institucion.leJuridicciongeografica.distritoTipo.distrito}}</td>
                            </tr>
                            <tr>
                                <th>¿La Institución Educativa tiene acceso a internet?:</th>
                                <td>
                                    {% if iai.tieneInternet %}
                                        <p class="text-success"><strong>Sí, la Institución Educativa cuenta con acceso a internet.</strong></p>
                                        {% if datos %}
                                            <ul>
                                                {% for dato in datos %}
                                                    <li>{{ dato.accesoInternetProveedorTipo.proveedor }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        <p class="text-danger"><strong>La Institución Educativa no cuenta con acceso a internet.</strong></p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <a href="{{path('ie_acceso_internet_index')}}" class="btn btn-md btn-warning" style="display: inline-block;" onclick="return confirm('¿Está segura/o de continuar? La información no será registrada.');">Comenzar nuevamente</a>
                                    <form method ="POST" action="{{path('ie_acceso_internet_impresionDDJJ')}}" name="form" id="form" style="display: inline-block;">
                                        <input type="hidden" id="ddjjIAI_iai" name="ddjjIAI[iai]" value="{{iai.id}}">
                                        <input type="submit" class="btn btn-md btn-success" value="Confirmar registro" onclick="return confirm('¿Está segura/o de continuar? Recuerde que posteriormente no podrá realizar más cambios hasta el siguiente operativo.');">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}