<div class="container--fuild">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover table-bordered">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col" width="3%">#</th>
				      <th scope="col" width="5%">Estado</th>
				      <th scope="col" width="10%">Sie</th>
				      <th scope="col" width="67%">Unidad Educativa</th>
				      <th scope="col" width="8%">Tipo</th>
				      <th scope="col" width="7%">Fecha de cierre del Operativo</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for d in datos %}
				  		{% set periodoTipo = (periodo==1)?'Trimestre(s)':'Semestre(s) ' %}
				    <tr class="tr-estado-reporte-{{d.id}}">
				      <th scope="row">{{loop.index}}</th>
				      <td class="text-center td-estado-operativo">
				      	{% if d.estado_menu %}
				      		{#<span style="background-color:rgba(0,255,0,0.2);padding:2px;">Cerrado</span>#}
				      		<button type="button" onclick="abrirOperativo({{d.id}}); return false;" class="btn btn-success">Abrir Operativo</button>
				      	{% else %}
				      		<span style="background-color:rgba(255,0,0,0.2);padding:2px;">No cerrado</span>
				      	{% endif %}
				      </td>
				      <td>{{d.institucioneducativa_id_target}}</td>
				      <td>{{d.institucioneducativa}}</td>
				      <td>{{d.dependencia}}</td>
				      <td class="text-center">{{d.fecharegistro}}</td>
				    </tr>
				  	{% endfor %}
				  	{% if datos|length<=0 %}
				  		<tr>
				  			<td colspan="7">No existen datos con estos criterios de busqueda</td>
				  		</tr>
				  	{% endif %}
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

