{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}

    <div class="header-content">
        <h2><i class="fa fa-users"></i> Estudiante/Participante <span> Buscar estudiante, participante, ver historial.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-leaf"></i>
                    <a href="{{path('principal_web')}}">Bienvenida/o</a>
                    <i class="fa fa-angle-right"></i>
                </li>                    
                <li>
                    <i class="fa fa-th-large"></i>
                    <a href="{{path('herramienta_ceducativa_menu_principal')}}">Menu Principal</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    Estudiante/Participante
                    <i class="fa fa-angle-right"></i>
                <li>                                 
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>
    <!--/ End page header -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noSearch') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel rounded shadow panel-success">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Buscar Estudiante/Participante</h3>
                        </div>
                        <div class="pull-right">
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">

                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                        <div class="row">
                            <div class="col-md-4">
                                {{form_label(form.paterno)}}
                                {{form_widget(form.paterno)}}
                            </div>
                            <div class="col-md-4">
                                {{form_label(form.materno)}}
                                {{form_widget(form.materno)}}
                            </div>
                            <div class="col-md-4 form-group">
                                {{form_label(form.nombre)}}
                                {{form_widget(form.nombre)}}
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">{{form_widget(form.lookfor)}}</div>
                        </div>
                        {{form_end(form)}}
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- End of Website Stats Widget -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        //call the ajax function by krlos
        $('#form_lookfor').click(function () {

            if ($('#form_paterno').val().length == 0 && $('#form_materno').val().length == 0 && $('#form_nombre').val().length == 0) {
                alert('Debe introducir por lo menos Nombre y/o Apellido Paterno y/o Apellido Materno');
                return false
            }

        });

    </script>


{% endblock %}