    {% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-users"></i> Cursos y Alumnos <span>Lista de cursos y alumnos del centro de educación alternativa.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                    <li>
                        <i class="glyphicon glyphicon-leaf"></i>
                            <a href="{{path('principal_web')}}">Bienvenida/o</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <i class="fa fa-th-large"></i>
                            <a href="{{path('herramienta_ceducativa_menu_principal')}}">Menú Principal</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <i class="fa fa-child"></i>
                            Cursos y Alumnos
                        <i class="fa fa-angle-right"></i>
                    </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>
    {% if exist == 1 %}
        <div class="body-content animated fadeIn">
            <div class="row">
                <div id= "mengestioncurso" class="col-md-12">                    
                  {% for flashMessage in app.session.flashbag.get('deletecursomensaje') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}      
                </div>                
            </div>

            <div class="row">
                <div id= "mengestioncurso" class="col-md-12">                    
                  {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}      
                </div>                
            </div>

            <div class="row">
                <div id= "mengestioncurso" class="col-md-12">                    
                  {% for flashMessage in app.session.flashbag.get('newError') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}      
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <small>
                        <div class="tree well">

                            {# {% if (app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3')%}  #}
                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Cerrar Operativo Aprendizajes Especializados">
                                <button class="btn btn-lilac btn-xs btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="cerrarOperativoQuinto();">
                                    <i class="fa fa-unlock-alt"></i> Cerrar Operativo Aprendizajes Especializados
                                </button>
                            </div>
                            {# {% endif %} #}
                            
                            {% if ( app.session.get('roluser') == 8 ) %} 
                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Nuevo Curso">
                                    <button class="btn btn-lilac btn-xs btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="nuevoCurso();">
                                        <i class="fa fa-cubes"></i> Nuevo Curso
                                    </button>
                                </div>
                            {% endif %}
                            {% for turnoKey, dataTurno in aInfoUnidadEductiva %}
                                <ul>
                                    <li>
                                        <span><i class="icon-folder-open"></i>{{ turnoKey }}</span>
                                        <ul>
                                            {% for cicloKey, dataCiclo in dataTurno %}
                                                <li>
                                                    <span><i class="icon-minus-sign"></i>{{ cicloKey }}</span>
                                                    <ul>
                                                        {% for gradoKey, dataGrado in dataCiclo %}
                                                            <li>
                                                                <span><i class="icon-minus-sign"></i>{{ gradoKey }}</span>
                                                                <ul>
                                                                    {% for paraleloKey, dataParalelo in dataGrado %}
                                                                        <li>
                                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscritos">
                                                                                <a href="#" onclick="seeStudents('{{ dataParalelo.infoUe }}', {{dataParalelo.iecId}});">
                                                                                <span ><i class="icon-leaf"></i>
                                                                                    {{ paraleloKey }}
                                                                                </span>
                                                                                </a>
                                                                            </div>
                                                                            {% if (dataParalelo.nivelId == 15) and ((app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3'))%}
                                                                            {#{% if (app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3')%}#}
                                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscripción">
                                                                                <button class="btn btn-circle btn-lilac btn-stroke" data-toggle="" data-target="" onclick="getStudents('{{ dataParalelo.infoUe }}');">
                                                                                    <i class="fa fa-group"></i>
                                                                                </button>
                                                                            </div> 
                                                                            {% endif %}
                                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Áreas/Maestros">
                                                                                <button class="btn btn-circle btn-danger btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getAreas('{{ dataParalelo.infoUe }}');">
                                                                                    <i class="fa fa-group"></i>
                                                                                </button>
                                                                            </div>

                                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Modalidad">
                                                                                <button class="btn btn-circle btn-primary btn-stroke " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getDatosModalidad('{{dataParalelo.infoUe}}');">
                                                                                    <i class="fa fa-home"></i>
                                                                                </button>
                                                                            </div>                                                                            

                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </small>
                </div>
                <div class='col-md-8'>
                    <div id="idstudents"></div>
                </div>
            </div>
            <!--/div-->
            <!--/ End mail page -->
        </div>
    {% else %}
        {% if ( app.session.get('roluser') == 8 ) %}
        {# {% if (app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '3')%}  #}
            <div class="body-content animated fadeIn">
                <div class="row">
                    <div  class="col-md-12">                    
                        <button class="btn btn-lilac btn-xs btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="nuevoCurso();">
                            <i class="fa fa-cubes"></i> Nuevo Curso
                        </button>
                    </div>                
                </div>
            </div> 
        {# {% endif %} #}
        {% endif %}
    {% endif %} 
    
    <!-- Start body content -->
    <!--/ End body content -->
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" id="modal">

    </div><!-- /.modal -->
    <!--/ End body content -->
     <!-- Modal Casos Observados -->
     <div class="modal fade" id="modalCerrarOperativo" tabindex="-1" role="dialog" aria-labelledby="modalCerrarOperativoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                <div class="modal-header custom-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalCerrarOperativoLabel">Observaciones en el Cierre del Operativo </h4>
                </div>
                <div class="modal-body">
                    <!-- Contenido del formulario -->
                    <div id="resultadoobs"></div>
                </div>   
            </div>            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        /**
         * this is to the tree menu option
         * @returns {undefined}
         */
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Contraer');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Ampliar').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Contraer').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });

        // New curso show
        var nuevoCurso = function () {
            $.ajax({
                type: 'get',
                url: "{{ path('herramienta_curso_alternativa') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var cerrarOperativoQuinto = function () {
            Swal.fire({
                        title: '¿Cerrar el Operativo de Aprendizajes Especializados?',
                        text: "Esta seguro de cerrar el operativo para la modificación de Especialidades",
                        type: 'question',
                        html:
                            'Si acepta, se procesa/verfica el registro de ' +
                            '<BR>información..,  ',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, proceder',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            var imagen = '{{ asset("img/loading96.gif") }}';
            $.ajax({
                type: 'get',
                url: "{{ path('herramienta_curso_alternativa_cerrar_aprendizajes') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                  
                    var modalTitle = document.getElementById('modalCerrarOperativoLabel');
                                    var modalTitle = document.getElementById('modalCerrarOperativoLabel');
                                    if(data.sw_obs == false){
                                    Swal.fire({
                                    icon: 'success',
                                    title: 'Se cerró el operativo correctamente',
                                    showConfirmButton: true
                                    // timer: 1500
                                    })
                                    
                                    setInterval('window.location.reload()', 3000);

                                    }else{
                                        // Construimos la tabla con los datos recibidos en data.arrayobs
                                        var tableHtml = '<table class="table table-bordered"><thead><tr><th>Observaciones</th></tr></thead><tbody>';
                                        for (var i = 0; i < data.observacion.length; i++) {
                                            tableHtml += '<tr><td>' + data.observacion[i].observacion + '</td></tr>';
                                        }
                                        tableHtml += '</tbody></table>';

                                        // Mostramos la tabla en el div con id="resultado"
                                        $('#resultadoobs').html(tableHtml);
                                        $('#modalCerrarOperativo').modal('show');
                                    }

                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
                    })

        }

        var registerNameModIntEmer = function(nameModIntEmer, codMIE, infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe, nameModIntEmer: nameModIntEmer, codMIE:codMIE}),
                url: "{{ path('herramienta_alter_areas_registerNameModIntEmer') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    if(data.status){
                        seeStudents(infoUe);
                    }else{
                        return false;
                    }
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };
        var seeStudents = function (infoUe, iecId) {
            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe, iecId: iecId}),
                url: Routing.generate('herramienta_alter_info_estudianterequest_see_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    if(data.status){
                          bootbox.prompt({
                          // size: "small",
                          title: "Registrar Nombre del MÓDULO EMERGENTE",
                          callback: function(result){ /* result = String containing user input if OK clicked or null if Cancel clicked */
                            if(result){
                                registerNameModIntEmer(result, data.codMIE, infoUe)
                            }
                          }
                        })
                    }
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getAreas = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_alter_areas_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getStudents = function (infoUe) {
            $.ajax({
                type: 'get',
                /*data: ({iecId: iecId, nivel: nivel, sie: sie, gestion: gestion, grado: grado, paralelo: paralelo, turno: turno, ciclo: ciclo}),*/
                /*url: Routing.generate('inscription_ue_all_sie_get_students'),*/
                data: ({infoUe: infoUe}),
                url: Routing.generate('herramienta_alter_info_estudianterequest_get_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getDatosModalidad = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_modalidadCurso_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var doInscription = function () {
            var elem = document.getElementById('formStudentInscription').elements;
            var sw = true;

            for (var i = 0; i < elem.length; i++) {
                if (elem[i].type == 'checkbox')
                    if ((elem[i].checked))
                        sw = false;
            }
            if (sw) {
                alert('Tiene que seleccionar por lo menos una inscripción.');
                return false;
            }
            if(!$('#form_level').val()){
                alert('Tiene que seleccionar el NIVEL para realizar la inscripción.');
                return false;
            }
            if(!$('#form_etapa').val()){
                alert('Tiene que seleccionar el ETAPA para realizar la inscripción.');
                return false;
            }
            if(!$('#form_paralelo').val()){
                alert('Tiene que seleccionar el PARALELO para realizar la inscripción.');
                return false;
            }                      

            if(confirm('Esta seguro de realizar la inscripción?')){
              var formIns = $('#formStudentInscription').serialize();
              $.ajax({
                  type: 'post',
                  data: formIns,
                  url: Routing.generate('herramienta_alter_info_estudianterequest_inscription'),
                  beforeSend: function () {
                      $("#idstudents").empty();
                      $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                  },
                  success: function (data) {
                      $("#idstudents").empty();
                      $("#idstudents").append(data);
                  },
                  statusCode: {
                      500: function () {

                      },
                      404: function () {

                      }
                  }
              });
            }else{
              return false;
            }


        };
        var selectAllEle = function () {
            $("#checkAll").on("change", function () {
                $(this).closest("div").find("input:checkbox").prop("checked", $(this).prop("checked"));
            });

        };
        var getTurnos = function (nivel, sie, gestion, nivelname, key) {
            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_turnos'),*/
                url: "{{ path('herramienta_info_estudiante_get_turnos') }}",
                beforeSend: function () {
                    /* $("#idgrados").empty();
                     $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idgrados_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idgrados_" + key).empty();
                    $("#idgrados_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getParalelos = function (nivel, sie, gestion, turno, turnoname, nivelname, key) {

            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, turno: turno, turnoname: turnoname, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_paralelos'),*/
                url: "{{ path('inscription_ue_all_sie_get_paralelos') }}",
                beforeSend: function () {
                    /* $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idparalelos_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    /*$("#idstudents").empty();
                     $("#idparalelos").empty();*/
                    $("#idparalelos_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };


        var inscriptionWithRude = function (aData) {
            //alert(aData);
            //return false;
            $.ajax({
                type: 'post',
                data: ({aData: aData}),
                url: Routing.generate('herramienta_info_estudiante_with_rude'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };
        var doRudeInscription = function () {
            //get data send
            rude = $('#form_rude').val();
            dataInscription = $('#form_dataInscription').val();
            if (rude.length <= 0) {
                alert('Necesita introducir codigo Rude.');
                return false;
            }

            $.ajax({
                type: 'post',
                data: ({rude: rude, dataInscription: dataInscription}),
                url: Routing.generate('herramienta_info_estudiante_rude_inscription'),
                beforeSend: function () {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };

        var exeInscription = function () {
            //get data send
            dataInscription = $('#form_dataInscription').val();
            dataStudent = $('#form_dataStudent').val();

            $.ajax({
                type: 'post',
                data: ({dataStudent: dataStudent, dataInscription: dataInscription}),
                url: Routing.generate('inscription_ue_all_sie_exe_inscription'),
                beforeSend: function () {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };

        var getEtapa = function(levelId){
            var infoUeData = $('#form_infoUe').val();
            $.ajax({
                type: 'post',
                data: {'levelId':levelId,'infoUeData':infoUeData},
                url: Routing.generate('herramientalt_get_etapa'),
                beforeSend: function () {
                },
                success: function (data) {
                    
                    $("#form_etapa").empty();
                    $("#form_etapa").append('<option value="">Seleccionar</option>');
                    $.each(data.arrEtapa, function (i, value) {
                        $("#form_etapa").append('<option value="' + i + '">' + value + '</option>');
                    });
                    
                }
            });
        };

        
        var getParaleloIns = function(etapaId){

            var infoUeData = $('#form_infoUe').val();
            var levelId    = $('#form_level').val();

            $.ajax({
                type: 'post',
                data: {'etapaId':etapaId,'levelId':levelId,'infoUeData':infoUeData},
                url: Routing.generate('herramientalt_get_paraleloins'),
                beforeSend: function () {
                },
                success: function (data) {
                    //$("#answerid").empty();
                    //$("#answerid").append(data);

                    
                    $("#form_paralelo").empty();
                    $("#form_paralelo").append('<option value="">Seleccionar</option>');
                    $.each(data.arrParalelo, function (i, value) {
                        $("#form_paralelo").append('<option value="' + i + '">' + value + '</option>');
                    });
                    
                }
            });
        };        



    </script>
{%endblock%}
