<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->
    <!-- START @HEAD -->
        <head>
            <!-- START @META SECTION -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta name="description" content="Blankon is a theme fullpack admin template powered by Twitter bootstrap 3 front-end framework. Included are multiple example pages, elements styles, and javascript widgets to get your project started.">
            <meta name="keywords" content="admin, admin template, bootstrap3, clean, fontawesome4, good documentation, lightweight admin, responsive dashboard, webapp">
            <meta name="author" content="Djava UI">
            <link href="{{asset('favicon.ico')}}" rel="shortcut icon">
            <title>SIGED | Herramienta web</title>
            <!--/ END META SECTION -->

            <!-- START @FAVICONS -->
            <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
            <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
            <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
            <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
                        <!--/ END FAVICONS -->

            <!-- START @FONT STYLES -->
            <link href="http://fonts.googleapis.com/css?family=Oswald:700,400" rel="stylesheet">
            <!--/ END FONT STYLES -->
                        <!-- START @GLOBAL MANDATORY STYLES -->
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
            <!--/ END GLOBAL MANDATORY STYLES -->

            <!-- START @PAGE LEVEL STYLES -->
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/animate.css/animate.min.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/jasny-bootstrap-fileinput/css/jasny-bootstrap-fileinput.min.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css')}}" rel="stylesheet">
            <link href="{{asset('juegos/assets/global/plugins/bower_components/fuelux/dist/css/fuelux.min.css')}}" rel="stylesheet">
            <link href="{{asset('juegos/assets/global/plugins/bower_components/datatables/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
            
            <link href="{{asset('webherramienta/assets/commercial/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css')}}" rel="stylesheet">
            <!--/ END PAGE LEVEL STYLES -->

            <!-- START @THEME STYLES -->
            <link href="{{asset('webherramienta/assets/admin/css/reset.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/layout.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/components.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/plugins.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/themes/blue-gray.theme.css')}}" rel="stylesheet" id="theme">
            <link href="{{asset('webherramienta/assets/admin/css/custom.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/menuTree.css')}}" rel="stylesheet">
            
            <!--/ END THEME STYLES -->
            <link href="https://openlayers.org/api/theme/default/style.css" rel="stylesheet">

            <!-- START @IE SUPPORT -->
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="/webherramienta/assets/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
            <script src="/webherramienta/assets/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>
            <![endif]-->
            <!--/ END IE SUPPORT -->
            <link href="{{asset('bower_components/select2/dist/css/select2.min.css')}}" rel="stylesheet" />
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/jquery.gritter/css/jquery.gritter.css')}}" rel="stylesheet" />
            <link href="{{asset('css/plugins/bootstrap-datepicker/datepicker3.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
                integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                crossorigin=""/>
        </head>
    <!--/ END HEAD -->
    <body>
        <!--[if lt IE 9]>
        <p class="upgrade-browser">Upps!! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- START @WRAPPER -->
        <style>
            /* Tooltip */
            .msg + .tooltip > .tooltip-inner {
                background-color: #E9F9FC; 
                color: #01B1E1; 
                border: 1px solid #01B1E1; 
                padding: 15px;
            }
		
        </style>
        <section id="wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/images/logo-n-minedu-2021.png" alt="Ministerio de Educación" style="width:30%;">
                </div>
            </div>
            <!-- START @HEADER -->
            <header id="header">
                <!-- Start header left -->
                <div class="header">
                    <h4 align="center" style="color:grey">PROCESO DE INSTITUCIONALIZACIÓN DE CARGOS DIRECTIVOS DE LOS <br /> INSTITUTOS TÉCNICOS TECNOLÓGICOS Y ARTÍSTICOS DEL ESTADO PLURINACIONAL DE BOLIVIA 2020</h4>
                    <div class="clearfix"></div>
                </div><!-- /.header-left -->
            </header> <!-- /#header -->
            <div class="body-content animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('noSegip') %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class"col-md-12">
                        <div class="alert alert-warning text-center" role="alert">
                            Si usted ya realizó su registro, debe ingresar al siguiente enlace: <a href="{{path('institucionalizacion_index_print')}}" class="btn btn-link" target="_blank"> <i class="fa fa-print"></i> Generar formulario</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="panel" style="max-width:1000px;margin-left:auto;margin-right:auto;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <h3 class="panel-title">FORMULARIO DE INSCRIPCIÓN</h3>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div><!-- /.panel-heading -->
                                        {% if fin_inscripcion == true %}
                                        <div class="panel-body">                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-danger text-center" role="alert">
                                                        <h2><i class="fa fa-info-circle"></i></h2>
                                                        <h3>¡FINALIZÓ EL PLAZO PARA EL REGISTRO!</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                            {{ form_start(form,{ 'attr': {'id':'form','enctype':'multipart/form-data','onsubmit':'return validar();'}}) }}
                                                <div class="panel-body">                                            
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!-- Start basic wizard vertical -->
                                                            <div id="basic-wizard-vertical">
                                                                <div class="panel panel-tab panel-tab-double panel-tab-vertical rounded shadow">
                                                                    <!-- Start tabs heading -->
                                                                    <div class="panel-heading no-padding col-md-3">
                                                                        <ul class="nav nav-tabs nav-pills">
                                                                            <li class="active">
                                                                                <a href="#tab1-1" data-toggle="tab" aria-expanded="true">
                                                                                    <i class="fa fa-file-text"></i>
                                                                                    <div>
                                                                                        <span class="text-strong">DATOS PERSONALES</span>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="">
                                                                                <a href="#tab1-2" data-toggle="tab" aria-expanded="false">
                                                                                    <i class="glyphicon glyphicon-check"></i>
                                                                                    <div>
                                                                                        <span class="text-strong">DATOS ACADÉMICOS</span>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="">
                                                                                <a href="#tab1-3" data-toggle="tab" aria-expanded="false">
                                                                                    <i class="glyphicon glyphicon-home"></i>
                                                                                    <div>
                                                                                        <span class="text-strong">DATOS DE POSTULACIÓN</span>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div><!-- /.panel-heading -->
                                                                    <!--/ End tabs heading -->
                                                                    <!-- Start tabs content -->
                                                                    <div class="panel-body tab-content col-md-9">
                                                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h4 class="page-header">
                                                                                        DATOS PERSONALES<br>
                                                                                    </h4>
                                                                                    <div class="alert alert-info" role="alert">
                                                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                        <i class="fa fa-info-circle"></i> Tome en cuenta que la información que registre será validada con SEGIP
                                                                                    </div>
                                                                                    <span class="text-danger">(*) Campos obligatorios</span>
                                                                                    <div class="form-body">
                                                                                        <div class="row">
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.carnet) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    {{ form_widget(form.carnet) }}
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.complemento) }}
                                                                                                </div>
                                                                                                <div class="col-md-2">
                                                                                                    {{ form_widget(form.complemento) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.paterno) }}
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.paterno) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.materno) }}
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.materno) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.nombre) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.nombre) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.apellidoEsposo) }}
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.apellidoEsposo) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.genero) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_widget(form.genero, { 'attr': {'class': 'form-control'}  }) }}
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.fechaNacimiento) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_widget(form.fechaNacimiento, { 'attr': {'class': 'form-control calendario', 'style': 'text-transform:uppercase' }  }) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.nacionalidad) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.nacionalidad) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.direccion) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.direccion) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.telefono) }}
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_widget(form.telefono) }}
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.celular) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_widget(form.celular) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.correoElectronico) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    {{ form_widget(form.correoElectronico) }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h4 class="page-header">
                                                                                        DATOS ACADÉMICOS<br>
                                                                                    </h4>
                                                                                    <span class="text-danger">(*) Campos obligatorios</span>
                                                                                    <div class="form-body">
                                                                                        <div class="row">
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.licenciatura) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.licenciatura) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.tecnicoSuperior) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.tecnicoSuperior) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.especialidad) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.especialidad) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.diplomado) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.diplomado) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.maestria) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.maestria) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.doctorado) }}
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.doctorado) }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h4 class="page-header">
                                                                                        DATOS DE POSTULACIÓN<br>
                                                                                    </h4>
                                                                                    <span class="text-danger">(*) Campos obligatorios</span>
                                                                                    <div class="form-body">
                                                                                        <div class="row">
                                                                                            
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.departamento) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.departamento, { 'attr': {'class': 'form-control', 'onchange':'instituto(this.value)'}  }) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.instituto) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.instituto, { 'attr': {'class': 'form-control', 'onchange':'cargo(this.value)'}  }) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.cargo) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.cargo, { 'attr': {'class': 'form-control'}  }) }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group col-md-12">
                                                                                                <div class="col-md-3">
                                                                                                    {{ form_label(form.nroDeposito) }} <span class="text-danger">(*)</span>
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    {{ form_widget(form.nroDeposito, { 'attr': {'class': 'form-control'}  }) }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- /.panel-body -->
                                                                    <!--/ End tabs content -->
                                                                    <!--/ End pager -->
                                                                </div><!-- /.panel -->
                                                            </div><!-- /#basic-wizard-horizontal -->
                                                            <!--/ End basic wizard horizontal-->
                                                        </div>
                                                    </div></br>
                                                </div><!-- /.panel-body -->
                                                <div class="panel-footer">
                                                    <div class="form-group col-md-12 text-center">
                                                        {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                                                        <a href="{{path('institucionalizacion_index')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            {{ form_end(form) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <span id="copyright-year"></span> &copy; Ministerio de Educación
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.end panel -->  
                    </div>
                </div>
            </div>
        </section><!-- /#page-content -->
    </body>
<!--/ END PAGE CONTENT -->
<!--/ END BACK TOP -->            
    <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
    <!-- START @CORE PLUGINS -->
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-cookie/jquery.cookie.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/typehead.js/dist/handlebars.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/typehead.js/dist/typeahead.bundle.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery.sparkline.min/index.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-easing-original/jquery.easing.1.3.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/ionsound/js/ion.sound.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/bootbox/bootbox.js')}}"></script>

        <!-- Highcharts Charts -->
    <script src="{{asset('js/highcharts/highcharts.js')}}"></script>
    <script src="{{asset('js/highcharts/funnel.js')}}"></script>
    <script src="{{asset('js/highcharts/highcharts-3d.js')}}"></script>
    <script src="{{asset('js/highcharts/exporting.js')}}"></script>
    <!--/ END CORE PLUGINS -->

    <script src="{{asset('webherramienta/assets/commercial/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js')}}"></script>

    <!-- START @PAGE LEVEL PLUGINS -->
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jasny-bootstrap-fileinput/js/jasny-bootstrap.fileinput.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/holderjs/holder.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-autosize/jquery.autosize.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-validation/dist/jquery.validate.min.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/datatables/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/datatables/js/dataTables.bootstrap.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/fuelux/dist/js/fuelux.min.js')}}"></script>

    <!--/ END PAGE LEVEL PLUGINS -->

    <!-- START @PAGE LEVEL SCRIPTS -->
    <script src="{{asset('webherramienta/assets/admin/js/apps.js')}}"></script>
    <script src="{{asset('webherramienta/assets/admin/js/pages/blankon.form.element.js')}}"></script>
    <script src="{{asset('webherramienta/assets/admin/js/pages/blankon.form.validation.js')}}"></script>
    <script src="{{asset('webherramienta/assets/admin/js/demo.js')}}"></script>
    <script src="{{asset('webherramienta/assets/admin/js/menuTree.js')}}"></script>
    <!--/ END PAGE LEVEL SCRIPTS -->
    <!--/ END JAVASCRIPT SECTION -->


    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.min.js')}}"></script>

    <!-- START GOOGLE ANALYTICS -->
    <script>

    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{asset('bower_components/select2/dist/js/select2.min.js')}}"></script>
    <script src="{{asset('js/jquery.alphanum.js')}}"></script>
    <!--/ END GOOGLE ANALYTICS -->
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery.gritter/js/jquery.gritter.min.js')}}"></script>

    <script src="{{asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>

    <script src="{{asset('js/initialize.js')}}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{{asset('webprocesos/js/mapa.js')}}"></script>
    <!--/ END GOOGLE ANALYTICS -->     
        
    <script>
        
        $( document ).ready(function() {
            $.fn.datepicker.dates['es'] = {
                days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                format:'dd-mm-yyyy',
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('.date').datepicker({
                orientation: "auto left",
                forceParse: false,
                autoclose: true,
                todayHighlight: true,
                language: 'es'
            });
        });
        
        $('.date').keydown(function() {
            return false;
        });


        function instituto(idDepartamento) {
            $.ajax({
                type: 'get',
                url: Routing.generate('institucionalizacion_buscar_instituto', {'idDepartamento': idDepartamento}),
                beforeSend: function () {
                    $("#form_instituto").empty();
                    $("#form_instituto").append('<option value="">Buscando...</option>');
                    $("#form_cargo").empty();
                    $("#form_cargo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_instituto").empty();
                    $("#form_instituto").append('<option value="">Seleccionar...</option>');
                    $("#form_cargo").empty();
                    $("#form_cargo").append('<option value="">Seleccionar...</option>');
                    $.each(data.institutos, function (i, value) {
                        $("#form_instituto").append('<option value="' + i + '">' + value + '</option>');
                    });
                    
                }
            });
        }

        function cargo(idInstituto) {
            $.ajax({
                type: 'get',
                url: Routing.generate('institucionalizacion_buscar_cargo', {'idInstituto': idInstituto}),
                beforeSend: function () {
                    $("#form_cargo").empty();
                    $("#form_cargo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_cargo").empty();
                    $("#form_cargo").append('<option value="">Seleccionar...</option>');
                    $.each(data.cargos, function (i, value) {
                        $("#form_cargo").append('<option value="' + i + '">' + value + '</option>');
                    });
                    
                }
            });
        }

        function validar(){
            if(!confirm("Verifique los datos del formulario antes de enviar.")){
                return false;
            }else if($('#form_carnet').val()==''){
                alert('En el punto DATOS PERSONALES, debe ingresar el número de Carnet de Identidad.');
                return false;
            }else if($('#form_nombre').val()==''){
                alert('En el punto DATOS PERSONALES , debe ingresar el Nombre.');
                return false;
            }else if($('#form_nacionalidad').val()==''){
                alert('En el punto DATOS PERSONALES, debe ingresar la Nacionalidad.');
                return false;
            }else if($('#form_direccion').val()==''){
                alert('En el punto DATOS PERSONALES, debe ingresar la Dirección actual.');
                return false;
            }else if($('#form_celular').val()==''){
                alert('En el punto DATOS PERSONALES, debe ingresar el número de celular.');
                return false;
            }else if($('#form_correoElectronico').val()==''){
                alert('En el punto DATOS PERSONALES, debe ingresar el correo electrónico.');
                return false;
            }else if($('#form_departamento').val()<=0){
                alert('En el punto DATOS DE POSTULACIÓN, debe ingresar el Departamento.');
                return false;
            }else if($('#form_instituto').val()<=0){
                alert('En el punto DATOS DE POSTULACIÓN, debe ingresar el Intituto.');
                return false;
            }else if($('#form_cargo').val()<=0){
                alert('En el punto DATOS DE POSTULACIÓN, debe ingresar el Cargo.');
                return false;
            }else if($('#form_licenciatura').val()=='' && $('#form_tecnicoSuperior').val()=='' && $('#form_especialidad').val()=='' && $('#form_maestria').val()=='' && $('#form_diplomado').val()=='' && $('#form_doctorado').val()==''){
                alert('En el punto DATOS ACADÉMICOS, debe ingresar su Formación.');
                return false;
            }else if($('#form_nroDeposito').val()==''){
                alert('En el punto DATOS DE POSTULACIÓN, debe ingresar el número de depósito bancario.');
                return false;
            }
        }

        $('.calendario').datepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 'linked',
            language: 'es',
            autoclose: true
        });
            

    </script>
</body>
    <!--/ END BODY -->

</html>