{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                <section id="welcome" class="page-section">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Malla Curricular</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <blockquote>
                                        Unidad Educativa Plena
                                    </blockquote>
                                </div>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <blockquote>
                                        <ul class="list-unstyled">

                                            <li>Unidad Educativa: {{institucion.institucioneducativa}}</li>
                                            <li>SIE: {{institucion.id}}</li>
                                            <li>Gestión:  {{gestion}}</li>
                                        </ul>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <blockquote>
                                        <ul class="list-unstyled">

                                            <li>Area: {{dataSelected.area.facultadArea}}</li>
                                            <li>Especialidad: {{dataSelected.especialidad.especialidadEspecialidad}}</li>
                                            <li>Acreditación:  TÉNICO MEDIO</li>
                                        </ul>
                                    </blockquote>
                                </div>

                            </div>
                        </div>
                    </div>
                    <img src="../../../img/documentation/welcome/welcome-html.jpg" alt="getting started" class="img-responsive">
                </section>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <!-- Start input grid -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Crear Malla</h3>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                            <button class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove" data-original-title="" title=""><i class="fa fa-times"></i></button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">

                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form", 'class':'form-horizontal form-bordered', 'id':'setMateriaForm'} } )}}
                        <div class="form-body">

                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class=" control-label">{{form_label(form.bimestre)}}</label>
                                        {{form_widget(form.bimestre)}}
                                    </div>

                                    <div class="col-md-6">
                                        <label class="control-label">{{form_label(form.materia)}} </label>
                                        {{form_widget(form.materia)}}
                                    </div>

                                </div>
                            </div>

                        </div><!-- /.form-body -->
                        <div class="form-footer">
                            <div class="pull-right">
                                <!--button class="btn btn-danger mr-5">Cancel</button-->
                                {{form_widget(form.save)}}
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.form-footer -->
                        {{form_end(form)}}
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End input grid -->
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div id='materiaMalla'></div>
            </div>
        </div>


    </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * get the specilidades by area
         * @param {type} idSpecialidad
         * @returns {undefined} get specialidades
         */
        var getEspecialidad = function (idSpecialidad) {
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_mallacurricular_getspecilidad', {'idSpecialidad': idSpecialidad}),
                beforeSend: function () {
                },
                success: function (data) {
                    $("#form_especialidad").empty();
                    $("#form_especialidad").append('<option value="">Seleccionar</option>');
                    $.each(data.specialidades, function (i, value) {
                        $("#form_especialidad").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });

        };


        var setMateria = function () {
            //get the values
            var bimestre = $('#form_materia').val();
            if (!(bimestre.length > 0)) {
                alert('El campo Materia es obligatorio');
                return false;
            }

            var dataform = $('#setMateriaForm').serialize();
            $.ajax({
                type: 'post',
                data: dataform,
                url: Routing.generate('herramienta_mallacurricular_setMateria'),
                beforeSend: function () {
                },
                success: function (data) {
                    $('#materiaMalla').empty();
                    $('#materiaMalla').append(data);
                }
            });
            //alert('krlos');
//            return false;
        }
    </script>
{% endblock %}

