
	<div class="row">
        <div class="col-lg-12">
            {{form_start(form, { 'attr': {'role': "form", 'class': 'form-horizontal center', 'id': "formModificar"} } )}}
                {{ form_widget(form.info) }}
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(form.financiamiento, '', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        <div class="col-sm-8">
                        {{ form_widget(form.financiamiento, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    {{ form_widget(form.guardar, { 'label': 'Guardar y Finalizar', 'attr': {'class': 'form-control btn btn-default col-sm-12'} }) }}
                </div>
            {{form_end(form)}}
        </div>
    </div>      
	<script>
        $( "#formModificar" ).submit(function( event ) {
            var r = confirm("¿Desea guardar y finalizar la insconsistencia del maestro?");
            if (r == false) {
                return false;
            }
            var boton = $('#form_guardar');
            boton.hide();
            $.ajax({
                type: 'get',
                url: Routing.generate('maestroAsignacion_asignar_fuente_financiamiento_guarda'),
                data: $('#formModificar').serialize(),
                
                beforeSend: function () {
                    $("#formModificar").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                },
                success: function (data) {      
                    if (data.estado) {
                        alert("Correcto, "+data.msg);
                        botonListDetalle.remove();
                        $(".loading").remove();
                        $("#collapseThreeTitle").empty();
                        $("#collapseThreeBody").empty();
                        $('#solution').removeClass('visible').addClass('invisible');
                        $('#collapseTwo').removeClass('collapse').addClass('in');
                    } else {
                        alert("Error, "+data.msg);
                        boton.show();
                    }                    
                },
                error: function(error){ 
                    $(".loading").remove();
                    boton.show();
                    alert("Error, no fue posible realizar el registro, intente nuevamente");  
                },
            });    
            event.preventDefault();
        });

	</script>