<small>

  <div class="row">

                      <!-- Bordered Responsive Table -->
                      <div class="col-lg-12">
                          <div class="portlet portlet-blue">
                              <div class="portlet-heading">
                                  <div class="portlet-title">
                                      <h4>Estudiante</h4>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="portlet-body">
                                  <div class="table-responsive">
                                      <table class="table table-bordered">
                                          <thead>

                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <th>Código RUDE</th>
                                                  <td>{{datastudent.codigoRude}}</td>
                                              </tr>
                                              <tr>
                                                  <th>Nombre y Apellidos</th>
                                                  <td>{{datastudent.paterno|e}} {{datastudent.materno|e}} {{ datastudent.nombre|e }} </td>
                                              </tr>
                                              <tr>
                                                  <th>Fecha Nacimiento</th>
                                                  <td>{{datastudent.fechaNacimiento|date('d-m-Y')}}</td>
                                              </tr>
                                              <tr>
                                                  <th>Estado actual de Matrícula</th>
                                                  <td>{{dataInscription.estadomatriculaTipo}}</td>
                                              </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <!-- /.portlet -->
                      </div>
                      <!-- /.col-lg-6 -->

                      <!-- Hoverable Responsive Table -->
                      <div class="col-lg-12">
                          <div class="portlet portlet-orange">
                              <div class="portlet-heading">
                                  <div class="portlet-title">
                                      <h4>Realizar el cambio a:</h4>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="portlet-body">
                                  <div class="table-responsive">

                                      {{form_start(form, { 'attr':{'data-toggle':'validator','role':'form', 'class':'form' } } )}}
                                      <table class="table table-hover">
                                          <thead>

                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>{{form_widget(form.estadonew)}}</td>
                                              </tr>
                                              <tr>
                                                  <td>{{form_widget(form.verificar)}}</td>
                                              </tr>

                                          </tbody>
                                      </table>
                                        {{form_end(form)}}
                                  </div>
                              </div>
                          </div>
                          <!-- /.portlet -->
                      </div>
                      <!-- /.col-lg-6 -->

                  </div>

</small>
