<small>
    <div class="row">

        {% for flashMessage in app.session.flashbag.get('changestate') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Verificar!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

<form class="" action="index.html" method="post" id="formCambioEstadoNotasId">
{% if swverification %}
<input type='hidden' id="form_estadoNew" name="form[estadoNew]" value="{{estadoNew}}" class="form-control">
<input type='hidden' id="form_dataInfo" name="form[dataInfo]" value="{{dataInfo}}" class="form-control">
    {% if asignaturas is defined and asignaturas|length > 0 %}
        <div class="alert alert-info">
            Se detecto falta de calificaciones. Para poder realizar el cambio de estado debe registrar las calificaciones que faltan..
        </div>
        <h5>Notas Cuantitativas</h5>
        <table class="table table-bordered">
            <tr>
                <th>
                    Asignatura
                </th>
                {% for i in 1 .. operativo %}
                    <th>
                        {{ i }} Bimestre
                    </th>
                {% endfor %}
            </tr>
            <tbody>
                {% for a in asignaturas %}
                    <tr>
                        <td>
                            {{a.asignatura}}
                        </td>
                        {% for n in a.notas %}
                            {% if n.idEstudianteNota == 'nuevo' or n.nota == 0 or n.nota == "" %}
                                <td>
                                    <input type="hidden" name="idEstudianteNota[]" value="{{n.idEstudianteNota}}">
                                    <input type="hidden" name="idNotaTipo[]" value="{{n.notaTipo}}">
                                    <input type="hidden" name="idEstudianteAsignatura[]" value="{{n.idEstudianteAsignatura}}">
                                    {% if nivel == 11 %}
                                        <textarea class="cualitativas" name="nota[]" id="{{n.id}}" onkeypress="return validarNotaCualitativa(event,this.id,this.value)" pattern="[0-9A-Z]{1,200}" required autocomplete="off" style="text-transform: uppercase; width:150px" rows="4" minlength="15" maxlength="400">{{n.nota}}</textarea>
                                    {% else %}
                                        <input type="text" id="{{n.id}}" name="nota[]" value="{{n.nota}}" size="2" onkeypress="return validarNota(event,this.id,this.value)" onkeyup="validarNota1(this.id,this.value)" class="form-control input-sm nota" style="width:50px" maxlength="3" autocomplete="off">
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    {{n.nota}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cualitativas is defined and cualitativas|length > 0 %}
        <h5 class="text-warning">Notas cualitativas</h5>
        <table class="table">
            <tr>
                <th>
                    Bimestre
                </th>
                <th>
                    Valoración Cualitativa
                </th>
            </tr>
            {% for nc in cualitativas %}
                <tr>
                    <td>
                        {% if nivel == 11 %}
                            Informe final inicial
                        {% else %}
                            {{loop.index}} Bimestre
                        {% endif %}
                    </td>
                    <td>
                        {% if nc.idEstudianteNota == 'nuevo' or nc.notaCualitativa|length <= 1 %}
                            <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{nc.idEstudianteNota}}">
                            <input type="hidden" name="idNotaTipoCualitativa[]" value="{{nc.notaTipo}}">
                            <textarea class="cualitativas" name="notaCualitativa[]" id="notaCualitativa'+idTD+'" onkeypress="return validarNotaCualitativa(event,this.id,this.value)" pattern="[0-9A-Z]{1,200}" required autocomplete="off" style="text-transform: uppercase; width:300px" rows="4" minlength="15" maxlength="400">{{nc.notaCualitativa}}</textarea>
                        {% else %}
                            <textarea required autocomplete="off" style="text-transform: uppercase; width:300px; border:none;" rows="4" maxlength="400" disabled="disabled">{{nc.notaCualitativa}}</textarea>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {#<hr>#}
    <div class="form-group">
        <label for="justificacionCE">Justificación de cambio de estado</label>
        <textarea  class="form-control" id="justificacionCE" name="form[justificacionCE]"></textarea>
    </div>
    <div class="text-center">
        <button type="button" name="button" class="btn btn-green" onclick="saveCambioEstado();">Registrar cambio de estado</button>
    </div>
{% else %}

{% endif %}

</form>
</small>
