<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>SIGEE</title>
	<link rel="stylesheet" type="text/css" href="{{asset('webGis/bootstrap4/dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('webGis/fontawesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('webGis/css/animate.css')}}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
	   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	   crossorigin=""/>
	<style type="text/css">
		body, #map{
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			background-color: grey;
		}
		.menu{
			position: absolute;
			padding: 0px;
			width: 350px;
			height: 100%;
			background-color: #ffffff;
			top: 0;
			/*display: none;*/
			overflow-y: auto;
			box-shadow: 3px 3px 5px #BCC4E5;
			z-index: 1401;
		}
		.menu-header{
			background-color: #0A60FE;
			color: #FFFFFF;
			text-align: left;
			margin: 0px;
			margin-bottom: 5px;
			padding: 5px 0 3px 20px;
		}

		.menu-search{
			padding: 0 10px 0 10px;
			margin-bottom: 5px;
		}

		.menu-result{
			padding: 10px;
		}

		.menu p{
			font-size: 0.9em;
		}

		.ui-autocomplete {
			display: none;
		    max-height: 0px;
		    overflow-y: auto;
		    /* prevent horizontal scrollbar */
		    overflow-x: hidden;
  		}

		#result{
			height: auto;
			max-height: 150px;
			background-color: #FFFFFF;
			overflow-y: auto;
			padding: 5px;
		}
		#result li{
			list-style: none;
			padding: 4px;
			margin: 0px;
			border-bottom: 2px solid #EEEEEE;
			background-color: #FFFFFF;
		}
		#result li:hover{
			background-color: #EEEEEE;
		}
		#result a{
			text-decoration: none;
			color: #898A9C;
		}
		.tab-panel{
			padding: 10px 0 10px 0;
		}
		.btn-menu{
			position: absolute;
			margin-top:3px;
			margin-left: -2px;
			z-index: 10;
			background-color: #0A60FE;
			color:#ffffff;
			display: none;
			font-size: 1.1em;
			cursor: pointer;
		}
		.btn-login{
			position: absolute;
			top:10px;
			right:70px;
			z-index: 500;
		}
		#institucion{
			text-transform: none; 
		}
		.result-detalle{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3ebf2+0,ffffff+100 */
			background: #e3ebf2; /* Old browsers */
			background: -moz-linear-gradient(top, #e3ebf2 0%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #e3ebf2 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #e3ebf2 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ebf2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		#detalle{
			margin: 20px;
		}
		#detalle h6{
			color: #0B43FD;/*#299AFF;*/
		}
		.coordenadas{
			position: absolute;
			height: auto;
			width: 600px;
			top: 20px;
			left:50%;
			margin-left:-300px;
			background-color: #FFFFFF;
			display: none;
			padding: 10px;
			z-index: 1000;
		}
		.menu .alert-danger{
			padding: 3px;
			text-align: center;
		}

		.jupper{
			text-transform: uppercase;
		}

		.btn-ayuda{
			margin-right: 5px;
			border-radius: 3px;
		}

		.numeroPaso{
			font-size: 1em;
			padding: 2px;
			color: #0071E7;
		}
		.footer{
			position: absolute;
			width: 100%;
			bottom: 0px;
			text-align: center;
			z-index: 1000;
			font-size: 0.9em;
			/*background-color: #EEEEEE;
			opacity: 0.5;*/
			padding-top: 5px;
			padding-bottom: 5px;
			color: #1733B2;
			font-weight: bold;
		}

		.popover{
			z-index: 1500;
		}

		.popup{
			margin-bottom: 40px;
		}

	</style>
</head>
<body>
	<div id="map"></div>

	<button type="button" class="btn-menu btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Buscar Institución Educativa" data-trigger="hover" onclick="mostrarMenu();"> <b><i class="fa fa-chevron-right"></i></b></button>
	<div class="btn-login btn-group">
		{# <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="Descargar manual de usuario." data-trigger="hover"><button class="btn-ayuda">  <i class="fa fa-question-circle"></i>  </button></a> #}
		{% if app.user %}
		  	<button type="button" id="btn-user" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	 <small> <i class="fa fa-user"></i> &nbsp; {{app.user.persona.nombre}}</small>
		  	</button>
		  	<div class="dropdown-menu dropdown-menu-right">
		    	<a href="{{path('logout')}}"><button class="dropdown-item btn-sm" type="button"> <i class="fa fa-lock"></i> Salir</button></a>
		  	</div>
		{% else %}    
			<a href="{{path('sie_gis_login')}}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="Tooltip on top"><small>Iniciar Session</small></a>
		{% endif %}
	</div>
	<div class="menu">
		<div class="menu-header">
			<h3>SIGEE <a href="#" style="float:right; font-size:0.7em; margin: 10px 10px 0 0; color:#FFFFFF; text-decoration:none" onclick="ocultarMenu();" data-container="body" data-toggle="popover" data-placement="top" data-content="Ocultar menu" data-trigger="hover"> <i class="fa fa-chevron-left"></i> </a></h3>
		</div>
		<div class="menu-search">
			<ul id="tabsJustified" class="nav nav-tabs">
                <li class="nav-item"><a href="" data-target="#tab1" data-toggle="tab" class="nav-link small text-uppercase active">Sie</a></li>
                <li class="nav-item"><a href="" data-target="#tab2" data-toggle="tab" class="nav-link small text-uppercase">Nombre</a></li>
                <li class="nav-item"><a href="" data-target="#tab3" data-toggle="tab" class="nav-link small text-uppercase">Código Edificio</a></li>
            </ul>
            <br>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="tab1" class="tab-pane fade active show">
                    <div class="input-group">
			  			<div class="input-group-addon"> <i class="fa fa-search"></i> </div>
			  			<input type="text" id="sie" name="sie" class="form-control" placeholder="Código SIE" maxlength="8">
			  		</div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="input-group">
			  			<div class="input-group-addon"> <i class="fa fa-search"></i> </div>
			  			<input type="text" id="institucion" name="institucion" class="form-control" placeholder="Nombre de la Institución Educativa" maxlength="30" value="">
			  		</div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div class="input-group">
			  			<div class="input-group-addon"> <i class="fa fa-search"></i> </div>
			  			<input type="text" id="edificio" name="edificio" class="form-control" value="" placeholder="Código de Edificio Educativo" maxlength="10">
			  		</div>
                </div>
            </div>
		</div>
  		<div class="menu-result">
  			<div class="result-header">
  			</div>
  			<div class="result-body">
  				<ul id="result"></ul>
  			</div>
			<div class="result-detalle">
				<div id="detalle"></div>
			</div>
  		</div>
	</div>

	<div class="footer">
		Sistema de Información Geográfica de Edificios Educativos
	</div>

	<div class="coordenadas">
		<h6> <b id="numeroPaso" class="numeroPaso"></b> Editar Ubicación Georeferencial</h6>
		<div id="msgActualizacion"></div>
		<div class="text-center" style="padding:5px 0 0 0; background-color:#F9F5F1; margin-bottom:5px">
			<small>Código de Edificio</small> 
			<h2 class="coordenadasCodEdificio"></h2>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-link" onclick="ingresarCoordenadas();" data-container="body" data-toggle="popover" data-placement="top" data-content="Puede ingresar las coordenadas geográficas manualmente" data-trigger="hover"> <small> <i class="fa fa-search"></i> Buscar por coordenadas </small></button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<small>Latitud</small>
				<div class="latitud"></div>
			</div>
			<div class="col-sm-4">
				<small>Longitud</small>
				<div class="longitud"></div>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-secondary btn-sm" onclick="cerrarGeoreferencial(0);"><small>Cancelar</small></button>
				<button class="btn btn-primary btn-sm" onclick="updateGeoreferencial();"><small>Guardar Cambios</small></button>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:10000">
	  	
	</div>

	<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
	  	    <div class="modal-content">
	  	    	<div class="modal-header">
	  			  	<h6 class="modal-title" id="exampleModalLabel">Ingresar coordenadas geográficas</h6>
	  			  	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  			    	<span aria-hidden="true">&times;</span>
	  			  	</button>
	  			</div>
  				<div class="modal-body">
  					<div class="row">
	  					<div class="col-md-6">
	  						<input type="text" class="form-control" placeholder="Latitud" id="bLatitud">
	  					</div>
	  					<div class="col-md-6">
	  						<input type="text" class="form-control" placeholder="Longitud" id="bLongitud">
	  					</div>
  					</div>
  				</div>
  				<div class="modal-footer">
  				  	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><small>Cancelar</small></button>
  				  	<button type="submit" class="btn btn-primary btn-sm" onclick="buscarCoordenadas();"><small>Buscar</small></button>
  				</div>
	  		</div>
	  	</div>
	</div>


	<script type="text/javascript" src="{{asset('webGis/js/jquery.min.js')}}"></script>
	<!--script type="text/javascript" src="{{asset('webGis/js/jquery-3.2.1.min.js')}}"></script-->
	<script type="text/javascript" src="{{asset('webGis/bootstrap4/dist/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{asset('webGis/bootstrap4/dist/js/bootstrap.min.js')}}"></script>

	<script type="text/javascript" src="{{asset('webGis/js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('webGis/js/jquery.alphanum.js')}}"></script>
	<script type="text/javascript" src="{{asset('webGis/js/notify.js')}}"></script>
	

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
	   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
	   crossorigin=""></script>
	<script type="text/javascript" src="{{asset('webGis/js/initialize.js')}}"></script>
	
</body>
</html>