{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Bono Familia <span>Observados</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('apoderado_bono_familia_observados_index')}}">Bono Familia</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Observados</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content">
        {% if listaUes %}
            <div class="col-md-12 table-responsive">
                <table id="tabla" class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            <th style="min-width:15px">#</th>
                            <th>Departamento</th>
                            <th>Distrito</th>
                            <th>SIE</th>
                            <th>Unidad Educativa</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Departamento</th>
                            <th>Distrito</th>
                            <th>SIE</th>
                            <th>Unidad Educativa</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for ue in listaUes %}
                            <tr>
                                <td class="text-center">{{loop.index}}</td>
                                <td>{{ue.descDepartamento}}</td>
                                <td>{{ue.distrito}}</td>
                                <td>{{ue.codUeId}}</td>
                                <td>{{ue.descUe}}</td>
                                <td>
                                    <a href="{{path('apoderado_bono_familia_observados_cargar_est', {'sie': ue.codUeId})}}" class="btn btn-sm btn-primary">
                                        <i class="fa fa-fw fa-eye"></i> Ver estudiantes
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-fw fa-check-circle"></i> No tiene observaciones
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}