{% extends 'layoutPermanente.html.twig' %}

{% block contentoption %}





<div class="header-content">


    <div id="page-wrapper">

        <div class="page-content page-content-ease-in">

            <!-- begin PAGE TITLE AREA -->
            <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>Panel Principal
                            <small>Información sobre el usuario</small>
                        </h1>
                        {#<ol class="breadcrumb">#}
                            {#<li class="active"><i class="fa fa-dashboard"></i> Principal</li>#}
                        {#</ol>#}
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="row">
                        <div class="panel rounded shadow">
                            <div class="panel-body">
                                <div class="inner-all">
                                    <div class="portlet portlet-red">
                                        <div class="portlet-heading">

                                            <div class="portlet-title">
                                                <div>
                                                    <h4 class="text-capitalize">Datos</h4>

                                                </div>

                                            </div>
                                            {#<div class="portlet-widgets">#}
                                              {##}
                                                {#<span class="divider"></span>#}
                                                {#<a data-toggle="collapse" data-parent="#accordion" href="index.html#infouser"><i class="fa fa-chevron-down"></i></a>#}
                                            {#</div>#}
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="infouser" class="panel-collapse collapse in">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <td>Apellido Paterno:</td>
                                                            <td>{{ app.session.get('lastname') }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Apellido Materno:</td>
                                                            <td>{{ app.session.get('lastname2')}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nombre(s):</td>
                                                            <td>{{ app.session.get('name') }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Usuario:</td>
                                                            <td>{{ app.session.get('userName') }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cuenta:</td>
                                                            <td>{{ app.session.get('cuentauser') }}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <ul class="list-unstyled">
                                        <li><br></li>
                                        <li>
                                            <div class="btn-group-vertical btn-block">
                                                <a href="{{path('sie_usuarios_homepage')}}" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Gestion de Usuarios</a>
                                                <a href="{{path('logout')}}" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Salir</a>
                                            </div>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div><!-- /.panel -->
                    </div>


                </div>

            </div>


        </div>
        <!-- /.page-content -->

    </div>



</div>






{% endblock %}
