{% extends 'SieRieBundle:Default:rie.html.twig' %}
{% block contentoption%}

    <div class="block-header">
        <h2>LISTADO DE ÁREAS</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('area_rie_list')}}">Listado de Áreas</a></li>
        <li class="active">Nuevo</li>
    </ol>

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-danger text-center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %} 

    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                {% if app.session.get('roluser') == 8 %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <a href="{{path('area_rie_new')}}" class="btn btn-md bg-orange waves-effect">
                                <i class="material-icons">add_box</i>Nuevo
                            </a>
                        </div>
                    </div>  
                {% endif %}               
                    <div class="table-responsive">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- <table class="table table-bordered table-striped table-hover js-basic-example dataTable"> -->
                            <table  id="miexample" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                        <th>Sector de Formación</th>
                                        <th>Area de Formación</th>  
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for area in areas %}
                                        <tr>
                                            {% if app.session.get('roluser') == 8  %}
                                            <td>
                                                <a href="{{path('area_rie_edit', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="material-icons">mode_edit</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_delete', {'idArea': area.id} )}}" onclick="return confirmar('{{area.id}}')" class="btn btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></a>                                                 
                                            </td>
                                            {% else %}
                                            <td>
                                                <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Carrera Autorizada, no puede modificar">
                                                        <i class="material-icons">mode_edit</i>
                                                    </button>  
                                            </td>
                                            <td>
                                                 <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Carrera Autorizada, no puede eliminar">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                            </td>
                                            {% endif %}
                                            <td>{{area.institucioneducativaTipo.descripcion}}</td>
                                            <td>{{area.areaFormacion}}</td>
                                        </tr>
                                    {% endfor %}

                                    {% for area in areas1 %}
                                        <tr>
                                            {% if app.session.get('roluser') == 8  %}
                                            <td>
                                                <a href="{{path('area_rie_edit', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="material-icons">mode_edit</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_delete', {'idArea': area.id} )}}" onclick="return confirmar('{{area.id}}')" class="btn btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></a>    
                                            </td>
                                            {% else %}
                                            <td>
                                                <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Carrera Autorizada, no puede modificar">
                                                        <i class="material-icons">mode_edit</i>
                                                    </button>  
                                            </td>
                                            <td>
                                                 <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Carrera Autorizada, no puede eliminar">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                            </td>
                                            {% endif %}
                                            <td>{{area.institucioneducativaTipo.descripcion}}</td>
                                            <td>{{area.areaFormacion}}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    // Para configurar tabla 
    $(document).ready(function() {
       $('#miexample').DataTable( {
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No existen registros.",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sSearch":         "Buscar:",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sSearch":         "Buscar:",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            }
        }
    });
    } );

    function confirmar(id_area){
        if(confirm('¿Estas seguro de eliminar el Área de Formación?'))
		    return true;
	    else
		    return false;

    }

    </script>
{% endblock %}
