{% extends 'SieRieBundle:Default:rie.html.twig' %}
{% block contentoption%}

    <div class="block-header">
        <h2>LISTADO DE ÁREAS</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('area_rie_list')}}">Listado de Áreas</a></li>
        <li class="active">Nuevo</li>
    </ol>

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-danger text-center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %} 

    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <a href="{{path('area_rie_new')}}" class="btn btn-md bg-orange waves-effect">
                                <i class="material-icons">add_box</i>Nueva Área de Formación
                            </a>
                        </div>
                    </div>                 
                    <div class="table-responsive">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Carreras</th>  
                                        <th>Edita</th>  
                                        <th>Eliminar</th>
                                        <th>Sector de Formación</th>
                                        <th>Area de Formación</th>  
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for area in areas %}
                                        <tr>
                                            <td>
                                                <a href="{{path('carrera_rie_list', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Carreras">
                                                    <i class="material-icons">assignment</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_edit', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="material-icons">mode_edit</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_delete', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                    <i class="material-icons">delete</i>
                                                </a>    
                                            </td>
                                            <td>{{area.institucioneducativaTipo.descripcion}}</td>
                                            <td>{{area.areaFormacion}}</td>
                                        </tr>
                                    {% endfor %}

                                    {% for area in areas1 %}
                                        <tr>
                                            <td>
                                                <a href="{{path('carrera_rie_list', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Carreras">
                                                    <i class="material-icons">assignment</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_edit', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="material-icons">mode_edit</i>
                                                </a>    
                                            </td>
                                            <td>
                                                <a href="{{path('area_rie_delete', {'idArea': area.id })}}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                    <i class="material-icons">delete</i>
                                                </a>    
                                            </td>
                                            <td>{{area.institucioneducativaTipo.descripcion}}</td>
                                            <td>{{area.areaFormacion}}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}


