{% extends 'layoutUniversity.html.twig' %}
{% block contentBread %}
<i class="fa fa-angle-right"></i>
<a href="#">Sedes</a>
{% endblock %}
{% block contentoption %}

    <!-- Start page header -->
  <div class="header-content fixed-top">
      <h2>
          <i class="fa fa-home"></i>
          {% if titulo is defined  %}  {{ titulo }} {% endif %}
          <span>{% if subtitulo is defined  %}{{ subtitulo }} {% endif %}</span>
      </h2>
      <div class="breadcrumb-wrapper hidden-xs">
          <span class="label">Usted esta aquí:</span>
          <ol class="breadcrumb">
              <li>
                  <i class="fa fa-home"></i>
                  <a href="{{path('sie_university_homepage')}}">Inicio</a>
              </li>
          </ol>
      </div><!-- /.breadcrumb-wrapper -->
  </div><!-- /.header-content -->
  <!--/ End page header -->

  <div class="body-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-invoice rounded">
                    <div class="panel-sub-heading">
                        <div class="row inner-all">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <h3 class="mt-0 text-primary"><strong>{{central.univUniversidad.universidad}}</strong></h3>
                                <h4 class="mt-0 text-info">{{central.univUniversidad.abreviacion}}</h3>
                            </div>
                        </div>
                        <div class="row inner-all">
                            {% if msg is defined %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                    <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Error:</strong> {{msg}}</div>
                                </div>
                            {% endif %}  
                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="panel">                                  
                                    <form action="{{path('sie_university_sede_index')}}" method="post" name="form" id="form">
                                        <input type="hidden" id="form_sede" name="form[sede]" value="">
                                    </form>
                                    <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
                                        {% set c = 0 %}
                                        {% for sede in sedes %}
                                            {% set c = c + 1 %}
                                            {% set id = sede.id|base64_encode %}
                                            {% set nombre = sede.sede %}
                                            {% set direccion = sede.univJuridicciongeografica.direccion %}
                                            <li>
                                                <a href="javascript:void(0);" onclick="ingresoSede('{{id}}')">
                                                <i class="fa fa-institution"></i> {{nombre}}
                                                <p class="email-summary">{{direccion}}</p>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div><!-- /.panel-sub-heading -->
                </div>
            </div>             
        </div><!-- /.row --> 
    </div><!-- /.row -->
{% endblock %}

{% block javascripts%}
{{parent()}}
<script>

    var ingresoSede = function (sede){
        var formSede = $('#form_sede');
        var formulario = $('#form')[0];
        formSede.val(sede);
        formulario.submit();        
        return true;
    };

</script>
{% endblock %}