{% extends app.session.get('layout') %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Trámites <span>Enviádos</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('exito') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('exito') %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-danger">
                        {% for msg in app.session.flashBag.get('error') %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}    
                <!-- Start default panel -->
                <div class="panel panel-primary rounded shadow">
                    <!-- Start panel heading -->
                    <div class="panel-heading">
                        <h3 class="panel-title">{{titulo}}</h3>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <!--/ End panel heading -->
                    <!-- Start panel content -->
                    <div class="panel-body">
                        <div class="row">
							<div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-primary" id="recepDep">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width: 15px;">No. Trámite</th>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Trámite</th>
                                            <th>Tipo de Trámite</th>
                                            <th>Tarea</th>
                                            <th>Observación</th>
                                            <th>Estado</th>
                                            <th>Fecha de recepción</th>
                                            <th>Plazo(días)</th>
                                            <th>Fecha de envío</th>
                                            <th>Fecha Vencimiento</th>
                                            <th>Usuario Remitente</th>
                                            <th>Imprimir comprobante</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center" style="min-width: 15px;">No. Trámite</th>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Trámite</th>
                                            <th>Tipo de Trámite</th>
                                            <th>Tarea</th>
                                            <th>Observación</th>
                                            <th>Estado</th>
                                            <th>Fecha de recepción</th>
                                            <th>Plazo(días)</th>
                                            <th>Fecha de envío</th>
                                            <th>Fecha Vencimiento</th>
                                            <th>Usuario Remitente</th>
                                            <th>Imprimir comprobante</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for entity in entities %}
                                        <tr>
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.codigo_tabla }}</td>
                                            <td>{{ entity.nombre_tabla }}</td>
                                            <td>{{ entity.flujo }}</td>
                                            <td>{{ entity.tramite_tipo }}</td>
                                            <td>{{ entity.proceso_tipo }}</td>
                                            <td>{{ entity.obs }}</td>
                                            <td>{{ entity.tramite_estado }}</td>
                                            <td>{{ entity.fecha_recepcion }}</td>
                                            <td>{{ entity.plazo }}</td>
                                            <td>{{ entity.fecha_envio }}</td>
                                            <td class="text-danger">{{ entity.fecha_vencimiento }}</td>
                                            <td>{{ entity.nombre }}</td>
                                            <td>
                                                {% if entity.ruta_reporte %} {#si tiene reporte #}
                                                    <a href="{{ path('wf_tramite_reporte_formulario', { 'idtramite': entity.id,'id_td': entity.id_td }) }}" class="btn btn-danger btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="Imprimir">
                                                        <i class="glyphicon glyphicon-print"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                    <!--/ End panel content -->
                </div><!-- /.panel -->
                <!--/ End default panel -->
            </div>
        </div><!-- /.row -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div><!-- /.modal -->  
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $( document ).ready(function() {
            cargatablas();
        });
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#recepDep tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "Imprimir comprobante"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );
            // DataTable
            var table = $('#recepDep').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );
            // Apply the search
            table.columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };
    </script>
{% endblock %}