{% extends 'SieRieBundle:Default:rie.html.twig' %}

{% block contentoption%}

    <div class="block-header">
        <h2>LOCALIZACIÓN GEOGRÁFICA</h2>
    </div>

    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('consultains_rie')}}">Inicio</a></li>
        <li class="active">Formulario Actualización Geográfica</li>
    </ol>
           
	{% for flashMessage in app.session.flashbag.get('msgSearch') %}
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> {{ flashMessage }}
		</div>
	{% endfor %}

    <!-- Tabs With Icon Title -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-blue-grey">
                    <h2>
                        BUSCAR LOCALIZACIÓN GEOGRÁFICA
                    </h2>
                </div>
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#form_edificio_escolar" data-toggle="tab">
                                <i class="material-icons">description</i> Formulario de Edificio Escolar
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#form_cambio_ubicacion" data-toggle="tab">
                                <i class="material-icons">description</i> Formulario Cambio de Localización Geográfica
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#form_nueva_ubicacion" data-toggle="tab">
                                <i class="material-icons">description</i> Nueva Localización Geográfica
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="form_edificio_escolar">
                            <!-- Vertical Layout -->
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            {{ form_start(formRueLe) }}
                                                <label class="form-label">Ingresar código de Local Educativo</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_leJuridicciongeograficaId,{ 'attr':{'class': 'form-control', 'onkeyup':'buscarEdificioEscolarRue(this.value)'} }) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Departamento</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_departamento,{ 'attr':{'class': 'form-control'} }) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Provincia</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_provincia,{ 'attr':{'class': 'form-control'} }) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Municipio</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_municipio,{ 'attr':{'class': 'form-control'} }) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Cantón</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_canton,{ 'attr':{'class': 'form-control'} }) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Localidad</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(formRueLe.r_localidad,{ 'attr':{'class': 'form-control'} }) }}
                                                    </div>
                                                </div>
                                                {{ form_widget(formRueLe.r_formulario,{ 'attr':{'class': 'btn btn-primary btn-lg m-l-15 waves-effect'} }) }}
                                            {{ form_end(formRueLe) }}
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                            <!-- Vertical Layout -->
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="form_cambio_ubicacion">
                            <!-- Vertical Layout -->
                            <div class="row clearfix">
                                {{ form_start(formLe) }}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <label class="form-label">Ingresar código de Local Educativo</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.leJuridicciongeograficaId,{ 'attr':{'class': 'form-control', 'onkeyup':'buscarEdificioEscolar(this.value)'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Departamento</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.l_departamento,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Provincia</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.l_provincia,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Municipio</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.l_municipio,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Cantón</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.l_canton,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Localidad</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.l_localidad,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <label class="form-label">Departamento</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.le_departamento,{ 'attr':{'class': 'form-control', 'onchange':'provincia2(this.value)'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Provincia</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.le_provincia,{ 'attr':{'class': 'form-control', 'onchange':'municipio2(this.value)'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Municipio</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.le_municipio,{ 'attr':{'class': 'form-control', 'onchange':'canton2(this.value)'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Cantón</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.le_canton,{ 'attr':{'class': 'form-control', 'onchange':'localidad2(this.value)'} }) }}
                                                </div>
                                            </div>
                                            <label class="form-label">Localidad</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form_widget(formLe.le_localidad,{ 'attr':{'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            {{ form_widget(formLe.l_formulario,{ 'attr':{'class': 'btn btn-primary btn-lg m-l-15 waves-effect'} }) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(formLe) }}
                            </div>                   
                            <!-- Vertical Layout -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="form_nueva_ubicacion">
                            <!-- Vertical Layout -->
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            {{ form_start(form) }}
                                                <label class="form-label">Departamento</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(form.departamento,{'attr':{'class': 'form-control', 'onchange':'provincia(this.value)'}}) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Provincia</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(form.provincia,{'attr':{'class': 'form-control', 'onchange':'municipio(this.value)'}}) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Municipio</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(form.municipio,{'attr':{'class': 'form-control', 'onchange':'canton(this.value)'}}) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Cantón</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(form.canton,{'attr':{'class': 'form-control', 'onchange':'localidad(this.value)'}}) }}
                                                    </div>
                                                </div>
                                                <label class="form-label">Localidad</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        {{ form_widget(form.localidad,{'attr':{'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                {{ form_widget(form.formulario,{ 'attr':{'class': 'btn btn-primary btn-lg m-l-15 waves-effect'} }) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                            <!-- Vertical Layout -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    function provincia(d) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_provincias', {'idDepartamento': d}),
            beforeSend: function () {
                $("#form_provincia").empty();
                $('#form_provincia').selectpicker('refresh');
                $("#form_municipio").empty();
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_provincia").append('<option value="">Buscando...</option>');
                $('#form_provincia').selectpicker('refresh');
                $("#form_municipio").append('<option value="">Buscando...</option>');
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").append('<option value="">Buscando...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Buscando...</option>');
                $('#form_localidad').selectpicker('refresh');
            },
            success: function (data) {
               $("#form_provincia").empty();
                $('#form_provincia').selectpicker('refresh');
                $("#form_municipio").empty();
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_provincia").append('<option value="">Seleccionar...</option>');
                $('#form_provincia').selectpicker('refresh');
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_localidad').selectpicker('refresh');
               
                $.each(data.provincia, function (i, value) {
                    $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_provincia').selectpicker('refresh');
            }
        });
    }

    function municipio(p) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_municipios', {'idProvincia': p}),
            beforeSend: function () {
                $("#form_municipio").empty();
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_municipio").append('<option value="">Buscando...</option>');
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").append('<option value="">Buscando...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Buscando...</option>');
                $('#form_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_municipio").empty();
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $('#form_municipio').selectpicker('refresh');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_localidad').selectpicker('refresh');
                $.each(data.municipio, function (i, value) {
                    $("#form_municipio").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_municipio').selectpicker('refresh');
            }
        });
    }

    function canton(m) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_cantones', {'idMunicipio': m}),
            beforeSend: function () {
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_canton").append('<option value="">Buscando...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Buscando...</option>');
                $('#form_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_canton").empty();
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $('#form_canton').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_localidad').selectpicker('refresh');
                $.each(data.canton, function (i, value) {
                    $("#form_canton").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_canton').selectpicker('refresh');
            }
        });
    }

    function localidad(c) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_localidades', {'idCanton': c}),
            beforeSend: function () {
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Buscando...</option>');
                $('#form_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_localidad").empty();
                $('#form_localidad').selectpicker('refresh');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_localidad').selectpicker('refresh');
                $.each(data.localidad, function (i, value) {
                    $("#form_localidad").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_localidad').selectpicker('refresh');
            }
        });
    }

    function provincia2(d) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_provincias', {'idDepartamento': d}),
            beforeSend: function () {
                $("#form_le_provincia").empty();
                $('#form_le_provincia').selectpicker('refresh');
                $("#form_le_municipio").empty();
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_provincia").append('<option value="">Buscando...</option>');
                $('#form_le_provincia').selectpicker('refresh');
                $("#form_le_municipio").append('<option value="">Buscando...</option>');
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Buscando...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Buscando...</option>');
                $('#form_le_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_le_provincia").empty();
                $('#form_le_provincia').selectpicker('refresh');
                $("#form_le_municipio").empty();
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_provincia").append('<option value="">Seleccionar...</option>');
                $('#form_le_provincia').selectpicker('refresh');
                $("#form_le_municipio").append('<option value="">Seleccionar...</option>');
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Seleccionar...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_le_localidad').selectpicker('refresh');
               
                $.each(data.provincia, function (i, value) {
                    $("#form_le_provincia").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_le_provincia').selectpicker('refresh');
            }
        });
    }

    function municipio2(p) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_municipios', {'idProvincia': p}),
            beforeSend: function () {
                $("#form_le_municipio").empty();
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_municipio").append('<option value="">Buscando...</option>');
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Buscando...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Buscando...</option>');
                $('#form_le_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_le_municipio").empty();
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_municipio").append('<option value="">Seleccionar...</option>');
                $('#form_le_municipio').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Seleccionar...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_le_localidad').selectpicker('refresh');
                $.each(data.municipio, function (i, value) {
                    $("#form_le_municipio").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_le_municipio').selectpicker('refresh');
            }
        });
    }

    function canton2(m) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_cantones', {'idMunicipio': m}),
            beforeSend: function () {
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Buscando...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Buscando...</option>');
                $('#form_le_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_le_canton").empty();
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_canton").append('<option value="">Seleccionar...</option>');
                $('#form_le_canton').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_le_localidad').selectpicker('refresh');
                $.each(data.canton, function (i, value) {
                    $("#form_le_canton").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_le_canton').selectpicker('refresh');
            }
        });
    }

    function localidad2(c) {
        $.ajax({
            type: 'get',
            url: Routing.generate('le_buscar_localidades', {'idCanton': c}),
            beforeSend: function () {
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Buscando...</option>');
                $('#form_le_localidad').selectpicker('refresh');
            },
            success: function (data) {
                $("#form_le_localidad").empty();
                $('#form_le_localidad').selectpicker('refresh');
                $("#form_le_localidad").append('<option value="">Seleccionar...</option>');
                $('#form_le_localidad').selectpicker('refresh');
                $.each(data.localidad, function (i, value) {
                    $("#form_le_localidad").append('<option value="' + i + '">' + value + '</option>');
                });
                $('#form_le_localidad').selectpicker('refresh');
            }
        });
    }


    function buscarEdificioEscolar(idLe) {
        $.ajax({
            type: 'get',
            url: Routing.generate('rue_buscar_edificio', {'idLe': idLe}),
            beforeSend: function () {
                $("#form_l_departamento").val("");
                $("#form_l_provincia").val("");
                $("#form_l_municipio").val("");
                $("#form_l_canton").val("");
                $("#form_l_localidad").val("");
            },
            success: function (data) {
            	$("#form_l_departamento").val(data.departamento);
                $("#form_l_provincia").val(data.provincia);
                $("#form_l_municipio").val(data.municipio);
                $("#form_l_canton").val(data.canton);
                $("#form_l_localidad").val(data.localidad);
            }
        });
    }
    
    function buscarEdificioEscolarRue(idLe) {
        $.ajax({
            type: 'get',
            url: Routing.generate('rue_buscar_edificio', {'idLe': idLe}),
            beforeSend: function () {
                $("#form_r_departamento").val("");
                $("#form_r_provincia").val("");
                $("#form_r_municipio").val("");
                $("#form_r_canton").val("");
                $("#form_r_localidad").val("");
            },
            success: function (data) {
            	$("#form_r_departamento").val(data.departamento);
                $("#form_r_provincia").val(data.provincia);
                $("#form_r_municipio").val(data.municipio);
                $("#form_r_canton").val(data.canton);
                $("#form_r_localidad").val(data.localidad);
            }
        });
    }
</script>
{% endblock %}



