<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {{ form_start(form) }}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Creación de curso</h3>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <small>
                        <div class="form-body">
                            <h3> Datos del Curso</h3>
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Subarea</label>
                                    <strong>{{form_widget(form.subarea)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Programa</label>
                                    <strong>{{form_widget(form.programa)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Area Tematica </label>
                                    <strong>{{form_widget(form.areatematica)}}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Curso</label>
                                    {#<a class="btn" onclick="addpop(5)"><i class="fa fa-plus-square text-lilac"></i></a>#}
                                    {#<div class="arrow-before" style="display:none; margin-left:10px;" id="before5"></div>#}
                                    {#<div class="arrow-after" style="display:none;margin-left:10px;" id="after5"></div>#}
                                    {#<div id="5" style="display:none; position:absolute; z-index:5; width:500px; margin-left:-350px; border:2px solid #906094; box-shadow: 7px 7px 4px #929292;" class="divMaestros"></div>#}

                                    {#<strong>{{form_widget(form.cursosCortos)}}</strong>#}
                                    <select id="combocurso" class="chosen-select col-lg-10">
                                        <option value="">Seleccionar...</option>
                                        {% for at in cursos %}
                                            <option value="{{at.id}}">{{at.cursocorto}}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Turno</label>
                                    <strong>{{form_widget(form.turno)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Poblacion</label>
                                    <strong>{{form_widget(form.poblacion)}}</strong>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label>  Fecha inicio </label>
                                    <strong>{{form_widget(form.fechaini)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Fecha Fin</label>
                                    <strong>{{form_widget(form.fechafin)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Horas</label>
                                    <strong>{{form_widget(form.horas)}}</strong>
                                </div>

                            </div>

                            <h3> Lugar Realización del curso</h3>

                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Departamento</label>
                                    <strong>{{form_widget(form.departamento)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Provincia</label>
                                    <strong>{{form_widget(form.provincia)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Municipio</label>
                                    <strong>{{form_widget(form.municipio)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Ciudad, Pueblo o Comunidad</label>
                                    <strong>{{form_widget(form.lugar)}}</strong>
                                </div>
                            </div>


                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-footer">
                <div class="col-sm-offset-5">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                    <td colspan="2" class="text-right">{{ form_widget(form.guardar) }}</div></td>

                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>


<script>
    var peticion1;
    //$('#form_turno').on('change',function(){
    function listarProvincias(idDpto) {
        if (peticion1 && peticion1.readyState != 4) {
            peticion1.abort();
        }

        peticion1 = $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_clistarprovincias', {'dpto': idDpto}),
            beforeSend: function () {

            },
            success: function (data) {
                $('#form_provincia').empty();
                $('#form_municipio').empty();
                $('#form_canton').empty();
                $('#form_localidad').empty();
                $("#form_provincia").append('<option value="">Seleccionar...</option>');
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $.each(data.listaprovincias, function (i, value) {
                    $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                });
            }
        });
    }

    var peticion2;
    //$('#form_turno').on('change',function(){
    function listarMunicipios(idProv) {
        if (peticion2 && peticion2.readyState != 4) {
            peticion2.abort();
        }

        peticion2 = $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_clistarmunicipios', {'prov': idProv}),
            beforeSend: function () {

            },
            success: function (data) {
                $('#form_municipio').empty();
                $('#form_canton').empty();
                $('#form_localidad').empty();
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $.each(data.listamunicipios, function (i, value) {
                    $("#form_municipio").append('<option value="' + i + '">' + value + '</option>');
                });
            }
        });
    }

</script>


<script type="text/javascript">

    $('.calendario').datepicker({

        format: 'dd-mm-yyyy',

        todayBtn: 'linked'

    });


</script>