<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {{ form_start(form) }}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Creación de curso</h3>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <small>
                        <div class="form-body">
                            <h3> Datos del Curso</h3>
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Subarea</label>
                                    <strong>{{form_widget(form.subarea)}}</strong>
                                </div>
                                  <div class="form-group col-lg-4 col-md-6">
                                    <label> Curso</label>
                                    <strong>{{form_widget(form.cursosCortos)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Turno</label>
                                    <strong>{{form_widget(form.turno)}}</strong>
                                </div>
                              {#   <div class="form-group col-lg-4 col-md-6">
                                    <label> Programa</label>
                                    <strong>{{form_widget(form.programa)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Área Temática </label>
                                    <strong>{{form_widget(form.areatematica)}}</strong>
                                </div> #}
                            </div>
                           
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Organizacion</label>
                                    <strong>{{form_widget(form.organizacion)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Población</label>
                                    <strong>{{form_widget(form.poblacion)}}</strong>
                                </div>

                                {#<div class="form-group col-lg-8 col-md-6">#}
                                    {#<label> Clasificadores </label>#}
                                    {#<strong>{{form_widget(form.pobobs)}}</strong>#}
                                {#</div>#}
                                {#<div class="form-group col-lg-4 col-md-6">#}
                                    {#<label> Nombre Población</label>#}
                                    {#<strong>{{form_widget(form.pobdetalle)}}</strong>#}
                                {#</div>#}

                            </div>
                            <div class="row">

                                <div id='sandbox-container'>
                                    <div class="input-daterange" id="datepicker">
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label>  Fecha inicio </label>
                                            {{form_widget(form.fechaInicio) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label> Fecha Fin</label>
                                            {{form_widget(form.fechaFin) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="form-group col-lg-4 col-md-6">#}
                                    {#<label>  Fecha inicio </label>#}
                                    {#<strong>{{form_widget(form.fechaini)}}</strong>#}
                                {#</div>#}
                                {#<div class="form-group col-lg-4 col-md-6">#}
                                    {#<label> Fecha Fin</label>#}
                                    {#<strong>{{form_widget(form.fechafin)}}</strong>#}
                                {#</div>#}
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Horas</label>
                                    <strong>{{form_widget(form.horas)}}</strong>
                                </div>

                            </div>

                            <h3> Lugar Realización del curso</h3>

                            <div class="row">
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Departamento</label>
                                    <strong>{{form_widget(form.departamento)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Provincia</label>
                                    <strong>{{form_widget(form.provincia)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Municipio</label>
                                    <strong>{{form_widget(form.municipio)}}</strong>
                                </div>
                                <div class="form-group col-lg-4 col-md-6">
                                    <label> Ciudad, Pueblo o Comunidad</label>
                                    <strong>{{form_widget(form.lugar)}}</strong>
                                </div>
                            </div>


                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-footer">
                <div class="col-sm-offset-5">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                    <td colspan="2" class="text-right">{{ form_widget(form.guardar) }}</div></td>

                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>


<script>
    var peticion1;
    //$('#form_turno').on('change',function(){
    function listarProvincias(idDpto) {
        if (peticion1 && peticion1.readyState != 4) {
            peticion1.abort();
        }

        peticion1 = $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_clistarprovincias', {'dpto': idDpto}),
            beforeSend: function () {

            },
            success: function (data) {
                $('#form_provincia').empty();
                $('#form_municipio').empty();
                $('#form_canton').empty();
                $('#form_localidad').empty();
                $("#form_provincia").append('<option value="">Seleccionar...</option>');
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $.each(data.listaprovincias, function (i, value) {
                    $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                });
            }
        });
    }

    var peticion2;
    //$('#form_turno').on('change',function(){
    function listarMunicipios(idProv) {
        if (peticion2 && peticion2.readyState != 4) {
            peticion2.abort();
        }

        peticion2 = $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_clistarmunicipios', {'prov': idProv}),
            beforeSend: function () {

            },
            success: function (data) {
                $('#form_municipio').empty();
                $('#form_canton').empty();
                $('#form_localidad').empty();
                $("#form_municipio").append('<option value="">Seleccionar...</option>');
                $("#form_canton").append('<option value="">Seleccionar...</option>');
                $("#form_localidad").append('<option value="">Seleccionar...</option>');
                $.each(data.listamunicipios, function (i, value) {
                    $("#form_municipio").append('<option value="' + i + '">' + value + '</option>');
                });
            }
        });
    }

    function mostrarPobDetalle(pob) {

        $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_mostrarpob', {'pob': pob}),
            beforeSend: function () {

            },
            success: function (data) {

                $("#form_pobobs").empty();
                $("#form_pobobs").val(data.poblaciones.obs);

            },

        });

    };


    function mostrarPobDetalleCC(pob) {

        $.ajax({
            type: 'get',
            url: Routing.generate('sie_per_mostrarpob_cortos', {'pob': pob}),
            beforeSend: function () {

            },
            success: function (data) {

                $("#form_poblacion").empty();
                $.each(data.poblaciones, function (i, value) {
                    $("#form_poblacion").append('<option value="' + i + '">' + value + '</option>');
                });

            },

        });

    }
    var rangosHorasCC = function(control){
        if(control.value == ""){ control.value = 6; }
        if(control.value < 6){ control.value = 6; }
        if($('#form_cursosCortos').val() == 706){
            if(control.value > 120){ control.value = 120; }
        } else {
            if(control.value > 100){ control.value = 100; }
        }
    }

</script>


<script type="text/javascript">

    $('.calendario').datepicker({

        format: 'dd-mm-yyyy',

        todayBtn: 'linked'

    });



    // DateRangePicker
    $('#sandbox-container .input-daterange').datepicker({
        format: 'dd-mm-yyyy',
        todayBtn: 'linked'
    });
    $('#form_fechaInicio').on('change',function(){
        if($("#form_fechaFin").val().length < 1){
            $("#form_fechaFin").val($('#form_fechaInicio').val());
        }
    });
    $('#form_fechaFin').on('change',function(){
        //if($("#form_fechaFin").val().length >= 1){
     //   alert('adsjkfhkasd');
        if($("#form_fechaFin").val() < $("#form_fechaInicio").val()){
            $("#form_fechaInicio").val($('#form_fechaFin').val());
        }
        //}
    });



</script>