<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {{form_start(form,{'attr':{'id':'formModulo','class':'form-horizontal form-group'} })}}
        <input type="hidden" id = "totalhoras" name="totalhoras" value="{{totalhoras}}"/>
        <input type="hidden" id = "idacreditacion" name="idacreditacion" value="{{idacreditacion}}"/>
        <input type="hidden" id = "horasmodulo" name="horasmodulo" value="{{horasmodulo}}"/>
        <input type="hidden" id = "mallaModuloPeriodoId" name="mallaModuloPeriodoId" value="{{mallaModuloPeriodoId}}"/>

        <input type="hidden" id = "idacreditacion" name="idacreditacion" value="{{idacreditacion}}"/>

        <div class="panel panel-danger">
            <div class="panel-heading ">
                <div class="pull-left">
                    <h3 class="panel-title">Edición de Módulo - Cant. Horas - {{ totalhoras }}</h3>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {# <div class="row">
                    <div class="form-body col-lg-12 col-md-12">
                        <label> Nombre del Modulo</label>
                        <strong>{{form_widget(form.modulo)}}</strong>
                    </div>
                    <div class="form-body col-lg-12 col-md-12">
                        <label> Hora</label>
                        <strong>{{form_widget(form.horas)}}</strong>
                    </div>
                </div> #}
                {% if ( idacreditacion == 32 and superiorMallaModuloPeriodoId ) %}
                    <div class="row">
                        <div class="form-body col-lg-4 col-md-4">
                            <label> Nombre del Modulo</label>
                            <strong>{{form_widget(form.modulo)}}</strong>
                        </div>
                        <div class="form-body col-lg-4 col-md-4">
                            <label> Tipo de SubModulo</label>
                            <strong>{{form_widget(form.periodoTecnicoMedio)}}</strong>
                        </div>
                        <div class="form-body col-lg-4 col-md-4">
                            <label> Horas</label>
                            <strong>{{form_widget(form.horas)}}</strong>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="form-body col-lg-6 col-md-6">
                            <label> Nombre del Modulo</label>
                            <strong>{{form_widget(form.modulo)}}</strong>
                        </div>
                        <div class="form-body col-lg-6 col-md-6">
                            <label> Horas</label>
                            <strong>{{form_widget(form.horas)}}</strong>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <strong>{{form_widget(form.guardar)}}</strong>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cerrar</button>
                </div>
            </div>
        </div>

{{ form_end(form) }}
    </div>
</div>
<script>

    var updateModulo= function () {
        var totalhoras= $('#totalhoras').val();
        var idacreditacion= $('#idacreditacion').val();
        var horasmodulo= $('#horasmodulo').val();
        var horas = $("#form_horas option:selected").html();
        var horavalida= ( parseFloat(totalhoras)  -  parseFloat(horasmodulo) ) +parseFloat(horas) ;
       var formData = $('#formModulo').serialize();
       // alert(horavalida);
        if((idacreditacion==1)||(idacreditacion==20)){
            if(horavalida<=500){
                $('#modal').modal('hide');

                $.ajax({
                    type: 'post',
                    url: "{{ path('herramienta_malla_update_modulo') }}",
                    data: formData,
                    beforeSend: function () {
//                swal({
//                    title: "Guardando...",
//                    text: "Espere un momento por favor",
//                    icon: imagen,
//                    buttons: false
//                });
                        $("#listamodulos").empty();
                        $("#listamodulos").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" /></div>');
                    },
                    success: function (data) {
                        $('#listamodulos').empty();
                        $('#listamodulos').html(data);

                    },
                    complete: function () {
//                swal.stopLoading();
//                swal.close();
//                $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
//                    $(".alert").slideUp(1000);
//                });
                    }


                });
            }else{
                alert('Las horas de los Modulos Ingresados no deben Exceder las 500 hrs, por lo que antes de proceder y editar un modulo, debera cambiar las horas ingresadas...');
            }
        }else {
            if(horavalida<=1000){
                $('#modal').modal('hide');

                $.ajax({
                    type: 'post',
                    url: "{{ path('herramienta_malla_update_modulo') }}",
                    data:formData,
                    beforeSend: function () {
//                swal({
//                    title: "Guardando...",
//                    text: "Espere un momento por favor",
//                    icon: imagen,
//                    buttons: false
//                });
                        $("#listamodulos").empty();
                        $("#listamodulos").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" /></div>');
                    },
                    success: function (data) {
                        $('#listamodulos').empty();
                        $('#listamodulos').html(data);

                    },
                    complete: function () {
//                swal.stopLoading();
//                swal.close();
//                $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
//                    $(".alert").slideUp(1000);
//                });
                    }


                });
            }else{
                alert('Las horas de los Modulos Ingresados no deben Exceder las 1000 hrs, por lo que antes de proceder y editar un modulo, debera cambiar las horas ingresadas...');
            }
        }

    };




    {#var asignarCursoCorto = function(){#}
        {#var nuevoCurso = $('#form_curso').val();#}
        {#if(nuevoCurso == ''){#}
            {#alert('Campo requerido, Ingrese el Nombre del curso');#}
            {#return false;#}
        {#}#}
        {#var formData = $('#formCursos').serialize();#}
        {#$.ajax({#}
            {#type: 'post',#}
            {#data: formData,#}
            {#url: "{{ path('herramienta_per_add_curso_nuevo') }}",#}
            {#beforeSend: function () {#}

            {#},#}
            {#success: function (data) {#}
                {#$('#menestado').html("<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>"+data.mensaje+"</strong></div>");#}
                {#if(data.reinicio == true)#}
                {#{#}
                    {#window.location.href =  Routing.generate('herramienta_permanente_admin');#}
                {#}#}
                {#//#}

            {#},#}
            {#statusCode: {#}
                {#500: function () {#}

                {#},#}
                {#404: function () {#}

                {#}#}
            {#}#}
        {#});#}
    {#};#}

</script>