<div class="row">
    <div id= "mengestioncurso" class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('deletecursomensaje') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div id= "mengestioncurso" class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('newOk') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div id= "mengestioncurso" class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('newError') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
</div>
{% if mallafin is not empty %}
    {% for malla in mallafin %}
        <div class="panel panel-teal">
            <div class="panel-heading">{{ malla.especialidad }} - {{ malla.acreditacion }} - Cant. Módulos -
                {%  if (malla.cantidad) %}
                    {{ malla.cantidad }}
                {% else %}
                    0
                {% endif %}
                - Horas -
                {%  if (malla.tothoras) %}
                    {{ malla.tothoras }}
                {% else %}
                    0
                {% endif %}
            </div>
            <div class="panel-body">

                {% if (malla.idacreditacion == '1') %}
                    {% if (malla.tothoras < '500') %}
                        <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                    {% endif %}
                {% elseif (malla.idacreditacion == '20') %}
                    {% if (malla.tothoras < '500') %}
                        <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                    {% endif %}
                {% elseif (malla.idacreditacion == '32') %}
                    {% if (malla.tothoras < '1000') %}
                        <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                    {% endif %}
                {% endif %}

                {% if (malla.modulo!='') %}

                    {% if ( malla.idacreditacion == '32' and isSuperiorMallaModuloPeriodo  ) %}
                        <div class="table-responsive col-md-12">
                            <table class="table table-bordered table-striped" id="listaEsp">
                                <thead>
                                <tr>
                                    <th class="text-center border-right">N°</th>
                                    <th class="text-center border-right">Modulo</th>
                                    <th class="text-center border-right">Horas</th>
                                    <th class="text-center border-right">Periodo</th>
                                    <th class="text-center border-right">Operaciones</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {#{{ dump(malla.modulo |split(',')) }}#}
                                    {% set foo = malla.modulo|split('|') %}
                                    {% set periodo_medio = malla.periodo_medio|split(',') %}
                                    {% set mallaModuloPeriodoId = malla.malla_modulo_periodo_id|split(',') %}
                                    {% set horas = malla.horas|split(',') %}
                                    {% set idmodulo = malla.idmodulo|split(',') %}
                                    {% set idspm = malla.idspm|split(',') %}
                                    {#{{ dump(foo) }}#}
                                    {% for i in 0..foo|length-1 %}
                                        <tr>
                                            <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                            <td data-title="Especialidad" class="text-center"> {{foo[i]}}</td>
                                            <td data-title="Especialidad" class="text-center">{{ horas[i] }}</td>
                                            <td data-title="Medios" class="text-center">
                                                {% if ( periodo_medio[i] == 4 ) %}
                                                    Medio 1
                                                {% else %}
                                                    Medio 2
                                                {% endif %}
                                            </td>
                                            <td data-title="Acciones" class="text-center">
                                                {#<a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>#}
                                                {#<button class="btn btn-lilac btn-xs btn-stroke" onclick="showEditCursoCorto();">#}
                                                
                                                {# FOR DELETE                                            
                                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="editarModulo({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});"><i class="fa fa-pencil"></i></a>
                                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="eliminarModuloCL({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }});"><i class="fa fa-times"></i></button> #}
                                                
                                                {% if ( malla.sw_esoficial != 1) %} 
                                                    <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="checkConsolidate({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},{{ malla.tothoras }},{{periodo_medio[i]}},{{ malla.idacreditacion }}, {{mallaModuloPeriodoId[i]}},'edit');"><i class="fa fa-pencil"></i></button>

                                                    <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="checkConsolidate({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }}, '',{{periodo_medio[i]}},'','delete');"><i class="fa fa-times"></i></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    {% else %}
                        <div class="table-responsive col-md-12">
                            <table class="table table-bordered table-striped" id="listaEsp">
                                <thead>
                                    <tr>
                                        <th class="text-center border-right">N°</th>
                                        <th class="text-center border-right">Modulo</th>
                                        <th class="text-center border-right">Horas</th>
                                        <th class="text-center border-right">Operaciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {#{{ dump(malla.modulo |split(',')) }}#}
                                    {% set foo = malla.modulo|split('|') %}
                                    {% set horas = malla.horas|split(',') %}
                                    {% set idmodulo = malla.idmodulo|split(',') %}
                                    {% set idspm = malla.idspm|split(',') %}
                                    {#{{ dump(foo) }}#}
                                    {% for i in 0..foo|length-1 %}
                                        <tr>
                                            <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                            <td data-title="Especialidad" class="text-center"> {{foo[i]}}</td>
                                            <td data-title="Especialidad" class="text-center">{{ horas[i] }}</td>
                                            <td data-title="Acciones" class="text-center">
                                                {#<a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>#}
                                                {#<button class="btn btn-lilac btn-xs btn-stroke" onclick="showEditCursoCorto();">#}
                                                
                                                {# FOR DELETE                                            
                                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="editarModulo({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});"><i class="fa fa-pencil"></i></a>
                                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="eliminarModuloCL({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }});"><i class="fa fa-times"></i></button> #}

                                                {# {{malla.sw_esoficial}} #}
                                                {% if ( malla.sw_esoficial != 1) %} 
                                                    <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="checkConsolidate({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},{{ malla.tothoras }},'',{{ malla.idacreditacion }},'','edit');"><i class="fa fa-pencil"></i></a>
                                                    <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="checkConsolidate({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},'','','','','delete');"><i class="fa fa-times"></i></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    {% endif %}


                {% else %}

                    No hay Modulos Registrados
                {% endif %}
            </div>
            <div class="panel-footer"> </div>
        </div>
    {% endfor %}
{% else %}
    No hay niveles de especialidad
{% endif %}
