{% block contentoption %}
    <div class="row">
        <div id= "mengestioncurso" class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('deletecursomensaje') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div id= "mengestioncurso" class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div id= "mengestioncurso" class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
<div class="bs-example">
    <div class="row">
        <div class="col-lg-12" >
            <h4>Malla curricular</h4>
            <div id="mengestionmod"></div>
            <div id="listamodulos">
                {% if mallafin is not empty %}
                    {% for malla in mallafin %}
                        <div class="panel panel-teal">
                            <div class="panel-heading">{{ malla.especialidad }} - {{ malla.acreditacion }} 
                                {% if malla.sw_esoficial == 1 %}
                                    <strong>(CARRERA UNIFICADA)</strong>
                                {% endif %}
                                - Cant. Módulos -
                             {%  if (malla.cantidad) %}
                                 {{ malla.cantidad }}
                                {% else %}
                                 0
                                {% endif %}
                                - Horas -
                                {%  if (malla.tothoras) %}
                                    {{ malla.tothoras }}
                                {% else %}
                                    0
                                {% endif %}
                                </div>
                            <div class="panel-body">

                                {% if (app.session.get('ie_per_estado') != '0') %}
                                    
                                    {# TECNICO BASICO #}
                                    {% if (malla.idacreditacion == '1') %}
                                        {% if (malla.tothoras < '500' and malla.sw_esoficial == 0) %}
                                            <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                                        {% endif %}


                                    {# TECNICO AUXILIAR #}
                                    {% elseif (malla.idacreditacion == '20') %}
                                        {% if (malla.tothoras < '500' and malla.sw_esoficial == 0) %}
                                            <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                                        {% endif %}

                                    {# TECNICO MEDIO #}
                                    {% elseif (malla.idacreditacion == '32') %}
                                        {# TECNICO MEDIO ES ESTE ID #}
                                        {% if (malla.tothoras < '1000' and malla.sw_esoficial == 0) %}
                                            <button type="button" class="btn btn-lilac btn-xs btn-stroke" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});" >Nuevo</button>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                                <br>
                                {% if (malla.modulo!='') %}

                                    <div>
                                        <div class="table-responsive col-md-12">
                                            <table class="table table-bordered table-striped" id="listaEsp">
                                                <thead>
                                                <tr>
                                                    <th class="text-center border-right">N°</th>
                                                    <th class="text-center border-right">Modulo</th>
                                                    <th class="text-center border-right">Horas</th>
                                                    <th class="text-center border-right">Operacion</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {#{{ dump(malla.modulo |split(',')) }}#}
                                                {% set foo = malla.modulo|split('|') %}
                                                {% set horas = malla.horas|split(',') %}
                                                {% set idmodulo = malla.idmodulo|split(',') %}
                                                {% set idspm = malla.idspm|split(',') %}
                                                {% for i in 0..foo|length-1 %}
                                                    <tr>
                                                        <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                                        <td data-title="Especialidad" class="text-center"> {{foo[i]}}</td>
                                                        <td data-title="Especialidad" class="text-center">{{ horas[i] }}</td>
                                                        <td data-title="Acciones" class="text-center">
                                                            {#<a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>#}
                                                            {#<button class="btn btn-lilac btn-xs btn-stroke" onclick="showEditCursoCorto();">#}
                                                            {% if (app.session.get('ie_per_estado') != '0') %}
                                                                {% if malla.sw_esoficial == 0 %}
                                                                    <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="checkConsolidate({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }},{{ malla.tothoras }},{{ malla.idacreditacion }});"><i class="fa fa-pencil"></i></a>
                                                                    <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="eliminarModuloCL({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }});"><i class="fa fa-times"></i></button>
                                                                {% endif %}
                                                             {% endif %}

                                                        </td>
                                                    </tr>
                                                {% endfor %}


                                                </tbody>

                                            </table>
                                        </div>
                                    </div>


                                {% else %}

                                    No hay Modulos Registrados
                                {% endif %}
                            </div>
                            <div class="panel-footer"> </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No hay niveles de especialidad
                {% endif %}

            </div>
            <!-- /.portlet -->
        </div>
    </div>


</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    var nuevoModulo= function (idsip,idesp,totalhoras,idacred) {
//       alert(idacred);
            if((idacred==1)||(idacred==20))
            {
                if(totalhoras<=420){
                    $.ajax({
                        type: 'post',
                        url: "{{ path('herramienta_show_modulo_nuevo') }}",
                        data: ({idsip:idsip, idesp:idesp,totalhoras:totalhoras,idacred:idacred}),

                        beforeSend: function () {
                            $('#modal').empty();
                        },
                        success: function (data) {
                            $('#modal').empty();

                            $('#modal').append(data);
                            $('#modal').modal('show');
                        },

                        statusCode: {
                            500: function () {
                            },
                            404: function () {
                            }
                        }
                    });
                }else{
                    alert('Las horas de los Modulos Ingresados no deben Exceder las 500 hrs, por lo que antes de proceder y añadir uno Nuevo, debera editar y cambiar las horas de los modulos anteriormente guardados...');
                }
            }else {
                if(totalhoras<=920){
                    $.ajax({
                        type: 'post',
                        url: "{{ path('herramienta_show_modulo_nuevo') }}",
                        data: ({idsip:idsip, idesp:idesp,totalhoras:totalhoras,idacred:idacred}),

                        beforeSend: function () {
                            $('#modal').empty();
                        },
                        success: function (data) {
                            $('#modal').empty();

                            $('#modal').append(data);
                            $('#modal').modal('show');
                        },

                        statusCode: {
                            500: function () {
                            },
                            404: function () {
                            }
                        }
                    });
                }else{
                    alert('Las horas de los Modulos Ingresados no deben Exceder las 1000 hrs, por lo que antes de proceder y añadir uno Nuevo, debera editar y cambiar las horas de los modulos anteriormente guardados...');
                }
            }

        };
 
    var checkConsolidate = function(idmodulo,idspm,modulo,horas,idesp,totalhoras,idacred){

        Swal.fire({
            title: 'Verificando...',
            html: 'Espere un momento porfavor',
            timerProgressBar: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading()
            },
        });

        $.ajax({
            type: "get",
            url: "{{ path('herramienta_check_consolidate') }}",
            data: ({idmodulo:idmodulo,idspm:idspm,modulo:modulo,horas:horas,idesp:idesp,totalhoras:totalhoras,idacred:idacred}),
            success: function(res){
                Swal.close();
                if( res.data ){
                    editarModulo(idmodulo,idspm,modulo,horas,idesp,totalhoras,idacred);
                }else{
                    Swal.fire('Opps','No puede realizar esta accion porque el modulo se encuentra consolidado','info');
                }
            }
        })
    };

    var editarModulo= function (idmodulo,idspm,modulo,horas,idesp,totalhoras,idacred) {

        Swal.fire({
            title: 'Obteniendo informacion...',
            html: 'Espere un momento porfavor',
            timerProgressBar: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading()
            },
        });

        $.ajax({
            type: 'post',
            url: "{{ path('herramienta_show_modulo_edit') }}",
            data: ({idmodulo:idmodulo,idspm:idspm,modulo:modulo,horas:horas,idesp:idesp,totalhoras:totalhoras,idacred:idacred}),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                Swal.close();
                $('#modal').empty();
                $('#modal').modal('show');
                $('#modal').append(data);
            },

            statusCode: {
                500: function () {
                },
                404: function () {
                }
            }
        });
    };

    var eliminarModuloCL= function (idmodulo,idspm,modulo,horas,idesp) {

        Swal.fire({
        title: '¿Esta seguro que desea eliminar el modulo?',
        //text: 'No podra realizar ningun cambio, se enviara a la empresa',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si',
        cancelButtonText: 'No'
        }).then((result) => {
            if( result.isConfirmed ){
                $.ajax({
                    type: 'post',
                    url: "{{ path('herramienta_show_modulo_delete') }}",
                    data: ({idmodulo:idmodulo,idspm:idspm,modulo:modulo,horas:horas,idesp:idesp}),
                    beforeSend: function () {
                        $('#modal').empty();
                    },
                    success: function (data) {
                        Swal.fire('Correcto','Se elimino exitosamente','success');
                        $("#listamodulos").empty();
                        $('#mengestionmod').empty();
                        //    $('#mengestioncurso').empty();
                        $("#listamodulos").append(data);
    //                $('#modal').modal('show');
    //                $('#modal').append(data);
                    },
                    error: function(data){
                        $('#mengestionmod').empty();
                        Swal.fire('Opps','Si desea borrar el modulo antes debe eliminar lo siguiente:  modulo asignado al curso, participantes y notas','warning');
                        //window.location.href =  Routing.generate('herramienta_per_cursos_cortos_index');
                    }
                });
                
            }
        });

    };




    </script>

{%endblock%}