{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Formación Técnica Tecnológica <span>Calendario Académico</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Calendario Académico</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}

    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Calendario Académico', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Lista'} %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Calendario</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive mb-20">
                        <table class="table table-hover table-primary">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Periodo</th>
                                    <th>Operativo</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in calendario %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ entity.ttecPeriodoTipo.periodo }}</td>
                                        <td>{{ entity.ttecOperativoTipo.operativo }}</td>
                                        <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                        <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                        <td>-
                                            {#<form action="{{path('dgesttla_inst_grales')}}" method="post" style="display:inline-block">
                                                <input type="hidden" name="institucioneducativaId" value="{{entity.id}}">
                                                <input type="hidden" name="gestionId" value="2017">
                                                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> Ingresar</button>
                                            </form>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div>

{% endblock %}
