{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Formación Técnica Tecnológica <span>Administración de Datos Generales</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Generales</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}

    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Gestión de Carreras', 'gestion': gestion,'sie': institucioneducativa.id, 'ieducativa':institucioneducativa.institucioneducativa, 'opcion': 'Menú carreras'} %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Carrera: {{carrera.nombre}} - {{denominacion.denominacion}}</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/maestros300.jpg')}}" alt="Personal Administrativo">
                                <div class="caption">
                                    <h3>Personal Administrativo</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_info_personal_adm_carr_index')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        <a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/estudiantes300.jpg')}}" alt="Pensum">
                                <div class="caption">
                                    <h3>Pensum</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_carrera_pensum')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        {#<a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/estudiantes300Alter.jpg')}}" alt="ParaleloMateria">
                                <div class="caption">
                                    <h3>Paralelo - Materia</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_carrera_paralelo')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        {#<a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/estudiantes300Alter.jpg')}}" alt="DocenteMateria">
                                <div class="caption">
                                    <h3>Docente - Materia</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_carrera_docente_materia')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        {#<a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
