{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Formación Técnica Tecnológica <span>Administración de Datos Generales</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Generales</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}

{% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Gestión de Carreras', 'gestion': gestion,'sie': institucioneducativa.id, 'ieducativa':institucioneducativa.institucioneducativa, 'opcion': 'Menú instituto'} %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">{{institucioneducativa.institucioneducativa}} - {{gestion}}</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/unidad-educativa300.jpg')}}" alt="Instituto">
                                <div class="caption">
                                    <h3>Instituto Técnico Tecnológico</h3>
                                    <div class="thumbnail-action">
                                        <form action="{{path('dgesttla_inst_info')}}" method="post" style="display:inline-block">
                                            <input type="hidden" name="institucioneducativaId" value="{{institucioneducativa.id}}">
                                            <input type="hidden" name="gestionId" value={{gestion}}>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Editar</button>
                                        </form>
                                        <form action="{{path('dgesttla_inst_info_rep_caratula')}}" method="post" style="display:inline-block">
                                            <input type="hidden" name="institucioneducativaId" value="{{institucioneducativa.id}}">
                                            <input type="hidden" name="gestionId" value={{gestion}}>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir reporte</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/administrativo300Alter.jpg')}}" alt="Personal Docente">
                                <div class="caption">
                                    <h3>Personal Docente</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_info_docente_index')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        <form method ="POST" action="{{path('herramienta_info_maestro_ddjj')}}" name="form" id="form" style="display:inline-block" onsubmit="return validaDatos()">
                                            <input type="hidden" id="ddjjMaestro_sie" name="ddjjMaestro[sie]" value="{{institucioneducativa.id}}">
                                            <input type="hidden" id="ddjjMaestro_gestion" name="ddjjMaestro[gestion]" value="{{gestion}}">
                                            <input type="submit" class="btn btn-md btn-primary" value="Imprimir reporte" onclick="return confirm('¿Está segura/o de continuar? Recuerde que posteriormente no podrá realizar más cambios hasta el siguiente operativo.')">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/maestros300.jpg')}}" alt="Personal Administrativo">
                                <div class="caption">
                                    <h3>Personal Administrativo</h3>
                                    <div class="thumbnail-action">
                                        <a href="{{path('dgesttla_info_personal_adm_index')}}" class="btn btn-success" role="button" style="display:inline-block"><i class="fa fa-edit"> </i>Editar</a>
                                        <a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/lista.jpg')}}" alt="Calendario">
                                <div class="caption">
                                    <h3>Calendario Académico</h3>
                                    <div class="thumbnail-action">
                                        <form action="{{path('dgesttla_inst_calendario')}}" method="post" style="display:inline-block">
                                            <input type="hidden" name="institucioneducativaId" value="{{institucioneducativa.id}}">
                                            <input type="hidden" name="gestionId" value={{gestion}}>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-eye"></i> Calendario</button>
                                        </form>
                                        <a href="javascript:void(0);" class="btn btn-primary" role="button"><i class="fa fa-print"></i> Imprimir reporte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="thumbnail">
                                <img src="{{asset('img/administrativo300.jpg')}}" alt="Carreras">
                                <div class="caption">
                                    <h3>Carreras</h3>
                                    <div class="thumbnail-action">
                                        <form action="{{path('dgesttla_inst_carreras')}}" method="post" style="display:inline-block">
                                            <input type="hidden" name="institucioneducativaId" value="{{institucioneducativa.id}}">
                                            <input type="hidden" name="gestionId" value={{gestion}}>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-eye"></i> Ver</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
