<!DOCTYPE html>
<html lang="en">

    {% block stylesheets %}
        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Sistema de Información Educativa - Educación Regular</title>

            <!-- PACE LOAD BAR PLUGIN - This creates the subtle load bar effect at the top of the page. -->
            <link href="{{ asset('css/plugins/pace/pace.css')}}" rel="stylesheet">
            <script src="{{ asset('js/plugins/pace/pace.js')}}"></script>

            <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic' rel='stylesheet' type='text/css'>

            <!-- GLOBAL STYLES - Include these on every page. -->
            <link href="{{ asset('css/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
            <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!-- PAGE LEVEL PLUGIN STYLES -->
            <link href="{{ asset('css/plugins/messenger/messenger-theme-flat.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/messenger/messenger.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/morris/morris.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins/datatables/datatables.css') }}" rel="stylesheet">
            <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
            <!-- THEME STYLES - Include these on every page. -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/plugins.css') }}" rel="stylesheet">

            <!-- THEME DEMO STYLES - Use these styles for reference if needed. Otherwise they can be deleted. -->
            <link href="{{ asset('css/demo.css') }}" rel="stylesheet">

            <!--[if lt IE 9]>
        <script src="{{asset('bower_components/html5shiv/dist/html5shiv.js')}}"></script>
        <script src="{{asset('bower_components/respond/src/respond.min.js')}}"></script>
        <![endif]-->
            <link href="{{asset('css/plugins/bootstrap-datepicker/datepicker3.css')}}" rel="stylesheet">
            <link href="{{asset('css/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">

            <link href="{{asset('css/jquery.typeahead.min.css')}}" rel="stylesheet">

        {% endblock %}
</head>
<body>
    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation">

            <!-- begin BRAND HEADING -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                <div class="navbar-brand">
                    <a href="{{path('principal_web')}}">
                        <img src="{{asset('img/edregular.png') }}" data-1x="{{asset('img/edregular.png')}}" data-2x="{{asset('img/edregular.png')}}" class="hisrc img-responsive" alt="">
                    </a>
                </div>
            </div>
            <!-- end BRAND HEADING -->

            <div class="nav-top">

                <!-- begin LEFT SIDE WIDGETS -->
                <ul class="nav navbar-left">
                    <li class="tooltip-sidebar-toggle">
                        <a href="index.html#" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Menu principal">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <!-- You may add more widgets here using <li> -->
                </ul>
                <!-- end LEFT SIDE WIDGETS -->

                <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right">

                    <!-- begin MESSAGES DROPDOWN -->
                    <li class="dropdown">
                        <a href="index.html#" class="messages-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="number">1</span> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-scroll dropdown-messages">

                            <!-- Messages Dropdown Heading -->
                            <li class="dropdown-header">
                                <i class="fa fa-envelope"></i> 1 Mensaje Nuevo
                            </li>

                            <!-- Messages Dropdown Body - This is contained within a SlimScroll fixed height box. You can change the height using the SlimScroll jQuery features. -->
                            <li id="messageScroll">
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <img class="img-circle" src="{{asset('img/user-profile-1.jpg') }}" alt="">
                                                </div>
                                                <div class="col-xs-10">
                                                    <p>
                                                        <strong>Juan Carlos Mamani</strong>: Gracias por la información es todo lo que ...
                                                    </p>
                                                    <p class="small">
                                                        <i class="fa fa-clock-o"></i> 3:39 PM
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <!-- Messages Dropdown Footer -->
                            <li class="dropdown-footer">
                                <a href="#">Leer todos los Mensajes</a>
                            </li>

                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end MESSAGES DROPDOWN -->

                    <!-- begin ALERTS DROPDOWN -->

                    <!-- end ALERTS DROPDOWN -->

                    <!-- begin TASKS DROPDOWN -->


                    <!-- /.dropdown -->
                    <!-- end TASKS DROPDOWN -->

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="{{path('persona_main')}}">
                                    <i class="fa fa-user"></i> <span class="text-green"> Mi Perfil</span>
                                </a>
                            </li>
                            <!--li>
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> My Messages
                                    <span class="badge green pull-right">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-bell"></i> My Alerts
                                    <span class="badge orange pull-right">9</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <i class="fa fa-tasks"></i> My Tasks
                                    <span class="badge blue pull-right">10</span>
                                </a>
                            </li>
                            <li>
                                <a href="calendar.html">
                                    <i class="fa fa-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li class="divider"></li-->
                            <li>
                                <a href="{{path('usuariopasswd')}}">
                                    <i class="fa fa-gear"></i> <span class="text-green"> Cambiar Password</span>
                                </a>
                            </li>
                            <li>
                                <a class="logout_open" href="index.html#logout">
                                    <i class="fa fa-sign-out"></i><span class="text-red"> Salir</span>
                                    <strong>{{ app.session.get('name') }}</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    <!-- begin SIDE NAV USER PANEL -->
                    <li class="side-user hidden-xs">
                        {% if app.session.get('userfoto') is empty %}
                            <img class="img-circle" src ="/uploads/krlos.jpg " height="150" width="150" >
                        {% else %}
                            <img class="img-circle" src ="/uploads/{{app.session.get('userfoto')}} " height="150" width="150" >
                        {% endif %}
                        <p class="welcome">
                            <i class="fa fa-key"></i> Bienvenida/o
                        </p>
                        <p class="name tooltip-sidebar-logout">
                            {{ app.session.get('name') }}
                            <span class="last-name"> {{ app.session.get('lastname') }}</span> <a style="color: inherit" class="logout_open" href="index.html#logout" data-toggle="tooltip" data-placement="top" title="Salir"><i class="fa fa-sign-out"></i></a>
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    <!-- end SIDE NAV USER PANEL -->
                    
                    <!-- begin DASHBOARD LINK -->

                    {% if (app.session.get('sysname') == 'TECNICA') or (app.session.get('username') == '80730695') %}
                        <li class="panel">
                            <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#carrerasTecnica">
                                <i class="fa fa-edit"></i> Permanente <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="collapse nav" id="carrerasTecnica">
                                <li>
                                    <a href="{{path('institucioneducativagestion',{'op':'search'})}}">
                                        <i class="fa fa-angle-double-right"></i> Centros
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('personaladministrativogestion',{'op':'search'})}}">
                                        <i class="fa fa-angle-double-right"></i> Personal Administrativo
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('maestrogestion',{'op':'search'})}}">
                                        <i class="fa fa-angle-double-right"></i> Facilitadores
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('carrerastecnica')}}">
                                        <i class="fa fa-angle-double-right"></i> Gestión de Carreras
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('institucioneducativaCursoTecnica',{'op':'search'})}}">
                                        <i class="fa fa-angle-double-right"></i> Asignacion de Cursos
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('estudianteinscripcionTecnica',{'op':'search'})}}">
                                        <i class="fa fa-angle-double-right"></i> Inscripción de Participantes
                                    </a>
                                </li>

                            </ul>
                        </li>
                    {% else %}


                        {% if app.session.get('roluser')== 10 or app.session.get('roluser')== 8 or app.session.get('roluser')== 7 %}


                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#estudianteinfo">
                                    <i class="fa fa-edit"></i> Estudiante info <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="estudianteinfo">
                                    <li>
                                        <a href="{{path('estudiante_main')}}">
                                            <i class="fa fa-angle-double-right"></i> Buscar Estudiante
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('declaracion_jurada_index')}}">
                                            <i class="fa fa-angle-double-right"></i> DD JJ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('sie_estudiantes')}}">
                                            <i class="fa fa-angle-double-right"></i> Modificar Datos
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#inscriptions">
                                    <i class="fa fa-edit"></i> Inscripciones <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="inscriptions">
                                    <li>
                                        <a href="{{path('inscription_omitidos_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Omitidos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('traslado_web')}}">
                                            <i class="fa fa-angle-double-right"></i> Traslado
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('inscription_extranjeros_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Extranjeros
                                        </a>
                                    </li>
                                    <!--li>
                                        <a href="{{path('inscription_talento_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Talento
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('sie_ienoacreditadas')}}">
                                            <i class="fa fa-angle-double-right"></i> Bono Juancito Pinto
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('inscription_rezago_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Rezago
                                        </a>
                                    </li-->
                                    <li>
                                        <a href="{{path('history_inscription_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Historial de Inscripción
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#reportes">
                                    <i class="fa fa-edit"></i> Reportes <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="reportes">
                                    <li>
                                        <a href="{{path('reporte_default')}}" target="_bank">
                                            <i class="fa fa-angle-double-right"></i> Reportes Consolidación
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#usuarioDistrito">
                                    <i class="fa fa-edit"></i> Usuarios Distrito <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="usuarioDistrito">
                                    <li>
                                        <a href="{{path('usuariogestion')}}">
                                            <i class="fa fa-angle-double-right"></i> Usuarios
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}



                            <li>
                                <a class="active" href="{{path('principal_web')}}">
                                    <i class="fa fa-dashboard"></i> Principal
                                </a>
                            </li>
                            <!-- end DASHBOARD LINK -->
                            <!-- begin CHARTS DROPDOWN -->

                            {# {% for key,menu in app.session.get('aMenu') %}
                                <li class="panel">
                                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#{{key}}">
                                        <i class="fa fa-bar-chart-o"></i> {{key}} <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="collapse nav" id="{{key}}">
                                        {% for smenu in menu %}
                                            <li>
                                                <a href="{{ path(smenu.ruta) }}">
                                                    <i class="fa fa-angle-double-right"></i> {{smenu.label}} 
                                                </a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>

                            {% endfor %} #}


                            <!-- end CHARTS DROPDOWN -->
                            <!-- begin FORMS DROPDOWN -->
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
                                    <i class="fa fa-user"></i> Cuenta <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="forms">
                                    <li>
                                        <a href="{{path('persona_main')}}">
                                            <i class="fa fa-angle-double-right"></i> Actualizar Datos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('usuariopasswd')}}">
                                            <i class="fa fa-angle-double-right"></i> Modificar Password
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#consolidations">
                                    <i class="fa fa-edit"></i> Consolidación <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="consolidations">
                                    <li>
                                        <a href="{{path('consolidation_web')}}">
                                            <i class="fa fa-angle-double-right"></i> Consolidar Información
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#distrito1">
                                    <i class="fa fa-bar-chart-o"></i> Distrito <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="distrito1">
                                    <li>
                                        <a href="{{path('institucioneducativa')}}">
                                            <i class="fa fa-angle-double-right"></i> Gestion UE's
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#charts">
                                    <i class="fa fa-bar-chart-o"></i> Director <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="charts">
                                    <li>
                                        <a href="{{path('apoderado_main')}}">
                                            <i class="fa fa-angle-double-right"></i> Gestion Apoderados
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('usuario')}}">
                                            <i class="fa fa-angle-double-right"></i> Gestion Usuarios
                                        </a>
                                    </li>
                                </ul>
                            </li>



                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#traslado_web">
                                    <i class="fa fa-edit"></i> Traslado Estudiante <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="traslado_web">
                                    <li>
                                        <a href="{{path('traslado_web')}}">
                                            <i class="fa fa-angle-double-right"></i> Traslado
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('inscription_extranjeros_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Extranjeros
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('post_bachillerato_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Post Bachillerato
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('estudianteinscripcion',{'op':'search'})}}">
                                            <i class="fa fa-angle-double-right"></i> Inscripción
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#discapacidad">
                                    <i class="fa fa-edit"></i> Discapacidad <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="discapacidad">
                                    <li>
                                        <a href="{{path('estudianteespecialindirecta')}}">
                                            <i class="fa fa-angle-double-right"></i> Registro
                                        </a>
                                    </li>
                                </ul>
                            </li>   
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#maestro">
                                    <i class="fa fa-edit"></i> Maestro <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="maestro">
                                    <li>
                                        <a href="{{path('maestrogestion',{'op':'search'})}}">
                                            <i class="fa fa-angle-double-right"></i> Información Maestro
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#personalAdministrativo">
                                    <i class="fa fa-edit"></i> Personal Administrativo <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="personalAdministrativo">
                                    <li>
                                        <a href="{{path('personaladministrativogestion',{'op':'search'})}}">
                                            <i class="fa fa-angle-double-right"></i> Información Personal Administrativo
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#institucionEducativa">
                                    <i class="fa fa-edit"></i> Institución Educativa <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="institucionEducativa">
                                    <li>
                                        <a href="{{path('institucioneducativagestion',{'op':'search'})}}">
                                            <i class="fa fa-angle-double-right"></i> Información Institución
                                        </a>
                                    </li>
                                </ul>
                            </li>




                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#ienoacreditadas">
                                    <i class="fa fa-edit"></i> BJP <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="ienoacreditadas">
                                    <li>
                                        <a href="{{path('sie_ienoacreditadas')}}">
                                            <i class="fa fa-angle-double-right"></i> U.E. no Acreditadas
                                        </a>
                                    </li>



                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#usuariogestion">
                                    <i class="fa fa-edit"></i> Usuarios <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="usuariogestion">
                                    <li>
                                        <a href="{{path('usuariogestion')}}">
                                            <i class="fa fa-angle-double-right"></i> Gestión
                                        </a>
                                    </li>



                                </ul>
                            </li>

                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#specialinscription">
                                    <i class="fa fa-edit"></i> Talento - Rezago <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="specialinscription">
                                    <li>
                                        <a href="{{path('inscription_talento_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Talento
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('inscription_rezago_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Rezago
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('history_inscription_index')}}">
                                            <i class="fa fa-angle-double-right"></i> Historial de Inscripción
                                        </a>
                                    </li>


                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#areas">
                                    <i class="fa fa-edit"></i> Areas <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="areas">
                                    <li>
                                        <a href="{{path('areas',{'op':'search'})}}">
                                            <i class="fa fa-angle-double-right"></i> Asignación
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#ddjj">
                                    <i class="fa fa-edit"></i> Declaración Jurada <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="collapse nav" id="ddjj">
                                    <li>
                                        <a href="{{path('declaracion_jurada_index')}}">
                                            <i class="fa fa-angle-double-right"></i> DD JJ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('sie_estudiantes')}}">
                                            <i class="fa fa-angle-double-right"></i> Modificar Datos
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        {% endif %}

                    {% endif %}
                    <!-- end FORMS DROPDOWN -->
                    <!-- begin CALENDAR LINK -->

                    <!-- /.navbar-collapse -->
                    </nav>

                    <!-- /.navbar-side -->
                    <!-- end SIDE NAVIGATION -->

                    <!-- begin MAIN PAGE CONTENT -->
                    <div id="page-wrapper">




                        <div class="page-content">
                            {% block contentoption %}
                                <!-- here the iptions content -->
                            {% endblock %}
                        </div>
                        <!-- /.page-content -->

                    </div>
                    <!-- /#page-wrapper -->
                    <!-- end MAIN PAGE CONTENT -->

            </div>
            <!-- /#wrapper -->


            {% block javascripts %}
                <!-- GLOBAL SCRIPTS -->
                <script src="{{asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
                <script src="{{ asset('js/plugins/bootstrap/bootstrap.min.js') }}"></script>
                <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
                <script src="{{ asset('js/plugins/popupoverlay/jquery.popupoverlay.js') }}"></script>
                <script src="{{ asset('js/plugins/popupoverlay/defaults.js') }}"></script>
                <!-- Logout Notification Box -->
                <div id="logout">
                    <div class="logout-message">
                        {% if app.session.get('userfoto') is empty %}
                            <img class="img-circle" src ="/uploads/krlos.jpg " height="150" width="150" >
                        {% else %}
                            <img class="img-circle" src ="/uploads/{{app.session.get('userfoto')}} " height="150" width="150" >
                        {% endif %}
                        <!--img class="img-circle img-logout" src="{{asset('img/profile-pic.jpg') }}" alt=""-->
                        <h3>
                            <i class="fa fa-sign-out text-blue"></i> ¿Lista/o para salir?
                        </h3>
                        <p>Seleciona "Salir" si estas lista/o<br> para terminar tu sesión en el sistema.</p>
                        <ul class="list-inline">
                            <li>
                                <a href="{{path('logout')}}" class="btn btn-blue">
                                    <strong>Salir</strong>
                                </a>
                            </li>
                            <li>
                                <button class="logout_close btn btn-blue">Cancel</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /#logout -->
                <!-- Logout Notification jQuery -->
                <script src="{{ asset('js/plugins/popupoverlay/logout.js') }}"></script>
                <!-- HISRC Retina Images -->
                <script src="{{ asset('js/plugins/hisrc/hisrc.js') }}"></script>

                <!-- PAGE LEVEL PLUGIN SCRIPTS -->
                <!-- HubSpot Messenger -->
                <script src="{{ asset('js/plugins/messenger/messenger.min.js') }}"></script>
                <script src="{{ asset('js/plugins/messenger/messenger-theme-flat.js') }}"></script>
                <!-- Date Range Picker -->
                <script src="{{ asset('js/plugins/daterangepicker/moment.js') }}"></script>
                <script src="{{ asset('js/plugins/daterangepicker/daterangepicker.js') }}"></script>
                <!-- Morris Charts -->
                <script src="{{ asset('js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
                <script src="{{ asset('js/plugins/morris/morris.js') }}"></script>
                <!-- Flot Charts -->
                <script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
                <script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
                <!-- Sparkline Charts -->
                <script src="{{ asset('js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
                <!-- Moment.js -->
                <script src="{{ asset('js/plugins/moment/moment.min.js') }}"></script>
                <!-- jQuery Vector Map -->
                <script src="{{ asset('js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
                <script src="{{ asset('js/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
                <script src="{{ asset('js/demo/map-demo-data.js') }}"></script>
                <!-- Easy Pie Chart -->
                <script src="{{ asset('js/plugins/easypiechart/jquery.easypiechart.min.js') }}"></script>
                <!-- DataTables -->
                <script src="{{ asset('js/plugins/datatables/jquery.dataTables.js') }}"></script>
                <script src="{{ asset('js/plugins/datatables/datatables-bs3.js') }}"></script>

                <!-- THEME SCRIPTS -->
                <script src="{{ asset('js/flex.js') }}"></script>
                <script src="{{asset('js/demo/advanced-form-demo.js')}}"></script>
                <script src="{{ asset('js/demo/dashboard-demo.js') }}"></script>
                <!--script src="{{ asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
                <script src="{{ asset('js/demo/validation-demo.js')}}"></script-->
                <script src="{{asset('validator/js/validator.js')}}"></script>

                <script src="{{asset('js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js')}}"></script>
                <script src="{{asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>

                <script src="{{asset('js/jquery.typeahead.min.js')}}"></script>

                <script src="{{asset('js/funciones.js')}}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script src="{{ asset('js/initialize.js')}}"></script>
            {% endblock %}
            </body>

            </html>