{# extends 'SieJuegosBundle:Default:Registros.html.twig' #}
{% extends 'layoutJuegos.html.twig' %}

{% block contentoption %} 
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="glyphicon glyphicon-pencil"></i> Registro <span>Juegos Deportivos Plurinacionales</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('sie_juegos_inscripcion_index') }}">Registro</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Primera Fase</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">

        <!-- Start mail page -->
        <!--div class="container" style="margin-top:30px;"-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Start widget newsletter -->
                <div class="panel text-center rounded shadow">
                    <div class="panel-body bg-lilac rounded">
                        <div class="inner-all">
                            <h4 class="text-uc">{{infoEntidad[0].id}} - {{infoEntidad[0].nombre}}</h4>
                            <!--<h5 class="text-uc">Opción: Información Deportistas</h5>-->
                        </div>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End widget newsletter -->
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <form name="formReport" id="formReport" role="form" action="{{ path('sie_juegos_clasificacion_f'~fase~'_index') }}" method="POST">  
                                <input type="hidden" name="codigoBusqueda" value="{{ infoEntidad[0].id }}" />
                                <button id="tour-13" type="submit" title="Listado de deportistas clasificados" class="btn btn-info">
                                    <i class='fa fa-1x fa-book' aria-hidden="true"></i>
                                </button>
                            </form>  
                        </div> 
                        <div class="pull-right">
                            <form name="formReport" id="formReport" role="form" action="{{ path('sie_juegos_clasificacion_lista_deportistas_inscritos_fase',{'fase':fase,'usuario':app.session.get('userId')}) }}" method="POST">  
                                <input type="hidden" name="id" value="{{ infoEntidad[0].id}}" />
                                <button id="tour-13" type="submit" title="Descargar en formato PDF" class="btn btn-googleplus">
                                    <i class="fa fa-1x fa-file-pdf-o" aria-hidden="true"></i> Descargar listado
                                </button>
                            </form>                       
                        </div>     
                        <div class="clearfix"></div>
                    </div>
                </div>  
                <div class="panel panel-primary shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Nivel / Disciplina / Prueba / Género</h3>
                        </div><!-- /.pull-left -->
                        <div class="pull-right">

                        </div><!-- /.pull-right -->
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Start project overview -->
                        <small>
                            <div class="tree well" style="border: 0px;">
                                {%for nivelKey, dataNivel in infoNiveles%}
                                    <ul>
                                        <li>
                                            <span><i class="icon-folder-open"></i> {{nivelKey}}</span> 
                                            <ul>
                                                {% for disciplinaKey,dataDisciplina in dataNivel %}
                                                    <li>
                                                        <span><i class="icon-minus-sign"></i> {{disciplinaKey}}</span>
                                                        <ul>
                                                            {% for pruebaKey,dataPrueba in dataDisciplina %}
                                                                <li>
                                                                    <span><i class="icon-minus-sign"></i> {{pruebaKey}}</span>
                                                                    <ul>
                                                                        {% for generoKey, dataGenero in dataPrueba %}
                                                                            <li>
                                                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscritos">
                                                                                    <span ><i class="icon-leaf"></i>  
                                                                                        <a href="#" onclick="seeStudents('{{dataGenero.infoDeportes}}');">{{generoKey}} </a>
                                                                                    </span>
                                                                                </div>                                                            
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </small>
                        <!--/ End project overview -->  
                    </div><!-- /.panel-body -->
                </div> 
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">     
                <small>
                    <div id="idstudents">                        
                    </div>
                </small>                 
            </div>

            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">                  
                <small>                       
                    <div id="idstudents">    
                        {% if infoDeportistas is defined %}
                            <table id="datatable-deportistas" class="table table-striped table-info">
                                <thead>
                                    <tr>                            
                                        <th data-class="expand">#</th>
                                        <th>Unidad Educativa</th>
                                        <th>C.I.</th>
                                        <th>Código Rude</th>
                                        <th>Estudiante</th>
                                        <th>Género</th>
                                        <th>Disciplina</th>
                                        <th>Prueba</th>
                                        <th>Equipo</th>
                                        <th style="min-width: 50px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {#init the array info student #}
                                    {% set objInfoStudent = [] %}
                                    {% for data in infoDeportistas%}
                                        {% set nombre = data.paterno~' '~data.materno~' '~data.nombre %}
                                        {% set rude = data.codigoRude %}                            
                                        {% set genero = data.genero %}     
                                        {% set institucioneducativa = data.institucioneducativa %}      
                                        {% if data.complemento == "" %}
                                            {% set ci = data.carnetIdentidad %}
                                        {% else %}
                                            {% set ci = data.carnetIdentidad~'-'~data.complemento%}
                                        {% endif %}                         
                                        {% set disciplina = data.disciplina %} 
                                        {% set prueba = data.prueba %}
                                        <tr>
                                            <td align="">{{loop.index}}</td>
                                            <td align="">{{institucioneducativa}}</td>
                                            <td align="">{{ci}}</td>
                                            <td align="">{{rude}}</td>
                                            <td align="">{{nombre}}</td>
                                            <td align="">{{genero}}</td>
                                            <td align="">{{disciplina}}</td>
                                            <td align="">{{prueba}}</td>
                                            <td align="">{{equipoNombre}}</td>
                                            <td align="">
                                                <form name="formElimina" id="formElimina" role="form" action="{{ path('sie_juegos_eliminacion_clasificacion_estudiante') }}" method="POST">  
                                                    <input type="hidden" name="inscripcion" value="{{ data.eInsId }}" />
                                                    <input type="hidden" name="fase" value="{{ fase }}" />
                                                    <button id="tour-13" type="submit" title="Elimina inscripción" class="btn btn-circle btn-googleplus btn-stroke">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>  
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <tr>                            
                                            <th data-class="expand">#</th>
                                            <th data-hide="phone,tablet">P.</th>
                                            <th>C.I.</th>
                                            <th>Código Rude</th>
                                            <th>Estudiante</th>
                                            <th>Género</th>
                                            <th>Disciplina</th>
                                            <th>Prueba</th>
                                            <th>Equipo</th>
                                            <th style="min-width: 50px">&nbsp;</th>
                                        </tr>
                                    </tr>
                                </tfoot>
                            </table> 
                        {% endif %}                   
                    </div>  
                </small>
            </div>
        </div>                          
        <!--/div-->
        <!--/ End mail page -->
    </div>
    <!-- Start body content -->
    <!--/ End body content -->
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div><!-- /.modal -->

    
    <!--/ End body content -->
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript">        

    
        /**
         * this is to the tree menu option
         * @returns {undefined}
         */
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expandir esta rama').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Minimizar esta rama').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });

        var seeStudents = function (infoDeportes) {
            $.ajax({
                type: 'get',
                data: ({infoDeportes: infoDeportes}),
                url: Routing.generate('sie_juegos_clasificacion_lista_deportistas'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };

        var doInscription = function () {
            var elem = document.getElementById('formStudentInscription').elements;
            var sw = true;
            for (var i = 0; i < elem.length; i++) {
                if (elem[i].type == 'checkbox')
                    if ((elem[i].checked))
                        sw = false;
            }
            if (sw) {
                alert('Tiene que Seleccionar por lo menos una Inscripción...');
                return flase;
            }
            var formIns = $('#formStudentInscription').serialize();
            $.ajax({
                type: 'post',
                data: formIns,
                url: Routing.generate('inscription_ue_all_sie_get_inscription'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };
        var selectAllEle = function () {
            $("#checkAll").on("change", function () {
                $(this).closest("div").find("input:checkbox").prop("checked", $(this).prop("checked"));
            });

        };
        var getTurnos = function (nivel, sie, gestion, nivelname, key) {
            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_turnos'),*/
                url: "{{ path('herramienta_info_estudiante_get_turnos') }}",
                beforeSend: function () {
                    /* $("#idgrados").empty();
                     $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idgrados_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idgrados_" + key).empty();
                    $("#idgrados_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getParalelos = function (nivel, sie, gestion, turno, turnoname, nivelname, key) {

            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, turno: turno, turnoname: turnoname, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_paralelos'),*/
                url: "{{ path('inscription_ue_all_sie_get_paralelos') }}",
                beforeSend: function () {
                    /* $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idparalelos_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    /*$("#idstudents").empty();
                     $("#idparalelos").empty();*/
                    $("#idparalelos_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getAreas = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_infoEstudianteAreas_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
    </script>
{%endblock%}
