<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Reporte</title>
	<link href="{{asset('webolimpiadas/assets/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('webolimpiadas/assets/global/plugins/bower_components/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
	<link href="{{asset('webolimpiadas/assets/global/plugins/bower_components/animate.css/animate.min.css')}}" rel="stylesheet">

	<link href="{{asset('webolimpiadas/assets/admin/css/reset.css')}}" rel="stylesheet">
	<link href="{{asset('webolimpiadas/assets/admin/css/components.css')}}" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{path('olimreporte')}}">
					<img class="logo" src="{{asset('webolimpiadas/img/logo/html/logo-white.png')}}" alt="Olimpiadas científicas" style="margin-top:-15px; margin-left:-20px;" />
				</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('login') }}" class="btn btn-link" style="padding-top: 15px;">Ingresar al sistema</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	
	{% block body %}
	    
	{% endblock %}

	<script src="{{asset('webolimpiadas/assets/global/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{asset('webolimpiadas/assets/global/plugins/bower_components/jquery-cookie/jquery.cookie.js')}}"></script>
	<script src="{{asset('webolimpiadas/assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('webolimpiadas/assets/global/plugins/bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.min.js')}}"></script>
	<script src="{{ asset('js/jquery.alphanum.js') }}"></script>

	{% block javascripts %}
	    
	{% endblock %}
</body>
</html>