<div class="row">
	<div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-4">
		Gestión
		{{ form_widget(form.n22GestionTipo, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-4">
		¿Cuantas veces?
		{{ form_widget(form.n22CantVeces, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-4">
		¿En que horario?
		{{ form_widget(form.n22HorarioTipo, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
		¿En que ambiente?
		{{ form_widget(form.n22AmbientesTipo, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
		Moviliario sustraido
		{{ form_widget(form.n22MobiliarioTipo, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		Equipamiento sustraido
		{{ form_widget(form.n22EquipamientoTipo, {'attr':{'class':'form-control'} }) }}
	</div>
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		¿Que acciones se tomaron?
		{{ form_widget(form.n22ObsAcciones, {'attr':{'class':'form-control','rows':'7'} }) }}
	</div>

</div>