{% extends 'layoutUsuarios.html.twig' %}

{% block cuerpo -%}

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>¡Lea Atentamente!</strong> El proceso para la creacion de nuevos usuarios tiene los siguientes requisitos:
    <p>
      Al hacer correr el proceso se generara automaticamente los usuarios para los apoderados que aun no dispongan de este,
      y solo se generaran usuarios a los datos de los apoderados validados por el SEGIP.
    <p>  
      Los nuevos datos de apoderados tendran que esperar un periodo de validación de datos antes de ser habilitados para la generación de sus usuarios.
    </div>

    <form action="{{path('sie_usuarios_apoderados_generar')}}" method="post">
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Generar Usuarios para Apoderados de la Institución Educativa.</button>
    </form >
    <p>    
    {% for flashMessage in app.session.flashbag.get('apoderadosgeneracion') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Cantidad de usuario de apoderados generado :</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('apoderadosgeneracionerror') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>¡Inconsistencia de datos!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    <p>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Apoderados Registrados en la Institución Educativa</h4>
        </div>
        <div id="tablaListadoPersonas_fil" style="visibility: hidden;">        
        </div>
        <div class="panel-body">
            <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Nombre de Usuario</th>                        
                        <th>Estado</th>
                        <th>Apoderado</th>
                        <th>Parenteso :Estudiantes</th>
                    </tr>
                </thead>
                <tbody>
                {% for persona in personas %}
                    <tr>
                        <td>                           
                            {% if persona.username %}
                                {% include 'SieUsuariosBundle:Default:menuprincipalusuario.html.twig' with {'persona': persona} %}
                                {#<div class="btn-group">
                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle glyphicon glyphicon-tasks" data-toggle="dropdown" aria-haspopup="true">
                                        Acciones <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">                                        
                                        <li><a class="glyphicon glyphicon-eye-open" href="#" onclick="usuarioFormShow('{{persona.usuarioid}}')"> Ver</a></li>                                        
                                        <li><a class="glyphicon glyphicon-pencil" href="#" onclick="personaFormEdit('{{persona.personaid}}')"> Editar datos personales</a></li>                                                                                
                                        <li><a class="glyphicon glyphicon-edit" href="#" onclick="usuarioFormRolEdit('{{persona.usuarioid}}')"> Editar Roles</a></li>
                                        <li><a class="glyphicon glyphicon-flash" href="#" onclick="usuarioFormReset('{{persona.usuarioid}}')"> Resetear Contraseña</a></li>                                        
                                    </ul>
                                </div>#}
                            {% else %}                                
                                <a role="button" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="#" onclick="usuarioForm('{{persona.personaid}}')"> Asignar Usuario</a>
                            {% endif %}
                        </td>
                        <td>{{ persona.username }}</td>
                        <td>
                            {% if persona.esactivo  %}
                                {% if persona.esactivo == true %}
                                    <span class="label label-success">Activo</span>
                                {% else %}
                                    <span class="label label-default">Desactivado</span> 
                                {% endif %}
                            {% else %}
                                <span class="label label-default">Sin usuario</span>
                            {% endif %}         
                        </td>
                        <td>{{ persona.nombre }} {{ persona.paterno }} {{ persona.materno }}, CI:{{ [persona.carnet,persona.complemento]|join|trim}}</td>                           
                        <td>{{ persona.estudiante }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#tablaListadoPersonas').find('tr').click( function(){
            $('#tablaListadoPersonas_fil').text($(this).index());
        });
        
        $('#tablaListadoPersonas tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        var table = $('#tablaListadoPersonas').DataTable({
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",                
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        
        initialise();
    } );
    </script>
{% endblock %}