{% extends 'layoutOlimpiadas.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-pencil"></i> Tutores <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="{{path('infra_list_index')}}">
                       Inscripciones
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>


            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-info shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Datos Institución Educativa</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">
                        <!-- Start list message -->
                        <div class="media-list">
                            <div class="media">
                                <div class="pull-left"><img src="{{asset('/webolimpiadas/img/avatar/50/25.png')}}" class="media-object img-circle" alt="..."></div>
                                <div class="media-body">
                                    <span class="media-heading">
                                        {{institucion.id}} - {{institucion.institucioneducativa}}
                                    </span>
                                    <span class="media-text">
                                        <b>Código LE:</b> {{institucion.leJuridicciongeografica.id}} <br />
                                        <b>Subsistema:</b> {{institucion.orgcurricularTipo.orgcurricula}} <br />
                                        <b>Dependencia:</b> {{institucion.dependenciaTipo.dependencia}} <br />
                                    </span>
                                    <!-- Start meta icon -->
                                    
                                    <!--/ End meta icon -->
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->

                        </div>
                        <!--/ End list message -->

                    </div><!-- /.panel-body -->
                </div>
            </div>

            <div class="col-md-5">
                    <div class="panel panel-info shadow">
                        {% if director %}
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Datos Director(a)</h3>
                            </div>
                            <div class="pull-right">
                            {% if app.session.get('roluser') in [35,9] %}
                                <form method="post" action="{{path('olimdirectordata_manual_edit')}}">
                                    <input type="hidden" id="form_jsonData" name="form[jsonData]" value="{{jsonData}}">
                                    <input type="hidden" id="form_datosId" name="form[datosId]" value="{{director.datosid}}">
                                    <input type="hidden" id="form_personaId" name="form[personaId]" value="{{director.personaid}}">
                                    <input type="hidden" id="form_maestroId" name="form[maestroId]" value="{{director.maestroid}}">
                                    <button type="submit" class="btn btn-sm btn-primary">Editar</button>
                                </form>
                            {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body no-padding">
                            <!-- Start list message -->
                            <div class="media-list">
                                <div class="media">
                                    <div class="pull-left"><img src="{{asset('/webolimpiadas/img/avatar/50/24.png')}}" class="media-object img-circle" alt="..."></div>
                                    <div class="media-body">
                                        <span class="media-heading">
                                            {{director.nombre}}
                                            {{director.paterno}}
                                            {{director.materno}}
                                        </span>
                                        <span class="media-text">
                                            <b>Teléfono 1:</b> {{director.telefono1}} </br>
                                            <b>Teléfono 2:</b> {{director.telefono2}} </br>
                                            <b>Correo Electrónico:</b> {{director.correo_electronico}}
                                        </span>
                                        <!-- Start meta icon -->
                                        
                                        <!--/ End meta icon -->
                                    </div><!-- /.media-body -->
                                </div><!-- /.media -->
    
                            </div>
                            <!--/ End list message -->
    
                        </div><!-- /.panel-body -->
                        {% else %}
                        DIRECTOR NO REGISTRADO...
                        {% endif %}
                    </div>
                    <!-- end panel -->
                </div>
        </div>

    <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <!-- this is the beginner -->

                                    <!-- Start select fields - basic form -->
                        <div class="panel ">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <p class="panel-title"><a href="#"  data-toggle="tooltip" data-placement="top" data-original-title="Descargar Lista de Inscritos">Descargar lista de Inscritos <i class="fa fa-file"> </i></a></p>
                                    
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                            <div class="row">
                                <div class="col-md-12">
                                {% if app.session.get('roluser') in [35,8,7,10,9,2] %}
                                    {{form(formNewTutor)}}
                                {% endif %}
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>nombre</th>
                                        <th>paterno</th>
                                        <th>materno</th>
                                        <th>Telefono1</th>
                                        <th>Telefono2</th>
                                        <th>Correoelectronico</th>
                                        <th>Acciones</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ entity.nombre }}</td>
                                        <td>{{ entity.paterno }}</td>
                                        <td>{{ entity.materno }}</td>
                                        <td>{{ entity.telefono1 }}</td>
                                        <td>{{ entity.telefono2 }}</td>
                                        <td>{{ entity.correo_electronico }}</td>
                                        
                                        <td>
                                            <table>
                                                <!-- <thead>
                                                    <tr>
                                                        <th>header</th>
                                                    </tr>
                                                </thead> -->
                                                <tbody>

                                                    <tr>
                                                     {% if app.session.get('roluser') in [35,8,7,10,9,2] %}
                                                        <td class="text-center">
                                                            <form action="{{path('oliminscriptions_selectInscription')}}" method="POST">
                                                                <input type="hidden" name="form[personaid]" id="form_personaid" value="{{entity.personaid}}">
                                                                <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                <input type="hidden" name="form[institucioneducativaid]" id="form_institucioneducativaid" value="{{entity.institucioneducativa_id}}">                                   
                                                                <input type="hidden" name="form[gestiontipoid]" id="form_gestiontipoid" value="{{entity.gestion_tipo_id}}">
                                                                <button href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Inscribir"><i class="fa fa-list"></i></button>
                                                            </form>
                                                        </td>
                                                        
                                                        <td class="text-center">
                                                            <form action="{{path('oliminscriptions_listInscription')}}" method="POST">
                                                                <input type="hidden" name="form[personaid]" id="form_personaid" value="{{entity.personaid}}">
                                                                <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                <input type="hidden" name="form[institucioneducativaid]" id="form_institucioneducativaid" value="{{entity.institucioneducativa_id}}">                                   
                                                                <input type="hidden" name="form[gestiontipoid]" id="form_gestiontipoid" value="{{entity.gestion_tipo_id}}">
                                                                <button href="#" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Lista de Inscritos"><i class="fa fa-eye"></i></button>
                                                            </form>
                                                        </td>
                                                        <td class="text-center">
                                                            <form action="{{path('oliminscriptions_changeTutor')}}" method="POST">
                                                                <input type="hidden" name="form[personaid]" id="form_personaid" value="{{entity.personaid}}">
                                                                <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                <input type="hidden" name="form[institucioneducativaid]" id="form_institucioneducativaid" value="{{entity.institucioneducativa_id}}">                                   
                                                                <input type="hidden" name="form[gestiontipoid]" id="form_gestiontipoid" value="{{entity.gestion_tipo_id}}">
                                                                <button href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Cambio de Tutor"><i class="fa fa-exchange"></i></button>
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                    {% if app.session.get('roluser') in [35,9] %}

                                                        <td class="text-center">
                                                            <form action="{{path('olimtutor_listTutorBySie')}}" method="post">
                                                                    <input type="hidden" id="form_deletetutor" name="form[deletetutor]" value="{{entity.olimtutorid}}">
                                                                    <input type="hidden" id="form_jsonData" name="form[jsonData]" value="{{jsonData}}">
                                                                    <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                    <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                    <input type="hidden" name="form[sie]" id="form_sie" value="{{entity.institucioneducativa_id}}">                                   
                                                                    <input type="hidden" name="form[gestion]" id="form_gestion" value="{{entity.gestion_tipo_id}}">
                                                                <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('¡Se eliminará el registro! ¿Desea continuar?');" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar Tutor"><i class="fa fa-times"></i></button>
                                                            </form>                                                           
                                                        </td>
                                                      
                                                        <td class="text-center">
                                                            <form action="{{path('olimtutor_updateDataTutor')}}">
                                                                <input type="hidden" id="form_jsonData" name="form[jsonData]" value="{{jsonData}}">
                                                                <input type="hidden" name="form[personaid]" id="form_personaid" value="{{entity.personaid}}">
                                                                <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                <input type="hidden" name="form[institucioneducativaid]" id="form_institucioneducativaid" value="{{entity.institucioneducativa_id}}">                                   
                                                                <input type="hidden" name="form[gestiontipoid]" id="form_gestiontipoid" value="{{entity.gestion_tipo_id}}">
                                                                <button href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar Tutor"><i class="fa fa-pencil"></i></button>
                                                            </form>
                                                        </td>
                                                        {% endif %}
                                                        {% if app.session.get('roluser') in [35] %}
                                                        

                                                          <td class="text-center">
                                                            <form action="{{path('oliminscriptionsnivelsuperior_index')}}" method="POST">
                                                                <input type="hidden" name="form[personaid]" id="form_personaid" value="{{entity.personaid}}">
                                                                <input type="hidden" name="form[olimtutorid]" id="form_olimtutorid" value="{{entity.olimtutorid}}">
                                                                <input type="hidden" name="form[olimregistroolimpiadaid]" id="form_olimregistroolimpiadaid" value="{{entity.olimregistroolimpiadaid}}">                                    
                                                                <input type="hidden" name="form[institucioneducativaid]" id="form_institucioneducativaid" value="{{entity.institucioneducativa_id}}">                                   
                                                                <input type="hidden" name="form[gestiontipoid]" id="form_gestiontipoid" value="{{entity.gestion_tipo_id}}">
                                                                <button href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Inscripcion curso superior"><i class="fa fa-list"></i></button>
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                    
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {#
                                                <ul>
                                            <li>
                                                <a href="{{ path('olimtutor_show', { 'id': entity.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('olimtutor_edit', { 'id': entity.id }) }}">edit</a>
                                            </li>
                                        </ul>

                                                #}
                                        
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            </div><!-- /.panel-body -->
                        </div><!-- /.panel -->
                        <!--/ End select fields - basic form -->

                        

            <!-- this is the end -->
            
            

          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="idResult">
            
          </div>
        </div>
        
      </div>
    </div>

    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" id="modal">      
    </div>
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript" charset="utf-8" >





    </script>

    
    
{% endblock %}
