<small>
<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-inverse btn-danger btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="addTutor('{{jsonDataInscription}}')">
                    Registre Tutor
        </button>

        <!-- Start bordered table -->
        <h4 class="no-margin">Lista Tutores</h4>
        <!-- <button type="button" class="btn btn-inverse btn-xs" onclick="addTutor();">Registre tutor</button> -->

        
        <div class="table-responsive mb-20">
            <table class="table table-bordered">
                <thead>
                    <tr>
                       <th>#</th>
                        <th>Datos Tutor</th>
                        <th>Telefonos</th>
                        <th>Correoelectronico</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{loop.index}}</a></td>
                            <td>{{ entity.nombre }} {{ entity.paterno }} {{ entity.materno }}</td>
                            <td>{{ entity.telefono1 }}/{{ entity.telefono2 }}</td>
                            <td>{{ entity.correo_electronico }}</td>
                            <td>
                                <table border='0'>
                                    <thead>
                                        <tr>
                                            <td><a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="updateDataTutor('{{jsonDataInscription}}', {{entity.id}})"><i class="fa fa-edit fa-md pr-2"></i></a></td>
                                            <td><a href="#" class="btn btn-danger  btn-xs" onclick="removeDataTutor('{{jsonDataInscription}}', {{entity.id}})"><i class="fa fa-trash fa-md pr-2"></i></a></td>
                                            <td><a href="#" class="btn btn-primary btn-xs" onclick="selectTypeInscription('{{jsonDataInscription}}', {{entity.id}} );"><i class="fa fa-list"></i></a> </td>
                                        </tr>
                                    </thead>
                                   <!--  <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody> -->
                                </table>
                                
                                
                                
                                <!-- <a href="#" ><i class="fa fa-eye"></i></a> -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End bordered table -->

    </div>
    <div class="col-md-6">
        <div id="typeInscriptionId">            
        </div>
            
    </div>
      
    </div><!-- /.table-responsive -->
    <!--/ End hover table -->

    </div>    
</small>



 
     