<small>

<div class="row">
    <div class="col-md-12">
    {% if tutorFound %}        
        <!-- Start bordered table -->
        <h4 class="no-margin">Resultado Busqueda</h4>
                
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                       
                        <th>CI</th>
                        <th>Datos Tutor</th>
                        
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {# for entity in resultTutores %}
                        
                            <td>{{ loop.index }}</td> #}
                            <td><b>{{ entity.carnet }}</b> </td>
                            <td>{{ entity.nombre }}
                            {{ entity.paterno }}
                            {{ entity.materno }}</td>
                            <td>
                                {#
                                    <form name="form" method="post" id="regTutorFormId" class="form-inline" action="{{ path('olimtutor_listTutorBySie')}}">
                                      <div class="form-group mx-sm-3 mb-2">
                                        <input type="text" id="form_telefono1" name="form[telefono1]" required="required" class="form-control" placeholder="Telefono1">
                                        <input type="text" id="form_telefono2" name="form[telefono2]" required="required" class="form-control" placeholder="Telefono2">
                                        <input type="text" id="form_correoElectronico" name="form[correoElectronico]" required="required" class="form-control" placeholder="correo electronico">
                                        
                                         <input type="hidden" id="form_sie" name="form[sie]" required="required" class="form-control" value="{{sieSelected}}">
                                         <input type="hidden" id="form_gestion" name="form[gestion]" required="required" class="form-control" value="{{gestionSelected}}">

                                      </div>
                                      <button type="submit" id="form_registrar" name="form[registrar]"  class="btn btn-inverse btn-danger btn-stroke btn-xs">Registrar</button>
                                      
                                    <input type="hidden" id="form_personaid" name="form[personaid]" value="{{entity.id}}">
                                    <input type="hidden" id="form_data" name="form[data]" value="{{jsonDataInscription}}">
                                    <input type="hidden" id="form__token" name="form[_token]" value="ZkRN9Kp-VjslhXafRKm76AhfT7ekMp2cDh0N9eMaS9o">
                                </form>
                                    #}
                                    {{form_start(form, {'attr':{'data-toggle': 'validator','role': 'form', 'class':'form-inline', 'id':'regTutorFormId', 'onsubmit': 'return validarDatos();'}})}}
                                    <div class="form-group mx-sm-3 mb-2">
                                        {{form_widget(form.telefono1, {'attr':{'class':'form-control', 'placeholder':'telefono1'}})}}
                                        {{form_widget(form.telefono2, {'attr':{'class':'form-control', 'placeholder':'telefono2'}})}}
                                        {{form_widget(form.correoElectronico, {'attr':{'class':'form-control', 'placeholder':'email'}})}}
                                        <input type="hidden" id="form_personaid" name="form[personaid]" value="{{entity.id}}">
                                    </div>
                                    {{form_widget(form.registrar, {'attr':{'class':'btn btn-inverse btn-danger btn-stroke btn-xs'}})}}


                                    {{form_end(form)}}
                                
                            </td>
                           
                        </tr>
                    {# endfor #}
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End bordered table -->

    </div>
    <!--/ End hover table -->
    {% else %}
        <div class="alert alert-warning">
            <strong>Atención!</strong> Tutor no encontrado...
        </div>
    {% endif %}
</div>   

</small>


  <script>
        var validarDatos = function(){
            telefono1 = $('#form_telefono1').val();
            telefono2 = $('#form_telefono2').val();
            correo = $('#form_correoElectronico').val();
            
            emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            fonoRegex = /^([0-9])*$/;

            if(telefono1 == '' || correo == '' || !emailRegex.test(correo) || !fonoRegex.test(telefono1) || !fonoRegex.test(telefono2)){
                alert('Ingrese datos en los campos requeridos o ajuste a los formatos válidos');
                return false;
            }
        }
    </script>





 
     