{% extends 'layoutOlimpiadas.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-pencil"></i> Tutores <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="{{path('infra_list_index')}}">
                       Inscripciones
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>


            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Modificar datos tutor</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start list message -->
                        <div class="media-list">
                            <div class="media">
                                <div class="pull-left"><img src="{{asset('/webolimpiadas/img/avatar/50/24.png')}}" class="media-object img-circle" alt="..."></div>
                                <div class="media-body">
                                    <span class="media-heading">{{dataTutorPersona.nombre}} {{dataTutorPersona.paterno}} {{dataTutorPersona.materno}} </span>
                                    {{form_start(form, {'attr':{'id':'updateDataTutorId', 'class':'form-inline'} })}}
                                        <div class="form-group mx-sm-3 mb-2">
                                            {{ form_widget(form.telefono1, {'attr':{'class':'form-control', 'placeholder':'Teléfono 1', 'pattern':'[0-9]{4,9}', 'maxlength': '8'} })}}
                                            {{ form_widget(form.telefono2, {'attr':{'class':'form-control', 'placeholder':'Teléfono 2', 'pattern':'[0-9]{4,9}', 'maxlength': '8'} })}}
                                            {{ form_widget(form.correoElectronico, {'attr':{'class':'form-control', 'placeholder':'Email'} })}}
                                        </div>
                                        {{form_widget(form.update, {'attr':{'class':'btn btn-md btn-primary'} })}}
                                    {{form_end(form)}}
                                </div><!-- /.media-body -->
                            </div><!-- /.media -->
                        </div>
                        <!--/ End list message -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}