{% extends 'layoutPermanente.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
    <link href="{{asset('filefile/css/bootstrap-fileupload.min.css')}}" rel="stylesheet">
    <link href="{{asset('filefile/css/bootstrap-fileupload.css')}}" rel="stylesheet">
{% endblock %}

{% block contentoption%}
<div class='container'>
    <h1>ModuloTipo creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('modulotipo') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}