{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        {% if tramite %}
            <h2><i class="fa fa-list-alt"></i> TRAMITE RUE Nro. {{ tramite.id }}: <span>{{tramite.flujoTipo.flujo}}</span></h2>
        {% else %}
            <h2><i class="fa fa-list-alt"></i> TRAMITE RUE: <span>{{tarea.flujoTipo.flujo}}</span></h2>
        {% endif %}
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index')}}">Trámite</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            {% if app.session.flashBag.has('exito') %}
                                <div class="alert alert-success">
                                    {% for msg in app.session.flashBag.get('exito') %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('error') %}
                                <div class="alert alert-danger">
                                    {% for msg in app.session.flashBag.get('error') %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">{{tarea.proceso.procesoTipo}}</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    {% if tramite %}
                                        <div class="panel-group">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <a data-toggle="collapse" href="#collapse1"><h4 class="panel-title text-lilac"><i class="fa fa-eye"></i>Ver formularios anteriores</h4></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'SieProcesosBundle:TramiteRue:historico.html.twig' with {'datos': datos} %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">1. DATOS GENERALES</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>CÓDIGO SIE:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.id }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>CÓDIGO DE EDIFICIO EDUCATIVO:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.leJuridicciongeografica.id }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>DEPENDENCIA:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.dependenciaTipo.dependencia|upper }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>DISTRITO EDUCATIVO:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.leJuridicciongeografica.distritoTipo.distrito }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>FECHA DE FUNDACIÓN:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.fechaResolucion|date('d-m-Y') }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6"><strong>NIVELES DE ORGANIZACIÓN CURRICULAR:</strong>
                                                        <ul>
                                                            {% set nivel = [] %}
                                                            {% for n in ieNivel %}
                                                                <li type=square>{{ n.nivelTipo.nivel }}</li> 
                                                                {% set nivel = nivel|merge([n.nivelTipo.id]) %}
                                                            {% endfor %}            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>UNIDAD EDUCATIVA:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.institucioneducativa }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>ESTADO:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ institucioneducativa.estadoinstitucionTipo.estadoinstitucion|upper }}
                                                    </div>
                                                </div>
                                                {% if institucioneducativa.dependenciaTipo.id == 2 %}
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            <strong>CONVENIO:</strong>
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ institucioneducativa.convenioTipo.convenio|upper }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>TELEFONO DE REFERENCIA:</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ sucursal.telefono1 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">2. UBICACIÓN GEOGRÁFICA</h3>
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="form-group col-md-12" style="background:#E9F9FC">
                                                <h5><strong>Ubicación Geográfica (Censo 2012 - información referencial) </strong></h5>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>DEPARTAMENTO:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ lugarTipo2012.lugarTipo.lugarTipo.lugartipo.lugar|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>PROVINCIA:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ lugarTipo2012.lugarTipo.lugarTipo.lugar|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>MUNICIPIO:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ lugarTipo2012.lugartipo.lugar|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>COMUNIDAD:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ lugarTipo2012.lugar|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>ZONA:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.zona|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>DIRECCIÓN:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.direccion|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>ÁREA GEOGRÁFICA ESTABLECIDA POR EL MUNICIPIO:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {% for a in form.area %}
                                                        <div class="col-md-6 rdio rdio-primary circle">
                                                            {{ form_widget(a) }}
                                                            {{ form_label(a) }}
                                                        </div>
                                                    {% endfor %}
                                                    {# {% if institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.area2001 == 'U' %}
                                                        URBANO
                                                    {% else %}
                                                        RURAL
                                                    {% endif %} #}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12" style="background:#E9F9FC">
                                                <h5><strong>Ubicación Geográfica (Censo 2001 - R.U.E.)</strong></h5>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>DEPARTAMENTO:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugarTipo.lugartipo.lugar|upper }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>PROVINCIA:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugartipo.lugar }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>MUNICIPIO:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugartipo.lugar }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>CANTÓN:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugar }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>LOCALIDAD:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.lugarTipoLocalidad.lugar }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>ZONA:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.zona }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <strong>DIRECCIÓN:</strong>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ institucioneducativa.leJuridicciongeografica.direccion }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    {{ form_start(form,{ 'attr': {'id':'form','enctype':'multipart/form-data'}}) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title">3. DATOS A MODIFICAR</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="col-md-2">
                                                    {{ form_label(form.tramites) }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form_widget(form.tramites) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="table-responsive col-md-12">
                                                    {{ form_widget(form.tr) }}
                                                    <table class="table table-bordered table-striped" id="tabla">
                                                        <tr>
                                                            <th>Tipo de trámite</th> 
                                                            <th>Dato antiguo</th>
                                                            <th>Dato nuevo</th>
                                                            <th>Requisitos</th>
                                                            <th>Eliminar</th>
                                                        </tr>
                                                    </table>
                                                    <div id="requisitos">
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title">4. JUSTIFICACIÓN DE LA MODIFICACIÓN</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group  col-md-12">
                                                <div class="col-md-3">
                                                    <strong>JUSTIFICACIÓN:</strong>
                                                </div>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.observacion) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group col-md-3">
                                {{ form_label(form.guardar) }}
                                {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                                <a href="{{path('wf_tramite_index')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {{ form_end(form) }}                   
                </div><!-- /.end panel -->  
            </div>
        </div>
    </div>
    
    
{% endblock %}
{% block javascripts %}
    {{ parent() }} 
    <script>
        $( document ).ready(function() {
            $.fn.datepicker.dates['es'] = {
                days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                format:'dd-mm-yyyy',
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('.date').datepicker({
                orientation: "auto left",
                forceParse: false,
                autoclose: true,
                todayHighlight: true,
                language: 'es'
            });
            $('#form_tr').empty(); 
        });
        
        $('#form_siefusion').on('input',function(e){
            var formData = {idsiefusion: $(this).val(),iddistrito:'{{institucioneducativa.leJuridicciongeografica.lugarTipoIdDistrito}}'};
            //console.log($(this).val().length);
            if($(this).val().length >= 8){
                $.ajax({
                    type: 'GET',
                    url: "{{path('tramite_rue_buscar_rue')}}",
                    data: formData,
                    beforeSend: function () {
                        $('#msg').empty();
                        /*$("#form_dependenciaTipo").val('');
                        $("#form_tipoeducacion").val('');*/
                    },
                    success: function (data) {
                        if (data.msg){
                            $("#msg").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+data.msg+'</div>');
                            $("#fusioncerrar").hide();
                        }else{
                            $("#form_fusioncerrar_1").val(data.ie.idsiefusion);
                            $('label[for=form_fusioncerrar_1]').html(data.ie.institucioneducativa);
                            $("#fusioncerrar").show();
                            $("#nivelfusion2").val(JSON.stringify(data.nivel));
                        }
                    },
                });
            }
        });

        function buscarEdificioEscolar(idLe) {
            if(idLe.length >= 8 ){
                var formData = {idLe:idLe};
                $.ajax({
                    type: 'get',
                    url: "{{path('tramite_rue_buscar_edificio')}}",
                    data: formData,
                    beforeSend: function () {
                        $("#form_departamento2012").empty();
                        $("#form_provincia2012").empty();
                        $("#form_municipio2012").empty();
                        $("#form_comunidad2012").empty();
                        $("#form_departamento2001").empty();
                        $("#form_provincia2001").empty();
                        $("#form_municipio2001").empty();
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        //$("#form_distrito").empty();
                        $("#form_zona").empty();
                        $("#form_direccion").empty();
                        $("#form_departamento2012").append('<option value="">Buscando...</option>');
                        $("#form_provincia2012").append('<option value="">Buscando...</option>');
                        $("#form_municipio2012").append('<option value="">Buscando...</option>');
                        $("#form_comunidad2012").append('<option value="">Buscando...</option>');
                        $("#form_departamento2001").append('<option value="">Buscando...</option>');
                        $("#form_provincia2001").append('<option value="">Buscando...</option>');
                        $("#form_municipio2001").append('<option value="">Buscando...</option>');
                        $("#form_canton2001").append('<option value="">Buscando...</option>');
                        $("#form_localidad2001").append('<option value="">Buscando...</option>');
                        $("#form_zona").val('');
                        $("#form_direccion").val('');
                        //$("#form_distrito").append('<option value="">Buscando...</option>');
                    },
                    success: function (data) {
                        //console.log(data);
                        if(data.msg){
                            //$("#msgLe").append('hola');
                            $("#form_lejurisdiccion").val('');
                            $("#form_departamento2012").empty();
                            $("#form_departamento2012").append('<option value="">Seleccione...</option>');
                            $("#form_provincia2012").empty();
                            $("#form_municipio2012").empty();
                            $("#form_comunidad2012").empty();
                            $("#form_departamento2001").empty();
                            $("#form_departamento2001").append('<option value="">Seleccione...</option>');
                            $("#form_provincia2001").empty();
                            $("#form_municipio2001").empty();
                            $("#form_canton2001").empty();
                            $("#form_localidad2001").empty();
                            //$("#form_distrito").empty();
                            $("#form_zona").val('');
                            $("#form_direccion").val('');
                            $.each(data.lugar.c2012.dep.lista, function (i, value) {
                                $("#form_departamento2012").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.dep.lista, function (i, value) {
                                $("#form_departamento2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            alert(data.msg);
                        }else{
                            $.each(data.lugar.c2012.dep.lista, function (i, value) {
                                $("#form_departamento2012").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2012.prov.lista, function (i, value) {
                                $("#form_provincia2012").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2012.mun.lista, function (i, value) {
                                $("#form_municipio2012").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2012.comu.lista, function (i, value) {
                                $("#form_comunidad2012").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.dep.lista, function (i, value) {
                                $("#form_departamento2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.prov.lista, function (i, value) {
                                $("#form_provincia2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.mun.lista, function (i, value) {
                                $("#form_municipio2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.can.lista, function (i, value) {
                                $("#form_canton2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            $.each(data.lugar.c2001.loc.lista, function (i, value) {
                                $("#form_localidad2001").append('<option value="' + i + '">' + value + '</option>');
                            });
                            /*$.each(data.lugar.distrito, function (i, value) {
                                $("#form_distrito").append('<option value="' + i + '">' + value + '</option>');
                            });*/
                            $("#form_departamento2012").val(data.lugar.c2012.dep.id);
                            $("#form_provincia2012").val(data.lugar.c2012.prov.id);
                            $("#form_municipio2012").val(data.lugar.c2012.mun.id);
                            $("#form_comunidad2012").val(data.lugar.c2012.comu.id);
                            $("#form_departamento2001").val(data.lugar.c2001.dep.id);
                            $("#form_provincia2001").val(data.lugar.c2001.prov.id);
                            $("#form_municipio2001").val(data.lugar.c2001.mun.id);
                            $("#form_canton2001").val(data.lugar.c2001.can.id);
                            $("#form_localidad2001").val(data.lugar.c2001.loc.id);
                            //$("#form_distrito").val(data.lugar.iddistrito);
                            $("#form_zona").val(data.lugar.zona);
                            $("#form_direccion").val(data.lugar.direccion);
                        }
                    }   
                });
            }else{
                //$("#form_lejurisdiccion").val('');
                $("#form_departamento2012").val('');
                $('#form_departamento2012 option[value=""]').text("Seleccione departamento");
                $("#form_provincia2012").empty();
                $("#form_municipio2012").empty();
                $("#form_comunidad2012").empty();
                $("#form_departamento2001").val('');
                $('#form_departamento2001 option[value=""]').text("Seleccione departamento");
                $("#form_provincia2001").empty();
                $("#form_municipio2001").empty();
                $("#form_canton2001").empty();
                $("#form_localidad2001").empty();
                //$("#form_distrito").empty();
                $("#form_zona").val('');
                $("#form_direccion").val('');   
            }

        }
        function provincia(d,censo) {
            //alert(d);
            $.ajax({
                type: 'get',
                url: Routing.generate('tramite_rue_le_buscar_provincias', {'idDepartamento': d ,'censo':censo}),
                beforeSend: function () {
                    $("#form_lejurisdiccion").val('');
                    if(censo == 2001){
                        $("#form_provincia2001").empty();
                        $("#form_municipio2001").empty();
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        //$("#form_distrito2001").empty();
                        $("#form_provincia2001").append('<option value="">Buscando...</option>');
                        $("#form_municipio2001").append('<option value="">Buscando...</option>');
                        $("#form_canton2001").append('<option value="">Buscando...</option>');
                        $("#form_localidad2001").append('<option value="">Buscando...</option>');
                        //$("#form_distrito2001").append('<option value="">Buscando...</option>');
                    }else if (censo == 2012){
                        $("#form_provincia2012").empty();
                        $("#form_municipio2012").empty();
                        $("#form_comunidad2012").empty();
                        //$("#form_distrito2012").empty();
                        $("#form_provincia2012").append('<option value="">Buscando...</option>');
                        $("#form_municipio2012").append('<option value="">Buscando...</option>');
                        $("#form_comunidad2012").append('<option value="">Buscando...</option>');
                        //$("#form_distrito2012").append('<option value="">Buscando...</option>');
                    }
                    
                },
                success: function (data) {
                    if(censo == 2001){
                        $("#form_provincia2001").empty();
                        $("#form_municipio2001").empty();
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        //$("#form_distrito2001").empty();
                        $("#form_provincia2001").append('<option value="">Seleccionar...</option>');
                        $("#form_municipio2001").append('<option value="">Seleccionar...</option>');
                        $("#form_canton2001").append('<option value="">Seleccionar...</option>');
                        $("#form_localidad2001").append('<option value="">Seleccionar...</option>');
                        //$("#form_distrito2001").append('<option value="">Seleccionar...</option>');
                        $.each(data.provincia, function (i, value) {
                            $("#form_provincia2001").append('<option value="' + i + '">' + value + '</option>');
                        });
                        /*$.each(data.distrito, function (i, value) {
                            $("#form_distrito").append('<option value="' + i + '">' + value + '</option>');
                        });*/
                    }else if (censo == 2012){
                        $("#form_provincia2012").empty();
                        $("#form_municipio2012").empty();
                        $("#form_comunidad2012").empty();
                        //$("#form_distrito2012").empty();
                        $("#form_provincia2012").append('<option value="">Seleccionar...</option>');
                        $("#form_municipio2012").append('<option value="">Seleccionar...</option>');
                        $("#form_comunidad2012").append('<option value="">Seleccionar...</option>');
                        //$("#form_distrito2012").append('<option value="">Seleccionar...</option>');
                        $.each(data.provincia, function (i, value) {
                            $("#form_provincia2012").append('<option value="' + i + '">' + value + '</option>');
                        });
                        /*$.each(data.distrito, function (i, value) {
                            $("#form_distrito").append('<option value="' + i + '">' + value + '</option>');
                        });*/
                    }
                    
                }
            });
        }

        function municipio(p,censo) {
            $.ajax({
                type: 'get',
                url: Routing.generate('tramite_rue_le_buscar_municipios', {'idProvincia': p,'censo':censo}),
                beforeSend: function () {
                    if(censo == 2001){
                        $("#form_municipio2001").empty();
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        $("#form_municipio2001").append('<option value="">Buscando...</option>');
                        $("#form_canton2001").append('<option value="">Buscando...</option>');
                        $("#form_localidad2001").append('<option value="">Buscando...</option>');
                    }else if (censo == 2012){
                        $("#form_municipio2012").empty();
                        $("#form_comunidad2012").empty();
                        $("#form_municipio2012").append('<option value="">Buscando...</option>');
                        $("#form_comunidad2012").append('<option value="">Buscando...</option>');
                    }
                },
                success: function (data) {
                    if(censo == 2001){
                        $("#form_municipio2001").empty();
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        $("#form_municipio2001").append('<option value="">Seleccionar...</option>');
                        $("#form_canton2001").append('<option value="">Seleccionar...</option>');
                        $("#form_localidad2001").append('<option value="">Seleccionar...</option>');
                        $.each(data.municipio, function (i, value) {
                            $("#form_municipio2001").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }else if (censo == 2012){
                        $("#form_municipio2012").empty();
                        $("#form_comunidad2012").empty();
                        $("#form_municipio2012").append('<option value="">Seleccionar...</option>');
                        $("#form_comunidad2012").append('<option value="">Seleccionar...</option>');
                        $.each(data.municipio, function (i, value) {
                            $("#form_municipio2012").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                }
            });
        }

        function comunidad(p,censo) {
            alert(censo);
            $.ajax({
                type: 'get',
                url: Routing.generate('tramite_rue_le_buscar_comunidad', {'idMunicipio': p,'censo':censo}),
                beforeSend: function () {
                    if(censo == 2012){
                        $("#form_comunidad2012").empty();
                        $("#form_comunidad2012").append('<option value="">Buscando...</option>');
                    }
                },
                success: function (data) {
                    if(censo == 2012){
                        $("#form_comunidad2012").empty();
                        $("#form_comunidad2012").append('<option value="">Seleccionar...</option>');
                        $.each(data.comunidad, function (i, value) {
                            $("#form_comunidad2012").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                }
            });
        }
        function canton(m,censo) {
            alert(censo);
            $.ajax({
                type: 'get',
                url: Routing.generate('tramite_rue_le_buscar_cantones', {'idMunicipio': m,'censo':censo}),
                beforeSend: function () {
                    if(censo == 2001){
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        $("#form_canton2001").append('<option value="">Buscando...</option>');
                        $("#form_localidad2001").append('<option value="">Buscando...</option>');
                    }
                },
                success: function (data) {
                    if(censo == 2001){
                        $("#form_canton2001").empty();
                        $("#form_localidad2001").empty();
                        $("#form_canton2001").append('<option value="">Seleccionar...</option>');
                        $("#form_localidad2001").append('<option value="">Seleccionar...</option>');
                        $.each(data.canton, function (i, value) {
                            $("#form_canton2001").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                }
            });
        }

        function localidad(c,censo) {
            $.ajax({
                type: 'get',
                url: Routing.generate('tramite_rue_le_buscar_localidades', {'idCanton': c,'censo':censo}),
                beforeSend: function () {
                    if(censo == 2001){
                        $("#form_localidad2001").empty();
                        $("#form_localidad2001").append('<option value="">Buscando...</option>');
                    }
                },
                success: function (data) {
                    if(censo == 2001){
                        $("#form_localidad2001").empty();
                        $("#form_localidad2001").append('<option value="">Seleccionar...</option>');
                        $.each(data.localidad, function (i, value) {
                            $("#form_localidad2001").append('<option value="' + i + '">' + value + '</option>');
                        });
                        $("#form_localidad2001").selectpicker('refresh');
                    }
                }
            });
        } 
        $(function(){
            $(".validar").keydown(function(event){
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });
        
        $("#form_tramites").change(function(){
            //alert('entra');  
            var id = $(this).val();
            if(id){
                var tramitetipo = $('#form_tramites option:selected').text();
                if ( $("#fila_"+ id).length ) {
                    return false;
                }
                var formData = {id: id,tramitetipo:tramitetipo,ie:'{{institucioneducativa.id}}'};
                $.ajax({
                    type: 'GET',
                    url: "{{path('tramite_rue_busca_tarea')}}",
                    data: formData,
                    beforeSend: function () {
                    },
                    success: function (data) {
                        var tr ='<tr id="fila_'+id+'"><td>'+tramitetipo+'</td>'+data;
                        if(id == 44 && {{institucioneducativa.estadoinstitucionTipo.id}} == 10){
                            tr = tr+'<td></td>';
                        }else{
                            tr = tr+'<td align="center"><button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal_'+id+'" data-placement="top" title="Requisitos" onclick="requisitos('+id+')"><i class="glyphicon glyphicon-plus"></i></button>'+
                                '</td>';
                        }
                        tr = tr+'<td align="center"><button class="btn btn-xs btn-danger" onclick="borrarFila('+id+')"><i class="glyphicon glyphicon-minus"></i></button>'+
                            '</td></tr>';
                        $('#tabla').append(tr);
                        $('#requisitos').append('<div class="modal fade borrar"  role="dialog" aria-hidden="true" id="modal_'+id+'" data-backdrop="false" style="z-index:9999999999 !important; background-color: rgba(0, 0, 0, 0.5);"></div>');
                        if ($('#form_tr').val() == "") {
                            trArray = [Number(id)];
                        }else{
                            trArray = JSON.parse($('#form_tr').val());
                            trArray.push(Number(id));
                        }
                        //console.log(trArray);
                        $('#form_tr').val(JSON.stringify(trArray));
                        $('[data-toggle="tooltip"]').tooltip()
                        //$('.container').css('background','rgba(0, 0, 0, 0.5)');
                    },
                });
            }
        });

        
 
        function requisitos(id){
            //alert(id);
            var formData = {id: id,ie:'{{institucioneducativa.id}}'};
            if ( $("#modal_requisitos_"+ id).length ) {
                return false;
            }
            $.ajax({
                type: 'GET',
                url: "{{path('tramite_rue_busca_requisitos')}}",
                data: formData,
                beforeSend: function () {
                    $('#modal_'+id).empty();
                    $("#modal_"+id).append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    //console.log(data);
                    $('#modal_'+id).empty();
                    $('#modal_'+id).append(data);
                     $('.date').datepicker({
                        orientation: "auto left",
                        forceParse: false,
                        autoclose: true,
                        todayHighlight: true,
                        language: 'es'
                    });
                },
            });
        }

        function guardarRequisitos(id){
            //alert('entra');
            //var fileName = $('#form_i_solicitud_ampliar').files[0].name;
             //input.files[0]
            //console.log( input.files[0]);
            //data = new FormData();
            //data.append( 'file', $( '#form_34_i_solicitud_ampliar' )[0].files[0] );
            //var form = new FormData($('#form_requisitos_'+id));

            //var paqueteDeDatos = new FormData($('#form_requisitos_'+id));
            /* Todos los campos deben ser añadidos al objeto FormData. Para ello 
            usamos el método append. Los argumentos son el nombre con el que se mandará el 
            dato al script que lo reciba, y el valor del dato.
            Presta especial atención a la forma en que agregamos el contenido 
            del campo de fichero, con el nombre 'archivo'. */
            //var form = $('#form_requisitos_'+id).serialize();
            //paqueteDeDatos.append('i_solicitud_ampliar', $('#form_i_solicitud_ampliar')[0].files[0]);
            //paqueteDeDatos.append('form', form);    
            
            //$('#form_form_'+id).val(paqueteDeDatos);
            //console.log(paqueteDeDatos);
        }

        function borrarFila(id){
            $('#fila_'+id).remove();
            $('#modal_'+id).remove();
            var array = JSON.parse($('#form_tr').val());
            //console.log(array);
            var index = array.indexOf(id);
            array.splice(index, 1);
            $('#form_tr').val(JSON.stringify(array));
        }
        {#  $(document).on('click', '.borrar', function (event) {
            console.log($(this).closest('tr').0.id);
            event.preventDefault();
            $(this).closest('tr').remove();
            $(this).closest('div').remove();
        }); #}

    </script>
{% endblock %}