{{ form_start(form_nuevo,{ 'attr': {'id':'form_nuevo','role': "form"}}) }}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">1. NATURALEZA DE LA SOLICITUD</h3>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <div class="col-md-3">
        	    		        {{ form_label(form_nuevo.dependenciaTipo) }}
                                </div>
                                <div class="col-md-9">
                                    {{ form_widget(form_nuevo.dependenciaTipo) }}
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <div class="col-md-3">
                                    {{ form_label(form_nuevo.turnotipo) }}
                                </div>
                                <div class="col-md-9">
                                    {{ form_widget(form_nuevo.turnotipo) }}
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-group col-md-3">
                            <h5>1.3 NIVELES DE FORMACIÓN</h5>
						    {% for r in form_nuevo.niveltipo %}
                            <div class="card">
                                {{ form_widget(r) }}
                                {{ form_label(r) }}
                            </div>
                            {% endfor %}   
					    </div>
                        {% if tipoeducacion == 4 %}
                        <div class="form-group col-md-3">
                            <h5>ÁREAS DE FORMACIÓN</h5>
						    {% for a in form_nuevo.areaEspecialTipo %}
                            <div class="card">
                                {{ form_widget(a) }}
                                {{ form_label(a) }}
                            </div>
                            {% endfor %}   
					    </div>
                        <div class="form-group col-md-2">
                            <div class="col-md-8">
                                {{ form_label(form_nuevo.participantes) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(form_nuevo.participantes) }}
                            </div>
					    </div>
                        {% else %}
                        <div class="form-group col-md-2">
                            <div class="col-md-8">
                                {{ form_label(form_nuevo.participantes) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(form_nuevo.participantes) }}
                            </div>
					    </div>
                        {% endif %}
                    </div>
                </div>
			</div><!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">2. IDENTIFICACIÓN GENERAL DE LA UNIDAD EDUCATIVA</h3>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
        	    		        {{ form_label(form_nuevo.departamento) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.departamento,{'attr':{'onchange':'provincia(this.value)'}}) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.provincia) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.provincia,{'attr':{'onchange':'municipio(this.value)'}}) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.municipio) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.municipio,{'attr':{'onchange':'canton(this.value)'}}) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.canton) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.canton,{'attr':{'onchange':'localidad(this.value)'}}) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.localidad) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.localidad) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.distrito) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.distrito) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.institucionEducativa) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.institucionEducativa) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.zona) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.zona) }}
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-3">
                                {{ form_label(form_nuevo.direccion) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_widget(form_nuevo.direccion) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                </div>
			</div><!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">3. INFORMACIÓN LEGAL</h3>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
        	    		    {{ form_label(form_nuevo.solicitante) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.solicitante) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.solicitante_otro) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.solicitante_otro) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <h5>PRESENTACIÓN DE REQUISITOS LEGALES (Privadas)</h5>
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.acta) }}
                        </div>
                        <div class="col-md-3">
                                {{ form_widget(form_nuevo.acta) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.estatutos) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.estatutos) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.resolucion) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.resolucion) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.fundaempresa) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.fundaempresa) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.nit) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.nit) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.ci) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.ci) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.balance) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.balance) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.ultimobalance) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.ultimobalance) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.acreditacion) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.acreditacion) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.padron) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.padron) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.funcionamientoculto) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.funcionamientoculto) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.nombrerepresentante) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.nombrerepresentante) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.direccionrepresentante) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.direccionrepresentante) }}
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                </div>
			</div><!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">4. ÁREAS DEL TERRENO</h3>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areaterreno) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.areaterreno) }}
                        </div>
                        </div>
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areaconstruida) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.areaconstruida) }}
                        </div>
                        </div>
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areaesparcimiento) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.areaesparcimiento) }}
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areanoconstruida) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.areanoconstruida) }}
                        </div>
                        </div>
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areacultivo) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.areacultivo) }}
                        </div>
                        </div>
                        <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.edificioes) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form_nuevo.edificioes) }}
                        </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">5. REQUISITOS CURRICULARES</h3>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12   "><h5>MODALIDADES</h5></div>
                        <div class="col-md-6">
                            <div class="form-group  col-md-12">
                                <div class="col-md-6">
                                    {{ form_label(form_nuevo.modalidadatencion) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form_nuevo.modalidadatencion) }}
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <div class="col-md-6">
                                    {{ form_label(form_nuevo.modalidadlengua) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form_nuevo.modalidadlengua) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  col-md-12">
                                <div class="col-md-6">
                                    {{ form_label(form_nuevo.modalidadaprendizaje) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form_nuevo.modalidadaprendizaje) }}
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <div class="col-md-6">
                                    {{ form_label(form_nuevo.modalidaddocencia) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form_nuevo.modalidaddocencia) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="row"><h5>PLANES Y PROGRAMAS</h5></div>
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.teorico) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.teorico) }}
                        </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.intercultural) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.intercultural) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.propuestalengua) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.propuestalengua) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.propuestaciclos) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.propuestaciclos) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.propuestaintegracion) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.propuestaintegracion) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.denominacionnivel) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.denominacionnivel) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.organizacionciclos) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.organizacionciclos) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.temastransversales) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.temastransversales) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areascurriculares) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.areascurriculares) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.competencias) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.competencias) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.indicadores) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.indicadores) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.contenidos) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.contenidos) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.metodologia) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.metodologia) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.evaluacion) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.evaluacion) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.horario) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.horario) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.calendario) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.calendario) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.textos) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.textos) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.curriculo) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.curriculo) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.areasnoincluidas) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.areasnoincluidas) }}
                        </div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-6">
                            {{ form_label(form_nuevo.planesprogramas) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(form_nuevo.planesprogramas) }}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>REQUISITOS</h5>
                        {% for r in form_nuevo.requisitos %}
                        <div class="card">
                            {{ form_widget(r) }}
                            {{ form_label(r) }}
                        </div>
                        {% endfor %}   
				    </div>
                    <div class="form-group col-md-6">
					    {{ form_label(form_nuevo.observacion) }}
					    {{ form_widget(form_nuevo.observacion, {'attr':{'class':'form-control'} }) }}
				    </div>
                </div>
                <div class="form-footer">
                    <div class="form-group">
                        {{ form_label(form_nuevo.guardar) }}
                        {{ form_widget(form_nuevo.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                        <a href="{{path('tramite_rue_recepcion_distrito')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
                    </div>
                </div>
                
			</div><!-- /.panel-body -->
        </div>
    </div>
</div>
{{ form_end(form_nuevo) }}


