{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        {% if tramite %}
            <h2><i class="fa fa-list-alt"></i> TRAMITE RUE Nro. {{ tramite.id }}: <span>{{tramite.flujoTipo.flujo}}</span></h2>
        {% else %}
            <h2><i class="fa fa-list-alt"></i> TRAMITE RUE: <span>{{tarea.flujoTipo.flujo}}</span></h2>
        {% endif %}
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index')}}">Trámite</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            {% if app.session.flashBag.has('exito') %}
                                <div class="alert alert-success">
                                    {% for msg in app.session.flashBag.get('exito') %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('error') %}
                                <div class="alert alert-danger">
                                    {% for msg in app.session.flashBag.get('error') %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">{{tarea.proceso.procesoTipo}}</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    {% if tramite %}
                                        <div class="panel-group">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <a data-toggle="collapse" href="#collapse1"><h4 class="panel-title text-lilac"><i class="fa fa-eye"></i>Ver formularios anteriores</h4></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'SieProcesosBundle:TramiteRue:historico.html.twig' with {'datos': datos} %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    {{ form_start(form,{ 'attr': {'id':'form','enctype':'multipart/form-data','onsubmit':'return validacion();'}}) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title">DATOS DE LA SOLICITUD</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <div class="col-md-6">
                                                    {{ form_label(form.tramite_tipo) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.tramite_tipo) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="col-md-6">
                                                    {{ form_label(form.codigo) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.codigo) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="col-md-6">
                                                    {{ form_widget(form.buscar) }}
                                                </div>
                                                <div class="col-md-6">                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="table-responsive col-md-12">
                                                    <div id="contenido">
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                            </div>
                        </div>
                        <div id="contenido">
                        </div>
                        <div class="panel-footer">
                            <div class="form-group col-md-3">
                                {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary','disabled':'disabled'} }) }}
                                <a href="{{path('wf_tramite_index')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {{ form_end(form) }}                   
                </div><!-- /.end panel -->  
            </div>
        </div>
    </div>    
{% if tramite %}
    {% include 'SieProcesosBundle:TramiteRue:requisitosHistorico.html.twig' with {'datos': datos[0].datos,'institucioneducativa':tramite.institucioneducativa} %}
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $.fn.datepicker.dates['es'] = {
                days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                format:'dd-mm-yyyy',
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('.date').datepicker({
                orientation: "auto left",
                forceParse: false,
                autoclose: true,
                todayHighlight: true,
                language: 'es'
            });
        });
        $(document).on('change','input[type="file"]',function(){
            var fileName = this.files[0].name;
            var fileSize = this.files[0].size;
            var sizePermitido = 3 * (1024 * 1024)
            if(fileSize > sizePermitido){
                alert('El archivo adjunto no debe superar los 3MB');
                this.value = '';
                this.files[0].name = '';
            }
        });
        
        function buscarSolicitud(){
            if($('#form_tramite_tipo').val()==''){
                alert('Seleccione el tipo de trámite.');
                return false;
            }else if($('#form_codigo').val()==''){
                alert('Ingrese el Código de la solicitud o el código SIE.');
                return false;
            }
            var tramitetipo = $('#form_tramite_tipo option:selected').text();
            var formData = {tramite_tipo:$('#form_tramite_tipo').val(),codigo:$('#form_codigo').val()}
            $.ajax({
                type: 'GET',
                url: "{{path('tramite_rue_buscar_solicitud')}}",
                data: formData,
                beforeSend: function () {
                    $('#contenido').empty();
                    $("#contenido").append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#contenido').empty();
                    $('#contenido').append(data);
                    $('.date').datepicker({
                        orientation: "auto left",
                        forceParse: false,
                        autoclose: true,
                        todayHighlight: true,
                        language: 'es'
                    });
                    $('#form_guardar').prop('disabled',false);
                },
            });
        } 

        $('.btn-lilac').click(function(){
            alert('entra');
            $(this).removeClass("btn-lilac");
            $(this).addClass("btn-teal");
        });

        function validacion(){
            if($('.btn-lilac').length > 0){
                var tramitetipo = $('#form_tramite_tipo option:selected').text();
                alert('Debe abrir y verificar todos los archivos adjuntos de los requisitos presentados para: '+ tramitetipo +'.');
                return false;
            }else{
                return true;
            }
        }
    </script>
{% endblock %}