{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> TRAMITE RUE Nro. {{ tramite.id }}: <span>{{tramite.tramiteTipo.tramiteTipo}}</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index',{'tipo':2})}}">Trámite</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                        <div class="row">
                            <div class="col-md-12">                    
                                {% if app.session.flashBag.has('exito') %}
                                    <div class="alert alert-success">
                                        {% for msg in app.session.flashBag.get('exito') %}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if app.session.flashBag.has('error') %}
                                    <div class="alert alert-danger">
                                        {% for msg in app.session.flashBag.get('error') %}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title">{{tarea}}</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="panel-group">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <a data-toggle="collapse" href="#collapse1"><h4 class="panel-title text-lilac"><i class="fa fa-eye"></i>Ver formularios anteriores</h4></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'SieProcesosBundle:TramiteRue:historico.html.twig' with {'datos': datos} %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
			                        </div><!-- /.panel-body -->
                                </div><!-- /.panel-primary -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                    
                                {{ form_start(form,{ 'attr': {'role': 'form','onsubmit':'return validacion()'}}) }}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title">VERIFICAR TRÁMITE</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <div class="col-md-4"><strong>REQUISITOS PRESENTADOS:</strong></div>
                                                <div class="col-md-8">
                                                {% for r in form.requisitos %}
                                                    <div class="ckbox ckbox-primary">
                                                        {{ form_widget(r,{'attr':{'required':true}}) }}
                                                        {{ form_label(r) }}
                                                    </div>
                                                {% endfor %}   
                                                </div>
                                            </div>
                                            <div class="form-group  col-md-12">
                                                <div class="col-md-4"><strong>TRÁMITE PROCEDENTE:</strong></div>
                                                <div class="col-md-8">
                                                    {% for a in form.varevaluacion1 %}
                                                        <div class="col-md-3 rdio rdio-primary circle">
                                                            {{ form_widget(a) }}
                                                            {{ form_label(a) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
    			                    </div><!-- /.panel-body -->
                                </div><!-- /.panel-primary -->
                            </div>
                        </div>
                        <div class="row" style="display:none" id="informe">
                            <div class="col-md-12">                    
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title" id="titulo">DATOS DEL INFORME</h3>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group  col-md-12 obs" style="display:none">
                                                <div class="col-md-4"><strong>FINALIZAR TRÁMITE++++:</strong></div>
                                                <div class="col-md-8">
                                                    {% for b in form.varevaluacion2 %}
                                                        <div class="col-md-3 rdio rdio-primary circle">
                                                            {{ form_widget(b) }}
                                                            {{ form_label(b) }}</br>
                                                            {% if b.vars.value =='SI' %}
                                                                <em><font size=2 color="gray">(Finalizar el trámite)</font></em>
                                                            {% else %}
                                                                <em><font size=2 color="gray">(Devolver a la Unidad Educativa)</font></em>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 inf">
                                                <div class="col-md-4">
	        			        				    {{ form_label(form.informedistrito) }}
                                                </div>   
			        			        		<div class="col-md-8">
                                                    {{ form_widget(form.informedistrito) }}
					        		            </div>
                                            </div>
                                            <div class="form-group col-md-12 inf">
                                                <div class="col-md-4">
								                    {{ form_label(form.fechainformedistrito) }}
                                                </div>
                                                <div class="col-md-8">
	    							                {{ form_widget(form.fechainformedistrito) }}
                                                </div>
			    				            </div>
                                            <div class="form-group col-md-12 inf">
                                                <div class="col-md-4">
    					    			            {{ form_label(form.adjuntoinforme) }}
                                                </div>
                                                <div class="col-md-8">
	        						    	        {{ form_widget(form.adjuntoinforme) }}
                                                </div>
            		        			    </div>
                                            {% set sw = 0 %}
                                            {% for t in datos[0].datos.tramites %}
                                                {% if t.id == 38 %} {% set sw = 1 %} {% endif %}
                                            {% endfor %}
                                            {% if sw == 1 %}
                                                <div class="form-group col-md-12 jur">
                                                    <div class="col-md-4">
                                                        {{ form_label(form.actaconformidad) }}
                                                    </div>
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.actaconformidad) }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 jur">
                                                    <div class="col-md-4">
                                                        {{ form_label(form.bidistrital) }}
                                                    </div>
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.bidistrital) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="form-group col-md-12">
                                                <div class="col-md-4">
    					    			            {{ form_label(form.observacion) }}
                                                </div>
                                                <div class="col-md-8">
	        						    	        {{ form_widget(form.observacion) }}
                                                </div>
            		        			    </div>
                                        </div>                                  
                                    </div><!-- /.panel- body -->
                                </div><!-- /.panel-primary -->
                            </div>
                        </div>
                </div><!-- /.panel -->
                <div class="panel-footer">
                    <div class="form-group col-md-12">
                        {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                        <a href="{{path('wf_tramite_index',{'tipo':2})}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
					</div>
                    <div class="clearfix"></div>
                </div>
                 {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'SieProcesosBundle:TramiteRue:requisitosHistorico.html.twig' with {'datos': datos[0].datos,'institucioneducativa':tramite.institucioneducativa} %}
{% endblock %}
 {% block javascripts %}
    {{ parent() }} 
    <script>
        
        $( document ).ready(function() {
            $.fn.datepicker.dates['es'] = {
                days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                format:'dd-mm-yyyy',
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('.date').datepicker({
                orientation: "auto left",
                forceParse: false,
                autoclose: true,
                todayHighlight: true,
                language: 'es'
            });
        });
        
        $(document).on('change','input[type="file"]',function(){
            var fileName = this.files[0].name;
            var fileSize = this.files[0].size;
            var sizePermitido = 3 * (1024 * 1024)
            if(fileSize > sizePermitido){
                alert('El archivo adjunto no debe superar los 3MB');
                this.value = '';
                this.files[0].name = '';
            }
        });

        $('.date').keydown(function() {
            return false;
        });
        //$("#form_fechainformesubdireccion").datepicker();
        $('#form_varevaluacion1_0').click(function(){
            if ($("#form_varevaluacion1_0").is(':checked')){
                $('#informe').show();
                $('.obs').hide();
                $('.inf').show();
                $('.jur').show();
                $('#titulo').text('DATOS DEL INFORME');
                $('#form_observacion').attr('required',false);
                $("#form_varevaluacion2_0").attr('required',false);
                $("#form_varevaluacion2_1").attr('required',false);
                $("#form_informedistrito").attr('required',true);
                $("#form_fechainformedistrito").attr('required',true);
                $("#form_adjuntoinforme").attr('required',true);
                $("#form_actaconformidad").attr('required',true);
                $("#form_bidistrital").attr('required',true);
                $("#form_actaconformidad").attr('disabled',false);
                $("#form_bidistrital").attr('disabled',false);
                limpiarInforme();
                limpiarObs();
            }
        });

        $('#form_varevaluacion1_1').click(function(){
            if ($("#form_varevaluacion1_1").is(':checked')){
                $('#informe').show();
                $('.obs').show();
                $('.inf').hide();
                $('.jur').hide();
                $('#titulo').text('DATOS DE LA OBSERVACIÓN');
                $('#form_observacion').attr('required',false);
                $("#form_varevaluacion2_0").attr('required',true);
                $("#form_varevaluacion2_1").attr('required',true);
                $("#form_informedistrito").attr('required',false);
                $("#form_fechainformedistrito").attr('required',false);
                $("#form_adjuntoinforme").attr('required',false);
                $("#form_actaconformidad").attr('required',false);
                $("#form_bidistrital").attr('required',false);
                $("#form_actaconformidad").attr('disabled',true);
                $("#form_bidistrital").attr('disabled',true);
                limpiarInforme();
                limpiarObs();
            }
        });
        
        $('#form_varevaluacion2_0').click(function(){
            //alert('entra');
            if ($("#form_varevaluacion2_0").is(':checked')){
                $('.inf').show();
                $('.jur').hide();
                $('#form_observacion').attr('required',false);
                $("#form_informedistrito").attr('required',true);
                $("#form_fechainformedistrito").attr('required',true);
                $("#form_adjuntoinforme").attr('required',true);
                $("#form_actaconformidad").attr('required',true);
                $("#form_bidistrital").attr('required',true);
                $("#form_actaconformidad").attr('disabled',true);
                $("#form_bidistrital").attr('disabled',true);
                limpiarInforme();
            }
        });

        $('#form_varevaluacion2_1').click(function(){
            if ($("#form_varevaluacion2_1").is(':checked')){
                $('.inf').hide();
                $('.jur').hide();
                $('#form_observacion').attr('required',true);
                $("#form_informedistrito").attr('required',false);
                $("#form_fechainformedistrito").attr('required',false);
                $("#form_adjuntoinforme").attr('required',false);
                $("#form_actaconformidad").attr('required',false);
                $("#form_bidistrital").attr('required',false);
                $("#form_actaconformidad").attr('disabled',true);
                $("#form_bidistrital").attr('disabled',true);
               limpiarInforme();
            }
        });

        function limpiarInforme(){
            $('#form_observacion').val('');
            $("#form_informedistrito").val('');
            $("#form_fechainformedistrito").val('');
            $("#form_adjuntoinforme").val('');
            $("#form_actaconformidad").val('');
            $("#form_bidistrital").val('');
        }
        function limpiarObs(){
            $("#form_varevaluacion2_0").prop('checked',false);
            $("#form_varevaluacion2_1").prop('checked',false);
        }

        $('.btn-lilac').click(function(){
            $(this).removeClass("btn-lilac");
            $(this).addClass("btn-teal");
            
        });

        function validacion(){
            if($('.btn-lilac').length > 0){
                alert('Debe abrir y verificar todos los archivos adjuntos de los formularios anteriores.');
                return false;
            }else{
                $('#form_guardar').prop('disabled',true);
                return true;
            }
        }
        
    </script>   
    {% endblock %}