<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Requisitos para: <span>{{tramitetipo.tramiteTipo}}</span></h3>
                </div>
                <div class="pull-rigth">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start basic wizard horizontal -->
                        <div id="basic-wizard-horizontal">
                            <div class="panel panel-tab rounded shadow">
                                <!-- Start tabs heading -->
                                <div class="panel-heading no-padding">
                                    <ul class="nav nav-tabs nav-pills">
                                        {% if requisitos.legal %}
                                            <li class="active">
                                                <a href="#tab1-1-{{id}}" data-toggle="tab" aria-expanded="false">
                                                    <i class="fa fa-file-text"></i>
                                                    <div>
                                                        <span class="text-strong">1. Requisitos Legales</span>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if requisitos.infra %}
                                            <li class="">
                                                <a href="#tab1-2-{{id}}" data-toggle="tab" aria-expanded="false">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    <div>
                                                        <span class="text-strong">2. Requisitos de infraestructura</span>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if requisitos.admi %}
                                            <li class="">
                                                <a href="#tab1-3-{{id}}" data-toggle="tab" aria-expanded="false">
                                                    <i class="glyphicon glyphicon-th-list"></i>
                                                    <div>
                                                        <span class="text-strong">3. Requisitos Administrativos</span>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.panel-heading -->
                                <!--/ End tabs heading -->
                                <!-- Start tabs content -->
                                <div class="panel-body">
                                    {% if id == 34 %} {# ampliacion de nivel #}
                                        {{ form_start(form_34,{ 'attr': {'id':'form_requisitos_34','class':'tab-content form-horizontal'}}) }}
                                            <div class="tab-pane fade inner-all in active" id="tab1-1-{{id}}">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_34.i_solicitud_ampliar) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_34.i_solicitud_ampliar) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_34.i_alquiler_ampliar) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {% for a in form_34.i_alquiler_ampliar %}
                                                                <div class="col-md-3 rdio rdio-primary circle">
                                                                    {{ form_widget(a) }}
                                                                    {{ form_label(a) }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_34.i_contrato_ampliar) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_34.i_contrato_ampliar) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6 ckbox ckbox-primary">
                                                            {{ form_widget(form_34.i_certificado_ampliar) }}
                                                            {{ form_label(form_34.i_certificado_ampliar) }}                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade inner-all" id="tab1-2-{{id}}">
                                                <div class="row">
                                                    <div class="form-group col-md-12 ckbox ckbox-primary">
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_34.ii_planos_ampliar) }}
                                                            {{ form_label(form_34.ii_planos_ampliar) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12 ckbox ckbox-primary">
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_34.ii_infra_ampliar) }}
                                                            {{ form_label(form_34.ii_infra_ampliar) }}
                                                        </div>
                                                        <div class="col-md-6">                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{ form_end(form_34) }}  
                                    {% elseif id == 35 %}{# Reduccion de Nivel #}
                                        {{ form_start(form_35,{ 'attr': {'id':'form_requisitos_35','class':'tab-content form-horizontal'}}) }}
                                            <div class="tab-pane fade inner-all in active" id="tab1-1-{{id}}">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_35.i_solicitud_reducir) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_35.i_solicitud_reducir) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_35.i_alquiler_reducir) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {% for a in form_35.i_alquiler_reducir %}
                                                                <div class="col-md-3 rdio rdio-primary circle">
                                                                    {{ form_widget(a) }}
                                                                    {{ form_label(a) }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                            {{ form_label(form_35.i_contrato_reducir) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_35.i_contrato_reducir) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6 ckbox ckbox-primary">
                                                            {{ form_widget(form_35.i_certificado_reducir) }}
                                                            {{ form_label(form_35.i_certificado_reducir) }}                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade inner-all" id="tab1-2-{{id}}">
                                                <div class="row">
                                                    <div class="form-group col-md-12 ckbox ckbox-primary">
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_35.ii_planos_reducir) }}
                                                            {{ form_label(form_35.ii_planos_reducir) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12 ckbox ckbox-primary">
                                                        <div class="col-md-6">
                                                            {{ form_widget(form_35.ii_infra_reducir) }}
                                                            {{ form_label(form_35.ii_infra_reducir) }}
                                                        </div>
                                                        <div class="col-md-6">                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{ form_end(form_35) }}
                                    {% elseif id == 36 %}{# cambio de dependencia #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>                                                
                                    {% elseif id == 37 %}{# cambio de nombre #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>                                                
                                    {% elseif id == 38 %}{# cambio de jurisdiccion administrativa #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>                                                    
                                    {% elseif id == 39 %}{# Fusion #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>                                                    
                                    {% elseif id == 40 %} {# desglose #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% elseif id == 41 %} {# cambio de infraestructura #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% elseif id == 42 %} {# cierre temporal #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% elseif id == 43 %} {# cierre definitivo #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% elseif id == 44 %}{# Reapertura #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% elseif id == 45 %}{# nuevo certifcado rue #}
                                        <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-2">
                                        </div>
                                        <div class="tab-pane fade inner-all" id="tab1-3">
                                        </div>
                                    {% endif %}
                                </div><!-- /.panel-body -->
                                <!--/ End tabs content -->
                                <!--/ End pager -->
                            </div><!-- /.panel -->
                        </div><!-- /#basic-wizard-horizontal -->
                        <!--/ End basic wizard horizontal-->
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="guardarRequisitos({{id}})">aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div><!-- /.modal-dialog -->

