<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <strong>Muy Importante:</strong> Las horas registradas son el total de horas cursadas en la ESPECIALIDAD
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
        <div class="form-group">
            <label for="form_codigoRude" class="col-sm-4 control-label">
                {{form_label(form.especialidad)}}

            </label>
            <div class="col-sm-8">
                {{ form_widget(form.especialidad) }}
                <div class="help-block with-errors"></div>
            </div>

            <label for="form_codigoRude" class="col-sm-4 control-label">
                {{form_label(form.horas)}}

            </label>
            <div class="col-sm-8">
                {{ form_widget(form.horas) }}  <p id="noNumber" class="text-center"></p>
                <div class="help-block with-errors"></div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                {{ form_widget(form.registrar) }}
            </div>
        </div>
        {{form_end(form)}}

    </div>
</div>

<script>
    $('#form_registrar').onclick(function () {
        alert('4444');
        return false
    });

</script>

