{% extends app.session.get('layout') %}
{% block contentoption %}
{# ini - added the popup on this view #}

<div class="modal modal-flex fade" id="myModalSolucionSinCarnet" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
    <div class="modal-dialog higherWider">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="flexModalLabel">Control de Calidad</h4>
            </div>
            <div class="modal-body">
                <form action="{{path('ccalidad_justificar_estudiante_segip')}}" method="post">
                    <div class="form-group">
                        <textarea id="formJ_justificacion" name= "formJ[justificacion]" placeholder="Introduzca una descripción por la cual se omitirá la validación con SEGIP" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" onclick="return confirm('Está a punto de omitir el registro observado. ¿Desea continuar?');"><i class="fa fa-check"></i> Confirmar</button>
                    </div>
                    <input type="hidden" id="formJ_idDetalle" name="formJ[idDetalle]" value="">
                    <input type="hidden" id="formJ_idSolucion" name="formJ[idSolucion]" value="1">
                </form>
            </div>
        </div>

    </div>
</div>

{# end - added the popup on this view #}
    <div class="header-content">
        <h2><i class="fa fa-table"></i>Control de Calidad <span>{{ entidad.entidad }}</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('ccalidad_index')}}">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Registro</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-list-ul"></i> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Inconsistencias respecto a {{ entidad.entidad }} - {{gestion}}</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% if lista_inconsistencias is not empty %}
                                    <div id="no-more-tables" class="table-responsive">
                                        <table class="table table-bordered table-hover cf dataTable">
                                            <thead  class="cf">
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Descripción</th>
                                                    <th>Detalle</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lista in lista_inconsistencias %}
                                                    <tr {% if lista.poderacion > 50 %}class="danger"{% elseif lista.poderacion <= 50 and lista.poderacion > 20 %}class="warning"{% else %}class="success"{% endif %}>
                                                        <td data-title="N°">{{ loop.index }}</td>
                                                        <td data-title="Descripcion">{{ lista.descripcion }}</td>
                                                        <td data-title="Detalle">{{ lista.detalle }}</td>
                                                        <td data-title="Acciones">
                                                         
                                                            {% if app.session.get('roluser') == 10 or app.session.get('roluser') == 9 or app.session.get('roluser') == 31 %}
                                                                <button type="button" class="btn-link" onclick="mostrarDetalle({{lista.id}})" title="VerDetalles"><i class="fa fa-search"></i> Ver detalle 1</button>
                                                                {% if app.session.get('roluser') != 9 %}
                                                                    <a href="{{ path('ccalidad_grafico', { 'id': lista.id }) }}" class="btn-link"><i class="fa fa-search"></i> Ver gráfico.</a>
                                                                {% endif %}
                                                            {% elseif app.session.get('roluser') == 7 %} {#departamental#}
                                                                {% if  lista.id in [8,12,24,25,26] %}
                                                                    <button type="button" class="btn-link" onclick="mostrarDetalle({{lista.id}})" title="VerDetalles"><i class="fa fa-search"></i> Ver detalle .</button>
                                                                {% endif %}
                                                                <a href="{{ path('ccalidad_grafico', { 'id': lista.id }) }}" class="btn-link"><i class="fa fa-search"></i> Ver gráfico</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                 
                                    No presenta inconsistencias respecto a {{ entidad.entidad }} para la gestión {{gestion}}.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="divDetalle" class="panel"></div>
                    
                    <div class="panel panel-info invisible" id="solution">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-tasks"></i> <a id="collapseThreeTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body"  id="collapseThreeBody">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div> 
            </div>        
        </div>
    </div>
    <!-- Standard Modal -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="standardModalLabel">&nbsp;</h4>
                </div>
                <div class="modal-body" id="popupBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        function mostrarDetalle(id) {
            $("#collapseThreeTitle").empty();
            $("#collapseThreeBody").empty();
            $("#solution").addClass('invisible');
            $.ajax({
                type: 'get',
                url: Routing.generate('ccalidad_detalle', {'id': id}),
                beforeSend: function () {
                    $("#divDetalle").empty();
                    $("#divDetalle").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                    // Messenger.options = {
                    //     extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
                    //     theme: 'flat'
                    // }

                    // Messenger().post({
                    //     message: 'Cargando detalle, espere un momento...',
                    //     type: 'info',
                    //     showCloseButton: true
                    // });

                },
                success: function (data) {
                    $("#divDetalle").empty();
                    $("#divDetalle").html(data);
                },
                error: function (data) {
                    $("#divDetalle").html('<div class="col-md-12"><div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Ocurrió un error interno, no es posible cargar el detalle.</div></div>');
                }
            });
        }
    </script>
{% endblock %}