
{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        .higherWider {
            width:800px;
            margin-top:100px;
        }
        [v-cloak]{
            display: none;
        }
    </style>

{% endblock %}
{% block contentoption %}


    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1><i class="fa fa-cc-amex animated flip"></i>Modificación de Datos
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="#">Buscar </a>
                    </li>


                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warningremoveins') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- /.row -->
    <div id="app">
    <div v-cloak>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-icon panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-search"></i>
                        <div class="pull-right">
                            <a href="{{ path('estudiantehistorialmodificacion') }}">Retornar Lista</a>
                        </div>                                        
                    </div>
                    <div class="panel-body">
                        <!-- form to search student -->
                        <div class="form-group row buscador">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" v-model="rudeBuscar" maxlength="18" v-on:keyup.enter="" placeholder="Código rude">
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                                <select id="form_arrOption" name="form[arrOption]" required="required" class="form-control col-lg-6 col-md-6 col-sm-6" v-model="optionBuscar">
                                    <option value="" selected="selected">Seleccionar Opción</option>
                                    <option value="0">Concluyó el Bachillerato</option>
                                    <option value="1">Tiene registro en gestiones pasadas</option>
                                </select>
                            </div>


                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <button v-on:click="buscarEstudiante()" type="button" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                            </div>
                        </div>
                        <!-- end form to search student -->
                                                      

                            <div class="alert alert-warning" v-if="respuesta != ''"> <i class="fa fa-warning"></i> ${respuesta}</div>
                            <div v-if="buscando" class="text-center">
                                <img src="{{asset('img/loading.gif')}}" alt=""> Buscando...
                            </div>
                            <!-- && !buscando -->
                            <div v-if="studentId != ''  ">
                                <!-- <div v-if="buscando"> -->
                                </br></br>
                                    <p class="encabezado bg-primary">MODIFICACION Y/O INCLUSIÓN DE NOMBRE(S), APELLIDO(S) Y/O MODIFICACION DE FECHA DE NACIMIENTO
                                        <a class="btn btn-default" data-toggle="modal" href='#modalEstudianteOne'> <i class="fa fa-pencil"></i> </a>
                                    </p>
                                    <table class="table table-primary" border="0" >
                                        <tr>
                                            <!-- <th>Código Rude</th>
                                            <td>${codigoRude}</td> -->
                                            <th>Carnet</th>
                                            <td>
                                                ${dataStudent.carnetIdentidad}
                                                </br>
                                                <p v-if="dataStudent.carnetIdentidad != dataStudentModif.carnetIdentidad " class="text-green">
                                                    ${dataStudentModif.carnetIdentidad}
                                                </p>
                                            </td>
                                            <th>Complemento</th>
                                            <td>
                                                ${dataStudent.complemento}
                                                </br>
                                                <p v-if="dataStudent.complemento != dataStudentModif.complemento " class="text-green">
                                                    ${dataStudentModif.complemento}
                                                </p>
                                            </td>
                                            <th>Fecha Nacimiento</th>
                                            <td>
                                                ${dataStudent.fechaNacimiento}
                                                </br>
                                                <p v-if="dataStudent.fechaNacimiento != dataStudentModif.fechaNacimiento " class="text-green">
                                                    ${dataStudentModif.fechaNacimiento}
                                                </p>
                                            </td>
                                            <td rowspan="2" align="right">
                                                
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Paterno</th>
                                            <td>
                                                ${dataStudent.paterno}
                                                  </br>
                                                <p v-if="dataStudent.paterno != dataStudentModif.paterno " class="text-green">
                                                    ${dataStudentModif.paterno}
                                                </p>
                                            </td>
                                            <th>Materno</th>
                                            <td>
                                                ${dataStudent.materno}
                                                  </br>
                                                <p v-if="dataStudent.materno != dataStudentModif.materno " class="text-green">
                                                    ${dataStudentModif.materno}
                                                </p>
                                            </td>
                                            <th>Nombre(s)</th>
                                            <td>
                                                ${dataStudent.nombre}
                                                  </br>
                                                <p v-if="dataStudent.nombre != dataStudentModif.nombre " class="text-green">
                                                    ${dataStudentModif.nombre}
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <p class="encabezado bg-primary">MODIFICACIÓN Y/O INCLUSIÓN DE DATOS PROPIOS DEL CERTIFICADO DE NACIMIENTO, CARNET DE IDENTIDAD Y OTROS
                                        <a class="btn btn-default" data-toggle="modal" href='#modalEstudianteTwo'> <i class="fa fa-pencil"></i> </a>
                                    </p>
                                    <table class="table table-primary" border="0">
                                        <tr>
                                            <th colspan="2">Genero</th>
                                            <td colspan="3">
                                                ${dataStudent.generoTipo}
                                                </br>
                                                <p v-if="dataStudent.generoTipo != dataStudentModif.generoTipo " class="text-green">
                                                    ${dataStudentModif.generoTipo}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Pais</th>
                                            <td>
                                                ${dataStudent.pais}
                                                </br>
                                                <p v-if="dataStudent.pais != dataStudentModif.pais " class="text-green">
                                                    ${dataStudentModif.pais}
                                                </p>
                                            </td>
                                            <th>Departamento</th>
                                            <td>
                                                ${dataStudent.lugarNacTipo}
                                                </br>
                                                <p v-if="dataStudent.lugarNacTipo != dataStudentModif.lugarNacTipo " class="text-green">
                                                    ${dataStudentModif.lugarNacTipo}
                                                </p>
                                            </td>
                                            <th>Provincia</th>
                                            <td>
                                                ${dataStudent.lugarProvNacTipo}
                                                </br>
                                                <p v-if="dataStudent.lugarProvNacTipo != dataStudentModif.lugarProvNacTipo " class="text-green">
                                                    ${dataStudentModif.lugarProvNacTipo}
                                                </p>

                                            </td>
                                            <th>Localidad</th>
                                            <td>
                                                ${dataStudent.localidad}
                                                </br>
                                                <p v-if="dataStudent.localidad != dataStudentModif.localidad " class="text-green">
                                                    ${dataStudentModif.localidad}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Oficialia</th>
                                            <td>
                                                ${dataStudent.oficialia}
                                                 </br>
                                                <p v-if="dataStudent.oficialia != dataStudentModif.oficialia " class="text-green">
                                                    ${dataStudentModif.oficialia}
                                                </p>
                                            </td>
                                            <th>Libro</th>
                                            <td>
                                                ${dataStudent.libro}
                                                 </br>
                                                <p v-if="dataStudent.libro != dataStudentModif.libro " class="text-green">
                                                    ${dataStudentModif.libro}
                                                </p>
                                            </td>
                                            <th>Partida</th>
                                            <td>
                                                ${dataStudent.partida}
                                                 </br>
                                                <p v-if="dataStudent.partida != dataStudentModif.partida " class="text-green">
                                                    ${dataStudentModif.partida}
                                                </p>
                                            </td>
                                            <th>Folio</th>
                                            <td>
                                                ${dataStudent.folio}
                                                 </br>
                                                <p v-if="dataStudent.folio != dataStudentModif.folio " class="text-green">
                                                    ${dataStudentModif.folio}
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <p class="encabezado bg-primary">DATOS REQUERIDOS PARA LA MODIFICACIÓN</p>
                                    <table class="table table-primary">
                                        <tr>
                                            <th>Resolucion Administrativa</th>
                                            <td>
                                                <input type="text" id="form_resoladm" name="form[resoladm]" class="form-control" pattern="[A-Za-z0-9-/ ]{0,15}" v-model="resolucionAmd">
                                            </td>
                                            <th>Fecha Resolucion</th>
                                            <td>
                                                <input type="text" id="form_fecharesoladm" name="form[fecharesoladm]" class="form-control" pattern="[A-Za-z0-9-/ ]{0,15}" v-model="fechaResolucion">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Justificativo</th>
                                            <td colspan="4">
                                                <textarea id="form_obs" name="form[obs]" class="form-control" pattern="[A-Za-z0-9-/ ]{0,25}" v-model="justificativo"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Subir Resolucion</th>
                                            <td colspan="4">
                                                <input type="file" id="exampleInputFile">
                                            </td>
                                        </tr>

                                    </table>
                                  
                                     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <button v-on:click="updateStudent()" type="button" class="btn btn-primary"><i class="fa fa-save"> Guardar Cambios</i> </button>
                                    </div>



                                            <div class="modal fade in" id="modalEstudianteOne"  tabindex="-1" role="dialog">
                                                <div class="modal-dialog" style="width:800px" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">MODIFICACION Y/O INCLUSIÓN DE NOMBRE(S), APELLIDO(S) Y/O MODIFICACION DE FECHA DE NACIMIENTO</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                           <form>
                                                              <div class="form-row">
                                                                <div class="form-group col-md-4">
                                                                  <label for="inputEmail4">Carnet Identidad</label>
                                                                  <input type="input" class="form-control" id="" placeholder="Carnet Identidad" v-model="dataStudentModif.carnetIdentidad">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="complemento">Complemento</label>
                                                                  <input type="input" class="form-control" id="Complemento" placeholder="Complemento" v-model="dataStudentModif.complemento">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="Fecha">Fecha Nacimiento</label>
                                                                  <input type="input" class="form-control" id="complemento" placeholder="Fecha Nacimiento" v-model="dataStudentModif.fechaNacimiento">
                                                                </div>
                                                              </div>

                                                              <div class="form-row">
                                                                <div class="form-group col-md-4">
                                                                  <label for="inputEmail4">Paterno</label>
                                                                  <input type="input" class="form-control" id="inputEmail4" placeholder="Paterno" v-model="dataStudentModif.paterno">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="Materno">Materno</label>
                                                                  <input type="input" class="form-control" id="materno" placeholder="Materno" v-model="dataStudentModif.materno">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="Nombre(s)">Nombre(s)</label>
                                                                  <input type="input" class="form-control" id="nombres" placeholder="Nombre(s)" v-model="dataStudentModif.nombre">
                                                                </div>
                                                              </div>
                                                              
                                                              <button type="button" class="btn btn-primary" v-on:click="registryFormOne();">verificar SEGIP</button>
                                                              <button type="button" class="btn btn-danger" v-on:click="clearSegip();">Cancelar</button>
                                                              <p v-if="responseSegip==1">validation segip incorrecta, datos no modificados!!!</p>
                                                              <p v-if="responseSegip==2">validation segip correct!!!</p>
                                                              <p v-else="responseSegip==''"></p>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="modalEstudianteTwo">
                                                <div class="modal-dialog" style="width:800px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">MODIFICACIÓN Y/O INCLUSIÓN DE DATOS PROPIOS DEL CERTIFICADO DE NACIMIENTO, CARNET DE IDENTIDAD Y OTROS</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                           <form>
                                                              <div class="form-row">
                                                                <div class="form-group col-md-12">
                                                                  <label for="inputEmail4">Genero</label>

                                                                  <select name="arrGenero" id="idarrGenero" v-model="dataStudentModif.generoTipoId" class="custom-select form-control" v-on:change="setGenero();">  
                                                                    <option v-for="item in DBGenero"  :value="item.generoId">${ item.genero }</option>       
                                                                  </select>
                                                                </div>
                                                              </div>

                                                              <div class="form-row">
                                                                <div class="form-group col-md-2">
                                                                  <label for="inputEmail4">pais</label>
                                                                  
                                                                  <select name="arrPais" id="idarrPais" v-model="dataStudentModif.paisId" class="custom-select form-control" v-on:change="setPais();">  
                                                                    <option v-for="item in DBPais"  :value="item.paisId">${ item.pais }</option>       
                                                                  </select>
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                  <label for="Materno">Departamento</label>

                                                                  <select name="arrPais" id="idarrPais" v-model="dataStudentModif.lugarNacTipoId" class="custom-select form-control" v-on:change="setDepto();">  
                                                                    <option v-for="item in DBDepto"  :value="item.deptoId">${ item.depto }</option>
                                                                  </select>

                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                  <label for="Nombre(s)">Provincia</label>
                                                                  
                                                                  <select name="arrPais" id="idarrPais" v-model="dataStudentModif.lugarProvNacTipoId" class="custom-select form-control" v-on:change="setProvincia();">  
                                                                    <option v-for="item in DBProvincia"  :value="item.provinciaId">${ item.provincia }</option>
                                                                  </select>

                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="Nombre(s)">Localidad</label>
                                                                  <input type="input" class="form-control" id="" placeholder="" v-model="dataStudentModif.localidad">
                                                                </div>
                                                              </div>

                                                              <div class="form-row">
                                                                <div class="form-group col-md-2">
                                                                  <label for="inputEmail4">Oficialia</label>
                                                                  <input type="input" class="form-control" id="" placeholder="" v-model="dataStudentModif.oficialia">
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                  <label for="Materno">Libro</label>
                                                                  <input type="input" class="form-control" id="" placeholder="" v-model="dataStudentModif.libro">
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                  <label for="Nombre(s)">Partida</label>
                                                                  <input type="input" class="form-control" id="" placeholder="" v-model="dataStudentModif.partida">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                  <label for="Nombre(s)">Folio</label>
                                                                  <input type="input" class="form-control" id="" placeholder="" v-model="dataStudentModif.folio">
                                                                </div>
                                                              </div>

                                                              <button type="button" class="btn btn-primary" v-on:click="registryFormTwo();">Registro Previo</button>
                                                              <button type="button" class="btn btn-danger" v-on:click="clearFormTwo();">Cancelar</button>
                                                              <p v-if="responseFormTwo!=''">
                                                                No existe cambios en el formulario...
                                                              </p>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                              <!-- </div> -->
                            </div>
                  
                       
                    </div>
                </div>
                <div id="dataStudent"></div>
            </div>
        </div>

</div>
</div>

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>   
    <script>
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                codigoRude:'',
                gestion:'',
                item:'',
                arraOptionBuscar:'',
                rudeBuscar:'',
                optionBuscar:'',
                studentId:'',
                buscando:false,
                // swOne:false,
                // swTwo:false,
                responseSegip:'',
                responseFormTwo:'',
                respuesta:'',
                dataStudent: {},
                dataStudentModif: {},                            
                DBGenero: {},
                DBPais: {},
                DBDepto: {},
                DBProvincia: {},
                dataModifyToSend:[],
                resolucionAmd:'',
                fechaResolucion:'',
                justificativo:'',
                

            },
            methods: {
                buscarEstudiante: function(){
                    this.buscando = true;
                    this.studentId = true;
                    this.codigoRude = '';
                    this.estudiante = '';
                    this.respuesta = '';
                    this.arraOptionBuscar = '';
                    this.item = '';
                    

                    if (this.rudeBuscar.length == 0) {
                        this.respuesta = 'Debe ingresar un código RUDE válido';
                        this.buscando = false;
                        return;
                    }

                    if (this.rudeBuscar.length < 13) {
                        this.respuesta = 'El código RUDE ingresado no es válido';
                        this.buscando = false;
                        return;
                    }
                    if(this.optionBuscar == ''){
                        this.respuesta = 'Debe ingresar un opcion de busqueda';
                        this.buscando = false;
                    }

                    axios.get(Routing.generate('specialmodificationdata_student_lookfor_student', {
                        codigoRude: this.rudeBuscar,
                        arraOptionBuscar: this.optionBuscar                        
                    }))
                    .then(response => {
                        if (response.status == 200) {
                            
                            this.codigoRude = response.data.codigoRude;
                            this.estudiante = response.data.estudiante;
                            this.studentId = response.data.studentId;
                            this.dataStudent = response.data.student;
                            this.dataStudentModif = response.data.studentModif;
                            this.DBGenero = response.data.arrGenero;
                            this.DBPais = response.data.arrPais;
                            this.DBDepto = response.data.arrDepto;
                            this.DBProvincia = response.data.arrProvincia;
                            this.buscando = false;
                        console.log(this.dataStudent);
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                        if( response.status == 202){
                            this.respuesta = response.data;
                        }

                        this.buscando = false;
                    })
                    .catch(e => {
                        console.log(e);
                        this.buscando = false;
                    });
                },
                setGenero: function(){
                    var me = this;
                    $.each(this.DBGenero, function (i, value) {
                        if(me.dataStudentModif.generoTipoId == value.generoId) {
                            me.dataStudentModif.generoTipo = value.genero;
                        }
                    });                    
                },
                setPais: function(){
                    var me = this;
                    $.each(this.DBPais, function (i, value) {
                        if(me.dataStudentModif.paisId == value.paisId) {
                            me.dataStudentModif.pais = value.pais;
                            me.dataModifyToSend.push({'paisId':me.dataStudentModif.paisId})
                        }
                    });                    
                },
                setDepto: function(){
                    var me = this;
                    $.each(this.DBDepto, function (i, value) {
                        if(me.dataStudentModif.lugarNacTipoId == value.deptoId) {
                            me.dataStudentModif.lugarNacTipo = value.depto;
                            me.dataModifyToSend.push({'lugarNacTipoId':me.dataStudentModif.lugarNacTipoId});
                        }
                    });                    
                },
                setProvincia: function(){
                    var me = this;
                    $.each(this.DBProvincia, function (i, value) {
                        if(me.dataStudentModif.lugarProvNacTipoId == value.provinciaId) {
                            me.dataStudentModif.lugarProvNacTipo = value.provincia;
                            me.dataModifyToSend.push({'provinciaId':me.dataStudentModif.lugarProvNacTipoId})
                        }
                    });                    
                },                 
                               

                registryFormOne: function(){
                    var sw = false;
                    this.responseSegip='';

                    if(this.dataStudentModif.carnetIdentidad != this.dataStudent.carnetIdentidad)sw = true;
                    if(this.dataStudentModif.complemento != this.dataStudent.complemento)sw = true;
                    if(this.dataStudentModif.fechaNacimiento != this.dataStudent.fechaNacimiento)sw = true;
                    if(this.dataStudentModif.paterno != this.dataStudent.paterno)sw = true;
                    if(this.dataStudentModif.materno != this.dataStudent.materno)sw = true;
                    if(this.dataStudentModif.nombre != this.dataStudent.nombre)sw = true;
                        
                    if(sw){

                        axios.get(Routing.generate('specialmodificationdata_val_segip', {
                            carnet: this.dataStudentModif.carnetIdentidad,
                            complemento: this.dataStudentModif.complemento,                        
                            fechaNacimiento: this.dataStudentModif.fechaNacimiento,                        
                            paterno: this.dataStudentModif.paterno,                        
                            materno: this.dataStudentModif.materno,                        
                            nombre: this.dataStudentModif.nombre
                        }))
                        .then(response => {
                            if (response.status == 200) {
                                this.responseSegip=1;
                                if(response.data.answerSegip){
                                    // the data student is correct
                                    this.responseSegip=2;
                                }
                                console.log(response.data.answerSegip);
                                $('[data-toggle="tooltip"]').tooltip();
                            }
                            if( response.status == 202){
                                this.respuesta = response.data;
                            }

                            this.buscando = false;
                        })
                        .catch(e => {
                            console.log(e);
                            this.buscando = false;
                        });
                    }else{
                        this.responseSegip='';
                        console.log('no change');
                        // disable button
                    }
                    // this.swOne = sw;


                },
                clearSegip: function(){
                    this.responseSegip='';
                    this.dataStudentModif.carnetIdentidad = this.dataStudent.carnetIdentidad;
                    this.dataStudentModif.complemento = this.dataStudent.complemento;
                    this.dataStudentModif.fechaNacimiento = this.dataStudent.fechaNacimiento;
                    this.dataStudentModif.paterno = this.dataStudent.paterno;
                    this.dataStudentModif.materno = this.dataStudent.materno;
                    this.dataStudentModif.nombre = this.dataStudent.nombre;
                    $('#modalEstudianteOne').modal('hide');

                },
                registryFormTwo: function(){
                    var sw=false;
                    if(this.dataStudentModif.generoTipo != this.dataStudent.generoTipo)sw = true;
                    if(this.dataStudentModif.pais != this.dataStudent.pais)sw = true;
                    if(this.dataStudentModif.lugarNacTipo != this.dataStudent.lugarNacTipo)sw = true;
                    if(this.dataStudentModif.lugarProvNacTipo != this.dataStudent.lugarProvNacTipo)sw = true;
                    if(this.dataStudentModif.localidad != this.dataStudent.localidad)sw = true;
                    if(this.dataStudentModif.oficialia != this.dataStudent.oficialia)sw = true;
                    if(this.dataStudentModif.libro != this.dataStudent.libro)sw = true;
                    if(this.dataStudentModif.partida != this.dataStudent.partida)sw = true;
                    if(this.dataStudentModif.folio != this.dataStudent.folio)sw = true;

                    if(sw){
                        $('#modalEstudianteTwo').modal('hide');
                    }else{
                        this.responseFormTwo='no existen cambios';
                    }

                },
                clearFormTwo: function(){

                    this.dataStudentModif.generoTipo = this.dataStudent.generoTipo;
                    this.dataStudentModif.pais = this.dataStudent.pais;
                    this.dataStudentModif.lugarNacTipo = this.dataStudent.lugarNacTipo;
                    this.dataStudentModif.lugarProvNacTipo = this.dataStudent.lugarProvNacTipo;
                    this.dataStudentModif.localidad = this.dataStudent.localidad;
                    this.dataStudentModif.oficialia = this.dataStudent.oficialia;
                    this.dataStudentModif.libro = this.dataStudent.libro;
                    this.dataStudentModif.partida = this.dataStudent.partida;
                    this.dataStudentModif.folio = this.dataStudent.folio;

                    $('#modalEstudianteTwo').modal('hide');

                },
                updateStudent: function(){
                    

                     axios.post(Routing.generate('specialmodificationdata_update_student', this.dataStudentModif,this.resoladm, this.fechaResolucion ,this.justificativo))
                        .then(response => {
                            if (response.status == 200) {
                                this.responseSegip=1;
                                if(response.data.answerSegip){
                                    // the data student is correct
                                    this.responseSegip=2;
                                }
                                console.log(response.data.answerSegip);
                                $('[data-toggle="tooltip"]').tooltip();
                            }
                            if( response.status == 202){
                                this.respuesta = response.data;
                            }

                            this.buscando = false;
                        })
                        .catch(e => {
                            console.log(e);
                            this.buscando = false;
                        });

                }

            },
            mounted(){
                
            }
        });

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $("td").focus();
        });        
























        var lookforStudent = function () {
            //get the values
           var rude = $('#form_codeRude').val();
           var selectOption = $('#form_arrOption').val();
            
            if (rude.length <= 0) {
                alert("Necesita código RUDE para realizar la busqueda");
                return false;
            }
            if (selectOption == '') {
                alert("Necesita seleccionar criterio de busqueda");
                return false;
            }
            
            dataForm = $('#idFormFindStudent').serialize();
            $.ajax({
                type: 'post',
                data: dataForm,
                url: Routing.generate('specialmodificationdata_student_lookfor_student'),
                beforeSend: function () {
                    $("#dataStudent").empty();
                    $("#dataStudent").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                },
                success: function (data) {
                    $("#dataStudent").empty();
                    $("#dataStudent").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }

                // formdataId
        var updateDataStudent = function(){
            var message = '';
            if($('#form_resoladm').val()==''){
                message+= '- Necesita Resolucion Administrativa\n';
            }
            if($('#form_fecharesoladm').val()==''){
                message+= '- Necesita Fecha Resolucion Administrativa\n';
            }
            if($('#form_obs').val()==''){
                message+= '- Necesita registrar justificativo\n';
            }            
            if(message){
                alert(message);
                return false;
            }
            if(!validarFormatoFecha($('#form_fecharesoladm').val())){
              alert('Revise formato de Fecha Resolucion Administrativa (dd-mm-aaaa)');
              return false;
            }
            
            var dataForm = $('#formdataStudentId').serialize();
            if (confirm('¿Esta seguro de realizar el cambio?')) {
                    $.ajax({
                        type: 'post',
                        data: dataForm,
                        url: Routing.generate('specialmodificationdata_student_updateDataStudent'),
                        beforeSend: function () {
                            $("#dataStudent").empty();
                            $("#dataStudent").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                        },
                        success: function (data) {
                            
                            $("#dataStudent").empty();
                            $("#dataStudent").append(data);
                        },
                        statusCode: {
                            500: function () {

                            },
                            404: function () {

                            }
                        }
                    });
            } else {
              return false;
            }
        }


function validarFormatoFecha(campo) {
      var RegExPattern = /^\d{1,2}\-\d{1,2}\-\d{4}$/;
      if ((campo.match(RegExPattern)) && (campo!='')) {
            return true;
      } else {
            return false;
      }
}        


        function dep(es) {

            $.ajax({
                type: 'get',
                url: Routing.generate('search_departamentos_st', {'pais': parseInt(es)}),
                beforeSend: function () {
                    $("#form_departamento").empty();
                    $("#form_provincia").empty();
                    /*$("#localidad").empty();*/
                    $("#div-load").parent().append('<div class="loading"></div>');
                },
                success: function (data) {
                    $("#form_departamento").empty();
                    $("#form_provincia").empty();

                    $.each(data.departamento, function (i, value) {
                        $("#form_departamento").append('<option value="' + i + '">' + value + '</option>');
                    });
                    $(".loading").remove();
                }
            });
        }



        function prov(d) {
            $.ajax({
                type: 'get',
                url: Routing.generate('search_provincias_st', {'departamento': parseInt(d)}),
                beforeSend: function () {
                    $("#form_provincia").empty();
                    $("#div-load-prov").parent().append('<div class="loading"></div>');
                },
                success: function (data) {
                    $("#form_provincia").empty();
                    $.each(data.provincia, function (i, value) {
                        $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                    });
                    $(".loading").remove();
                }
            });
        }        








    </script>
{%endblock%}
