{# extends 'SieJuegosBundle:Default:Registros.html.twig' #}
{% extends 'layoutJuegos.html.twig' %}

{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="glyphicon glyphicon-pencil"></i> {{ titulo }} <span>{{ subtitulo }}</span></h2>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% if formBusqueda is defined %}
                                {{form_start(formBusqueda, { 'attr': {'role': "form", 'class': "form-horizontal"} } )}}
                                    <div class=" col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                        {{ form_widget(formBusqueda.sie, { 'attr': {'class': "form-control input-sm"} }) }}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                        {{ form_widget(formBusqueda.nivel, { 'attr': {'class': "form-control input-sm"} }) }}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                        {{ form_widget(formBusqueda.genero, { 'attr': {'class': "form-control input-sm"} }) }}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                        {{ form_widget(formBusqueda.disciplina, { 'attr': {'class': "form-control input-sm"} }) }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        {{ form_widget(formBusqueda.prueba, { 'attr': {'class': "form-control input-sm"} }) }}
                                    </div>
                                {{form_end(formBusqueda)}}
                            {% endif %}
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <!-- Start color horizontal tabs -->
                <div class="panel panel-tab panel-tab-double shadow">
                    <!-- Start tabs heading -->
                    <div class="panel-heading no-padding">
                        <ul class="nav nav-tabs" id="form_grado">

                        </ul>
                    </div><!-- /.panel-heading -->
                    <!--/ End tabs heading -->

                    <!-- Start tabs content -->
                    <div class="panel-body">
                        <div class="tab-content" id="form_grado_participante">

                        </div>
                    </div><!-- /.panel-body -->
                    <!--/ End tabs content -->
                </div><!-- /.panel -->
                <!--/ End color horizontal tabs -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="panel shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Estudiantes para registrar</h3>
                        </div><!-- /.pull-left -->
                        <div class="pull-right">

                        </div><!-- /.pull-right -->
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="required">Deportistas Seleccionados: </label>
                                        <div id="listaSeleccionado"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" name="botonAceptar" id="botonAceptar" class="btn btn-success col-md-12" disabled="true" onclick="return verificaCampos()">Guardar</button>

                                    </div>
                                </div>
                            </div>
                            <!--/ End project overview -->
                    </div><!-- /.panel-body -->
                </div>
                <div class="panel shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Deportistas Registrados</h3>
                        </div><!-- /.pull-left -->
                        <div class="pull-right">
                            <form name="formReport" id="formReport" role="form" action="{{ path('sie_juegos_clasificacion_lista_deportistas_inscritos_fase',{'fase':1,'usuario':app.session.get('userId')}) }}" method="POST">
                                <input type="hidden" name="id" id="id" value="" />
                                <button id="botonLista" name="botonLista" type="submit" title="Descargar en formato PDF" class="btn btn-lilac" disabled="true">
                                    <i class="fa fa-1x fa-file-pdf-o" aria-hidden="true"></i> Listado
                                </button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="list-unstyled list-real-estate">
                            <div id="listaParticipante"></div>
                        </ul>
                    </div><!-- /.panel-body -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    <!--/ End mail page -->
    </div>
    <!-- Start body content -->
    <!--/ End body content -->
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" id="modal">

    </div><!-- /.modal -->
    <!--/ End body content -->
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script>
        $(document).ready( function(){
            $("#form_sie").focus();
        });

        function validarBotonGuardar(){
            if($('[name="deportistas[]"]').length > 0 && $("#form_prueba").val() != ""){
                $("#botonAceptar").removeAttr('disabled');
            } else {
                $("#botonAceptar").attr('disabled', 'true');
            }
            //$('[name="deportistas[]"]').each(function (){
            //    alert($(this).length);
            //});
        }

        function chekedOff() {
            $('input[type=checkbox]').attr('checked',false);
        };

        function verificaCampos(){
            var peticion;
            var selecionados = $('[name="deportistas[]"]');
            var deportistas = new Array();
            var sie = $("#form_sie").val();
            var prueba = $("#form_prueba").val();
            var nivel = $("#form_nivel").val();
            //var posicion = $("#form_posicion").val();

            selecionados.each(function (){
                deportistas.push(this.value);
            });

            if($("#form_sie").val() != "" && $("#form_prueba").val() != "" && $('[name="deportistas[]"]').length > 0){
                var r = confirm("¿ Desea registrar a los "+ $('[name="deportistas[]"]').length +" estudiantes seleccionados ?");
                if (r == true) {
                    peticion = $.ajax({
                        type: 'POST',
                        url: '{{ path('sie_juegos_registro_f1_busqueda_grado_estudiante_save')}}',
                        data: {'sie': sie, 'prueba': prueba, 'deportistas': deportistas, 'nivel': nivel},
                        beforeSend: function () {
                            $("#form_nivel").attr('disabled', 'true');
                            $("#form_genero").attr('disabled', 'true');
                            $("#form_disciplina").attr('disabled', 'true');
                            $("#form_prueba").attr('disabled', 'true');
                            //$("#form_posicion").attr('disabled', 'true');
                            $("#botonAceptar").attr('disabled', 'true');
                            //$('[name="estudiantes[]"]').attr('disabled',true);
                            $("#listaParticipante").empty();
                            $("#listaParticipante").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                        },
                        success: function (data) {
                            $("#form_nivel").removeAttr('disabled');
                            $("#form_genero").removeAttr('disabled');
                            $("#form_disciplina").removeAttr('disabled');
                            $("#form_prueba").removeAttr('disabled');
                            //$("#form_posicion").removeAttr('disabled');
                            $('[name="estudiantes[]"]').removeAttr('disabled');
                            $("#listaSeleccionado").empty();
                            chekedOff();
                            $("#listaParticipante").empty();
                            if(data.msg_incorrecto != ''){
                                $("#listaParticipante").append('<div class="alert alert-danger"><strong>Error: </strong> '+data.msg_incorrecto+'</div>');
                            }
                            if(data.msg_correcto != ''){
                                $("#listaParticipante").append('<div class="alert alert-success"><strong>Correcto: </strong> '+data.msg_correcto+'</div>');
                            }

                            $.each(data.registrados, function (i, value) {
                                $("#listaParticipante").append('<li id="list' + i + '" class="list-group-item">' + value + '<div class="pull-right"><a href="#" onclick="getEliminarInscripcion(&#39;' + i + '&#39;);"><span class="status"><i class="fa fa-arrow-circle-down fg-danger"></i></span></a></div></li>');
                            });
                        },
                        statusCode: {
                            500: function () {
                            },
                            404: function () {
                            }
                        }
                    });
                } else {
                    return false;
                }
            } else {
                alert("Debe seleccionar una prueba y un estudiante como mínimo");
                return false;
            }
        }

        function listar_nivel(sie) {
            var peticion;
            if(sie.length>=8){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_nivel')}}',
                    data: {'sie': sie},
                    beforeSend: function () {
                        $("#form_nivel").attr('disabled', 'true');
                        $('#form_nivel').empty();
                        $("#form_nivel").append('<option value="">Cargando Datos..</option>');
                        $("#form_genero").attr('disabled', 'true');
                        $('#form_genero').empty();
                        $("#form_genero").append('<option value="">Seleccionar género </option>');
                        $("#form_disciplina").attr('disabled', 'true');
                        $('#form_disciplina').empty();
                        $("#form_disciplina").append('<option value="">Seleccionar disciplina</option>');
                        $("#form_prueba").attr('disabled', 'true');
                        $('#form_prueba').empty();
                        $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                        $("#form_grado").empty();
                        $("#form_grado_participante").empty();
                        $("#listaSeleccionado").empty();
                        $("#listaParticipante").empty();
                        $("#botonLista").attr('disabled', 'true');
                    },
                    success: function (data) {
                        if (data.niveles == '') {
                            $("#form_nivel").attr('disabled', 'true');
                        } else {
                            $("#form_nivel").removeAttr('disabled');
                            $("#form_nivel").focus();
                            $('#form_nivel').empty();
                            $("#form_nivel").append('<option value=""></option>');
                            for (var i in data.niveles) {
                                $("#form_nivel").append('<option value="' + data.niveles[i].id + '">' + data.niveles[i].nivel + '</option>');
                            }
                            $("#id").val(sie);
                            $("#botonLista").removeAttr('disabled');
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $("#form_nivel").attr('disabled', 'true');
                $('#form_nivel').empty();
                $("#form_nivel").append('<option value="">Seleccionar nivel</option>');
                $("#form_genero").attr('disabled', 'true');
                $('#form_genero').empty();
                $("#form_genero").append('<option value="">Seleccionar género </option>');
                $("#form_disciplina").attr('disabled', 'true');
                $('#form_disciplina').empty();
                $("#form_disciplina").append('<option value="">Seleccionar disciplina</option>');
                $("#form_prueba").attr('disabled', 'true');
                $('#form_prueba').empty();
                $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                $("#form_grado").empty();
                $("#form_grado_participante").empty();
                $("#listaSeleccionado").empty();
                $("#listaParticipante").empty();
                $("#botonLista").attr('disabled', 'true');
                return false;
            }
        }

        function listar_genero(nivel) {
            var peticion;
            if(nivel != "" && $("#form_sie").val() != ""){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_genero')}}',
                    data: {'sie': $("#form_sie").val(), 'nivel': nivel},
                    beforeSend: function () {
                        $("#form_genero").attr('disabled', 'true');
                        $('#form_genero').empty();
                        $("#form_genero").append('<option value="">Cargando Datos..</option>');
                        $("#form_disciplina").attr('disabled', 'true');
                        $('#form_disciplina').empty();
                        $("#form_disciplina").append('<option value="">Seleccionar disciplina</option>');
                        $("#form_prueba").attr('disabled', 'true');
                        $('#form_prueba').empty();
                        $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                        $("#form_grado").empty();
                        $("#form_grado_participante").empty();
                        $("#listaSeleccionado").empty();
                        $("#listaParticipante").empty();
                    },
                    success: function (data) {
                        if (data.generos == '') {
                            $("#form_genero").attr('disabled', 'true');
                        } else {
                            $("#form_genero").removeAttr('disabled');
                            $("#form_genero").focus();
                            $('#form_genero').empty();
                            $("#form_genero").append('<option value=""></option>');
                            for (var i in data.generos) {
                                $("#form_genero").append('<option value="' + data.generos[i].id + '">' + data.generos[i].genero + '</option>');
                            }
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $("#form_genero").attr('disabled', 'true');
                $('#form_genero').empty();
                $("#form_genero").append('<option value="">Seleccionar género</option>');
                $("#form_disciplina").attr('disabled', 'true');
                $('#form_disciplina').empty();
                $("#form_disciplina").append('<option value="">Seleccionar disciplina</option>');
                $("#form_prueba").attr('disabled', 'true');
                $('#form_prueba').empty();
                $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                $("#form_grado").empty();
                $("#form_grado_participante").empty();
                $("#listaSeleccionado").empty();
                $("#listaParticipante").empty();
                return false;
            }
        }

        function listar_disciplina(genero) {
            var peticion;
            if(genero != "" && $("#form_nivel").val() != "" && $("#form_sie").val() != ""){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_grado_disciplina')}}',
                    data: {'sie': $("#form_sie").val(), 'nivel': $("#form_nivel").val(), 'genero': genero},
                    beforeSend: function () {
                        $("#form_disciplina").attr('disabled', 'true');
                        $('#form_disciplina').empty();
                        $("#form_disciplina").append('<option value="">Cargando Datos..</option>');
                        $("#form_prueba").attr('disabled', 'true');
                        $('#form_prueba').empty();
                        $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                        $('#form_grado').empty();
                        $('#form_grado_participante').empty();
                        $("#listaSeleccionado").empty();
                        $("#listaParticipante").empty();
                    },
                    success: function (data) {
                        if (data.disciplinas == '') {
                            $("#form_disciplina").attr('disabled', 'true');
                        } else {
                            $("#form_disciplina").removeAttr('disabled');
                            $("#form_disciplina").focus();
                            $('#form_disciplina').empty();
                            $("#form_disciplina").append('<option value=""></option>');
                            for (var i in data.disciplinas) {
                                $("#form_disciplina").append('<option value="' + data.disciplinas[i].id + '">' + data.disciplinas[i].disciplina + '</option>');
                            }
                            $('#form_grado').empty();
                            for (var i in data.grados) {
                               if (i == 0){
                                  $("#form_grado").append('<li class="nav-border nav-border-top-primary" onclick="listar_grado_estudiante(' + data.grados[i].id + ')"><a href="#tab' + data.grados[i].id + '" data-toggle="tab" class="text-center" aria-expanded="true">' + data.grados[i].grado + '</li>');
                               } else {
                                  $("#form_grado").append('<li class="nav-border nav-border-top-primary" onclick="listar_grado_estudiante(' + data.grados[i].id + ')"><a href="#tab' + data.grados[i].id + '" data-toggle="tab" class="text-center" aria-expanded="true">' + data.grados[i].grado + '</li>');
                               }
                            }
                            $('#form_grado_participante').empty();
                            for (var j in data.grados) {
                               if (j == 0){
                                  $("#form_grado_participante").append('<div class="tab-pane fade in" id="tab' + data.grados[j].id + '"></div>');
                               } else {
                                  $("#form_grado_participante").append('<div class="tab-pane fade in" id="tab' + data.grados[j].id + '"></div>');
                               }
                            }
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $("#form_disciplina").attr('disabled', 'true');
                $('#form_disciplina').empty();
                $("#form_disciplina").append('<option value="">Seleccionar disciplina</option>');
                $("#form_prueba").attr('disabled', 'true');
                $('#form_prueba').empty();
                $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                $("#listaSeleccionado").empty();
                $("#listaParticipante").empty();
                return false;
            }
        }

        function listar_prueba(disciplina) {
            var peticion;
            if(disciplina != "" && $("#form_genero").val() != ""){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_disciplina_prueba')}}',
                    data: {'genero': $("#form_genero").val(), 'disciplina': disciplina},
                    beforeSend: function () {
                        $("#form_prueba").attr('disabled', 'true');
                        $('#form_prueba').empty();
                        $("#form_prueba").append('<option value="">Cargando Datos..</option>');
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                        $("#listaSeleccionado").empty();
                        $("#listaParticipante").empty();
                        chekedOff();
                    },
                    success: function (data) {
                        if (data.pruebas == '') {
                            $("#form_prueba").attr('disabled', 'true');
                        } else {
                            $("#form_prueba").removeAttr('disabled');
                            $("#form_prueba").focus();
                            $('#form_prueba').empty();
                            $("#form_prueba").append('<option value=""></option>');
                            for (var i in data.pruebas) {
                                $("#form_prueba").append('<option value="' + data.pruebas[i].id + '">' + data.pruebas[i].prueba + '</option>');
                            }
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $("#form_prueba").attr('disabled', 'true');
                $('#form_prueba').empty();
                $("#form_prueba").append('<option value="">Seleccionar prueba</option>');
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                $("#listaSeleccionado").empty();
                $("#listaParticipante").empty();
                chekedOff();
                return false;
            }
        }

        function listar_posicion(prueba) {
            var peticion;
            if(prueba != ""){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_posicion')}}',
                    data: {'prueba': prueba},
                    beforeSend: function () {
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Cargando Datos..</option>');
                    },
                    success: function (data) {
                        if (data.posiciones == '') {
                            $("#form_posicion").attr('disabled', 'true');
                        } else {
                            $("#form_posicion").removeAttr('disabled');
                            $("#form_posicion").focus();
                            $('#form_posicion').empty();
                            $("#form_posicion").append('<option value=""></option>');
                            for (var i in data.posiciones) {
                                $("#form_posicion").append('<option value="' + data.posiciones[i].id + '">' + data.posiciones[i].posicion + '</option>');
                            }
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                return false;
            }
        }

        function listar_grado_estudiante(grado){
            var peticion;
            if(grado != "" && $("#form_nivel").val() != "" && $("#form_sie").val() != "" && $("#form_genero").val() != ""){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_grado_estudiante')}}',
                    data: {'grado': grado, 'nivel': $("#form_nivel").val(), 'sie': $("#form_sie").val(), 'genero': $("#form_genero").val()},
                    beforeSend: function () {
                        $('#tab'+grado).empty();
                        $('#tab'+grado).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                    },
                    success: function (data) {
                        $('#tab'+grado).empty();
                        $('#tab'+grado).append(data);
                    },
                    statusCode: {
                        500: function () {
                            $('#tab'+grado).empty();
                            $('#tab'+grado).append('<div style="text-align:center">INTENTE NUEVAMENTE</div>');
                        },
                        404: function () {
                            $('#tab'+grado).empty();
                            $('#tab'+grado).append('<div style="text-align:center">INTENTE NUEVAMENTE</div>');
                        }
                    }
                });
            } else {
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                return false;
            }
        }

        function listar_registrado(prueba){
            var peticion;
            if(prueba != "" && $("#form_sie").val() != "" ){
                peticion = $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_registro_f1_busqueda_unidadeducativa_prueba_deportista')}}',
                    data: {'prueba': prueba, 'sie': $("#form_sie").val()},
                    beforeSend: function () {
                        $("#listaSeleccionado").empty();
                        $("#listaParticipante").empty();
                        $("#listaParticipante").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                        chekedOff();
                        $("#form_posicion").attr('disabled', 'true');
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value="">Cargando Datos..</option>');
                    },
                    success: function (data) {
                        $("#listaParticipante").empty();
                        $.each(data.participantes, function (i, value) {
                            $("#listaParticipante").append('<li id="list' + i + '" class="list-group-item">' + value + '<div class="pull-right"><a href="#" onclick="getEliminarInscripcion(&#39;' + i + '&#39;);"><span class="status"><i class="fa fa-arrow-circle-down fg-danger"></i></span></a></div></li>');
                        });
                        $("#form_posicion").removeAttr('disabled');
                        $("#form_posicion").focus();
                        $('#form_posicion').empty();
                        $("#form_posicion").append('<option value=""></option>');
                        for (var i in data.posiciones) {
                            $("#form_posicion").append('<option value="' + data.posiciones[i].id + '">' + data.posiciones[i].posicion + '</option>');
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                $('#listaParticipante').empty();
                $("#listaSeleccionado").empty();
                chekedOff();
                $("#form_posicion").attr('disabled', 'true');
                $('#form_posicion').empty();
                $("#form_posicion").append('<option value="">Seleccionar posición</option>');
                return false;
            }
        }



        function listar_selecionado(es, des){
            var deportistas = document.getElementsByName('deportistas[]');
            //var botonAceptar = document.getElementById('form_submit');
            var elemento = document.getElementById('idd' + es.value);
            var elementoLista = document.getElementById('list' + es.value);
            if(es.checked){
                if (elemento || elementoLista){
                } else {
                    $("#listaSeleccionado").append('<div class="ckbox ckbox-lilac circle" id="div' + es.value + '"><input type="checkbox" checked="chequed" id="idd' + es.value + '" name="deportistas[]" value="' + es.value + '" /><label id="lbd' + es.value + '" for="id">' + des + '</label></div>');
                }
                //botonAceptar.disabled = false;
            }else{
                dep = document.getElementById('idd' + es.value);
                lbl = document.getElementById('lbd' + es.value);
                div = document.getElementById('div' + es.value);
                if (dep){
                    padre = dep.parentNode;
                    padre.removeChild(dep);
                }
                if (lbl){
                    padre2 = lbl.parentNode;
                    padre2.removeChild(lbl);
                }
                if (div){
                    padre2 = div.parentNode;
                    padre2.removeChild(div);
                }
            }
            validarBotonGuardar();
        }

        function getEliminarInscripcion(es) {
            var r = confirm("¿ Desea eliminar al estudiante seleccionados ?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('sie_juegos_eliminacion_f1_inscripcion')}}',
                    data: {'inscripcion': es},
                    beforeSend: function () {
                    },
                    success: function (data) {
                        if(data.registro[0]){
                            $("#listaParticipante").empty();
                            $("#listaParticipante").append('<div class="alert alert-success"><strong>Correcto: </strong> '+data.registro[1]+'</div>');
                            $.each(data.participantes, function (i, value) {
                                $("#listaParticipante").append('<li id="list' + i + '" class="list-group-item">' + value + '<div class="pull-right"><a href="#" onclick="getEliminarInscripcion(&#39;' + i + '&#39;);"><span class="status"><i class="fa fa-arrow-circle-down fg-danger"></i></span></a></div></li>');
                            });
                        } else {
                            $("#listaParticipante").append('<div class="alert alert-danger"><strong>Error: </strong> '+data.registro[1]+'</div>');
                        }
                    },
                    statusCode: {
                        500: function () {
                        },
                        404: function () {
                        }
                    }
                });
            } else {
                return false;
            }
        }

        /**
         * this is to the tree menu option
         * @returns {undefined}
         */
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });

        var getStudents = function (infoUe) {

            $.ajax({
                type: 'get',
                /*data: ({iecId: iecId, nivel: nivel, sie: sie, gestion: gestion, grado: grado, paralelo: paralelo, turno: turno, ciclo: ciclo}),*/
                /*url: Routing.generate('inscription_ue_all_sie_get_students'),*/
                data: ({infoUe: infoUe}),
                url: Routing.generate('herramienta_info_estudiante_get_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var seeStudents = function (infoUe) {
            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe}),
                url: Routing.generate('sie_juegos_inscripcion_lista_estudiantes'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };

        var selectAllEle = function () {
            $("#checkAll").on("change", function () {
                $(this).closest("div").find("input:checkbox").prop("checked", $(this).prop("checked"));
            });

        };
    </script>


{%endblock%}
