
{% if exist == true %}
<small>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">{{ nivel }} / {{ grado }} / {{ genero }}</h3>
                    </div><!-- /.pull-left -->
                    <div class="pull-right">

                    </div><!-- /.pull-right -->
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <!-- Start datatable -->
                    <table id="datatable-estudiantes" class="table table-striped table-default">
                        <thead>
                            <tr>
                                <th data-class="expand">#</th>
                                <th data-hide="phone,tablet">P.</th>
                                <th>C.I.</th>
                                <th>Código Rude</th>
                                <th>Estudiante</th>
                                <th style="min-width: 50px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {#init the array info student #}
                            {% set objInfoStudent = [] %}
                            {% for data in objStudents%}
                                {# set the array student info and convert on json string #}
                                {% set objInfoStudent = objInfoStudent|merge(data) %}
                                {% set jsnInfoStudent = objInfoStudent|json_encode() %}
                                {% set nombre = data.paterno~' '~data.materno~' '~data.nombre %}
                                {% set rude = data.codigoRude %}
                                {% set estadoId = data.estadomatriculaId %}
                                {% set paralelo = data.paralelo %}
                                {% if data.complemento == "" %}
                                    {% set ci = data.carnetIdentidad %}
                                {% else %}
                                    {% set ci = data.carnetIdentidad~'-'~data.complemento%}
                                {% endif %}
                                <tr>
                                    <td align="">{{loop.index}}</td>
                                    <td align="">{{paralelo}}</td>
                                    <td align="">{{ci}}</td>
                                    <td align="">{{rude}}</td>
                                    <td align="">{{nombre}}</td>
                                    <td align="">
                                        {% if estadoId == 4 or estadoId == 5 or estadoId == 55 %}
                                            <div class="ckbox ckbox-primary">
                                                <input id="id{{data.eInsId|base64_encode}}" name="estudiantes[]" type="checkbox" value="{{data.eInsId|base64_encode}}" onclick="listar_selecionado(this,'{{ nombre|replace({"'":"&#39;"}) }}')">
                                                <label for="id{{data.eInsId|base64_encode}}"></label>
                                            </div>
                                        {% else %}
                                            <span class="label label-danger rounded">{{ data.estadomatricula }}</span>
                                        {% endif %}

                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <tr>
                                    <th data-class="expand">#</th>
                                    <th data-hide="phone,tablet">P.</th>
                                    <th>C.I.</th>
                                    <th>Código Rude</th>
                                    <th>Estudiante</th>
                                    <th style="min-width: 50px">&nbsp;</th>
                                </tr>
                            </tr>
                        </tfoot>
                    </table>
                    <!--/ End datatable -->
                    <div id="no-more-tables">
                    </div>
                    <!-- /.portlet -->
                    <!--/ End project overview -->
                  </div>
                </div><!-- /.panel-body -->
            </div>
        </div>
    </div>

</small>
{% else %}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<script>
    var getPruebas = function (es) {
        genero = $('#form_genero').val();
        ue = $('#form_sie').val();

        $.ajax({
            type: 'get',
            url: Routing.generate('sie_juegos_inscripcion_lista_estudiantes_registro_busca_pruebas', {'ue': parseInt(ue),'disciplina': parseInt(es), 'genero': genero}),
            beforeSend: function () {
                $("#form_prueba").empty();
                $("#form_prueba").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');

                $("#listaInscritos").empty();
                $("#listaInscritos").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
            },
            success: function (data) {
                $("#form_prueba").empty();
                //$("#form_prueba").append('<option value="0">Seleccionar</option>');
                $.each(data.apruebas, function (i, value) {
                    $("#form_prueba").append('<option value="' + i + '">' + value + '</option>');
                });
                $("#listaInscritos").empty();
                $.each(data.ainscritos, function (i, value) {
                    $("#listaInscritos").append('<li id="list' + i + '" class="list-group-item">' + value + '<div class="pull-right"><a href="#" onclick="getEliminarInscripcion(' + i + ');"><span class="status"><i class="fa fa-2x fa-trash fg-danger"></i></span></a></div></li>');
                });
            }
        });
    };

    var getInscritos = function (es) {
        ue = $('#form_sie').val();

        $.ajax({
            type: 'get',
            url: Routing.generate('sie_juegos_inscripcion_lista_estudiantes_inscritos_busca_pruebas', {'prueba': parseInt(es), 'ue': parseInt(ue)}),
            beforeSend: function () {
                $("#listaInscritos").empty();
                $("#listaInscritos").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
            },
            success: function (data) {
                $("#listaInscritos").empty();
                $.each(data.ainscritos, function (i, value) {
                    $("#listaInscritos").append('<li id="list' + i + '" class="list-group-item">' + value + '<div class="pull-right"><a href="#" onclick="getEliminarInscripcion(' + i + ');"><span class="status"><i class="fa fa-arrow-circle-down fg-danger"></i></span></a></div></li>');
                });
            }
        });
    };



    var setDeportistas = function (es,des) {
        var deportistas = document.getElementsByName('deportistas[]');
        var botonAceptar = document.getElementById('form_submit');
        habilitarBotonSubmit();
        if(es.checked){
            $("#listaDeportistas").append('<div class="ckbox ckbox-lilac circle"><input type="checkbox" checked="chequed" id="idd' + es.value + '" name="deportistas[]" value="' + es.value + '" /><label id="lbd' + es.value + '" for="id">' + des + '</label></div>');
            botonAceptar.disabled = false;
        }else{
            dep = document.getElementById('idd' + es.value);
            lbl = document.getElementById('lbd' + es.value);
            if (dep){
                padre = dep.parentNode;
                padre.removeChild(dep);
            }
            if (lbl){
                padre2 = lbl.parentNode;
                padre2.removeChild(lbl);
            }
        }
    };

    var habilitarBotonSubmit = function (){
            var estudiantes = document.getElementsByName('estudiantes[]');
            var botonAceptar = document.getElementById('form_submit');
            var cant = 0;
            for (var i=0; i < estudiantes.length; i++){
                if(estudiantes[i].checked == true){
                    cant = 1;
                }
            }
            if(cant == 1){
                if(botonAceptar){
                    botonAceptar.disabled = false;
                    botonAceptar.className = "btn btn-success col-sm-12 btn-slidedown";
                }
                return true;
            } else {
                if(botonAceptar){
                    botonAceptar.className = "btn btn-default col-sm-12";
                    botonAceptar.disabled = true;
                }
                return false;
            }
        };
</script>
