{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Modificación de Datos
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('sie_estudiantes')}}">Modificar Datos</a>
                    </li>
                    <li class="active">Resultado</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-info alert-dismissible" role="alert">

                <i class="fa fa-warning"></i> LA MODIFICACIO SE DEBE REALIZAR PREVIA PRESENTACION DEL FORMULARIO DE MODIFICACION Y/O INCLUSION DE DATOS (SIE-MD-300), ESTA MODIFICACION SOLO SE REALIZA UNA VEZ POR GESTION.
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel rounded">
                <div class="panel-heading"><h4>Datos del Estudiante
                </h4> </div>
                <div class="panel-body">

                    <table class="table table-bordered table-hover cf">
                        <thead class="cf">
                            <tr class="info">
                                <th>CI</th>
                                <th>Complemento</th>
                                <th>Paterno</th>
                                <th>Materno</th>
                                <th>Nombre</th>
                                <th>Cod. Rude</th>
                                <th>Fecha Nacimiento</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td data-title="Paterno" class="form-group">
                                    {{student.carnetIdentidad}}
                                </td>
                                <td data-title="Paterno" class="form-group">
                                    {{student.complemento}}
                                </td>
                                <td data-title="Paterno" class="form-group">
                                    {{student.paterno}}
                                </td>

                                <td data-title="Materno" class="form-group">
                                    {{student.materno}}
                                </td>
                                <td data-title="Nombre(s)" class="form-group">
                                     {{student.nombre}}
                                </td> 
                                <td data-title="Nombre(s)" class="form-group">
                                     {{student.codigoRude}}
                                </td>
                                <td data-title="Fecha Nac.">
                                      {{student.fechaNacimiento|date('d-m-Y')}}
                                </td>

                        </tbody>

                    </table>

                        
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Información Inscripción: </h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation" class="panel-collapse collapse collapse">
                    <div class="portlet-body">

                        <div id="no-more-tables">
                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th>Gestión</th>
                                        <th>Sie</th>
                                        <th>Institución Educativa</th>
                                        <!--th>Rude</th-->
                                        <th>Nivel</th>
                                        <th>Grado</th>
                                        <th>Paralelo</th>
                                        <th>Turno</th>
                                        <th>Est. Matrícula</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inscription in infoinscription%}
                                        <tr>

                                            <td data-title="Gestión">{{inscription.gestion}}</td>
                                            <td data-title="Sie">{{inscription.sie}}</td>
                                            <td data-title="Institución Educativa">{{inscription.institucioneducativa}}</td>
                                            <!--td data-title="Rude">{{inscription.codigoRude}}</td-->
                                            <td data-title="Nivel">{{inscription.nivel}} </td>
                                            <td data-title="Grado">{{inscription.grado}}</td>
                                            <td data-title="Paralelo">{{inscription.paralelo}}</td>
                                            <td data-title="Turno">{{inscription.turno}} </td>
                                            <td data-title="Est. Matricula">{{inscription.estadoMatricula}}</td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Modificación</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#mode1"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="mode1" class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <!--mode2 form-->
                        {% if form_mode1 is empty %}

                        {%else%}

                            {{form_start(form_mode1,{'attr':{'data-toggle': 'validator','form':'role', 'id':'formMode1Id'} })}}
                            <h5>MODIFICACION Y/O INCLUSIÓN DE NOMBRE(S), APELLIDO(S) Y/O MODIFICACION DE FECHA DE NACIMIENTO</h5>
                            <h6>Los campos con (*) son requeridos</h6>
                            <div id="no-more-tables">


                                <table class="table table-bordered table-hover cf">
                                    <thead class="cf">
                                        <tr class="info">
                                            <th>Paterno</th>
                                            <th>Materno</th>
                                            <th>Nombre(*)</th>
                                            <th>Fecha Nacimiento</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td data-title="Paterno" class="form-group">
                                                {{form_widget(form_mode1.paterno) }}
                                                <div class="help-block with-errors"></div>
                                            </td>
                                            <td data-title="Materno" class="form-group">
                                                {{form_widget(form_mode1.materno)}}
                                                <div class="help-block with-errors"></div>
                                            </td>
                                            <td data-title="Nombre(s)" class="form-group">
                                                {{form_widget(form_mode1.nombre)}}
                                                <div class="help-block with-errors"></div>
                                            </td>
                                            <td data-title="Fecha Nac.">
                                                <div id="sandbox-container">
                                                    {{form_widget(form_mode1.fechaNacimiento)}}
                                                </div>
                                            </td>

                                    </tbody>

                                </table>
                            </div>

                            {% if m3==1 %}
                                <h5>MODIFICACIÓN Y/O INCLUSIÓN DE DATOS PROPIOS DEL CERTIFICADO DE NACIMIENTO, CARNET DE IDENTIDAD Y OTROS</h5>
                                <h6>Los campos con (*) son requeridos</h6>
                                <div class="row">
                                  <div class="col-md-12">
                                    {{form_label(form_mode3.isDoubleNcnal)}} <i class="fa fa-question-circle"  data-toggle="tooltip" data-placement="right" title="" data-original-title="En caso de que la/el estudiante presente doble nacionalidad marque el campo y seleccione el pais de procedencia"></i>
                                    {{form_widget(form_mode3.isDoubleNcnal,{'attr': {'':''}  }   )}}
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        {{form_label(form_mode1.pais)}}
                                        {{form_widget(form_mode1.pais,{'attr':{'onchange':'dep(this.value)'} })}}
                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode1.departamento)}}
                                        {{form_widget(form_mode1.departamento,{'attr':{'onchange':'prov(this.value)'} })}}
                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode1.provincia)}}
                                        {{form_widget(form_mode1.provincia)}}
                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode1.localidad)}}
                                        {{form_widget(form_mode1.localidad)}}
                                    </div>
                                </div>
                                </br>

                                <div class="row">

                                    <div class="col-sm-1">
                                        {{form_label(form_mode3.extranjero)}}
                                        {{form_widget(form_mode3.extranjero)}}
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode1.ci)}}
                                        {{form_widget(form_mode1.ci)}}
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode1.complemento)}}

                                        {{form_widget(form_mode1.complemento)}}

                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode1.generoTipo)}}
                                        {{form_widget(form_mode1.generoTipo)}}
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode1.oficialia)}}
                                        {{form_widget(form_mode1.oficialia)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode1.libro)}}
                                        {{form_widget(form_mode1.libro)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode1.partida)}}
                                        {{form_widget(form_mode1.partida)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode1.folio)}}
                                        {{form_widget(form_mode1.folio)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        {{form_label(form_mode1.pasaporte)}}
                                        {{form_widget(form_mode1.pasaporte)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                            {%endif%}
                            </br>
                            {{form_widget(form_mode1.save)}}
                            {{form_end(form_mode1)}}

                            <div id="resutlUpdateId"></div>
                        {% endif %}
                        <!--end mode1 form-->
                        <!--mode2 form-->
                        {% if form_mode2 is empty %}

                        {%else%}
                            <h5>ddMODIFICACION Y/O INCLUSIÓN DE NOMBRE(S), APELLIDO(S) Y/O MODIFICACION DE FECHA DE NACIMIENTO</h5>
                            <h6>Los campos con (*) son requeridos</h6>
                            {{form_start(form_mode2,{'attr':{'data-toggle': 'validator','form':'role', 'id':'formMode1Id'} })}}

                            <div id="no-more-tables">
                                <table class="table table-bordered table-hover cf">
                                    <thead class="cf">
                                        <tr class="info">
                                            <th>Paterno</th>
                                            <th>Materno</th>
                                            <th>Nombre(*)</th>
                                            <th>Fecha Nacimiento</th>
                                            <th>Resol. Aprobatoria</th>
                                            <th>Obs. Adicional</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td data-title="Paterno" class="form-group">{{form_widget(form_mode2.paterno) }}<div class="help-block with-errors"></div></td>
                                            <td data-title="Materno" class="form-group">{{form_widget(form_mode2.materno)}}<div class="help-block with-errors"></div></td>
                                            <td data-title="Nombre(s)" class="form-group">{{form_widget(form_mode2.nombre)}}<div class="help-block with-errors"></div></td>
                                            <td data-title="Fecha Nac.">
                                                <div id="sandbox-container">
                                                    {{form_widget(form_mode2.fechaNacimiento)}}
                                                </div>
                                            </td>
                                            <td data-title="Resol. Aprobatoria">{{form_widget(form_mode2.resolAprobatoria)}}</td>
                                    <div id="sandbox-container">
                                        <td data-title="Obs. Adicional">{{form_widget(form_mode2.obsAdicional)}}</td>
                                    </div>

                                    </tbody>
                                </table>
                            </div>

                            {% if m3==1 %}
                                <h5>MODIFICACIÓN Y/O INCLUSIÓN DE DATOS PROPIOS DEL CERTIFICADO DE NACIMIENTO, CARNET DE IDENTIDAD Y OTROS</h5>

                                <h6>Los campos con (*) son requeridos</h6>
                                <div class="row">
                                  <div class="col-md-12">
                                    {{form_label(form_mode3.isDoubleNcnal)}} <i class="fa fa-question-circle"  data-toggle="tooltip" data-placement="right" title="" data-original-title="En caso de que la/el estudiante presente doble nacionalidad marque el campo y seleccione el pais de procedencia"></i>
                                    {{form_widget(form_mode3.isDoubleNcnal,{'attr': {'':''}  }   )}}
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        {{form_label(form_mode2.pais)}} (*)
                                        {{form_widget(form_mode2.pais,{'attr':{'onchange':'dep(this.value)'} })}}

                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode2.departamento)}}
                                        {{form_widget(form_mode2.departamento,{'attr':{'onchange':'prov(this.value)'}  } )}}
                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode2.provincia)}}
                                        {{form_widget(form_mode2.provincia)}}
                                    </div>
                                    <div class="col-sm-3">
                                        {{form_label(form_mode2.localidad)}}
                                        {{form_widget(form_mode2.localidad)}}
                                    </div>
                                </div>
                                </br>

                                <div class="row">
                                    <div class="col-sm-1">
                                        {{form_label(form_mode3.extranjero)}}
                                        {{form_widget(form_mode3.extranjero)}}
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode2.ci)}}
                                        {{form_widget(form_mode2.ci)}}
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode2.complemento)}}

                                        {{form_widget(form_mode2.complemento)}}

                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode2.generoTipo)}}
                                        {{form_widget(form_mode2.generoTipo)}}
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode2.oficialia)}}
                                        {{form_widget(form_mode2.oficialia)}}
                                    </div>
                                    <div class="col-sm-2">
                                        {{form_label(form_mode2.libro)}}
                                        {{form_widget(form_mode2.libro)}}
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode2.partida)}}
                                        {{form_widget(form_mode2.partida)}}
                                    </div>
                                    <div class="col-sm-1">
                                        {{form_label(form_mode2.folio)}}
                                        {{form_widget(form_mode2.folio)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        {{form_label(form_mode2.pasaporte)}}
                                        {{form_widget(form_mode2.pasaporte)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                            {%endif%}
                            </br>
                            {{form_widget(form_mode2.save)}}
                            {{form_end(form_mode2)}}
                            <div id="resutlUpdateId"></div>
                        {%endif%}
                        <!--end mode2 form-->

                        <!--mode3 form-->
                        {% if m1==0 and m2==0 and m3==1 %}

                            <h5>MODIFICACIÓN Y/O INCLUSIÓN DE DATOS PROPIOS DEL CERTIFICADO DE NACIMIENTO, CARNET DE IDENTIDAD Y OTROS</h5>
                            <h6>Los campos con (*) son requeridos</h6>
                            {{form_start(form_mode3,{'attr':{'data-toggle': 'validator','form':'role', 'id':'formMode1Id'} })}}

                            <div class="row">
                              <div class="col-md-12">
                                {{form_label(form_mode3.isDoubleNcnal)}} <i class="fa fa-question-circle"  data-toggle="tooltip" data-placement="right" title="" data-original-title="En caso de que la/el estudiante presente doble nacionalidad marque el campo y seleccione el pais de procedencia"></i>
                                {{form_widget(form_mode3.isDoubleNcnal,{'attr': {'':''}  }   )}}
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{form_label(form_mode3.pais)}} (*)
                                    {{form_widget(form_mode3.pais,{'attr': {'onchange':'dep(this.value)'}  }   )}}

                                </div>
                                <div class="col-sm-3">
                                    {{form_label(form_mode3.departamento)}}
                                    {{form_widget(form_mode3.departamento,{'attr':{'onchange':'prov(this.value)'} })}}
                                </div>
                                <div class="col-sm-3">
                                    {{form_label(form_mode3.provincia)}}
                                    {{form_widget(form_mode3.provincia)}}
                                </div>
                                <div class="col-sm-3">
                                    {{form_label(form_mode3.localidad)}}
                                    {{form_widget(form_mode3.localidad)}}
                                </div>
                            </div>
                            </br>

                            <div class="row">
                                <div class="col-sm-1">
                                    {{form_label(form_mode3.extranjero)}}
                                    {{form_widget(form_mode3.extranjero)}}
                                </div>
                                <div class="col-sm-2">
                                    {{form_label(form_mode3.ci)}}
                                    {{form_widget(form_mode3.ci)}}
                                </div>
                                <div class="col-sm-1">
                                    {{form_label(form_mode3.complemento)}}

                                    {{form_widget(form_mode3.complemento)}}

                                </div>
                                <div class="col-sm-2">
                                    {{form_label(form_mode3.generoTipo)}}
                                    {{form_widget(form_mode3.generoTipo)}}
                                </div>
                                <div class="col-sm-2">
                                    {{form_label(form_mode3.oficialia)}}
                                    {{form_widget(form_mode3.oficialia)}}
                                </div>
                                <div class="col-sm-2">
                                    {{form_label(form_mode3.libro)}}
                                    {{form_widget(form_mode3.libro)}}
                                </div>
                                <div class="col-sm-1">
                                    {{form_label(form_mode3.partida)}}
                                    {{form_widget(form_mode3.partida)}}
                                </div>
                                <div class="col-sm-1">
                                    {{form_label(form_mode3.folio)}}
                                    {{form_widget(form_mode3.folio)}}
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-1">
                                        {{form_label(form_mode3.pasaporte)}}
                                        {{form_widget(form_mode3.pasaporte)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </br>
                            {{form_widget(form_mode3.save)}}
                            {{form_end(form_mode3)}}
                            <div id="resutlUpdateId"></div>
                        {%endif%}
                        <!--end mode3 form-->


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{path('sie_estudiantes')}}" class="btn btn-link"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Volver</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>

        //to validate the pais, departament, provincia and localidad by krlos
   /*     $('#form_save').click(function ( ) {

            //alert($('#form_pais').val() + '---' + $('#form_departamento').val() + '---' + $('#form_provincia').val());
            //return false;
            if ($('#form_pais').val() == 0) {

                alert('Debe seleccionar País');
                $('#form_pais').focus();
                return false;
            }
            if ($('#form_pais').val() == 1) {

                if ($('#form_departamento').val() == null) {
                    alert('Debe seleccionar Departamento');
                    $('#form_departamento').focus();

                    return false;
                } else {
                    if ($('#form_provincia').val() == null) {
                        alert('Debe seleccionar Provincia');
                        $('#form_provincia').focus();
                        return false;
                    } else {
                        if ($('#form_localidad').val() == '') {
                            alert('La Localidad no puede estar en blanco');
                            $('#form_localidad').focus();
                            return false;
                        }
                    }

                }
            }

        });*/





        function dep(es) {

            $.ajax({
                type: 'get',
                url: Routing.generate('search_departamentos_st', {'pais': parseInt(es)}),
                beforeSend: function () {
                    $("#form_departamento").empty();
                    $("#form_provincia").empty();
                    /*$("#localidad").empty();*/
                    $("#div-load").parent().append('<div class="loading"></div>');
                },
                success: function (data) {
                    $("#form_departamento").empty();
                    $("#form_provincia").empty();

                    $.each(data.departamento, function (i, value) {
                        $("#form_departamento").append('<option value="' + i + '">' + value + '</option>');
                    });
                    $(".loading").remove();
                }
            });
        }



        function prov(d) {
            $.ajax({
                type: 'get',
                url: Routing.generate('search_provincias_st', {'departamento': parseInt(d)}),
                beforeSend: function () {
                    $("#form_provincia").empty();
                    $("#div-load-prov").parent().append('<div class="loading"></div>');
                },
                success: function (data) {
                    $("#form_provincia").empty();
                    $.each(data.provincia, function (i, value) {
                        $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                    });
                    $(".loading").remove();
                }
            });
        }

        var updateStudentFormA = function () {
            if(confirm('¿Está seguro de Realizar estos cambios?')){

                // body...
                formData = $('#formMode1Id').serialize();
                  $.ajax({
                  type: 'post',
                  data: formData,
                  url: Routing.generate('sie_estudiantes_updatestudentmodeoneA'),
                  beforeSend: function () {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                  },
                  success: function (data) {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append(data);
                      $('.tooltips').tooltip();
                  },
                  statusCode: {
                      500: function () {

                      },
                      404: function () {

                      }
                  }
                }); 

                $('#form_save').attr("disabled", true);

            }else{
                return false;
            }
            
        };
       var updateStudentFormD = function () {
            if(confirm('¿Está seguro de Realizar estos cambios?')){
                    // body...
                    formData = $('#formMode1Id').serialize();
                      $.ajax({
                      type: 'post',
                      data: formData,
                      url: Routing.generate('sie_estudiantes_updatestudentmodeoneD'),
                      beforeSend: function () {
                          $("#resutlUpdateId").empty();
                          $("#resutlUpdateId").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                      },
                      success: function (data) {
                          $("#resutlUpdateId").empty();
                          $("#resutlUpdateId").append(data);
                          $('.tooltips').tooltip();
                      },
                      statusCode: {
                          500: function () {

                          },
                          404: function () {

                          }
                      }
                  }); 

                    $('#form_save').attr("disabled", true);

                }else{
                    return false;
                }                  
            

            };


         var updateStudentFormB = function () {
            if(confirm('¿Está seguro de Realizar estos cambios?')){
                    // body...
                    formData = $('#formMode1Id').serialize();
                      $.ajax({
                      type: 'post',
                      data: formData,
                      url: Routing.generate('sie_estudiantes_updatestudentmodeoneB'),
                      beforeSend: function () {
                          $("#resutlUpdateId").empty();
                          $("#resutlUpdateId").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                      },
                      success: function (data) {
                          $("#resutlUpdateId").empty();
                          $("#resutlUpdateId").append(data);
                          $('.tooltips').tooltip();
                      },
                      statusCode: {
                          500: function () {

                          },
                          404: function () {

                          }
                      }
                  }); 

                $('#form_save').attr("disabled", true);

            }else{
                return false;
            }
        };


         var updateStudentFormE = function () {
            if(confirm('¿Está seguro de Realizar estos cambios?')){    
                // body...
                formData = $('#formMode1Id').serialize();
                  $.ajax({
                  type: 'post',
                  data: formData,
                  url: Routing.generate('sie_estudiantes_updatestudentmodeoneE'),
                  beforeSend: function () {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                  },
                  success: function (data) {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append(data);
                      $('.tooltips').tooltip();
                  },
                  statusCode: {
                      500: function () {

                      },
                      404: function () {

                      }
                  }
              }); 
                         $('#form_save').attr("disabled", true);

            }else{
                return false;
            }
        };

         var updateStudentFormC = function () {
            if(confirm('¿Está seguro de Realizar estos cambios?')){
                // body...
                formData = $('#formMode1Id').serialize();
                  $.ajax({
                  type: 'post',
                  data: formData,
                  url: Routing.generate('sie_estudiantes_updatestudentmodeoneC'),
                  beforeSend: function () {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                  },
                  success: function (data) {
                      $("#resutlUpdateId").empty();
                      $("#resutlUpdateId").append(data);
                      $('.tooltips').tooltip();
                  },
                  statusCode: {
                      500: function () {

                      },
                      404: function () {

                      }
                  }
              }); 
                        $('#form_save').attr("disabled", true);

            }else{
                return false;
            }
        };


    </script>
{%endblock%}
