{% extends 'layoutEspecialSie.html.twig' %}

{% block contentoption %}
<div class="modal modal-flex fade" id="myModalNotas" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
    <div class="modal-dialog higherWider">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="flexModalLabel">Calificaciones</h4>

            </div>
            <div class="modal-body">
                <div id="idNotas"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>

    </div>
</div>
<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted esta aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Recibidos</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li class="active">Index</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="body-content animated fadeIn">
        
    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Historial de inscripción', 'gestion': '-', 'sie': '-', 'ieducativa': '-', 'opcion': 'Buscar por código RUDE'} %}
    <div class="row">

        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notihistory') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Advertencia!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('goodhistory') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Bien!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- Website Stats  Widget -->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 col-lg-12">
                      <div class="panel panel-teal">
                          <div class="panel-heading">
                              <div class="panel-title">
                                   <h4><i class="fa fa-search"></i> Inserte Rude</h4>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                          <div class="panel-body">

                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                            <div class="form-group">
                                <label for="form_codigoRude" class="col-sm-2 control-label">
                                    {{form_label(form.codigoRude)}}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.codigoRude) }}
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">

                                    {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
                                </div>
                            </div>
                            {{form_end(form)}}

                          </div>
                      </div>


                    </div>
                </div>
            </div>
            <!--start of result of search history  -->
            {% if sw  %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Información Estudiante</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="pinfoestudiante" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="no-more-tables">
                                        <table class="table table-bordered table-hover cf">
                                            <thead class="cf">
                                                <tr class="info">
                                                    <th class="text-center">Rude</th>
                                                    <th class="text-center">Nombre(s)</th>
                                                    <th class="text-center">Paterno</th>
                                                    <th class="text-center">Materno</th>
                                                    <th class="text-center">CI</th>
                                                    <th class="text-center">Complemento</th>
                                                    <th class="text-center">Genero</th>
                                                    <th class="text-center">F. Nacimiento</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="Rude">{{datastudent.codigoRude}}</td>
                                                    <td data-title="Nombre">{{ datastudent.nombre|e }} </td>
                                                    <td data-title="Paterno">{{datastudent.paterno|e}}</td>
                                                    <td data-title="Materno">{{datastudent.materno|e}}</td>
                                                    <td data-title="CI">{{datastudent.carnetIdentidad}} </td>
                                                    <td data-title="Complemento" class="text-center">{{datastudent.complemento}}</td>
                                                    <td data-title="Genero" class="text-center">{{datastudent.generoTipo}} </td>
                                                    <td data-title="F. Nacimiento" class="text-center">{{datastudent.fechaNacimiento|date('d-m-Y')}}</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Historial de Inscripciones</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="omitidos" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="no-more-tables">
                                        <table class="table table-bordered table-hover cf">
                                            <thead class="cf">
                                                <tr class="info">
                                                    <th class="text-center">Gestion</th>
                                                    <th class="text-center">SIE</th>
                                                    <th class="text-center">Unidad Educativa</th>
                                                    <th class="text-center">Nivel</th>
                                                    <th class="text-center">Grado</th>
                                                    <th class="text-center">Paralelo</th>
                                                    <th class="text-center">Turno</th>
                                                    <th class="text-center">Estado Matricula</th>
                                                    <th class="text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in dataInscription%}
                                                     {% if (data.idObservacion  == '') %}
                                                        <tr class = "success">
                                                            <td data-title="Rude">{{data.gestion}}</td>
                                                            <td data-title="Rude">{{data.sie}}</td>
                                                            <td data-title="Rude">{{data.institucioneducativa}}</td>
                                                            <td data-title="Nombre">{{ data.nivel|e }} </td>
                                                            <td data-title="Paterno">{{data.grado|e}}</td>
                                                            <td data-title="Materno">{{data.paralelo|e}}</td>
                                                            <td data-title="CI">{{data.turno}} </td>
                                                            <td data-title="Est. Matricula" class="text-center">{{data.estadoMatricula}}</td>
                                                            <td data-title="VerNota" class="text-center">
                                                                 <a href="#" onclick="seeNota('{{data.idStudent}}', '{{data.nivelId}}', '{{data.gradoId}}', '{{data.paraleloId}}', '{{data.turnoId}}', '{{data.gestion}}', '{{data.sie}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                    {% if ((data.idObsTipo  == '1') or (data.idObsTipo  == '3') or (data.idObsTipo  == '4'))%}
                                                        <tr class = "warning">
                                                    {% else %}
                                                        {% if ((data.idObsTipo  == '2') or (data.idObsTipo  == '5')) and (data.obsActivo  == 'true') %}
                                                            <tr class = "danger">
                                                        {% else%}
                                                            <tr class = "success">
                                                        {% endif %}
                                                    {% endif %}
                                                            <td data-title="Rude">{{data.gestion}}</td>
                                                            <td data-title="Rude">{{data.sie}}</td>
                                                            <td data-title="Rude">{{data.institucioneducativa}}</td>
                                                            <td data-title="Nombre">{{ data.nivel|e }} </td>
                                                            <td data-title="Paterno">{{data.grado|e}}</td>
                                                            <td data-title="Materno">{{data.paralelo|e}}</td>
                                                            <td data-title="CI"> {{data.turno}} </td>
                                                            <td data-title="Est. Matricula" class="text-center">{{data.estadoMatricula}}</td>
                                                            {% if data.obsActivo  == '' %}
                                                                <td data-title="VerNota" class="text-center">
                                                                     <a href="#" onclick="seeNota('{{data.idStudent}}', '{{data.nivelId}}', '{{data.gradoId}}', '{{data.paraleloId}}', '{{data.turnoId}}', '{{data.gestion}}', '{{data.sie}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>
                                                                </td>
                                                            {% else%}
                                                                <td data-title="VerNota" class="text-center">
                                                                    <button type = "button" class = "btn btn-warning btn-sm" title = "{{data.ObsTipoDesc}}"
                                                                            data-container = "body" data-toggle = "popover" data-placement = "left"
                                                                            data-content = "{{data.Obs}}">
                                                                        i
                                                                    </button>

                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle glyphicon glyphicon-tasks text-left" data-toggle="dropdown" aria-haspopup="true">
                                                                            Acciones <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                                <li><a href="#" onclick="seeNota('{{data.idStudent}}', '{{data.nivelId}}', '{{data.gradoId}}', '{{data.paraleloId}}', '{{data.turnoId}}', '{{data.gestion}}', '{{data.sie}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a></li>
                                                                           {# {% if ( (app.session.get('roluser') == '8') or (app.session.get('roluser') == '7') or (app.session.get('roluser') == '10')) %}
                                                                                <li><a class="fa fa-undo text-left" href=" {{ path('sie_ue_inscripcion_observados_validar', { 'rude': datastudent.codigoRude, 'inscripcionid': data.inscripcionid }) }} "> Validar</a></li>
                                                                            {% endif %}#}
                                                                            {% if ( (app.session.get('roluser') == '8') or (app.session.get('roluser') == '7') or (app.session.get('roluser') == '10' )) %}
                                                                                {% if data.idObsTipo == '2' %} {#CAMBIO DE ESTADO #}
                                                                                    <li><a class="fa fa-plus-square text-left" href="{{ path('remove_inscription_student_free_result_param', { 'rude': datastudent.codigoRude, 'gestion': data.gestion }) }}"> Cambio de Estado</a></li>
                                                                                {% endif %}
                                                                                {% if data.idObsTipo == '5' %} {#ELIMINACION #}
                                                                                    <li><a class="fa fa-plus-square text-left" href="{{ path('remove_inscription_sie_result_quest', { 'rude': datastudent.codigoRude }) }}"> Eliminar</a></li>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <li><span class="label label-default">Consulte con su tecnico distrital</span></li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- en of the result of search history -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var seeNota = function (idstudent, nivel, grado, paralelo, turno, gestion, sie) {

            $('#myModalNotas').modal('show');
            $.ajax({
                type: 'get',
                url: Routing.generate('note_consultation_parents_sie_nota', {'idstudent': idstudent, 'nivel': nivel, 'grado': grado, 'paralelo': paralelo, 'turno': turno, 'gestion': gestion, 'sie': sie}),
                beforeSend: function () {
                    $("#idNotas").empty();
                    $("#idNotas").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" /></div>');
                },
                success: function (data) {
                    $("#idNotas").empty();
                    $("#idNotas").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
    </script>
{% endblock %}
