            <div class="row">
                <row>
                    {% if validado == 0 %}                   
                        {% for flashMessage in app.session.flashbag.get('validacionerror') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>¡Proceso detenido!</strong> {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for flashMessage in app.session.flashbag.get('autoselcorr') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                </row>
                <row>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="portlet portlet-blue">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h3 class="fa fa-info"> Información de Rude :{{studenta.codigoRude}}</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="fa fa-info"> Información Estudiante</h4>
                                    </div>    
                                    <div class="panel-body"> 
                                        <div class="row">                    
                                            <table class="table table-bordered table-hover cf">
                                                <thead class="cf">
                                                    <tr class="info">
                                                        <th class="text-center">Rude</th>
                                                        <th class="text-center">Nombre(s)</th>
                                                        <th class="text-center">Paterno</th>
                                                        <th class="text-center">Materno</th>
                                                        <th class="text-center">Carnet-Comp.</th>
                                                        <th class="text-center">Genero</th>
                                                        <th class="text-center">F. Nacimiento</th>
                                                        <th class="text-center">L. Nacimiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-title="Rude" id="rudea">{{studenta.codigoRude}}</td>
                                                        <td data-title="Nombre">{{ studenta.nombre|e }} </td>
                                                        <td data-title="Paterno">{{studenta.paterno|e}}</td>
                                                        <td data-title="Materno">{{studenta.materno|e}}</td>
                                                        <td data-title="Carnet">{{studenta.carnetIdentidad|e}}{% if studenta.complemento != null %}-{{studenta.complemento|e}} {% endif %}</td>
                                                        <td data-title="Genero" class="text-center">{{studenta.generoTipo}} </td>
                                                        <td data-title="F. Nacimiento" class="text-center">{{studenta.fechaNacimiento|date('d-m-Y')}}</td>
                                                        <td data-title="L. Nacimiento" class="text-center">{{studenta.localidadNac}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>                                           
                                    </div>
                                </div>

                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="fa fa-list"> Historial de Inscripciones</h4>
                                    </div>    
                                    <div class="panel-body">
                                        <div class="row">
                                            {% if dataInscriptionaR %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_regular.html.twig' with {'dataInscription': dataInscriptionaR} %}
                                            {% endif %}
                                            {% if dataInscriptionaA %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_alternativa.html.twig' with {'dataInscription': dataInscriptionaA} %}
                                            {% endif %}
                                            {% if dataInscriptionaE %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_especial.html.twig' with {'dataInscription': dataInscriptionaE} %}
                                            {% endif %}
                                            {% if dataInscriptionaP %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_pnp.html.twig' with {'dataInscription': dataInscriptionaP} %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">   
                                    <div class="col-ms-12">
                                        {% if validado == 1 %}                              
                                            <a role="button" class="btn btn-success btn-large glyphicon glyphicon-ok" href="#" onclick="unificarrudesvercorinc('{{studenta.codigoRude}}', '{{studentb.codigoRude}}')" > SELECCIONAR COMO RUDE CORRECTO</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>                                                 
                                                
                        </div>
                                                
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="portlet portlet-blue">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h3><i class="fa fa-info"> Información de Rude :{{studentb.codigoRude}}</i></h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="fa fa-info"> Informacion Estudiante</h4>
                                    </div>    
                                    <div class="panel-body"> 
                                        <div class="row">                    
                                            <table class="table table-bordered table-hover cf">
                                                <thead class="cf">
                                                    <tr class="info">
                                                        <th class="text-center">Rude</th>
                                                        <th class="text-center">Nombre(s)</th>
                                                        <th class="text-center">Paterno</th>
                                                        <th class="text-center">Materno</th>
                                                        <th class="text-center">Carnet-Comp.</th>
                                                        <th class="text-center">Genero</th>
                                                        <th class="text-center">F. Nacimiento</th>
                                                        <th class="text-center">L. Nacimiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-title="Rude" id="rudecor">{{studentb.codigoRude}}</td>
                                                        <td data-title="Nombre">{{ studentb.nombre|e }} </td>
                                                        <td data-title="Paterno">{{studentb.paterno|e}}</td>
                                                        <td data-title="Materno">{{studentb.materno|e}}</td>
                                                        <td data-title="Carnet">{{studentb.carnetIdentidad|e}}{% if studentb.complemento != null %}-{{studentb.complemento|e}} {% endif %}</td>
                                                        <td data-title="Genero" class="text-center">{{studentb.generoTipo}} </td>
                                                        <td data-title="F. Nacimiento" class="text-center">{{studentb.fechaNacimiento|date('d-m-Y')}}</td>                                                                                                                    
                                                        <td data-title="L. Nacimiento" class="text-center">{{studentb.localidadNac}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>                                            
                                    </div>
                                </div>

                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="fa fa-list"> Historial de Inscripciones</h4>
                                    </div>    
                                    <div class="panel-body">
                                        <div class="row">  
                                            {% if dataInscriptionbR %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_regular.html.twig' with {'dataInscription': dataInscriptionbR} %}
                                            {% endif %}
                                            {% if dataInscriptionbA %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_alternativa.html.twig' with {'dataInscription': dataInscriptionbA} %}
                                            {% endif %}
                                            {% if dataInscriptionbE %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_especial.html.twig' with {'dataInscription': dataInscriptionbE} %}
                                            {% endif %}
                                            {% if dataInscriptionbP %}
                                                {% include 'SieRegularBundle:NewHistoryInscription:historial_pnp.html.twig' with {'dataInscription': dataInscriptionbP} %}
                                            {% endif %}                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">    
                                    <div class="col-ms-12">
                                        {% if validado == 1 %}                              
                                            <a role="button" class="btn btn-success btn-large glyphicon glyphicon-ok" href="#" onclick="unificarrudesvercorinc('{{studentb.codigoRude}}', '{{studenta.codigoRude}}')" > SELECCIONAR COMO RUDE CORRECTO</a>
                                        {% endif %}                                             
                                    </div>
                                </div>
                            </div>
                        </div> 
                                    
                        </div>                                                
                        
                    </div>
                </row>          
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">                        
                            </div>                                                
                            <div class="col-xs-4">
                                <a role="button" class="btn btn-warning btn-large glyphicon glyphicon-remove-sign" href="{{ path('unificacion_index') }}"> VOLVER ATRAS</a> 
                            </div>
                            <div class="col-xs-4">                        
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>