{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Formación Técnica Tecnológica <span>Editar Paralelo</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Editar Turnos y Paralelos</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}
        
    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Paralelos y Turnos', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Edición'} %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel rounded shadow panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Editar Paralelo - {{carrera.nombre}}</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } )}}
                    <div class="row">
                        <div class="form-group col-lg3 col-md-3">
                            {{ form_label(form.periodo) }}
                            {{ form_widget(form.periodo) }}
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            {{ form_label(form.turno) }}
                            {{ form_widget(form.turno) }}
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            {{ form_label(form.materia) }}
                            {{ form_widget(form.materia) }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-1 col-md-1">
                            {{ form_label(form.paralelo) }}
                            {{ form_widget(form.paralelo) }}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-1 col-md-1">
                            {{ form_label(form.cupo) }}
                            {{ form_widget(form.cupo) }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            {{ form_widget(form.guardar ) }}
                            <a href="{{ path('dgesttla_carrera_paralelo') }}" class="btn btn-default">Cancelar</a>
                        </div>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}