{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        .higherWider {
            width:1024px;
            margin-top:100px;
        }
    </style>

{% endblock %}
{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Estudiante <span>Historial de inscripción</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Estudiante</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Historial</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notihistory') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-fw fa-warning"></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('goodhistory') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-fw fa-check-circle"></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="tabs-accordions.html#buscar1">BÚSQUEDA POR CÓDIGO RUDE</a></li>
                    <li><a data-toggle="tab" href="tabs-accordions.html#buscar2">BÚSQUEDA POR CARNET DE IDENTIDAD</a></li>
                </ul>
    
                <div id="myTabContent" class="tab-content">
                    <div id="buscar1" class="tab-pane fade in active">
                        <div class="panel panel-icon panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-search"></i> Búsqueda por Código RUDE
                            </div>
                            <div class="panel-body">
                                {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{form_label(form.codigoRudeHistory)}}
                                            {{form_widget(form.codigoRudeHistory)}}
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <input id="form_tipo" name="form[tipo]" type="hidden" value="0">
                                        <div class="col-md-12">{{form_widget(form.buscar0)}}</div>
                                    </div>
                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                    <div id="buscar2" class="tab-pane fade">
                        <div class="panel panel-icon panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-search"></i> Búsqueda por Carnet de Identidad
                            </div>
                            <div class="panel-body">
                                {{form_start(form1, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                                <div class="row">
                                    <div class="col-md-4">
                                        {{form_label(form1.carnetIdentidad)}}
                                        {{form_widget(form1.carnetIdentidad)}}
                                    </div>
                                    <div class="col-md-4">
                                        {{form_label(form1.complemento)}}
                                        {{form_widget(form1.complemento)}}
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <input id="form_tipo" name="form[tipo]" type="hidden" value="1">
                                    <div class="col-md-12">{{form_widget(form1.buscar1)}}</div>
                                </div>
                                {{form_end(form1)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if sw  %}
            {% include 'SieHerramientaAlternativaBundle:NewHistoryInscription:info_estudiante.html.twig' with {'datastudent': datastudent} %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-teal">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Historial de Inscripciones</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            {% if dataInscriptionA %}
                                {% include 'SieHerramientaAlternativaBundle:NewHistoryInscription:historial_alternativa.html.twig' with {'dataInscription': dataInscriptionA} %}
                            {% endif %}
                            {% if dataInscriptionR %}
                                {% include 'SieHerramientaAlternativaBundle:NewHistoryInscription:historial_regular.html.twig' with {'dataInscription': dataInscriptionR} %}
                            {% endif %}
                            {% if dataInscriptionE %}
                                {% include 'SieHerramientaAlternativaBundle:NewHistoryInscription:historial_especial.html.twig' with {'dataInscription': dataInscriptionE} %}
                            {% endif %}
                            {% if dataInscriptionP %}
                                {% include 'SieHerramientaAlternativaBundle:NewHistoryInscription:historial_pnp.html.twig' with {'dataInscription': dataInscriptionP} %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
    <div class="modal modal-flex fade" id="modalNotas" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog higherWider">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="flexModalLabel">Calificaciones</h4>

                </div>
                <div class="modal-body">
                    <div id="idNotas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var seeNotaNew = function (inscripcionid, estudianteid, gestion, subsistema) {
            $('#modalNotas').modal('show');
            $.ajax({
                type: 'get',
                url: Routing.generate('note_consultation_parents_sie_nota_new', {'inscripcionid': inscripcionid,'estudianteid': estudianteid, 'gestion': gestion, 'subsistema': subsistema}),
                beforeSend: function () {
                    $("#idNotas").empty();
                    $("#idNotas").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" /></div>');
                },
                success: function (data) {
                    $("#idNotas").empty();
                    $("#idNotas").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
    </script>
{% endblock %}