{% block contentoption %}
<div class="bs-example">
    <div class="row">
        <div class="col-lg-12" >
            <h4>Malla curricular</h4>
            <div id="mengestionmod"></div>
            <div id="listamodulos">
                {% if malla is not empty %}
                    {% for malla in malla %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">{{ malla.especialidad }} - {{ malla.acreditacion }} - {{ malla.cantidad }} </div>
                            <div class="panel-body">
                              <button type="button" class="btn btn-danger" onclick="nuevoModulo({{ malla.idsip }},{{ malla.idespecialidad }});" >Nuevo</button>
                                {% if (malla.modulo!='') %}


                                        <div>
                                            <div class="table-responsive col-md-12">
                                                <table class="table table-bordered table-striped" id="listaEsp">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center border-right">N°</th>
                                                        <th class="text-center border-right">Modulo</th>
                                                        <th class="text-center border-right">Horas</th>
                                                        <th class="text-center border-right">Operaciones</th>



                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {#{{ dump(malla.modulo |split(',')) }}#}
                                                    {% set foo = malla.modulo|split(',') %}
                                                    {% set horas = malla.horas|split(',') %}
                                                    {% set idmodulo = malla.idmodulo|split(',') %}
                                                    {% set idspm = malla.idspm|split(',') %}
                                                    {#{{ dump(foo) }}#}
                                                    {% for i in 0..foo|length-1 %}
                                                        <tr>
                                                            <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                                            <td data-title="Especialidad" class="text-center"> {{foo[i]}}</td>
                                                            <td data-title="Especialidad" class="text-center">{{ horas[i] }}</td>
                                                            <td data-title="Acciones" class="text-center">
                                                                {#<a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>#}
                                                                {#<button class="btn btn-lilac btn-xs btn-stroke" onclick="showEditCursoCorto();">#}
                                                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="editarModulo({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }});"><i class="fa fa-pencil"></i></a>
                                                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="eliminarModuloCL({{ idmodulo[i]}},{{ idspm[i]}},'{{ foo[i]}}',{{ horas[i]}},{{malla.idespecialidad }});"><i class="fa fa-times"></i></button>

                                                            </td>
                                                        </tr>
                                                    {% endfor %}


                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>


                                {% else %}

                                    No hay Modulos Registrados
                                {% endif %}
                            </div>
                            <div class="panel-footer"> </div>
                        </div>
                    {% endfor %}

                {% else %}

                    {% for mallaniv in mallaniv %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">{{ mallaniv.especialidad }} - {{ mallaniv.acreditacion }}</div>
                            <div class="panel-body">
                                <button type="button" class="btn btn-danger"  onclick="nuevoModulo({{ mallaniv.idsip }},{{ mallaniv.idespecialidad }});" >Nuevo</button>
                                No hay modulos Registrados
                            </div>
                            <div class="panel-footer"> </div>
                        </div>
                    {% endfor %}


                {% endif %}

            </div>
            <!-- /.portlet -->
        </div>
    </div>


</div>
{% endblock %}
{% block javascripts %}

    <script>
    var nuevoModulo= function (idsip,idesp) {
       // alert(idesp);
            $.ajax({
                type: 'post',
                url: "{{ path('permanente_show_modulo_nuevo') }}",
                data: ({idsip:idsip, idesp:idesp}),

                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();

                    $('#modal').append(data);
                    $('#modal').modal('show');
                },

                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };

    var editarModulo= function (idmodulo,idspm,modulo,horas,idesp) {
        $.ajax({
            type: 'post',
            url: "{{ path('permanente_show_modulo_edit') }}",
            data: ({idmodulo:idmodulo,idspm:idspm,modulo:modulo,horas:horas,idesp:idesp}),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').modal('show');
                $('#modal').append(data);

            },

            statusCode: {
                500: function () {
                },
                404: function () {
                }
            }
        });
    };

    var eliminarModuloCL= function (idmodulo,idspm,modulo,horas,idesp) {
       // alert('dsfasdfasd');
        $.ajax({
            type: 'post',
            url: "{{ path('permanente_show_modulo_delete') }}",
            data: ({idmodulo:idmodulo,idspm:idspm,modulo:modulo,horas:horas,idesp:idesp}),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $("#listamodulos").empty();
                $('#mengestionmod').empty();
            //    $('#mengestioncurso').empty();
                $("#listamodulos").append(data);
//                $('#modal').modal('show');
//                $('#modal').append(data);
            },
            error: function(data){
                $('#mengestionmod').empty();
                $('#mengestionmod').html("<div class='alert alert-warning alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>¡Proceso detenido!</strong> Si desea borrar el modulo antes debe eliminar lo siguiente:  modulo asignado al curso, participantes y notas.</div>");
                //window.location.href =  Routing.generate('herramienta_per_cursos_cortos_index');
            }
        });
    };




    </script>

{%endblock%}