{% set onlyview = app.session.get('onlyview') %}
{% if exist == true %}
    <small>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noinscription') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('goodinscription') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="header-content">
            <h4><i class="glyphicon glyphicon-list-alt"></i> {{areaEspecial}}: {{turnoname}} / {{nivelname}} / {{gradoname}} / {{paraleloname}}</h4>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Lista de inscritos</h5>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% if onlyview == false and gestion >= app.session.get('currentyear') and app.session.get('roluser') == 9 and operativo_fin == false %}
                        <button type="button" class="btn btn-md btn-facebook" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsRude('{{infoUe}}');" >
                            <i class="fa fa-user"></i> Inscripción
                        </button>
                        {% endif %}
                            {% if onlyview == false and operativo_fin == false and gestion >= app.session.get('currentyear') and (app.session.get('roluser') == 7 or app.session.get('roluser') == 8 or app.session.get('roluser') == 10) %}
                                <button type="button" class="btn btn-inverse btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" data-backdrop="static" onclick="doInscriptions('{{infoUe}}');" >

                                    <i class="fa fa-user"></i> Inscripción sin RUDE
                                </button>
                            {% endif %}                        
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div id="no-more-tables" class="col-md-12 table-responsive">
                        <table class="table table-bordered table-hover cf">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>CÓDIGO RUDE</th>
                                    <th>C.I.</th>
                                    <th>PATERNO</th>
                                    <th>MATERNO</th>
                                    <th>NOMBRE(S)</th>
                                    <th>FECHA NAC.</th>
                                    <th>Obs. SEGIP</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set objInfoStudent = [] %}
                            {% for data in objStudents %}
                                {% set items = {
                                    'id': data.id,
                                    'carnetIdentidad': data.carnetIdentidad,
                                    'codigoRude': data.codigoRude,
                                    'paterno': '',
                                    'materno': '',
                                    'nombre': '',
                                    'fechaNacimiento': data.fechaNacimiento,
                                } %}
                                {% set jsnInfoStudent = items|json_encode() %}
                                {# set the array student info and convert on json string #}
                                {# set objInfoStudent = objInfoStudent|merge(data) #}
                                {# set jsnInfoStudent = objInfoStudent|json_encode() #}
                                <tr {% if data.segipId == 0 %}class="text-danger"{% endif %} id="trEstudianteSegip_{{data.codigoRude}}">
                                    <td>{{loop.index}}</td>
                                    <td>{{data.codigoRude}}</td>
                                    <td>{{data.carnetIdentidad}}{% if data.complemento %}-{{data.complemento}}{% endif %}</td>
                                    <td>{{data.paterno}}</td>
                                    <td>{{data.materno}}</td>
                                    <td>{{data.nombre}}</td>
                                    <td>{{data.fechaNacimiento|date('d-m-Y')}}</td>
                                    <td class="text-center">
                                        {# VALIDACIÓN SEGIP #}
                                        <div id="estudianteSegip_{{data.codigoRude}}">
                                            {% if data.segipId == 1 %}
                                                <span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Válido SEGIP</span>
                                            {% elseif data.segipId == 0 and data.carnetIdentidad %}
                                                <form action="{{path('herramienta_info_estudiante_validar_segip')}}" method="post">
                                                    <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{data.codigoRude}}">
                                                    <button type="button" class="btn btn-link text-danger" onclick="validarEstudianteSegip('{{data.codigoRude}}');"><i class="fa fa-fw fa-edit"></i> Validar con SEGIP</button>
                                                </form>
                                            {% else %}
                                                <span class="badge badge-info"><i class="fa fa-fw fa-info"></i> No cuenta con C.I.</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        {% if onlyview == false and areaEspecial in ['Intelectual','Auditiva','Visual'] and gestion == 2020 and operativo_fin == false %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                                <button type="button" class="btn btn-circle btn-facebook" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getNotas({{data.estInsEspId}});" >
                                                    <i class="fa fa-list"></i>
                                                </button>
                                            </div>
                                        {% endif %}
                                        {% if onlyview == false and gestion == app.session.get('currentyear') and gestion >= 2020 and operativo_fin == false %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Eliminar Inscripción">
                                                <button type="button" class="btn btn-circle btn-danger" data-toggle="" data-target="" onclick="removeInscriptionSpecial('{{infoUe}}',{{data.estInsEspId}},{{data.estInsId}});" >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        {% endif %}
                                        {# APODERADO BONO FAMILIA #}
                                        {# {% if gestion == 2020 and true %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Apoderado Bono Familia">
                                                <button type="button" class="btn btn-circle btn-facebook" data-toggle="modal" data-target=".bs-example-modal-table" onclick="apoderadoBonoFamilia({{data.estInsId}});" >
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                        {% endif %} #}
                                        {# CERTIFICADO DE DISCAPACIDAD #}
                                        {# {% if data.segipId == 1 %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Certificado de Discapacidad">
                                            <button type="button" class="btn btn-circle btn-warning" data-toggle="modal" data-target=".bs-example-modal-table" onclick="certificadoDiscapacidad({{data.id}});" >
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        {% endif %} #}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </small>
    <!-- /.row -->
{% else %}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
    
    var apoderadoBonoFamilia = function (idInscripcion) {

        $.ajax({
            type: 'post',
            data: ({idInscripcion: idInscripcion}),
            url: "{{ path('apoderado_bono_familia_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content text-center" style="padding:20px;"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd-mm-yyyy',
                    language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getNotas = function (idInscripcionEspecial) {
        $.ajax({
            type: 'post',
            data: ({idInscripcionEspecial: idInscripcionEspecial}),
            url: "{{ path('especialInfoNotas') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var socioeconomico = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('estudianteSocioeconomico_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd-mm-yyyy',
                    language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var registerEspecialidad = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_info_register_speciality_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };
    var saveSpeciality = function (infoUe, infoStudent) {
        var  specialityForm = $('#specialityFormId').serialize();
        var specialityId = $('#form_especialidad').val();
        var horas = $('#form_horas').val();
        var eInsId = $('#form_eInsId').val();

        $('#modal').modal('hide');
            $.ajax({
                type: 'post',
                url: Routing.generate('herramienta_info_register_speciality_save'),
                data: ({specialityId: specialityId, horas: horas, eInsId: eInsId}),
                beforeSend: function () {
                $('#modal').empty();
                },
                success: function (data) {
                $('#modal').empty();
                //$('#modal').append(data);
                //location.reload(true);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }


    var onlyNumber = function (event) {

        var key = window.event ? event.keyCode : event.which;

        if (key > 31 && (key < 48 || key > 57) && key != 47) {
            $('#noNumber').text(" Campo permitido solo para números ");
            $("#form_registrar").attr("disabled", true);
            return false;
        }
        else {
            $('#noNumber').text(" ");
            $("#form_registrar").removeAttr("disabled");
            return true;
        }
    }
    ;


    var changeMatricula = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: Routing.generate('herramienta_changeMatricula_index'),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var validarEstudianteSegip = function(codigoRude){
        if(confirm('Está a punto de validar con SEGIP el registro observado. ¿Desea continuar?')) {
            $.ajax({
                type: 'post',
                data: ({codigoRude: codigoRude}),
                url: "{{path('herramienta_info_estudiante_validar_segip')}}",
                beforeSend: function () {
                    $('#estudianteSegip_'+codigoRude).empty();
                    $('#estudianteSegip_'+codigoRude).html('Cargando...');
                },
                success: function (data) {
                    $('#estudianteSegip_'+codigoRude).empty();
                    if(data.estado){
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-success');
                        $('#estudianteSegip_'+codigoRude).html('<span class="badge badge-success"><i class="fa fa-fw fa-check"></i> '+data.mensaje+'</span>');
                    } else {
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-warning');
                        $('#estudianteSegip_'+codigoRude).html('<span>'+data.mensaje+'</span>');
                    }
                },
                statusCode: {
                    500: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');                        
                    },
                    404: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');
                    }
                }
            });
        }
    };

    var certificadoDiscapacidad = function (idEstudiante) {
        $.ajax({
            type: 'post',
            data: ({idEstudiante: idEstudiante}),
            url: "{{ path('herramienta_info_estudiante_certificado_discapacidad') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content text-center" style="padding:20px;"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

</script>
