{% set onlyview = app.session.get('onlyview') %}
{% if exist == true %}
    <small>
      <div class="row">
          <div class="col-md-12">
              {% for flashMessage in app.session.flashbag.get('noinscription') %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><i class='fa fa-linux'></i></strong> {{ flashMessage| raw }}
                  </div>
              {% endfor %}

          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              {% for flashMessage in app.session.flashbag.get('goodinscription') %}
                  <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                  </div>
              {% endfor %}

          </div>
      </div>
        <div class="row">
          {#<div class="col-md-4">
                <a class="btn btn-block btn-facebook" href="{{path('donwload_listStudentPerCourse', {'ue': sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno } )}}">
                  <i class="fa fa-download"></i> Listado de Estudiantes del Curso
                </a>
          </div>
          <div class="col-md-4">
                <a class="btn btn-block btn-linkedin" href="{{path('donwload_boletinPromoPerUe', {'ue': sie, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'gestion': gestion, 'ciclo':ciclo, 'itemsUe':itemsUe } )}}">
                  <i class="fa fa-download"></i> Boletin Centralizador
                </a>
          </div>#}
          <div class="col-md-12 text-center">
            {% set cupos = funciones.getCantidadEstudiantes(infoUe,objStudents) %}
            {% if onlyview == false and gestion >= app.session.get('currentyear') - 1 %}
              <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsRude('{{infoUe}}','{{cupos.cupo}}','{{cupos.msg}}');" >
                <i class="fa fa-user"></i> Inscripción
              </button>
            {% endif %}
            
          </div>
          <!--div class="col-md-3" >
            {% if app.session.get('ue_modular') and nivel >= 13 %}
            {% else %}
            <button type="button" class="btn btn-danger btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsWithOutRude('{{infoUe}}');" >
              <i class="fa fa-user-plus"></i> Inscrip. sin Rude
            </button>
            {% endif %}
          </div-->
      </div>
    <br />
        <div class="row">
            <div class="col-lg-12">
                <div id="no-more-tables">
                    <div class="row">

                    </div>

                    <table class="table table-bordered table-hover cf">
                        <tr>
                        <input type="hidden" id="formdata_data" name="formdata[data]" value="{{aData}}">
                        <td align="center" class="warning" colspan="4">Estudiantes Inscritos</br>
                            {{ueducativaInfo.turno}} - {{ueducativaInfo.areaEspecial}} - {{ueducativaInfo.nivel}} - {% if nivel not in [410,411] %} {{ueducativaInfo.grado}} {% endif %} {% if nivel == 410 %} {{ueducativaInfo.servicio}} {% endif %} {% if nivel == 411 %} {{ueducativaInfo.programa}} {% endif %} - {{ueducativaInfo.paralelo}}
                            {% if ueducativaInfo.iecLugar %} </br> {{ueducativaInfo.iecLugar}} {% endif %}
                            {% if ueducativaInfo.momento !='No aplica' %} </br> ({{ueducativaInfo.momento}}) {% endif %}
                        </td>
                        <td>Opciones</td>

                        </tr>
                        {#init the array info student #}
                        {% set objInfoStudent = [] %}
                        {% for data in objStudents %}
                            {% set items = {

                                          'id': data.id,
                                          'carnetIdentidad': data.carnetIdentidad,
                                          'codigoRude': data.codigoRude,
                                          'paterno': '',
                                          'materno': '',
                                          'nombre': '',
                                          'fechaNacimiento': data.fechaNacimiento,
                                          'eInsId': data.eInsId,
                                          } %}
                                          
                            {% set jsnInfoStudent = items|json_encode() %}
                            {# set the array student info and convert on json string #}
                            {# set objInfoStudent = objInfoStudent|merge(data) #}
                            {# set jsnInfoStudent = objInfoStudent|json_encode() #}
                            <tr >
                                <td>{{loop.index}}</td>
                                <td>{{data.codigoRude}}</td>
                                <td>{{data.paterno}} {{data.materno}} {{data.nombre}} </td>
                                {% if (data.estadomatriculaId != 6 and data.estadomatriculaId != 10 )%}
                                    <td>
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Cambiar estado">
                                            <button type="submit" class="btn btn-lilac btn-xs btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="getEstadosMatricula('{{infoUe}}',{{data.estInsId}},{{arrDataLibreta.libreta}});">
                                                {{data.estadomatricula}}
                                            </button>
                                        </div>    
                                    </td>
                                {% else %}
                                    <td>{{data.estadomatricula}}</td>
                                {% endif %}
                                <td>
                                
                                    {# {% if 1==1 %} #} {# onlyview == false  para que se vea el modulo de calificaciones  #}
                                    {% if onlyview == false and gestion >= app.session.get('currentyear') - 1 and arrDataLibreta.calificaciones == true and operativo >= 0 and  data.estadomatriculaId != 10 and data.estadomatriculaId != 6  %}
                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                        <button type="button" class="btn btn-circle btn-danger " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getNotas({{data.estInsEspId}},'{{infoUe}}');" >
                                           <i class="fa fa-list"></i>
                                        </button>
                                    </div>
                                    {% else %}.
                                    {% endif %}
                                            
                                    {% if onlyview == false and gestion >= app.session.get('currentyear') - 1 and operativo >= 0 and arrDataLibreta.libreta == true and data.estadomatriculaId != 10 and data.estadomatriculaId != 6 %}
                                    {# HASTA QUE APRUEBN LAS LIBRETAS CON RESOLUCION #}
                                         
                                        {% if arrDataLibreta.areaEspecialId == 2 and programa in [7,8,25,26] %}
                                        
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Imprimir Libreta">
                                                <button type="button" class="btn btn-circle btn-lilac " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getLibretasVisual('{{infoUe}}', '{{data|json_encode()}}');" >
                                                    <i class="fa fa-archive" style="color:#FFFFFF"></i>
                                                </button>
                                            </div>
                                        {% else %}
                                            <form action="{{path('especialDownload_libreta', {'infoUe': infoUe, 'infoStudent':data|json_encode() } )}}" method="post" style="display:inline-block">
                                                <button type="submit" class="btn btn-circle btn-lilac tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Imprimir Libreta">
                                                    <i class="fa fa-archive" style="color:#FFFFFF"></i>
                                                </button>
                                            </form>
                                        {% endif %}    
                                        
                                    {% endif %}
                                    {#
                                     
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="RUDE ES">
                                            <button type="button" class="btn btn-circle btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick="rudeNuevo('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </div> 
                                    
                                         <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Ver Formulario Rude ">
                                            <a class="btn btn-circle btn-lilac" target="_blank" href="{{path('downloadRudeEspecial', {'rude': data.codigoRude, 'codue':sie, 'gestion': gestion, 'eins':data.eInsId} )}}">
                                                <i class="fa fa-file" style="color:#FFFFFF"></i>
                                            </a>
                                        </div>
                                      
                                        
                                        
                                      
                                     
                                    {#
                                        {% if arrDataLibreta.bono %}  Solo hasta el 24 de enero 2022 
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registre Apoderado">
                                                    <button type="button" class="btn btn-circle btn-facebook" data-toggle="modal" data-target=".bs-example-modal-table" onclick="RegisterParents({{data.eInsId}});" >
                                                        <i class="fa fa-user"></i>
                                                    </button>
                                                </div>    
                                        {% endif  %}  
                                    #}
                                    {# % if onlyview == false and (gestion == app.session.get('currentyear') ) %}  {#Solo hasta el 24 de enero 2022 
                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Eliminar Inscripción">
                                        <button type="button" class="btn btn-circle btn-warning " data-toggle="" data-target="" onclick="removeInscriptionSpecial('{{infoUe}}',{{data.estInsEspId}},{{data.estInsId}});" >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                     endif %#}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.portlet -->
            </div>
        </div>
    </small>
    <!-- /.row -->
{% else %}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
    var getNotas = function (idInscripcionEspecial,infoUe) {
        $.ajax({
            type: 'post',
            data: ({idInscripcionEspecial: idInscripcionEspecial, infoUe: infoUe}),
            url: "{{ path('especialInfoNotas') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getLibretasVisual = function (infoUe,infoStudent) {
        //alert(infoUe);
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('especial_etapas_visual') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getEstadosMatricula = function (infoUe,estInsId,eslibreta) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, estInsId: estInsId, eslibreta: eslibreta}),
            url: "{{ path('info_students_cambiar_estado_matricula') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var socioeconomico = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('estudianteSocioeconomico_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var registerEspecialidad = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_info_register_speciality_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };
    var saveSpeciality = function (infoUe, infoStudent) {
        var  specialityForm = $('#specialityFormId').serialize();
        var specialityId = $('#form_especialidad').val();
        var horas = $('#form_horas').val();
        var eInsId = $('#form_eInsId').val();

           $('#modal').modal('hide');
             $.ajax({
                 type: 'post',
                 url: Routing.generate('herramienta_info_register_speciality_save'),
                 data: ({specialityId: specialityId, horas: horas, eInsId: eInsId}),
                 beforeSend: function () {
                   $('#modal').empty();
                 },
                 success: function (data) {
                   $('#modal').empty();
                   //$('#modal').append(data);
                   //location.reload(true);
                 },
                 statusCode: {
                     500: function () {

                     },
                     404: function () {

                     }
                 }
             });
         }


    var onlyNumber = function (event) {

        var key = window.event ? event.keyCode : event.which;

        if (key > 31 && (key < 48 || key > 57) && key != 47) {
            $('#noNumber').text(" Campo permitido solo para números ");
            $("#form_registrar").attr("disabled", true);
            return false;
        }
        else {
            $('#noNumber').text(" ");
            $("#form_registrar").removeAttr("disabled");
            return true;
        }
    }
    ;


    var changeMatricula = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: Routing.generate('herramienta_changeMatricula_index'),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };
    
    var rudeNuevo = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('info_estudiante_rudees_nuevo_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                $('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


</script>
