<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center border-right">No.</th>
                <th>Código</th>
                <th>Área</th>
                <th>Maestro(s)</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for co in areas.cursoOferta %}
                <tr>
                    <td class="text-center border-right">{{loop.index}}</td>
                    <td>{{co.idAsignatura}}</td>
                    <td>{{co.asignatura}}</td>
                    <td>
                        <button class="btn" onclick="addpop({{co.id}})"><i class="fa fa-users text-lilac"></i></button>
                        <div class="arrow-before" style="display:none; margin-left:10px;" id="before{{co.id}}"></div><div class="arrow-after" style="display:none;margin-left:10px;" id="after{{co.id}}"></div>
                        <div id="{{co.id}}" style="display:none; position:absolute; z-index:5; width:500px; margin-left:-350px; border:2px solid #906094; box-shadow: 7px 7px 4px #929292;" class="divMaestros">
                        </div>
                    </td>
                    <td>
                        {% if co.idAsignatura in areas.posiblesEliminar %}
                            <button onclick="deleteArea({{co.id}},new String('{{co.asignatura}}'))" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></button>            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    
</script>