    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Agregar Vivienda dfadf</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

    		
    		{{form_start(form, { 'attr':{'id':'idFormh6NewVivienda'} })}}
                <div class="form-body"> 

                    <div class="form-group">
					<label>1.1 Descripcion de vivienda de maestros</label>
						<table class="table">
						    <tr>
						      <td class="text-center">Nro. de ambientes</td>
						      <td class="text-center">Nro. de habitantes</td>
						      <td class="text-center">Nro. de Baños</td>
						      <td class="text-center">Nro. de Duchas</td>
						      <td class="text-center">Nro. de Cocinas</td>
						      <td class="text-center">&Aacute;rea</td>
						      <td class="text-center">Estado</td>
						    </tr>
						    <tr>
						      <td class="text-center" >{{form_widget(form.n21NumeroAmbientes, {'attr': {'class':'form-control'} } )}}</th>
						      <td class="text-center">{{form_widget(form.n21NumeroHabitantes, {'attr': {'class':'form-control'} } )}}</td>
						     <td class="text-center">{{form_widget(form.n21NumeroBanios, {'attr': {'class':'form-control'} } )}}</td>
						     <td class="text-center">{{form_widget(form.n21NumeroDuchas, {'attr': {'class':'form-control'} } )}}</td>
						     <td class="text-center">{{form_widget(form.n21NumeroCocinas, {'attr': {'class':'form-control'} } )}}</td>
						     <td class="text-center">{{form_widget(form.n21MetrosArea, {'attr': {'class':'form-control'} } )}}</td>
						     <td class="text-center">{{form_widget(form.estadoTipo, {'attr': {'class':'form-control'} } )}}</td>
						     
						    </tr>
						</table>
					</div>

					<div class="form-group">
						<label>1.2 Estado de la vivienda de maestros</label>
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene cielo falso:</td>
						      <td class="text-center">Caracteristicas</td>
						      <td class="text-center">Tiene muros</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n21EsAmbienteCieloFal, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n21AmbienteCieloFalTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21EsAmbienteMuros, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbienteMuroMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbienteMuroCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>

					<div class="form-group">
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene puertas:</td>
						      <td class="text-center">Seguro</td>
						      <td class="text-center">Se Abre</td>
						      <td class="text-center">Tiene revestimiento</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n21EsAmbientePuerta, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n211SeguroTipo, {'attr': {'class':'form-control'} } )}}</th>
						      <td class="text-center">{{form_widget(form.n212AbreTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21EsAmbienteRevestimiento, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbienteRevestMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbienteRevestCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>

					<div class="form-group">
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene ventana(s):</td>
						      <td class="text-center">Caracteristicas</td>
						      <td class="text-center">Tiene piso</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n21EsAmbienteVentana, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n21AmbienteVentanaTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21EsAmbientePiso, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbientePisoMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n21AmbientePisoCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>

					<div class="form-group">
						
						<table class="table">
						    <tr>
						      <td>Tiene Techo:</td>
						    </tr>
						    <tr>
						      <td class="text-left" >{{form_widget(form.n21EsAmbienteTecho, {'attr': {'class':''} } )}}</th>
						    </tr>
						</table>
					</div>

                </div>
                  
            {{form_end(form)}}



    		</div>
	        </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	            <button type="button" class="btn btn-theme" data-dismiss="modal" onclick='saveNewh6Vivienda()'>Guardar</button>
	        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

