{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-user-secret"></i> Datos del personal administrativo <span> Datos personales, cargo, financiamiento, idiomas.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                    <li>
                        <i class="glyphicon glyphicon-leaf"></i>
                            <a href="{{path('principal_web')}}">Bienvenida</a>
                        <i class="fa fa-angle-right"></i>
                    </li>                    
                    <li>
                        <i class="fa fa-th-large"></i>
                            <a href="{{path('herramienta_ceducativa_menu_principal')}}">Menu Principal</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <i class="fa fa-user-secret-secret"></i>
                            <a href="{{path('herramientalt_info_personal_adm_index')}}">Personal administrativo</a>
                        <i class="fa fa-angle-right"></i>
                    <li>    
                    <li>
                        <i class="fa fa-user-secret"></i>
                            Buscar personas
                        <i class="fa fa-angle-right"></i>
                    </li>                
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>

    <div class="body-content animated fadeIn">
           <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-danger">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Buscar Persona</h3>
                        </div>
                        <div class="pull-right">

                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel-body panel-primary">
                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form', 'onsubmit': 'return validarDatos()'} } )}}
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <input type="text" class="form-control" name="form[carnet]" id="form_carnet" placeholder="Carnet" maxlength="10" required>
                                    </div>
                                    <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input type="text" class="form-control" name="form[complemento]" id="form_complemento" placeholder="Complemento">
                                    </div>
                                    <!--div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <input type="text" class="form-control" name="form[fechaNac]" id="form_fechaNac" placeholder="Fecha de Nacimiento" required>
                                    </div-->
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_widget(form.buscar ) }}
                                        <a href="{{ path('herramientalt_info_personal_adm_index') }}" class="btn btn-default">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="datosPersonas"></div>
            </div>
        </div>
    </div> 

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $("#form_fechaNac").inputmask({ "alias": "dd-mm-yyyy" });
        $("#form_complemento").inputmask({mask: "**"});
        $("#form_carnet").numeric("positiveInteger");

        function validarDatos() {
            var carnet = $('#form_carnet').val();
            var fechaNac = $('#form_fechaNac').val();
            if(carnet == '' || fechaNac == ''){
                alert('Debe ingresar los datos requeridos: Carnet, Fecha de Nacimiento');
                return false;
            }
            return true;
        }
    </script>
{% endblock %}