{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Aceleración Educativa <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index')}}">Trámites</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Supletorio</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Acta Supletorio</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="registro" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="rude">Código Rude</label>
                                        <input type="text" class="form-control noedit" id="rude" name="rude" value="{{ rude }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Nombre del Estudiante</label>
                                        <input type="text" class="form-control noedit" id="nombre" name="nombre" value="{{ estudiante }}" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="procede_aceleracion">¿Procede Aceleración?</label>
                                                <input type="text" class="form-control noedit" id="procede_aceleracion" name="procede_aceleracion" value="{{ procede_aceleracion }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="grado_cantidad">Grados a Acelerar</label>
                                                <input type="text" class="form-control numeric" id="grado_cantidad" name="grado_cantidad" value="{{ grado_cantidad }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <!-- <input type="hidden" id="estudiante_id" name="estudiante_id">
                                    <input type="hidden" id="estudiante_ins_id" name="estudiante_ins_id"> -->
                                    <input type="hidden" id="tramite_id" name="tramite_id" value="{{ tramite_id }}">
                                    <div class="form-group">
                                        <label for="informe">Informe Psicopedagógico</label>
                                        <input type="hidden" class="form-control" id="informe" name="informe" value="{{ informe }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ informe )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="solicitud_tutor">Solicitud del Padre/Madre/Tutor</label>
                                        <input type="hidden" class="form-control" id="solicitud_tutor" name="solicitud_tutor" value="{{ solicitud_tutor }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ solicitud_tutor )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="informe_comision">Informe Comisión Pedagógica</label>
                                        <input type="hidden" class="form-control" id="informe_comision" name="informe_comision" value="{{ informe_comision }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ informe_comision )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                </div>                                
                            </div>
                            <hr>                            
                            <h5 class="float-left"><b class="text-danger">Nota:</b> LLenar las notas de manera coherente.</h5>
                            <div class="row">
                                    <div class="col-md-12">
                                        Formulario para cargar notas
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary" id="guardar">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="tramite_st" value="0">
                    <div id="envio"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="guardar" onclick="sendTramite()">Aceptar</button>
                    <button type="button" class="btn btn-default" onclick="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            $("#envio").html('<h5>¿Está seguro(a) de iniciar el trámite con la información ingresada?</h5>');
            $('.myfiles').change(function() {
                if(this.files[0].size > 2057157) {
                    $(this).val('');
                    $(this).css('background', '#ffebee');
                } else {
                    $(this).css('background', '#ffffff');
                }
            });
            $(".numeric").keypress(function (e) {
                if (String.fromCharCode(e.keyCode).match(/[^0-5]/g)) return false;
            });
        });
        $('.noedit').keydown(function() {
            return false;
        });
        $("#fecha_solicitud").datepicker({ autoclose: true, todayHighlight: true, defaultDate: "+1w", minDate: 0 });
        $('#rude').keypress(function (event) {
            if (event.keyCode === 10 || event.keyCode === 13) {
                event.preventDefault();
                searchEstudiante();
            }
        });
        function searchClick() {
            searchEstudiante();
        }
        function searchEstudiante() {
            var rude = $('#rude').val();
            if (rude != "") {
                $("#buscar").attr('disabled', true);
                $.ajax({
                    type: 'post',
                    url: Routing.generate('tramite_acelera_search'),
                    data: {'rude': rude, 'flujotipo_id': $('#flujotipo_id').val()},
                    beforeSend: function () {
                        $("#carga").empty();
                        $("#carga").append('<div class="text-center">Buscando... <img src="{{asset('img/loading.gif')}}" /></div>');
                        clearInput();
                    },
                    success: function (data) {
                        $("#carga").empty();
                        if (data.msg == 'exito') {
                            $("#nombre").val(data.estudiante.nombre);
                            $("#paterno").val(data.estudiante.paterno);
                            $("#materno").val(data.estudiante.materno);
                            $("#cedula").val(data.estudiante.cedula);
                            $("#complemento").val(data.estudiante.complemento);
                            var fechanacimiento = data.estudiante.fecha_nacimiento.date.length>0?data.estudiante.fecha_nacimiento.date.substring(0, 10):'';
                            if (fechanacimiento != '') {
                                fechanacimiento = fechanacimiento.split('-').reverse().join('/');
                            }
                            $("#fecha_nacimiento").val(fechanacimiento);
                            $("#institucion_educativa").val(data.estudiante.institucion_educativa);
                            $("#estudiante_id").val(data.estudiante.estudiante_id);
                            $("#tipo_talento").val(data.estudiante.tipo_talento);
                            $("#puede_acelerar").val(data.estudiante.puede_acelerar);
                            $("#estudiante_ins_id").val(data.estudiante.estudiante_ins_id);
                        } else if (data.msg == 'nocurso') {
                            mesage('warning', 'Notificación', 'Estudiante no está inscrito en la gestión actual.', true, 0);
                        } else if (data.msg == 'notalento') {
                            mesage('warning', 'Notificación', 'Estudiante no está determinado como talento extraordinario.', true, 0);
                        } else if (data.msg == 'noins') {
                            mesage('warning', 'Notificación', 'Estudiante no está inscrito.', true, 0);
                        } else if (data.msg == 'noest') {
                            mesage('warning', 'Notificación', 'El estudiante no existe.', true, 0);
                        } else if (data.msg == 'existe') {
                            mesage('warning', 'Notificación', 'El estudiante ya solicitó con anterioridad.', false, 0);
                        }
                        $("#buscar").attr('disabled', false);
                    },
                    error: function (error) {
                        $("#buscar").attr('disabled', false);
                    }
                });
            } else {
                $("#carga").empty();
                mesage('info', 'Alerta', 'Ingrese código RUDE del estudiante', false, 0);
                $('#rude').focus();
            }
        }

        function mesage(tipo, titulo, msg, estado, flag) {
            if(flag == 0) {
                $("#carga").append('<div class="alert alert-'+ tipo +' alert-dismissible" role="alert">\n' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\n' +
                    '<strong>'+ titulo +'</strong> '+ msg +' </div>');
            } else {
                $("#envio").append('<div class="alert alert-'+ tipo +' alert-dismissible" role="alert">\n' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\n' +
                    '<strong>'+ titulo +'</strong> '+ msg +' </div>');
            }
            if (estado == true) {
                setTimeout(function () { $("#carga").empty(); $("#envio").empty(); }, 3500);
            }
        }

        function clearInput() {
            $("#nombre").val('');
            $("#paterno").val('');
            $("#materno").val('');
            $("#cedula").val('');
            $("#complemento").val('');
            $("#fecha_nacimiento").val('');
            $("#institucion_educativa").val('');
            $("#estudiante_id").val('');
            $("#estudiante_ins_id").val('');
            $("#tipo_talento").val('');
            $("#puede_acelerar").val('');
            
            $("#solicitud_tutor").val('');
            $("#informe_comision").val('');
            $("#grado_cantidad").val('');
            $("#procede_aceleracion").val('');
            $("#fecha_solicitud").val('');
            $("#informe").text('');
        }

        $("#registro").submit(function (event) {
            event.preventDefault();
            $("#tramite_st").val(0);
            $("#guardar").attr('disabled', false);
            $("#modalConfirm").modal('show');
        });

        function sendTramite() {
            $("#guardar").attr('disabled', true);
            var fd = new FormData();
            fd.append('estudiante_id', $("#estudiante_id").val());
            fd.append('estudiante_ins_id', $("#estudiante_ins_id").val());
            fd.append('flujotipo_id', $("#flujotipo_id").val());
            fd.append('institucioneducativa_id', $("#institucioneducativa_id").val());
            fd.append('fecha_solicitud', $("#fecha_solicitud").val());
            var docsol = document.getElementById('solicitud_tutor');
            {# fd.append('solicitud_tutor', docsol.files[0]); #}
            var doccom = document.getElementById('informe_comision');
            {# fd.append('informe_comision', doccom.files[0]); #}

            fd.append("documento[]", docsol.files[0]);
            fd.append("documento[]", doccom.files[0]);

            fd.append('grado_cantidad', $("#grado_cantidad").val());
            fd.append('procede_aceleracion', $("#procede_aceleracion").val());
            $.ajax({
                type: 'post',
                url: Routing.generate('tramite_acelera_save'),
                data: fd,
                mimeType:"multipart/form-data",
                contentType: false,
                cache: false,
                processData:false,
                dataType: 'json',
                beforeSend: function () {
                    $("#envio").html('<div class="text-center">Guardando... <img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#guardar").attr('disabled', false);
                    $("#envio").empty();
                    if (data.estado == 200) {
                        clearInput();
                        $("#tramite_st").val(1);
                        mesage('info', 'Notificación', data.msg, false, 1);
                        //location.href = "{{ path('wf_tramite_index') }}";
                    } else {
                        mesage('danger', 'Alerta', data.msg, false, 1);
                    }
                },
                error: function (error) {
                    $("#guardar").attr('disabled', false);
                }
            });
        }

        function closeModal() {
            $("#modalConfirm").modal('hide');
            if ($("#tramite_st").val() == 1) {
                location.href = "{{ path('wf_tramite_index') }}";
            }
        }
    </script>
{% endblock %}