{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Aceleración Educativa <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index', {'tipo':1})}}">Trámites</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Supletorio</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Acta Supletorio</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="form_supletorio" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="rude">Código RUDE</label>
                                        <input type="text" class="form-control noedit" id="rude" name="rude" value="{{ rude }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Nombre del Estudiante</label>
                                        <input type="text" class="form-control noedit" id="nombre" name="nombre" value="{{ estudiante }}" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="procede_aceleracion">¿Procede Aceleración?</label>
                                                <input type="text" class="form-control noedit" id="procede_aceleracion" name="procede_aceleracion" value="{{ procede_aceleracion }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="grado_cantidad">Grados a Acelerar</label>
                                                <input type="text" class="form-control numeric" id="grado_cantidad" name="grado_cantidad" value="{{ grado_cantidad }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <input type="hidden" id="tramite_id" name="tramite_id" value="{{ tramite_id }}">
                                    <input type="hidden" id="institucioneducativa_id" name="institucioneducativa_id" value="{{ institucioneducativa_id }}">
                                    <div class="form-group">
                                        <label for="informe">Informe Psicopedagógico</label>
                                        <input type="hidden" class="form-control" id="informe" name="informe" value="{{ informe }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/talento/'~ informe )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="solicitud_tutor">Solicitud del Padre/Madre/Tutor</label>
                                        <input type="hidden" class="form-control" id="solicitud_tutor" name="solicitud_tutor" value="{{ solicitud_tutor }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ solicitud_tutor )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="informe_comision">Informe Comisión Pedagógica</label>
                                        <input type="hidden" class="form-control" id="informe_comision" name="informe_comision" value="{{ informe_comision }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ informe_comision )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row" id="tbl_cumano">
                                {%for cumano in cursomateriasnotas %}
                                <div class="col-md-6">
                                    <h5><b>Curso Inscripción</b></h5>
                                    <div id="no-more-tables">
                                        {% if cumano.curso is defined %}
                                        <input type="hidden" id="sel_sie{{loop.index}}" value="{{cumano.curso.codigo_sie}}">
                                        <input type="hidden" id="sel_nivel{{loop.index}}" value="{{cumano.curso.nivel_id}}">
                                        <input type="hidden" id="sel_grado{{loop.index}}" value="{{cumano.curso.grado_id}}">
                                        <input type="hidden" id="sel_paralelo{{loop.index}}" value="{{cumano.curso.paralelo_id}}">
                                        <input type="hidden" id="sel_turno{{loop.index}}" value="{{cumano.curso.turno_id}}">
                                        <table class="table table-bordered">
                                            <tbody class="text-muted">
                                                <tr>
                                                    <td width="40%"><b>SIE</b></td>
                                                    <td>{{ cumano.curso.codigo_sie }}<br>{{ cumano.curso.nombre_sie }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><b>Nivel</b></td>
                                                    <td>{{ cumano.curso.nivel }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="40%"><b>Turno, Grado - Paralelo</b></td>
                                                    <td>{{ cumano.curso.turno }}, {{ cumano.curso.grado }} - {{ cumano.curso.paralelo }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        <table class="table table-bordered tbl_notas">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"><b>No.</b></th>
                                                    <th class="text-center"><b>Áreas</b></th>
                                                    <th class="text-center"><b>Nota Promedio</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for currentmateria in cumano.materiasnotas %}
                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td><span>{{currentmateria.asignatura}}</span></td>
                                                        <td>
                                                            <!--input type="number" maxlength="3"  min="10" max="100" step="1" id="form_{ {currentmateria.id}}"  name="currentmaterias[{ {currentmateria.id}}]" required="required" class="form-control" value=""-->
                                                            <input type="number" class="form-control" maxlength="3" min="1" max="100" step="1" data-id="{{currentmateria.iecoId}}" data-idm="{{currentmateria.id}}" id="form_{{currentmateria.iecoId}}" name="currentmaterias[{{currentmateria.iecoId}}]" required>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>  
                                </div>
                                {% endfor %}
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="acta_supletorio">Acta Supletorio</label>
                                        <input type="file" class="form-control myfiles" id="acta_supletorio" name="acta_supletorio" accept=".pdf,.doc,.docx" required>
                                    </div>
                                </div>
                            </div>
                            <h5 class="float-left"><b class="text-danger">Nota:</b> LLenar las notas de manera coherente.</h5>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="tramite_st" value="0">
                    <div id="envio"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="guardar" onclick="sendSupletorio()">Aceptar</button>
                    <button type="button" class="btn btn-default" onclick="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            $('.myfiles').change(function() {
                if(this.files[0].size > 2057157) {
                    $(this).val('');
                    $(this).css('background', '#ffebee');
                } else {
                    $(this).css('background', '#ffffff');
                }
            });
        });
        $('.noedit').keydown(function() {
            return false;
        });
        function mesage(tipo, titulo, msg, estado) {
            $("#envio").append('<div class="alert alert-'+ tipo +' alert-dismissible" role="alert">\n' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\n' +
                '<strong>'+ titulo +'</strong> '+ msg +' </div>');
            if (estado == true) {
                setTimeout(function () { $("#envio").empty(); }, 3500);
            }
        }

        function clearInput() {
            $("#acta_supletorio").val('');
        }

        $("#form_supletorio").submit(function (event) {
            event.preventDefault();
            $("#envio").html('<h5>¿Está seguro(a) de haber llenado las notas coherentemente? verifique antes de enviar.</h5>');
            $("#tramite_st").val(0);
            $("#guardar").attr('disabled', false);
            $("#modalConfirm").modal('show');
        });

        function sendSupletorio() {
            $("#guardar").attr('disabled', true);            
            var curso_asignatura_notas = [];
            $('#tbl_cumano').find('table.tbl_notas tbody').each(function(index, item) {
                //var asignaturanotas = [];
                var curso = {sie: $('#sel_sie'+(index+1)).val(), nivel_id: $('#sel_nivel'+(index+1)).val(), grado_id: $('#sel_grado'+(index+1)).val(), paralelo_id: $('#sel_paralelo'+(index+1)).val(), turno_id: $('#sel_turno'+(index+1)).val()};
                var asignaturanotas = [];
                $(this).find("tr").each(function() {
                    asignaturanotas.push({'asignatura_id': $(this).find('td input').data('idm'), 'asignatura': $(this).find('td span').text(), 'ieco_id': $(this).find('td input').data('id'), 'nota': $(this).find('td input').val()});
                });
                // asignaturanotas.push({curso: curso, asignatura_notas: asignaturanotas});
                curso_asignatura_notas.push({curso: curso, asignatura_notas: asignaturanotas});
            });
            var fd = new FormData();
            fd.append('tramite_id', $("#tramite_id").val());
            fd.append('institucioneducativa_id', $("#institucioneducativa_id").val());
            fd.append('curso_asignatura_notas', JSON.stringify(curso_asignatura_notas));
            var docsup = document.getElementById('acta_supletorio');
            fd.append('acta_supletorio', docsup.files[0]);
            $.ajax({
                type: 'post',
                url: Routing.generate('tramite_acelera_save_suple'),
                data: fd,
                mimeType:"multipart/form-data",
                contentType: false,
                cache: false,
                processData:false,
                dataType: 'json',
                beforeSend: function () {
                    $("#envio").html('<div class="text-center">Guardando... <img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#envio").empty();
                    if (data.estado == 200) {
                        $("#guardar").attr('disabled', true);
                        clearInput();
                        $("#tramite_st").val(1);
                        mesage('info', 'Notificación', data.msg, false);
                        //location.href = "{{ path('wf_tramite_index', {'tipo':1}) }}";
                    } else {
                        $("#guardar").attr('disabled', false);
                        mesage('danger', 'Alerta', data.msg, false);
                    }
                },
                error: function (error) {
                    $("#guardar").attr('disabled', false);
                }
            });
        }

        function closeModal() {
            $("#modalConfirm").modal('hide');
            if ($("#tramite_st").val() == 1) {
                location.href = "{{ path('wf_tramite_index', {'tipo':1}) }}";
            }
        }
    </script>
{% endblock %}