{% extends 'layoutEspecialSie.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Aceleración Educativa <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('wf_tramite_index')}}">Trámites</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Verifica</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Verificación de Acta</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="form_verifica" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="rude">Código RUDE</label>
                                        <input type="text" class="form-control noedit" id="rude" name="rude" value="{{ rude }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Nombre del Estudiante</label>
                                        <input type="text" class="form-control noedit" id="nombre" name="nombre" value="{{ estudiante }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="procede_aceleracion">¿Procede Aceleración?</label>
                                        <input type="text" class="form-control noedit" id="procede_aceleracion" name="procede_aceleracion" value="{{ procede_aceleracion }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="grado_cantidad">Grados a Acelerar</label>
                                        <input type="text" class="form-control numeric" id="grado_cantidad" name="grado_cantidad" value="{{ grado_cantidad }}" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <input type="hidden" id="tramite_id" name="tramite_id" value="{{ tramite_id }}">
                                    <input type="hidden" id="institucioneducativa_id" name="institucioneducativa_id" value="{{ institucioneducativa_id }}">
                                    <div class="form-group">
                                        <label for="informe">Informe Psicopedagógico</label>
                                        <input type="hidden" class="form-control" id="informe" name="informe" value="{{ informe }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/talento/'~ informe )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="solicitud_tutor">Solicitud del Padre/Madre/Tutor</label>
                                        <input type="hidden" class="form-control" id="solicitud_tutor" name="solicitud_tutor" value="{{ solicitud_tutor }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ solicitud_tutor )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="informe_comision">Informe Comisión Pedagógica</label>
                                        <input type="hidden" class="form-control" id="informe_comision" name="informe_comision" value="{{ informe_comision }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ informe_comision )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="acta_supletorio">Acta Supletorio</label>
                                        <input type="hidden" class="form-control" id="acta_supletorio" name="acta_supletorio" value="{{ acta_supletorio }}">
                                        <a class="form-control text-primary" href="{{asset('uploads/archivos/flujos/tramite/aceleracion/'~ acta_supletorio )}}" target="_blank">Documento adjunto</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5><b>Curso Inscripción</b></h5>
                                            <div id="no-more-tables">
                                                {% if curso is defined %}
                                                <input type="hidden" id="nivel_id" value="{{ curso.nivel_id }}">
                                                <input type="hidden" id="grado_id" value="{{ curso.grado_id }}">
                                                <table class="table table-bordered">
                                                    <tbody class="text-muted">
                                                        <tr>
                                                            <td width="40%"><b>SIE</b></td>
                                                            <td>{{ curso.sie }}<br>{{ curso.nombre }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Nivel</b></td>
                                                            <td>{{ curso.nivel }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Grado</b></td>
                                                            <td>{{ curso.grado }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Paralelo</b></td>
                                                            <td>{{ curso.paralelo }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Turno</b></td>
                                                            <td>{{ curso.turno }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                {% endif %}
                                                <table class="table table-bordered">
                                                    <thead class="font-weight-bold">
                                                        <tr>
                                                            <th class="text-center"><b>No.</b></th>
                                                            <th class="text-center"><b>Áreas</b></th>
                                                            <th class="text-center"><b>Nota Promedio</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for item in asignatura_notas %}
                                                            <tr>
                                                                <td>{{loop.index}}</td>
                                                                <td><span>{{item.asignatura}}</span></td>
                                                                <td>
                                                                    <input type="number" class="form-control" maxlength="3" min="1" max="100" step="1" value="{{item.nota}}" disabled style="background-color: #fafafa">
                                                                </td>
                                                            </tr>
                                                        {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>  
                                        </div>
                                        <div class="col-md-6">
                                            <h5><b>Curso Aceleración</b></h5>
                                            <div id="no-more-tables">
                                                <table class="table table-bordered">
                                                    <tbody class="text-muted">
                                                        <tr>
                                                            <td width="40%">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon" style="background-color: #fafafa">SIE</div>
                                                                    <input type="text" class="form-control" id="sel_sie" value="{{ codigo_sie }}" onkeyUp="institucionEducativa()">
                                                                    <div class="input-group-addon" onclick="institucionEducativa()" style="cursor: pointer"><i class="fa fa-search"></i></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span id="txt_institucioneducativa"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Nivel</b></td>
                                                            <td>
                                                                <span id="txt_nivel"></span>
                                                                <input type="hidden" id="sel_nivel">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%"><b>Grado</b></td>
                                                            <td><span id="txt_grado"></span><input type="hidden" id="sel_grado"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40%">
                                                                <div class="form-groups">
                                                                    <label for="sel_paralelo">Paralelo</label>
                                                                    <select class="form-control" id="sel_paralelo" required>
                                                                        <option value="">Seleccionar...</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-groups">
                                                                    <label for="sel_turno">Turno</label>
                                                                    <select class="form-control" id="sel_turno" required>
                                                                        <option value="">Seleccionar...</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-bordered" id="tbl_aceleracion">
                                                    <thead>
                                                        <tr class="sinfo">
                                                            <th class="text-center"><b>No.</b></th>
                                                            <th class="text-center"><b>Áreas</b></th>
                                                            <th class="text-center"><b>Nota Promedio</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for currentmateria in materiasnotas %}
                                                            <tr>
                                                                <td>{{loop.index}}</td>
                                                                <td><span>{{currentmateria.asignatura}}</span></td>
                                                                <td>
                                                                    <input type="number" class="form-control" maxlength="3" min="1" max="100" step="1" data-id="{{currentmateria.iecoId}}" data-idm="{{currentmateria.id}}" id="form_{{currentmateria.iecoId}}" name="currentmaterias[{{currentmateria.iecoId}}]" required value="87">
                                                                </td>
                                                            </tr>
                                                        {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="NO" onclick="showHideObs()" required>Proceder con Registro e Inscripción</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="SI" onclick="showHideObs()" required>Tiene Observación</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group" id="condicion_obs" style="display: none">
                                        <label for="observacion">Observación</label>
                                        <textarea rows="3" class="form-control" id="observacion" name="observacion" placeholder="Describa la observación de forma concisa."></textarea>
                                    </div>
                                </div>
                            </div>
                            <h5 class="float-right"><b class="text-danger">Nota:</b> LLenar las notas de manera coherente.</h5>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="tramite_st" value="0">
                    <div id="envio"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="guardar" onclick="sendVerifica()">Aceptar</button>
                    <button type="button" class="btn btn-default" onclick="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function() {
            $("#envio").html('<h5>¿Está seguro(a) de haber revisado la información? verifique antes de enviar.</h5>');
            $('.myfiles').change(function() {
                if(this.files[0].size > 2057157) {
                    $(this).val('');
                    $(this).css('background', '#ffebee');
                } else {
                    $(this).css('background', '#ffffff');
                }
            });
            institucionEducativa($('#sel_sie').val());
        });
        $('.noedit').keydown(function() {
            return false;
        });
        function mesage(tipo, titulo, msg, estado) {
            $("#envio").append('<div class="alert alert-'+ tipo +' alert-dismissible" role="alert">\n' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\n' +
                '<strong>'+ titulo +'</strong> '+ msg +' </div>');
            if (estado == true) {
                setTimeout(function () { $("#envio").empty(); }, 3500);
            }
        }

        function clearInput() {
            $("input:radio").attr("checked", false);
            $("#observacion").val('');
        }

        function showHideObs() {
            if (document.querySelector('input[name="optradio"]:checked').value == "SI") {
                $("#condicion_obs").show();
                $("#observacion").val('');
                $("#observacion").attr('required', true);
            } else {
                $("#condicion_obs").hide();
                $("#observacion").attr('required', false);
            }
        }

        $("#form_verifica").submit(function (event) {
            event.preventDefault();
            $("#tramite_st").val(0);
            $("#guardar").attr('disabled', false);
            $("#modalConfirm").modal('show');
        });

        function sendVerifica() {
            $("#guardar").attr('disabled', true);
            var curso = {sie: $('#sel_sie').val(), nivel_id: $('#sel_nivel').val(), grado_id: $('#sel_grado').val(), paralelo_id: $('#sel_paralelo').val(), turno_id: $('#sel_turno').val()};
            var asignatura_notas = [];
            $('#tbl_aceleracion tbody').find("tr").each(function() {
                asignatura_notas.push({'asignatura_id': $(this).find('td input').data('idm'), 'asignatura': $(this).find('td span').text(), 'ieco_id': $(this).find('td input').data('id'), 'nota': $(this).find('td input').val()});
            });
            $.ajax({
                type: 'post',
                url: Routing.generate('tramite_acelera_save_verify'),
                data: {'tramite_id': $('#tramite_id').val(), 'institucioneducativa_id': $('#institucioneducativa_id').val(), 'tiene_obs': document.querySelector('input[name="optradio"]:checked').value, 'observacion': $('#observacion').val(), 'curso': JSON.stringify(curso), 'notas': JSON.stringify(asignatura_notas)},
                dataType: 'json',
                beforeSend: function () {
                    $("#envio").html('<div class="text-center">Guardando... <img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#envio").empty();
                    if (data.estado == 200) {
                        $("#guardar").attr('disabled', true);
                        clearInput();
                        $("#tramite_st").val(1);
                        mesage('info', 'Notificación', data.msg, false);
                        //location.href = "{{ path('wf_tramite_index') }}";
                    } else {
                        $("#guardar").attr('disabled', false);
                        mesage('danger', 'Alerta', data.msg, false);
                    }
                },
                error: function (error) {
                    $("#guardar").attr('disabled', false);
                }
            });
        }

        function closeModal() {
            $("#modalConfirm").modal('hide');
            if ($("#tramite_st").val() == 1) {
                location.href = "{{ path('wf_tramite_index') }}";
            }
        }

        function institucionEducativa() {
            var id = $('#sel_sie').val()
            if (id.length > 7) {
                nivel = $('#nivel_id').val();
                grado = $('#grado_id').val();
                $.ajax({
                    type: 'get',
                    url: Routing.generate('tramite_acelera_search_ie', {'id': id, 'nivel': nivel, 'grado': grado}),
                    beforeSend: function () {
                        $("#sel_paralelo").append('<option value="" selected disabled>Buscando...</option>');
                        $("#sel_turno").append('<option value="" selected disabled>Buscando...</option>');
                    },
                    success: function (data) {
                        $("#txt_institucioneducativa").text(data.nombre);
                        $("#txt_nivel").text(data.nivel);
                        $("#txt_grado").text(data.grado);
                        $("#sel_nivel").val(data.nivel_id);
                        $("#sel_grado").val(data.grado_id);

                        $("#sel_paralelo").empty();
                        $("#sel_paralelo").append('<option value="" selected disabled>Seleccionar...</option>');
                        $.each(data.paralelo, function (i, value) {
                            $("#sel_paralelo").append('<option value="' + i + '">' + value + '</option>');
                        });
                        
                        $("#sel_turno").empty();
                        $("#sel_turno").append('<option value="" selected disabled>Seleccionar...</option>');
                        $.each(data.turno, function (i, value) {
                        $("#sel_turno").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                });
            } else {
                nivel = $('#form_nivelId').val();
                grado = $('#form_gradoId').val();
                lastue = $('#form_lastue').val();
                $("#form_institucionEducativaName").val('');
                $("#form_paralelo").empty();
                $("#form_turno").empty();

            }
        }
    </script>
{% endblock %}