{% extends 'layoutPermanente.html.twig' %}

{% block contentoption %}

    <div class="header-content">
        <h2><i class="fa fa-users"></i> Cursos <span>Administración de cursos de educación Permanente.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                    <li>
                        <i class="glyphicon glyphicon-leaf"></i>
                            <a href="{{path('principal_web')}}">Bienvenida</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>
    <br>

    <div class='container'>
        <div class="panel panel-danger" id="panelesp">

            <div class="panel-heading">
               <h4>
                   Especialidades - {{ cantesp }}
               </h4>
            </div>
            <div class="panel-body">
                <p>Listado de todas las especialidades permitidas para los centros autorizados a proporcionar las mismas en cursos de Educación Permanente</p>
                <br>
                <button type="button" class="btn btn-danger" onclick="nuevaEspecialidad();" >Nuevo</button>
                <br>
                <br>
            {% if existeesp %}
                <div class="table-responsive col-md-12">
                    <table class="table table-bordered table-striped" id="listaEsp">
                            <thead>
                            <tr>
                                <th class="text-center border-right">N°</th>
                                <th class="text-center border-right">Especialidad</th>
                                <th class="text-center border-right">Tecnico Basico</th>
                                <th class="text-center border-right">Tecnico Auxiliar</th>
                                <th class="text-center border-right">Tecnico Medio</th>
                                <th class="text-center border-right">Operaciones </th>


                            </tr>
                            </thead>
                        <tfoot>
                        <tr>
                            <th class="text-center border-right">N°</th>
                            <th class="text-center border-right">Especialidad</th>
                            <th class="text-center border-right">Tecnico Basico</th>
                            <th class="text-center border-right">Tecnico Auxiliar</th>
                            <th class="text-center border-right">Tecnico Medio</th>
                            <th class="text-center border-right">Operaciones </th>
                        </tr>
                        </tfoot>
                            <tbody>
                            {% for especialidades in especialidades %}
                                <tr>
                                    <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                    <td data-title="Especialidad" class="text-center">{{ especialidades.especialidad }}</td>
                                    <td data-title="Tecnico_Basico" class="text-center">
                                {% if (especialidades.tecnicobasico == '1') %}
                                        <i class="fa fa-check" style="color:#009500;"></i>
                                {% elseif (especialidades.tecnicobasico == '0') %}
                                        <i class="fa fa-close" style="color:#dd0304;">
                                {% endif %}
                                    </td>
                                    <td data-title="Tecnico_Auxiliar" class="text-center">
                                        {% if (especialidades.tecnicoauxiliar == '1') %}
                                        <i class="fa fa-check" style="color:#009500;"></i>
                                        {% elseif (especialidades.tecnicoauxiliar == '0') %}
                                        <i class="fa fa-close" style="color:#dd0304;">
                                        {% endif %}
                                    </td>
                                    <td data-title="Tecnico_Medio" class="text-center">
                                        {% if (especialidades.tecnicomedio == '1') %}
                                        <i class="fa fa-check" style="color:#009500;"></i>
                                        {% elseif (especialidades.tecnicomedio == '0') %}
                                        <i class="fa fa-close" style="color:#dd0304;">
                                            {% endif %}

                                    </td>
                                    <td data-title="Acciones" class="text-center">
                                        {#<a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>#}
                                        {#<button class="btn btn-lilac btn-xs btn-stroke" onclick="showEditCursoCorto();">#}
                                        <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Editar" onclick="editarEspecialidad({{ especialidades.id }},{{ especialidades.tecnicobasico }},{{ especialidades.tecnicoauxiliar }},{{ especialidades.tecnicomedio }});"><i class="fa fa-pencil"></i></a>
                                        <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar" onclick="eliminarEspecialidad({{ especialidades.id }}));"><i class="fa fa-times"></i></button>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                    </table>
                </div>
            {% else %}
                <p> NO EXISTEN ESPECIALIDADES...</p>
            {% endif %}
            </div>

        </div>
    </div>
    <div>

    </div>
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" id="modal">

    </div><!-- /.modal -->
    <!--/ End body content -->.





{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            cargatablas();
        });

//        $('#myModal').on('shown.bs.modal', function () {
//            $('#myInput').focus()
//        });

        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
//            $('#listaEsp tfoot th').each( function () {
//                var title = $(this).text();
//                if(title.trim() === "" || title === "#"){
//                    $(this).html('');
//                } else {
//                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
//                }
//            } );

            // DataTable
            var table = $('#listaEsp').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };

        var nuevaEspecialidad= function () {
            $.ajax({
                type: 'get',
                url: "{{ path('herramienta_per_show_especialidad_nuevo') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').modal('show');
                    $('#modal').append(data);

                },

                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };

        var editarEspecialidad= function (idesp,tecbas,tecaux,tecmed) {
            $.ajax({
                type: 'post',
                url: "{{ path('herramienta_per_show_especialidad_edit') }}",
                data: ({idesp:idesp,tecbas:tecbas,tecaux:tecaux, tecmed: tecmed}),
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').modal('show');
                    $('#modal').append(data);

                },

                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };

        var eliminarrEspecialidad= function (idesp,tecbas,tecaux,tecmed) {
            $.ajax({
                type: 'post',
                url: "{{ path('herramienta_per_show_especialidad_edit') }}",
                data: ({idesp:idesp,tecbas:tecbas,tecaux:tecaux, tecmed: tecmed}),
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').modal('show');
                    $('#modal').append(data);

                },

                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        };



    </script>
    {#<style>#}

            {#.panel.panel-danger:hover {#}
            {#-webkit-animation: pulse 1s;#}
            {#animation: pulse 1s;#}
        {#}#}
    {#</style>#}
{%endblock%}
