{% if notas %}
    <h5 class="text-info">Notas</h5>
    <table class="table table-bordered table-striped cf" style="backgroud:#FFFFFF; font-size: 9pt">
    {% if gestion <= 2017 %}
        <thead class="cf">
            <tr>
                <th>Asignatura / Módulo</th>
                <th class="text-center">P.T.</th>
                <th class="text-center">A.P.</th>
                <th class="text-center">C.O.</th>
                <th class="text-center">Promedio</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for notas in notas %}
                <tr>
                    <td><strong>{{notas.asignatura}}</strong></td>
                    <td class="text-center">{{notas.pt_cuant}}</td>
                    <td class="text-center">{{notas.ap_cuant}}</td>
                    <td class="text-center">{{notas.co_cuant}}</td>
                    <td class="text-center"><strong>{{notas.p_cuant}}</strong></td>
                    <td class="text-center">{{notas.estado}}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead class="cf">
            <tr>
                <th rowspan="2" style="vertical-align: middle">Módulo</th>
                <th colspan="1" style="text-align:center">Valoración Cuantitativa</th>
                <th rowspan="2" style="vertical-align: middle" class="text-center">Estado</th>
            </tr>
            <tr>
                <th style="text-align:center">Promedio Semestral</th>
            </tr>
        </thead>
        <tbody>
            {% for notas in notas %}
                <tr>
                    <td><strong>{{notas.asignatura}}</strong></td>
                    <td class="text-center">{{notas.p_cuant}}</td>
                    <td class="text-center">{% if notas.estado %}{{notas.estado}}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
{% else %}
    <div class="alert alert-info">
        <strong>¡Información!</strong> No se encontraron calificaciones para la presente gestión.
    </div>
{% endif %}