<div class="panel panel-default">
    <div class="modal-header" style="background:#2F4254">
        <div class="pull-left">
            <h3 class="panel-title" style="color:#FFFFFF">Notas del Estudiante</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-padding" id="modal-body">
        <div class="alert " style="padding:10px">
            <h5 class="text-info">Datos de la Institución Educativa</h5>
            <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                <tr>
                    <th>Código SIE</th><td>{{inscripcion.institucioneducativaCurso.institucioneducativa.id}}</td>
                    <th>Nombre</th><td>{{inscripcion.institucioneducativaCurso.institucioneducativa.institucioneducativa}}</td>
                </tr>
            </table>
            <h5 class="text-info">Datos del Curso</h5>
            {% if subsistema == 1 or subsistema == 4 %}
            <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                <tr>
                    <th>Gestión</th><td>{{gestion}}</td>
                    <th>Periodo</th>
                    <td>
                        ANUAL
                    </td>
                </tr>
                <tr>
                    <th>Nivel</th><td>{{inscripcion.institucioneducativaCurso.nivelTipo.nivel|upper}}</td>
                    <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno|upper}}</td>
                </tr>
                <tr>
                    <th>Grado</th><td>{{inscripcion.institucioneducativaCurso.gradoTipo.grado|upper}}</td>
                    <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                </tr>
            </table>
            {% elseif subsistema == 2 %}
                <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                    <tr>
                        <th>Gestión</th><td>{{gestion}}</td>
                        <th>Periodo</th>
                        <td>
                            {% set periodo = inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.institucioneducativaSucursal.periodoTipoId %}
                            {% if periodo == 1 %}ANUAL{% elseif periodo == 2 %}PRIMER SEMESTRE{% elseif periodo == 3 %}SEGUNDO SEMESTRE{% endif %}
                        </td>
                    </tr>
                </table>
                {% if inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.superiorFacultadAreaTipo.id == 15 %}
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Nivel</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.especialidad}}</td>
                            <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno}}</td>
                        </tr>
                        <tr>
                            <th>Etapa</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorAcreditacionTipo.acreditacion}}</td>
                            <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                        </tr>
                    </table>
                {% else %}
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Area</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.superiorFacultadAreaTipo.facultadArea}}</td>
                            <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno}}</td>
                        </tr>
                        <tr>
                            <th>Especialidad</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.especialidad}}</td>
                            <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                        </tr>
                        <tr>
                            <th>Nivel de Acreditación</th><td colspan="3">{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorAcreditacionTipo.acreditacion}}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endif %}

            <h5 class="text-info">Datos de la/el Estudiante</h5>
            <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                <tr>
                    <th>Codigo Rude</th><td style="color:#0086DD">{{inscripcion.estudiante.codigoRude}}</td>
                </tr>
                <tr>
                    <th>Estudiante</th><td><strong>{{inscripcion.estudiante.nombre}} {{inscripcion.estudiante.paterno}} {{inscripcion.estudiante.materno}}</strong></td>
                </tr>
                <tr>
                    <th>Carnet de Identidad</th><td>{{inscripcion.estudiante.carnetIdentidad}}{% if inscripcion.estudiante.complemento %} - {{inscripcion.estudiante.complemento}}{% endif %}</td>
                </tr>
                <tr>
                    <th>Género</th><td>{{inscripcion.estudiante.generoTipo}}</td>
                </tr>
                <tr>
                    <th>Fecha de Nacimiento</th><td>{{inscripcion.estudiante.fechaNacimiento|date('d-m-Y')}}</td>
                </tr>
                <tr>
                    <th>Estado de matrícula</th><td>{{inscripcion.estadomatriculaTipo.estadomatricula}}</td>
                </tr>
            </table>
            {% if subsistema == 1 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_regular.html.twig' with {'cabeceras': cabeceras, 'indices': indices, 'notas': notas, 'cualitativo': cualitativo, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% elseif subsistema == 2 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_alternativa.html.twig' with {'notas': notas, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% elseif subsistema == 4 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_especial.html.twig' with {'notas': notas, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {% if app.session.get('roluser') == 8 or app.session.get('roluser') == 10 or app.session.get('roluser') == 7 %}
                    {% if app.session.get('currentyear') == gestion and inscripcion.estadomatriculaTipo.id == 4 and tuicion == true and (inscripcion.institucioneducativaCurso.nivelTipo.id == 11 or inscripcion.institucioneducativaCurso.nivelTipo.id == 12 or inscripcion.institucioneducativaCurso.nivelTipo.id == 13) %}
                        <div class="btn-group btn-group-justified">
                        <div class="alert alert-warning">
                            <strong>Importante:</strong> En caso de no haber reportado las calificaciones, se le habilita la opcioń para poder registrar</br> las mimas.
                        </div>
                        {{form_start(setNotasForm)}}
                            <input type='hidden' id='idInscripcion' name='idInscripcion' value='{{inscripcion.id}}'>
                        {{form_end(setNotasForm)}}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>