<div class="panel panel-default">
    <div class="modal-header" style="background:#2F4254">
        <div class="pull-left">
            <h3 class="panel-title" style="color:#FFFFFF">Notas del Estudiante</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-padding" id="modal-body">
        <div class="alert " style="padding:10px">
            <h5 class="text-info">Datos del Curso</h5>
            {% if subsistema == 1 or subsistema == 4 %}
            <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                <tr>
                    <th>Gestión</th><td>{{gestion}}</td>
                    <th>Periodo</th>
                    <td>
                        ANUAL
                    </td>
                </tr>
                <tr>
                    <th>Nivel</th><td>{{inscripcion.institucioneducativaCurso.nivelTipo.nivel|upper}}</td>
                    <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno|upper}}</td>
                </tr>
                <tr>
                    <th>Grado</th><td>{{inscripcion.institucioneducativaCurso.gradoTipo.grado|upper}}</td>
                    <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                </tr>
            </table>
            {% elseif subsistema == 2 %}
                <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                    <tr>
                        <th>Gestión</th><td>{{gestion}}</td>
                        <th>Periodo</th>
                        <td>
                            {% set periodo = inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.institucioneducativaSucursal.periodoTipoId %}
                            {% if periodo == 1 %}ANUAL{% elseif periodo == 2 %}PRIMER SEMESTRE{% elseif periodo == 3 %}SEGUNDO SEMESTRE{% endif %}
                        </td>
                    </tr>
                </table>
                {% if inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.superiorFacultadAreaTipo.id == 15 %}
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Nivel</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.especialidad}}</td>
                            <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno}}</td>
                        </tr>
                        <tr>
                            <th>Etapa</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorAcreditacionTipo.acreditacion}}</td>
                            <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                        </tr>
                    </table>
                {% else %}
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Area</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.superiorFacultadAreaTipo.facultadArea}}</td>
                            <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno}}</td>
                        </tr>
                        <tr>
                            <th>Especialidad</th><td>{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorEspecialidadTipo.especialidad}}</td>
                            <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
                        </tr>
                        <tr>
                            <th>Nivel de Acreditación</th><td colspan="3">{{inscripcion.institucioneducativaCurso.superiorInstitucioneducativaPeriodo.superiorInstitucioneducativaAcreditacion.acreditacionEspecialidad.superiorAcreditacionTipo.acreditacion}}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endif %}

            <h5 class="text-info">Datos del Estudiante</h5>
            <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                <tr>
                    <th>Codigo Rude</th><td style="color:#0086DD">{{inscripcion.estudiante.codigoRude}}</td>
                </tr>
                <tr>
                    <th>Estudiante</th><td style="color:#0086DD"><b>{{inscripcion.estudiante.nombre}} {{inscripcion.estudiante.paterno}} {{inscripcion.estudiante.materno}}</b></td>
                </tr>
                <tr>
                    <th>Estado de matrícula</th><td>{{inscripcion.estadomatriculaTipo.estadomatricula}}</td>
                </tr>
            </table>
            {% if subsistema == 1 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_regular.html.twig' with {'cabeceras': cabeceras, 'indices': indices, 'notas': notas, 'cualitativo': cualitativo, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% elseif subsistema == 2 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_alternativa.html.twig' with {'notas': notas, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% elseif subsistema == 4 %}
                {% include 'SieRegularBundle:NoteConsultationParents:nota_especial.html.twig' with {'notas': notas, 'inscripcion': inscripcion, 'gestion': gestion} %}
            {% endif %}
        </div>
    </div>
</div>