{% extends 'layoutHerramienta.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Formulario <span>equipamiento de laboratorio</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Equipamiento de laboratorio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    {% for type, flashMessage in app.session.flashbag.all() %}
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% if flashMessage.title is defined %}
                                <strong><i class='fa fa-envelope'></i> {{ flashMessage.title }}: </strong>
                                {{ flashMessage.message }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>   
        {% if entity is defined and entityEquipoLaboratorio is defined %}
            <div class="row">
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        {{form_start(eliminarregistro, { 'attr': {'data-toggle': 'validator','role': "form",'onsubmit': 'confirmar(this); return false;'} } )}}
                        {{ form_widget(eliminarregistro.eliminar,{'attr':{'class':'btn btn-sm btn-danger' } } ) }}
                        {{form_end(eliminarregistro)}}
                        {#<button type="button" id="eliminar_registro" class="btn btn-danger form-control btn-xs" onclick="eliminarRegistroEqui()" > Eliminar Registro </button>#}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">I. DATOS GENERALES DE LA UNIDAD EDUCATIVA</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        <label for="11" class="control-label">1.1. CÓDIGO R.U.E.</label>
                                        <button type="button" id="11" class="btn btn-primary form-control btn-xs">{{ entity.institucioneducativa_id }}</button>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="12" class="control-label">1.2. NOMBRE DE LA UNIDAD EDUCATIVA</label>
                                        <button type="button" id="12" class="btn btn-primary form-control btn-xs">{{ entity.institucioneducativa }}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="13" class="control-label">1.3. DEPENDENCIA</label>
                                        <button type="button" id="13" class="btn btn-primary form-control btn-xs">{{ entity.dependencia }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="14" class="control-label">1.4. NIVEL/ÁREA DE ATENCIÓN.</label>
                                        <button type="button" id="14" class="btn btn-primary form-control btn-xs">{{ entity.niveles_abrv }}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="15" class="control-label">1.5. TURNO</label>
                                        <button type="button" id="15" class="btn btn-primary form-control btn-xs">{{ entity.turno }}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="16" class="control-label">1.6. ÁREA URBANA / ÁREA RURAL (censo 2001)</label>
                                        <button type="button" id="16" class="btn btn-primary form-control btn-xs">
                                            {% if entity.area == 'U' %}
                                                URBANO
                                            {% elseif entity.area == 'R' %}
                                                RURAL
                                            {% else %}
                                            {% endif %}
                                        </button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="17" class="control-label">1.7. NÚMERO TOTAL DE ESTUDIANTE (Solo Nivel Secundario {% if entityGrado.gestion_tipo_id is defined  %}{{ entityGrado.gestion_tipo_id }}{% endif %})</label>
                                        <button type="button" id="17" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_tot_estu is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_tot_estu }}{% endif %}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        <label for="171" class="control-label">1.7.1. PRIMERO.</label>
                                        <button type="button" id="171" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_1ersec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_1ersec }}{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="172" class="control-label">1.7.2. SEGUNDO</label>
                                        <button type="button" id="172" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_2dosec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_2dosec }}{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="173" class="control-label">1.7.3. TERCERO</label>
                                        <button type="button" id="173" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_3ersec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_3ersec }}{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="174" class="control-label">1.7.4. CUARTO</label>
                                        <button type="button" id="174" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_4tosec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_4tosec }}{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="175" class="control-label">1.7.5. QUINTO</label>
                                        <button type="button" id="175" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_5tosec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_5tosec }}{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="176" class="control-label">1.7.6. SEXTO</label>
                                        <button type="button" id="176" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secci_cantidad_6tosec is defined  %}{{ entityEquipoLaboratorio.secci_cantidad_6tosec }}{% endif %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">II. LOCALIZACIÓN DEL EDIFICIO ESCOLAR (censo 2001)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        <label for="21" class="control-label">2.1. CÓDIGO L.E.</label>
                                        <button type="button" id="21" class="btn btn-primary form-control btn-xs">{{ entity.edificioeducativo_id }}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="22" class="control-label">2.2. DEPARTAMENTO</label>
                                        <button type="button" id="22" class="btn btn-primary form-control btn-xs">{{ entity.departamento }}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="23" class="control-label">2.3. PROVINCIA</label>
                                        <button type="button" id="23" class="btn btn-primary form-control btn-xs">{{ entity.provincia }}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="24" class="control-label">2.4. MUNICIPIO</label>
                                        <button type="button" id="24" class="btn btn-primary form-control btn-xs">{{ entity.municipio }}</button>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="25" class="control-label">2.5. DISTRITO EDUCATIVO</label>
                                        <button type="button" id="25" class="btn btn-primary form-control btn-xs">{{ entity.distrito }}</button>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="radio">
                                            <label style="padding-left: 0px;">2.6. ¿LA UNIDAD EDUCATIVA COMPARTE LA INFRAESTRUCTURA CON OTRAS UNIDADES EDUCATIVAS?</label>
                                            <label class="radio-inline">
                                                <div class="rdio rdio-theme circle radio-inline">
                                                    <input id="radio-type-rounded2" name="radiotype2" type="radio" disabled="disabled" {% if entityEdificio|length > 0 %}checked="true"{% endif %}>
                                                    <label for="radio-type-rounded2">SI</label>
                                                </div>
                                            </label>
                                            <label class="radio-inline">
                                                <div class="rdio rdio-theme circle radio-inline">
                                                    <input id="radio-type-circle2" name="radiotype2" type="radio" disabled="disabled" {% if entityEdificio|length < 1 %}checked="true"{% endif %}>
                                                    <label for="radio-type-circle2">NO</label>
                                                </div>
                                            </label>
                                        </div>
                                    </div>                                    
                                </div>  
                                <div class="row">
                                </div> 
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label class="control-label">2.6.1. NOMBRE DE LA UNIDAD EDUCATIVA CON LA QUE SE COMPARTE LA INFRAESTRUCTURA</label>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label class="control-label">2.6.2. CÓDIGO R.U.E.</label>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label class="control-label">2.6.3. TURNO</label>
                                    </div>
                                    {% for dato in entityEdificio %}
                                        <div class="form-group col-sm-8">
                                            <button type="button" class="btn btn-primary form-control btn-xs">{{ dato.institucioneducativa }}</button>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <button type="button" class="btn btn-primary form-control btn-xs">{{ dato.institucioneducativa_id }}</button>
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <button type="button" class="btn btn-primary form-control btn-xs">{{ dato.turno }}</button>
                                        </div>
                                    {% endfor %}                                    
                                </div>  
                            </div>
                        </div>
                    </div>   
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">III. DATOS GENERALES DEL DIRECTOR(A) O RESPONSABLE DE LA UNIDAD EDUCATIVA Y ALCALDE MUNICIPAL</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="31" class="control-label">3.1. NOMBRE(S) Y APELLIDO(S) DEL DIRECTOR(A) O RESPONSABLE DE LA UNIDAD EDUCATIVA</label>
                                        <button type="button" id="31" class="btn btn-primary form-control btn-xs">{{ entity.director }}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="311" class="control-label">3.1.1. NÚMERO DE CÉDULA DE IDENTIDAD</label>
                                        <button   type="button" id="311" class="btn btn-primary form-control btn-xs">{{ entity.ci_director }}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="312" class="control-label">3.1.2. NÚMERO DE CELULAR</label>
                                        <button type="button" id="312" class="btn btn-primary form-control btn-xs">{{ entity.celular_director }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label for="nombreAlcalde" class="control-label">3.2. NOMBRE(S) Y APELLIDO(S) DEL ALCALDE MUNICIPAL.</label>
                                        <button type="button" id="nombreAlcalde" class="btn btn-primary form-control btn-xs">{{ entityEquipoLaboratorio.nombre_alcalde }}</button>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="telefonoAlcalde" class="control-label">3.3. NÚMERO DE TELÉFONO O CELULAR</label>
                                        <button type="button" id="telefonoAlcalde" class="btn btn-primary form-control btn-xs">{{ entityEquipoLaboratorio.telefono_alcalde }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">IV. DATOS DE INFRAESTRUCTURA DE LABORATORIO</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-4 ">
                                        <label for="constructor" class="control-label">4.1. LA INFRAESTRUCTURA DE LA UNIDAD EDUCATIVA FUE CONSTRUIDA POR:</label>
                                        <button type="button" id="constructor" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.construccion }}</button>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="radiotype1" class="control-label">4.2. ¿LA UNIDAD EDUCATIVA CUENTA CON AMBIENTE(S) DESTINADO PARA LABORATORIO DE CIENCIAS NATURALES FÍSICA, QUÍMICA Y BIOLOGÍA-GEOGRAFÍA?</label>
                                        <button type="button" id="radiotype1" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secciv_es_lab_fis_quim %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="cantidadAmbiente" class="control-label">4.2.1. CANTIDAD DE AMBIENTES</label>
                                        <button type="button" id="cantidadAmbiente" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.secciv_cant_amb }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        <label for="nombre_alcalde" class="control-label mb-25">4.3. ¿CUENTA CON MESONES FIJOS?.</label>
                                        <button type="button" id="nombre_alcalde" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secciv_cuenta_mesones %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="telefono_alcalde" class="control-label">4.3.1. ¿LOS REBESTIMIENTOS DE LOS MESONES SON DE CERÁMICA?</label>
                                        <button type="button" id="telefono_alcalde" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secciv_es_mesones_ceramica %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="nombre_alcalde" class="control-label">4.4. ¿CUENTA CON PILETAS Y LAVADEROS?.</label>
                                        <button type="button" id="nombre_alcalde" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secciv_cuenta_piletas %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="cantidadPiletaLavadero" class="control-label">4.4.1. CANTIDAD DE PILETAS Y LAVADEROS</label>
                                        <button type="button" id="cantidadPiletaLavadero" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.secciv_cantidad_piletas }}</button>                                                                                              
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="nombre_alcalde" class="control-label">4.5. ¿CUENTA CON INSTALACIÓN ELECTRICA?.</label>
                                        <button type="button" id="nombre_alcalde" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.secciv_cuenta_inst_elec %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="cantidadTomaCorriente" class="control-label">4.5.1. CANTIDAD DE TOMA CORRIENTES ADOSADOS A LA PARED Y/O MESONES</label>
                                        <button type="button" id="cantidadTomaCorriente" class="btn btn-primary form-control btn-xs">{{ entityEquipoLaboratorio.secciv_cantidad_toma_corr }}</button>                                                                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">V. DOTACIÓN DE LABORATORIOS DE CIENCIAS NATURALES: FÍSICA, QUÍMICA Y BIOLOGÍA-GEOGRAFÍA</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="constructor" class="control-label">5.1. ¿LA UNIDAD EDUCATIVA FUE EQUIPADO CON EQUIPOS Y MATERIALES DE LABORATORIO DE CIENCIAS NATURALES?:</label>
                                        <button type="button" id="constructor" class="btn btn-primary form-control btn-xs">{% if entityEquipoLaboratorio.seccv_cuenta_equip_lab_ciencias %}SI{% else %}NO{% endif %}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="gestionEquipado" class="control-label">5.1.1. AÑO EN LA QUE FUE EQUIPADO</label>
                                        <button type="button" id="gestionEquipado" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.seccv_anio_equipado }}</button>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="institucionEquipo" class="control-label">5.1.2. ¿QUÉ INSTITUCIÓN EQUIPÓ EL/LOS LABORATORIO(S)?</label>
                                        <button type="button" id="institucionEquipo" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.seccv_institucion_equipo }}</button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="cantidadEquipo" class="control-label">5.1.3. CANTIDAD DE ÍTEMS RECIBIDOS</label>
                                        <button type="button" id="cantidadEquipo" class="btn btn-primary form-control btn-xs mt-20">{{ entityEquipoLaboratorio.seccv_cantidad_items }}</button>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VI. INSERTAR FOTOGRAFIAS</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="foto61" class="control-label">6.1. AMBIENTE DE LABORATORIO CON VISTA GENERAL DE LOS MESONES</label>
                                        {% if entityEquipoLaboratorio.foto1 is defined %}<div class="row" style="text-align: center"><img width="400" height="350" src="{{ asset(entityEquipoLaboratorio.foto1) }}" alt=""></div>{% endif %}                               
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="foto62" class="control-label">6.2. UN MESÓN DONDE ESTE VISIBLE LAS CONEXIONES ELÉCTRICAS, AGUA Y LAVADEROS</label>
                                        {% if entityEquipoLaboratorio.foto2 is defined %}<div class="row" style="text-align: center"><img width="400" height="350" src="{{ asset(entityEquipoLaboratorio.foto2) }}" alt=""></div>{% endif %}                                         
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VII. CORREO ELECTRÓNICO PARA ADJUNTAR FOTOGRAFÍAS ADICIONALES (NO INDISPENSABLE)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">lapaz.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">oruro.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">potosi.lab.dges@gmail.com</label>
                                    </div>
                                </div>     
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">cochabamba.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">tarija.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">pando.lab.dges@gmail.com</label>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">beni.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">santacruz.lab.dges@gmail.com</label>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label text-primary">chuquisaca.lab.dges@gmail.com</label>
                                    </div>
                                </div>                                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        {% endif %}
            
        {% if formPdf is defined  %}
            {{form_start(formPdf, { 'attr': {'data-toggle': 'validator', 'role': "form"} } )}}                  
                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(formPdf.download,{ 'attr':{'class':'btn btn-success col-lg-12 col-md-12 col-sm-12 col-xs-12' } } ) }}
                    </div>
                </div>            
            {{form_end(formPdf)}}
        {% endif %}
    </div> 
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        function confirmar(form){
            if(confirm('¿Esta seguro de eliminar la información reportada? \nSe recomienda NO eliminar la información reportada sin autorización del Ministerio de Educación')){
                form.submit();
                return true;
            }
            else
                return false;

        }

    </script>
{% endblock %}
