<div class="modal-dialog modal-lg">
    <div class="modal-content">


        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form", 'id':'moduleToStudentForm'} } )}}
        {{form_widget(form.infoUe)}}
        {{form_widget(form.infoStudent)}}
        {{form_widget(form.courses)}}


        <div class="panel panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Registro de Módulos</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body no-padding" id="modal-body">

                <div class="alert " style="padding:10px">
                    <h5 class="text-lilac">Datos del Curso</h5>
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Area</th><td>{{area}}</td>
                            <th>Turno</th><td>{{turno}}</td>
                        </tr>
                        <tr>
                            <th>Especialidad</th><td>{{especialidad}}</td>
                            <th>Paralelo</th><td>{{paralelo}}</td>
                        </tr>
                        <tr>
                            <th>Nivel de Acreditación</th><td colspan="3">{{acreditacion}}</td>
                        </tr>
                    </table>
                    <h5 class="text-info">Datos del Estudiante</h5>
                    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
                        <tr>
                            <th>Código Rudeal</th><td>{{dataStudent.codigoRude}}</td>
                        </tr>
                        <tr>
                            <th>Estudiante</th><td>{{objStudentInfo.paterno}} {{objStudentInfo.materno}} {{objStudentInfo.nombre}} </td>
                        </tr>
                    </table>
                </div>
                <h5 class="text-success" style="margin-left:10px; margin-top:-15px">Seleccione Modulos</h5>

                <table id="datatable-sample" class="table table-default table-middle table-striped table-bordered table-condensed dataTable" role="grid" aria-describedby="datatable-sample_info">
                  <thead>
                  <tr role="row">
                    <th class="dt-body-center sorting_disabled" rowspan="1" colspan="1" aria-label="">
                      <div class="ckbox ckbox-primary">
                           Módulo
                      </div>
                    </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Office">Selecionar</th>
                  </tr>
                  </thead>

                  <tfoot><tr></tr></tfoot>
                  <tbody>
                    {% for  modules in arrCourseToSelected %}
                    <tr role="row" class="odd">
                      <td>{{modules.modulo}}</td>
                      <td class="dt-body-center">
                        <div class="ckbox ckbox-lilac">
                            <div class="ckbox ckbox-primary">
                              <input id="form_{{modules.iecoId}}" {{modules.takeModulo}}  name="form[modules][{{modules.iecoId}}]" type="checkbox" value="{{modules.iecoId}}" class="display-hide">
                              <label for="form_{{modules.iecoId}}"></label>
                            </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            {{form_widget(form.save)}}
        </div>

    </div><!-- /.modal-content -->

	<!--/form-->
  {{form_end(form)}}
</div><!-- /.modal-dialog -->
<script>
  $(document).ready( function(){
    $(".estados").each(function (index) {
        if($(this).val() == ""){
           $(this).val(3);
        }
    });
  });





  var registrarNotas = function(){
    var enviar = true;

  	$(".nota").each(function (index) {
        if($(this).val() == 0){
        	enviar = true;//false;
        }
    });

    if(enviar == false){
    	alert('Las notas no pueden ser cero');
    }

    if(enviar == true){
    	var formData = $('#formNotas').serialize();
	    $.ajax({
	        type: 'post',
	        url: Routing.generate('herramienta_alter_infoEstudianteNotas_create_update'),
	        data: formData,
	        beforeSend: function () {
	            $('#modal-body').empty();
	            $('.modal-footer').empty();
	            $('#modal-body').append("<div style='text-align:center; padding:10px; color:#6ECBFF; font-size:15px'><img src='{{asset('img/loading-sm.gif')}}'><br>Espere mientras se procesan los cambios...</div>");
	        },
	        success: function (data) {
              //alert(data);
	            $('#modal').modal('hide');
	        },
	        error: function (data) {

	        }
	    });
    }
	}

  var saveModulesToStudent = function (){
    //get the check form
    var elem = document.getElementById('moduleToStudentForm').elements;
    var sw = true;
    for (var i = 0; i < elem.length; i++) {
        if (elem[i].type == 'checkbox')
            if ((elem[i].checked))
                sw = false;
    }
    if (sw) {
        alert('Tiene que Seleccionar por lo menos un Módulo...');
        return false;
    }
    if(!sw){
      //validate the send
      if(confirm('Esta seguro de guardar lo seleccionado?')){
        var formData = $('#moduleToStudentForm').serialize();
        $.ajax({
            type: 'post',
            url: Routing.generate('herramienta_alter_studentModule_saveModulesToStudent'),
            data: formData,
            beforeSend: function () {
                $('#modal-body').empty();
                $('.modal-footer').empty();
                $('#modal-body').append("<div style='text-align:center; padding:10px; color:#6ECBFF; font-size:15px'><img src='{{asset('img/loading-sm.gif')}}'><br>Espere mientras se procesan los cambios...</div>");
            },
            success: function (data) {
                //alert(data);
                $('#modal').modal('hide');
            },
            error: function (data) {

            }
        });
      } else {
      return false;
      }
    }



  };
</script>
