<div class="row">
  <div class="col-md-12 text-center">
    <h3 class="text-primary">Educación Regular</h3>
  </div>
</div>
<table class="table table-bordered table-hover table-striped cf">
  <thead class="cf">
    <tr class="info">
      <th class="text-center">Gestión</th>
      <th class="text-center">SIE</th>
      <th class="text-center">Unidad Educativa</th>
      <th class="text-center">Nivel</th>
      <th class="text-center">Grado</th>
      <th class="text-center">Paralelo</th>
      <th class="text-center">Turno</th>
      <th class="text-center">Estado Matrícula</th>
    </tr>
  </thead>
  <tbody>
    {% for data in dataInscription %}
      <tr>
        <td>{{data.gestion_tipo_id_raep}}</td>
        <td>{{data.institucioneducativa_id_raep}}</td>
        <td>{{data.institucioneducativa_raep}}</td>
        <td>{{data.nivel_r }} </td>
        <td>{{data.grado_r}}</td>
        <td>{{data.paralelo_raep}}</td>
        <td>{{data.turno_raep}} </td>
        <td class="text-center">{{data.estadomatricula_fin_r}}</td>
        {#<td class="text-center">#}
          {#<a href="#" onclick="seeNotaNew('{{data.estudiante_inscripcion_id_raep}}', '{{data.estudiante_id_raep}}', '{{data.nivel_tipo_id_r}}', '{{data.grado_tipo_id_r}}', '{{data.paralelo_tipo_id_raep}}', '{{data.turno_tipo_id_raep}}', '{{data.gestion_tipo_id_raep}}', '{{data.institucioneducativa_id_raep}}','{{data.estadomatricula_tipo_id_fin_r}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>#}
        {#</td>#}
      </tr>
    {% endfor %}
  </tbody>
</table>