<div class="modal-dialog modal-lg" id="menu">
    <div class="modal-content modal-primary">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title"><i class="fa fa-pencil"></i> Modificar Sub Menú:   <strong> <em>{{ menutipo.detalleMenu }}</em></strong></h3>
        </div>
        <br>
        <div class="callout callout-info mb-20">
            <h5> Si introduce la Ruta en <strong>"#"</strong>  podrá adicionar sub menús.</h5>
        </div>
        <div class="modal-body">

            {{form_start(form)}}

            <div class="row">
                <div class="col-md-12">
                    <strong>Nombre de  Sub Menú</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{form_widget(form.detalle_menu)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Ruta</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     {{form_widget(form.ruta)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Icono</strong>
                </div>
                {#<div class="col-md-6">
                    <strong>Orden</strong>
                </div>#}
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{form_widget(form.icono)}}
                </div>
               {# <div class="col-md-6">
                    <strong> {{form_widget(form.orden)}}</strong>
                </div>#}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Observaciones</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{form_widget(form.obs)}}
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    {{form_widget(form.guardar)}}
                </div>
            </div>

            {{form_end(form)}}

            {#<div class="pull-right">
                <button class="btn btn-info" onclick="Cerrar()" class="btn btn-teal"  data-target=".bs-example-modal-table">Cerrar</button>
            </div>#}
        </div>

    </div>
</div>

<script>

    function guardarsubMenuupdate() {
        var formData = $('#form').serialize();
        $('#modal').modal('hide');
        //alert(formData);
        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_editsubmenu') }}",

            data:formData,
            beforeSend: function () {

            },
            success: function (data) {
                $('#submenus').empty();
                $('#submenus').append(data);
            },
            complete: function () {
                $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
                    $(".alert").slideUp(1000);
                });
            }
        });
    }
    $( document ).ready(function() {
        $('.icp-auto').iconpicker();
    });


</script>


