{% extends 'layoutGestmenu.html.twig' %}
{% block contentoption %}
    {{ parent() }}

    <!-- /.row -->

    <div class="header-content">
        <h2><i class="fa fa-th animated flip"></i><strong>Registro de Menús Principales</strong>  </h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="#">Menús Principales </a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>

    <div id="mensajes">
        {% if app.session.flashBag.has('exito') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('exito') %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('error') %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    </div>


<div class="body-content animated fadeIn">
    <div class="row">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5><strong>Lista de Menús Principales</strong></h5>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <button class="btn btn-info" onclick="nuevoMenuPrincipal()" class="btn btn-teal" data-toggle="modal" data-target=".bs-example-modal-table"><i class="fa fa-plus"></i> Adicionar Menú</button>
                    </div>
                    <div class="row" id="menus">
                        <div class="col-xs-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="portlet portlet-blue">
                                        <div class="portlet-heading">
                                            <div class="portlet-title">
                                                <h4><i class=""></i></h4>
                                            </div>
                                            <div class="portlet-widgets"><!-- Button Dropdown --></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="portlet-body">
                                            <br/>
                                            <div class="row" id="submenus">
                                                <div class="col-md-12">
                                                    <div id="no-more-tables">
                                                        <table id="myTable" class="table table-bordered table-hover cf dataTable table-primary">
                                                            <thead class="">
                                                            <tr class="">
                                                                <th style="min-width: 10px" class="text-center"><strong>No.</strong></th>
                                                                <th><strong>Detalle</strong></th>
                                                                <th class="text-center"><strong>Icono</strong></th>
                                                                {# <th><strong>Id menuTipo</strong></th>#}
                                                               {# <th><strong>Nivel</strong></th>#}
                                                                <th class="text-center"><strong>Opciones</strong></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for menu in menu %}
                                                                <tr>
                                                                    <td class="text-center" >{{ loop.index }}</td>
                                                                    <td data-title="Detalle">{{ menu.detalle_menu }}</td>
                                                                    <td class="text-center"><i class="fa {{ menu.icono }}"></i></td>
                                                                    {# <td data-title="Icono" >{{ menu.id }}</td>#}
                                                                    {#<td data-title="Icono" >{{ menu.menu_nivel_tipo_id }}</td>#}
                                                                    <td class="text-center">
                                                                        <a href="{{ path('gestionmenu_submenus',{'id':menu.id,'nivel':menu.menu_nivel_tipo_id}) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Ver Sub Menús"><i class="fa fa-eye"></i></a>
                                                                        <button class="btn btn-success  btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" title="Editar Menú" onclick="updateMenuPrincipal({{ menu.id }});" ><i class="fa fa-pencil"></i></button>
                                                                        <button class="btn btn-danger btn-xs" onclick="eliminaMenuPrincipal({{ menu.id }});" title="Eliminar Menú"  ><i class="glyphicon glyphicon-trash"></i></button>

                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>

     function nuevoMenuPrincipal(){

        $.ajax({
            type: 'post',
            url: "{{ path('gestion_menu_nuevo') }}",

            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {
                },
                404: function () {
                }
            }
        });
    }

    function eliminaMenuPrincipal(idmenu) {
        swal({
            title: "¿Está Segura/o de Eliminar el Menú Principal?",
            text: "El Menú seleccionado será eliminado Permanentemente",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            buttons: ["Cancelar", "Continuar"],
        })
            .then(function(willDelete)  {
                if (willDelete) {
                    var imagen = '{{ asset("img/loading96.gif") }}';
                    $.ajax({
                        type: 'post',
                        url: "{{ path('gestionmenu_elimina_principal') }}",
                        data: ({idmenu: idmenu}),
                        beforeSend: function () {
                            swal({
                                title: "Eliminando...",
                                text: "Espere un momento por favor",
                                icon: imagen,
                                buttons: false
                            });
                        },
                        success: function (data) {
                            $('#submenus').empty();
                            $('#submenus').append(data);

                        },
                        error: function () {
                        },
                        complete: function () {
                            swal.stopLoading();
                            swal.close();
                            $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
                                $(".alert").slideUp(1000);
                            });
                        }
                    });

                }
            });
    }

     var updateMenuPrincipal = function (id_menu){
         $.ajax({
             type: 'post',
             url: "{{ path('gestionmenu_editarmenu') }}",
             data:({id_menu: id_menu}),
             beforeSend: function () {

                 $('#modal').empty();
             },
             success: function (data) {
                 $('#modal').empty();
                 $('#modal').append(data);
             },
             statusCode: {
                 500: function () {
                 },
                 404: function () {
                 }
             }
         });
     }

     $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
         $(".alert").slideUp(1000);
     });

</script>


{% endblock %}



