{% block stylesheets %}
    <head>
        <link href="{{asset('webherramienta/assets/global/plugins/bower_components/datatables/css/dataTables.bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('webherramienta/assets/global/plugins/bower_components/datatables/css/datatables.responsive.css')}}" rel="stylesheet">
        <link href="{{asset('webherramienta/assets/global/plugins/bower_components/fuelux/dist/css/fuelux.min.css')}}" rel="stylesheet">
    </head>
{% endblock %}
<div class="body-content  animated fadeIn">
    <div class="row">
        <div class="table-responsive">
            <table id="myTable" class="table table-bordered table-hover cf dataTable table-success table-responsive">
                <thead>
                <tr>
                    {# <th ><strong>No</strong></th>#}
                    <th><strong>Rol</strong></th>
                    <th style="min-width: 10px" ><strong>Agregar</strong></th>
                </tr>
                </thead>
                <tbody>
                {% for rolesasigandos in rolesasigandos %}
                    <tr>
                        {# <td  data-title="No." >{{ loop.index }}</td>#}
                        <td data-title="Detalle">{{ rolesasigandos.rol }}</td>
                        <td  class="text-center">
                           {# <button class="btn btn-primary btn-xs" onclick="guarda_sistema_rol({{ rolesasigandos.id }},{{id_sistema}});" title="Asignar"><i class="glyphicon glyphicon-arrow-left"></i></button>#}
                            <button class="btn btn-success btn-xs" onclick="validaasignacionroles({{ rolesasigandos.id }},{{id_sistema}});" title="Asignar"><i class="glyphicon glyphicon-arrow-left"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function validaasignacionroles(idrol, idsistema) {
        swal({
            title: "¿Está Segura/o de asignar el Rol al Sistema?",
            text: "El Rol seleccionado será asignado al Sistema",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            buttons: ["Cancelar", "Continuar"],
        })
        .then(function(willDelete)  {
            if (willDelete) {
                var imagen = '{{ asset("img/loading96.gif") }}';
            var formData = { idrol: idrol, id_sistema: idsistema };
            $.ajax({
                type: 'post',
                url: "{{ path('gestionmenu_valida_roles_asignados') }}",
                data: formData,
                beforeSend: function () {
                    swal({
                        title: "Asignando...",
                        text: "Espere un momento por favor",
                        icon: imagen,
                        buttons: false
                    });
                },
                success: function (data) {
                    if (data==0){
                        guarda_sistema_rol(idrol, idsistema);
                    } else {
                        swal("Rol Asigando", "El rol ya se encuentra asignado", "error");
                    }
                },
                complete: function () {
                    swal.stopLoading();
                    swal.close();
                    $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
                        $(".alert").slideUp(1000);
                    });
                }
            });
            }
        });
    }

    /*function guarda_sistema_rol(idrol,idsistema) {
        var formData = {idrol:idrol,id_sistema:idsistema};
        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_guardar_rol_sistema') }}",
            data: formData,
            beforeSend: function () {
                $("#rolesasignados").empty();
            },
            success: function (data) {
                $("#rolesasignados").empty();
                $("#rolesasignados").append(data);
            }
        });

        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_cargar_roles_disponible') }}",
            data: formData,
            beforeSend: function () {
                $("#rolesnoasignados").empty();
                //$("#myTable").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");

            },
            success: function (data) {
                $("#rolesnoasignados").empty();
                $("#rolesnoasignados").append(data);

            }
        });
    }*/

    function guarda_sistema_rol(idrol, idsistema) {
        var formData = { idrol: idrol, id_sistema: idsistema };
        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_guardar_rol_sistema') }}",
            data: formData,
            beforeSend: function () {
                $("#rolesasignados").html('Cargando...');
                $("#rolesnoasignados").html('Cargando...');
            },
            success: function (data) {
                $("#rolesasignados").empty();
                $("#rolesasignados").append(data);
                cargarRoleDisponible(idrol, idsistema);
            }
        });
    }

    function cargarRoleDisponible(idrol, idsistema) {
        var formData = { idrol: idrol, id_sistema: idsistema };
        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_cargar_roles_disponible') }}",
            data: formData,
            beforeSend: function () {
                $("#rolesnoasignados").html('Cargando...');
            },
            success: function (data) {
                $("#rolesnoasignados").empty();
                $("#rolesnoasignados").append(data);
            }
        });
    }
</script>

{% block javascripts %}

    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/datatables/js/dataTables.bootstrap.js')}}"></script>
    <script src="{{asset('webherramienta/assets/global/plugins/bower_components/datatables/js/datatables.responsive.js')}}"></script>
    <script src="{{asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{ asset('js/initialize.js')}}"></script>

{% endblock %}