{% extends 'layoutGestmenu.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-pencil"></i> <strong>Generar Reportes Para Menús</strong>  <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="#">

                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="panel-heading">
        <div class="pull-left" >
        </div>
        <div class="pull-right">
            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Nuevo">
                {#algun boton#}
            </div>
        </div>
        <div class="clearfix"></div>
    </div><!-- /.panel-heading -->
    {% if app.session.flashBag.has('exito') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('exito') %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
<div class="body-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
            {#<a class="btn btn-info btn-xs" href="{{path('gestionmenu_sistema_menu_rol')}}"  ><i class="fa fa-eye"></i>  Ver Lista</a>#}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5><strong>Asignar</strong></h5>
                </div>
                <div class="panel-body">
                  {{form_start(form,{'attr':{'id':'formMenuRol','class':'form-horizontal form-group has-primary'} })}}
                    <div class="row">
                        <div class="col-md-4">
                             <h5><strong>Sistema</strong></h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>Rol</strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{form_widget(form.sistema)}}
                        </div>
                        <div class="col-md-4">
                            {{form_widget(form.rol)}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">{{ form_widget(form.guardar) }}
                        </div>

                    </div>
                     {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts%}
{{ parent() }}
<script>
    function cargarSistemaRol() {
        var id_sistema = $('#form_sistema').val();
        var formData = {id_sistema:id_sistema};
        $.ajax({
            type: 'post',
            url: "{{ path('gestionmenu_cargar_sistema_rol') }}",
            data:formData,
            beforeSend: function () {
                $("#form_rol").empty();
                $("#form_rol").append('<option value="">Buscando...</option>');

            },
            success: function (data) {
               $("#form_rol").empty();
                $("#form_rol").append('<option value="">Seleccionar...</option>');
                $.each(data.roles, function (i, value) {
                    $("#form_rol").append('<option value="' + i + '">' + value + '</option>');
                });
            }
        });
    }

</script>

{% endblock %}

