<div class="modal modal-flex fade" id="myModalSolucion" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
    <div class="modal-dialog higherWider">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="flexModalLabel">Instrucciones</h4>
            </div>
            <div class="modal-body">
                <div id="idTitulo"></div>
                <div id="idCuerpo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
{#<div class="col-md-12">
    {% if app.session.get('roluser') == 9 %}
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p><i class="fa fa-warning"></i> Estas inconsistencias debe solucionarlas con el Técnico SIE de su Distrito</p>
        </div>
    {% endif %}
</div>#}
<div class="col-md-12">
{% if lista_detalle is not empty %}
    <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
        <div class="portlet-heading">
            <div class="pull-left">
                <h4 class="portlet-title">Inconsistencias respecto a {{ regla.descripcion }}</h4>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.panel-heading -->
        <div class="portlet-body">
            <div class="panel-body panel-primary">
                <div id="no-more-tables" class="table-responsive">
                    <table class="table table-bordered table-striped table-hover cf dataTable">
                        <thead class="cf">
                            <tr>
                                <th>No.</th>
                                <th>Gestión</th>
                                <th>Observación</th>
                                <th>Unidad Educativa</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in lista_detalle %}
                                <tr>
                                    <td data-title="No.">{{ loop.index }}</td>
                                    <td data-title="Gestion">{{detalle.gestionTipo}}</td>
                                    <td data-title="Observacion">{{detalle.obs}}</td>
                                    <td data-title="Unidad Educativa">{{detalle.institucionEducativaId}}</td>
                                    <td data-title="Solucion">
                                    {% if app.session.get('roluser') != 9 %}
                                        {% if regla.id == 15 %}
                                            <button type="submit" class="btn btn-link" onclick="mostrarSolucionHistorico({{detalle.id}}, {{detalle.llave}}, {{detalle.gestionTipo}})"><i class="fa fa-eye"></i> Ver observaciones</button>
                                            {# <form action="{{path('ccalidad_omitir')}}" method="post">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Está a punto de omitir el proceso de validación del registro observado, por tanto, confirmará que la información actual es la correcta. ¿Desea continuar?');"><i class="fa fa-ban"></i> Omitir</button>
                                            </form> #}
                                        {% endif %}
                                        {% if regla.id == 2 or regla.id == 3 or regla.id == 6 or regla.id == 8 %}
                                            <form action="{{path('ccalidad_verificar')}}" method="post">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucionEducativa]" value="{{detalle.institucionEducativaId}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_solucion" name="form[solucion]" value="{{detalle.solucionTipoId}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Se realizará la verificación del estado actual de la/el estudiante observada/o. ¿Desea continuar?');"><i class="fa fa-check"></i> Verificar</button>
                                            </form>
                                        {% endif %}
                                        {% if regla.id == 1 %}
                                            <form action="{{path('maestroAsignacion')}}" method="post" target="_blank">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% endif %}
                                        {% if regla.id == 6 %}
                                            <form action="{{path('regularizacionDobleInscripcion_result')}}" method="post">
                                                <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 2 or regla.id == 20 %}
                                            <form action="{{path('sie_estudiantes_result')}}" method="post" target="_blank">
                                                <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_mode1" name="form[mode1]" value="1">
                                                <input type="hidden" id="form_mode3" name="form[mode3]" value="1">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 3 %}
                                            <form action="{{path('sie_estudiantes_result')}}" method="post" target="_blank">
                                                <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_mode3" name="form[mode3]" value="1">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 8 %}
                                            {% if detalle.solucionTipoId == 1 %}
                                                <form action="{{path('deleteInscriptionQa_index')}}" method="post"  target="_blank">
                                                    <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                    <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                    <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                    <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                    <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                                </form>
                                            {% elseif detalle.solucionTipoId == 2 %}
                                                <form action="{{path('unificacion_index_calidad')}}" method="post"  target="_blank">
                                                    <input type="hidden" id="form_idProceso" name="form[idProceso]" value="{{detalle.id}}">
                                                    <input type="hidden" id="form_rude" name="form[rude]" value="{{detalle.llave}}">
                                                    <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                    <input type="hidden" id="form_sie" name="form[sie]" value="{{detalle.institucionEducativaId}}">
                                                    <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                                </form>
                                            {% endif %}
                                        {% elseif regla.id == 16 %}
                                            {% if detalle.solucionTipoId == 2 %}
                                                <form action="{{path('reg_changestadoqa_index')}}" method="post"  target="_blank">
                                                    <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                    <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                    <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                    <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                    <input type="hidden" id="form_optionTodo" name="form[optionTodo]" value=2>
                                                    <input type="hidden" id="form_optionEliminaRude" name="form[optionEliminaRude]" value=1>
                                                    <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                                </form>
                                            {#% elseif detalle.solucionTipoId == 2 %}
                                                <form action="{{path('unificacion_index_calidad')}}" method="post"  target="_blank">
                                                    <input type="hidden" id="form_idProceso" name="form[idProceso]" value="{{detalle.id}}">
                                                    <input type="hidden" id="form_rude" name="form[rude]" value="{{detalle.llave}}">
                                                    <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                    <input type="hidden" id="form_sie" name="form[sie]" value="{{detalle.institucionEducativaId}}">
                                                    <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                                </form>#}
                                            {% endif %}
                                        {% elseif regla.id == 10 %}
                                            <form action="{{path('reg_multigrado_index')}}" method="post"  target="_blank">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 13 %}
                                            <form action="{{path('reg_changestadoqa_index')}}" method="post"  target="_blank">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                <input type="hidden" id="form_optionTodo" name="form[optionTodo]" value=1>
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 12 %}
                                            <form action="{{path('reg_changestadoqa_index')}}" method="post"  target="_blank">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                <input type="hidden" id="form_optionTodo" name="form[optionTodo]" value=2>
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% elseif regla.id == 11 %}
                                            <button type="submit" class="btn btn-link" onclick="mostrarSolucionApropiacionRudes({{regla.id}}, {{detalle.solucionTipoId}})"><i class="fa fa-eye"></i> Ver solución</button>
                                        {% endif %}
                                        {% if regla.id == 20 %}
                                            <form action="{{path('ccalidad_ratificar_edad')}}" method="post">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Está a punto de ratificar el proceso de validación del registro observado, por tanto, confirmará que la información actual es la correcta. ¿Desea continuar?');"><i class="fa fa-check"></i> Ratificar Edad</button>
                                            </form>
                                        {% endif %}
                                        {% if regla.id == 2 or regla.id == 3 or regla.id == 6 or regla.id == 8 or regla.id == 10 or regla.id == 11 or regla.id == 12 or regla.id == 20 or regla.id == 9 or regla.id == 14 %}
                                            {# <form action="{{path('ccalidad_omitir')}}" method="post">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Está a punto de omitir el proceso de validación del registro observado, por tanto, confirmará que la información actual es la correcta. ¿Desea continuar?');"><i class="fa fa-ban"></i> Omitir</button>
                                            </form> #}
                                        {% endif %}
                                    {% elseif app.session.get('roluser') == 9 %}
                                        {% if regla.id == 27 %}
                                            <form action="{{path('ccalidad_verificar')}}" method="post">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucionEducativa]" value="{{detalle.institucionEducativaId}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Se realizará la verificación del promedio actual de la/el estudiante observada/o. ¿Desea continuar?');"><i class="fa fa-check"></i> Verificar</button>
                                            </form>
                                            <form action="{{path('promedio_calidad')}}" method="post"  target="_blank">
                                                <input type="hidden" id="form_idDetalle" name="form[idDetalle]" value="{{detalle.id}}">
                                                <input type="hidden" id="form_llave" name="form[llave]" value="{{detalle.llave}}">
                                                <input type="hidden" id="form_gestion" name="form[gestion]" value="{{detalle.gestionTipo}}">
                                                <input type="hidden" id="form_institucionEducativa" name="form[institucioneducativa]" value="{{detalle.institucionEducativaId}}">
                                                <button type="submit" class="btn btn-link" onclick="return confirm('Abandonará temporalmente esta página. ¿Desea continuar?');"><i class="fa fa-forward"></i> Ir a solución</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                    {% if regla.id == 9 %}
                                        {% if detalle.solucionTipoId == 1 %}
                                            <button type="submit" class="btn btn-link" onclick="mostrarSolucionNuevoMaestro({{regla.id}}, {{detalle.solucionTipoId}})"><i class="fa fa-eye"></i> Ver solución</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-link" onclick="mostrarSolucionFinanciamientoMaestro({{regla.id}}, {{detalle.solucionTipoId}})"><i class="fa fa-eye"></i> Ver solución</button>
                                        {% endif %}
                                    {% elseif regla.id == 14 %}
                                            <button type="submit" class="btn btn-link" onclick="mostrarSolucionEliminarMaestro({{regla.id}}, {{detalle.solucionTipoId}})"><i class="fa fa-eye"></i> Ver solución</button>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div>
    <div class="modal modal-flex fade" id="myModalInconsistencias" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog higherWider">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="flexModalLabel">Inconsistencias</h4>
                </div>
                <div class="modal-body">
                    <div id="idInconsistencias"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i> No presenta inconsistencias respecto a {{ regla.descripcion }}.
    </div>
{% endif %}
</div>
{% block javascripts %}
    <script>

    var mostrarSolucionNuevoMaestro = function(reglaId, solucionId){
        var htmlTitulo = "<h4>{{ regla.descripcion }}</h4>";
        var htmlCuerpo = "<p>Paso 1.- Ingresar al sistema web academico.sie.gob.bo<br />"+
                        "Paso 2.- Ingresar al módulo Gestión Personal U.E. -> Personal Docente<br />"+
                        "Paso 3.- Ingresar el código SIE para seleccionar la U.E. con la que se trabajará<br />"+
                        "Paso 4.- Ir a la opción Nueva/o Maestra/o.<br />"+
                        "Paso 5.- Ingresar el número de carnet para realizar la búsqueda.<br />"+
                        "Paso 6.- Seleccionar la opción Inscribir.<br />"+
                        "Paso 7.- Registrar toda la información requerida en el ingreso de datos de la/el Docente.</p>";

        $('#idTitulo').html(htmlTitulo);
        $('#idCuerpo').html(htmlCuerpo);
        $('#myModalSolucion').modal('show');
    }

    var mostrarSolucionEliminarMaestro = function(reglaId, solucionId){
        var htmlTitulo = "<h4>{{ regla.descripcion }}</h4>";
        var htmlCuerpo = "<p>Paso 1.- Ingresar al sistema web academico.sie.gob.bo<br />"+
                        "Paso 2.- Ingresar al módulo Gestión Personal U.E. -> Personal Docente<br />"+
                        "Paso 3.- Identificar al maestro a eliminar.<br />"+
                        "Paso 4.- Hacer clic en el botón Eliminar (Confirmar para eliminar el registro).</p>";

        $('#idTitulo').html(htmlTitulo);
        $('#idCuerpo').html(htmlCuerpo);
        $('#myModalSolucion').modal('show');
    }

    var mostrarSolucionApropiacionRudes = function(reglaId, solucionId){
        var htmlTitulo = "<h4>{{ regla.descripcion }}</h4>";
        var htmlCuerpo = "<p>Paso 1.- Encuentre el RUDE correcto a través de la búsqueda de estudiante.<br />"+
                        "Paso 2.-  Ingresar al módulo Unidad Educativa -> Apropiación de RUDES.<br />"+
                        "Paso 3.- Introduzca el RUDE observado y el RUDE al que se llevará parte del historial.<br />"+
                        "Paso 4.- Seleccione la inscripción que moverá al RUDE correcto.</p>";

        $('#idTitulo').html(htmlTitulo);
        $('#idCuerpo').html(htmlCuerpo);
        $('#myModalSolucion').modal('show');
    }

    var mostrarSolucionFinanciamientoMaestro = function(reglaId, solucionId){
        var htmlTitulo = "<h4>{{ regla.descripcion }}</h4>";
        var htmlCuerpo = "<p>Paso 1.- Ingresar al sistema web academico.sie.gob.bo<br />"+
                        "Paso 2.- Ingresar al módulo Gestión Personal U.E. -> Personal Docente<br />"+
                        "Paso 3.- Ingresar el código SIE para seleccionar la U.E. con la que se trabajará<br />"+
                        "Paso 4.- Encontrar a la/el docente observado.<br />"+
                        "Paso 5.- Seleccionar la opción Editar.<br />"+
                        "Paso 6.- Cambiar la Fuente de Financiamiento.</p>";

        $('#idTitulo').html(htmlTitulo);
        $('#idCuerpo').html(htmlCuerpo);
        $('#myModalSolucion').modal('show');
    }

    var mostrarSolucionHistorico = function(vp_id, llave, gestion){
        var htmlTitulo = "<h4>Inconsistencias para el código RUDE: "+llave+"</h4>";
        $('#idTitulo').html(htmlTitulo);
        $.ajax({
            type: 'get',
            url: Routing.generate('ccalidad_solucion_historico', {'vp_id': vp_id, 'llave': llave, 'gestion': gestion}),
            beforeSend: function () {
                $("#idCuerpo").empty();
                $("#idCuerpo").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
            },
            success: function (data) {
                $("#idCuerpo").empty();
                $("#idCuerpo").html(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
        $('#myModalSolucion').modal('show');
    }

    var omitirSolucionHistorico = function(vp_id, llave, gestion, nivel, grado){
        if (confirm('Está a punto de omitir el proceso de validación del registro observado, por tanto, confirmará que la información actual es la correcta. ¿Desea continuar?')) {
            $.ajax({
                type: 'get',
                url: Routing.generate('ccalidad_omitir_historico', {'vp_id': vp_id, 'llave': llave, 'gestion': gestion, 'nivel': nivel, 'grado': grado}),
                beforeSend: function () {
                    $("#idCuerpo").empty();
                    $("#idCuerpo").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                },
                success: function (data) {
                    $("#idCuerpo").empty();
                    $("#idCuerpo").html(data);
                },
                statusCode: {
                    500: function () {
    
                    },
                    404: function () {
    
                    }
                }
            });
        }
    }

    </script>
{% endblock %}
