{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption%}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-globe animated flip"></i> Modificación de Datos de Lugar/Género <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-globe"></i>
                    <a href="#">
                    Modificación de Datos
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->



    {# <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Modificación de Datos
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="#">Modificar Datos</a>
                    </li>

                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div> #}


    {% for flashMessage in app.session.flashbag.get('noticemodi') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('okUpdate') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Correcto!</strong> {{ flashMessage }}
        </div>
    {% endfor %}

    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <i class="fa fa-warning"></i> MODIFICACIÓN DE DATOS DE LUGAR/GÉNERO.
            </div>

        </div>
    </div>
    <div class="body-content animated fadeIn">    
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Buscar Estudiante</h4>
                        </div>
                        <div class="panel-widgets">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="inputSizing" class="panel-collapse collapse in">
                        <div class="panel-body">


                            {{form_start(form,{ 'attr':{'id':'formStudent'} })   }}
                            <div class="row">

                                <label for="form_codigoRude" class="col-sm-2 col-sm-offset-2 control-label">Rude</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.codigoRude,{ 'attr':{'class': 'form-control','placeholder':'Inserte Rude','pattern':'[A-Z0-9]{7,18}'}  }) }}
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                            </br>
                            </br>
                            

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">

                                        {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
                                    </div>
                                </div>
                            </div>
                            {{form_end(form)}}

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            
            $("#form_buscar").click(function () {
                msg = 'Debe seleccionar:';
                sw = 0;
                if ($('#form_codigoRude').val() == '') {
                    msg = msg + '\n- Rude';
                }
                
                if (msg != 'Debe seleccionar:') {
                    alert('\n' + msg);
                    return false;
                } else {
                    $('#formStudent').submit();
                    return true;
                }
            });
        });


    </script>


{% endblock %}