{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Información de la Unidad Educativa <span>Menú Principal</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Menú Principal</li>
        </ol>
    </div>
</div>


<div class="body-content animated fadeIn">

    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Menú Principal', 'gestion': data.gestion,'sie': data.ieducativa.id, 'ieducativa': data.ieducativa.institucioneducativa, 'opcion': 'Acceso a Módulos'} %}
    {% include 'SieHerramientaBundle:Principal:onlyview.html.twig'%}

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/unidad-educativa300.jpg')}}" alt="Unidad Educativa">
                <div class="caption text-center">
                    <h4>Unidad Educativa</h4>
                    <div class="thumbnail-action">
                        {{form_start(uEducativaform)}}
                            {{form_widget(uEducativaform.next)}}
                        {{form_end(uEducativaform)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/administrativo300.jpg')}}" alt="Personal Administrativo">
                <div class="caption text-center">
                    <h4>Personal Administrativo</h4>
                    <div class="thumbnail-action">
                        {{form_start(personalAdmform)}}
                            {{form_widget(personalAdmform.next)}}
                        {{form_end(personalAdmform)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/maestros300.jpg')}}" alt="Personal Docente">
                <div class="caption text-center">
                    <h4>Personal Docente</h4>
                    <div class="thumbnail-action">
                        {{form_start(infoMaestroform)}}
                            {{form_widget(infoMaestroform.next)}}
                        {{form_end(infoMaestroform)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/estudiantes300.jpg')}}" alt="Estudiantes">
                <div class="caption text-center">
                    <h4>Estudiantes</h4>
                    <div class="thumbnail-action">
                        {{form_start(infotStudentform)}}
                            {{form_widget(infotStudentform.next)}}
                        {{form_end(infotStudentform)}}
                    </div>
                </div>
            </div>
        </div>
        {% if app.session.get('lastOperativo') != 5%}
            {% if app.session.get('ie_id') == '81981478' %}
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="{{asset('img/cambio-paralelo300.jpg')}}" alt="Institución Educativa">
                        <div class="caption text-center">
                            <h4>Cambio de Paralelo</h4>
                            <div class="thumbnail-action">
                                {{form_start(mallaCurricularform)}}
                                    {{form_widget(mallaCurricularform.next)}}
                                {{form_end(mallaCurricularform)}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="{{asset('img/closeOperativo.jpg')}}" alt="Cerrar Operativo">
                    <div class="caption text-center">
                        <h4>Cerrar Operativo</h4>
                        <div class="thumbnail-action">
                            {{form_start(closeOperativoform, { 'attr':{'id':'formCloseOperativo' }} )}}
                                {{form_widget(closeOperativoform.next)}}
                            {{form_end(closeOperativoform)}}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div id="answerClose" style="overflow: scroll; width: 100%; height:300px" class="col-lg-3 col-md-6 col-sm-12 col-xs-12"></div>
    </div>
</div>
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script>
        var closeOperativo = function(){
            if(confirm('esta seguro de cerrar el operativo?')){
                formData = $('#formCloseOperativo').serialize();
                $.ajax({
                    type: 'post',
                    url: Routing.generate('herramienta_inbox_close_operativo'),
                    data: formData,
                    beforeSend: function () {
                        $("#answerClose").empty();
                        $("#answerClose").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:70px;" /></div>');
                    },
                    success: function (data) {
                        $("#answerClose").empty();
                        $("#answerClose").append(data);
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
                });
            } else{ 
                return false;
            }
        };
    </script>
{%endblock%}
