{% extends "::layoutTramites.html.twig"%}
{% block contentBread %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{path('tramite_homepage')}}">Perfil</a>
            <i class="fa fa-angle-right"></i>
            <a >Seguimiento Trámite</a>
        </li>
    </ol>
{% endblock %}
{% block contentoption %}
    {% if listaDocumento is defined  %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-invoice rounded">
                    <div class="panel-sub-heading">
                        <div class="row inner-all">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="text-left mb-10">
                                    <h3 class="mt-0 text-primary"><strong>{{listaDocumento.paterno}} {{listaDocumento.materno}} {{listaDocumento.nombre}}</strong></h3>
                                    <address>
                                        <strong>Código rude: </strong>{{listaDocumento.rude}}<br>
                                        <strong>Código SIE: </strong>{{listaDocumento.sie}} - {{listaDocumento.gestionMatricula}}<br>
                                        <strong>Fecha de nacimiento: </strong>{{listaDocumento.fechanacimiento|date('d/m/Y') }}<br>
                                        <strong>Lugar de nacimiento: </strong>
                                            {% if listaDocumento.departamentonacimiento != "" %}{{ listaDocumento.departamentonacimiento }} - {% endif %}
                                            {{ listaDocumento.paisnacimiento }}
                                    </address>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="text-right">
                                    <h3 class="mt-0 text-primary"><strong>N° SERIE:</strong> {{listaDocumento.serie}}</h3>
                                    <address>
                                        <strong>Tipo documento: </strong> {{listaDocumento.documentoTipo}}<br>
                                        <strong>Fecha de emisión: </strong> {{listaDocumento.fechaemision|date('d/m/Y')}}<br>
                                        <strong>D.D.E. Emisor: </strong> {{listaDocumento.departamentoemision}}<br>
                                        <strong>Nro. Trámite: </strong> {{listaDocumento.tramite}}<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel-sub-heading -->
                    <div class="panel-body"> 
                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                            <div class="input-group">
                                {{ form_widget(form.serie) }}
                                <span class="input-group-btn">
                                    {{ form_widget(form.search,{ 'attr':{'class':'btn btn-lilac pull-right' } } ) }}
                                </span>
                            </div>
                        {{form_end(form)}}   
                    </div><!-- /.panel-body -->
                    <div class="panel-footer">
                        <div class="alert alert-success text-center">
                            <strong>DETALLE DE CERTIFICADOS SUPLETORIOS GENERADOS</strong>
                        </div>
                        <div class="table-responsive" style="margin-top: -1px;">
                            <table class="table table-issue-tracker table-middle table-success">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Número y Serie</th>
                                        <th>Fecha de emisión</th>
                                        <th>D.D.E. emisor</th>
                                        <th>Estado</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if listaDocumentoDetalle is defined  %}
                                        {% for detalle in listaDocumentoDetalle %}  
                                            <tr>
                                                <td>
                                                    {{ loop.index }}
                                                </td>
                                                <td>
                                                    {{ detalle.serie }}
                                                </td>
                                                <td>
                                                    <a>{{ detalle.fechaemision|date('d/m/Y') }}</a>
                                                    <p class="no-margin">
                                                        
                                                    </p>
                                                </td>
                                                <td>
                                                    {{ detalle.departamentoemision }}
                                                </td>
                                                <td>
                                                    <span class="label label-success rounded">{{ detalle.documentoEstado }}</span>
                                                </td>
                                                <td class="text-center">
                                                    <form name="form" role="form" action="{{ path('tramite_documento_supletorio_pdf') }}" method="POST"> 
                                                        <input type="hidden" name="supletorio" value="{{detalle.id|base64_encode}}"/>   
                                                        <input type="hidden" name="_token" value="{{ csrf_token(detalle.id) }}">   
                                                        <button type="submit" class="btn btn-success btn-xs" data-original-title="Descargar"><i class="fa fa-download"></i></button>   
                                                    </form> 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div><!-- /.panel-footer -->
                </div>
            </div>
        </div><!-- /.row -->
    {% endif %}
{% endblock %}
