<div class="panel-heading">
    <div class="pull-right">
        <form action="{{path('cdl_seguimiento_lista_descarga', {'codigo':codigo,'tipo':'pdf'})}}" method="post" style="display:inline-block">                            
            <button type="submit" title="Descargar en formato PDF" class="btn btn-googleplus">                                    
                <i class="fa fa-file-pdf-o"></i>
            </button>
        </form>
        <form action="{{path('cdl_seguimiento_lista_descarga', {'codigo':codigo,'tipo':'xls'})}}" method="post" style="display:inline-block">                            
            <button type="submit" title="Descargar en formato EXCEL" class="btn btn-success">                                    
                <i class="fa fa-file-excel-o"></i>
            </button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="table-responsive col-md-12">
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
            <tr>
                <th class="text-center" style="min-width:5px">No.</th>
                <th>Departamento</th>
                <th>Código de Distrito</th>
                <th>Distrito</th>
                <th>Unidad Educativa</th>
                <th>Código SIE</th>
                <th>Club de Lectura</th>
                <th>Nro. Lecturas</th>
                <th>Nro. Productos</th>
                <th>Nro. Imágenes</th>
                <th>Nro. Miembros</th>
                <th>Maestro Promotor</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="text-center" style="min-width:5px">No.</th>
                <th>Departamento</th>
                <th>Código de Distrito</th>
                <th>Distrito</th>
                <th>Unidad Educativa</th>
                <th>Código SIE</th>
                <th>Club de Lectura</th>
                <th>Nro. Lecturas</th>
                <th>Nro. Productos</th>
                <th>Nro. Imágenes</th>
                <th>Nro. Miembros</th>
                <th>Maestro Promotor</th>
            </tr>
        </tfoot>
        <tbody>
            {% for reg in entities %}
                <tr>
                    <td class="text-center" style="min-width:5px">{{loop.index}}</td>
                    <td>{{reg.departamento}} </td>
                    <td>{{reg.codigo_distrito}}</td>
                    <td>{{reg.distrito}}</td>
                    <td>{{reg.institucioneducativa}}</td>
                    <td>{{reg.id}}</td>
                    <td>{{reg.nombre_club}}</td>
                    <td>{{reg.nro_lecturas}}</td>
                    <td>{{reg.nro_productos}}</td>
                    <td>{{reg.nro_imagen}}</td>
                    <td>{{reg.nro_miembros}}</td>
                    <td>{{reg.maestro}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
