{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    Recibidos
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        
        {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Administración Personal Docente', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Personas encontradas'} %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-teal">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Resultado de la búsqueda</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if persona is not empty %}
                            <div id="no-more-tables">
                                <table class="table table-striped table-primary">
                                    <thead>
                                        <tr>
                                            <th>Carnet de Identidad</th>
                                            <th>Complemento</th>
                                            <th>Paterno</th>
                                            <th>Materno</th>
                                            <th>Nombre(s)</th>
                                            <th>Fecha Nac.</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ persona.personaCarnet }}</td>
                                            <td>{{ persona.personaComplemento }}</td>
                                            <td>{{ persona.personaPaterno }}</td>
                                            <td>{{ persona.personaMaterno }}</td>
                                            <td>{{ persona.personaNombre }}</td>
                                            <td>{{ persona.personaFechaNac|date('d-m-Y') }}</td>
                                            <td>
                                                <form action="{{path('herramienta_info_maestro_new')}}" method="post" style="display:inline-block">
                                                    <input type="hidden"  name="form[idPersona]" id="form_idPersona" value="{{persona.personaId}}">
                                                    <input type="hidden" name="form[idInstitucion]" id="form_idInstitucion"  value="{{institucion.id}}">
                                                    <input type="hidden" name="form[gestion]" id="form_gestion" value="{{gestion}}">
                                                    <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Registrar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert" id="alerta1">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                Debe registrar a la persona (la información será validada por SEGIP).
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <h4>Formulario de registro</h4>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="formVerificar">
                                            <div class="panel-body">
                                                {% include 'SieHerramientaBundle:InfoMaestro:formulario_persona.html.twig' with { 'data': data, 'form_verificar': form_verificar, 'institucion': institucion.id, 'gestion': gestion} %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="resultado"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
        function verificarPersona(){
            var formData = $('#formVerify').serialize();
            $.ajax({
                type: 'post',
                url: Routing.generate('herramienta_info_maestro_segip_verificar_persona'),
                data: formData,
                beforeSend: function () {
                    $("#alerta1").hide();
                    $("#resultado").empty();
                    $("#resultado").append("<div style='text-align:center' id='img-loading'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    $("#resultado").empty();
                    $("#resultado").append(data);
                },
                error: function(data){
                    $("#resultado").empty();
                    $("#img-loading").css('display','none');
                    $("#resultado").append("<div class='alert alert-danger'>Ocurrió un error interno.</div>");
                }
            });
        }
	</script>
{% endblock %}