<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title"> <i class="fa fa-upload"></i> Documento del proyecto</h4>
		</div>
		<form onsubmit="guardarArchivo(); return false;" id="formArchivo">
			<input type="hidden" name="id" value="{{id}}">
			<div class="modal-body">
				<div class="row">
					{% if grupo.documentoPdf1 is null or grupo.documentoPdf1 == "" %}
						<div class="alert alert-info">
							<i class="fa fa-info-circle"></i> Debe seleccionar un archivo en formato <span class="badge badge-info">pdf</span> con el contenido del proyecto.
						</div>
					    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					    	<div class="panel panel-default">
					    		<div class="panel-heading">
					    			<h3 class="panel-title">Adjuntar documento del proyecto</h3>
					    		</div>
					    		<div class="panel-body">
					    			<input type="file" id="archivo" name="archivo" class="form-control">
					    		</div>
					    	</div>
					    </div>
					{% else %}
					    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center text-primary">
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Documento</h3>
								</div>
								<div class="panel-body">
									<a id="rutaArchivo" class="text-primary" target="_blank" href="{{asset('uploads/olimpiadas/documentos/' ~ grupo.documentoPdf1 )}}">
							    		<i class="fa fa-file-pdf-o fa-5x"></i><br>
							    		Ver documento...
							    	</a>
								</div>
							</div>
					    	
					    </div>
					    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					    	<div class="panel panel-default">
					    		<div class="panel-heading">
					    			<h3 class="panel-title">Actualizar</h3>
					    		</div>
					    		<div class="panel-body">
					    			<input type="file" id="archivo" name="archivo" class="form-control">
					    		</div>
					    	</div>
					    	
					    </div>
					{% endif %}
				</div>
				{# <a href="{{ path }}" class="embed">Download file</a> #}
				
				<div id="mensajeArchivo">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-primary">
					{% if grupo.documentoPdf1 is null or grupo.documentoPdf1 == "" %}
					    Subir archivo
					{% else %}
					    Guardar cambios
					{% endif %}					
				</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		// $('a.embed').gdocsViewer();
		$('#archivo').change(function(){
		    var archivo = $('#archivo').val();
		    var extensionesPermitidas = new Array('.pdf');
		    miError = "";
		    if(!archivo){

		    }else{
		        extension = (archivo.substring(archivo.lastIndexOf("."))).toLowerCase();
		        permitida = false;
		        var mensaje = 'El archivo no es válido, debe seleccionar un archivo en formato .pdf';
		        for(var i = 0; i < extensionesPermitidas.length; i++){
		            if(extensionesPermitidas[i] == extension){
		                // Verificamos el tamño
		                var fileSize = $('#archivo')[0].files[0].size;
		                console.log(fileSize);
		                var sizeKiloByte = parseInt(fileSize / 1024);
		                console.log(sizeKiloByte);
		                if(sizeKiloByte < 1024){
		                    permitida = true
		                }else{
		                    var mensaje = 'El tamaño del archivo supera el límite permitido!\n(Tamaño máximo permitido 1024 KB)';
		                }
		                break;
		            }
		        }
		        if(!permitida){
		            alert(mensaje);
		            $('#archivo').val('');
		        }
		    }
		});
	})
	function guardarArchivo(){

		var formData = new FormData(document.getElementById("formArchivo"));
		$.ajax({
		    type: 'post',
		    data: formData,
		    dataType: 'html',
		    cache: false,
		    contentType: false,
		    processData: false,
		    url: Routing.generate('olimarchivo_upload'),
		    beforeSend: function () {
		    	$('#mensajeArchivo').removeClass('alert');
		    	$('#mensajeArchivo').removeClass('alert-success');
		    	$('#mensajeArchivo').removeClass('alert-info');
		    	$('#mensajeArchivo').removeClass('alert-danger');
		    	$('#mensajeArchivo').empty();
		        $("#mensajeArchivo").append('<div class="text-center"><img src="{{asset('img/loading-sm.gif')}}" class="" /> Subiendo archivo...</div>');
		    },
		    success: function(data){
		    	data = JSON.parse(data);
		    	$('#mensajeArchivo').empty();

		    	if(data.status == 201){
		    		$('#mensajeArchivo').addClass('alert alert-success');
		    		$('#mensajeArchivo').append('<p> <i class="fa fa-check"></i> '+data.msg+'</p>');

		    		olimArchivo(data.grupoId);

		    		// var ruta = "{{ asset('uploads/olimpiadas/documentos/') }}";

		    		// $('#rutaArchivo').attr('href', ruta + data.archivo);
		    	}
		    	if(data.status == 404){
		    		$('#mensajeArchivo').addClass('alert alert-info');
		    		$('#mensajeArchivo').append('<p> <i class="fa fa-info-circle"></i>'+data.msg+'</p>');
		    	}
		    	
		    	if(data.categoriaId != null){
		    		selectTemplateInscription(data.categoriaId);
		    	}

		    	setTimeout(function(){
		    		$('#mensajeArchivo').removeClass('alert');
			    	$('#mensajeArchivo').removeClass('alert-success');
			    	$('#mensajeArchivo').removeClass('alert-info');
			    	$('#mensajeArchivo').removeClass('alert-danger');
			    	$('#mensajeArchivo').empty();
		    	}, 2000);
		    },
		    error: function(data){
		    	$('#mensajeArchivo').empty();
		    	$('#mensajeArchivo').addClass('alert alert-danger');
		    	$('#mensajeArchivo').append('<p> <i class="fa fa-ban"></i> Debe seleccionar un archivo válido</p>');
		    }
		});
	}

</script>