{% extends 'SieRieBundle:Default:rieConsulta.html.twig' %}

{% block contentoption %}

    <div class="block-header">
        <h2>DATOS DEL INSTITUTO</h2>
    </div>

	<ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('consultains_rie')}}">Inicio</a></li>
        <li class="active">Ver Instituto Técnico/Tecnológico</li>
    </ol>

	<div class="row clearfix">
		<!-- Basic Examples -->
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2 class="col-teal">
						DATOS GENERALES
					</h2>
				</div>
				<div class="body">
					<ul class="list-group">
						<li class="list-group-item">Denominación<span class="pull-right col-blue">
							<b>{{entity.institucioneducativa}}</b></span></li>
						<li class="list-group-item">Resolución<span class="pull-right col-blue">
							<b>{{entity.nroResolucion}}</b></span></li>
						<li class="list-group-item">Fecha Resolución<span class="pull-right col-blue">
							<b>{{entity.fechaResolucion|date('d/m/Y')}}</b></span></li>
						<li class="list-group-item">Carácter Jurídico<span class="pull-right">
							<b>{{entity.dependenciaTipo.dependencia}}</b></span></li>
						<li class="list-group-item">Tipo<span class="pull-right">
							<b>{{entity.institucioneducativaTipo.descripcion}}</b></span></li>
						<li class="list-group-item">Estado<span class="pull-right">
							<b>{{entity.estadoinstitucionTipo.estadoinstitucion}}</b></span></li>
						<li class="list-group-item">Código RIE<span class="pull-right">
							<b>{{entity.id}}</b></span></li>
						<li class="list-group-item">Observaciones<span class="pull-right">
							<b>{{entity.obsRue}}</b></span></li>
						<li class="list-group-item">Historial
							<span class="pull-right">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2">
								Historial
							</button>						
							</span>
						</li>
						<li class="list-group-item">Oferta Académica
							<span class="pull-right">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
								Oferta
							</button>						
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Basic Examples -->
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2 class="col-teal">
						LOCALIZACIÓN DE LOCAL EDUCATIVO
					</h2>
				</div>
				<div class="body">
					<ul class="list-group">
						<li class="list-group-item">Departamento<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugarTipo.lugarTipo.lugar}}</b></span></li>
						<li class="list-group-item">Provincia<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugarTipo.lugar}}</b></span></li>
						<li class="list-group-item">Municipio<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugar}}</b></span></li>
						<li class="list-group-item">Cantón<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugar}}</b></span></li>
						<li class="list-group-item">Localidad<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugar}}</b></span></li>
						<li class="list-group-item">Zona<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.zona}}</b></span></li>
						<li class="list-group-item">Dirección<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.direccion}}</b></span></li>
						<li class="list-group-item">Código LE<span class="pull-right">
							<b>{{entity.leJuridicciongeografica.id}}</b></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	


	<!-- Modal de Oferta Educativa -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">OFERTA ACADÉMICA - {{entity.institucioneducativa}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Carrera</th> 
							<th>R.M.</th>  
							<th>Fecha R.M.</th>  
							<th>Nivel de Formación</th>
							<th>Tiempo de Estudios</th>
							<th>Régimen de Estudios</th>
							<th>Carga Horaria</th>
						</tr>
					</thead>
					<tbody>
						{% for oferta in ofertas %}
						<tr>
							<td>{{oferta.carrera}}</td> 
							<td>{{oferta.resolucion}}</td> 
							<td>{{oferta.fecharesol|date('d/m/Y')}}</td> 
							<td>{{oferta.nivelformacion}}</td> 
							<td>{{oferta.tiempoestudio}}</td> 
							<td>{{oferta.regimen}}</td> 
							<td>{{oferta.cargahoraria}}</td> 
						</tr>
						{% endfor %}						
					</tbody>
				</table>	

			</div>
		</div>
	</div>
	</div>

	<!-- Modal Historial -->
	<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">HISTORIAL - {{entity.institucioneducativa}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
				{% for historial in historiales %}
					<li class="list-group-item col-blue">
						<b>{{historial.nroResolucion}}</b> &nbsp; del &nbsp; <b>{{historial.fechaResolucion|date('d/m/Y')}}</b>
					</li>
					<li class="list-group-item">
						<b>DESCRIPCIÓN:</b> {{historial.descripcion}}
					</li>
					<br>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>

	</script>
{% endblock %}		