<form id="formularioAreasMaestro" class="enmarcado-formulario">
        {{form_start(form, { 'attr': {'role': "form", 'class': 'form-row form-inline center'} } )}}
        <div class="form-group col-md-4">
            {{ form_widget(form.turno, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_widget(form.nivel) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_widget(form.grado) }}
        </div>
        <div class="form-group col-md-12">
            {{ form_widget(form.asignatura) }}
        </div>
        <div class="form-group col-md-12" id="paralelos-container"></div>
        <div class="footer-form">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" onclick="guardarParaleloMaestro()">Guardar</button>
        </div>
</form>           
<!-- Tabla de áreas y paralelos -->



<!-- Tabla de áreas y paralelos -->
<table class="table" id="tabla_area_asignada">
    <thead id="thead-table-modal">
        <thead>
            <tr>
                <th>N°</th>
                <th>Turno</th>
                <th>Nivel</th>
                <th>Gra</th>
                <th>Par</th>
                <th>Área</th>
                <th>Financimiento</th>
                <th>Hrs</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for areas in areasasig %}
                <tr data-area-id="{{areas.id}}">
                    <td data-title="AN°">{{ loop.index }}</td>
                    <td data-title="ATurno">{{ areas.turno }}</td>
                    <td data-title="ANivel">{{ areas.nivel }}</td>
                    <td data-title="AGrado">{{ areas.grado }}</td>
                    <td data-title="AParalelo">{{ areas.paralelo }}</td>
                    <td data-title="AArea">{{ areas.asignatura }}</td>
                    <td data-title="AFinanciamiento">{{ areas.financiamiento }}</td>
                    <td data-title="AHoras">{{ areas.horas }}</td>
                    <td data-title="AAccion">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" onclick="eliminarAreaMaestro({{areas.id}})">
                                <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </tbody>
</table>