<form id="formularioAreasMaestro">
        {{form_start(form, { 'attr': {'role': "form", 'class': 'form-row form-inline center'} } )}}
        <div class="form-group col-md-3">
            {{ form_widget(form.turno, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_widget(form.nivel) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_widget(form.grado) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_widget(form.asignatura) }}
        </div>
</form>           
<!-- Tabla de áreas y paralelos -->
<table class="table" id="table_add_area"> 
    <thead id="thead-table-modal">
        <tr>
            <th class="custom-table-header">Áreas</th>
            <th colspan="3" class="custom-table-header">Paralelos</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Matemáticas</td>
            <td class="custom-checkbox">
                <input type="checkbox" id="paraleloA">
                <label for="paraleloA" class="custom-checkbox-label">A</label>
            </td>
            <td class="custom-checkbox">
                <input type="checkbox" id="paraleloB">
                <label for="paraleloB" class="custom-checkbox-label">B</label>
            </td>
            <td class="custom-checkbox">
                <input type="checkbox" id="paraleloC">
                <label for="paraleloC" class="custom-checkbox-label">C</label>
            </td>
        </tr>
    </tbody>
</table>
<div class="footer-form">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" onclick="guardarAreasMaestro()">Guardar</button>
</div>

<!-- Tabla de áreas y paralelos -->
<table class="table" id="tabla_area_asignada">
    <thead id="thead-table-modal">
        <thead>
            <tr>
                <th>N°</th>
                <th>Turno</th>
                <th>Nivel</th>
                <th>Grado</th>
                <th>Paralelo</th>
                <th>Área</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for areas in areasasig %}
                <tr data-area-id="{{areas.id}}">
                    <td data-title="AN°">{{ loop.index }}</td>
                    <td data-title="ATurno">{{ areas.turno }}</td>
                    <td data-title="ANivel">{{ areas.nivel }}</td>
                    <td data-title="AGrado">{{ areas.grado }}</td>
                    <td data-title="AParalelo">{{ areas.paralelo }}</td>
                    <td data-title="AArea">{{ areas.asignatura }}</td>
                    <td data-title="AAccion">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" onclick="eliminarAreaMaestro({{areas.id}})">
                                <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </tbody>
</table>