{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Gestión Maestro - Planilla </h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        

        <header class="navbar navbar-default" style="background-color: #297e96; padding: 20px; border-radius: 8px 8px 0 0; text: #969696">
            <div class="container" >
                <div class="navbar-header">
                <h1 style="color: white; margin-top: 0;"><strong>Gestión Maestro - Planilla</strong></h1>
                <p style="color: white; margin-top: 0;"><strong>Gestión: {{ gestion }}</strong></p>
                <p style="color: white; margin-top: 0;"><strong>SIE: {{ institucion.id }}</strong></p>
                <p style="color: white; margin-top: 0;"><strong>Institución Educativa: {{institucion.institucioneducativa }}</strong></p>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-success active">MESES</a>
                        <input type="hidden" id="planillaMes" name="planillaMes" value="{{mesid}}">
                        {% for mes in meses %}
                            <a href="#" onclick="cargaPlanillaMes({{mes.id}})" class="list-group-item" style="{{ mes.id == mesid ? 'background-color: #F6BB42; color: white' : '' }}" data-month="{{mes.id}}">{{mes.mes|upper}}</a>
                        {% endfor %}
                </div>
            </div>
            <input type="hidden" id="swop" name="swop" value="{{sw}}">
            <div id="loading-bar" class="progress" style="display: none;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="col-lg-10">
                <div class="panel rounded shadow panel-primary">
                    <div class="panel-heading">
                         <div class="pull-left">
                              <h3 class="panel-title">Maestros ratificados con la planilla mes <span id="mes-nombre">{{ mes|upper }}</span> (gestión {{ gestion }})</h3>
                         </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="alert alert-success" id="msgop" role="alert" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="glyphicon glyphicon-ok"></i> CERRO CORRECTAMENTE EL OPERATIVO DEL MES DE <span id="mes-nombre-ope">{{ mes|upper }}</span> (gestión {{ gestion }})
                        </div>
                        <div class="alert alert-danger" id="msgfop" role="alert" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="glyphicon glyphicon-alert"></i> FINALIZO EL OPERATIVO DEL MES DE <span id="mes-nombre-f-ope">{{ mes|upper }}</span> (GESTIÓN {{ gestion }}) Y NO CERRO SU OPERATIVO.
                        </div>
                        <div class="panel-body" id="opcionesbtn" style="display: none;">
                            <div class="pull-right">
                                    <button type="button" class="btn btn-sm btn-warning" id="btnCerrarOperativo" onclick="cerrarOperativo({{institucion.id}},{{gestion}},'{{mes}}',{{mesid}})">
                                        <span class="glyphicon glyphicon-book"></span> Cerrar Operativo
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success" id="btnNuevoMaestro" onclick="nuevoMaestro()">
                                        <span class="glyphicon glyphicon-plus"></span> Adiconar Maestro
                                    </button>
                            </div>
                        </div>
                            <div id="loadingbuscar" style="display: none;">
                                <div  class="text-center">
                                    <img src="{{asset('img/loading.gif')}}" alt=""> Buscando...
                                </div>              
                            </div>   
                            <div class="panel-body" id="dataplanillames" style="display: none;">
                                <div class="panel-body panel-primary">     
                                
                                    <div id="no-more-tables">
                                    {# <form method ="POST" action="{{path('herramienta_info_maestro_ratificar')}}" name="form" id="form"> #}
                                        {# <input type="hidden" id="ratificarMaestro_sie" name="ratificarMaestro[sie]" value="{{institucion.id}}"> #}
                                        {# <input type="hidden" id="ratificarMaestro_gestion" name="ratificarMaestro[gestion]" value="{{gestion}}"> #}
                                        <table class="table table-primary table-striped custom-pagination" id="tabla-maestros">
                                            <thead>
                                                <tr>
                                                    <th style="min-width: 5px;">N°</th>
                                                    <th>C.Identidad</th>
                                                    <th>Nombre</th>
                                                    <th>Financiamiento</th>
                                                    <th>Servicio</th>
                                                    <th>Item</th>
                                                    <th>Estado</th>
                                                    <th>Observacion</th>
                                                    <th>Acciones</th>
                                                    </tr>
                                            </thead>
                                            {% if maestro is not empty %}
                                            <tbody>
                                                {% for maestro in maestro %}
                                                    <tr data-maestro-id="{{maestro.id}}">
                                                        <td data-title="N°">{{ loop.index }}</td>
                                                        <td data-title="Carnet">{{ maestro.ci }}</td>
                                                        <td data-title="Nombre">{{ maestro.apellidos_nombre }}</td>
                                                        <td data-title="Financiamiento">{{ maestro.financiamiento_sie }}</td>
                                                        <td data-title="Servicio">{{ maestro.servicio }}</td>
                                                        <td data-title="Item">{{ maestro.item }}</td>
                                                        <td data-title="Solucion">
                                                            {% if maestro.solucion_comparacion_planilla_tipo_id == 1 %}
                                                                <span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Ratificado</span>
                                                            {% elseif maestro.solucion_comparacion_planilla_tipo_id == 2 %}
                                                            <span class="badge badge-danger"><i class="fa fa-fw fa-close"></i> Eliminado</span>
                                                            {% elseif maestro.solucion_comparacion_planilla_tipo_id == 3 %}
                                                            <span class="badge badge-info"><i class="fa fa-fw fa-user-plus"></i> Nuevo</span>
                                                            {% endif %}
                                                        </td>
                                                        <td data-title="Observacion">{{ maestro.observacion }}</td>
                                                        <td data-title="Acciones">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-sm btn-success" onclick="confirmarMaestro({{maestro.id}})">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-danger" onclick="eliminarMaestro({{maestro.id}})">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-warning" onclick="areasMaestro({{maestro.id}}, '{{ maestro.apellidos_nombre }}')">
                                                                    <i class="fa fa-user"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            {# {% else %}
                                                No hay Maestros a ratificar #}
                                            {% endif %} 
                                        </table>
                                    {# </form> #}
                                    </div>
                            </div>
                        </div>
                </div>
            </div> 
        </div>
    </div> 

    <!-- Modal para la edición -->
    <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editarModalLabel">Editar Maestro</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para la nuevo MAESTRO-->
    <div class="modal fade" id="nuevoModal" tabindex="-1" role="dialog" aria-labelledby="nuevoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title custom-modal-title" id="modalFormularioLabel">AGREGAR NUEVO MAESTRO</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="modalalert" style="display: none;">
                    </div>
                    <div id="BusquedaMaestro">
                        <form id="formularioBuscarMaestro" class="enmarcado-formulario">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="ci">CI:</label>
                                    <input type="text" class="form-control" id="ci" name="ci" placeholder="Ingrese CI" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="complemento">Complemento:</label>
                                    <input type="text" class="form-control" id="complemento" name="complemento">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="apellidoPaterno">Apellido Paterno:</label>
                                    <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="apellidoMaterno">Apellido Materno:</label>
                                    <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="nombres">Nombres:</label>
                                    <input type="text" class="form-control" id="nombres" name="nombres" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
                                </div>
                                <div class="form-group col-md-9">
                                    <label>Tipo de Carnet:</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipoCarnet" id="ciNacional" value="1" checked>
                                        <label class="form-check-label" for="ciNacional">Carnet de Identidad Nacional</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipoCarnet" id="ciExtranjero" value="2">
                                        <label class="form-check-label" for="ciExtranjero">Carnet de Identidad Extranjero (Comienza con 'E')</label>
                                    </div>
                                </div>
                            </div>
                            <div id="finobs" style="display: none;">
                                <div id="financiamiento">
                                    <label for="financiamientonew">Financiamiento:</label>
                                    <select class="form-control" id="financiamientonew" name="financiamiento" required>
                                    </select>
                                </div>
                                <div>
                                    <label for="observacionnew">Observación:</label>
                                    <input type="text" class="form-control" id="observacionnew" name="observacion" >
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="guardarBtn" onclick="guardarMaestro()" style="display: none;"><i class="fa fa-save"></i> Guardar </button>
                    <button type="button" class="btn btn-primary" id="buscarBtn" onclick="buscarMaestro()" ><i class="fa fa-search"></i> Buscar </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para la ratificar -->
    <div class="modal fade" id="ratificarModal" tabindex="-1" role="dialog" aria-labelledby="ratificarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                <div class="modal-header custom-modal-header-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ratificarModalLabel">Ratificar Maestro</h4>
                </div>
                <div class="modal-body">
                    <form id="ratificaForm">
                        <div id="financiamiento">
                            <label for="financiamiento">Financiamiento:</label>
                            <select class="form-control" id="financiamientorat" name="financiamientorat">
                            </select>
                        </div>
                        <div id="funcion">
                            <label for="financiamiento">Cargo:</label>
                            <select class="form-control" id="cargo" name="cargo">
                                <option>MAESTRA/O</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="ratificaMaestro()">Ratificar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal para la eliminación -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                <div class="modal-header custom-modal-header-delete">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="eliminarModalLabel">Eliminar Maestro</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tipoEliminacion">Eliminado por:</label>
                        <select class="form-control" id="tipoEliminacion" name="tipoEliminacion">
                            <option value="">Seleccionar</option>
                            {% for eliminaTipo in eliminaTipo %}
                                <option value="{{ eliminaTipo.id }}">{{ eliminaTipo.razonElimina }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                    <!-- Formulario de justificación de eliminación -->
                    <form id="justificacionForm">
                        <div class="form-group">
                            <label for="justificacion">Justificación:</label>
                            <textarea class="form-control" id="justificacion" name="justificacion" rows="4" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="confirmaEliminarMaestro()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar areas -->
    <div class="modal fade" id="modalAreasMaestro" tabindex="-1" role="dialog" aria-labelledby="modalAreasMaestroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                <div class="modal-header custom-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title custom-modal-title" id="modalAreasMaestroLabel">ASIGNAR ÁREAS A </h4>
                </div>
                <div class="modal-body">
                    <!-- Contenido del formulario -->
                    <div id="resultado"></div>
                </div>   
            </div>            
        </div>
    </div>

    <!-- Modal Casos Observados -->
    <div class="modal fade" id="modalCerrarOperativo" tabindex="-1" role="dialog" aria-labelledby="modalCerrarOperativoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                <div class="modal-header custom-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalCerrarOperativoLabel">U.E. {{institucion.id}} {{institucion.institucioneducativa }} - {{mes|upper}} </h4>
                </div>
                <div class="modal-body">
                    <!-- Contenido del formulario -->
                    <div id="resultadoobs"></div>
                </div>   
            </div>            
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
    <script>
        
        var maestroId;
        var tablaMaestros;
        var planillaMes
   
        $(document).ready(function() {
            
            var sw = $('#swop').val(); // Obtener el valor de sw
        
            if (sw === "1") {
                $("#msgop").show();
            } else if (sw === "2") {
                $("#msgfop").show();
            } else if (sw === "0") {
                $("#opcionesbtn").show();
                $("#dataplanillames").show();
            }
            
            $("#loadingbuscar").hide();
            tablaMaestros = $('#tabla-maestros').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Opcional: Para traducir las etiquetas de DataTables al español
                },
                "columnDefs": [
                    { "width": "5%", "targets": 0 }
                ]
            });
        });

        
        function cargaPlanillaMes(mesid) {
            // console.log(mesid);
            var listItems = document.querySelectorAll('.list-group-item');

            listItems.forEach(function (item) {
                item.style.backgroundColor = '';
                item.style.color = '';
            });

            var selectedListItem = document.querySelector('[data-month="' + mesid + '"]');
            selectedListItem.style.backgroundColor = '#F6BB42';
            selectedListItem.style.color = 'white';

            $("#loadingbuscar").show();
            $('#dataplanillames').hide();
            $("#msgop").hide();
            $("#msgfop").hide();
            $("#opcionesbtn").hide();

            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_mes'),
                data: { mes: mesid },
                success: function (data) {
                    var maestros = data.maestro;
                    var mesId = data.mesid;
                    var mesNombre = data.mes;
                    var sw = data.sw;
                    console.log(sw);
                    if (sw === 1) {
                        $("#msgop").show();
                        $('#mes-nombre-ope').text(mesNombre.toUpperCase());
                    } else if (sw === 2) {
                        $("#msgfop").show();
                        $('#mes-nombre-f-ope').text(mesNombre.toUpperCase());
                    } else if (sw === 0) {
                        // Vaciar la tabla y destruir el DataTable existente
                        $('#tabla-maestros').DataTable().clear().destroy();

                        // Limpiar el cuerpo de la tabla
                        $('#tabla-maestros tbody').empty();

                        for (var i = 0; i < maestros.length; i++) {
                            var maestro = maestros[i];
                            var newRow = $('<tr data-maestro-id="' + maestro.id + '"></tr>');

                            newRow.append('<td data-title="N°">' + (i + 1) + '</td>');
                            newRow.append('<td data-title="Carnet">' + maestro.ci + '</td>');
                            newRow.append('<td data-title="Nombre">' + maestro.apellidos_nombre + '</td>');
                            newRow.append('<td data-title="Financiamiento">' + maestro.financiamiento_sie + '</td>');
                            newRow.append('<td data-title="Servicio">' + maestro.servicio + '</td>');
                            newRow.append('<td data-title="Item">' + maestro.item + '</td>');
                            switch (maestro.solucion_comparacion_planilla_tipo_id) {
                                case 1:
                                    newRow.append('<td data-title="Solucion"><span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Ratificado</span></td>');
                                    break;
                                case 2:
                                    newRow.append('<td data-title="Solucion"><span class="badge badge-danger"><i class="fa fa-fw fa-close"></i> Eliminado</span></td>');
                                    break;
                                case 3:
                                    newRow.append('<td data-title="Solucion"><span class="badge badge-info"><i class="fa fa-fw fa-user-plus"></i> Nuevo</span></td>');
                                    break;
                                default:
                                    newRow.append('<td data-title="Solucion"></td>');
                                    break;
                            }
                            newRow.append('<td data-title="Observacion">' + maestro.observacion + '</td>');
                            newRow.append(`<td data-title="Acciones">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-success" onclick="confirmarMaestro(${maestro.id})">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="eliminarMaestro(${maestro.id})">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-warning" onclick="areasMaestro(${maestro.id}, '${maestro.apellidos_nombre}')">
                                        <i class="fa fa-user"></i>
                                    </button>
                                </div>
                            </td>`);
                            $('#tabla-maestros tbody').append(newRow);
                        }
                        
                        // Reconstruir el DataTable con las nuevas configuraciones
                        tablaMaestros = $('#tabla-maestros').DataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                            },
                            "columnDefs": [
                                { "width": "5%", "targets": 0 }
                            ]
                        });
                    
                    // Mostrar la tabla y ocultar la barra de carga
                        $("#opcionesbtn").show();
                        $('#dataplanillames').show();
                        
                        $('#btnCerrarOperativo').attr('onclick', 'cerrarOperativo({{ institucion.id }}, {{ gestion }}, "' + mesNombre + '", ' + mesId + ')');
                       
                    
                    }
                    $('#mes-nombre').text(mesNombre.toUpperCase());
                    $("#loadingbuscar").hide();
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    $("#loadingbuscar").show();
                    console.log('Error en la petición AJAX:', error);
                }
            });
        }


        function confirmarMaestro(id) {
            maestroId = id;
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_financiamiento', { 'id': id }),
                success: function (data) {
                    var defaultOption = '<option value="'+data.financiamientoant.id+'">'+data.financiamientoant.financiamiento+'</option>';
                    var financiamientoCombo = $('#financiamientorat');
                    financiamientoCombo.empty();
                    financiamientoCombo.append(defaultOption);

                    $.each(data.financiamiento, function (id, financiamiento) {
                        var option = $('<option>', {
                            value: id,
                            text: financiamiento
                        });
                        financiamientoCombo.append(option);
                    });

                    $('#ratificarModal').modal('show');
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
        }


        function ratificaMaestro() {
            var finid = $('#financiamientorat').val();
            console.log(finid);
            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_confirma', {'id': maestroId}),
                data: { financiamiento: finid },
                success: function (data) {
                    console.log(data);
                    
                    actualizarFilaEnTabla(data);
                    $('#ratificarModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                    
                }
            });
        }

        function confirmaEliminarMaestro() {
            var justificacion = $('#justificacion').val();
            var tipoEliminacion = $('#tipoEliminacion').val();
            if(justificacion && tipoEliminacion) {
            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_elimina', { id: maestroId }),
                data: { 
                    justificacion: justificacion,
                    tipoEliminacion: tipoEliminacion 
                },
                success: function (data) {
                    actualizarFilaEnTabla(data);
                    $('#eliminarModal').modal('hide');
                    $('#justificacion').val('');
                    $('#tipoEliminacion').val('');
                },
                error: function (xhr, status, error) {
                    // Manejar errores si es necesario
                }
            });
            } else {
                alert('Por favor, complete ambos campos.');
            }
        }


        function eliminarMaestro(id) {
            maestroId = id;
            $('#eliminarModal').modal('show');
        }

        function nuevoMaestro(){
            $('#nuevoModal').modal('show');
        }

        function actualizarFilaEnTabla(data) {
            // Obtener el id del maestro actualizado
            maestroId = data.id;

            // Buscar la fila correspondiente en la tabla por el id del maestro
            var fila = $('#tabla-maestros').find('tr[data-maestro-id="' + maestroId + '"]');

            // Actualizar los datos de la fila con los nuevos datos del maestro
            switch (data.solucion_comparacion_planilla_tipo_id) {
                case 1:
                    fila.find('td[data-title="Solucion"]').html('<span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Ratificado</span>');
                    break;
                case 2:
                    fila.find('td[data-title="Solucion"]').html('<span class="badge badge-danger"><i class="fa fa-fw fa-close"></i> Eliminado</span>');
                    break;
                default:
                    fila.find('td[data-title="Solucion"]').html('<span class="badge badge-info"><i class="fa fa-fw fa-user-plus"></i> Nuevo</span>');
                    break;
            }
                                                           
            fila.find('td[data-title="Observacion"]').text(data.observacion);
            fila.find('td[data-title="Financiamiento"]').text(data.financimientonew);

            // Opcionalmente, agregar clases CSS para resaltar la fila actualizada
        }

        function areasMaestro(id, maestro) {
            maestroId = id;
            // Mostrar el modal para asignar area
            $('#modalAreasMaestro').modal('show');

            // Llamar a la función para cargar los turnoss
            
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_areas', {'id': maestroId }),
                success: function (data) {
                    // console.log(data);
                    $('#modalAreasMaestroLabel').text('ASIGNAR ÁREAS A ' + maestro);   
                    $("#resultado").append(data);     
                    // actualizarFilaEnTabla(data);
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
            
        }

        $('#modalAreasMaestro').on('hidden.bs.modal', function (e) {
            $("#resultado").empty();
        });

        
        function cargarNiveles() {
            var turno = document.getElementById('form_turno').value;
            $("#paralelos-container").empty();
            $("#form_grado").empty();
            $("#form_asignatura").empty();
            $("#form_nivel").empty();
            if(turno == null || turno == "" || turno == 0){
                return false;
            }
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_nivel', {'turno': turno}),
                success: function (data) {            
                    $("#form_nivel").empty();
                    $("#form_nivel").append('<option value="">Sel. Nivel</option>');
                    $("#form_grado").append('<option value="">Sel. Grado</option>');
                    $("#form_asignatura").append('<option value="">Sel. Áreas</option>');
                    for (var i in data.niveles) {
                        $("#form_nivel").append('<option value="' + data.niveles[i].id + '">' + data.niveles[i].nivel.toUpperCase() + '</option>');
                    }
                },
                error: function(error){            
                    alert("Error, no existe informacion para el turno seleccionado");        
                    $("#form_nivel").empty();
                },
            });   

        }

        function cargarGrados() {
            var turno = document.getElementById('form_turno').value;
            var nivel = document.getElementById('form_nivel').value;
            $("#paralelos-container").empty();
            $("#form_asignatura").empty();
            $("#form_grado").empty();
            if(nivel == null || nivel == "" || nivel == 0){
                return false;
            }
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_grado', {'turno': turno, 'nivel': nivel}),
                success: function (data) {            
                    
                        $("#form_grado").empty();
                        $("#form_grado").append('<option value="">Sel. Grado</option>');
                        $("#form_asignatura").append('<option value="">Sel. Áreas</option>');
                        for (var i in data.grados) {
                            $("#form_grado").append('<option value="' + data.grados[i].id + '">' + data.grados[i].grado.toUpperCase() + '</option>');
                        }
                                        
                },
                error: function(error){      
                    alert("Error, no existe informacion para el nivel seleccionado"); 
                        $("#form_grado").empty();
                        $("#form_asignatura").empty();
                },      
                    
            });
        }

        function cargarAsignaturas(){
            var turno = document.getElementById('form_turno').value;
            var nivel = document.getElementById('form_nivel').value;
            var grado = document.getElementById('form_grado').value;
            $("#paralelos-container").empty();
            $("#form_asignatura").empty();
            if(grado == null || grado == "" || grado == 0){
                return false;
            }
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_asignatura', {'turno': turno, 'nivel': nivel, 'grado': grado}),
                success: function (data) {            
                    
                        $("#form_asignatura").empty();
                        $("#form_asignatura").append('<option value="">Sel. Áreas</option>');
                        for (var i in data.asignatura) {
                            $("#form_asignatura").append('<option value="' + data.asignatura[i].id + '">' + data.asignatura[i].asignatura.toUpperCase() + '</option>');
                        }
                                        
                },
                error: function(error){      
                    alert("Error, no existe informacion para el nivel seleccionado"); 
                        $("#form_asignatura").empty();
                },      
                    
            });
        }

        // JavaScript: Función para cargar los paralelos
        function cargarParalelos() {
            var turno = document.getElementById('form_turno').value;
            var nivel = document.getElementById('form_nivel').value;
            var grado = document.getElementById('form_grado').value;
            var asignatura = document.getElementById('form_asignatura').value;
            if (asignatura == null || asignatura == "" || asignatura == 0) {
                return false;
            }

            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_info_maestro_planilla_paralelos', { 'turno': turno, 'nivel': nivel, 'grado': grado, 'asignatura': asignatura }),
                success: function (data) {
                    // console.log(data);
                    var paralelosContainer = $("#paralelos-container");
                    paralelosContainer.empty(); // Vaciar el contenedor antes de agregar los paralelos
                    var paralelosLine = $('<div class="paralelos-line"></div>');
                    console.log (data.financiamiento_par)
                    for (var i = 0; i < data.paralelos.length; i++) {
                        var paralelo = data.paralelos[i];
                        var paraleloElement = `
                            <div class="paralelo-item">
                                <div class="form-check form-check-inline col-md-3">
                                    <input type="checkbox" class="form-check-input" id="paralelo${paralelo.id}" value="${paralelo.id}">
                                    <label class="form-check-label" for="paralelo${paralelo.id}">Paralelo ${paralelo.paralelo}</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="financiamiento${paralelo.id}" disabled>
                                        <option value="">Seleccione Financiamiento</option>
                                        ${generateFinanciamientoOptions(data.financiamiento_par)}
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" class="form-control" id="horas${paralelo.id}" placeholder="Horas" disabled>
                                </div>
                            </div>`;
                        paralelosLine.append(paraleloElement);

                    }
                    $("input[type='checkbox']").on("click", function () {
                        var isChecked = $(this).is(":checked");
                        var paraleloId = $(this).val();
                        $(`#financiamiento${paraleloId}`).prop("enabled", !isChecked);
                        $(`#horas${paraleloId}`).prop("enabled", !isChecked);
                    });
                    paralelosContainer.append(paralelosLine); 
                    },
                error: function (error) {
                    alert("Error, no existe información para el nivel seleccionado");
                    $("#form_asignatura").empty();
                },

            });
            $(document).on("click", "input[type='checkbox']", function () {
                var isChecked = $(this).is(":checked");
                var paraleloId = $(this).val();
                $(`#financiamiento${paraleloId}`).prop("disabled", !isChecked);
                $(`#horas${paraleloId}`).prop("disabled", !isChecked);
            });
        }

        function generateFinanciamientoOptions(financiamientoData) {
            var options = '';
            for (var key in financiamientoData) {
                if (financiamientoData.hasOwnProperty(key)) {
                    options += `<option value="${key}">${financiamientoData[key]}</option>`;
                }
            }
            return options;
        }

        function resetFormFields() {
            $('#formularioBuscarMaestro')[0].reset();
            $("#resultadonuevo").empty();
            $('#modalalert').hide();
            $('#guardarBtn').hide();
            $('#finobs').hide();
            $('#buscarBtn').show();
            $("#paralelos-container").empty();
        }

        // Add event listener to the modal
        $('#nuevoModal').on('hidden.bs.modal', function () {
            resetFormFields();
            $('#ci').prop('disabled', false);
            $('#complemento').prop('disabled', false);
            $('#apellidoPaterno').prop('disabled', false);
            $('#apellidoMaterno').prop('disabled', false);
            $('#nombres').prop('disabled', false);
            $('#fechaNacimiento').prop('disabled', false);
            $('input[name="tipoCarnet"]').prop('disabled', false);
            $('#financiamientonew').empty();
            $("#paralelos-container").empty();
        });

        function buscarMaestro(){
            var formData = $('#formularioBuscarMaestro').serialize();
            $('#modalalert').hide();
            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_valida'),
                data: formData,
                success: function (data) {
                    console.log(data.financiamiento);
                    if (data.mensaje !== "") {
                        $('#modalalert').html('<i class="fa fa-warning"></i>'+data.mensaje);
                        $('#modalalert').show();
                        $('#finobs').hide();
                        $('#guardarBtn').hide();
                    } else {
                        $('#finobs').show();
                        $('#guardarBtn').show();
                        $('#buscarBtn').hide();
                        // Deshabilitar los campos del formulario
                        $('#ci').prop('disabled', true);
                        $('#complemento').prop('disabled', true);
                        $('#apellidoPaterno').prop('disabled', true);
                        $('#apellidoMaterno').prop('disabled', true);
                        $('#nombres').prop('disabled', true);
                        $('#fechaNacimiento').prop('disabled', true);
                        $('input[name="tipoCarnet"]').prop('disabled', true);
                        $('#financiamientonew').empty();

                        var defaultOption = $('<option>', {
                            value: '',
                            text: 'Seleccionar financiamiento'
                        });
                        $('#financiamientonew').append(defaultOption);
                        for (var id in data.financiamiento) {
                            var option = $('<option>', {
                                value: id,
                                text: data.financiamiento[id] 
                            });
                        $('#financiamientonew').append(option);
                        }
                        
                    }
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
        }

        function guardarMaestro(){
            console.log('tc '+tablaMaestros.rows().count());
            var ci = $('#ci').val();
            var complemento = $('#complemento').val();
            var nombres = $('#nombres').val();
            var apellidoPaterno = $('#apellidoPaterno').val();
            var apellidoMaterno = $('#apellidoMaterno').val();
            var fechaNacimiento = $('#fechaNacimiento').val();
            var financiamiento = $('#financiamientonew').val();
            var observacion = $('#observacionnew').val();
            $('#modalalert').hide();
            var financiamiento = $('#financiamientonew').val();

            if (financiamiento.trim() === '') {
                $('#modalalert').html('<i class="fa fa-warning"></i>Seleccione financiamiento');
                $('#modalalert').show();
            }
            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_guarda_nuevo_maestro'),
                data: {
                        ci: ci,
                        complemento: complemento,
                        nombres: nombres,
                        apellidoPaterno: apellidoPaterno,
                        apellidoMaterno: apellidoMaterno,
                        fechaNacimiento: fechaNacimiento,
                        financiamiento: financiamiento,
                        observacion: observacion
                        },
                success: function (data) {
                    $('#ci').prop('disabled', false);
                    $('#complemento').prop('disabled', false);
                    $('#apellidoPaterno').prop('disabled', false);
                    $('#apellidoMaterno').prop('disabled', false);
                    $('#nombres').prop('disabled', false);
                    $('#fechaNacimiento').prop('disabled', false);
                    $('input[name="tipoCarnet"]').prop('disabled', false);
                    $('#financiamientonew').empty();

                    $('#nuevoModal').modal('hide');
                    var maestro = data[0];
                    var nuevoMaestro = {
                        id: maestro.id,
                        ci: maestro.ci,
                        nombre: maestro.apellidos_nombre,
                        financiamiento: maestro.financiamiento_sie,
                        servicio: maestro.servicio,
                        item: maestro.item,
                        estado: maestro.solucion,
                        observacion: maestro.observacion,
                        
                    };
                    var accionesHTML = `
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-success" onclick="confirmarMaestro(${maestro.id})">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="eliminarMaestro(${maestro.id})">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-warning" onclick="areasMaestro(${maestro.id}, '${maestro.apellidos_nombre}')">
                                <i class="fa fa-user"></i>
                            </button>
                        </div>
                    `;

                    // Agregamos el nuevo registro a la tabla
                    
                    var newRow = tablaMaestros.row.add([
                        tablaMaestros.rows().count() + 1, // Número de registros en la tabla + 1 (nuevo registro)
                        nuevoMaestro.ci,
                        nuevoMaestro.nombre,
                        nuevoMaestro.financiamiento,
                        nuevoMaestro.servicio,
                        nuevoMaestro.item,
                        `<span class="badge badge-info"><i class="fa fa-fw fa-user-plus"></i> Nuevo</span>`,
                        nuevoMaestro.observacion,
                        accionesHTML,
                    ]).draw(false);
                    var newRowNode = newRow.node();
                    $(newRowNode).attr('data-maestro-id', maestro.id);
                    $(newRowNode).find('td').eq(0).attr('data-title', 'N°');
                    $(newRowNode).find('td').eq(1).attr('data-title', 'Carnet');
                    $(newRowNode).find('td').eq(2).attr('data-title', 'Nombre');
                    $(newRowNode).find('td').eq(3).attr('data-title', 'Financiamiento');
                    $(newRowNode).find('td').eq(4).attr('data-title', 'Servicio');
                    $(newRowNode).find('td').eq(5).attr('data-title', 'Item');
                    $(newRowNode).find('td').eq(6).attr('data-title', 'Solucion');
                    $(newRowNode).find('td').eq(7).attr('data-title', 'Observacion');
                    $(newRowNode).find('td').eq(8).attr('data-title', 'Acciones');
                    
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
        }

        function guardarParaleloMaestro(){
            // console.log(maestroId);
            var turno = document.getElementById('form_turno').value;
            var nivel = document.getElementById('form_nivel').value;
            var grado = document.getElementById('form_grado').value;
            var asignatura = document.getElementById('form_asignatura').value;

            var checkboxesSeleccionados = $("input[type='checkbox']:checked");
            var paralelosSeleccionados = [];
            
            checkboxesSeleccionados.each(function() {
                var paraleloId = $(this).val();
                var paraleloNombre = $(`label[for="paralelo${paraleloId}"]`).text().trim().replace("Paralelo", "");
                // Verificar financiamiento y horas
                var financiamientoValue = $(`#financiamiento${paraleloId}`).val();
                var horasValue = $(`#horas${paraleloId}`).val();
                console.log(horasValue);
                if (!financiamientoValue || parseFloat(horasValue) <= 0) {
                    alert(`Debe seleccionar financiamiento y especificar horas válidas para el PARALELO ${paraleloNombre}`);
                    return; // Abortar el proceso si hay error en financiamiento o horas
                }
                
                paralelosSeleccionados.push({
                    id: paraleloId,
                    financiamiento: financiamientoValue,
                    horas: horasValue
                });
            });
            
            // console.log(paralelosSeleccionados);

            
            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_guarda_paralelo'),
                data: {
                        esp: maestroId,
                        turno: turno,
                        nivel: nivel,
                        grado: grado,
                        asignatura: asignatura,
                        paralelos: paralelosSeleccionados
                        },
                success: function (data) {
                    // console.log(data);
                    var tablaAreaAsignada = $('#tabla_area_asignada tbody');
                    tablaAreaAsignada.empty();

                    // Recorrer los datos recibidos y agregar las filas a la tabla
                    for (var i = 0; i < data.asignaturamaestro.length; i++) {
                        var area = data.asignaturamaestro[i];
                        var fila = `
                            <tr data-area-id="${area.id}">
                                <td data-title="AN°">${i + 1}</td>
                                <td data-title="ATurno">${area.turno}</td>
                                <td data-title="ANivel">${area.nivel}</td>
                                <td data-title="AGrado">${area.grado}</td>
                                <td data-title="AParalelo">${area.paralelo}</td>
                                <td data-title="AArea">${area.asignatura}</td>
                                <td data-title="AFinanciamiento">${area.financiamiento}</td>
                                <td data-title="AHoras">${area.horas}</td>
                                <td data-title="AAccion">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm" onclick="eliminarAreaMaestro(${area.id})">
                                            <i class="glyphicon glyphicon-trash" style="color:red;"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>`;
                        tablaAreaAsignada.append(fila);
                    }
                    
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
            
        }

        function eliminarAreaMaestro(areaid) {
            // Crea un objeto que contenga el id del área a eliminar
            var data = { areaid: areaid, esp: maestroId };

            $.ajax({
                type: 'POST',
                url: Routing.generate('herramienta_info_maestro_planilla_area_elimina'),
                data: data,
                success: function (data) {
                    if (data.success) {
                        // Eliminar la fila correspondiente de la tabla visualmente
                        $(`tr[data-area-id="${areaid}"]`).remove();
                        console.log('Eliminación exitosa');
                    } else {
                        console.log('Error en la eliminación');
                    }
                },
                error: function (xhr, status, error) {
                    // Manejar el error si es necesario
                    console.log('Error en la petición AJAX:', error);
                }
            });
        }


        function cerrarOperativo(sie, gestion, mes, mesid){
            // console.log(sie+', '+gestion+', '+ mes+', '+mesid);
            Swal.fire({
                        title: '¿Cerrar el Operativo de registro del mes de '+mes+'?',
                        text: "Esta seguro de cerrar el operativo para la modificación de Especialidades",
                        type: 'question',
                        html:
                            'Si acepta, se procesa/verfica el registro de ' +
                            '<BR>información..,  ',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, proceder',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            var formData = {sie:sie, gestion:gestion, mesid:mesid};
                            var imagen = '{{ asset("img/loading96.gif") }}';
                            $.ajax({
                                type: 'post',
                                url: "{{ path('herramienta_info_maestro_planilla_valida_consolidacion') }}",
                                data:formData,
                                beforeSend: function () {
                                },
                                success: function (data) {
                                    var modalTitle = document.getElementById('modalCerrarOperativoLabel');
                                    var modalTitle = document.getElementById('modalCerrarOperativoLabel');
                                    var modalTitleContent = 'U.E. ' + sie + ' ' + '{{institucion.institucioneducativa}}' + ' - ' + mes.toUpperCase();
                                    modalTitle.textContent = modalTitleContent;
                                    if(data.estado === 1){
                                    Swal.fire({
                                    icon: 'success',
                                    title: 'Se cerró el operativo correctamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                    })
                                    document.getElementById("btnCerrarOperativo").disabled = true;
                                    
                                    setInterval('window.location.reload()', 3000);

                                    }else{
                                        // Construimos la tabla con los datos recibidos en data.arrayobs
                                        var tableHtml = '<table class="table table-bordered"><thead><tr><th>Observaciones</th></tr></thead><tbody>';
                                        for (var i = 0; i < data.observacion.length; i++) {
                                            tableHtml += '<tr><td>' + data.observacion[i].observacion + '</td></tr>';
                                        }
                                        tableHtml += '</tbody></table>';

                                        // Mostramos la tabla en el div con id="resultado"
                                        $('#resultadoobs').html(tableHtml);
                                        $('#modalCerrarOperativo').modal('show');
                                    }
                                },
                                complete: function () {
                                    console.log("error");  
                                }
                            }); 
                        }
                    })

        }
  

    </script>
</style>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Estilos personalizados para el modal */
        .custom-modal-content {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .custom-modal-header {
            background-color: #297e96;
            color: white;
        }

        .custom-modal-header-success {
            background-color: #3f9629;
            color: white;
        }

        .custom-modal-header-delete {
            background-color: #9f0000;
            color: white;
        }

        .custom-modal-title {
            font-size: 18px;
        }
        .enmarcado-formulario {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

