{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        .higherWider {
            width:800px;
            margin-top:100px;
        }
    </style>

{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i> Operativo Rude </li>

                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">

        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('noremoveit') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Advertencia!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('removeit') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Bien!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- Website Stats  Widget -->

            <!--start of result of search history  -->
            {% if sw  %}

              <small>
                <div class="row">
                                <div class="col-lg-12">

                                    <div class="portlet portlet-blue">
                                        <div class="portlet-heading">
                                            <div class="portlet-title">
                                                <h4>Unidades Educativas completadas</h4>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="portlet-body">

                                          <div class='row'>
                                              <div class='col-md-12 col-md-offset-0'>
                                                  <a class="link link" href="{{ path('donwload_report_rude_operativo', { 'codDistrito':codDistrito } )}}">
                                                      Reporte Operativo
                                                      <img src="{{asset('assets/images/pdf.png')}}" height="30" width="30">
                                                  </a>
                                              </div>
                                          </div>
                                          <br />

                                            <div class="table-responsive">
                                                <div id="example-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                  <table id="example-table" class="table table-striped table-bordered table-hover table-green dataTable" aria-describedby="example-table_info">
                                                    <thead>
                                                        <tr role="row">

                                                          <th class="text-center">#</th>
                                                          <th class="text-center">Departamento</th>
                                                          <th class="text-center">Distrito</th>
                                                          <th class="text-center">SIE</th>
                                                          <th class="text-center">Unidad Educativa</th>
                                                          <th class="text-center">Opciones</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                      {% for data in arrUeCloseRude%}

                                                              <tr class = "success">
                                                                  <td data-title="Rude">{{loop.index}}</td>
                                                                  <td data-title="Rude">{{data.departamento}}</td>
                                                                  <td data-title="Rude">{{data.distrito}}</td>
                                                                  <td data-title="Rude">{{data.codigo_sie}}</td>
                                                                  <td data-title="Nombre">{{ data.centro_educativo }} </td>

                                                                  <td data-title="VerNota" class="text-center">
                                                                    <form action="{{path('listCloseRude_enable')}}" method="post" style="display: inline-block">

                                                                        <input type="hidden" id="form_gestion" name="form[gestion]" value="{{app.session.get('currentyear')}}">
                                                                        <input type="hidden" id="form_sie" name="form[sie]" required="required" value="{{data.codigo_sie}}">
                                                                        <input type="hidden" id="form_operativotipo" name="form[operativotipo]" required="required" value="4">

                                                                        <button type="submit" onclick="if(confirm('...Esta seguro de realizar esta accion?'))return true; else return false;" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" data-original-title="habilitar {{data.codigo_sie}} / {{app.session.get('currentyear')}}"><i class="fa fa-pencil"></i></button>
                                                                    </form>
                                                                  </td>
                                                              </tr>
                                                      {% endfor %}

                                                    </tbody>
                                                  </table>

                                              </div>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.portlet-body -->
                                    </div>
                                    <!-- /.portlet -->

                                </div>
                                <!-- /.col-lg-12 -->

                            </div>
                          </small>
                {%else%}

            {% endif %}
            <!-- en of the result of search history -->
        </div>
    </div>
    <div class="modal modal-flex fade" id="myModalNotas" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog higherWider">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="flexModalLabel">Calificaciones</h4>

                </div>
                <div class="modal-body">
                    <div id="idNotas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>
            </div>

        </div>
    </div>






{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var seeNotaNew = function (inscripcionid, idstudent, nivel, grado, paralelo, turno, gestion, sie, estadomatriculaTipo) {

            $('#myModalNotas').modal('show');
            $.ajax({
                type: 'get',
                url: Routing.generate('note_consultation_parents_sie_nota_new', {'inscripcionid': inscripcionid,'idstudent': idstudent, 'nivel': nivel, 'grado': grado, 'paralelo': paralelo, 'turno': turno, 'gestion': gestion, 'sie': sie,'estadomatriculaTipo': estadomatriculaTipo}),
                beforeSend: function () {
                    $("#idNotas").empty();
                    $("#idNotas").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                },
                success: function (data) {
                    $("#idNotas").empty();
                    $("#idNotas").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
    </script>
{% endblock %}
