{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
<!-- Start page header -->
<div class="header-content">
    <h2><i class="glyphicon glyphicon-leaf"></i> Bienvenido! <span>Usted a ingresado a los reportes del sistemas academico de educación alternativa.</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted esta aqui:</span>
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-leaf"></i>
                    <a href="{{path('principal_web')}}">Bienvenida</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noSearch') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>




        <div class="bs-example">
            <ul class="nav nav-tabs" id="myTab">
                <li><a data-toggle="tab" href="#sectionA">Reportes Estadisticos</a></li>
                <li><a data-toggle="tab" href="#sectionB">Reportes por Especialidades</a></li>
                <li><a data-toggle="tab" href="#sectionC">Busqueda de CEA</a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <h3>Reportes Estadisticos </h3>


                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">

                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="form-group col-lg-3 col-md-3">
                                    {{ form_label(form.gestionest)}}
                                    {{form_widget(form.gestionest) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3">
                                    {{ form_label(form.periodoest)}}
                                    {{form_widget(form.periodoest) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>


                </div>


                <div id="sectionB" class="tab-pane fade">
                    <h3>Reportes por Especialidades</h3>


                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">

                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="form-group col-lg-3 col-md-3">
                                    {{ form_label(form.gestionesp)}}
                                    {{form_widget(form.gestionesp) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3">
                                    {{ form_label(form.periodoesp)}}
                                    {{form_widget(form.periodoesp) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>
                </div>

                <div id="sectionC" class="tab-pane fade">
                    <h3>Busqueda reportes por CEA</h3>

                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">

                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="panel-body panel-primary">
                                    {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } )}}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-3">
                                                {{ form_label(form.idInstitucion)}}
                                                {{form_widget(form.idInstitucion) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                {{ form_label(form.gestion)}}
                                                {{form_widget(form.gestion) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                 {{ form_label(form.periodo)}}
                                                 {{form_widget(form.periodo) }}
                                            <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                {{ form_label(form.subcea)}}
                                                {{form_widget(form.subcea) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                {{ form_widget(form.crear ) }}
                                                <a href="{{ path('principal_web') }}" class="btn btn-default">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>
                </div>

            </div>
        </div>









    </div>

</div><!-- /.body-content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% if app.session.get('ie_id') != '-1' %}
            <script>
            $(document).ready(function () {                
                selgessubsemFormShow();
            });  
            </script>
{% endif %}
{% endblock %}
    
