{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block fechaReporte %}
    {% if fechaEstadisticaRegular is defined  %}
        {{ fechaEstadisticaRegular }}
    {% endif %}
{% endblock %}
{% block contentoption %}
    <!-- Start page header -->
    <div id="tour-6" class="header-content">
        <h2><i class="fa fa-th-large"></i>Información Estadística<span>Subsistema de Educación Regular</span></h2>
        <div" class="breadcrumb-wrapper hidden-xs">
            <!--<span class="label">Info.:</span>-->
            <ol class="breadcrumb">
                <li class="active">Gestión: 2016</li>
                <!--<li><i class="fa fa-ellipsis-v" aria-hidden="true"></i></li>-->
            </ol>
        </div>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->
    <div class="body-content animated fadeIn">
        {% if infoEntidad is defined  %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Start widget newsletter -->
                    <div class="panel text-center rounded shadow">
                        <div class="panel-body bg-lilac rounded">
                            <!--<div class="inner-all">-->
                                <h4 class="text-uc">{{infoEntidad.nombre}}</h4>
                            <!--</div>-->
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    <!--/ End widget newsletter -->
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        {% for type, flashMessage in app.session.flashbag.all() %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {% if flashMessage.title is defined %}
                                <strong><i class='fa fa-envelope'></i> {{ flashMessage.title }}: </strong>
                                    {{ flashMessage.message }}
                                {% else %}
                                    {{ type }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>        
            </div>
        {% endif %}
        <div class="row">
            <div id="tour-7" class="col-lg-{% if infoSubEntidad is defined %}9{% else %}12{% endif %} col-md-{% if infoSubEntidad is defined %}9{% else %}12{% endif %} col-sm-12 col-xs-12">
                {% if infoEntidad is defined %}
                    {% if infoEntidad.rolactual == 9 or infoEntidad.rolactual == 5 %}
                        <div class="row">  
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                        
                                <div class="panel panel-default shadow">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title"><i class='fa fa-home'></i> Unidad Educativa - Información</h3>
                                        </div><!-- /.pull-left -->
                                        <div class="pull-right">
                                            <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </div><!-- /.pull-right -->
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <!-- Start project overview -->
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="mini-stat-type-4 bg-danger shadow">
                                                        <form name="formCaratula" id="formCaratula" role="form" action="{{ path('sie_ue_informacion_general_impresion_caratula') }}" method="POST">
                                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                            <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                            <a class="btn btn-danger" onclick="document.forms['formCaratula'].submit();">
                                                                <h4>Información</br>General</br><i class="fa fa-download fa-2x"></i></h4>
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div> 
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="mini-stat-type-4 bg-warning shadow">
                                                        <form name="formInformacionEstadistica" id="formInformacionEstadistica" role="form" action="{{ path('sie_ue_informacion_general_impresion_informacionestadistica') }}" method="POST">
                                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                            <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                            <a class="btn btn-warning" onclick="document.forms['formInformacionEstadistica'].submit();">
                                                                <h4>Información</br>Estadística</br><i class="fa fa-download fa-2x"></i></h4>
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div> 
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="mini-stat-type-4 bg-success shadow">
                                                        <form name="formOfertaCurricular" id="formOfertaCurricular" role="form" action="{{ path('sie_ue_informacion_general_impresion_ofertacurricular') }}" method="POST">
                                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                            <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                            <a class="btn btn-success" onclick="document.forms['formOfertaCurricular'].submit();">
                                                                <h4>Oferta</br>Curricular</br><i class="fa fa-download fa-2x"></i></h4>
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div> 
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="mini-stat-type-4 bg-primary shadow">
                                                        <form name="formDocente" id="formDocente" role="form" action="{{ path('sie_ue_informacion_general_impresion_docente') }}" method="POST">
                                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                            <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                            <a class="btn btn-primary" onclick="document.forms['formDocente'].submit();">
                                                                <h4>Maestros <i class="fa fa-download"></i></h4>
                                                            </a>
                                                        </form>                 
                                                        <form name="formAdministrativo" id="formAdministrativo" role="form" action="{{ path('sie_ue_informacion_general_impresion_administrativo') }}" method="POST">
                                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                            <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                            <a class="btn btn-primary" onclick="document.forms['formAdministrativo'].submit();">
                                                                <h4>Administrativos <i class="fa fa-download"></i></h4>
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div id="lienzoMapa" style="width: auto; height: 320px;"></div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>     
                            </div>                 
                        </div>
                    {% endif %}
                {% endif %}

                <div id="chartContainerMatricula1" style="display: none;"> </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <div class="panel-heading">
                                <div id="tour-9" class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-tasks'></i> Matrícula</h3>
                                </div><!-- /.pull-left -->
                                <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                </div><!-- /.pull-right -->
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div id="tour-11" class="panel-body">
                                <!-- Start project overview -->
                                
                                <div class="row">  
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel-body bg-success">
                                            <div class="ribbon-wrapper">                                            
                                            </div><!-- /.ribbon-wrapper -->
                                            <ul class="inner-all list-unstyled">
                                                <li class="text-center">
                                                    <span class="glyphicon glyphicon-list-alt" style="font-size: 50px;"></span>
                                                </li>
                                                <li class="text-center">
                                                    <h4 class="text-capitalize">Efectivos</h4>
                                                    <h3><p class="text-muted text-capitalize">{{infoEstadistica['cant_efectivo']|number_format(0, ',', '.')}}</p></h3>
                                                </li>
                                            </ul><!-- /.list-unstyled -->
                                        </div>
                                    </div>  
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="chartContainerEfectivoNivel" style="display: none;"> </div>                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Estudiantes Efectivos - Nivel de Estudio</h3>
                                </div><!-- /.pull-left -->
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(2,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-circle-o'></i>
                                    </button>
                                </div><!-- /.pull-right -->
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">                                
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-teal rounded">
                                            <span class="mini-stat-chart">
                                                <span><i class="fa fa-child fa-4x"></i></span>
                                            </span><!-- /.mini-stat-chart -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_inicial']|number_format(0, ',', '.')}}</span>
                                                <p><h4 class="text-capitalize">Inicial</h4></p>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>  
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-lilac rounded">
                                            <span class="mini-stat-chart">
                                                <span><i class="fa fa-street-view fa-4x"></i></span>
                                            </span><!-- /.mini-stat-chart -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_primaria']|number_format(0, ',', '.')}}</span>
                                                <p><h4 class="text-capitalize">Primaria</h4></p>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>   
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-danger rounded">
                                            <span class="mini-stat-chart">
                                                <span><i class="fa fa-graduation-cap fa-4x"></i></span>
                                            </span><!-- /.mini-stat-chart -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_secundaria']|number_format(0, ',', '.')}}</span>
                                                <p><h4 class="text-capitalize">Secundaria</h4></p>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>      
                                </div>                            
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="chartContainerEfectivoGenero" style="display: none;"> </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-venus-mars'></i> Estudiantes Efectivos - Género</h3>
                                </div><!-- /.pull-left -->
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(3,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-pie-chart'></i>
                                    </button>
                                </div><!-- /.pull-right -->
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">
                                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel-body bg-primary">
                                            <div class="ribbon-wrapper">
                                            </div><!-- /.ribbon-wrapper -->
                                            <ul class="inner-all list-unstyled">
                                                <li class="text-center">
                                                    <i class="fa fa-male fa-5x"></i>
                                                </li>
                                                <li class="text-center">
                                                    <h4 class="text-capitalize">Masculino</h4>
                                                    <h3><p class="text-muted text-capitalize">{{infoEstadistica['cant_masculino']|number_format(0, ',', '.')}}</p></h3>
                                                </li>
                                            </ul><!-- /.list-unstyled -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel-body bg-dribbble">
                                            <div class="ribbon-wrapper">
                                            </div><!-- /.ribbon-wrapper -->
                                            <ul class="inner-all list-unstyled">
                                                <li class="text-center">
                                                    <i class="fa fa-female fa-5x"></i>
                                                </li>
                                                <li class="text-center">
                                                    <h4 class="text-capitalize">Femenino</h4>
                                                    <h3><p class="text-muted text-capitalize">{{infoEstadistica['cant_femenino']|number_format(0, ',', '.')}}</p></3>
                                                </li>
                                            </ul><!-- /.list-unstyled -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                    
                </div> 
                <div class="row">
                    <div id="chartContainerEfectivoDependencia" style="display: none;"> </div>                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-map'></i> Estudiantes Efectivos - Dependencia</h3>
                                </div><!-- /.pull-left -->
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(5,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-bar-chart'></i>
                                    </button>
                                </div><!-- /.pull-right -->
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">                                                                     
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-success rounded">
                                            <span class="mini-stat-icon"><i class="fa fa-university fg-success"></i></span><!-- /.mini-stat-icon -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_publica']|number_format(0, ',', '.')}}</span>
                                                <h4 class="text-capitalize">Pública</h4>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>                                       
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-lilac rounded">
                                            <span class="mini-stat-icon"><i class="fa fa-institution fg-lilac"></i></span><!-- /.mini-stat-icon -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_convenio']|number_format(0, ',', '.')}}</span>
                                                <h4 class="text-capitalize">Convenio</h4>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>                                 
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="mini-stat clearfix bg-info rounded">
                                            <span class="mini-stat-icon"><i class="fa fa-bank fg-info"></i></span><!-- /.mini-stat-icon -->
                                            <div class="mini-stat-info">
                                                <span>{{infoEstadistica['cant_privada']|number_format(0, ',', '.')}}</span>
                                                <h4 class="text-capitalize">Privada</h4>
                                            </div><!-- /.mini-stat-info -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>  
                {% if infoEstadisticaUE is defined and infoEstadisticaEE is defined %}
                    <div class="row">     
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">             
                            <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Unidades Educativas - Dependencia</h3>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <!-- Start project overview -->
                                    <div class="row">                                
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat clearfix bg-googleplus rounded">
                                                <span class="mini-stat-chart">
                                                    <span><i class="fa fa-home fa-4x"></i></span>
                                                </span><!-- /.mini-stat-chart -->
                                                <div class="mini-stat-info">
                                                    <span>{{infoEstadisticaUE['cant_publica']|number_format(0, ',', '.')}}</span>
                                                    <p><h4 class="text-capitalize">U.E. Públicas</h4></p>
                                                </div><!-- /.mini-stat-info -->
                                            </div>
                                        </div>                          
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat clearfix bg-warning rounded">
                                                <span class="mini-stat-chart">
                                                    <span><i class="fa fa-home fa-4x"></i></span>
                                                </span><!-- /.mini-stat-chart -->
                                                <div class="mini-stat-info">
                                                    <span>{{infoEstadisticaUE['cant_convenio']|number_format(0, ',', '.')}}</span>
                                                    <p><h4 class="text-capitalize">U.E. de Convenio</h4></p>
                                                </div><!-- /.mini-stat-info -->
                                            </div>
                                        </div>                       
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat clearfix bg-teal rounded">
                                                <span class="mini-stat-chart">
                                                    <span><i class="fa fa-home fa-4x"></i></span>
                                                </span><!-- /.mini-stat-chart -->
                                                <div class="mini-stat-info">
                                                    <span>{{infoEstadisticaUE['cant_privada']|number_format(0, ',', '.')}}</span>
                                                    <p><h4 class="text-capitalize">U.E. Privadas</h4></p>
                                                </div><!-- /.mini-stat-info -->
                                            </div>
                                        </div>                                  
                                    </div>                            
                                </div><!-- /.panel-body -->
                            </div>
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">             
                            <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Edif. Educativos</h3>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <!-- Start project overview -->
                                    <div class="row">                           
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="mini-stat clearfix bg-facebook rounded">
                                                <span class="mini-stat-chart">
                                                    <span><i class="fa fa-building fa-4x"></i></span>
                                                </span><!-- /.mini-stat-chart -->
                                                <div class="mini-stat-info">
                                                    <span>{{infoEstadisticaEE['cant_total']|number_format(0, ',', '.')}}</span>
                                                    <p><h4 class="text-capitalize">Edificios Educativos</h4></p>
                                                </div><!-- /.mini-stat-info -->
                                            </div>
                                        </div>                                   
                                    </div>                            
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>    
                {%endif%} 
                {% if infoSubEntidad is defined %}
                    {% for item in app.session.get('roluser') %} 
                        {% if item.id == 20 or item.id == 8 %} 
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default shadow">
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <h3 class="panel-title"><i class='fa fa-venus-mars'></i> Valoraciones Cuantitativas</h3>
                                            </div><!-- /.pull-left -->
                                            <div class="pull-right">
                                                <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                            </div><!-- /.pull-right -->
                                            <div class="clearfix"></div>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <!-- Start project overview -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="panel-body bg-primary">
                                                        <div class="ribbon-wrapper">
                                                        </div><!-- /.ribbon-wrapper -->
                                                        <ul class="inner-all list-unstyled">
                                                            <li class="text-center" onclick="document.forms['formEstadisticaRegularValoracionEnDesarrolloPdf'].submit();">
                                                                <i class="fa fa-cloud-download fa-5x"></i>
                                                            </li>
                                                            <li class="text-center">
                                                                <h4 class="text-capitalize">En Desarrollo</h4>
                                                            </li>
                                                        </ul><!-- /.list-unstyled -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>                    
                            </div>  
                        {%endif%} 
                    {% endfor %}                  
                {%endif%}         
            </div> 
            {% if infoSubEntidad is defined %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div id="tour-8" class="panel panel-default shadow">
                        <div class="panel-heading">
                            <div id="tour-12" class="pull-left">
                                <h3 class="panel-title">{% if infoSubEntidad is defined %}{{infoSubEntidad[0]['nombrearea']}}{%endif%}</h3>
                            </div>
                            <div class="pull-right">
                                <div>
                                <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                    <i class="fa fa-angle-up"></i>
                                </button>  
                                <button id="tour-13" onclick="document.forms['formEstadisticaRegularPdf'].submit();" title="Descargar PDF" class="btn btn-googleplus">
                                    <i class="fa fa-file-pdf-o"></i>
                                </button>
                                <button id="tour-14" onclick="document.forms['formEstadisticaRegularXls'].submit();" title="Descargar EXCEL" class="btn btn-success">
                                    <i class="fa fa-file-excel-o"></i>
                                </button>
                                </div> 
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div id="animate-action" class="panel-scrollable">
                            <div id="tour-15" style="display: block; height: 500px;" class="panel-body no-padding">
                                <div class="list-group no-margin">                            
                                    {% for data in infoSubEntidad%}
                                        {% set id = data.codigo %}
                                        {% set nombre = data.nombre %} 
                                        {% set rol = data.rolusuario %}   
                                        <form name="form" role="form" action="{{ path('reporte_regular_informacion_general') }}" method="POST"> 
                                            <input type="hidden" name="codigo" value="{{id}}" />
                                            <input type="hidden" name="rol" value="{{rol}}" />
                                            <button type="submit" class="list-group-item">{{nombre}}</button>   
                                        </form> 
                                    {% endfor %}
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>  
                <form name="formEstadisticaRegularPdf" id="formEstadisticaRegularPdf" role="form" action="{{ path('reporte_regular_informacion_general_print_pdf') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />     
                </form> 
                <form name="formEstadisticaRegularXls" id="formEstadisticaRegularXls" role="form" action="{{ path('reporte_regular_informacion_general_print_xls') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />   
                </form>  
                <form name="formEstadisticaRegularXls" id="formEstadisticaRegularValoracionEnDesarrolloPdf" role="form" action="{{ path('reporte_regular_informacion_general_valoracion_cuantitativa_endesarrollo_print_pdf') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />   
                </form>    
            {%endif%}              
        </div>
        <div class="row">
            <div class="alert alert-info">
                <span class="alert-icon"><i class="fa fa-info"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender"><span><a>Efectivo: </a></span> Estudiante que se inscribió en una Unidad Educativa, cursando de forma regular el año de escolaridad, cumpliendo o no con los requisitos exigidos para aprobar el mismo. </li>
                        <li class="pull-right notification-time">&nbsp;</li>

                        <li class="pull-left notification-sender"><span><a>No incorporado: </a></span> Estudiante que se inscribio en el año de escolaridad en una Unidad Educativa, pero que no se presento al mismo, inscribiendose o no en otra Unidad Educativa durante la misma gestión. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                        
                        <li class="pull-left notification-sender"><span><a>Retiro por abandono: </a></span> Estudiante que, en el año de escolaridad, se inscribio en una unidad educativa, pero que deja de asistir a la misma, sin inscribirse en otra, durante la misma gestión. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                        
                        <li class="pull-left notification-sender"><span><a>Retiro por traslado: </a></span> Estudiante que, en el año de escolaridad, se inscribio en una unidad educativa, pero que dejó de asistir a la mismo para, en adelante, poder asistir a otra Unidad Educativa. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa de Convenio: </a></span> Instituciones financiadas por privados y el Estado, pero administradas por privados. Por lo tanto, no son necesariamente gratuitas. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa Fiscal: </a></span> Instituciones financiadas y administradas por el Estado. Por tanto, son gratuitas. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa Privada: </a></span> Instituciones financiadas y administradas por privados. Por tanto, no son de carácter gratuito. </li>
                        <li class="pull-right notification-time">&nbsp;</li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <!--/ END ADDITIONAL ELEMENT -->
    <script>  
        $(function () {

        });  
        {% autoescape %}
            {{ datoGraficoMatricula|raw }}
        {% endautoescape %}

        {% autoescape %}
            {{ datoGraficoNivel|raw }}
        {% endautoescape %}

        {% autoescape %}
            {{ datoGraficoGenero|raw }}
        {% endautoescape %}

        {% autoescape %}
            {{ datoGraficoArea|raw }}
        {% endautoescape %}

        {% autoescape %}
            {{ datoGraficoDependencia|raw }}
        {% endautoescape %}

        function seeGraphic (infoTipo,infoCodigo,infoRol) {
            $("#modal-page").modal(
                {
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                }
            ); 
            if(infoTipo == 1){
                $("#modal-page-header").empty().append("<i class='fa fa-bar-chart'></i>"); 
                chartContainerMatriculaLoad();        
            }
            if(infoTipo == 2){
                $("#modal-page-header").empty().append("<i class='fa fa-circle-o'></i>");    
                chartContainerEfectivoNivelLoad(); 
            }
            if(infoTipo == 3){
                $("#modal-page-header").empty().append("<i class='fa fa-pie-chart'></i>");  
                chartContainerEfectivoGeneroLoad();  
            }
            if(infoTipo == 4){
                $("#modal-page-header").empty().append("<i class='fa fa-area-chart'></i>");    
                chartContainerEfectivoAreaLoad(); 
            }
            if(infoTipo == 5){
                $("#modal-page-header").empty().append("<i class='fa fa-bar-chart'></i>");  
                chartContainerEfectivoDependenciaLoad(); 
            }
            
            //$.ajax({
            //    type: 'get',
            //    data: ({tipo:infoTipo, codigo: infoCodigo, rol: infoRol}),
            //    url: Routing.generate('reporte_regular_informacion_general_chart'),
            //    beforeSend: function () {                    
            //        $("#modal-page").modal(
            //            {
            //                show: true,
            //                backdrop: 'static',
            //                keyboard: false
            //            }
            //        );
            //        $("#modal-page-header").empty();
            //        $("#modal-page-header").append('<span>Cargando...</span>');
            //        $("#modal-page-body").empty();
            //        $("#modal-page-body").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
            //    },
            //    success: function (data) {               
            //        $("#modal-page").modal(
            //            {
            //                show: true,
            //                backdrop: 'static',
            //                keyboard: false
            //            }
            //        );
            //        $("#modal-page-header").empty();
            //        $("#modal-page-header").append('<p>Estadística</p>');
            //        $("#modal-page-body").empty();
            //        $("#modal-page-body").append(data);
            //    },
            //    statusCode: {
            //        500: function () {           
            //        },
            //        404: function () {                 
            //        }
            //    }
            //});
        };
        $(document).ready(function() {
            {% autoescape %}
                {% if mensaje is defined %}
                    {{ mensaje|raw }}   
                {%endif%} 
            {% endautoescape %}
        });
    </script>
    {% if infoEntidad is defined %}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>
            function initialize() {
                var marcadores = [['{{infoEntidad.id}}', {{infoEntidad.cordx}}, {{infoEntidad.cordy}}]];
                var map = new google.maps.Map(document.getElementById('lienzoMapa'), {
                    zoom: 16,
                    center: new google.maps.LatLng({{infoEntidad.cordx}}, {{infoEntidad.cordy}}),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                var infowindow = new google.maps.InfoWindow();
                var marker, i;
                for (i = 0; i < marcadores.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(marcadores[i][1], marcadores[i][2]),
                        map: map
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<div><b>Unidad Educativa: </b>' + marcadores[i][0] + '</div>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }        
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endif %}
{% endblock %}


