{% extends 'layoutEspecialSie.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-windows"></i>
                    <a href="{{path('info_especial_open', {'form':{'idInstitucion': institucion.id,'gestion': gestion,'institucioneducativa':institucion.institucioneducativa,'institucioneducativaTipoId':4,'data':''}})}}">Menu Principal</a>
                    <i class="fa fa-angle-right">
                    </i>
                </li>
                <li>
                    <a href="{{path('herramienta_especial_info_maestro_index')}}">Personal Docente</a>
                    <i class="fa fa-angle-right">
                    </i>
                </li>
                <li class="active">Resultado</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        
        {% include 'SieEspecialBundle:Principal:infoue.html.twig' with {'titulo': 'Administración Personal Docente', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Personas encontradas'} %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-teal">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Personas</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                            {% if persona is not empty %}
                                <div id="no-more-tables">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><b>Carnet de Identidad</b></th>
                                                <th><b>Complemento</b></th>
                                                <th><b>Paterno</b></th>
                                                <th><b>Materno</b></th>
                                                <th><b>Nombre(s)</b></th>
                                                <th><b>Fecha Nac.</b></th>
                                                <th><b>Acciones</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ persona.personaCarnet }}</td>
                                                <td>{{ persona.personaComplemento }}</td>
                                                <td>{{ persona.personaPaterno }}</td>
                                                <td>{{ persona.personaMaterno }}</td>
                                                <td>{{ persona.personaNombre }}</td>
                                                <td>{{ persona.personaFechaNac|date('d-m-Y') }}</td>
                                                <td>
                                                    <form action="{{path('herramienta_especial_info_maestro_new')}}" method="post" style="display:inline-block">
                                                        <input type="hidden"  name="form[idPersona]" id="form_idPersona" value="{{persona.personaId}}">
                                                        <input type="hidden" name="form[idInstitucion]" id="form_idInstitucion"  value="{{institucion.id}}">
                                                        <input type="hidden" name="form[gestion]" id="form_gestion" value="{{gestion}}">
                                                        <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Inscribir</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                            No hay Personas Registradas con el número de carnet y complemento ingresados
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

