{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}
<!-- Start page header -->
{% include 'SieHerramientaBundle:Principal:breadcrumbstrail.html.twig' with {'sie': odataUedu.id, 'gestion':gestion , 'opcion': 'Estudiante'} %}
<!--/ End page header -->
<style type="text/css">
.dropdown-header{
    background: #3f729b !important;
    color: #EEEEEE;
}
.close1 {
font-size: 1.28571em;
top: -0.85714em;
position: absolute;
right: -0.85714em;
height: 2em;
width: 2em;
background-color: #313a46;
opacity: 1;
border: 2px solid #ffffff;
text-shadow: none;
color: #ffffff;
border-radius: 50%;
text-align: center;
line-height: 1.83333em;}
.panel-title1{
    text-shadow: 3px 3px 2px #000;font-weight:bold;
}
</style>

    <div class="body-content animated fadeIn">

        <!-- Start mail page -->
        <!--div class="container" style="margin-top:30px;"-->
        {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Administración Unidad Educativa', 'gestion': gestion,'sie': odataUedu.id, 'ieducativa':odataUedu.institucioneducativa, 'opcion': 'Información Estudiante'} %}
        {% include 'SieHerramientaBundle:Principal:onlyview.html.twig'%}
        {% if objObsQA %}
            {% include 'SieHerramientaBundle:Principal:list_inconsistencia.html.twig' with {'objObsQA': objObsQA, 'sie': odataUedu.id,'institucion': odataUedu.institucioneducativa, 'gestion': gestion} %}
        {% endif %}
        {# {% include 'SieHerramientaBundle:Principal:closeRude.html.twig'%} #} 
        <div class="row">
            <div class="col-md-12 text-right">
                {#
                    {% if mostrarSextoCerrado %}
                        <button type="button" class="btn btn-success" onclick="cerrarSextoGrado({{odataUedu.id}},{{gestion}});">
                          <i class="fa fa-edit" ></i> Cerrar sexto grado
                        </button>
                    {% endif %}
                #}
                
            </div>
        </div>
        {% set allowOperativo = [2, 3] %}
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary" style="margin-bottom:0px">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h5>Cursos</h5>
                                </div>
                                <div class="pull-right">

                                    Idioma Libreta:
                                    <select name="idiomasList" id="idiomasList">
                                        <option value="48">Castellano</option>
                                        {% for row in idiomasArray %} 
                                            <option value="{{row.id}}">{{row.idioma}}</option>
                                        {% endfor %}                            
                                    </select>

                                    <div class="btn-group">                                    
                                        <button type="button" class="btn btn-sm btn-instagram dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Opciones &nbsp; <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            
                                            <div class="dropdown-header">Reportes</div>

                                            {% if app.session.get('acceso_total') and arrLevelandGrado.gestion >= 2019 %}
                                                <li><a href="{{ path('donwload_studentBthEspecialidades', {'gestion': gestion, 'ue': odataUedu.id,'gradoId':gradoId} )}}">Lista de Especialidades Modificadas</a></li>
                                                <li><a href="{{ path('donwload_studentBthEspecialidadesEliminadas', {'gestion': gestion, 'ue': odataUedu.id,'gradoId':gradoId} )}}">Lista de Especialidades Eliminadas</a></li>
                                            {% endif %}
                                            <li><a href="{{ path('donwload_listStudentPerUe', {'gestion': gestion, 'ue': odataUedu.id} )}}">Listado de estudiantes</a></li>
                                            <li><a href="{{ path('donwload_nnats', {'gestion': gestion, 'sie': odataUedu.id} )}}">Reporte NNATS</a></li>
                                            
                                            {% if app.session.get('acceso_total') and app.session.get('ue_plena') %}
                                                <li><a href="{{ path('download_estudiantes_nivelacion', {'gestion': gestion, 'sie': odataUedu.id} )}}">Listado de estudiantes con nivelación TTE</a></li>
                                                <li><a href="{{ path('download_estudiantes_nivelacionttg', {'gestion': gestion, 'sie': odataUedu.id} )}}">Listado de estudiantes con nivelación TTG</a></li>
                                            {% endif %}
                                            
                                            {% if arrLevelandGrado.operativo in allowOperativo and  arrLevelandGrado.haslevel == 13 and arrLevelandGrado.hasgrado == 6 and arrLevelandGrado.gestion >= 2019 %}
                                                <li class="divider"></li>
                                                <div class="dropdown-header"><strong>Operativos</strong></div>
                                                
                                                {# if arrLevelandGrado.operativo == 4 and arrLevelandGrado.closeopesextosecc == false  #}
                                                {% if arrLevelandGrado.operativo in [2,3] and arrLevelandGrado.closeopesextosecc == false  %}
                                                    {# <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo' onclick="cerrarOperativoSextodeSecc({{odataUedu.id}},{{gestion}});">
                                                    <i class="fa fa-group" ></i>
                                                    </button> #}
                                                    <li><a href="javascript:cerrarOperativoSextodeSecc({{odataUedu.id}},{{gestion}});"> - Cerrar Operativo Sexto de Secundaria</a></li>
                                                {% else %}
                                                    <li><a href="javascript:void();">Operativo Sexto de Secundaria cerrado </a></li>
                                                {% endif %}
                                            {% endif %}
                                            {% if arrLevelandGrado.operativo > 3 and  arrLevelandGrado.haslevel == 13 and arrLevelandGrado.hasgrado == 6 and arrLevelandGrado.gestion >= 2023 %}
                                                <li><a href="javascript:consolidarcutttm({{odataUedu.id}},{{gestion}});">Consolidar CUT-TTM</a></li>
                                            {% endif %}
                                            {# {% if estado == true and arrLevelandGrado.gestion >= 2019 and arrLevelandGrado.operativo in allowOperativo %}
                                                <li><a href="javascript:cerrarOperativo({{odataUedu.id}},{{gestion}});">Cerrar Operativo Mod. Especialidades</a></li>
                                            {% endif %} #}
                                            
                                            {% if arrLevelandGrado.gestion == 2019 and app.session.get('ue_plena') and app.session.get('ue_modular')%}
                                                <li><a href="javascript:cerrarRude()">Cerrar Operativo RUDE</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {# Opciones: 6to secundaria #}
                                   {# {{arrLevelandGrado.closeopesextosecc}} #}
                                    {% if arrLevelandGrado.operativo in allowOperativo and  arrLevelandGrado.haslevel == 13 and arrLevelandGrado.hasgrado == 6 and arrLevelandGrado.gestion >= 2019 %}
                                    
                                        {% if arrLevelandGrado.operativo == 3 and arrLevelandGrado.closeopesextosecc == false  %} 
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo' onclick="cerrarOperativoSextodeSecc({{odataUedu.id}},{{gestion}});">
                                            <i class="fa fa-group" ></i>
                                            </button>
                                        {% else %}
                                            <button type="button" disabled class="btn btn-warning btn-sm" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo'>
                                            <i class="fa fa-group" ></i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    {# Opciones:
                                    {% if estado == true and arrLevelandGrado.gestion >= 2019 and arrLevelandGrado.operativo in allowOperativo %}
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Mod. Especialidades" id='btnCerraoperativo' onclick="cerrarOperativo({{odataUedu.id}},{{gestion}});">
                                    <i class="fa fa-group" ></i>
                                    </button>
                                    {% endif %}
                                    {% if app.session.get('acceso_total') and arrLevelandGrado.gestion >= 2019 %}
                                        <a class="btn btn-facebook btn-sm" href="{{ path('donwload_studentBthEspecialidades', {'gestion': gestion, 'ue': odataUedu.id,'gradoId':gradoId} )}}" data-toggle="tooltip" data-placemente="top" data-original-title=" Lista de Especialidades Modificadas"><i class="fa fa-cloud-download"></i></a>
                                        <a class="btn btn-facebook btn-sm" href="{{ path('donwload_studentBthEspecialidadesEliminadas', {'gestion': gestion, 'ue': odataUedu.id,'gradoId':gradoId} )}}" data-toggle="tooltip" data-placemente="top" data-original-title=" Lista de Especialidades Eliminadas"><i class="fa fa-cloud-download"></i></a>
                                    {% endif %}
                                    <a class="btn btn-twitter btn-sm" href="{{ path('donwload_listStudentPerUe', {'gestion': gestion, 'ue': odataUedu.id} )}}" data-toggle="tooltip" data-placemente="top" data-original-title="Listado de estudiantes"><i class="fa fa-download"></i></a>
                                    <a class="btn btn-info btn-sm" href="{{ path('donwload_nnats', {'gestion': gestion, 'sie': odataUedu.id} )}}" data-toggle="tooltip" data-placemente="top" data-original-title="Reporte NNATS"><i class="fa fa-download"></i></a> #}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <small>
                    <div class="tree well">
                        {%for turnoKey, dataTurno in aInfoUnidadEductiva%}
                            <ul>
                                <li>
                                    <span><i class="icon-folder-open"></i> {{turnoKey}}</span>
                                    <ul>
                                        {% for nivelKey,dataNivel in dataTurno %}
                                            <li>
                                                <span><i class="icon-minus-sign"></i> {{nivelKey}}</span>
                                                <ul>
                                                    {% for gradoKey, dataGrado in dataNivel %}

                                                        <li style="display:none">
                                                            <span><i class="icon-minus-sign"></i> {{gradoKey}}</span>
                                                            
                                                            <ul>
                                                                {% for paraleloKey, dataParalelo in dataGrado %}
                                                                    <li style="display:none">
                                                                      <a href="#" onclick="seeStudents('{{dataParalelo.infoUe}}');">
                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Lista de Inscritos">
                                                                            <span ><i class="icon-leaf"></i>
                                                                                {{paraleloKey}}
                                                                            </span>
                                                                        </div>
                                                                      </a>
                                                                      {% if arrLevelandGrado.operativo == 0 %}
                                                                      <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Ratificación de inscripción automática">
                                                                         <button class="btn btn-circle btn-success btn-stroke " onclick="asignarParalelo('{{dataParalelo.infoUe}}');">
                                                                            <i class="fa fa-check-square-o"></i>
                                                                         </button>
                                                                      </div>
                                                                      {% endif %}
                                                                      {#
                                                                      {% if ( dataGrado[paraleloKey].nivelId in [11] and dataGrado[paraleloKey].gradoId in [2]) or   ( dataGrado[paraleloKey].nivelId in [12] and dataGrado[paraleloKey].gradoId in [1,2,3,4,5,6]) or ( dataGrado[paraleloKey].nivelId in [13] and dataGrado[paraleloKey].gradoId in [1,2,3,4,5,6])%}
                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscripción">
                                                                            <button type="button" class="btn btn-circle btn-warning btn-stroke" onclick="getStudents('{{dataParalelo.infoUe}}');" >
                                                                                <i class="fa fa-group"></i>
                                                                            </button>
                                                                        </div> 
                                                                      {% endif %}
                                                                      #}
                                                                              
                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Areas/Maestros">
                                                                            <button class="btn btn-circle btn-danger btn-stroke " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getAreas('{{dataParalelo.infoUe}}');">
                                                                                <i class="fa fa-group"></i>
                                                                            </button>
                                                                        </div>
                                                                        
                                                                        <!--button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                                                            <i class="fa fa-caret-square-o-down"></i>
                                                                        </button>
                                                                        <table class="dropdown-menu pull-left" role="menu">
                                                                            <tr>
                                                                                <td>
                                                                                    <button type="button" class="btn btn-link" onclick="getStudents('{{dataParalelo.infoUe}}');">
                                                                                        <i class ="fa fa-pencil"></i> Inscripción
                                                                                    </button>
                                                                                </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <button type="button" class="btn btn-link" onclick="seeStudents('{{dataParalelo.infoUe}}');">
                                                                                            <i class="fa fa-group"></i> Inscripción
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>

                                                                            </table-->

                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Datos del curso">
                                                                            <button class="btn btn-circle btn-info btn-stroke " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getDatosCurso('{{dataParalelo.infoUe}}');">
                                                                                <i class="fa fa-list"></i>
                                                                            </button>
                                                                        </div>
                                                                        {# {% if "now"|date('j')|number_format in range(1,14) %} #}
                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Modalidad">
                                                                            <button class="btn btn-circle btn-primary btn-stroke " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getDatosModalidad('{{dataParalelo.infoUe}}');">
                                                                                <i class="fa fa-home"></i>
                                                                            </button>
                                                                        </div>

                                                                        {# Este icono es para registrar los textos educativos #}
                                                                        {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Textos Educativos">
                                                                            <button class="btn btn-circle btn-danger btn-stroke " data-toggle="modal" data-target=".bs-example-modal-table" onclick="registrarTextoEducativo('{{dataParalelo.infoUe}}');">
                                                                                <i class="fa fa-book"></i>
                                                                            </button>
                                                                        </div> #}

                                                                        {# {% endif %} #}
                                                                        {% if arrLevelandGrado.operativo in allowOperativo and arrLevelandGrado.gestion >= 2019 %}
                                                                            {% if estado == true and app.session.get('currentyear') == 2019 %}
                                                                                {% if dataParalelo.nivelId == 13 and dataParalelo.gradoId in app.session.get('gradoTipoBth') %}
                                                                                    {% if arrLevelandGrado.operativo == 4 and arrLevelandGrado.closeopesextosecc == false  %}                                                                                
                                                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registro de Especialidades">
                                                                                            <button class="btn btn-circle btn-success btn-stroke " onclick="optionsBth('{{dataParalelo.infoUe}}');">
                                                                                            <i class="fa fa-group"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    {% else %}
                                                                                        {% if dataParalelo.nivelId == 13 and dataParalelo.gradoId == 5 and dataParalelo.gradoId in app.session.get('gradoTipoBth')  %}
                                                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registro de Especialidades">
                                                                                                <button class="btn btn-circle btn-success btn-stroke " onclick="optionsBth('{{dataParalelo.infoUe}}');">
                                                                                                <i class="fa fa-group"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    {% endif %}    
                                                                                {% endif %}
                                                                            {% else %}
                                                                            {% endif %}
                                                                        {% endif %}

                                                                        {# icon de asignar paralelo #}
                                                                       
                                                                       
                                                                        

                                                                    </li>
                                                                {% endfor %}
                                                            </ul>

                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        {% endfor %}

                    </div>
                </small>
            </div>

            <div class='col-md-8'>
                <div id="idstudents"></div>
            </div>

        </div>

        <!--/div-->
        <!--/ End mail page -->
    </div>
    <!-- Start body content -->
    <!--/ End body content -->
    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" id="modal">

    </div><!-- /.modal -->

    <!--/ End body content -->
{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        /**
         * this is to the tree menu option
         * @returns {undefined}
         */
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Expandir esta rama');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expandir esta rama').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Contraer esta rama').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });

        

        var cerrarRude = function(sie, gestion){
          $.ajax({
              type: 'get',
              data: ({sie: sie, gestion: gestion}),
              url: Routing.generate('herramienta_info_estudiante_cerrarRude'),
              beforeSend: function () {
                  $("#idCerrarRude").empty();
                  $("#idCerrarRude").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
              },
              success: function (data) {
                  $("#idCerrarRude").empty();
                  $("#idCerrarRude").append(data);
              },
              statusCode: {
                  500: function () {

                  },
                  404: function () {

                  }
              }
          });

        };

        var getStudents = function (infoUe) {

            $.ajax({
                type: 'get',
                /*data: ({iecId: iecId, nivel: nivel, sie: sie, gestion: gestion, grado: grado, paralelo: paralelo, turno: turno, ciclo: ciclo}),*/
                /*url: Routing.generate('inscription_ue_all_sie_get_students'),*/
                data: ({infoUe: infoUe}),
                url: Routing.generate('herramienta_info_estudiante_get_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        
        var optionsBth = function (infoUe) {

            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe}),
                url: Routing.generate('herramienta_info_estudiante_optionsBth'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                    $('.tooltips').tooltip();
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var seeStudents = function (infoUe) {
           
            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe}),
                url: Routing.generate('herramienta_info_estudiante_see_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                    $('.tooltips').tooltip();
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };
        var seeStudents = function (infoUe) {
            //impresion libreta
            var e = document.getElementById("idiomasList");
            var idiomaId = e.value;

            $.ajax({
                type: 'get',
                data: ({infoUe: infoUe, idiomaId:idiomaId}),
                url: Routing.generate('herramienta_info_estudiante_see_students'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                    $('.tooltips').tooltip();
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var doInscription = function () {
            var elem = document.getElementById('formStudentInscription').elements;
            var sw = true;
            for (var i = 0; i < elem.length; i++) {
                if (elem[i].type == 'checkbox')
                    if ((elem[i].checked))
                        sw = false;
            }
            if (sw) {
                alert('Tiene que Seleccionar por lo menos una Inscripción...');
                return flase;
            }
            var formIns = $('#formStudentInscription').serialize();
            $.ajax({
                type: 'post',
                data: formIns,
                url: Routing.generate('herramienta_info_estudiante_inscription'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };
        var selectAllEle = function () {
            $("#checkAll").on("change", function () {
                $(this).closest("div").find("input:checkbox").prop("checked", $(this).prop("checked"));
            });

        };
        var getTurnos = function (nivel, sie, gestion, nivelname, key) {
            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_turnos'),*/
                url: "{{ path('herramienta_info_estudiante_get_turnos') }}",
                beforeSend: function () {
                    /* $("#idgrados").empty();
                     $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idgrados_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idgrados_" + key).empty();
                    $("#idgrados_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getParalelos = function (nivel, sie, gestion, turno, turnoname, nivelname, key) {

            $.ajax({
                type: 'post',
                data: ({nivel: nivel, sie: sie, gestion: gestion, turno: turno, turnoname: turnoname, nivelname: nivelname}),
                /*url: Routing.generate('inscription_ue_all_sie_get_paralelos'),*/
                url: "{{ path('inscription_ue_all_sie_get_paralelos') }}",
                beforeSend: function () {
                    /* $("#idparalelos").empty();
                     $("#idstudents").empty();*/
                    $("#idparalelos_" + key).append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    /*$("#idstudents").empty();
                     $("#idparalelos").empty();*/
                    $("#idparalelos_" + key).append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getDatosModalidad = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_modalidadCurso_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var registrarTextoEducativo = function (infoUe)
        {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_textoEducativo_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

     
        var getDatosCurso = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_infoEstudianteDatosCurso_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var getAreas = function (infoUe) {
            $.ajax({
                type: 'post',
                data: ({infoUe: infoUe}),
                url: "{{ path('herramienta_infoEstudianteAreas_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };


        var inscriptionWithRude = function (aData) {

            $.ajax({
                type: 'post',
                data: ({aData: aData}),
                url: Routing.generate('herramienta_info_estudiante_with_rude'),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };
        var doRudeInscription = function () {
            //get data send
            rude = $('#form_rude').val();
            dataInscription = $('#form_dataInscription').val();
            if (rude.length <= 0) {
                alert('Necesita introducir codigo Rude');
                return false;
            }

            $.ajax({
                type: 'post',
                data: ({rude: rude, dataInscription: dataInscription}),
                url: Routing.generate('herramienta_info_estudiante_rude_inscription'),
                beforeSend: function () {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };

        var exeInscription = function () {
            //get data send
            dataInscription = $('#form_dataInscription').val();
            dataStudent = $('#form_dataStudent').val();

            $.ajax({
                type: 'post',
                data: ({dataStudent: dataStudent, dataInscription: dataInscription}),
                url: Routing.generate('herramienta_info_estudiante_exe_inscription'),
                beforeSend: function () {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $("#resultfindrude").empty();
                    $("#resultfindrude").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });

        };




  /* the new to do the inscriptions*/
   var doInscriptionsWithOutRude = function(data){
     $.ajax({
         type: 'post',
         data: ({infoUe: data }),
         url: "{{ path('inscriptionstudent_without_rude_index') }}",
         beforeSend: function () {
             $('#modal').empty();
         },
         success: function (data) {
             $('#modal').empty();
             $('#modal').append(data);
         },
         statusCode: {
             500: function () {

             },
             404: function () {

             }
         }
     });
   };


       var doInscriptionsRude = function(data){
        $.ajax({
            type: 'post',
            data: ({infoUe: data }),
            url: "{{ path('inscriptionstudent_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
      };

      function cerrarSextoGrado(sie, gestion){
          $.ajax({
            url: Routing.generate('herramienta_info_estudiante_cerrarSextoGrado'),
            // type: 'POST',
            data: {sie: sie, gestion: gestion},
            beforeSend: function(){
            },
            success: function(data){
                location.reload();
            },
            error: function(){
            }
          });
      }

      function cerrarOperativo(sie, gestion){

         Swal.fire({
                        title: '¿Cerrar el Operativo?',
                        text: "Esta seguro de cerrar el operativo para la modificación de Especialidades",
                        type: 'question',
                        html:
                            '<b>¿Una vez cerrado el operativo,ya no podrá modificar las especialidades</b>, ' +
                            '<b>Está seguro de realizar esta acción?</b> ',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, proceder',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                          var formData = {sie:sie, gestion:gestion};
                          var imagen = '{{ asset("img/loading96.gif") }}';
                            $.ajax({
                                type: 'post',
                                url: "{{ path('herramienta_info_estudiante_operativoEspecialidadesBth') }}",
                                data:formData,
                                beforeSend: function () {
                                },
                                success: function (data) {
                                   if(data.estado = 1){
                                  Swal.fire({
                                    icon: 'success',
                                    title: 'Se cerró el operativo correctamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                    })
                                  document.getElementById("btnCerraoperativo").disabled = true;
                                  setInterval('window.location.reload()', 3000);

                                   }else{

                                   }
                                },
                                complete: function () {
                                  console.log("error");  
                                }
                            }); 
                        }
                    })



        //var imagen = '{{ asset("img/loading96.gif") }}';
        
      }

      function cerrarOperativoSextodeSecc(sie, gestion){

         Swal.fire({
                        title: '¿Cerrar el Operativo?',
                        text: "Esta seguro de cerrar el operativo SEXTO DE SECUNDARIA",
                        type: 'question',
                        html:
                            '<b>Una vez cerrado el operativo,ya no podrá hacer el registro de las calificaciones en los cursos de Sexto de Secundaria</b>, ' +
                            '<b>¿Está seguro de realizar esta acción?</b> ',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, proceder',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                          var formData = {sie:sie, gestion:gestion};
                          var imagen = '{{ asset("img/loading96.gif") }}';
                            $.ajax({
                                type: 'post',
                                url: "{{ path('herramienta_info_estudiante_closeOperativoSextoSecc') }}",
                                data:formData,
                                beforeSend: function () {
                                    $("#idstudents").empty();
                                    $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                                },
                                success: function (data) {
                                    //console.log(data);return;
                                    $("#idstudents").empty();
                                    
                                    if(data.reloadIt){
                                        $("#idstudents").append('<p>'+data.mssg+'</p>');
                                        location.reload(true);
                                    }else{
                                        $("#idstudents").append(data);
                                    }
                                    $('.tooltips').tooltip();
                                },
                                complete: function () {
                                  console.log("error");  
                                }
                            }); 
                        }
                    })



        //var imagen = '{{ asset("img/loading96.gif") }}';
        
      } 
      
      function consolidarcutttm(sie, gestion){

      Swal.fire({
               title: 'Consolidación CUT-TTM',
               text: "Esta seguro de consolidar CUT-TTM",
               type: 'question',
               html:
                   '<bLuego de la consolidación deberá descargar los certificados correspondientes</b>, ' +
                   '<b>¿Está seguro de realizar consolidación?</b> ',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: 'Si, proceder',
               cancelButtonText: 'Cancelar'
           }).then((result) => {
               if (result.value) {
                 var formData = {sie:sie, gestion:gestion};
                 var imagen = '{{ asset("img/loading96.gif") }}';
                   $.ajax({
                       type: 'post',
                       url: "{{ path('herramienta_info_estudiante_consolidarCUTTTM') }}",
                       data:formData,
                       beforeSend: function () {
                           $("#idstudents").empty();
                           $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                       },
                       success: function (data) {

                            if(data.status = 200){
                                Swal.fire({
                                    icon: 'success',
                                    type: 'success',
                                    title: 'Se reconsolido correctamente el CUT-TTMP, verifique e imprima el certificado',
                                    showConfirmButton: false,
                                    timer: 1500
                                    })
                                $("#idstudents").empty();
                                setInterval('window.location.reload()', 3000);
                                  
                            }else{
                                Swal.fire({
                                    icon: 'alert',
                                    type: 'alert',
                                    title: 'Aun no concluyo con todos los operativos, no se consolida el CUT-TTM',
                                    showConfirmButton: false,
                                    timer: 1500
                                    })
                                $("#idstudents").empty();
                                setInterval('window.location.reload()', 3000);
                                
                            }
                           //console.log(data);return;
                           $("#idstudents").empty();
                           
                           if(data.reloadIt){
                               $("#idstudents").append('<p>'+data.mssg+'</p>');
                               location.reload(true);
                           }else{
                               $("#idstudents").append(data);
                           }
                           $('.tooltips').tooltip();
                       },
                       complete: function () {
                         console.log("error");  
                       }
                   }); 
               }
           })



//var imagen = '{{ asset("img/loading96.gif") }}';

} 



      // function elimina_asignacion_menu_sistema_rol (idmsr, id_sistema, id_rol, tipo_menu)
      // {
      //       swal({
      //           title: "¿Está Segura/o de eliminar el Menú Asignado?",
      //           //text: "El Sistema seleccionado será eliminado Permanentemente",
      //           icon: "warning",
      //           buttons: true,
      //           dangerMode: true,
      //           buttons: ["Cancelar", "Continuar"],
      //       })
      //           .then(function(willDelete)  {
      //               if (willDelete) {
      //                   var imagen = '{{ asset("img/loading96.gif") }}';
      //                   var formData = {idmsr:idmsr, id_sistema:id_sistema, id_rol:id_rol, tipo_menu:tipo_menu==null?0:1};
      //                   $.ajax({
      //                       type: 'post',
      //                       url: "{{ path('gestionmenu_menu_sistema_rol_delete') }}",
      //                       data:formData,
      //                       beforeSend: function () {
      //                           swal({
      //                               title: "Eliminando...",
      //                               text: "Espere un momento por favor",
      //                               icon: imagen,
      //                               buttons: false
      //                           });
      //                       },
      //                       success: function (data) {
      //                           //console.log(data);
      //                           if (data=='no'){
      //                               swal("Notificación", "El menú no puede ser eliminado mientras tenga submenú.", "warning");
      //                           }else {
      //                               $("#listam").empty();
      //                               $("#listam").append(data);
      //                               $( document ).ready(function() {
      //                                   cargatablas();
      //                               });
      //                           }
      //                       },
      //                       complete: function () {
      //                           swal.stopLoading();
      //                           swal.close();
      //                           $(".alert").fadeTo(3000, 1000).slideUp(1000, function(){
      //                               $(".alert").slideUp(1000);
      //                           });
      //                       }
      //                   });
      //               }
      //           });
      //   }

        var RegisterParents = function(idInscripcion){
            $.ajax({
                type: 'post',
                data: ({idInscripcion: idInscripcion }),
                url: "{{ path('special_registerparents_index') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };       
function asignarParalelo(infoUe){
    $("#modal").html('');
    $('#modal').modal('show');
    /*$.post('{{ path('herramienta_asignarPararlelo_index') }}', {infoUe:infoUe}, function(data) {
        $("#modal1_con").html(data);
    });*/
    $.ajax({
        type: 'post',
        data: ({infoUe: infoUe}),
        url: "{{ path('herramienta_asignarPararlelo_index') }}",
        beforeSend: function () {
            $("#modal").empty();
            $("#modal").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
        },
        success: function (data) { console.log(data);
            $("#modal").html(data);
        },
        statusCode: {
            500: function () {
            },
            404: function () {
            }
        }
    });
};
    </script>
{%endblock%}
