
{% if exist == true %}
    <small>
      <div class="row">
          <div class="col-md-12">
              {% for flashMessage in app.session.flashbag.get('noinscription') %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                  </div>
              {% endfor %}

          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              {% for flashMessage in app.session.flashbag.get('goodinscription') %}
                  <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                  </div>
              {% endfor %}

          </div>
      </div>
        <div class="row">
          <div class="col-md-4">
                <a class="btn btn-block btn-facebook" href="{{path('donwload_listStudentPerCourse', {'ue': sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno } )}}">
                  <i class="fa fa-download"></i> Listado de Estudiantes del Curso
                </a>
          </div>
          <div class="col-md-4">

                <a class="btn btn-block btn-linkedin" href="{{path('donwload_boletinPromoPerUe', {'ue': sie, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'gestion': gestion, 'ciclo':ciclo, 'itemsUe':itemsUe } )}}">
                  <i class="fa fa-download"></i> Boletin Centralizador
                </a>
          </div>
          <div class="col-md-4">
            {# if gestion == 2017 %}
              <button type="button" class="btn btn-inverse btn-stroke" disabled="disabled">
                  <i class="fa fa-user"></i> Inscrip. con Rude
              </button>
            { else #}
              {% if app.session.get('ue_modular') or app.session.get('ue_regularizar') or app.session.get('ue_noturna') or app.session.get('ue_tecteg') or app.session.get('ue_general') or app.session.get('allowInscription') or app.session.get('ie_id')=='80900081' %}
                  {% if app.session.get('lastOperativo') == 5%}
                  {% else %}
                    <button type="button" class="btn btn-inverse btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsRude('{{infoUe}}');" >
                        <i class="fa fa-user"></i> Inscrip. con Rude
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick=" getCargaHorariaPlenaFinalizarRegistro('{{infoUe}}');" >
                        <i class="fa fa-check"></i> Finalizar Registro de Horas
                    </button>
                  {% endif %}
              {% endif %}
            {# endif #}

          </div>
          <!--div class="col-md-3" >
            {% if app.session.get('ue_modular') and nivel >= 13 %}
            {% else %}
            <button type="button" class="btn btn-danger btn-stroke" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsWithOutRude('{{infoUe}}');" >
              <i class="fa fa-user-plus"></i> Inscrip. sin Rude
            </button>
            {% endif %}
          </div-->
      </div>
    <br />
        <div class="row">
            <div class="col-lg-12">
                <div id="no-more-tables">
                    <div class="row">

                    </div>

                    <table class="table table-bordered table-hover cf">
                        <tr>

                        <input type="hidden" id="formdata_data" name="formdata[data]" value="{{aData}}">
                        <td align="center" class="warning" colspan="4">Estudiantes Inscritos</br>
                            {{gradoname}} - {{paraleloname}}
                        </td>
                        <td>Opciones</td>
                        <!--td>
                            <input type="checkbox" id="checkAll" name="selectAll" onclick="selectAllEle();"   >
                        </td-->
                        </tr>
                        {#init the array info student #}
                        {% set objInfoStudent = [] %}
                        {% for data in objStudents %}
                          {# set items = {
                                          'estadomatriculaId': data.estadomatriculaId,
                                          'id': data.id,
                                          'carnetIdentidad': data.carnetIdentidad,
                                          'codigoRude': data.codigoRude,
                                          'paterno': '',
                                          'materno': '',
                                          'nombre': '',
                                          'fechaNacimiento': data.fechaNacimiento,
                                          'eInsId': data.eInsId,
                                          'nivelId': data.nivelId,
                                          'cicloId': data.cicloId,
                                          'gradoId': data.gradoId,
                                          'nivel': data.nivel,
                                          'grado': data.grado,
                                          'paralelo': data.paralelo
                                          } #}
                          {% set items = {
                                          'estadomatriculaId': data.estadomatriculaId,
                                          'id': data.id,
                                          'carnetIdentidad': data.carnetIdentidad,
                                          'codigoRude': data.codigoRude,
                                          'paterno': '',
                                          'materno': '',
                                          'nombre': '',
                                          'fechaNacimiento': data.fechaNacimiento,
                                          'eInsId': data.eInsId,
                                          'nivel': data.nivel,
                                          'grado': data.grado,
                                          'paralelo': data.paralelo
                                          } %}
                            {% set horasPlena = data.horasPlena %}
                            {% set conespecialidad = data.conespecialidad %}
                            {% set esvalidoPlena = data.esvalidoPlena %}
                            {% set jsnInfoStudent = items|json_encode() %}
                            {# set the array student info and convert on json string #}
                            {# set objInfoStudent = objInfoStudent|merge(data) #}
                            {# set jsnInfoStudent = objInfoStudent|json_encode() #}
                            <tr >
                                <td>{{loop.index}}</td>
                                <td  align="">{{data.codigoRude}}</td>
                                <td  align="">{{data.paterno}} {{data.materno}} {{data.nombre}} </td>
                                <td  align="">

                                  {% if
                                    ( app.session.get('ue_plena') ) or
                                    ( app.session.get('ue_modular') ) or
                                    ( app.session.get('ue_caldiff') ) or
                                    ( app.session.get('ue_humanistica_web') ) or
                                    ( app.session.get('ue_sol_regularizar') ) or
                                    ( app.session.get('ue_tecteg') )
                                  %}

                                          {# if app.session.get('currentyear') == 2017 }
                                             {{data.estadomatricula}}
                                          { else #}

                                              {% if operativo == 5  or data.estadomatriculaId == 5 or data.estadomatriculaId ==  26 or data.estadomatriculaId ==  37 or data.estadomatriculaId == 55 or data.estadomatriculaId == 56 or data.estadomatriculaId == 57 or data.estadomatriculaId == 58 %}
                                                {{data.estadomatricula}}
                                                {% else %}
                                                  {% if data.estadomatriculaId == 4 %}
                                                  <button type="button" class="btn btn-success btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                  {% else %}
                                                   <button type="button" class="btn btn-default btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                  {% endif %}
                                                     {{data.estadomatricula}}
                                                   </button>
                                              {% endif %}


                                    {% else %}
                                        <button type="button" class="btn btn-default" >
                                             {{data.estadomatricula}}
                                        </button>
                                    {% endif %}
                                  {# endif #}

                                </td>
                                <td  align="">
                                  {% set styleButton = 'info' %}
                                      {% if data.registroFinalizado %}
                                        {% set styleButton = 'success' %}
                                      {% else %}
                                        {% set styleButton = 'info' %}
                                      {% endif %}
                                    {# if  app.session.get('ue_humanistica') #}
                                    {% if
                                      ( app.session.get('ue_plena') ) or
                                      ( app.session.get('ue_modular') ) or
                                      ( app.session.get('ue_caldiff') ) or
                                      ( app.session.get('ue_humanistica_web') ) or
                                      ( app.session.get('ue_sol_regularizar') ) or
                                      ( app.session.get('ue_tecteg') )
                                    %}
                                      
                                      {% if data.estadomatriculaId == 4 or (data.estadomatriculaId in [5,11,55] and gestion == app.session.get('currentyear')) or app.session.get('ie_id') == '81981478'  or app.session.get('ie_id') == '81700043' %}
                                          {% if
                                            ( app.session.get('ue_humanistica') ) or
                                            (app.session.get('ue_plena')  and app.session.get('ue_humanistica') ) or
                                            (app.session.get('ue_tecteg') and app.session.get('ue_humanistica') ) or
                                            (app.session.get('ue_humanistica_web') and app.session.get('ue_humanistica') ) or
                                            (app.session.get('ue_modular') and app.session.get('ue_humanistica') or false )
                                          %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="RUDE">
                                                <button type="button" class="btn btn-circle btn-{{styleButton}} " data-toggle="modal" data-target=".bs-example-modal-table" onclick="socioeconomico('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                          {% endif %}

                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                            <button type="button" class="btn btn-circle btn-danger " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getNotas('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                <i class="fa fa-list"></i>
                                            </button>
                                        </div>
                                      {% endif %}

                                    {% if app.session.get('lastOperativo') == 5%}
                                      <div class="btn-group tooltips" >
                                      </div>
                                    {% else %}
                                      {% if  app.session.get('removeInscriptionAllowed')  or app.session.get('ie_id') == '81981478' %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Eliminar Inscripción">
                                            <button type="button" class="btn btn-circle btn-warning " data-toggle="" data-target="" onclick="removeInscriptionAca('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                      {% endif %}
                                    {% endif %}

                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" data-placement="top" title data-original-title="Imprimir Libreta">

                                      {% if imprimirLibreta == true and data.estadomatriculaId in estadosPermitidosImprimir %}
                                              <a class="btn btn-circle btn-lilac" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                                <i class="fa fa-archive"></i>
                                              </a>
                                      {% endif %}

                                    </div>
                                    {% if false %}
                                      {# if UePlenasAddSpeciality #}
                                      {% if true %}
                                        {% if  app.session.get('ue_tecteg') %}
                                          {% if (grado == '6' or grado == '5' ) and nivel == 13  %}
                                            {% if data.estadomatriculaId ==4 or data.estadomatriculaId ==5 or data.estadomatriculaId ==55 %}
                                              <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registro de Especialidad">
                                                  <button type="button" class="btn btn-circle btn-primary " data-toggle="modal" data-target=".bs-example-modal-table" onclick="registerEspecialidad('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                      <i class="fa fa-user"></i>
                                                  </button>
                                              </div>
                                            {% endif %}
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                      {% if  (app.session.get('ue_plena') or app.session.get('ue_tecteg') ) and (data.estadomatriculaId == 4 or data.estadomatriculaId == 55 or data.estadomatriculaId == 5 ) %}

                                      {% if conespecialidad == true  %}
                                        {% if grado == '6' and nivel == 13  %}
                                          {% if esvalidoPlena == false and gestion >= 2017 %}
                                            {% if app.session.get('ue_plena') %}
                                              {% if horasPlena > 1000 %}
                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Actualizar el Total de la Carga Horaria">
                                                  <button type="button" class="btn btn-circle btn-primary " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getCargaHorariaPlena('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                      <i class="fa fa-clock-o"></i>
                                                  </button>
                                                </div>
                                              {% else %}
                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registrar el Total de la Carga Horaria">
                                                  <button type="button" class="btn btn-circle btn-info " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getCargaHorariaPlena('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                      <i class="fa fa-clock-o"></i>
                                                  </button>
                                                </div>
                                              {% endif %}
                                          {% endif %}

                                          {% endif %}
                                          {% if horasPlena > 1000 and esvalidoPlena == true and gestion >= 2017  %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="DDJJ Especialidad">
                                              <a class="btn btn-circle btn-success" href="{{path('download_ddjj_speciality', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                                <i class="fa fa-clone"></i>
                                              </a>
                                            </div>
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                                  {% else %}<!-- here is the else to UE HUMANISTICA -->
                                    {% if  app.session.get('ue_humanistica') %}
                                      {% if data.estadomatriculaId == 4 or false %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="RUDE">
                                            <button type="button" class="btn btn-circle btn-{{styleButton}} " data-toggle="modal" data-target=".bs-example-modal-table" onclick="socioeconomico('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </div>
                                       {% endif %}
                                    {% endif %}
                                  {% endif %}<!-- here is the end to UE HUMANISTICA -->
                                   </td>
                                  </td>
                                </td>

                            </tr>
                        {%endfor%}

                    </table>

                </div>
                <!-- /.portlet -->
            </div>
        </div>
    </small>
    <!-- /.row -->
{% else %}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<script>
    var getNotas = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_infoEstudianteNotas_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getCargaHorariaPlena = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_infoEstudianteCargaHorariaPlena_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


    var getCargaHorariaPlenaFinalizarRegistro = function (infoUe) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe}),
            url: "{{ path('herramienta_infoEstudianteCargaHorariaPlena_finalizeCreateUpdate') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


    var socioeconomico = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('estudianteSocioeconomico_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var registerEspecialidad = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_info_register_speciality_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };
    var saveSpeciality = function (infoUe, infoStudent) {
        var  specialityForm = $('#specialityFormId').serialize();
        var specialityId = $('#form_especialidad').val();
        var horas = $('#form_horas').val();
        var eInsId = $('#form_eInsId').val();
        var infoStudent = $('#form_infoStudent').val();

           $('#modal').modal('hide');
             $.ajax({
                 type: 'post',
                 url: Routing.generate('herramienta_info_register_speciality_save'),
                 data: ({specialityId: specialityId, horas: horas, eInsId: eInsId, infoStudent:infoStudent}),
                 beforeSend: function () {
                   $('#modal').empty();
                 },
                 success: function (data) {
                   // seeStudents(infoStudent);
                   $('#modal').empty();
                   //$('#modal').append(data);
                   //location.reload(true);
                 },
                 statusCode: {
                     500: function () {

                     },
                     404: function () {

                     }
                 }
             });
         }


    var onlyNumber = function (event) {

        var key = window.event ? event.keyCode : event.which;

        if (key > 31 && (key < 48 || key > 57) && key != 47) {
            $('#noNumber').text(" Campo permitido solo para números ");
            $("#form_registrar").attr("disabled", true);
            return false;
        }
        else {
            $('#noNumber').text(" ");
            $("#form_registrar").removeAttr("disabled");
            return true;
        }
    }
    ;


    var changeMatricula = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: Routing.generate('herramienta_changeMatricula_index'),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


    var removeInscriptionAca = function (infoUe, infoStudent) {
      if(confirm('¿Esta completamente seguro de eliminar la Inscripción? \nPresione en Ok para continuar')){

          $.ajax({
              type: 'get',
              data: ({infoUe: infoUe, infoStudent: infoStudent}),
              url: Routing.generate('herramienta_info_estudiante_remove_inscription_aca'),
              beforeSend: function () {
                  $("#idstudents").empty();
                  $("#idstudents").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
              },
              success: function (data) {
                  $("#idstudents").empty();
                  $("#idstudents").append(data);
                  $('.tooltips').tooltip();
              },
              statusCode: {
                  500: function () {

                  },
                  404: function () {

                  }
              }
          });

      } else {
        return false;
      }
    };

</script>
