<style type="text/css">
    .btn-menu{
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        border-radius: 50%;
    }
    .btn-menu:hover{
        color: #FFFFFF;
        /* border: 2px; */
        box-shadow: 0px 2px 3px #90E6EA;
    }
</style>
{% if exist == true %}
    <small>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noinscription') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('goodinscription') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="header-content">

            {# TITULO DEL CURSO #}

            <h4><i class="glyphicon glyphicon-list-alt"></i> &nbsp; <b> {{gradoname}} - {{paraleloname}} </b> <span> </span></h4>
            <div class="breadcrumb-wrapper hidden-xs">
                <span class="label"> Nivel:</span>
                <ol class="breadcrumb">
                    <li>
                        {{nivelname}}
                    </li>
                </ol>
            </div><!-- /.breadcrumb-wrapper -->
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-left">
                    <h5>Lista de inscritos</h5> 
                </div>
                <div class="pull-right">

                    <span style="font-size:1.2em">Opciones del curso:</span>
                    <a class="btn btn-menu tooltips" href="{{path('donwload_listStudentPerCourse', {'ue': sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno } )}}" data-toggle="tooltip" data-container="body" title="" data-original-title="Listado de Estudiantes del Curso">
                        <i class="fa fa-download" style="color:#FFFFFF"></i>
                    </a>
                    {# {% if app.session.get('acceso_total') and gestion >= 2015 and nivel == 13 %} #}

                        {# {% if grado == 1 or grado == 2 or grado == 3 or grado == 4  %}
                            <a class="btn btn-menu tooltips" href="{{path('donwload_boletinNivelacionTTGBth', {'iecId': iecId, 'codue': sie } )}}" data-toggle="tooltip" data-container="body" title="" data-original-title="Listado de Estudiantes con Nivelación TTG">
                                <i class="fa fa-download" style="color:#FFFFFF"></i>
                            </a>
                        {% endif %}
                        {% if grado == 5 or grado == 6  %}
                            <a class="btn btn-menu tooltips" href="{{path('donwload_boletinNivelacionTTEBth', {'iecId': iecId, 'codue': sie } )}}" data-toggle="tooltip" data-container="body" title="" data-original-title="Listado de Estudiantes con Nivelación TTE">
                                <i class="fa fa-download" style="color:#FFFFFF"></i>
                            </a>
                        {% endif %} #}
                    {# {% endif %} #}
                    {#
                    {% if operativo >= 5 %}
                      <div class="col-md-4">
                            <a class="btn btn-menu" href="{{path('donwload_boletinPromoPerUe', {'ue': sie, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'gestion': gestion, 'ciclo':ciclo, 'itemsUe':itemsUe } )}}" data-toggle="tooltip" data-container="body" title="" data-original-title="Boletín centralizador">
                              <i class="fa fa-download" ></i>
                            </a>
                      </div>
                    {% endif %}
                    #}
                    {# boletin centralizador 2024 #}
                    {# {% if operativo > 1 %}
                        <a class="btn btn-menu tooltips" href="{{path('donwload_boletinPromoPerUe', {'ue': sie, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'gestion': gestion, 'ciclo':ciclo, 'itemsUe':itemsUe } )}}" data-toggle="tooltip" data-container="body" title="" data-original-title="Boletín centralizador preliminar">
                            <i class="fa fa-file-text-o" ></i>
                        </a>
                    {% endif %} #}
                    {# by krlos inscription #}
                    {% if (gestion == 2021) and (app.session.get('esGuanawek') and app.session.get('esGuanawek')==1) %}
                        {% if ( nivel in [11] and grado in [2]) or( nivel in [12] and grado in [1,2,3,4,5,6]) or ( nivel in [13] and grado in [1,2,3,4,5,6])%}
                        <a class="btn btn-menu tooltips" data-toggle="modal" data-target=".bs-example-modal-table" onclick="doInscriptionsRude('{{infoUe}}');" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscripción con Rude">
                            <i class="fa fa-user"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if gestion == 2018 and nivel != 11 %}
                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registro Trabajo del estudiante">
                            <button type="button" class="btn btn-menu" data-toggle="modal" data-target=".bs-example-modal-table" onclick="registerJobStudent('{{infoUe}}');" >
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    {% endif %}

                    {# {% if app.session.get('ue_modular') or app.session.get('ue_regularizar') or app.session.get('ue_humanistica_web') or app.session.get('ue_noturna') or app.session.get('ue_tecteg') or app.session.get('ue_general') or app.session.get('allowInscription') or app.session.get('ie_id')=='80900081' %} #}
                        {# {% if app.session.get('lastOperativo') == 5 %} #}
                        {# {% else %} #}

                          {# {% if gestion < app.session.get('currentyear') %} #}
                            {#
                                <button type="button" class="btn btn-menu" data-toggle="tooltip" data-container="body" title="" data-original-title="Inscripción con RUDE" onclick="doInscriptionsRude('{{infoUe}}');" >
                                    <i class="fa fa-user"></i>
                                </button>
                            #}
                          {# {% endif %} #}
                          {# 
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick=" getCargaHorariaPlenaFinalizarRegistro('{{infoUe}}');" >
                              <i class="fa fa-check"></i> Finalizar Registro de Horas
                          </button> #}
                        {# {% endif %} #}
                    {# {% endif %} #}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div id="no-more-tables" class="table-responsive">
                    <table class="table table-bordered table-hover cf">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CÓDIGO RUDE</th>
                                <th>C.I.</th>
                                <th>PATERNO</th>
                                <th>MATERNO</th>
                                <th>NOMBRE(S)</th>
                                <th>FECHA NAC.</th>
                                <th>ESTADO DE MATRÍCULA</th>
                                <th>Obs. SEGIP</th>
                                <th>OPCIONES</th>
                                <!--td>
                                    <input type="checkbox" id="checkAll" name="selectAll" onclick="selectAllEle();"   >
                                </td-->
                            </tr>
                        </thead>
                        {#init the array info student #}
                        {% set objInfoStudent = [] %}
                        {% for data in objStudents %}
                          {# set items = {
                                          'estadomatriculaId': data.estadomatriculaId,
                                          'id': data.id,
                                          'carnetIdentidad': data.carnetIdentidad,
                                          'codigoRude': data.codigoRude,
                                          'paterno': '',
                                          'materno': '',
                                          'nombre': '',
                                          'fechaNacimiento': data.fechaNacimiento,
                                          'eInsId': data.eInsId,
                                          'nivelId': data.nivelId,
                                          'cicloId': data.cicloId,
                                          'gradoId': data.gradoId,
                                          'nivel': data.nivel,
                                          'grado': data.grado,
                                          'paralelo': data.paralelo
                                          } #}
                          {% set items = {
                                          'estadomatriculaId': data.estadomatriculaId,
                                          'id': data.id,
                                          'carnetIdentidad': data.carnetIdentidad,
                                          'codigoRude': data.codigoRude,
                                          'paterno': '',
                                          'materno': '',
                                          'nombre': '',
                                          'fechaNacimiento': data.fechaNacimiento,
                                          'eInsId': data.eInsId,
                                          'nivel': data.nivel,
                                          'grado': data.grado,
                                          'paralelo': data.paralelo
                                          } %}
                            {% set horasPlena = data.horasPlena %}
                            {% set conespecialidad = data.conespecialidad %}
                            {% set esvalidoPlena = data.esvalidoPlena %}
                            {% set jsnInfoStudent = items|json_encode() %}
                            {# set the array student info and convert on json string #}
                            {# set objInfoStudent = objInfoStudent|merge(data) #}
                            {# set jsnInfoStudent = objInfoStudent|json_encode() #}
                            <tr {% if data.segipId == 0 %}class="text-danger"{% endif %} id="trEstudianteSegip_{{data.codigoRude}}">
                                <td>{{loop.index}}</td>
                                <td>{{data.codigoRude}}</td>
                                <td>{{data.carnetIdentidad}}{% if data.complemento %}-{{data.complemento}}{% endif %}</td>
                                <td>{{data.paterno}}</td>
                                <td>{{data.materno}}</td>
                                <td>{{data.nombre}}</td>
                                <td>{{data.fechaNacimiento|date('d-m-Y')}}</td>
                                <td>
                                    {% if (gestion == app.session.get('currentyear')) %} {#es temporal#}
                                        {# {% if data.cambioEstadoMatricula == true and 1 == 0 %}
                                            <button type="button" class="btn btn-success btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                {{data.estadomatricula}}
                                            </button>
                                        {% else %} #}
                                            {% if (data.estadomatriculaId in [4,6,11,5] and operativo <= 3) %}
                                                <button type="button" class="btn btn-success btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                    <div id="{{data.eInsId}}">{{data.estadomatricula}}</div>
                                                </button>
                                            {% else %}
                                               <a href="javascript:void(0)" title="" onclick="visualizar_contenido('{{infoUe}}','{{jsnInfoStudent}}')"><strong style="color:#ff0000;border:2px;"> {{data.estadomatricula}} &nbsp;</strong> &nbsp;&nbsp;<button><span class="fa fa-eye"></span></button> </a>
                                            {% endif %}
                                            
                                        {# {% endif %} #}
                                    {% else %}
                                        {# {% if data.estadomatriculaId in [4,6,101,5] and sie == '81981543' and gestion == 2022 %}
                                            <button type="button" class="btn btn-success btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                <div id="{{data.eInsId}}">{{data.estadomatricula}}</div>
                                            </button>
                                        {% else %}
                                        <a href="javascript:void(0)" title="" onclick="visualizar_contenido('{{infoUe}}','{{jsnInfoStudent}}')"><strong style="color:#ff0000;border:2px;"> {{data.estadomatricula}} &nbsp;</strong> &nbsp;&nbsp;<button><span class="fa fa-eye"></span></button> </a>
                                        {% endif %} #}
                                        {% if app.session.get('acceso_total') or (app.session.get('ue_humanistica') and gestion >= 2019 and nivel == 13 and grado == 6 and operativo == 4)  %}
                                            {% if operativo == 5  or data.estadomatriculaId == 5 or data.estadomatriculaId ==  26 or data.estadomatriculaId ==  37 or data.estadomatriculaId == 55 or data.estadomatriculaId == 56 or data.estadomatriculaId == 57 or data.estadomatriculaId == 58 %}
                                                {{data.estadomatricula}}
                                            {% else %}
                                                {% if data.estadomatriculaId == 4 %}
                                                    <button type="button" class="btn btn-success btn-stroke btn-xs" data-toggle="modal" data-target=".bs-example-modal-table" onclick="changeMatricula('{{infoUe}}','{{jsnInfoStudent}}');">
                                                {% else %}
                                                    <button type="button" class="btn btn-default btn-stroke btn-xs"  onclick="#">
                                                {% endif %}
                                                {{data.estadomatricula}}
                                                </button>
                                            {% endif %}
                                        {% else %}
                                            {{data.estadomatricula}}
                                        {% endif %}
                                        
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {# VALIDACIÓN SEGIP #}
                                    <div id="estudianteSegip_{{data.codigoRude}}">
                                        {% if data.segipId == 1 %}
                                            <span class="badge badge-success"><i class="fa fa-fw fa-check"></i> Válido SEGIP</span>
                                        {% elseif data.segipId == 0 and data.carnetIdentidad %}
                                            <form action="{{path('herramienta_info_estudiante_validar_segip')}}" method="post">
                                                <input type="hidden" id="form_codigoRude" name="form[codigoRude]" value="{{data.codigoRude}}">
                                                <button type="button" class="btn btn-link text-danger" onclick="validarEstudianteSegip('{{data.codigoRude}}');"><i class="fa fa-fw fa-edit"></i> Validar con SEGIP</button>
                                            </form>
                                        {% else %}
                                            <span class="badge badge-info"><i class="fa fa-fw fa-info"></i> No cuenta con C.I.</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <td class="text-center">
                                    {# APODERADOS #}
                                    {# {% if gestion == 2020 and data.estadomatriculaId in [4] and false %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Apoderado">
                                            <button type="button" class="btn btn-circle btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick="apoderado('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                <i class="fa fa-users"></i>
                                            </button>
                                        </div>
                                    {% endif %} #}

                                    {# APODERADO BONO FAMILIA #}
                                    {# {% if (gestion == 2020 or wenakeyBono) and data.estadomatriculaId in [4] and false %} #}
                                    {# PARA UES PRIVADAS #}
                                    {# {% if (gestion == 2020 or wenakeyBono) and data.estadomatriculaId in [4] and true %}
                                        {% if data.emitId == 19 %}
                                            <span class="badge badge-warning">Estudiante extranjero <br /> no habilitado</span>
                                        {% else %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Apoderado Bono Familia">
                                                <button type="button" class="btn btn-circle btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick="apoderadoBonoFamilia({{data.eInsId}});" >
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% endif %} #}

                                    {# AREAS ESTUDIANTE #}
                                    {# commented by krlos 25.03.21
                                    {% if gestion >= 2019 and (data.estadomatriculaId in [4] or (data.estadomatriculaId in [5,11,28,55] and operativo < 5)) and nivel == 13 and grado >= 3 and app.session.get('ue_humanistica') == false %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Areas estudiante">
                                            <button type="button" class="btn btn-circle btn-warning" data-toggle="modal" data-target=".bs-example-modal-table" onclick="areasEstudiante('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                    #}
                                    {# HABILITA FORMULARIO RUDE #}

                                    {# {% if  gestion >= 2018 and data.estadomatriculaId in [4,5,55,28,11] and app.session.get('optionFormRude') %} #}
                                    {% if  gestion >= 2018 and data.estadomatriculaId in [4,5,55,28,11] %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="RUDE">
                                            <button type="button" class="btn btn-circle btn-primary" data-toggle="modal" data-target=".bs-example-modal-table" onclick="rudeNuevo('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {#
                                    {% if swRegisterCalifications %}
                                        {% if gestion >= 2021 and data.estadomatriculaId in [4] %}
                                            {% if gestion >= 2021 and nivel == 13 and grado >= 5 and app.session.get('acceso_total') %}
                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                                    <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                        <i class="fa fa-list"></i>
                                                    </button>
                                                </div>
                                            {% else %}
                                                {% if gestion >= 2021 %}                                        
                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                            {% endif %}
                                    {% endif %}
                                    #}

                                    {#Sea añadio el boton de reporte formulario RUDE#}
                                    {# if true #}
                                    {% if app.session.get('roluser') in [9] and app.session.get('optionReporteRude') %}
                                        {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Rude ">
                                           <a class="btn btn-circle btn-lilac" target="_blank" href="{{path('download_formulario_rude', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                             <i class="fa fa-archive" style="color:#FFFFFF"></i>
                                           </a>
                                        </div> #}
                                    {% endif %}

                                    {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones">
                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                            <i class="fa fa-list"></i>
                                        </button>
                                    </div>
                                    <a href="mailto:joe@example.com?subject=feedback" "email me">prueba</a> #}

                                    {# <a class="btn btn-circle btn-lilac" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                      <i class="fa fa-archive" style="color:#FFFFFF"></i>
                                    </a> #}

                                    {#by krlos notas 28.05.2021 commented 30.07.21#}

                                    {% if grado == 6 and  gestion == 2021 and data.estadomatriculaId in [4,5] and nivelGradoSexto.haslevel and nivelGradoSexto.hasgrado and nivelGradoSexto.closeopesextosecc == false %}
                                    {% else %}
                                        
                                        {# {% if app.session.get('unablePrimerTrim') and operativo <=2%} #}
                                                            
                                          {% if gestion == 2021 and nivel == 13 and grado == 5 and app.session.get('acceso_total') %}
                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones.">
                                                    <button type="button" class="btn btn-circle btn-danger " disabled="true" data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                        <i class="fa fa-list"></i>
                                                    </button>
                                                </div>
                                            {% else %}
                                                {% if gestion == 2021 %}  
                                                    {# habilita calificaciones #}
                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones..">
                                                        <button type="button" class="btn btn-circle btn-danger " disabled="true" data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                {% else %}
                                                {% endif %}   
                                            {% endif %}                                    
                                        {# {% endif %}                                     #}
                                    {% endif %}                                    


                                    {% if app.session.get('showOptInscription') %}
                                        {% if swRegisterCalifications %}
                                        
                                            {% if   imprimirLibreta == false %}{##}  
                                                                          
                                                {% if gestion >= 2021 and data.estadomatriculaId in [4,5,11,55,58] %} 
                                                    
                                                       
                                                    {# {% if gestion == 2022 and nivel == 13 and grado == 6 and app.session.get('acceso_total')  and mostrarUeSinReporte2022 == false and  cerrarOperativoSexto == false  %}  #}
                                                    {#and mostrarSextoCerrado == false#}
                                                    {% if gestion == 2022 and nivel == 13 and grado == 6 and app.session.get('acceso_total')  and cerrarOperativoSexto == false  %} {#and mostrarSextoCerrado == false#}
                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones...">
                                                            <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                             <i class="fa fa-list"></i>
                                                            </button>
                                                        </div>
                                                    {% else %}
                                                        {% if gestion >= 2021 and operativo<=3 %}  {# se habilita libretas para todos los nivesl y con 1ro y 2do oeprativo disponible #}
                                                            {% if gestion == 2022 and nivel == 13 and grado == 6  %} 
                                                            {% else %}
                                                                {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="reg. Calificaciones.... ">
                                                                    <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                     <i class="fa fa-list"></i>
                                                                    </button>
                                                                </div>                                                         #}
                                                            {% endif %}
                                                        
                                                        {% endif %}   

                                                        {# {% if  gestion == 2022 and operativo==3  and nivel == 13 and grado == 6  and mostrarUeSinReporte2022 == false and  cerrarOperativoSexto == false  %}  se habilita reg notas solo para  6to Secundaria and mostrarSextoCerrado == false #}
                                                            {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="  body" title="" data-original-title="Calificaciones.... ">
                                                               <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                <i class="fa fa-list"></i>
                                                                </button>
                                                            </div> #}
                                                        {# {% endif %} #}
                                                    {% endif %}
                                                    

                                                    {# ingrementado el boton de descargar libreta #}
                                                    {# aqui linreta #}
                                                    {# HABILITACION DE NOTAS PARA SEXTO 2021 
                                                    {{dump(nivelGradoSexto.haslevel)}}
                                                    {{dump(nivelGradoSexto.hasgrado)}}
                                                    {{dump(nivelGradoSexto.closeopesextosecc)}}
                                                    {{dump(nivelGradoSexto.gestion)}}
                                                    {{dump(nivelGradoSexto.operativo) #}
                                                    
                                                    
                                                    {% if  nivel == 13 and  grado == 6  and  gestion == 2022 and data.estadomatriculaId in [4,5,11,55,58] and nivelGradoSexto.haslevel and nivelGradoSexto.hasgrado %} {# OJO CON ESTE CASO se elimina #}
                                                                                                      
                                                        {% if nivelGradoSexto.closeopesextosecc == true and data.estadomatriculaId in [5,11,55] and nivel == 13 and  grado == 6  and  gestion == 2022 %}
                                                              <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Libreta ">
                                                                <a class="btn btn-circle btn-warning " target="_black" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo, 'idioma':idiomaId} )}}">
                                                                  <i class="fa fa-print" style="color:#FFFFFF"></i> 1
                                                                </a>
                                                               </div>

                                                           {#<div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones...">
                                                                <button type="button" class="btn btn-circle btn-danger " disabled="true" data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                    <i class="fa fa-list"></i>
                                                                </button>
                                                            </div> #}

                                                        {% else %}
                                                        {#
                                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Libreta ">
                                                                <a class="btn btn-circle btn-warning " target="_black" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo, 'idioma':idiomaId} )}}">
                                                                  <i class="fa fa-print" style="color:#FFFFFF"></i> 1
                                                                </a>
                                                            </div>
                                                        #}
                                                        {% endif %}
                                                    {% else %}
                                                    
                                                        {% if app.session.get('donwloadLibreta') == true %}
                                                            {# ojo aqui en la impresion#}
                                                            {% if data.estadomatriculaId in estadosPermitidosImprimir %}
                                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Libreta ">
                                                                    <a class="btn btn-circle btn-warning " target="_black" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo, 'idioma':idiomaId} )}}">
                                                                    <i class="fa fa-print" style="color:#FFFFFF"></i>
                                                                    </a>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                        
                                                            {% if gestion >= 2021 and nivel == 13 and grado >= 4 and app.session.get('acceso_total') %} 
                                                                {% if gestion <= 2023 and nivel == 13 and grado == 4 %} 
                                                                    {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones._.">
                                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                            <i class="fa fa-list"></i>
                                                                        </button>
                                                                    </div> #}
                                                                {% else %}          
                                                                    {# ojo aqui 81981543#}
                                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones.._">
                                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                            <i class="fa fa-list"></i>
                                                                        </button>
                                                                    </div>
                                                                {% endif %}
                                                            {% else %}                                          
                                                                    {# ojo aqui #}
                                                                {% if operativo > 0 %}    
                                                                {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones._.">
                                                                    <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                                        <i class="fa fa-list"></i>
                                                                    </button>
                                                                </div> #}
                                                                {% endif %}
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                    {% endif %}
                                                

                                                {% endif %}
                                            {% else %}
                                                {% if gestion == 2022 and nivel in [11,12] and operativo<=4 and data.estadomatriculaId in [4,5,55,28,11] and sie == '81981543' %} 
                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones..">
                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {# habilita titular de cobro bjp #}
                                
                                    {#% if gestion >= 2022 and nivel >= 12 and data.estadomatriculaId in [4,101,9,41] and swRegisterPersonBjp and app.session.get('estado') != 14  %#}                                       
                                    {# a peticion de bruno SOLO EFECTIVOS #}
                                    {# a peticion de bruno SOLO EFECTIVOS + Retirado por abandono, no incorporado, Retirado traslado. #}
                                    {# if gestion >= 2023 and nivel >= 12 and data.estadomatriculaId in [4,10,9,6] and swRegisterPersonBjp and app.session.get('estado') != 14  #}                                       
                                    {# inhabilitado el 05/10 a las 1200 #}
                                    
                                    {% if gestion >= 2024 and nivel >= 12 and data.estadomatriculaId in [999] and swRegisterPersonBjp and app.session.get('estado') != 14  %}                                       
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Asignar Titular">
                                                <button type="button" class="btn btn-circle btn-facebook" data-toggle="modal" data-target=".bs-example-modal-table" onclick="RegisterParents({{data.eInsId}});" >
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>                                           
                                    {% endif %} 
                                
                                    

                                    {# Esto es para las unidades educativas que son Guanawek en la gestion 2020 #}

                                    {# {{ app.session.get('esGuanawek') }} #}
                                    {% if app.session.get('esGuanawek') and app.session.get('esGuanawek')==1 %}
                                        {% if gestion == 2022 and nivel == 13 and grado >= 5 %}

                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones 5-..">
                                                <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table"  onclick="validarEspecialidad2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                    <i class="fa fa-list"></i>
                                                </button>
                                            </div>
                                        {% else %}
                                            {% if gestion == 2022 %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones 6.-.">
                                                <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table"  onclick="getNotas2021('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                    <i class="fa fa-list"></i>
                                                </button>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    
                                    {# REPORTE NAATS SOLO PARA GESTION 2018 Y NIVELES DE PRIMARIA Y SECUNDARIA #}
                                    {% if gestion > 2019 and nivel != 11 and data.estadomatriculaId in [4,5,11,55] %}
                                    {#
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Trabajo del estudiante">
                                            <button type="button" class="btn btn-circle btn-primary " data-toggle="modal" data-target=".bs-example-modal-table" onclick="trabajo('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </div>
                                    #}
                                    {% endif %}
                                    
                                    {# REPORTE CUT #}
                                    {# {% if (sextoCerrado == true or operativo >= 4) and data.conespecialidad and data.imprimirCut and gestion >= 2018 and nivel == 13 and grado == 6 and data.estadomatriculaId in [4,5,55] %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="CUT">
                                            <a class="btn btn-circle btn-success btn-stroke" href="{{path('download_cut', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                              <i class="fa fa-file-pdf-o" style="color:#11AA00"></i>
                                            </a>
                                        </div>
                                    {% endif %} #}



                                    {# REGISTRO DE NOTAS #}
                                    {% if app.session.get('roluser') == 8 or app.session.get('acceso_total') or (app.session.get('ue_humanistica') and gestion >= 2019 ) %}
                                        {% if data.estadomatriculaId == 4 or (data.estadomatriculaId in [5,11,55] and gestion == app.session.get('currentyear')) or (data.estadomatriculaId in [5,11,55] and operativo <= 4) or (data.estadomatriculaId == 55 and gestion < app.session.get('currentyear') and operativo < 5) %}
                                            {# SE VALIDA LA ESPECIALIDAD PARA ESTUDIANTES DE 5 Y 6 DE SECUNDARIA #}
                                            {# PARA TODAS LAS DEMAS GESTIONES #}
                                            {#add to ue 80730370 #}
                                            {% if app.session.get('ie_id') == '80730370' %}
                                                {% if gestion > 2019 and nivel == 13 and grado >= 5 %}

                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones 7.-">
                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" disabled="true" onclick="validarEspecialidad('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                {% else %}                                                
                                                    {% if gestion > 2019 %}
                                                    <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Calificaciones 8-.   ">
                                                        <button type="button" class="btn btn-circle btn-danger " data-target=".bs-example-modal-table" disabled="true" onclick="getNotas('{{infoUe}}','{{jsnInfoStudent}}',{{data.eInsId}});" >
                                                            <i class="fa fa-list"></i>
                                                        </button>
                                                    </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}

                                        {% endif %}
                                    {% endif %}
                                             
                                    
                                    {# IMPRESION DE LIBRETA #}
                                    {% if  imprimirLibreta == true and data.estadomatriculaId in estadosPermitidosImprimir or app.session.get('roluser') in [7,8,9,10] %}
                                    
                                        {% if (gestion < app.session.get('currentyear') and data.estadomatriculaId != 4) %}
                                            <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Libreta ">
                                                <a class="btn btn-circle btn-warning" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo, 'idioma':idiomaId} )}}">
                                                  <i class="fa fa-print" style="color:#FFFFFF"></i>
                                                </a>
                                            </div>
                                        {% else %}
                                            {# commented by krlos 21.09.21 #}
                                            {% if  imprimirLibreta == true  and data.estadomatriculaId in [5,26,55,56,57,58,100,102,11] %}
                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Descargar Libreta">
                                                    <a class="btn btn-circle btn-warning " target="_black" href="{{path('download_libreta', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo, 'idioma':idiomaId} )}}">
                                                      <i class="fa fa-print" style="color:#FFFFFF"></i>
                                                    </a>
                                                </div>

                                            {% endif %}                                           
                                           
                                        {% endif %}
                                    {% endif %}

                                      
                                    {# ELIMINAR INSCRIPCION #}
                                    {# commented to BJP by krlos
                                    {% if  app.session.get('removeInscriptionAllowed')  or app.session.get('ie_id') == '81981478' %}
                                    
                                    {% endif %} 
                                    #}
                                    {#
                                    {% if  gestion == app.session.get('currentyear') and data.estadomatriculaId == 4 and app.session.get('optionRemove') == false %}
                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Eliminar Inscripción" id="delInscriptionId_{{data.codigoRude}}">
                                            <button type="button" class="btn btn-circle btn-warning " data-toggle="" data-target="" onclick="removeInscriptionAca('{{infoUe}}','{{jsnInfoStudent}}','{{data.codigoRude}}');" >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                    #}
                                                                        




                                    {% if false %}
                                        {# if UePlenasAddSpeciality #}
                                        {% if true %}
                                            {% if  app.session.get('ue_tecteg') %}
                                                {% if (grado == '6' or grado == '5' ) and nivel == 13  %}
                                                    {% if data.estadomatriculaId ==4 or data.estadomatriculaId ==5 or data.estadomatriculaId ==55 %}
                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registro de Especialidad">
                                                            <button type="button" class="btn btn-circle btn-primary " data-toggle="modal" data-target=".bs-example-modal-table" onclick="registerEspecialidad('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                                  <i class="fa fa-user"></i>
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                        {% if  (app.session.get('ue_plena') or app.session.get('ue_tecteg') ) and (data.estadomatriculaId == 4 or data.estadomatriculaId == 55 or data.estadomatriculaId == 5 ) %}

                                            {% if conespecialidad == true  %}
                                                {% if grado == '6' and nivel == 13  %}
                                                    {% if esvalidoPlena == false and gestion >= 2017 %}
                                                        {% if app.session.get('ue_plena') %}
                                                            {% if horasPlena > 1000 %}
                                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Actualizar el Total de la Carga Horaria">
                                                                    <button type="button" class="btn btn-circle btn-primary " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getCargaHorariaPlena('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                                        <i class="fa fa-clock-o"></i>
                                                                    </button>
                                                                </div>
                                                            {% else %}
                                                                <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="Registrar el Total de la Carga Horaria">
                                                                    <button type="button" class="btn btn-circle btn-info " data-toggle="modal" data-target=".bs-example-modal-table" onclick="getCargaHorariaPlena('{{infoUe}}','{{jsnInfoStudent}}');" >
                                                                        <i class="fa fa-clock-o"></i>
                                                                    </button>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if horasPlena > 1000 and esvalidoPlena == true and gestion >= 2017  %}
                                                        <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="DDJJ Especialidad">
                                                            <a class="btn btn-circle btn-success" href="{{path('download_ddjj_speciality', {'idInscripcion': data.eInsId, 'rude': data.codigoRude, 'sie':sie, 'gestion': gestion, 'nivel':nivel,'grado':grado, 'paralelo':paralelo,'turno':turno, 'ciclo':ciclo} )}}">
                                                                <i class="fa fa-clone"></i>
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}<!-- here is the else to UE HUMANISTICA -->
                                        {% if  app.session.get('ue_humanistica') %}
                                            {% if data.estadomatriculaId == 4 or false %}
                                                {# <div class="btn-group tooltips" data-toggle="tooltip" data-container="body" title="" data-original-title="RUDE">
                                                    <button type="button" class="btn btn-circle btn-{{styleButton}} " data-toggle="modal" data-target=".bs-example-modal-table" onclick="socioeconomico('{{infoUe}}','{{jsnInfoStudent}}',0);" >
                                                        <i class="fa fa-user"></i>
                                                    </button>
                                                </div> #}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}<!-- here is the end to UE HUMANISTICA -->
                                </td>
                                {# <td></td> #}
                            </tr>
                        {% endfor %}
                    </table>
                </div>  
            </div>
        </div>
    </small>
    
    <!-- /.row -->
{% else %}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninsueall') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    var getNotas = function (infoUe, infoStudent, idInscripcion) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_infoEstudianteNotas_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#modal').modal('show');
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var getNotas2021 = function (infoUe, infoStudent, idInscripcion) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_StudentScore_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#modal').modal('show');
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var validarEspecialidad = function(infoUe, infoStudent,idInscripcion){
        $.ajax({
            type: 'post',
            data: ({idInscripcion: idInscripcion, infoUe: infoUe, infoStudent: infoStudent }),
            url: "{{ path('herramienta_infoEstudianteAreasEstudiante_especilidad_verificar') }}",
            beforeSend: function () {
                
            },
            success: function (data) {

                if(typeof data === 'object'){
                    getNotas(data.infoUe, data.infoStudent, data.idInscripcion);
                }else{
                    $('#modal').empty();
                    $('#modal').append(data);
                    $('#modal').modal('show');
                }
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    }
    var validarEspecialidad2021 = function(infoUe, infoStudent,idInscripcion){
        $.ajax({
            type: 'post',
            data: ({idInscripcion: idInscripcion, infoUe: infoUe, infoStudent: infoStudent }),
            url: "{{ path('herramienta_infoEstudianteAreasEstudiante_especilidad_verificar') }}",
            beforeSend: function () {
                
            },
            success: function (data) {

                if(typeof data === 'object'){
                    getNotas2021(data.infoUe, data.infoStudent, data.idInscripcion);
                }else{
                    $('#modal').empty();
                    $('#modal').append(data);
                    $('#modal').modal('show');
                }
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    }    



    var getCargaHorariaPlena = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_infoEstudianteCargaHorariaPlena_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


    var getCargaHorariaPlenaFinalizarRegistro = function (infoUe) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe}),
            url: "{{ path('herramienta_infoEstudianteCargaHorariaPlena_finalizeCreateUpdate') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };


    var socioeconomico = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('estudianteSocioeconomico_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var rude = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('info_estudiante_rude_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var rudeNuevo = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('info_estudiante_rude_nuevo_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">RUDE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var apoderado = function (infoUe, infoStudent, editar) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent, editar: editar}),
            url: "{{ path('apoderado_nuevo_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content text-center" style="padding:20px;"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var apoderadoBonoFamilia = function (idInscripcion) {

        $.ajax({
            type: 'post',
            data: ({idInscripcion: idInscripcion}),
            url: "{{ path('apoderado_bono_familia_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content text-center" style="padding:20px;"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var trabajo = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('estudiante_trabaja_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">DATOS DE TRABAJO DEL ESTUDIANTE</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

     var registerJobStudent = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('estudianteTrabajaNuevo_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#64CBE2; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:10px 0px 0px 10px; text-align:center">BUSQUEDA ESTUDIANTE Y REGISTRO TRABAJO</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var registerEspecialidad = function (infoUe, infoStudent) {
        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_info_register_speciality_index') }}",
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };
    var saveSpeciality = function (infoUe, infoStudent) {
        var  specialityForm = $('#specialityFormId').serialize();
        var specialityId = $('#form_especialidad').val();
        var horas = $('#form_horas').val();
        var eInsId = $('#form_eInsId').val();
        var infoStudent = $('#form_infoStudent').val();

           $('#modal').modal('hide');
             $.ajax({
                 type: 'post',
                 url: Routing.generate('herramienta_info_register_speciality_save'),
                 data: ({specialityId: specialityId, horas: horas, eInsId: eInsId, infoStudent:infoStudent}),
                 beforeSend: function () {
                   $('#modal').empty();
                 },
                 success: function (data) {
                   // seeStudents(infoStudent);
                   $('#modal').empty();
                   //$('#modal').append(data);
                   //location.reload(true);
                 },
                 statusCode: {
                     500: function () {

                     },
                     404: function () {

                     }
                 }
             });
         }


    var onlyNumber = function (event) {

        var key = window.event ? event.keyCode : event.which;

        if (key > 31 && (key < 48 || key > 57) && key != 47) {
            $('#noNumber').text(" Campo permitido solo para números ");
            $("#form_registrar").attr("disabled", true);
            return false;
        }
        else {
            $('#noNumber').text(" ");
            $("#form_registrar").removeAttr("disabled");
            return true;
        }
    }
    ;


    var changeMatricula = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: Routing.generate('herramienta_changeMatricula_index'),
            beforeSend: function () {
                $('#modal').empty();
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };   

    var removeInscriptionAca = function (infoUe, infoStudent, codigoRude) {
      if(confirm('¿Esta completamente seguro de eliminar la Inscripción? \nPresione en Ok para continuar')){

          $.ajax({
              type: 'get',
              data: ({infoUe: infoUe, infoStudent: infoStudent}),
              url: Routing.generate('herramienta_info_estudiante_remove_inscription_aca'),
              beforeSend: function () {
                $('#delInscriptionId_'+codigoRude).empty();
                $('#delInscriptionId_'+codigoRude).html('Cargando...');
              },
              success: function (data) {
                $('#delInscriptionId_'+codigoRude).empty();
                $('#delInscriptionId_'+codigoRude).removeClass('text-danger').addClass('text-success');
                $('#delInscriptionId_'+codigoRude).html('<span class="badge badge-danger"><i class="fa fa-fw fa-check"></i> Eliminado</span>');                
                
                  $('.tooltips').tooltip();
              },
              statusCode: {
                  500: function () {

                  },
                  404: function () {

                  }
              }
          });

      } else {
        return false;
      }
    };

    var areasEstudiante = function (infoUe, infoStudent) {

        $.ajax({
            type: 'post',
            data: ({infoUe: infoUe, infoStudent: infoStudent}),
            url: "{{ path('herramienta_infoEstudianteAreasEstudiante_index') }}",
            beforeSend: function () {
                $('#modal').empty();
                $('#modal').append('<div class="modal-dialog modal-lg"><div class="modal-content"><div class="panel panel-tab panel-tab-double"><div class="panel-heading no-padding"><div style="height:50px; background:#E14031; color:#FFFFFF; margin-top:-10px;"><h4 style="padding:15px 0px 0px 10px; text-align:left">Adición y Eliminación de Áreas / Estudiante</h4></div></div><div class="panel-body no-padding" id="modal-body"><div style="text-align:center; color:#69A7E2; font-size:17px; padding:20px"><img src="{{asset("img/loading.gif")}}"><br>Cargando...</div></div></div></div></div>');
            },
            success: function (data) {
                $('#modal').empty();
                $('#modal').append(data);
                $('#sandbox-container input').datepicker({
                  autoclose: true,
                  todayHighlight: true,
                  format: 'dd-mm-yyyy',
                  language: "es"
                });
                //$('#modal').modal({backdrop: 'static', keyboard: false})
            },
            statusCode: {
                500: function () {

                },
                404: function () {

                }
            }
        });
    };

    var validarEstudianteSegip = function(codigoRude){
        if(confirm('Está a punto de validar con SEGIP el registro observado. ¿Desea continuar?')) {
            $.ajax({
                type: 'post',
                data: ({codigoRude: codigoRude}),
                url: "{{path('herramienta_info_estudiante_validar_segip')}}",
                beforeSend: function () {
                    $('#estudianteSegip_'+codigoRude).empty();
                    $('#estudianteSegip_'+codigoRude).html('Cargando...');
                },
                success: function (data) {
                    $('#estudianteSegip_'+codigoRude).empty();
                    if(data.estado){
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-success');
                        $('#estudianteSegip_'+codigoRude).html('<span class="badge badge-success"><i class="fa fa-fw fa-check"></i> '+data.mensaje+'</span>');
                    } else {
                        $('#trEstudianteSegip_'+codigoRude).removeClass('text-danger').addClass('text-warning');
                        $('#estudianteSegip_'+codigoRude).html('<span>'+data.mensaje+'</span>');
                    }
                },
                statusCode: {
                    500: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');                        
                    },
                    404: function () {
                        $('#estudianteSegip_'+codigoRude).empty();
                        $('#estudianteSegip_'+codigoRude).html('Ocurrió un error interno.');
                    }
                }
            });
        }
    };
    function visualizar_contenido(infoUe, infoStudent){
        $("#modal").modal('show')
        $("#modal").html('')
        $.post('{{path('visualizar_contenido')}}', {infoUe, infoStudent}, function(dato) {
            $("#modal").html(dato)
        });
    }


</script>
