{% extends 'layoutOlimpiadas.html.twig' %}

{% block contentoption %} 
    <div class="header-content">
        <h2><i class="fa fa-pencil"></i> Registrados<span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">         
                {% if nivel == 0 %}
                    <li><i class="fa fa-home"></i><a href="#">Nivel Nacional</a></li>
                {% endif %}
                {% if nivel == 1 %}
                    <li><i class="fa fa-home"></i><a href="javascript:history.back()">Nivel Nacional</a><i class="fa fa-angle-right"></i></li><li><a href="#">Nivel Departamental</a></li>
                {% endif %}
                {% if nivel == 7 %}                        
                    <li><i class="fa fa-home"></i><a href="javascript:history.go(-2)">Nivel Nacional</a><i class="fa fa-angle-right"></i></li><li><a href="javascript:history.back()">Nivel Departamental</a><i class="fa fa-angle-right"></i></li><li><a href="#">Nivel Distrital</a></li>
                {% endif %}
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>  
    
    <div class="body-content animated fadeIn">        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel shadow">
                    <div class="panel-heading">
                        {% if estadistica is defined  %}
                            <div class="pull-left">                                
                                {% if nivel == 0 %}
                                    <h3 class="panel-title text-primary"><i class="fa fa-bar-chart-o"></i> Cantidad de inscritos por Departamento según área</h3>
                                {% endif %}
                                {% if nivel == 1 %}
                                    <h3 class="panel-title text-primary"><i class="fa fa-bar-chart-o"></i> Cantidad de inscritos por Distrito Educativo según área</h3>
                                {% endif %}
                                {% if nivel == 7 %}
                                    <h3 class="panel-title text-primary"><i class="fa fa-bar-chart-o"></i> Cantidad de inscritos por Unidad Educativa según área</h3>
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                <form name="formEstadisticaPdf" id="formEstadisticaPdf"  action="{{ path('olimestadistica_registrados_area_pdf') }}" method="POST">  
                                    <input type="hidden" name="codigo" id="codigo" value="{{estadistica[0]['codigo']|base64_encode }}" />
                                    <input type="hidden" name="nivel" id="nivel" value="{{nivel}}" />
                                    <button type="submit" title="Descargar en formato PDF" class="btn btn-googleplus">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </button>
                                </form> 
                            </div>     
                            <div class="pull-right">
                                <form name="formEstadisticaXls" id="formEstadisticaXls"  action="{{ path('olimestadistica_registrados_area_xls') }}" method="POST">  
                                    <input type="hidden" name="codigo" id="codigo" value="{{estadistica[0]['codigo']|base64_encode }}" />
                                    <input type="hidden" name="nivel" id="nivel" value="{{nivel}}" />
                                    <button type="submit" title="Descargar en formato XLS" class="btn btn-success">
                                        <i class="fa fa-file-excel-o"></i>
                                    </button>
                                </form> 
                            </div>     
                            <div class="clearfix"></div>
                        {% endif %}
                    </div>  
                    <div class="panel-sub-heading inner-all">
                        <small>
                            {% if estadistica is defined  %}
                                {% set porcentaje1 = (( estadistica[0]['area1'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje2 = (( estadistica[0]['area2'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje3 = (( estadistica[0]['area3'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje4 = (( estadistica[0]['area4'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje5 = (( estadistica[0]['area5'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje6 = (( estadistica[0]['area6'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje7 = (( estadistica[0]['area7'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje8 = (( estadistica[0]['area8'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                {% set porcentaje9 = (( estadistica[0]['area9'] * 100 ) / estadistica[0]['cantidad'])|number_format(1,'.',',') %}
                                <div class="row">
                                    <div class="col-md-4"><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Matemática ({{estadistica[0]['area1']}} - {{porcentaje1}}%)</div>
                                    <div class="col-md-4"><span class="label label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Física ({{estadistica[0]['area2']}} - {{porcentaje2}}%)</div>
                                    <div class="col-md-4"><span class="label label-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Química ({{estadistica[0]['area3']}} - {{porcentaje3}}%)</div>
                                    <div class="col-md-4"><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Biología ({{estadistica[0]['area4']}} - {{porcentaje4}}%)</div>
                                    <div class="col-md-4"><span class="label label-lilac">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Geografía ({{estadistica[0]['area5']}} - {{porcentaje5}}%)</div>
                                    <div class="col-md-4"><span class="label label-teals">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Astronomía - Astrofísica ({{estadistica[0]['area6']}} - {{porcentaje6}}%)</div>
                                    <div class="col-md-4"><span class="label label-inverse">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Informática ({{estadistica[0]['area7']}} - {{porcentaje7}}%)</div>
                                    <div class="col-md-4"><span class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Robótica ({{estadistica[0]['area8']}} - {{porcentaje8}}%)</div>
                                    <div class="col-md-4"><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Feria científica ({{estadistica[0]['area9']}} - {{porcentaje9}}%)</div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-4"><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Matemática</div>
                                    <div class="col-md-4"><span class="label label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Física</div>
                                    <div class="col-md-4"><span class="label label-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Química</div>
                                    <div class="col-md-4"><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Biología</div>
                                    <div class="col-md-4"><span class="label label-lilac">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Geografía</div>
                                    <div class="col-md-4"><span class="label label-teals">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Astronomía - Astrofísica</div>
                                    <div class="col-md-4"><span class="label label-inverse">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Informática</div>
                                    <div class="col-md-4"><span class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Robótica</div>
                                    <div class="col-md-4"><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Feria científica</div>
                                </div>
                            {% endif %}
                        </small>
                    </div>             
                    <div class="panel-body">
                        {% if estadistica is defined  %}
                            {% set count = 0 %}
                            {% set cantidadTotalGeneral = 0 %}
                            {% for data in estadistica %}
                                {% set count = count + 1 %}
                                {% set id = data.id %}
                                {% set codigo = data.codigo %}
                                {% set lugar = data.nombre %}
                                {% set cantidad1 = data.area1 %}
                                {% set cantidad2 = data.area2 %}
                                {% set cantidad3 = data.area3 %}
                                {% set cantidad4 = data.area4 %}
                                {% set cantidad5 = data.area5 %}
                                {% set cantidad6 = data.area6 %}
                                {% set cantidad7 = data.area7 %}
                                {% set cantidad8 = data.area8 %}
                                {% set cantidad9 = data.area9 %}
                                {% set cantidad = data.cantidad %}
                                {% if count == 1 %}
                                    {% set cantidadTotal1 = data.area1 %}
                                    {% set cantidadTotal2 = data.area2 %}
                                    {% set cantidadTotal3 = data.area3 %}
                                    {% set cantidadTotal4 = data.area4 %}
                                    {% set cantidadTotal5 = data.area5 %}
                                    {% set cantidadTotal6 = data.area6 %}
                                    {% set cantidadTotal7 = data.area7 %}
                                    {% set cantidadTotal8 = data.area8 %}
                                    {% set cantidadTotal9 = data.area9 %}
                                    {% set cantidadTotalGeneral = data.cantidad %}
                                {% endif %}
                                {% set porcentaje1 = (( cantidad1 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje2 = (( cantidad2 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje3 = (( cantidad3 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje4 = (( cantidad4 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje5 = (( cantidad5 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje6 = (( cantidad6 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje7 = (( cantidad7 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje8 = (( cantidad8 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje9 = (( cantidad9 * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}
                                {% set porcentaje = (( cantidad * 100 ) / cantidadTotalGeneral)|number_format(1,'.',',') %}

                                {% if count == 1 %}
                                    <span class="text-primary pull-right"><b>{{ cantidad }}</b></span><span class="text-primary"><b>{{ lugar }}</b></span>
                                    {% if data.cantidad == 0 %}
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-primary hidden-ie" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                <span class="sr-only">0%</span>
                                            </div>
                                        </div>                                        
                                    {% else %}
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-primary hidden-ie" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">100%</span>
                                            </div>
                                        </div>  
                                    {% endif %}
                                {% else %}
                                    {% if data.cantidad == 0 %}
                                        <span class="pull-right" style="width:150px; text-align:right"><b>{{ cantidad }}</b></span><span class="">{{ lugar }}</span>                                        
                                        <div class="progress progress-md">
                                            <div class="progress-bar progress-bar-success" title="0% Matemática" style="width: 0%"><span class="sr-only"></span></div>                                            
                                            <div class="progress-bar progress-bar-info" title="0% Física" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-warning" title="0% Química" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-danger" title="0% Biología" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-lilac" title="0% Geografía" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-teals" title="0% Astronomía - Astrofísica" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-inverse" title="0% Informática" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-primary" title="0% Robótica" style="width: 0%"><span class="sr-only"></span></div>
                                            <div class="progress-bar progress-bar-success" title="0% Feria científica" style="width: 0%"><span class="sr-only"></span></div>
                                        </div>
                                    {% else %}
                                        {% if nivel == 7 %}
                                            <span class="pull-right" style="width:150px; text-align:right"><b>{{ cantidad }}</b></span><span class="">{{ lugar }}</span>                                           
                                            <div class="progress progress-md">
                                                <div class="progress-bar progress-bar-success" title="{{ porcentaje1 }}% Matemática" style="width: {{ porcentaje1 }}%"><span class="sr-only"></span></div>                                            
                                                <div class="progress-bar progress-bar-info" title="{{ porcentaje2 }}% Física" style="width: {{ porcentaje2 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-warning" title="{{ porcentaje3 }}% Química" style="width: {{ porcentaje3 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-danger" title="{{ porcentaje4 }}% Biología" style="width: {{ porcentaje4 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-lilac" title="{{ porcentaje5 }}% Geografía" style="width: {{ porcentaje5 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-teals" title="{{ porcentaje6 }}% Astronomía - Astrofísica" style="width: {{ porcentaje6 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-inverse" title="{{ porcentaje7 }}% Informática" style="width: {{ porcentaje7 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-primary" title="{{ porcentaje8 }}% Robótica" style="width: {{ porcentaje8 }}%"><span class="sr-only"></span></div>
                                                <div class="progress-bar progress-bar-success" title="{{ porcentaje9 }}% Feria científica" style="width: {{ porcentaje9 }}%"><span class="sr-only"></span></div>
                                            </div>
                                        {% else %}
                                            <form name="form" role="form" action="{{ path('olimestadistica_registrados_area') }}" method="POST"> 
                                                <input type="hidden" name="codigo" id="codigo" value="{{codigo|base64_encode }}" />
                                                <input type="hidden" name="nivel" id="nivel" value="{{nivelSiguiente}}" />
                                                <button type="submit" id="submit{{id}}" style="display:none;"></button>
                                                <a href="javascript:;" class="text-inverse" style="text-decoration:none;" onclick="$('#submit{{id}}').click();">
                                                    <span class="pull-right" style="width:150px; text-align:right"><b>{{ cantidad }}</b></span><span class="">{{ lugar }}</span>
                                                </a>        
                                                <div class="progress progress-md">
                                                        <div class="progress-bar progress-bar-success" title="{{ porcentaje1 }}% Matemática" style="width: {{ porcentaje1 }}%"><span class="sr-only"></span></div>                                            
                                                        <div class="progress-bar progress-bar-info" title="{{ porcentaje2 }}% Física" style="width: {{ porcentaje2 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-warning" title="{{ porcentaje3 }}% Química" style="width: {{ porcentaje3 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-danger" title="{{ porcentaje4 }}% Biología" style="width: {{ porcentaje4 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-lilac" title="{{ porcentaje5 }}% Geografía" style="width: {{ porcentaje5 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-teals" title="{{ porcentaje6 }}% Astronomía - Astrofísica" style="width: {{ porcentaje6 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-inverse" title="{{ porcentaje7 }}% Informática" style="width: {{ porcentaje7 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-primary" title="{{ porcentaje8 }}% Robótica" style="width: {{ porcentaje8 }}%"><span class="sr-only"></span></div>
                                                        <div class="progress-bar progress-bar-success" title="{{ porcentaje9 }}% Feria científica" style="width: {{ porcentaje9 }}%"><span class="sr-only"></span></div>
                                                    </div>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function(){
            
        });        
    </script>
{% endblock %}


