{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    
    <style type="text/css">
        .jupper{
            text-transform: uppercase;
        }
        [v-cloak]{
            display: none;
        }
        .estudiante{
            padding: 10px;
            background: #EEEEEE;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
        }
        input[type='text']{
            /* background: #000000; */
        }
        .select-nota:hover{
            border-color: #ABBDC9;
            background: #EAFBF1;
            color: #009900;
        }
        .seleccionado{
            background: #B8F1CA !important;
        }
        .headtabla{
            background: #717171 !important;
            color: #FFFFFF;
            border-bottom: none !important;
        }
        .check{
            /* background: #EEEEEE; */
            /* margin-right: 30px; */
        }
        h5{
            font-weight: bold;
        }
    </style>
    
    <div id="app">
    <div v-cloak>
        <div class="header-content">
            <h2><i class="fa fa-table animated fadeIn"></i> Solicitud de Modificaciòn y Adiciòn de Calificaciones <span></span></h2>
            <div class="breadcrumb-wrapper hidden-xs">
                <span class="label">Usted esta aquí:</span>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href={{ path('tramite_modificacion_calificaciones_index') }}>Solicitud Modificación/Adición de calificaciones</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Formulario</li>
                </ol>
            </div><!-- /.breadcrumb-wrapper -->
        </div><!-- /.header-content -->
        <div class="body-content animated fadeIn">
        
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> <i class="fa fa-file"></i> Formulario de Solicitud </h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-center">
                                <h3>FORMULARIO DE ADICIÓN Y MODIFICACIÓN DE CALIFICACIONES</h3>
                                <p>(Aplica en Nivel Primaria y  Nivel Secundaria)</p>
                            </div>

                            <table class="table table-condensed">
                                <thead>
                                    <tr><th colspan="2"><h5>Datos Estudiante</h5></th></tr>
                                </thead>
                                <tbody>
                                    <tr><th>Código Rude</th><td>{{estudiante.codigoRude}}</td></tr>
                                    <tr><th>Nombre completo</th><td>{{estudiante.nombre}} {{estudiante.paterno}} {{estudiante.materno}}</td></tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table table-condensed">
                                <thead>
                                    <tr><th colspan="2"><h5>Datos Inscripción</h5></th></tr>
                                </thead>
                                <tbody>
                                    <tr><th>Código SIE</th><td>{{ inscripcion.institucioneducativaCurso.institucioneducativa.id }}</td></tr>
                                    <tr><th>Unidad Educativa</th><td>{{ inscripcion.institucioneducativaCurso.institucioneducativa.institucioneducativa }}</td></tr>
                                    <tr><th>Nivel</th><td>{{ inscripcion.institucioneducativaCurso.nivelTipo.nivel }}</td></tr>
                                    <tr><th>Grado</th><td>{{ inscripcion.institucioneducativaCurso.gradoTipo.grado }}</td></tr>
                                    <tr><th>Paralelo</th><td>{{ inscripcion.institucioneducativaCurso.paraleloTipo.paralelo }}</td></tr>
                                    <tr><th>Turno</th><td>{{ inscripcion.institucioneducativaCurso.turnoTipo.turno }}</td></tr>
                                    <tr><th>Gestión</th><td>{{ inscripcion.institucioneducativaCurso.gestionTipo.gestion }}</td></tr>
                                </tbody>
                            </table>
                            <hr>
                            <h5>
                                <b>Detalle de calificaciones</b>
                            </h5>
                            {% if datos.notas|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="5">Cuantitativas</th>
                                        </tr>
                                        <tr>
                                            <th class="headtabla">Asignatura</th>
                                            <th class="headtabla">Periodo</th>
                                            <th class="headtabla">Calificación actual</th>
                                            <th class="headtabla">Nueva calificación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nota in datos.notas %}
                                            <tr>
                                                <td>{{ nota.asignatura }}</td>
                                                <td>{{ nota.bimestre }}</td>
                                                <td>{{ nota.nota }}</td>
                                                <td>
                                                    {{ nota.notaNueva }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <br>
                            {% if datos.notasCualitativas|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="4">Cualitativas</th>
                                        </tr>
                                        <tr>
                                            <th class="headtabla">Periodo</th>
                                            <th class="headtabla">Valoración actual</th>
                                            <th class="headtabla">Nueva valoración</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for notaCualitativa in datos.notasCualitativas %}
                                            <tr>
                                                <td class="table-cell" style="vertical-align:middle">{{ cualitativa.bimestre }}</td>
                                                <td>{{ cualitativa.notaCualitativa }}</td>
                                                <td>
                                                    {{ cualitativa.notaCualitativaNueva }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>R.A.</h5>
                                    <a href=""> <b> <i class="fa fa-file-image-o"></i> Ver resolucion administrativa </b></a>
                                    {# <img src="{{ asset('uploads/archivos/flujos/modificacionNotas/' ~ sie ~ '/' ~ datos.archivo.new_name) }}" alt="" width="350px">                                     #}
                                </div>
                                <div class="col-md-6">
                                    <h5>Justificativo</h5>
                                    <p>{{ datos.justificacion }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>¿El trámite es procedente?</h5>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="procedente" value="1" v-model="procedente" required>
                                    Si
                                </label>
                                &nbsp;
                                <label>
                                    <input type="radio" name="procedente" value="0" v-model="procedente" required>
                                    No
                                </label>
                            </div>
                            <textarea v-if="procedente == 0" name="obs" id="" cols="30" rows="5" class="form-control" v-model="obs" placeholder="Registre una observación"></textarea>
                            <button type="button" v-on:click="enviarFormulario" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script>
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                procedente: 1,
                obs: ''
            },
            methods: {
                enviarFormulario: function(){
                    console.log(this.procedente);
                    
                }                
            },
            computed: {
            },
            mounted(){
                
            }
        });

    </script>
{% endblock %}