<p style="font-size:1.5em; font-weight:bold">Trámite Nro. {{ idTramite }}</p>
<div class="panel panel-primary">
	<div class="panel-heading" data-action="collapse" style="cursor:pointer">
		<div class="pull-left">
            <h3 class="panel-title"><i class="fa fa-list"></i> Detalles del trámite - <b>Historial</b></h3>
        </div>
        <div class="pull-right">
            {# <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-down"></i></button> #}
        </div>
        <div class="clearfix"></div>
	</div>
	<div class="panel-body" style="display:none">
		<div class="row">
            <div class="col-md-12">
                <!-- Start color horizontal tabs -->
                <div class="panel panel-tab panel-tab-double shadow">
                    <!-- Start tabs heading -->
                    <div class="panel-heading no-padding">
                        <ul class="nav nav-tabs">
                        	{% for h in historial %}
                        		{% if h.orden in [1,2,6] %}
	                        		<li {% if loop.index == 1 %} class="nav-border nav-border-top-warning active" {% else %} class="nav-border nav-border-top-warning" {% endif %} >
	                                    <a href="component-tabsaccordion.html#tab{{ loop.index + 1 }}" data-toggle="tab" aria-expanded="true">
	                                        <i class="fa fa-user"></i>
	                                        <div>
	                                            <span class="text-strong"> {{ h.rol }}</span>
	                                            <span> <small>{{ h.proceso_tipo }}</small></span>
	                                        </div>
	                                    </a>
	                                </li>
                                {% endif %}
                        	{% endfor %}
                        </ul>
                    </div><!-- /.panel-heading -->
                    <!--/ End tabs heading -->

                    <!-- Start tabs content -->
                    <div class="panel-body">
                        <div class="tab-content">
                        	{% for h in historial %}
                        		{% if h.orden in [1,2,6] %}
	                            <div {% if loop.index == 1 %} class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %} id="tab{{ loop.index + 1 }}">
	                                {% if h.orden == 1 %} {# unidad educativa #}
										<div class="row">
										    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										        <div class="text-center">
										            <h3>FORMULARIO DE ADICIÓN Y/O MODIFICACIÓN DE CALIFICACIONES</h3>
										            <p>(Aplica en Nivel Primaria y  Nivel Secundaria)</p>
										        </div>

										        <table class="table table-condensed">
										            <thead>
										                <tr><th colspan="2"><h5>Datos Estudiante</h5></th></tr>
										            </thead>
										            <tbody>
										                <tr><th>Código Rude</th><td>{{h.datos.codigoRude}}</td></tr>
										                <tr><th>Nombre completo</th><td>{{h.datos.estudiante}}</td></tr>
										            </tbody>
										        </table>
										        <br>
										        <table class="table table-condensed">
										            <thead>
										                <tr><th colspan="2"><h5>Datos Inscripción</h5></th></tr>
										            </thead>
										            <tbody>
										                <tr><th>Código SIE</th><td>{{ h.datos.sie }}</td></tr>
										                <tr><th>Unidad Educativa</th><td>{{ h.datos.institucioneducativa }}</td></tr>
										                <tr><th>Nivel</th><td>{{ h.datos.nivel }}</td></tr>
										                <tr><th>Grado</th><td>{{ h.datos.grado }}</td></tr>
										                <tr><th>Paralelo</th><td>{{ h.datos.paralelo }}</td></tr>
										                <tr><th>Turno</th><td>{{ h.datos.turno }}</td></tr>
										                <tr><th>Gestión</th><td>{{ h.datos.gestion }}</td></tr>
										            </tbody>
										        </table>
										        <hr>
										        <h5>
										            <b>Detalle de calificaciones</b>
										        </h5>
										        {% if h.datos.notas|length > 0 %}
										            <table class="table table-bordered table-striped table-condensed">
										                <thead>
										                    <tr>
										                        <th colspan="5">Cuantitativas</th>
										                    </tr>
										                    <tr>
										                        <th class="headtabla">Asignatura</th>
										                        <th class="headtabla">Periodo</th>
										                        <th class="headtabla">Calificación actual</th>
										                        <th class="headtabla">Nueva calificación</th>
										                    </tr>
										                </thead>
										                <tbody>
										                    {% for nota in h.datos.notas %}
										                        <tr>
										                            <td>{{ nota.asignatura }}</td>
										                            <td>{{ nota.bimestre }}</td>
										                            <td>{{ nota.nota }}</td>
										                            <td>
										                                {{ nota.notaNueva }}
										                            </td>
										                        </tr>
										                    {% endfor %}
										                </tbody>
										            </table>
										        {% endif %}
										        <br>
										        {% if h.datos.notasCualitativas|length > 0 %}
										            <table class="table table-bordered table-striped table-condensed">
										                <thead>
										                    <tr>
										                        <th colspan="4">Cualitativas</th>
										                    </tr>
										                    <tr>
										                        <th class="headtabla">Periodo</th>
										                        <th class="headtabla">Valoración actual</th>
										                        <th class="headtabla">Nueva valoración</th>
										                    </tr>
										                </thead>
										                <tbody>
										                    {% for notaCualitativa in h.datos.notasCualitativas %}
										                        <tr>
										                            <td class="table-cell" style="vertical-align:middle">{{ notaCualitativa.bimestre }}</td>
										                            <td>{{ notaCualitativa.notaCualitativa }}</td>
										                            <td>
										                                {{ notaCualitativa.notaNuevaCualitativa }}
										                            </td>
										                        </tr>
										                    {% endfor %}
										                </tbody>
										            </table>
										        {% endif %}
										        <hr>
										        <div class="row">
										            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										                <h5><b>Justificativo</b></h5>
										                <p>{{ h.datos.justificacion }}</p>
										            </div>
										        </div>

										        <div class="row">
										            <hr>
										            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										                <h5><b>Requisitos mínimos presentados por la Unidad Educativa</b></h5>
										                <div class="requisitos">
										                    <div class="checkbox">
										                        <label style="margin-left:-20px;">
										                        	{% if h.datos.checkInforme is defined and h.datos.checkInforme %}
										                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
																	{% else %}
										                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
										                        	{% endif %}
										                            &nbsp;Informe técnico &nbsp;&nbsp;

										                            {% if h.datos.informe is defined and h.datos.informe is not null %}
										                            	<a class="btn btn-primary" href="{{ asset('uploads/archivos/flujos/modificacionNotas/' ~ h.institucioneducativa_id ~ '/' ~ h.datos.informe.new_name ) }}" target="_blank"> <b> <i class="fa fa-file-pdf-o fa-1x"></i> Ver adjunto </b></a>
										                            {% else %}
										                            	<span class="text-danger">No se adjunto el informe</span>
										                            {% endif %}
										                        </label>
										                    </div>
										                    <div class="checkbox">
										                        <label style="margin-left:-20px;">
										                        	{% if h.datos.checkCuaderno is defined and h.datos.checkCuaderno %}
										                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
																	{% else %}
										                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
										                        	{% endif %}
										                            &nbsp;Registro o cuaderno pedagógico
										                        </label>
										                    </div>
										                    <div class="checkbox">
										                        <label style="margin-left:-20px;">
										                        	{% if h.datos.checkFormulario is defined and h.datos.checkFormulario %}
										                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
																	{% else %}
										                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
										                        	{% endif %}
										                            &nbsp;Formulario de adición y/o modificación de calificaciones
										                        </label>
										                    </div>
										                </div>
										            </div>
										        </div>

										    </div>
										</div>
	                                {% endif %}
	                                {% if h.orden == 2 and h.datos != null %} {# distrito #}
                            	        <div class="row">
                            	            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            	                <h5><b>Requisitos recepcionados de la Unidad Educativa</b></h5>
                            	                <div class="requisitos">
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkInforme is defined and h.datos.checkInforme %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Informe técnico de la Unidad Educativa &nbsp;&nbsp;
                            	                        </label>
                            	                    </div>
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkCuaderno is defined and h.datos.checkCuaderno %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Registro o cuaderno pedagógico
                            	                        </label>
                            	                    </div>
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkFormulario is defined and h.datos.checkFormulario %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Formulario de adición y/o modificación de calificaciones
                            	                        </label>
                            	                    </div>
                            	                </div>
                            	            </div>
                            	        </div>
										<div class="form-group">
										    <p><b>¿El trámite es procedente?</b></p>
										    <div class="radio">
										        <label class="radio-inline">
										            <input type="radio" value="SI" {% if h.datos.procedente == 'SI' %} checked {% else %} disabled {% endif %}>
										            Si
										        </label>
										        <label class="radio-inline">
										            <input type="radio" value="NO" {% if h.datos.procedente == 'NO' %} checked {% else %} disabled {% endif %}>
										            No
										        </label>
										    </div>
										</div>
										{% if h.datos.procedente == 'NO' %}
											<div class="form-group" style="background:#E3C5A7; display:none">
											    <p><b>¿Qué desea hacer con el trámite?</b></p>
											    <div class="radio">
											        <label class="radio-inline">
											            <input type="radio" {% if h.datos.finalizar is defined and h.datos.finalizar == 'NO' %} checked {% else %} disabled {% endif %}>
											            Devolver trámite a la Unidad Educativa
											        </label>
											        <label class="radio-inline">
											            <input type="radio" {% if h.datos.finalizar is defined and h.datos.finalizar == 'SI' %} checked {% else %} disabled {% endif %}>
											            Finalizar y cerrar trámite
											        </label>
											    </div>
											</div>
										{% endif %}
										<div class="form-group">
										    <p><b>Observación</b></p>
										    {{h.datos.observacion}}
										</div>
										{% if h.datos.informe is not null %}
											<div class="form-group">
											    <p><b>Informe de la Dirección Distrital</b></p>
											    <a href="{{ asset('uploads/archivos/flujos/modificacionNotas/' ~ h.datos.sie ~ '/' ~ h.datos.informe.new_name ) }}" target="_blank"> <b> <i class="fa fa-file-pdf-o fa-2x"></i> Ver informe adjunto </b></a>
											    <br>
											</div>
										{% endif %}
	                                {% endif %}
	                                {% if h.orden == 6 %} {# departamento #}
                            	        <div class="row">
                            	            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            	                <h5><b>Requisitos recepcionados de la Dirección Distrital</b></h5>
                            	                <div class="requisitos">
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkInforme is defined and h.datos.checkInforme %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Informe técnico de la Unidad Educativa &nbsp;&nbsp;
                            	                        </label>
                            	                    </div>
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkCuaderno is defined and h.datos.checkCuaderno %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Registro o cuaderno pedagógico
                            	                        </label>
                            	                    </div>
                            	                    <div class="checkbox">
                            	                        <label style="margin-left:-20px;">
                            	                        	{% if h.datos.checkFormulario is defined and h.datos.checkFormulario %}
                            	                            	<i class="fa fa-check-square" style="color:#3083FA"></i>
                            								{% else %}
                            	                            	<i class="fa fa-square" style="color:#FFFFFF"></i>
                            	                        	{% endif %}
                            	                            &nbsp;Formulario de adición y/o modificación de calificaciones
                            	                        </label>
                            	                    </div>
        	                                        <div class="checkbox">
        	                                            <label style="margin-left:-20px;">
        	                                            	{% if h.datos.checkInformeDistrito is defined and h.datos.checkInformeDistrito %}
        	                                                	<i class="fa fa-check-square" style="color:#3083FA"></i>
        	                    							{% else %}
        	                                                	<i class="fa fa-square" style="color:#FFFFFF"></i>
        	                                            	{% endif %}
        	                                                &nbsp;Informe técnico de la Dirección Distrital &nbsp;&nbsp;
        	                                            </label>
        	                                        </div>
                            	                </div>
                            	            </div>
                            	        </div>

										<div class="form-group">
										    <label>¿Aprobar trámite?</label>
										    <div class="radio">
										        <label class="radio-inline">
										            <input type="radio" {% if h.datos.aprueba is defined and h.datos.aprueba == 'SI' %} checked {% else %} disabled {% endif %}>
										            Si
										        </label>
										        <label class="radio-inline">
										            <input type="radio" {% if h.datos.aprueba is defined and h.datos.aprueba == 'NO' %} checked {% else %} disabled {% endif %}>
										            No
										        </label>
										    </div>
										</div>
										{% if h.datos.observacion is defined %}
											<div class="form-group">
											    <label>Observación</label>
											    <p>{{ h.datos.observacion }}</p>
											</div>
										{% endif %}
										{% if h.datos.aprueba is defined and h.datos.aprueba == 'SI' %}
											{% if h.datos.nroResAdm is defined and h.datos.nroResAdm != '' and h.datos.fechaResAdm %}
												<h5><b>Resolución Administrativa</b> </h5>
												<div class="row">
												    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
												        <label>Nro. de R.A.</label>
												        <p>{{h.datos.nroResAdm}}</p>
												    </div>
												    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">											    	
												        <label>Fecha de R.A.</label>
												        <p>{{h.datos.fechaResAdm}}</p>
												    </div>
												</div>
											{% endif %}
											{% if h.datos.resAdm is defined and h.datos.resAdm is not null %}
												<div class="form-group">
												    <p><b>R.A.</b></p>
												    <a href="{{ asset('uploads/archivos/flujos/modificacionNotas/' ~ h.datos.sie ~ '/' ~ h.datos.resAdm.new_name ) }}" target="_blank"> <b> <i class="fa fa-file-pdf-o fa-2x"></i> Ver R.A. adjunto </b></a>
												    <br>
												</div>
											{% endif %}
										{% endif %}
	                                {% endif %}
	                                {# {% if h.orden == 4 %}
										modifica calificaciones sie
	                                {% endif %}
	                                {% if h.orden == 5 %}
										observacion
	                                {% endif %}
	                                {% if h.orden == 6 %}
										imprime libreta actualizada
	                                {% endif %} #}

	                            </div>
	                            {% endif %}
                        	{% endfor %}
                        </div>
                    </div><!-- /.panel-body -->
                    <!--/ End tabs content -->
                </div><!-- /.panel -->
                <!--/ End color horizontal tabs -->
            </div>
        </div>
	</div>
</div>