{% extends 'layoutHerramienta.html.twig' %}
{% block contentoption %}
    
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
        .estudiante{
            padding: 10px;
            background: #EEEEEE;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
        }
    </style>

    <div class="header-content">
        <h2><i class="fa fa-table animated fadeIn"></i> Solicitud de Modificaciòn y Adiciòn de Calificaciones <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href={{ path('tramite_modificacion_calificaciones_index') }}>Solicitud Modificación/Adición de calificaciones</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div class="body-content animated fadeIn">
        <div id="app">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Buscar estudiante</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-3 text-right">
                            <label>Código Rude:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" v-model="codigoRude" v-on:keyup.13="buscarEstudiante">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info" type="button" v-on:click="buscarEstudiante()"> <i class="fa fa-search"></i> Buscar estudiante</button>
                        </div>
                    </div>

                    <div v-cloak>
                        <div class="alert alert-warning" v-if="respuesta != ''"> <i class="fa fa-warning"></i> ${respuesta}</div>
                        <div v-if="buscando" class="text-center">
                            <img src="{{asset('img/loading96.gif')}}" alt="">
                        </div>
                        <div v-if="estudiante != ''">
                            <br>
                            <p class="h5">
                                Estudiante: 
                                <div class="estudiante">
                                    ${ estudiante }
                                </div>
                            </p>
                            <p class="h5">Historial de Inscripciones:</p>

                            <table class="table table-striped table-primary">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Gestión</th>
                                        <th>Sie</th>
                                        <th>Institución educativa</th>
                                        <th>Nivel</th>
                                        <th>Grado</th>
                                        <th>Paralelo</th>
                                        <th>Estado Matrícula</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(ins, index) in inscripciones">
                                        <td>${ index + 1}</td>
                                        <td>${ins.gestion}</td>
                                        <td>${ins.sie}</td>
                                        <td>${ins.institucioneducativa}</td>
                                        <td>${ins.nivel}</td>
                                        <td>${ins.grado}</td>
                                        <td>${ins.paralelo}</td>
                                        <td>${ins.estadomatricula}</td>
                                        <td>
                                            <a v-bind:href="ins.ruta" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Realizar solicitud"><i class="fa fa-edit"></i> </a>
                                            {# <a v-bind:href="'{{path("solicitud_modificacion_calificaciones_formulario_index")}}?idInscripcion=' + ins.idInscripcion" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Realizar solicitud"><i class="fa fa-edit"></i> </a> #}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script>
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                // codigoRude: '8073023520101288A',
                // codigoRude: '8073003220081593',
                codigoRude: '407300182007718',
                estudiante: '',
                respuesta: '',
                inscripciones: [],
                buscando: false
            },
            methods: {
                buscarEstudiante: function(){

                    this.buscando = true;
                    
                    this.estudiante = '';
                    this.inscripciones = '';
                    this.respuesta = '';

                    axios.get(Routing.generate('tramite_modificacion_calificaciones_buscar_estudiante', {
                        codigoRude: this.codigoRude,
                        flujoTipo: '{{ flujoTipo }}'
                    }))
                    .then(response => {
                        console.log(response);
                        if (response.status == 200) {
                            this.estudiante = response.data.estudiante;
                            this.inscripciones = response.data.inscripciones;
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                        if( response.status == 202){
                            this.respuesta = response.data;
                        }

                        this.buscando = false;
                    })
                    .catch(e => {
                        console.log(e);
                        this.buscando = false;
                    });
                }
            },
            mounted(){
                
            }
        });

    </script>
{% endblock %}