{% extends '::base.html.twig' %}

{% block body -%}
    <h1>InfraestructuraH4ServicioVestuarios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>N6areatotalm2</th>
                <td>{{ entity.n6Areatotalm2 }}</td>
            </tr>
            <tr>
                <th>N6esfuncionaambiente</th>
                <td>{{ entity.n6EsFuncionaAmbiente }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fecharegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>N62estienetecho</th>
                <td>{{ entity.n62EsTieneTecho }}</td>
            </tr>
            <tr>
                <th>N62estienecielofalso</th>
                <td>{{ entity.n62EsTieneCieloFalso }}</td>
            </tr>
            <tr>
                <th>N62estienepuerta</th>
                <td>{{ entity.n62EsTienePuerta }}</td>
            </tr>
            <tr>
                <th>N62estieneventana</th>
                <td>{{ entity.n62EsTieneVentana }}</td>
            </tr>
            <tr>
                <th>N62estienemuros</th>
                <td>{{ entity.n62EsTieneMuros }}</td>
            </tr>
            <tr>
                <th>N62estienerevest</th>
                <td>{{ entity.n62EsTieneRevest }}</td>
            </tr>
            <tr>
                <th>N62estienepiso</th>
                <td>{{ entity.n62EsTienePiso }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('infraestructurah4serviciovestuarios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('infraestructurah4serviciovestuarios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
