{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-th-large"></i>Ampliar operativo para la gestión {{app.session.get('currentyear')}}</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
               <li>
                    <i class="fa fa-users"></i>
                    Gestión
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-cog"></i>
                    Operativos
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    Ampliar Operativo
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>  
    <div class="row">
        <div class="body-content animated fadeIn">
            <div class="panel panel-success">
                {% for flashMessage in app.session.flashbag.get('exito') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Lista de operativos</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    {% if entities is not empty %}
                        <div class="table-responsive col-md-12" id="id">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="min-width:5px">No.</th>
                                        <th>Operativo</th>
                                        <th>Departamento</th>
                                        <th>Cod. Distrito</th>
                                        <th>Distrito</th>
                                        <th>Gestión</th>
                                        <th>Fecha Actual</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>                                                
                                        <th>Usuario Registro</th>     
                                        <th class="text-center" style="min-width:5px">Nro. CEAS</th>                                           
                                        <th class="text-center" style="min-width:5px">CEAS</th>                                                
                                        <th>Ampliar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th class="text-center" style="min-width:5px">No.</th>
                                        <th>Operativo</th>
                                        <th>Departamento</th>
                                        <th>Cod. Distrito</th>
                                        <th>Distrito</th>
                                        <th>Gestión</th>
                                        <th>Fecha Actual</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>                                                
                                        <th>Usuario Registro</th>
                                        <th class="text-center" style="min-width:5px">Nro. CEAS</th>
                                        <th class="text-center" style="min-width:3px">CEAS</th>                                                                                                
                                        <th>Ampliar</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            <td class="text-center" style="min-width:5px">{{ loop.index }}</td>
                                            <td>{{ entity.operativoTipo.operativo }}</td>
                                            <td>{{ entity.distritoTipo.departamentoTipo.departamento }}</td>
                                            <td>{{ entity.distritoTipo.id }}</td>
                                            <td>{{ entity.distritoTipo.distrito }}</td>
                                            <td>{{ entity.gestionTipo.id }}</td>
                                            <td>{{ "now"|date('d-m-Y') }}</td>
                                            <td>{{ entity.fechaInicio.date|date('d-m-Y') }}</td>
                                            <td>{{ entity.fechaFin.date|date('d-m-Y') }}</td>
                                            <td>{{ entity.usuarioRegistro.persona.nombre }} {{ entity.usuarioRegistro.persona.paterno }} {{ entity.usuarioRegistro.persona.materno }}</td>
                                            <td class="text-center" style="min-width:5px">{{ nro[entity.id] }}</td>
                                            <td class="text-center" style="min-width:3px">
                                                <a class="btn btn-success btn-xs text-primary" data-toggle="modal" data-target="#modal" data-placement="top" title="Ver Ceas del operativo" onclick="verCeas({{entity.id}})">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                            </td>
                                            <td>
                                                {#<a href="{{path('alternativa_operativo_edit',{ 'id': entity.id })}}" class="btn btn-primary btn-xs text-primary" data-toggle="modal" data-target="#modal" data-placement="top" title="Ampliar fecha del operativo" onclick="ediataroperativo({{entity.id}})">#}
                                                <a href="{{path('alternativa_operativo_edit',{ 'id': entity.id })}}" class="btn btn-primary btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="Ampliar fecha del operativo">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        No hay Operativos Registrados
                    {% endif %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div><!-- /.modal -->  
{% endblock %}   
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            cargatablas();
        });
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#datatable tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "No." || title === "CEAS" || title === "Ampliar"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );
            // DataTable
            var table = $('#datatable').DataTable( {
                "order": [[ 0, "asc" ]],
                "columnDefs": [
                    { "orderable": false, "targets": [0] }
                    ],
                }
            );
            // Apply the search
            table.columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                        .search( this.value )
                        .draw();
                    }
                } );
            } );
        };
        
        /*function guardarCambios(){
            if(confirm('¿Esta suguro de ampliar la fecha del operativo?')){
                var dataform = $('#form_operativo_edit').serialize();
                $.ajax({
                    type: 'get',
                    data: dataform,
                    url: "{{path('alternativa_operativo_update')}}",
                    beforeSend: function () {
                        $('#msg1').empty();
                        $("#msg1").append('<div style="text-align:center">Guardando cambios...<img src="{{asset('img/loading.gif')}}" /></div>');
                    },
                    success: function (data) {
                        $('#modal').modal('hide');
                        $('#id').empty();
                        $('#id').append(data);
                        cargatablas();
                    }
                });
            }else{
                return false;
            }
        }*/

        function verCeas(id){
            formData = {id: id};
            $.ajax({
                type: 'get',
                url: "{{path('alternativa_operativo_ver_ceas')}}",
                data: formData,
                beforeSend: function () {
                    $('#modal').empty();
                    $('#modal').append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
            });
        }
    </script>
{% endblock %} 