{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}
     <div class="header-content">
        <h2><i class="fa fa-th-large"></i>Habilitar Operativo</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
               <li>
                    <i class="glyphicon glyphicon-leaf"></i>
                    <a href="{{path('principal_web')}}">Bienvenida/o</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                {% if app.session.get('roluser')!= 10 %}
                <li>
                    <i class="fa fa-th-large"></i>
                    {% if  app.session.get('roluser')== 9 %}Gestionar C.E.A. {% else %} Seleccionar CEA{% endif %} 
                    <i class="fa fa-angle-right"></i>
                </li>
                {% endif %}
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>  
    
    <div class="row">
        <div class="body-content animated fadeIn">
            <!-- Start inline form -->
            <div class="panel panel-success">
                {% for flashMessage in app.session.flashbag.get('exito') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Registro de operativo:</h3>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form', 'id': 'form_cea','onsubmit':'return confirm("¿Esta suguro de guardar los datos?")'} } )}}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                {{ form_label(form.operativo)}}
                            </div>
                            <div class="col-md-6">
                                {{form_widget(form.operativo) }}
                            </div>
                        </div>
                        {% if tipo == 'cea' %}
                            <div class="form-group col-md-12">
                                <div class="col-md-2">
                                    {{ form_label(form.codsie)}}
                                </div>
                                <div class="col-md-6">
                                    {{form_widget(form.codsie) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if app.session.get('roluser') == 8 or app.session.get('roluser') == 7 %}
                            <div class="form-group col-md-12">
                                <div class="col-md-2">
                                    {{ form_label(form.distrito)}}
                                </div>
                                <div class="col-md-6">
                                    {{form_widget(form.distrito) }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                {{ form_label(form.fechainicio)}}
                            </div>
                            <div class="col-md-6">
                                {{form_widget(form.fechainicio) }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                {{ form_label(form.fechafin)}}
                            </div>
                            <div class="col-md-6">
                                {{form_widget(form.fechafin) }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                {{ form_label(form.obs)}}
                            </div>
                            <div class="col-md-6">
                                {{form_widget(form.obs) }}
                            </div>
                        </div>
                        <div class="form-group col-md-12"> 
                            <div class="col-md-2">
                                {{ form_widget(form.guardar ) }}
                            </div>
                            <div class="col-md-3">
                                <a href="{{path('alternativa_operativo_home')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
                            </div>
                        </div>
                    </div>
                    {{form_end(form)}}
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End inline form -->
        </div>
    </div>
{% endblock %}   
{% block javascripts %}
    {{ parent() }}
    <script>
        function verificaCea(idcea){
            var formdata = {idcea:idcea};
            $.ajax({
                type: 'get',
                url: "{{path('alternativa_operativo_buscar_cea')}}",
                data: formData,
                beforeSend: function (){
                },
                success: function (data) {
                    if (data==0){
                        alert('¡Error, el código del Centro no existe!')
                        return false;
                    }else{
                        return true;
                    }
                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        }
    </script>
{% endblock %} 