<div class="panel">
    <div class="panel-heading">
        <div id="msg"></div>
        <div class="pull-right">
        </div>
        <div class="clearfix"></div>
    </div><!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive col-md-12">
            {% if entities %}
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th class="text-center" style="min-width:5px">No.</th>
                        <th>Gestión</th>
                        <th>Código de distrito</th>
                        <th>Distrito</th>
                        <th>Cod. Cea</th>
                        <th>CEA</th>
                        <th class="text-center" style="min-width:5px">Sub Cea</th>
                        <th>Periodo</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td>{{ entity.gestionTipo }}</td>
                            <td>{{ entity.idDistrito }}</td>
                            <td>{{ entity.distrito }}</td>
                            <td>{{ entity.id_ie }}</td>
                            <td>{{ entity.institucioneducativa }}</td>
                            <td class="text-center">{{ entity.SucursalIE }}</td>
                            <td class="text-center">{{ entity.periodo }}</td>
                            <td>{{ entity.te }}</td>
                            <td class="text-center">
                                <button class="btn btn-xs btn-teal" onclick = "habilitar({{entity.id_iest}})">Habilitar Operativo</button>
                                {#<a href="{{path('alternativa_operativo_regularizar_guardar',{ 'id': entity.IEsucursalId })}}" class="btn btn-xs btn-teal" onclick = "return confirm('¡AVISO IMPORTANTE! ¡LEA CON ATENCIÓN!\nLa habilitación de regularización permitira al director modificar datos del ultimo operativo realizado por el CEA,\nSe le comunica que se registrara el usuario y fecha de esta autorización.\n¿Esta seguro de conceder este acceso?\nSi no esta seguro de este mensaje presione CANCELAR.');">Habilitar Operativo</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                Datos no encontrados
            {% endif %}
        </div>
    </div>
</div>