{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}
{% set meses=['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'] %}
{% set mesActual="now"|date("n") %}
{% set fechaInicioReporte=1 %}
{% set fechaFinReporte=10 %}
{% set fecha = "now"|date('j')|number_format %}

{% if "now"|date('j/n/Y') in ['13/5/2021','14/5/2021'] %}
{% set fecha=10 %}
{% else %}
{% set fecha=10 %}
{% endif %}

    <!--Modal para asignar los tipos de atencion que tiene la unidad educativa-->
    {% if fecha >=fechaInicioReporte and fecha <=fechaFinReporte %}
    <div class="modal fade" id="modalInicioClases" tabindex="-1">
        <form action="" method="POST" id="form-actualizar-tipo" autocomplete="off">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h5 class="modal-title">Reporte de actividades del mes de: {{meses[mesActual-1]|upper}}</h5>
                {#
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                #}
              </div>
              <div class="modal-body text--center pb-0">
               {#
               <fieldset class="form-group">
                    <div class="row">a
                        <legend class="col-md-3 col-form-label pt-0">Modalidades de atención</legend>
                        <div class="col-md-9">
                        <div class="form-group mb-0">
                            <label class="form-check-label">Que tipos de atención tiene la U.E.</label>
                        </div>
                          <div class="form-group row mb-0" style="display:inline-block">
                            <div class="col-sm-12">
                              <div class="form-check">
                                <input class="form-check-input input-modalidad-atencion-1" type="checkbox" name="opcion[]" id="opcion_1" value="1">
                                <label class="form-check-label" for="opcion_1">
                                  Presencial
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row mb-0" style="display:inline-block">
                            <div class="col-sm-12">
                              <div class="form-check">
                                <input class="form-check-input input-modalidad-atencion-2" type="checkbox" name="opcion[]" id="opcion_2" value="2">
                                <label class="form-check-label" for="opcion_2">
                                  Semipresencial
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row mb-0" style="display:inline-block">
                            <div class="col-sm-12">
                              <div class="form-check">
                                <input class="form-check-input input-modalidad-atencion-3" type="checkbox" name="opcion[]" id="opcion_3" value="3">
                                <label class="form-check-label" for="opcion_3">
                                  Distancia
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </fieldset>
                #}

                {# <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-md-3 col-form-label pt-0">Información de la U.E.</legend>
                        <div class="col-md-9">

                            <div class="form-group mb-0">
                                <label class="form-check-label">¿La unidad educativa continua con sus actividades?</label>
                            </div>
                            <div class="form-check pr-3" style="display:inline-block;padding-right:1.3rem;">
                                <input class="form-check-input radio-inicio-clases" type="radio" name="inicio_clases" id="inicio_clases_1" value="1" required="required">
                                <label class="form-check-label" for="inicio_clases_1">Si</label>
                            </div>
                            <div class="form-check pr-3" style="display:inline-block;padding-right:1.3rem;">
                                <input class="form-check-input radio-inicio-clases" type="radio" name="inicio_clases" id="inicio_clases_0" value="0" required="required">
                                <label class="form-check-label" for="inicio_clases_0">No</label>
                            </div>

                              <div class="form-group mb-0 mt-2 div-no-inicio-razon" style="display:none">
                                <label for="no_inicio_razon">¿Por qué no continuo con las actividades?</label>
                                <select class="form-control select-no-inicio-razon" name="no_inicio_razon" id="no_inicio_razon">
                                    <option selected value="-1">Seleccione una razón</option>
                                    {% for ruet in unidadEducativaTipoData %}
                                    {% if ruet.id>1 %}
                                    <option value="{{ruet.id}}">{{ruet.riesgoUnidadeducativa}}</option>
                                    {% endif %}
                                    {% endfor %}
                                    <option value="1">Otros</option>
                                </select>
                              </div>

                              <div class="form-group mt-2 div-no-inicio-razon-otros" style="display:none">
                                <label for="no_inicio_razon_otros">Por favor describa brevemente por que no inició actividades</label>
                                <textarea class="form-control textarea-no-inicio-razon-otros" name="no_inicio_razon_otros" id="no_inicio_razon_otros" rows="3" maxlength="250"></textarea>
                              </div>

                        </div>
                    </div>
                </fieldset> #}
            
              </div>
              <div class="modal-body text-danger div-errors"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-info btn-actividades-actualizar">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
    </div>
    {% endif %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Principal <span>Menú principal</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-info shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Seguimiento RUE: Registro de Fecha de Fundación</h3>
                                </div>
                                <div class="pull-right">
                                    {# <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button> #}
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                                <form method ="POST" action="{{path('regularizacion_rue_impresion_seguimiento')}}" name="formSeguimientoRue" id="formSeguimientoRue">
                                    <div class="col-md-4 col-md-offset-2">                                    
                                        <select type="hidden" id="seguimientoRue_dpto" name="seguimientoRue[dpto]" class="form-control">
                                            <option value="1">Chuquisaca</option>
                                            <option value="2">La Paz</option>
                                            <option value="3">Cochabamba</option>
                                            <option value="4">Oruro</option>
                                            <option value="5">Potosí</option>
                                            <option value="6">Tarija</option>
                                            <option value="7">Santa Cruz</option>
                                            <option value="8">Beni</option>
                                            <option value="9">Pando</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" class="btn btn-md btn-warning" value="Descargar">
                                    </div>
                                </form>
                                {# <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p><a href="{{ path('bach_exc_imprime_reporte_general') }}" class="btn btn-block btn-success"><i class="fa fa-fw fa-file-pdf-o"></i> Reporte General</a></p>
                                </div> #}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-6">

                <div class="panel rounded shadow">
                    <div class="panel panel-warning shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title"> ESTUDIANTES RETIRADOS POR TRASLADO</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            {# {{ render(controller('SieHerramientaBundle:TransferStudents:index')) }} #}
                        </div>
                    </div>
                </div>

                <!-- Start input fields - basic form -->{#
                <div class="panel rounded shadow">
                    <div class="panel panel-warning shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Consideraciones para la descarga del Certificado CUT-TTM</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                 Para habilitar el Certificado Único de Trámites CUT-TTM, el sistema valida la siguiente información del estudiante:
                                </div>
                                 <ul>
                                    <li><strong> Carga Horaria</strong></li> 
                                        Para la impresión del CUT-TTM, el estudiante debe cumplir las 1920 Horas.
                                    <li><strong>Nivelación</strong> </li>
                                        La Unidad Educativa debió registrar en el sistema de Información Educativa(SIE), las calificaciones obtenidas en el proceso de nivelación.
                                    <li><strong>Especilidad</strong> </li>
                                        Las y los estudiantes del 6to año de escolaridad que no hayan cambiado su especialidad, que tengan su formación Técnica Tecnológica Especializada de 5to año de escolaridad en diferente especialidad y hayan sido aporbados por homologaciones, no tendrán ninguna dificultad en la impresion CUT.
                                    <li><strong>Validación SEGIP</strong> </li>
                                        El sistema valida la información del estudiante con el SEGIP, los datos validados son paterno, materno, nombres y Fecha de Nacimiento.
                                </ul>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                <a class="btn btn-lilac btn-xs btn-facebook" href="{{asset('uploads/archivos/Consideraciones_CUT.pdf' )}}" target="_blank" download>
                                  <i class="fa fa-file-pdf-o fa-2x" ></i> Descargar consideraciones para el Certificado Único de Trámites CUT-TTM
                                 </a>
                             </div>#}
                                {# <div class="col-md-6 col-md-offset-3">
                                  <button type="button" class="btn btn-facebook btn-md" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo' >
                                            <i class="fa fa-group" ></i>  Habilitar el Certificado Único de Trámites CUT-TTM
                                  </button>
                                </div> #}
                           {# </div>
                        </div>
                    </div>
                </div>
#}
            </div>

            <div class="col-md-12">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-teal shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Notificaciones</h3>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body no-padding">
                            <ul class="list-group">
                                {% for entity in entities|slice(0, 5) %}
                                    {% if entity.rolTipo.id == app.session.get('roluser') %}
                                        <li class="list-group-item">
                                            <span class="badge {% if(entity.notif.noticiaTipo) == 0  %}badge-success{% elseif(entity.notif.noticiaTipo) == 1 %}badge-warning{% else %}badge-danger{% endif %}">{% if(entity.notif.noticiaTipo) == 0  %}Normal{% elseif(entity.notif.noticiaTipo) == 1 %}Urgente{% else %}Muy Urgente{% endif %}</span>
                                            <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> {% if entity.notif.fechaCrea %}{{ entity.notif.fechaCrea|date('d-m-Y') }}{% endif %} | {{ entity.notif.titulo }}</strong></h5>
                                            <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> {{ entity.notif.mensaje|raw }}</p>
                                            <p class="list-group-item-text text-green">
                                                {% if entity.notif.adjunto %}
                                                    Descargar adjunto: <a href="{{ asset('uploads/adjuntos/' ~ entity.notif.adjunto) }}" target="_blank"><img src="{{asset('img/pdf.png') }}" alt="{{ entity.notif.adjunto }}" width="20" height="20"></a>
                                                    {% endif %}
                                            </p>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <!-- <li class="list-group-item">
                                        <h2 class="list-group-item-heading text-info"><i class="fa fa-info-circle fa-fw"></i>
                                            Ante las dificultades presentadas en el registro de datos del <b>Módulo RUDE</b> (Registro Único de Estudiantes) mediante el sistema academico, el operativo queda suspendido hasta nuevo aviso.
                                            <br><br>
                                            <b>UNIDAD DE SISTEMAS - SIE</b>
                                        </h2>
                                    </li> -->
                                {% endfor %}
                            </ul>
                            
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge badge-danger">Urgente</span>
                                    <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> La Paz, 16 de marzo de 2022</strong></h5>
                                    <br>
                                    <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> Informamos a nuestros usuarios que debido a ataques del virus informático Redline Stealer, que recopila información de inicios de sesión, contraseñas, datos de autocompletar, cookies y detalles de tarjetas de crédito de todos los navegadores web basados en Gecko y Chromium, solicitamos tomar las siguientes acciones:


                                    </p>
                                    <br>
                                    <strong>
                                    <ul>
                                        <li>Cambie las contraseñas actuales.</li>
                                        <li>Evitar guardar las contraseñas en el navegador.</li>
                                        <li>Escanee su computadora con un antivirus.</li>
                                    </ul>
                                    </strong>
                                </li>   

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {# {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-6">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-lilac shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Observaciones de Incripciones Gestión {{app.session.get(('currentyear'))}}</h3>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="col-md-12">
                                    {% if observacion %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Codigo SIE</th>
                                                        <th>Gestión</th>
                                                        <th>Observacion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for obs in observacion %}
                                                    <tr>
                                                        <td class="text-center">{{loop.index}}</td>
                                                        <td>{{obs.institucioneducativa.id}}</td>
                                                        <td>{{obs.gestionTipo.id}}</td>
                                                        <td>{{obs.obs}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        No tiene observaciones
                                    {% endif %}
                                </div>
                            </div><!-- /.panel-body --> 
                        </div>
                    </div>
                </div>
            {% endif %} #}
            {#
            <div class="col-md-6">
                <div class="panel panel-danger shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Encuesta Internet - pisos tecnológicos</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        La siguiente encuesta debe ser llenada 
                        por los directores de cada Unidad Educativa.
                        <br>
                        <br>
                        <div class='text-center'>
                            <a href="{{ path('encuestaUe_index')}} " class="btn btn-success btn-lg" title="ir a la encuesta" >LLenar Encuesta</a>
                        </div> <br>
                    {% if (app.session.get('roluser') == 8) or (app.session.get('roluser') == 10) %} 
                         {{ form_start(form2, { 'attr': {'data-toggle': 'validator','role': 'form'} } ) }}
                            <div class="row">
                                <div class="form-group col-md-3">
                                    {{ form_label(form2.dpto) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form2.dpto) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    {{ form_widget(form2.getReporte ) }}
                                </div>
                            </div>
                        {{ form_end(form2) }}
                      
                        
                    {% endif %}
                      
                        <br>
                         {% if existe %}
                            <div id="listaencuesta">
                                <div class="table-responsive col-md-12" >
                                    <table class="table table-bordered table-striped" id="encuestados" >
                                            <thead>
                                                <tr>
                                                    <th class="text-center border-right" style="width:50px; min-width: 50px;">N°</th>
                                                    <th class="text-center border-right">Departamento</th>
                                                    <th class="text-center border-right">Distrito</th>
                                                    <th class="text-center border-right">SIE</th>
                                                    <th class="text-center border-right">Unidad Educativa</th>
                                                </tr>
                                            </thead>
                                     
                                            <tbody>
                                            {% for dataEncuesta in dataEncuesta %}
                                                <tr >
                                                    <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.departamento }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.distrito}}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.sie }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.ue }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                    </table>
                                </div> 
                                </div>
                        {% else %}
                                <p> NINUGNA UNIDAD EDUCATIVA REALIZO LA ENCUESTA.</p>
                        {% endif %}
                        
                    </div>
                </div>                
            </div>
           
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-3">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-primary shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Descarga Archivo Rude</h3>
                                </div>
                                <div class="pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                            
                                {{form_start(formOperativoRude, { 'attr':{'id':'downOperativoRudeId'} })}}
                                {{form_widget(formOperativoRude.downOperativoRude)}}
                                {{form_end(formOperativoRude)}}
                            
                                
                                <div id="downoperativoId">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
         #}
        </div>

        <div class="row">
            {#
            <div class="col-md-6">
                <div class="panel panel-danger shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Encuesta Internet - pisos tecnológicos</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        La siguiente encuesta debe ser llenada 
                        por los directores de cada Unidad Educativa.
                        <br>
                        <br>
                        <div class='text-center'>
                            <a href="{{ path('encuestaUe_index')}} " class="btn btn-success btn-lg" title="ir a la encuesta" >LLenar Encuesta</a>
                        </div> <br>
                    {% if (app.session.get('roluser') == 8) or (app.session.get('roluser') == 10) %} 
                         {{ form_start(form2, { 'attr': {'data-toggle': 'validator','role': 'form'} } ) }}
                            <div class="row">
                                <div class="form-group col-md-3">
                                    {{ form_label(form2.dpto) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form2.dpto) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    {{ form_widget(form2.getReporte ) }}
                                </div>
                            </div>
                        {{ form_end(form2) }}
                      
                        
                    {% endif %}
                      
                        <br>
                         {% if existe %}
                            <div id="listaencuesta">
                                <div class="table-responsive col-md-12" >
                                    <table class="table table-bordered table-striped" id="encuestados" >
                                            <thead>
                                                <tr>
                                                    <th class="text-center border-right" style="width:50px; min-width: 50px;">N°</th>
                                                    <th class="text-center border-right">Departamento</th>
                                                    <th class="text-center border-right">Distrito</th>
                                                    <th class="text-center border-right">SIE</th>
                                                    <th class="text-center border-right">Unidad Educativa</th>
                                                </tr>
                                            </thead>
                                     
                                            <tbody>
                                            {% for dataEncuesta in dataEncuesta %}
                                                <tr >
                                                    <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.departamento }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.distrito}}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.sie }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.ue }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                    </table>
                                </div> 
                                </div>
                        {% else %}
                                <p> NINUGNA UNIDAD EDUCATIVA REALIZO LA ENCUESTA.</p>
                        {% endif %}
                        
                    </div>
                </div>                
            </div>
           
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-3">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-primary shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Descarga Archivo Rude</h3>
                                </div>
                                <div class="pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                            
                                {{form_start(formOperativoRude, { 'attr':{'id':'downOperativoRudeId'} })}}
                                {{form_widget(formOperativoRude.downOperativoRude)}}
                                {{form_end(formOperativoRude)}}
                            
                                
                                <div id="downoperativoId">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
         #}
        <!--Detalle si la U.E.continuo con las actividades-->
            {% if app.session.get('roluser') == 9 %}
                {# {% if fecha >= fechaInicioReporte and fecha <= fechaFinReporte %}
                    <div class="col-md-3">
                        <!-- Start input fields - basic form -->
                        <div class="panel rounded shadow">
                            <div class="panel panel-lilac shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">Reporte de actividades</h3>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">
                                    <div class="col-md-12" >
                                        <div class="div-mostrar-tipos" style="overflow:hidden; text-overflow: ellipsis;">
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center ">
                                        <br>
                                        <a href="#" class="badge badge-info" data-toggle="modal" data-target="#modalInicioClases">Modificar</a>
                                    </div>
                                    <br>
                                </div><!-- /.panel-body --> 
                            </div>
                        </div>
                    </div>
                {% endif %} #}
                <!--Muestra en un historia de reporte de actividades -->
                {# <div class="col-md-9">
                    <div class="panel rounded shadow">
                        <div class="panel panel-lilac shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Historial de reporte de inicio de actividades</h3>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                            {% for historial in historialInicioActividadesData|reverse %}

                            {% set color = '#6c757d' %}
                            {% set text = ' white ' %}
                    <div class="col-md-4" style="padding-top: 10px;">
                        <div class="panel rounded shadow">
                            <div class="panel panel-lilac shadow">
                                <div class="panel-heading" style="background:{{ color }}; border:1px solid {{color}}">
                                    <div class="pull-left">
                                        <h4 class="panel-title7" style="color :{{text}}">{{historial.nombre_mes}} ({{historial.fecha_registro|date('d/m/Y')}})</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">
                                    <div class="col-md-12" style="overflow:hidden; text-overflow: ellipsis;">
                                        {% if historial.riesgo_unidadeducativa_tipo_id >0 %}
                                            {% set riesgo_id=historial.riesgo_id %}
                                            {% set riesgo_ue=historial.riesgo_unidadeducativa %}
                                            {% set riesgo_otro=historial.observacion %}
                                            {% set riesgo=(riesgo_id==1)? riesgo_otro : riesgo_ue %}
                                            La U.E. <b>NO</b> inicio actividades debido a: <b>{{riesgo}}</b>.
                                        {% else %}
                                            La U.E. <b>SI</b> inicio actividades.
                                        {% endif %}
                                    </div>
                                </div><!-- /.panel-body --> 
                            </div>
                        </div>
                    </div>
                            {% endfor %}
                                    </div>
                                </div>
                            </div><!-- /.panel-body --> 
                        </div>
                    </div>
                </div> #}


            {% endif %}
            
        </div>

        <!--Seccion del reporte de incio de actividades-->

    </div>





{% endblock %}
{% block javascripts%}
    {{parent()}}

<script>
    
   $(document).ready(function()
   {
        cargatablas();
        //abre el modal con el formulario
        if({{app.session.get('roluser')}}==9)
        {
            //abrirModalInicioClases();
            //getInicioClases();
        }

        $('#form-actualizar-tipo').on('submit', function (event)
        {
            event.preventDefault();
            actualizarInicioClases();
        });

        //carga los datos del tipo de eduacion cuando carga la pagina
        $('.actualizar-form-tipo-atencion').on('click',function (event) {
            //getInicioClases();
        });

        //muestra el checkbox 'porque no incio clases' si responde No
        $('.radio-inicio-clases').on('change',function(){
            if (this.checked)
            {
                if(this.value==0)
                {
                    $(".div-no-inicio-razon").show();
                }
                else
                {
                    $(".div-no-inicio-razon").hide();
                    $(".div-no-inicio-razon-otros").hide();
                    $(".select-no-inicio-razon").val('');
                    $(".no_inicio_razon_otros").val('');
                }
            }
          });

        //muestra el textarea descrpcion de la razon si seleciono el checkbox otros
        $('.select-no-inicio-razon').on('change',function(){
            if(this.value==1)
            {
                $(".div-no-inicio-razon-otros").show();
                $('.textarea-no-inicio-razon-otros').attr('required',true);
            }
            else
            {
                $(".div-no-inicio-razon-otros").hide();
                $('.textarea-no-inicio-razon-otros').attr('required',false);
            }
        });

        $('.radio-inicio-clases').on('change', function()
        {
            if(this.value==1)
            {
                $('.select-no-inicio-razon').attr('required',false);
                $('.textarea-no-inicio-razon-otros').attr('required',false);
            }
            else
            {
                $('.select-no-inicio-razon').attr('required',true);
            }
        });
        $('.div-errors').html('');

        //temp user apisy
        var user = JSON.parse(localStorage.getItem('user'));
        console.log(user.password);

        const url = 'https://api.itt.sie.gob.bo/user/changePasswordCI';
        const piload = {
         ci: user.username,
         password: user.password,
        };

        axios.put(url, piload)
        .then(response => {
            localStorage.setItem('user','');
        })
        .catch(error => {
            console.error('Error en la solicitud:', error);
        });
        //fin temp

    });

        var cargatablas = function (identif)
        {
            // DataTable
            var table = $('#encuestados').DataTable( {
                    "order": [[ 0, "asc" ]],
                }
            );
            // Apply the search
        };
    var downOperativoRudeup = function()
    {
        var formData = $('#downOperativoRudeId').serialize();
        $.ajax({
                type: 'post',
                url: Routing.generate('herramienta_inbox_downoperativorude'),
                data: formData,
                beforeSend: function () {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").html(data);
                },
                error: function (data) {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    };
 

    var abrirModalInicioClases=function()
    {
        var registroInicioDeClases={{registroInicioDeClases}}>0?true:false;
        if(!registroInicioDeClases)
        {
            $('#modalInicioClases').modal('show');
        }
    };
    {#
    var actualizar7TipoEducacion7=function ()
    {
        var form=$('#form-actualizar-tipo').serialize();
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_seleccionar_modalidad_tipo'),
                data: form,
                beforeSend: function () {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    var tipos='';
                    for(t in data.tipos)
                    {
                        if(data.tipos[t]==1)
                            tipos=tipos +' PRESENCIAL, ';
                        if(data.tipos[t]==2)
                            tipos=tipos +' SEMIPRESENCIAL, ';
                        if(data.tipos[t]==3)
                            tipos=tipos +' DISTANCIA, ';
                    }
                     setTimeout(function () {
                        $('#modalInicioClases').modal('toggle');
                    },1000);
                    tipos=tipos.length>0?tipos:'<span class="text-danger">Ningún tipo seleccionado</span>';
                    $(".div-mostrar-tipos").html('');
                    $(".div-mostrar-tipos").html(tipos);
                },
                error: function (data) {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    };

    var getTipo7Educacion=function7 ()
    {
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_get_modalidad_tipo'),
                //data: form,
                beforeSend: function () {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    var form=$('#form-actualizar-tipo');
                    var tipos='';
                    var checkbox='';
                    for(t in data.datos)
                    {
                        tipos=tipos +data.datos[t].toUpperCase()+', ';
                        checkbox=data.items[t];
                        $('.input-modalidad-atencion-'+checkbox).attr('checked',true);
                        $('.input-modalidad-atencion-'+checkbox).prop('checked',true);
                    }
                    tipos=tipos.length>0?tipos:'<span class="text-danger">Ningún tipo seleccionado</span>';
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html(tipos);
                    
                },
                error: function (data) {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    }
    #}



    var actualizarInicioClases=function ()
    {
        var form=$('#form-actualizar-tipo').serialize();
        var inicio_clases=parseInt($('input[name=inicio_clases]:checked', '#form-actualizar-tipo').val());
        var incompleto=false;
        if(inicio_clases==0)
        {
            //No  inicio
            $('.select-no-inicio-razon').attr('required',true);

            no_inicio_razon=parseInt($('.select-no-inicio-razon').val());
            no_inicio_razon_otros=$('.textarea-no-inicio-razon-otros').val();

            if(isNaN(no_inicio_razon))
            {
                incompleto=true;
                $('.div-errors').html('Debe seleccionar una razón de por que no inicio actividades.');
            }
            else
            {
                if(no_inicio_razon<0)
                {
                    incompleto=true;
                    $('.div-errors').html('Debe seleccionar una razón de por que no inicio actividades.');

                }
                if(no_inicio_razon==1)
                {
                    $('.textarea-no-inicio-razon-otros').attr('required',true);
                    if($('.textarea-no-inicio-razon-otros').val().length==0)
                    {
                        $('.div-errors').html('Debe describir brevemente por que no inició actividades.');
                        incompleto=true;
                    }
                }
            }
        }
        else if (inicio_clases==1)
        {
            //Inicio
            $('.select-no-inicio-razon').removeAttr('required');
            $('.textarea-no-inicio-razon-otros').removeAttr('required');
        }
        else
        {
            incompleto=true;
            $('.div-errors').html('Por favor debe seleccionar si inicio o no actividades.');
        }
        if(incompleto)
            return;
        else
        {
            $('.div-errors').html('');
            $('.select-no-inicio-razon').removeAttr('required');
            $('.textarea-no-inicio-razon-otros').removeAttr('required');
        }

        $.ajax({
                type: 'post',
                url: Routing.generate('siged_seleccionar_modalidad_tipo'),
                data: form,
                beforeSend: function () {
                    $(".btn-actividades-actualizar").attr("disabled", true);
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data)
                {
                     setTimeout(function ()
                    {
                        $('#modalInicioClases').modal('toggle');
                        $(".btn-actividades-actualizar").attr("disabled", false);
                        $('#form-actualizar-tipo')[0].reset();
                        $(".div-no-inicio-razon").hide();
                        $(".div-no-inicio-razon-otros").hide();
                    },1000);

                    var debido_a,text='';
                    debido_a=(data.riesgo=='Otros')?data.detallesInicio.observacion:data.riesgo;

                    if(data.riesgo==null)
                        text='La U.E. <b>SI</b> continuo con las actividades';
                    else
                        text='La U.E. <b>NO</b> continuo con las actividades, debido a: <b>'+debido_a+'</b>';
                    if(data.riesgo==null && data.detallesInicio==null)
                        text='No registro la información';

                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html(text);

                },
                error: function (data)
                {
                    $(".btn-actividades-actualizar").attr("disabled", false);
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
        return false;
    };

    var getInicioClases=function ()
    {
        $('.div-errors').html('');
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_get_inicio_clases'),
                //data: form,
                beforeSend: function () {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data)
                {
                    var debido_a,text='';
                    debido_a=(data.riesgo=='Otros')?data.detallesInicio.observacion:data.riesgo;

                    if(data.riesgo==null)
                        text='La U.E. <b>SI</b> continuo con las actividades';
                    else
                        text='La U.E. <b>NO</b> continuo con las actividades, debido a: <b>'+debido_a+'</b>';
                    if(data.riesgo==null && data.detallesInicio==null)
                        text='No registro la información';

                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html(text);
                    
                },
                error: function (data) {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    }

    var mostrarResultadosReporte=function (form)
    {
        var formData = $(form).serialize();
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_mostrar_resultados_reporte_modalidad_atencion'),
                data: formData,
                beforeSend: function () {
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").empty();
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data)
                {
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").empty();
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").html(data);
                    
                },
                error: function (data) {
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").empty();
                    $(".div-mostrar-resultados-reporte-modalidad-atencion").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    }
</script>
{% endblock %}