{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Principal <span>Menú principal</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-warning shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Consideraciones para la descarga del Certificado CUT-TTM</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                 Para habilitar el Certificado Único de Trámites CUT-TTM, el sistema valida la siguiente información del estudiante:
                                </div>
                                 <ul>
                                    <li><strong> Carga Horaria</strong></li> 
                                        Para la impresión del CUT-TTM, el estudiante debe cumplir las 1920 Horas.
                                    <li><strong>Nivelación</strong> </li>
                                        La Unidad Educativa debió registrar en el sistema de Información Educativa(SIE), las calificaciones obtenidas en el proceso de nivelación.
                                    <li><strong>Especilidad</strong> </li>
                                        Las y los estudiantes del 6to año de escolaridad que no hayan cambiado su especialidad, que tengan su formación Técnica Tecnológica Especializada de 5to año de escolaridad en diferente especialidad y hayan sido aporbados por homologaciones, no tendrán ninguna dificultad en la impresion CUT.
                                    <li><strong>Validación SEGIP</strong> </li>
                                        El sistema valida la información del estudiante con el SEGIP, los datos validados son paterno, materno, nombres y Fecha de Nacimiento.
                                </ul>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                <a class="btn btn-lilac btn-xs btn-facebook" href="{{asset('uploads/archivos/Consideraciones_CUT.pdf' )}}" target="_blank" download>
                                  <i class="fa fa-file-pdf-o fa-2x" ></i> Descargar consideraciones para el Certificado Único de Trámites CUT-TTM
                                 </a>
                             </div>
                                {# <div class="col-md-6 col-md-offset-3">
                                  <button type="button" class="btn btn-facebook btn-md" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo' >
                                            <i class="fa fa-group" ></i>  Habilitar el Certificado Único de Trámites CUT-TTM
                                  </button>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-3">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-primary shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Descarga Archivo Rude</h3>
                                </div>
                                <div class="pull-right">
                                    {# <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button> #}
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                            
                                {{form_start(formOperativoRude, { 'attr':{'id':'downOperativoRudeId'} })}}
                                {{form_widget(formOperativoRude.downOperativoRude)}}
                                {{form_end(formOperativoRude)}}
                            
                                
                                <div id="downoperativoId">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-3">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-primary shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Seguimiento Bono Juancito Pinto</h3>
                            </div>
                            <div class="pull-right">
                                {# <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button> #}
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            {{ form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } ) }}
                            <div class="row">
                                <div class="form-group col-md-3">
                                    {{ form_label(form.dpto) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form.dpto) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    {{ form_widget(form.getReporte ) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-teal shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Notificaciones</h3>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body no-padding">
                            <ul class="list-group">
                                {% for entity in entities|slice(0, 5) %}
                                    {% if entity.rolTipo.id == app.session.get('roluser') %}
                                        <li class="list-group-item">
                                            <span class="badge {% if(entity.notif.noticiaTipo) == 0  %}badge-success{% elseif(entity.notif.noticiaTipo) == 1 %}badge-warning{% else %}badge-danger{% endif %}">{% if(entity.notif.noticiaTipo) == 0  %}Normal{% elseif(entity.notif.noticiaTipo) == 1 %}Urgente{% else %}Muy Urgente{% endif %}</span>
                                            <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> {% if entity.notif.fechaCrea %}{{ entity.notif.fechaCrea|date('d-m-Y') }}{% endif %} | {{ entity.notif.titulo }}</strong></h5>
                                            <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> {{ entity.notif.mensaje|raw }}</p>
                                            <p class="list-group-item-text text-green">
                                                {% if entity.notif.adjunto %}
                                                    Descargar adjunto: <a href="{{ asset('uploads/adjuntos/' ~ entity.notif.adjunto) }}" target="_blank"><img src="{{asset('img/pdf.png') }}" alt="{{ entity.notif.adjunto }}" width="20" height="20"></a>
                                                    {% endif %}
                                            </p>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <!-- <li class="list-group-item">
                                        <h2 class="list-group-item-heading text-info"><i class="fa fa-info-circle fa-fw"></i>
                                            Ante las dificultades presentadas en el registro de datos del <b>Módulo RUDE</b> (Registro Único de Estudiantes) mediante el sistema academico, el operativo queda suspendido hasta nuevo aviso.
                                            <br><br>
                                            <b>UNIDAD DE SISTEMAS - SIE</b>
                                        </h2>
                                    </li> -->
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-6">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-lilac shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Observaciones de Incripciones Gestión {{app.session.get(('currentyear'))}}</h3>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="col-md-12">
                                    {% if observacion %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Codigo SIE</th>
                                                        <th>Gestión</th>
                                                        <th>Observacion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for obs in observacion %}
                                                    <tr>
                                                        <td class="text-center">{{loop.index}}</td>
                                                        <td>{{obs.institucioneducativa.id}}</td>
                                                        <td>{{obs.gestionTipo.id}}</td>
                                                        <td>{{obs.obs}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        No tiene observaciones
                                    {% endif %}
                                </div>
                            </div><!-- /.panel-body --> 
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts%}
    {{parent()}}

<script>

    var downOperativoRudeup = function(){
    var formData = $('#downOperativoRudeId').serialize();

     $.ajax({
            type: 'post',
            url: Routing.generate('herramienta_inbox_downoperativorude'),
            data: formData,
            beforeSend: function () {
                $("#downoperativoId").empty();
                $("#downoperativoId").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#downoperativoId").empty();
                $("#downoperativoId").html(data);
            },
            error: function (data) {
                $("#downoperativoId").empty();
                $("#downoperativoId").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
            }
        });
    };

</script>
{% endblock %}