{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!--Modal para asignar los tipos de atencion que tiene la unidad educativa-->
    <div class="modal fade" id="modalTipoAtencion" tabindex="-1">
        <form action="" method="POST" id="form-actualizar-tipo" autocomplete="off">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h5 class="modal-title">Modalidades de atención educativa</h5>
                <!--
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                -->
              </div>
              <div class="modal-body">
                      <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input input-modalidad-atencion-1" type="checkbox" name="opcion[]" id="opcion_1" value="1">
                            <label class="form-check-label" for="opcion_1">
                              Presencial
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input input-modalidad-atencion-2" type="checkbox" name="opcion[]" id="opcion_2" value="2">
                            <label class="form-check-label" for="opcion_2">
                              Semipresencial
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input input-modalidad-atencion-3" type="checkbox" name="opcion[]" id="opcion_3" value="3">
                            <label class="form-check-label" for="opcion_3">
                              Distancia
                            </label>
                          </div>
                        </div>
                      </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-info">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
    </div>

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Principal <span>Menú principal</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
        <div class="col-md-6">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-primary shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Bachiller Destacado - Excelencia en el Bachillerato</h3>
                            </div>
                            <div class="pull-right">
                                {# <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button> #}
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p><a href="{{ path('bach_exc_imprime_reporte_general') }}" class="btn btn-block btn-success"><i class="fa fa-fw fa-file-pdf-o"></i> Reporte General</a></p>
                            </div>
                            {# <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/images/bjpinto/bjp_A.jpeg" alt="Los Angeles" style="width:100%;">
                                    </div>

                                    <div class="item">
                                        <img src="/images/bjpinto/bjp_B.jpeg" alt="Chicago" style="width:100%;">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/MN9afgpY3w0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel rounded shadow">
                    <div class="panel panel-warning shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title"> ESTUDIANTES RETIRADOS POR TRASLADO</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            {{ render(controller('SieHerramientaBundle:TransferStudents:index')) }}
                        </div>
                    </div>
                </div>

                <!-- Start input fields - basic form -->{#
                <div class="panel rounded shadow">
                    <div class="panel panel-warning shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Consideraciones para la descarga del Certificado CUT-TTM</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                 Para habilitar el Certificado Único de Trámites CUT-TTM, el sistema valida la siguiente información del estudiante:
                                </div>
                                 <ul>
                                    <li><strong> Carga Horaria</strong></li> 
                                        Para la impresión del CUT-TTM, el estudiante debe cumplir las 1920 Horas.
                                    <li><strong>Nivelación</strong> </li>
                                        La Unidad Educativa debió registrar en el sistema de Información Educativa(SIE), las calificaciones obtenidas en el proceso de nivelación.
                                    <li><strong>Especilidad</strong> </li>
                                        Las y los estudiantes del 6to año de escolaridad que no hayan cambiado su especialidad, que tengan su formación Técnica Tecnológica Especializada de 5to año de escolaridad en diferente especialidad y hayan sido aporbados por homologaciones, no tendrán ninguna dificultad en la impresion CUT.
                                    <li><strong>Validación SEGIP</strong> </li>
                                        El sistema valida la información del estudiante con el SEGIP, los datos validados son paterno, materno, nombres y Fecha de Nacimiento.
                                </ul>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                <a class="btn btn-lilac btn-xs btn-facebook" href="{{asset('uploads/archivos/Consideraciones_CUT.pdf' )}}" target="_blank" download>
                                  <i class="fa fa-file-pdf-o fa-2x" ></i> Descargar consideraciones para el Certificado Único de Trámites CUT-TTM
                                 </a>
                             </div>#}
                                {# <div class="col-md-6 col-md-offset-3">
                                  <button type="button" class="btn btn-facebook btn-md" data-toggle="tooltip" data-placemente="top" data-original-title="Cerrar Operativo Sexto de Secundaria" id='btnCerraoperativo' >
                                            <i class="fa fa-group" ></i>  Habilitar el Certificado Único de Trámites CUT-TTM
                                  </button>
                                </div> #}
                           {# </div>
                        </div>
                    </div>
                </div>
#}
            </div>

            <div class="col-md-12">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel panel-teal shadow">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title">Notificaciones</h3>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body no-padding">
                            <ul class="list-group">
                                {% for entity in entities|slice(0, 5) %}
                                    {% if entity.rolTipo.id == app.session.get('roluser') %}
                                        <li class="list-group-item">
                                            <span class="badge {% if(entity.notif.noticiaTipo) == 0  %}badge-success{% elseif(entity.notif.noticiaTipo) == 1 %}badge-warning{% else %}badge-danger{% endif %}">{% if(entity.notif.noticiaTipo) == 0  %}Normal{% elseif(entity.notif.noticiaTipo) == 1 %}Urgente{% else %}Muy Urgente{% endif %}</span>
                                            <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> {% if entity.notif.fechaCrea %}{{ entity.notif.fechaCrea|date('d-m-Y') }}{% endif %} | {{ entity.notif.titulo }}</strong></h5>
                                            <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> {{ entity.notif.mensaje|raw }}</p>
                                            <p class="list-group-item-text text-green">
                                                {% if entity.notif.adjunto %}
                                                    Descargar adjunto: <a href="{{ asset('uploads/adjuntos/' ~ entity.notif.adjunto) }}" target="_blank"><img src="{{asset('img/pdf.png') }}" alt="{{ entity.notif.adjunto }}" width="20" height="20"></a>
                                                    {% endif %}
                                            </p>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <!-- <li class="list-group-item">
                                        <h2 class="list-group-item-heading text-info"><i class="fa fa-info-circle fa-fw"></i>
                                            Ante las dificultades presentadas en el registro de datos del <b>Módulo RUDE</b> (Registro Único de Estudiantes) mediante el sistema academico, el operativo queda suspendido hasta nuevo aviso.
                                            <br><br>
                                            <b>UNIDAD DE SISTEMAS - SIE</b>
                                        </h2>
                                    </li> -->
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-6">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-lilac shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Observaciones de Incripciones Gestión {{app.session.get(('currentyear'))}}</h3>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="col-md-12">
                                    {% if observacion %}
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Codigo SIE</th>
                                                        <th>Gestión</th>
                                                        <th>Observacion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for obs in observacion %}
                                                    <tr>
                                                        <td class="text-center">{{loop.index}}</td>
                                                        <td>{{obs.institucioneducativa.id}}</td>
                                                        <td>{{obs.gestionTipo.id}}</td>
                                                        <td>{{obs.obs}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        No tiene observaciones
                                    {% endif %}
                                </div>
                            </div><!-- /.panel-body --> 
                        </div>
                    </div>
                </div>
            {% endif %}
            {#
            <div class="col-md-6">
                <div class="panel panel-danger shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Encuesta Internet - pisos tecnológicos</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        La siguiente encuesta debe ser llenada 
                        por los directores de cada Unidad Educativa.
                        <br>
                        <br>
                        <div class='text-center'>
                            <a href="{{ path('encuestaUe_index')}} " class="btn btn-success btn-lg" title="ir a la encuesta" >LLenar Encuesta</a>
                        </div> <br>
                    {% if (app.session.get('roluser') == 8) or (app.session.get('roluser') == 10) %} 
                         {{ form_start(form2, { 'attr': {'data-toggle': 'validator','role': 'form'} } ) }}
                            <div class="row">
                                <div class="form-group col-md-3">
                                    {{ form_label(form2.dpto) }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_widget(form2.dpto) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    {{ form_widget(form2.getReporte ) }}
                                </div>
                            </div>
                        {{ form_end(form2) }}
                      
                        
                    {% endif %}
                      
                        <br>
                         {% if existe %}
                            <div id="listaencuesta">
                                <div class="table-responsive col-md-12" >
                                    <table class="table table-bordered table-striped" id="encuestados" >
                                            <thead>
                                                <tr>
                                                    <th class="text-center border-right" style="width:50px; min-width: 50px;">N°</th>
                                                    <th class="text-center border-right">Departamento</th>
                                                    <th class="text-center border-right">Distrito</th>
                                                    <th class="text-center border-right">SIE</th>
                                                    <th class="text-center border-right">Unidad Educativa</th>
                                                </tr>
                                            </thead>
                                     
                                            <tbody>
                                            {% for dataEncuesta in dataEncuesta %}
                                                <tr >
                                                    <td data-title="N°" class="text-center">{{ loop.index }}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.departamento }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.distrito}}</td>
                                                    <td data-title="Departamento" >{{ dataEncuesta.sie }}</td>
                                                    <td data-title="Distrito" class="text-center">{{ dataEncuesta.ue }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                    </table>
                                </div> 
                                </div>
                        {% else %}
                                <p> NINUGNA UNIDAD EDUCATIVA REALIZO LA ENCUESTA.</p>
                        {% endif %}
                        
                    </div>
                </div>                
            </div>
           
            {% if app.session.get('ie_id') > 0 %}
                <div class="col-md-3">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-primary shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Descarga Archivo Rude</h3>
                                </div>
                                <div class="pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body">
                            
                                {{form_start(formOperativoRude, { 'attr':{'id':'downOperativoRudeId'} })}}
                                {{form_widget(formOperativoRude.downOperativoRude)}}
                                {{form_end(formOperativoRude)}}
                            
                                
                                <div id="downoperativoId">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
 #}
        <!--Detalle de los TIPOS DE EDUACION que dispione la unidad educatio-->
            {#
                <div class="col-md-6">
                    <!-- Start input fields - basic form -->
                    <div class="panel rounded shadow">
                        <div class="panel panel-lilac shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Tipos de atención</h3>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse" data-original-title="" title=""><i class="fa fa-angle-up"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="col-md-12">

                                        La unidad educativa tiene los siguientes tipos de atención:
                                        <a href="#" class="badge badge-info" data-toggle="modal" data-target="#modalTipoAtencion">Ver/Cambiar</a>
    
                                    <div class="div-mostrar-tipos"></div>
                                </div>
                                <br>
                            </div><!-- /.panel-body --> 
                        </div>
                    </div>
                </div>
            #}
        </div>
    </div>





{% endblock %}
{% block javascripts%}
    {{parent()}}

<script>
   $(document).ready(function()
   {
        cargatablas();
        /*
        abrirModalTipoEducacion();
        $('#form-actualizar-tipo').on('submit', function (event)
        {
            event.preventDefault();
            actualizarTipoEducacion();
        });


        getTipoEducacion();
        $('.actualizar-form-tipo-atencion').on('click',function (event) {
            getTipoEducacion();
        });
        */
    });

        var cargatablas = function (identif)
        {
            // DataTable
            var table = $('#encuestados').DataTable( {
                    "order": [[ 0, "asc" ]],
                }
            );
            // Apply the search
        };
    var downOperativoRudeup = function()
    {
        var formData = $('#downOperativoRudeId').serialize();
        $.ajax({
                type: 'post',
                url: Routing.generate('herramienta_inbox_downoperativorude'),
                data: formData,
                beforeSend: function () {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").html(data);
                },
                error: function (data) {
                    $("#downoperativoId").empty();
                    $("#downoperativoId").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    };
 

    var abrirModalTipoEducacion=function()
    {
        var yaSeleccionoTipo={{cantidadModalidadAtencion}}>0?true:false;
        if(!yaSeleccionoTipo)
        {
            $('#modalTipoAtencion').modal('show');
        }
    };
    var actualizarTipoEducacion=function ()
    {
        var form=$('#form-actualizar-tipo').serialize();
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_seleccionar_modalidad_tipo'),
                data: form,
                beforeSend: function () {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    var tipos='';
                    for(t in data.tipos)
                    {
                        if(data.tipos[t]==1)
                            tipos=tipos +' PRESENCIAL, ';
                        if(data.tipos[t]==2)
                            tipos=tipos +' SEMIPRESENCIAL, ';
                        if(data.tipos[t]==3)
                            tipos=tipos +' DISTANCIA, ';
                    }
                     setTimeout(function () {
                        $('#modalTipoAtencion').modal('toggle');
                    },1000);
                    tipos=tipos.length>0?tipos:'<span class="text-danger">Ningún tipo seleccionado</span>';
                    $(".div-mostrar-tipos").html('');
                    $(".div-mostrar-tipos").html(tipos);
                },
                error: function (data) {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    };


    var getTipoEducacion=function ()
    {
        $.ajax({
                type: 'post',
                url: Routing.generate('siged_get_modalidad_tipo'),
                //data: form,
                beforeSend: function () {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
                },
                success: function (data) {
                    var form=$('#form-actualizar-tipo');
                    var tipos='';
                    var checkbox='';
                    for(t in data.datos)
                    {
                        tipos=tipos +data.datos[t].toUpperCase()+', ';
                        checkbox=data.items[t];
                        $('.input-modalidad-atencion-'+checkbox).attr('checked',true);
                        $('.input-modalidad-atencion-'+checkbox).prop('checked',true);
                    }
                    tipos=tipos.length>0?tipos:'<span class="text-danger">Ningún tipo seleccionado</span>';
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").html(tipos);
                    
                },
                error: function (data) {
                    $(".div-mostrar-tipos").empty();
                    $(".div-mostrar-tipos").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> No hay conexion con el servidor</div>');
                }
            });
    }
</script>
{% endblock %}