{% extends 'layoutHerramienta.html.twig' %}



{% block contentoption%}

       <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Lista de Inscritos <span>Unidad Educativa</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Lista de Inscritos / Resultado</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- the new view start -->
    <div class="body-content animated fadeIn">

         <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('successsi1') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel rounded">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-home fa-fw"></i> Estudiantes de {{unidadEducativa.institucioneducativa}} -<b>{{unidadEducativa.id}} </b>
                             - Gestión : <b> {{gestionSelected}} </b> 

                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="portlet-body">
                            {% if app.session.get('roluser') == 7 or app.session.get('roluser') == 8 or app.session.get('roluser') == 9 or app.session.get('roluser') == 10 or app.session.get('roluser') == 20 %}
                                <div class='row'>
                                    <div class='col-md-4 col-md-offset-4'>
                                        <a class="btn btn-block btn-default btn-pinterest" href="{{ path('donwload_listStudentPerUe', {'gestion':gestionSelected, 'ue':unidadEducativa.id} )}}">
                                            <i class="fa fa-download"></i> Listado de Estudiantes
                                        </a>
                                    </div>
                                </div>
                            {% endif %}


                                <table id="myTable" class="table table-bordered table-hover cf dataTable" data-container="true" data-preserve="shallow" role="grid" aria-readonly="true">

                                    <thead class="">
                                        <tr class="">
                                            <th>No.</th>
                                            <th>Nivel</th>
                                            <th>Grado</th>
                                            <th>Paralelo</th>
                                            <th>Turno</th>
                                            <th># Estudiantes</th>
                                            <th>ver</th>
                                            <th >Form</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in numberStudents %}
                                            <tr>
                                                <td data-title="No.">{{ loop.index }}</td>
                                                <td data-title="Nivel">{{ entity.nivel }}</td>
                                                <td data-title="Grado">{{ entity.grado }}</td>
                                                <td data-title="Paralelo">{{ entity.paralelo }}</td>
                                                <td data-title="Turno" >{{ entity.turno }}</td>
                                                <td data-title="Estudiantes">{{entity.students}}</td>

                                                <td class="text-center">
                                                    <a href="#" class="btn btn-link" id="viewList" onclick="openList({{unidadEducativa.id}}, '{{gestionSelected}}',{{entity.nivelId}} ,{{entity.gradoId}} ,{{entity.paraleloId}} ,{{entity.turnoId}} )" >
                                                        Ver
                                                    </a>
                                                </td>

                                                <td class="text-center">
                                                    {% if app.session.get('roluser') == 7 or app.session.get('roluser') == 8 or app.session.get('roluser') == 9 or app.session.get('roluser') == 10 %}
                                                        <a href="{{path('donwload_listStudentPerCourse', {'ue': unidadEducativa.id, 'gestion': gestionSelected, 'nivel':entity.nivelId,'grado':entity.gradoId, 'paralelo':entity.paraleloId,'turno':entity.turnoId } )}}">
                                                            Descargar
                                                        {# <img src="{{asset('img/pdf.png') }}" data-1x="{{asset('img/pdf.png')}}" data-2x="{{asset('img/pdf.png')}}" height="10" width="10"   class="hisrc img-responsive"  > #}
                                                        </a>
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>   

                                    <div class="row">
                                        <div class="col-md-12 norelative">
                                            <a href="{{path('students_inscriptions_index')}}" class="btn btn-link"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Volver</a>
                                        </div>
                                    </div>                  
                       
                     </div>
                </div>

            </div>
        </div>




    </div>
    <!-- the new view end -->


    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    
    <!-- /.row -->
   



    <!--div class='row'>

        <div class='col-md-8 col-md-offset-5'><div id="resultloading"></div></div>

    </div-->

    <!-- Modal -->








{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>
        //data-toggle="modal" data-target="#flexModal"
        var openList = function (sie, gestion, nivel, grado, paralelo, turno) {
            $('#listStudentsue').modal("show");

            $.ajax({
                type: 'get',
                url: Routing.generate('students_inscriptions_openhistoric', {'sie': sie, 'gestion': gestion, 'nivel': nivel, 'grado': grado, 'paralelo': paralelo, 'turno': turno}),
                beforeSend: function () {
                    $("#idstudents").empty();
                    $("#idstudents").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
                },
                success: function (data) {
                    $("#idstudents").empty();
                    $("#idstudents").append(data);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });


        }
    </script>
{% endblock %}
