{% extends 'SieAppWebBundle:Default:sie.html.twig' %}
{% block contentoption %}


    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1><i class="fa fa-edit animated flip text-info"></i>Datos de la Cuenta
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="">Actualizar Datos</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-green">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Información Usuario</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pdatauser1"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pdatauser1" class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <div class="panel-body">
                            {{ form_start(edit_form, { 'attr': {'data-toggle': 'validator','role': "form",'onsubmit':'return checkSubmitFrm()','class':'form-horizontal'} }) }}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">CARNET</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.carnet, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">LIBRETA MILITAR</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.libretaMilitar, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">PASAPORTE</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.pasaporte, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">PATERNO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.paterno, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">MATERNO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.materno, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">NOMBRE</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">FECHA DE NACIMIENTO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fechaNacimiento, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">COMPLEMENTO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.complemento, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">GENERO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.generoTipo, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ESTADO CIVIL</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.estadocivilTipo, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">TIPO DE SANGRE</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.sangreTipo, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">IDIOMA MATERNO</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.idiomaMaterno, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">

                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <a href="" onclick="window.history.back();" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div class="row">
        <div class="col-md-12"><button class="btn btn-link" onclick="javascript: window.history.back();"><i class="fa fa-arrow-circle-left"></i> Atras</button></div>
    </div-->


{% endblock %}
