{% extends 'layoutPermanente.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Cursos Largos
                    <small>Centro Educativo</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('institucioncursolargo')}}">Cursos Largos</a></li>
                    <li><i class="fa fa-list"></i>  Participantes</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{ app.session.get('institucion') }} - Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <thead class="cf">
                                <tr>
                                    <th>Código SIE</th>
                                    <th>Nombre</th>
                                    <th>Gestión</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td data-title="Código SIE">{{institucion.id}}</td>
                                    <td data-title="Nombre">{{institucion.institucioneducativa}}</td>
                                    <td data-title="Gestión">{{gestion}}</td>
                                </tbody>
                            </table>
                            </div>
                            <hr>
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <thead class="cf">
                                <tr>
                                    <th>Programa</th>
                                    <th>Curso</th>
                                    <th>Nivel Acreditación</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td data-title="Programa">{{curso.carreraespecialidadTipo.carreraTipo.carrera}}</td>
                                    <td data-title="Curso">{{curso.carreraespecialidadTipo.especialidad}}</td>
                                    <td data-title="Acreditación">{{curso.nivelacreditacionTipo.nivelacreditacion}}</td>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row" style="display:none">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Datos Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelcurso"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelcurso" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <tr><th>Número</th><td>{{curso.numeroperiodo}}</td></tr>
                                <tr><th>Programa</th><td>{{curso.carreraespecialidadTipo.carreraTipo.carrera}}</td></tr>
                                <tr><th>Curso</th><td>{{curso.carreraespecialidadTipo.especialidad}}</td></tr>
                                <tr><th>Duración</th><td>{{curso.duracionhoras}}</td></tr>
                                <tr><th>Fecha Inicio</th><td>{{curso.fechaInicio|date('d-m-Y')}}</td></tr>
                                <tr><th>Fecha Conclusión</th><td>{{curso.fechaFin|date('d-m-Y')}}</td></tr>
                                <tr><th>NivelAcreditacion</th><td>{{curso.nivelacreditacionTipo.nivelacreditacion}}</td></tr>
                                <tr><th>Modalidad</th><td>{{curso.modalidadTipo.modalidad}}</td></tr>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Participantes</h4>
                    </div>
                    <div class="portlet-widgets">
                        {% if curso.esabierto == true %}
                            <form action="{{path('institucioncursolargo_participante_search')}}" method="post" style="display: inline-block">
                                <input type="hidden" name="idCurso" value="{{curso.id}}">
                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                <input type="hidden" name="gestion" value="{{gestion}}">
                                <button type="submit" class="btn-xs btn-default"><i class="fa fa-user"></i> Inscribir Participante</button>
                            </form>
                        {% endif %}
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            
                            {% if participantes is not empty %}
                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf dataTable" id="myTable">
                                        <thead class="cf">
                                            <tr>
                                                <th>N°</th>
                                                <th>Rude</th>
                                                <th>Carnet</th>
                                                <th>Paterno</th>
                                                <th>Materno</th>
                                                <th>Nombre</th>
                                                <th>Estado Matrícula</th>
                                                {% if curso.esabierto == true %}
                                                    <th>Acciones</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in participantes %}
                                                {# set persona = maestro.persona #}
                                                {# set formacion = maestro.formacionTipo #}
                                                <tr>
                                                    <td data-title="N°">{{ loop.index }}&nbsp;</td>
                                                    <td data-title="Rude">{{ p.estudiante.codigoRude }}&nbsp;</td>
                                                    <td data-title="Carnet">{{p.estudiante.carnetIdentidad}}&nbsp;</td>
                                                    <td data-title="Paterno">{{ p.estudiante.paterno}}&nbsp;</td>
                                                    <td data-title="Materno">{{ p.estudiante.materno}}&nbsp;</td>
                                                    <td data-title="Nombre">{{ p.estudiante.nombre}}&nbsp;</td>
                                                    <td data-title="Estado Matricula">{{ p.estadomatriculaTipo.estadomatricula}}&nbsp;</td>
                                                    {% if curso.esabierto == true %}
                                                        <td data-title="Acciones">
                                                            {% if 1 == 2 %}
                                                                <form action="{{path('institucioncursolargo_participante_edit')}}" method="post" style="display:inline-block">
                                                                    <input type="hidden" name="idParticipante" value="{{p.id}}">
                                                                    <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                    <input type="hidden" name="idCurso" value="{{curso.id}}">
                                                                    <input type="hidden" name="gestion" value="{{gestion}}">
                                                                    <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                                                </form>
                                                            {% endif %}
                                                            <form action="{{path('institucioncursolargo_participante_show')}}" method="post" style="display:inline-block">
                                                                    <input type="hidden" name="idParticipante" value="{{p.id}}">
                                                                    <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                    <input type="hidden" name="idCurso" value="{{curso.id}}">
                                                                    <input type="hidden" name="gestion" value="{{gestion}}">
                                                                    <button type="submit" class="btn-link"><i class="fa fa-eye text-warning"></i> Ver Datos</button>
                                                                </form>
                                                            <form action="{{path('institucioncursolargo_participante_delete')}}" method="post" style="display: inline-block">
                                                                <input type="hidden" name="idParticipante" value="{{p.id}}">
                                                                <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="fa fa-trash-o text-danger"></i> Eliminar</button>
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                No hay participantes inscritos
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

