{% extends 'layoutPermanente.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/chosen.css')}}" rel="stylesheet">
{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Cursos Largos
                    <small>Centro Educativo</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('institucioncursolargo')}}">Cursos Largos</a></li>
                    <li><i class="fa fa-list"></i>  <a href="{{path('institucioncursolargo_participante_session')}}">Participantes</a></li>
                    <li><i class="fa fa-search"></i>  <a href="{{path('institucioncursolargo_participante_search')}}">Buscar por RUDEAL</a></li>
                    <li><i class="fa fa-search"></i>  <a href="{{path('institucioncursolargo_participante_search_name')}}">Buscar por Nombres</a></li>
                    <li>Resultado</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Participantes encontrados</h4>
                    </div>
                    <div class="portlet-widgets">  
                        <form action="{{path('institucioncursolargo_participante_new')}}" method="post" style="display:inline-block">
                            <input type="hidden" name="carnet" value="{{carnet}}">
                            <input type="hidden" name="complemento" value="{{complemento}}">
                            <input type="hidden" name="paterno" value="{{paterno}}">
                            <input type="hidden" name="materno" value="{{materno}}">
                            <input type="hidden" name="nombre" value="{{nombre}}">
                            <input type="hidden" name="fechaNacimiento" value="{{fechaNacimiento}}">
                            <button class="btn btn-white btn-xs"><i class="fa fa-user"></i> Nueva Inscripcion</button>
                        </form>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            {% if estudiantes is not empty %}
                                <table class="table table-bordered dataTable table-green">
                                    <thead>
                                        <tr>
                                            <th>Nro</th>
                                            <th>RUDEAL</th>
                                            <th>Paterno</th>
                                            <th>Materno</th>
                                            <th>Nombre(s)</th>
                                            <th>Fecha Nacimiento</th>
                                            <th>Género</th>
                                            <th>Carnet</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in estudiantes %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{e.codigoRude}}</td>
                                                <td>{{e.paterno}}</td>
                                                <td>{{e.materno}}</td>
                                                <td>{{e.nombre}}</td>
                                                <td>{{e.fechaNacimiento|date('d-m-Y')}}</td>
                                                <td>{{e.generoTipo.genero}}</td>
                                                <td>{{e.carnetIdentidad}}</td>
                                                <td>
                                                    <form action="{{path('institucioncursolargo_participante_new_name')}}" method="post">
                                                        <input type="hidden" name="idEstudiante" value="{{e.id}}">
                                                        <button class="btn btn-success"><i class="fa fa-pencil"></i> Inscribir</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i> No hay resultados
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
