{% extends 'layoutPermanente.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Cursos Cortos
                    <small>Centro Educativo</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i> <a href="{{path('institucioncursocorto',{'op':'search'})}}">Buscar</a>
                    </li>
                    <li><i class="fa fa-dashboard"></i> <a href="{{path('institucioncursocorto')}}">Cursos Cortos</a>
                    </li>
                    <li class="">Editar</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('noSearch') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Editar Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } )}}
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(form.numero)}}
                                        {{form_widget(form.numero)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_label(form.curso)}}
                                        {{form_widget(form.curso)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(form.duracion)}}
                                        {{form_widget(form.duracion, {'attr': {'onkeyup':'validarHoras(this.value)'} }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id='sandbox-container'>
                                        <div class="input-daterange" id="datepicker">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(form.fechaInicio)}}
                                                {{form_widget(form.fechaInicio) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(form.fechaFin)}}
                                                {{form_widget(form.fechaFin) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_label(form.departamento)}}
                                        {{form_widget(form.departamento,{'attr':{'onchange':'listarDistritos(this.value)'} }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_label(form.distrito)}}
                                        {{form_widget(form.distrito,{'attr':{'onchange':'municipios(this.value)'} }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_label(form.municipio)}}
                                        {{form_widget(form.municipio) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_label(form.lugar)}}
                                        {{form_widget(form.lugar) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{form_label(form.poblacion)}}
                                        {{form_widget(form.poblacion)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{form_label(form.poblacionDetalle)}}
                                        {{form_widget(form.poblacionDetalle)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12">
                                        {{form_label(form.areatematica)}}
                                        {{form_widget(form.areatematica)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <h4>Facilitador(es)</h4>
                                <div id="no-more-tables">
                                    <table class="table table-bordered cf">
                                        <thead class="cf">
                                            <tr>
                                                <th>Facilitador</th>
                                                <th class="col-lg-2 col-md-2">Horas</th>
                                            </tr>
                                        </thead>
                                        <tbody id="facilitadores">
                                            <tr>
                                                <td class="form-group">
                                                    <select name="facilitador[]" id="" class="form-control" required>
                                                        <option value="">Seleccionar...</option>
                                                        {% for m in maestros %}
                                                            <option value="{{m.id}}">{{m.nombre}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td class="form-group"><input type="text" name="horasFacilitador[]" class="jnumbers form-control" maxlength="3" required></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn-green btn-xs" onclick="agregarFacilitador()" type="button"><i class="fa fa-user"></i> Agregar Facilitador</button>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        {{ form_widget(form.guardar ) }}
                                        <a href="{{path('institucioncursocorto')}}" class="btn btn-default">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        var fac = 0;
        var cantidad = 0;

        $(function () {
            var idCursoCorto = document.getElementById('form_idCursoCorto').value;

            $.ajax({
                type: 'get',
                url: Routing.generate('institucioncursocorto_facilitadores_edit', {'idCursoCorto': idCursoCorto}),
                beforeSend: function () {
                    $("#facilitadores").empty();
                },
                success: function (data) {
                    $.each(data.facCurso, function (i, valores) {
                        var id = 'fac' + fac;
                        var fila = 5000 + fac;
                        cantidad++;
                        if(fila == 5000){
                            $('#facilitadores').append('<tr id="'+fila+'"><td class="form-group"><select name="facilitador[]" id="'+id+'" class="form-control" required></select></td><td class="form-group"><input type="text" name="horasFacilitador[]" class="jnumbers form-control" maxlength="3" required value="'+valores.horas+'"></td></tr>');
                        }else{
                            $('#facilitadores').append('<tr id="'+fila+'"><td class="form-group"><select name="facilitador[]" id="'+id+'" class="form-control" required></select></td><td class="form-group"><input type="text" name="horasFacilitador[]" class="jnumbers form-control" maxlength="3" required value="'+valores.horas+'"></td><td><button type="button" onclick="eliminarFacilitador('+ fila +')"><i class="glyphicon glyphicon-trash" title="Quitar"></i></button></td></tr>');
                        }
                        
                        $("#" + id).empty();
                        $("#" + id).append('<option value="">Seleccionar...</option>');
                        $.each(data.facilitadores, function (a, value) {
                            if(a==valores.maestroInscripcionId){sel = 'selected';}else{sel = '';}
                            $("#" + id).append('<option value="' + a + '"'+ sel +'>' + value + '</option>');
                        });
                            
                        fac = fac + 1;
                    });
                }
            });
        })

        function agregarFacilitador(){
            cantidad = cantidad + 1;
            if(cantidad < 5){
                var id = 'fac' + fac;
                var fila = 5000 + fac;

                $('#facilitadores').append('<tr id="'+fila+'"><td class="form-group"><select name="facilitador[]" id="'+id+'" class="form-control" required></select></td><td class="form-group"><input type="text" name="horasFacilitador[]" class="jnumbers form-control" maxlength="3" required></td><td><button type="button" onclick="eliminarFacilitador('+ fila +')"><i class="glyphicon glyphicon-trash" title="Quitar"></i></button></td></tr>');
                $.ajax({
                    type: 'get',
                    url: Routing.generate('institucioncursocorto_facilitadores'),
                    beforeSend: function () {

                    },
                    success: function (data) {
                        $("#"+id).append('<option value="">Seleccionar...</option>');
                        $.each(data.facilitadores, function (i, value) {
                            $("#"+id).append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                });
                fac = fac + 1;
            }else{
                cantidad = cantidad - 1;
            }
        }
    
        function eliminarFacilitador(fila){
            $('#'+fila).remove();
            cantidad = cantidad - 1;
        }

        function listarDistritos(dep){ // por ahora provincias , modificar
            $.ajax({
                type: 'get',
                url: Routing.generate('search_provincias',{'departamento':dep}),
                beforeSend: function () {
                    $("#form_distrito").empty();
                    $("#form_municipio").empty();
                    $("#form_distrito").attr('readonly');
                },
                success: function (data) {
                    $("#form_distrito").empty();
                    $("#form_municipio").empty();
                    $("#form_distrito").append('<option value="">Seleccionar...</option>');
                    $("#form_municipio").append('<option value="">Seleccionar...</option>');
                    $.each(data.provincia, function (i, value) {
                        $("#form_distrito").append('<option value="' + i + '">' + value + '</option>');
                    });      
                    $("#form_distrito").removeAttr('readonly');
                }
            });   
        }
        
        function municipios(provincia){
            $.ajax({
                type: 'get',
                url: Routing.generate('icl_municipio',{'provincia': provincia}),
                beforeSend: function () {
                    $("#form_municipio").empty();
                },
                success: function (data) {
                    $("#form_municipio").empty();
                    $("#form_municipio").append('<option value="">Seleccionar...</option>');
                    $.each(data.municipios, function (i, value) {
                        $("#form_municipio").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
        function validarHoras(horas){
            if(horas > 800){
                alert('Los cursos cortos no pueden exceder las 800 horas');
                $('#form_duracion').val(800);
            }
        }
    </script>
{% endblock %}
