{% extends 'layoutPermanente.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Cursos Cortos
                    <small>Centro Educativo</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i> <a href="{{path('institucioncursocorto',{'op':'search'})}}"> Buscar</a></li>
                    <li><i class="fa fa-dashboard"></i> <a href="{{path('institucioncursocorto')}}">Cursos Cortos</a>
                    </li>
                    <li><i class="fa fa-users"></i> Participantes</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{ app.session.get('institucion') }}</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <thead class="cf">
                                <tr>
                                    <th>Código SIE</th>
                                    <th>Nombre</th>
                                    <th>Gestión</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td data-title="Código SIE">{{institucion.id}}</td>
                                    <td data-title="Nombre">{{institucion.institucioneducativa}}</td>
                                    <td data-title="Gestión">{{gestion}}</td>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelcurso"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelcurso" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <thead class="cf">
                                <tr>
                                    <th>Curso</th>
                                    <th>Inicio</th>
                                    <th>Conclusión</th>
                                    <th>Duracion</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td data-title="Código SIE">{{cursoCorto.curso}}</td>
                                    <td data-title="Inicio">{{cursoCorto.fechaInicio|date('d-m-Y')}}</td>
                                    <td data-title="Inicio">{{cursoCorto.fechaConclusion|date('d-m-Y')}}</td>
                                    <td data-title="Duracion">{{cursoCorto.duracionhoras}} horas</td>
                                    
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Participantes</h4>
                    </div>
                    <div class="portlet-widgets">
                        {% if cursoCorto.esabierto == true %}
                            <form action="{{path('institucioncursocorto_participante_new')}}" method="post" style="display: inline-block">
                                <input type="hidden" name="idCursoCorto" value="{{cursoCorto.id}}">
                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                <input type="hidden" name="gestion" value="{{gestion}}">
                                <button type="submit" class="btn-default btn-xs"><i class="fa fa-user"></i> Nuevo Participante</button>
                            </form>
                        {% else %}
                            <!--<button class="btn-xs btn-default"><i class="fa fa-print"></i> Imprimir Certificados</button>-->
                        {% endif %}
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            
                            {% if participantes is not empty %}
                               
                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf dataTable" id="myTable">
                                        <thead class="cf">
                                            <tr>
                                                <th>Número</th>
                                                <th>Carnet</th>
                                                <th>Paterno</th>
                                                <th>Materno</th>
                                                <th>Nombres</th>
                                                <th>Edad</th>
                                                <th>Género</th>
                                                <th>Organizacion/Comunidad</th> 
                                                         
                                                    <th>Acciones</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in participantes %}
                                                {# set persona = maestro.persona #}
                                                {# set formacion = maestro.formacionTipo #}
                                                <tr>                                                    
                                                    <td data-title="Número">{{ loop.index }}&nbsp;</td>
                                                    <td data-title="Carnet">{{ p.carnetIdentidad }}&nbsp;</td>
                                                    <td data-title="Paterno">{{ p.paterno }}&nbsp;</td>
                                                    <td data-title="Materno">{{ p.materno }}&nbsp;</td>
                                                    <td data-title="Nombre">{{ p.nombre }}&nbsp;</td>
                                                    <td data-title="Edad">{{ p.edad }}&nbsp;</td>
                                                    <td data-title="Genero">{{p.generoTipo.genero}}&nbsp;</td>
                                                    <td data-title="Organizacion">{{ p.organizacionComunidad }}&nbsp;</td>
                                                    {% if cursoCorto.esabierto == true %}
                                                        <td data-title="Acciones">
                                                            <form action="{{path('institucioncursocorto_participante_edit')}}" method="post" style="display:inline-block">
                                                                <input type="hidden" name="idParticipante" value="{{p.id}}">
                                                                <input type="hidden" name="idCursoCorto" value="{{cursoCorto.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                                            </form>
                                                            <form action="{{path('institucioncursocorto_participante_delete')}}" method="post" style="display: inline-block">
                                                                <input type="hidden" name="idParticipante" value="{{p.id}}">
                                                                <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="fa fa-trash-o text-danger"></i> Eliminar</button>
                                                            </form> 

                                                        </td>

                                                    {% else %}
                                                        <td data-title="Acciones">
                                                            <a href="{{path('download_certificado',{'centro':cursoCorto.curso,'estudiante':cursoCorto.curso,'curso':cursoCorto.curso,'duracion':cursoCorto.curso})}}" class="btn-xs btn-default" ><i class="fa fa-print"></i> Certificado</a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                               
                            {% else %}
                                No hay participantes
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

