{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-plus-circle animated flip"></i> Habilitar SubCentro<span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                    <i class="fa fa-home"></i>
                    <a href="{{path('principal_web')}}">Inicio </a>
                    <i class="fa fa-angle-right"></i>
                     <li class="active">Habilitar SubCentro</li>
                </li>

                <li class="active"></li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-success">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Habilitar SubCentro</h3>
                        </div>
                        <div class="pull-right">

                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="alert alert-info alert-dismissible" role="info">
                                <button type="button" class="close" data-dismiss="info" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><i class='fa fa-info'></i></strong> Para la habilitación de un nuevo SubCentro, debe considerar que: el SubCentro será registrado para la gestión actual en el CEA y Periodo seleccionado.
                            </div>
                            {% for flashMessage in app.session.flashbag.get('errorMsg') %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                                        </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('successMsg') %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                                        </div>
                            {% endfor %}
                        </div>
                        <div class="panel-body panel-primary">
                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form','onsubmit': 'return confirma();'} } )}}
                        <div class="panel-body">
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                                <label class="control-label">{{ form_label(form.idInstitucion) }}</label>
                                            {{ form_widget(form.idInstitucion) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                                <label class="control-label">{{ form_label(form.departamento) }}</label>
                                            {{ form_widget(form.departamento) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.provincia) }}</label>
                                                {{ form_widget(form.provincia) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.municipio) }}</label>
                                                {{ form_widget(form.municipio) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">{{ form_label(form.canton) }}</label>
                                                    {{ form_widget(form.canton) }}
                                            </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.localidad) }}</label>
                                                {{ form_widget(form.localidad) }}
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.periodo) }}</label>
                                                {{ form_widget(form.periodo) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.subcea) }}</label>
                                                {{ form_widget(form.subcea) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.direccion) }}</label>
                                                {{ form_widget(form.direccion) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.zona) }}</label>
                                                {{ form_widget(form.zona) }}
                                        </div><!-- /.form-group -->
        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{ form_label(form.distrito) }}</label>
                                                {{ form_widget(form.distrito) }}
                                        </div><!-- /.form-group -->
        
                                    </div>                                
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6">                                        
                                    {{ form_widget(form.crear ) }}
                                    <a href="{{ path('principal_web') }}" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                        </div>
                        {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}    
{% block javascripts %}
    {{ parent() }}
    <script>
        var confirma = function(){
            var r = confirm("¿ Está seguro de guardar el registro ?");
            return r;
        }
        
        var listaProvincia = function(id){
            var peticion;
            if (peticion && peticion.readyState != 4) {
                peticion.abort();
            }
            peticion = $.ajax({
                type: 'get',
                url: Routing.generate('sie_alt_clistarprovincias', {'dpto': id}),
                beforeSend: function () {
                    $('#form_provincia').empty();
                    $("#form_provincia").append('<option value="">Cargando Datos..</option>');
                    $('#form_municipio').empty();
                    $("#form_municipio").append('<option value="">Seleccionar Municipio</option>');
                    $('#form_canton').empty();
                    $("#form_canton").append('<option value="">Seleccionar Cantón</option>');
                    $('#form_localidad').empty();
                    $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');
                    $('#form_distrito').empty();
                    $("#form_distrito").append('<option value="">Seleccionar Distrito</option>');
                },
                success: function (data) {
                    if (data.lista == '') {
                        $('#form_provincia').empty();                        
                        $("#form_provincia").append('<option value="">Seleccionar Provincia</option>');
                    } else {
                        $('#form_provincia').empty();
                        $("#form_provincia").append('<option value="">Seleccionar Provincia</option>');
                        $.each(data.listaprovincias, function (i, value) {
                            $("#form_provincia").append('<option value="' + i + '">' + value + '</option>');
                        });
                        $('#form_distrito').empty();
                        $("#form_distrito").append('<option value="">Seleccionar Distrito</option>');
                        $.each(data.listadistritos, function (i, value) {
                            $("#form_distrito").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                },
                error: function(xhr) {
                    $('#form_provincia').empty();
                    $("#form_provincia").append('<option value="">Seleccionar Provincia</option>');
                    $("#form_provincia").removeAttr('disabled');
                },
            });
        };
        var listaMunicipio = function(id){
            var peticion;
            if (peticion && peticion.readyState != 4) {
                peticion.abort();
            }
            peticion = $.ajax({
                type: 'get',
                url: Routing.generate('sie_alt_clistarmunicipios', {'prov': id}),
                beforeSend: function () {
                    $('#form_municipio').empty();
                    $("#form_municipio").append('<option value="">Cargando Datos..</option>');
                    $('#form_canton').empty();
                    $("#form_canton").append('<option value="">Seleccionar Cantón</option>');
                    $('#form_localidad').empty();
                    $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');
                },
                success: function (data) {
                    if (data.lista == '') {         
                        $('#form_municipio').empty();
                        $("#form_municipio").append('<option value="">Seleccionar Municipio</option>');               
                    } else {
                        $('#form_municipio').empty();
                        $("#form_municipio").append('<option value="">Seleccionar Municipio</option>');
                        $.each(data.listamunicipios, function (i, value) {
                            $("#form_municipio").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                },
                error: function(xhr) {
                    $('#form_municipio').empty();
                    $("#form_municipio").append('<option value="">Seleccionar Municipio</option>');
                },
            });
        };
        var listaCanton = function(id){
            var peticion;
            if (peticion && peticion.readyState != 4) {
                peticion.abort();
            }
            peticion = $.ajax({
                type: 'get',
                url: Routing.generate('sie_alt_clistarcantones', {'muni': id}),
                beforeSend: function () {
                    $('#form_canton').empty();
                    $("#form_canton").append('<option value="">Cargando Datos..</option>');
                    $('#form_localidad').empty();
                    $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');
                },
                success: function (data) {
                    if (data.lista == '') {                 
                        $('#form_canton').empty();
                        $("#form_canton").append('<option value="">Seleccionar Cantón</option>');       
                    } else {
                        $('#form_canton').empty();
                        $("#form_canton").append('<option value="">Seleccionar Cantón</option>');
                        $.each(data.listacantones, function (i, value) {
                            $("#form_canton").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                },
                error: function(xhr) {
                    $('#form_canton').empty();
                    $("#form_canton").append('<option value="">Seleccionar Cantón</option>');
                },
            });
        };
        var listaLocalidad = function(id){
            var peticion;
            if (peticion && peticion.readyState != 4) {
                peticion.abort();
            }
            peticion = $.ajax({
                type: 'get',
                url: Routing.generate('sie_alt_clistarlocalidades', {'cantn': id}),
                beforeSend: function () {
                    $('#form_localidad').empty();
                    $("#form_localidad").append('<option value="">Cargando Datos..</option>');
                },
                success: function (data) {
                    if (data.lista == '') {             
                        $('#form_localidad').empty();
                        $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');           
                    } else {
                        $('#form_localidad').empty();
                        $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');
                        $.each(data.listalocalidades, function (i, value) {
                            $("#form_localidad").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                },
                error: function(xhr) {
                    $('#form_localidad').empty();
                    $("#form_localidad").append('<option value="">Seleccionar Localidad</option>');
                },
            });
        };      
    </script>
{% endblock %} 