{#{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}#}
        <table aria-readonly="true" class="table" data-container="true" data-preserve="shallow" role="grid">
            <thead>
                <tr>
                    <th class="text-center border-right">No.</th>
                    <th>Departamento</th>
                    <th>Código de distrito</th>            
                    <th>Cod. Cea</th>            
                    <th>CEA</th>
                </tr>
            </thead>
            <tbody>
                {% for reg in entities %}
                    <tr>
                        <td class="text-center border-right">{{ loop.index }}</td>
                        <td>                            
                            <span>{{ reg.lugar }}</span>
                        </td>
                        <td>{{ reg.distrito_cod }}</td>
                        <td>{{ reg.ieue }}</td>
                        <td>{{ reg.institucioneducativa }}</td>    
                    </tr>
                {% endfor %}
            </tbody>
        </table>              
{#{% endblock %}    #}             

{#{% block javascripts %}   
    {{parent()}}#}
    <script>
        $(document).ready( function(){
            $(".tooltips").tooltip();
        });

        function verificarRegularizacion(){
            var myText = '¡AVISO IMPORTANTE LEA CON ATENCIÓN!\nLa habilitación de regularización permitira al director modificar datos\ny se registrara fecha y usuario de inicio de regularización\n¿Esta seguro de conceder este acceso?\nSi no esta seguro de este mensaje presione CANCELAR.';
            if(!confirm(myText)){
                return false;
            }
        };
    </script>    
{#{% endblock %}   #}   

    

