{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption%}

    <div class="header-content">
        <h2><i class="fa fa-th-large"></i> Lista de Centros de Educación Alternativa en su jurisdicción. <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>
                    Gestión
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="glyphicon glyphicon-cog"></i>
                    Operativos
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    Panel de control de operativos
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>
    <div class="col-md-12">
        <div class="panel panel-success rounded shadow">
            <div class="panel-heading">
                <h3>Panel de control de operativos por CEA.</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">Por esta interfaz los tecnicos <code>SIE</code> pueden verificar el estado del operativo de cada centro.</p>
                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } )}}
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <div class="col-md-5">
                                        {{ form_label(form.gestion)}}
                                    </div>
                                    <div class="col-md-3">
                                        {{form_widget(form.gestion) }}
                                    </div>
                                </div>
                                {% if rol == 8 %}
                                <div class="form-group col-md-3">
                                    <div class="col-md-5">
                                        {{ form_label(form.departamento)}}
                                    </div>
                                    <div class="col-md-5">
                                        {{form_widget(form.departamento) }}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group col-md-3">  
                                    <div class="col-md-6">                                      
                                        {{ form_widget(form.buscar ) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{form_end(form)}}
                        {{form_start(form_exp)}}
                <div class="panel-heading" id="exportar1" style= "display:none">
                    <div class="pull-right">
                        {{ form_widget(form_exp.pdf1 ) }}
                        {{ form_widget(form_exp.xlsx1) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{form_end(form_exp)}}
                        <div class="row">
                            <div class="col-md-12">
                                <div id="tabla"></div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div><!-- /.modal -->    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function(){
            $(".tooltips").tooltip();
        });

        function verificarRegularizacion(){
            var myText = '¡AVISO IMPORTANTE! ¡LEA CON ATENCIÓN!\nLa habilitación de regularización permitira al director modificar datos del ultimo operativo realizado por el CEA,\nSe le comunica que se registrara el usuario y fecha de esta autorización.\n¿Esta seguro de conceder este acceso?\nSi no esta seguro de este mensaje presione CANCELAR.';
            if(!confirm(myText)){
                return false;
            }
        };

        function verificarSiguienteOperativo(){
            var myText = '¡AVISO IMPORTANTE! !LEA CON ATENCIÓN!\nLa habilitación del siguiente operativo cerrara toda regularización para el CEA,\ny solo los tec SIE podran realizar ediciones futuras segun normativa vigente.\nSe le comunica que se registrara el usuario y fecha de esta autorización.\n¿Esta seguro de habilitar el siguiente operativo para este centro?\nSi no esta seguro de este mensaje presione CANCELAR.';
            if(!confirm(myText)){
                return false;
            }
        };
    
        function buscarceaspendientes(){
            //alert('{{rol}}');
            if('{{rol}}'== 8)
            {
                var formData = {gestion: $('#form_gestion').val(),departamento: $('#form_departamento').val(),rol: '{{ rol }}', id_usuario: '{{ id_usuario }}'};    
            }else{
                var formData = {gestion: $('#form_gestion').val(),rol: '{{ rol }}',id_usuario: '{{ id_usuario }}'};
            }
            $.ajax({
                type: 'get',
                url: "{{path('sie_alt_ges_sub_sem_panel_operativos_lista')}}",
                data: formData,
                beforeSend: function (){
                    $('#tabla').empty();
                    $("#tabla").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $('#tabla').empty();
                    $('#tabla').append(data);
                    $('#form_rol').val('{{rol}}');
                    $('#form_id_usuario').val('{{id_usuario}}');
                    $('#form_gestion1').val($('#form_gestion').val());
                    $('#form_departamento1').val($('#form_departamento').val());
                    $('#exportar1').css('display', 'block');

                     $( document ).ready(function() {
                    cargatablas();
            });

                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        }
        $('#form_pdf1').click(function(){
            //alert('entra');
            $('#form_tipo').val('pdf');
        });
        
        $('#form_xlsx1').click(function(){
            $('#form_tipo').val('xlsx');
        });
        /*function exportar(tipo)
        {
            //alert(tipo);
            if('{{rol}}'== 8)
            {
                var formData = {tipo: tipo, gestion: $('#form_gestion').val(),departamento: $('#form_departamento').val(),rol: '{{ rol }}', id_usuario: '{{ id_usuario }}'};    
            }else{
                var formData = {tipo: tipo, gestion: $('#form_gestion').val(),rol: '{{ rol }}',id_usuario: '{{ id_usuario }}'};
            }
            $.ajax({
                type: 'get',
                url: "{{path('sie_alt_lista_operativos')}}",
                data: formData,
                success: function (data) {
                    
                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        }*/
           
            var cargatablas = function (identif){
                // Setup - add a text input to each footer cell
                $('#listaConsol tfoot th').each( function () {
                    var title = $(this).text();
                    if(title.trim() === "" || title === "No."){
                        $(this).html('');
                    } else {
                        $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                    }
                } );

                // DataTable
                var table = $('#listaConsol').DataTable( {
                        "order": [[ 0, "asc" ]],
                        "columnDefs": [
                            { "orderable": false}
//                            { "orderable": false, "targets": [9] }
                        ],
                    }
                );

                // Apply the search
                table.columns().every( function () {
                    var that = this;

                    $( 'input', this.footer() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
            };

        function verObservaciones(ie,suc,gestion,periodo,periodo_estado){
            var formData = {ie:ie,suc:suc,gestion:gestion,periodo:periodo,periodo_estado:periodo_estado};
            $.ajax({
                type: 'get',
                url: "{{path('sie_alt_ges_sub_sem_panel_operativos_observaciones')}}",
                data: formData,
                beforeSend: function () {
                    $('#modal').empty();
                    $('#modal').append('<div style="text-align:center">Cargando datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                    cargatablas1();
                },
            });
        }
    </script>

{% endblock %}