{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-th-large"></i> Menu Principal <span>Seleccione la categoria que desea gestionar.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                    <li>
                        <i class="glyphicon glyphicon-leaf"></i>
                            <a href="{{path('principal_web')}}">Bienvenida/o</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <i class="fa fa-th-large"></i>
                            Menu Principal
                        <i class="fa fa-angle-right"></i>
                    </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>

    {% if (app.session.get('ie_per_estado') != '-1') %}
        {#<div class="body-content animated fadeIn">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                   
                    <div class="panel panel-success rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-university fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <a href="{{path('herramienta_ceducativa_index')}}"><i class="fa fa-gear"></i> <span class="text-blue">Centro de Educación Alternativa</span></a>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                   
                    <div class="panel panel-danger rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-user-secret fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <a href="{{path('herramientalt_info_personal_adm_index')}}"><i class="fa fa-gear"></i> <span class="text-blue">Personal Administrativo</span></a>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    
                    <div class="panel panel-teal rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-users fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <a href="{{path('herramientalt_info_maestro_index')}}"><i class="fa fa-gear"></i> <span class="text-blue">Personal Docente</span></a>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    
                    <div class="panel panel-primary rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-child fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <a href="{{path('herramienta_alter_cursos_index')}}"><i class="fa fa-gear"></i> <span class="text-blue">Información Estudiante</span></a>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    
                </div>
            </div><!-- /.row -->
            <div class="row">                
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-warning rounded shadow">
                        <div class="panel-heading text-center">
                            <p class="inner-all no-margin">
                                <i class="fa fa-language fa-5x"></i>
                            </p>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <a href="{{path('herramienta_alter_malla_tecnica_index')}}"><i class="fa fa-gear"></i> <span class="text-blue">Malla Curricular</span></a>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div>
                
                {% if (app.session.get('roluser') == 9) %}
                    {% if (app.session.get('ie_per_estado') != '0') %}
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="panel panel-lilac rounded shadow">
                                <div class="panel-heading text-center">
                                    <p class="inner-all no-margin">
                                        <i class="fa fa-times-circle-o fa-5x"></i>
                                    </p>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body text-center">
                                    {% if (app.session.get('ie_gestion') < '2010') %}
                                        <form action="{{path('herramienta_alter_reporte_observacionesoperativo')}}">
                                            <button type="submit" class="btn-link"><i class="fa fa-gear"></i> <span class="text-blue">Generar archivo de inconsistencias de información del periodo.</span></button>
                                        </form>
                                    {% else %}
                                        {% if (app.session.get('ie_per_estado') == '0') %}                                        
                                            <form action="{{path('herramienta_alter_reporte_observacionesoperativo')}}">
                                                <button type="submit" class="btn-link"><i class="fa fa-gear"></i> <span class="text-blue">Generar archivo de inconsistencias de información del periodo.</span></button>
                                            </form>
                                        {% elseif ((app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '2') or (app.session.get('ie_per_estado') == '3')) %}
                                            <form action="{{path('herramienta_ceducativa_cerrar_operativo')}}" onsubmit="return verificarCerrado();">
                                                <button type="submit" class="btn-link"><i class="fa fa-gear"></i> <span class="text-blue">Cerrar Operativo</span></button>
                                            </form>
                                        {% endif %}
                                    {% endif %}                                                                        
                            </div>
                        </div>
                    {% else %}            
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="panel panel-body rounded shadow">
                                <div class="panel-heading text-center">
                                    <p class="inner-all no-margin">
                                        <i class="fa fa-check-circle-o fa-5x"></i>
                                    </p>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body text-center">                                                           
                                    <form action="{{path('herramienta_alter_reporte_observacionesoperativo')}}">
                                        <button type="submit" class="btn-link"><i class="fa fa-gear"></i> <span class="text-blue">Generar archivo de inconsistencias de información del periodo.</span></button>
                                    </form>
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    {% endif %}
                {% else %}  
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="panel panel-body rounded shadow">
                            <div class="panel-heading text-center">
                                <p class="inner-all no-margin">
                                    <i class="fa fa-check-circle-o fa-5x"></i>
                                </p>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body text-center">                                                           
                                <form action="{{path('herramienta_alter_reporte_observacionesoperativo')}}">
                                    <button type="submit" class="btn-link"><i class="fa fa-gear"></i> <span class="text-blue">Generar archivo de inconsistencias de información del periodo.</span></button>
                                </form>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                {% endif %}    
                </div>
            </div>#}



        <div class="body-content animated fadeIn">
        {% if estadoOperativo is defined and estadoOperativo == true %}
            <div class="alert alert-danger ">
                <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender text-danger"><strong>{{app.session.get('ie_operativo')}}</strong></li>
                    </ul>
                    <p>
                        <a href="{{path(rutaObservaciones)}}">Ver lista de observaciones</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if estadoOperativo is defined and estadoOperativo == false and rutaObservaciones %}
            <div class="alert alert-info ">
                <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender text-info"><strong>{{rutaObservaciones}}</strong></li>
                    </ul>
                    <p>
                        Puede <strong>GENERAR SU ACTA DE CIERRE DE OPERATIVO</strong>
                    </p>
                </div>
            </div>
        {% endif %}
        <hr>
        <div id="js-grid-masonry-projects" class="cbp cbp-l-grid-masonry-projects cbp-caption-active cbp-caption-zoom cbp-ready row" style="margin-top: -20px; height: 857px;"><div class="cbp-wrapper-outer"><div class="cbp-wrapper">


            <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="headerOptions" style="height:20px; background:#77BB3A"></div>
                        <img src="{{asset('img/unidad-educativa300.jpg')}}" alt="...">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                {# action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" #}
                                <form action="{{path('herramienta_ceducativa_index')}}" method="post" style="display:inline-block"> 
                                    <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                </form>
                                <br>
                                <span style="color:#FFFFFF">Información del centro de educación alternativa, datos de jurisdicción geografica, datos del director, impresión de reportes, etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow"><span class="text-blue">CENTRO DE EDUCACIÓN ALTERNATIVA</span></div>
                <div class="cbp-l-grid-masonry-projects-desc"></div>
            </div><br></div>
 

            <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="headerOptions" style="height:20px; background:#E63E2B"></div>
                        <img src="{{asset('img/administrativo300Alter.jpg')}}" alt="...">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body"><br>
                                <form action="{{path('herramientalt_info_personal_adm_index')}}" method="post" style="display:inline-block"> 
                                    <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                </form>
                                <br>
                                <span style="color:#FFFFFF">Administración de personal administrativo, selección del director vigente, cargos, etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">PERSONAL ADMINISTRATIVO</div>
                <div class="cbp-l-grid-masonry-projects-desc"></div>
            </div><br></div>

            
            <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="headerOptions" style="height:20px; background:#22B389"></div>
                        <img src="{{asset('img/maestros300Alter.jpg')}}" alt="...">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body"><br>
                                <form action="{{path('herramientalt_info_maestro_index')}}" method="post" style="display:inline-block"> 
                                    <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                </form>
                                <br>
                                <span style="color:#FFFFFF">Administración de personal maestro, selección de los maestros vigentes, datos de estudios, etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">PERSONAL DOCENTE</div>
                <div class="cbp-l-grid-masonry-projects-desc"></div>
            </div><br></div>


            <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="headerOptions" style="height:20px; background:#00A0DC"></div>
                        <img src="{{asset('img/estudiantes300Alter.jpg')}}" alt="...">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body"><br>
                                <form action="{{path('herramienta_alter_cursos_index')}}" method="post" style="display:inline-block">
                                    <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                </form>
                                <br>
                                <span style="color:#FFFFFF">Inscripción de alumnos, notas, toma de materias, impresión de centralizador, cursos, asignación de Maestro-Area, etc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">INFORMACIÓN ESTUDIANTE</div>
                <div class="cbp-l-grid-masonry-projects-desc"></div>
            </div><br></div>

            
              <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                  <div class="cbp-caption">
                      <div class="cbp-caption-defaultWrap">
                          <div class="headerOptions" style="height:20px; background:#e4981d"></div>
                          <img src="{{asset('img/malla.jpg')}}" alt="...">
                      </div>
                      <div class="cbp-caption-activeWrap">
                          <div class="cbp-l-caption-alignCenter">
                              <div class="cbp-l-caption-body">
                                 <br>
                                    <form action="{{path('herramienta_alter_malla_tecnica_index')}}" method="post" style="display:inline-block"> 
                                        <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                    </form>
                                    <br>
                                  <span style="color:#FFFFFF">Carreras, acreditación, modulos, cargar horaria, etc.</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">MALLA CURRICULAR</div>
                  <div class="cbp-l-grid-masonry-projects-desc"></div>
              </div><br></div>


            {#% if (app.session.get('roluser') == 9 or app.session.get('roluser') == 8)   %#}  
            {#% if (app.session.get('roluser') == 8)   %#} 
             {% if (app.session.get('ie_id') == 82480031) or (app.session.get('ie_id') == 62460036)  %}
               {% if (app.session.get('ie_gestion') == 2024 and app.session.get('ie_per_cod') == 2) %} 
                <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <div class="headerOptions" style="height:20px; background:#e4981d"></div>
                            <img src="{{asset('img/logo_censo_bolivia_2024_50.jpg')}}" alt="...">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <br>
                                        <form action="{{path('beneficiarios_index')}}" method="post" style="display:inline-block"> 
                                            <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                        </form>
                                        <br>
                                    <span style="color:#FFFFFF">Asignacion y Regularizacion del Beneficio a los Estudiantes </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">OPERATIVO CENSO</div>
                    <div class="cbp-l-grid-masonry-projects-desc"></div>
                </div><br></div>

               {% endif %}
            
            {% endif %}



            {# <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <div class="headerOptions" style="height:20px; background:#22B389"></div>
                        <img src="{{asset('img/operativo-salud300.jpg')}}" alt="...">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body"><br>
                                <form action="{{path('herramienta_info_personalAdm_maestro_index')}}" method="post" style="display:inline-block"> <input type="hidden" id="form_gestion" name="form[gestion]" value="{{app.session.get('ie_gestion')}}">
                                 <input type="hidden" id="form_sie" name="form[sie]" value="{{app.session.get('ie_id')}}">
                                    <button class="btn btn-inverse btn-stroke">INGRESAR</button>
                                </form>
                                <br>
                                <span style="color:#FFFFFF">Operativo Salud</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Operativo Salud</div>
                <div class="cbp-l-grid-masonry-projects-desc"></div>
            </div><br></div> #}



            {% if (app.session.get('roluser') == 9) %} {#SOLO EL DIRECTOR PUEDE CERRAR EL OPERATIVO#}
                {% if (app.session.get('ie_per_estado') == '0') %}  {#GENERA ACTA DE CIERRE UNA VES CERRADO EL OPERATIVO#}                                      
                    <div class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                        <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <div class="headerOptions" style="height:20px; background:#ffffff"></div>
                                    <img src="{{asset('img/administrativo300.jpg')}}" alt="...">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <br>
                                                <form action="{{path('herramienta_alter_reporte_operativo_exitoso_cerrado')}}" method="post" style="display:inline-block"> 
                                                    <button class="btn btn-inverse btn-stroke">GENERAR</button>
                                                </form>
                                                <br>
                                            <span style="color:#FFFFFF">Genera el acta de cierre de operativo del periodo.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">GENERAR ACTA DE CIERRE DE OPERATIVO</div>
                        <div class="cbp-l-grid-masonry-projects-desc"></div>
                    </div><br></div>
                {% elseif ((app.session.get('ie_per_estado') == '1') or (app.session.get('ie_per_estado') == '2') or (app.session.get('ie_per_estado') == '3')) %}{#PARA OPERATIVO DE INCRIPCIONES NOTAS Y REGULARIZACION#}
                    {# <div id="BotonCerrar" class="col-lg-3 col-md-3 col-sm-6"><div class="cbp-item-wrapper">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <div class="headerOptions" style="height:20px; background:#7b0cde"></div>
                                <img src="{{asset('img/cerraralter.jpg')}}" alt="...">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <br>
                                            <form onsubmit="return verificarCerrado();" action="{{path('herramienta_ceducativa_cerrar_operativo')}}" method="post" style="display:inline-block" >
                                                <button class="btn btn-inverse btn-stroke">CERRAR OPERATIVO</button>
                                            </form>
                                            <br>
                                        <span style="color:#FFFFFF">Cierra el operativo actual, dando de esta manera por concluido la declaración de la información educativa solicitada. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">CERRAR OPERATIVO</div>
                        <div class="cbp-l-grid-masonry-projects-desc"></div>
                    </div><br></div> ----- TEMP V1#}
                {% endif %}
            {% endif %}

          <div class="col-lg-6 col-md-6 col-sm-6" >
          <div class="cbp-item-wrapper">
            <div id="answerClose" style="overflow: scroll; height:500px">  </div>
          </div>
          </div>
      </div>
      </div>
    </div>
    {% endif %}            
    <!--/ End body content -->
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>

    console.log('GESTION: ', gestion);


    function verificarCerrado(){
        var myText = '¡AVISO IMPORTANTE LEA CON ATENCIÓN!\nUna ves cerrado el operativo cualquier modificación\ndeberá ser a través de su técnico de distrito.\nSi no esta seguro de este mensaje presione CANCELAR.';
        if(!confirm(myText)){
            return false;
        }else{
            $('#BotonCerrar').hide();
        }
    }
    </script>
{% endblock %}
