{% extends 'layoutHerramientaAlternativa.html.twig' %}
{% block contentoption %}
     <div class="header-content">
        <h2><i class="fa fa-th-large"></i>{% if  app.session.get('roluser')== 9 or app.session.get('roluser')== 10 %}Gestionar C.E.A. {% else %} Seleccionar CEA:{% endif %} <span>panel de busqueda de acuerdo a las siguientes opciones</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
               <li>
                    <i class="glyphicon glyphicon-leaf"></i>
                    <a href="{{path('principal_web')}}">Bienvenida/o</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                {% if app.session.get('roluser')!= 10 %}
                <li>
                    <i class="fa fa-th-large"></i>
                    {% if  app.session.get('roluser')== 9 %}Gestionar C.E.A. {% else %} Seleccionar CEA{% endif %} 
                    <i class="fa fa-angle-right"></i>
                </li>
                {% endif %}
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>  
   <div class="row">
        {% for flashMessage in app.session.flashbag.get('notfound') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('errorMsg') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('successMsg') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                    </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="body-content animated fadeIn">
            <!-- Start inline form -->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="pull-left">
                        {% if app.session.get('roluser') == 9 or app.session.get('roluser') == 10 %}
                            <p><h3>Panel de selección:<span> Gestión, Sub CEA, Semestre del CEA</span></h3></p>
                            <p><h4>Por esta interfaz los usuarios del <code>Siged Alternativa</code> pueden seleccionar una gestión, sub centro y semestre para ver o reportar datos.</h4></p>
                        {% else %}
                            <h3 class="panel-title">Selección de CEA: <code>Introduzca el código SIE, </code> y/o las opciones de Gestion y/o SubCentro y/o Semestre, del centro que desea gestionar.</h3>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="panel">
                    <div class="panel-body">
                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form', 'id': 'form_cea'} } )}}
                        <div class="row">
                            <div class="form-group col-md-3" {% if app.session.get('roluser') == 9 or app.session.get('roluser') == 2 or app.session.get('roluser') == 10 %} style="display:none"{% else %}style="display:block"{% endif %}>
                                <div class="col-md-4">
                                    {{ form_label(form.codsie)}}
                                </div>
                                <div class="col-md-7">
                                    {{form_widget(form.codsie,{'attr':{'oninput':'gestion(this.value)'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="col-md-5">
                                    {{ form_label(form.gestion)}}
                                </div>
                                <div class="col-md-7">
                                    {{form_widget(form.gestion,{'attr':{'onchange':'subcea(this.value)'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="col-md-5">
                                    {{ form_label(form.subcea)}}
                                </div>
                                <div class="col-md-7">
                                    {{form_widget(form.subcea,{'attr':{'onchange':'semestre(this.value)'}}) }}
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="col-md-3">
                                    {{ form_label(form.semestre)}}
                                </div>
                                <div class="col-md-8">
                                    {{form_widget(form.semestre) }}
                                </div>
                            </div>
                            <div class="form-group col-md-2"> 
                                <div class="col-md-12">
                                    {{ form_widget(form.buscar ) }}
                                </div>
                            </div>
                        </div>
                        {{form_end(form)}}
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                    {#<form action="{{path('herramienta_ceducativa_buscar_cea')}}" method="post" style="display:inline-block">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="sr-only" for="Inputcodsie">Codigo SIE</label>
                                <input type="text" class="form-control" name="form[Inputcodsie]" id="form_Inputcodsie" placeholder="Cod. SIE">
                            </div><!-- /.form-group -->                            
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div><!-- /.form-body -->
                    </form>#}
                <div id="lista">
                </div>    
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End inline form -->
        </div>
    </div>
    
{% endblock %}   
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            if("{{app.session.get('roluser')}}" == 9 || "{{app.session.get('roluser')}}" == 10 || "{{app.session.get('roluser')}}" == 2){
                buscarhistorial();
            }
        });
        
        function buscarhistorial()
        {
            //alert('entra');
            var formData = $('#form_cea').serialize();
            $.ajax({
                type: 'get',
                url: "{{path('herramienta_ceducativa_buscar_cea')}}",
                data: formData,
                beforeSend: function (){
                    $('#lista').empty();
                    $("#lista").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    if (data.msg){
                        $('#lista').empty();
                        $('#lista').append('<div class="alert alert-warning alert-dismissible" role="alert">'+
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                        '<strong><i class="fa fa-linux"></i></strong>'+data.msg+'</div>');
                    }else{
                        $('#lista').empty();
                        $('#lista').append(data);
                        $( document ).ready(function() {
                            $(".tooltips").tooltip();
                            cargatablas();
                        });
                    }
                },
                statusCode: {
                    500: function () {
                    },
                    404: function () {
                    }
                }
            });
        }
  
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#tabla tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "No."){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );

        // DataTable
        var table = $('#tabla').DataTable( {
            "order": [[ 0, "asc" ]],
            "columnDefs": [
                { "orderable": false, "targets": [0] }
                ],
            }
        );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };
        function gestion(id_cea)
        {
            var codigo = $('#form_codsie').val();
            if(codigo.length >= 8){
                //alert(id_cea);
                var formData = {id_cea: id_cea};
                $.ajax({
                    type: 'get',
                    url: "{{path('herramientalt_ceducativa_lista_gestion')}}",
                    data: formData,
                    beforeSend: function () {
                        $("#form_gestion").empty();
                        $("#form_gestion").append('<option value="">Buscando...</option>');
                        $("#form_subcea").empty();
                        $("#form_subcea").append('<option value="">Buscando...</option>');
                    },
                    success: function (data) {
                        $("#form_gestion").empty();
                        $("#form_gestion").append('<option value="">Todos</option>');
                        $("#form_subcea").empty();
                        $("#form_subcea").append('<option value="">Todos</option>');
                        var gestionesArray = [];
                        $.each(data.gestion, function (i, value) {
                            gestionesArray.push({ key: i, value: value });
                        });
                        gestionesArray.sort(function(a, b) {
                            return b.key - a.key;// Asume que 'key' contiene valores numéricos
                        });
                        $.each(gestionesArray, function (index, item) {
                            $("#form_gestion").append('<option value="' + item.key + '">' + item.value + '</option>');
                        });
                        // $.each(data.gestion, function (i, value) {
                        //     $("#form_gestion").append('<option value="' + i + '">' + value + '</option>');
                        // });
                        $.each(data.subcea, function (i, value) {
                            $("#form_subcea").append('<option value="' + i + '">' + value + '</option>');
                        });
                    }
                });
                $('#form_buscar').removeAttr('disabled');
            }else{
                $("#form_gestion").empty();
                $("#form_gestion").append('<option value="">Todas</option>');
                $("#form_subcea").empty();
                $("#form_subcea").append('<option value="">Todas</option>');

                $('#form_buscar').attr('disabled','disabled');
            }
        }

        function subcea(gestion)
        {
            //alert($('#form_codsie').val());
            //alert('hola');
            var formData = {id_cea: $('#form_codsie').val(), gestion: gestion};
            $.ajax({
                type: 'get',
                url: "{{path('herramientalt_ceducativa_lista_subcea')}}",
                data: formData,
                beforeSend: function () {
                    $("#form_subcea").empty();
                    $("#form_subcea").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_subcea").empty();
                    $("#form_subcea").append('<option value="">Todos</option>');
                    $.each(data.subcea, function (i, value) {
                        $("#form_subcea").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
            
        }
        $(function(){
            $(".validar").keydown(function(event){
            //alert(event.keyCode);
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });
    </script>
{% endblock %} 