<div class="table-responsive col-md-12">
                            <table class="table table-bordered table-striped" id="listaConsol">
                                <thead>
                                <tr>
                                    <th class="text-center" style="min-width:5px">No.</th>
                                    <th>Departamento</th>
                                    <th>Código de distrito</th>
                                    <th>Cod. Cea</th>
                                    <th>CEA</th>
                                    <th class="text-center" style="min-width:5px">Sub Cea</th>
                                    <th>Gestión</th>
                                    <th>Periodo</th>
                                    <th>Estado</th>
                                    <th class="text-center">Operativo</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th style="min-width:5px">No.</th>
                                    <th>Departamento</th>
                                    <th>Código de distrito</th>
                                    <th>Cod. Cea</th>
                                    <th>CEA</th>
                                    <th class="text-center" style="min-width:5px">Sub Cea</th>
                                    <th>Gestión</th>
                                    <th>Periodo</th>
                                    <th>Estado</th>
                                    <th class="text-center">Operativo</th>
                                </tr>
                                </tfoot>
                                <tbody>

                                {% for reg in entities %}
                                    <tr>
                                        <td class="text-center">{{ loop.index }}</td>
                                        <td>
                                            {#<img class="img-circle img-bordered-theme" alt="..." src="../../../img/avatar/35/2.png">#}
                                            <span>{{ reg.departamento }}</span>
                                        </td>
                                        <td>{{ reg.codigo }}</td>
                                        <td>{{ reg.id }}</td>
                                        <td>{{ reg.institucioneducativa }}</td>
                                        <td class="text-center">{{ reg.sucursal_tipo_id }}</td>
                                        <td class="text-center">{{ reg.gestion_tipo_id }}</td>
                                        <td>{{ reg.periodo_tipo }}</td>
                                        {#<td>{{ reg.nombre }} {{ reg.paterno }} {{ reg.materno }}</td>#}
                                        <td>{{ reg.tramite_estado }}</td>
                                        <td class="text-center">
                                            {% if (reg.gestion_tipo_id <= '2017') %}
                                                <button type="submit" class="btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                    <i class="fa fa-hand-paper-o"></i>
                                                    Operativo Cerrado
                                                </button>
                                            {% else %}
                                                {% if reg.operativo_clave == 1 %}
                                                    <button class="btn-danger btn-stroke tooltips" data-toggle="modal" data-target="#modal" data-placement="top" data-original-title="ver observaciones" onclick="verObservaciones({{reg.id}},{{reg.sucursal_tipo_id}},{{reg.gestion_tipo_id}},{{reg.periodo_tipo_id}},{{reg.periodo_estado_id}})">
                                                        <i class="fa fa-hand-paper-o"></i>
                                                        {{reg.operativo_estado}}{% if reg.fecha_fin %} Venció el {{reg.fecha_fin|date('d-m-Y')}}{% endif %}, haga Clic para ver observaciones
                                                    </button>
                                                {% else %}
                                                    {% if reg.te_id in [12,9]  %}
                                                        <button type="submit" class="btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                            <i class="fa fa-hand-paper-o"></i>
                                                            {{reg.tramite_tipo}}
                                                        </button>
                                                    {% elseif  reg.te_id in [10,8,14] %}
                                                        <button type="submit" class="btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                            <i class="fa fa-hand-paper-o"></i>
                                                            {{reg.tramite_tipo}}
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn-warning btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                            <i class="fa fa-hand-paper-o"></i>
                                                            {{reg.tramite_tipo}}
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>