<div class="table-responsive col-md-12">
                            <table class="table table-bordered table-striped" id="listaConsol">
                                <thead>
                                <tr>
                                    <th class="text-center" style="min-width:5px">No.</th>
                                    <th>Departamento</th>
                                    <th>C贸digo de distrito</th>
                                    <th>Cod. Cea</th>
                                    <th>CEA</th>
                                    <th class="text-center" style="min-width:5px">Sub Cea</th>
                                    <th>Gesti贸n</th>
                                    <th>Periodo</th>
                                    <th>Estado</th>
                                    <th class="text-center">Operativos</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th style="min-width:5px">No.</th>
                                    <th>Departamento</th>
                                    <th>C贸digo de distrito</th>
                                    <th>Cod. Cea</th>
                                    <th>CEA</th>
                                    <th class="text-center" style="min-width:5px">Sub Cea</th>
                                    <th>Gesti贸n</th>
                                    <th>Periodo</th>
                                    <th>Estado</th>
                                    <th class="text-center"></th>
                                </tr>
                                </tfoot>
                                <tbody>

                                {% for reg in entities %}
                                    <tr>
                                        <td class="text-center">{{ loop.index }}</td>
                                        <td>
                                            {#<img class="img-circle img-bordered-theme" alt="..." src="../../../img/avatar/35/2.png">#}
                                            <span>{{ reg.lugar }}</span>
                                        </td>
                                        <td>{{ reg.distrito_cod }}</td>
                                        <td>{{ reg.ieid }}</td>
                                        <td>{{ reg.institucioneducativa }}</td>
                                        <td class="text-center">{{ reg.nombre_subcea }}</td>
                                        <td class="text-center">{{ reg.gestion_tipo_id }}</td>
                                        <td>{{ reg.semestre }}</td>
                                        {#<td>{{ reg.nombre }} {{ reg.paterno }} {{ reg.materno }}</td>#}
                                        <td>{{ reg.tramite_estado }}</td>
                                        <td class="text-center">
                                            {% if (reg.gestion_tipo_id <= '2017') %}
                                                <button type="submit" class="btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                    <i class="fa fa-hand-paper-o"></i>
                                                    Operativo Cerrado
                                                </button>
                                            {% else %}
                                                {% if reg.ttid == 5 %}
                                                    <button type="submit" class="btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                        <i class="fa fa-hand-paper-o"></i>
                                                        {{reg.tramite_tipo}}
                                                    </button>
                                                {% elseif  reg.ttid == 4 %}
                                                    <button type="submit" class="btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                        <i class="fa fa-hand-paper-o"></i>
                                                        {{reg.tramite_tipo}}
                                                    </button>
                                                {% else %}
                                                    <button type="submit" class="btn-warning btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="">
                                                        <i class="fa fa-hand-paper-o"></i>
                                                        {{reg.tramite_tipo}}
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>