{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

<div class="container">
	<div class="row">
	{# <h2>UNIDAD EDUCATIVA : </h2> #}
	<hr>
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading" style="text-align:center">
					<label><h1 align="center">MODIFICAR DATOS <span class="fa fa-pencil"></span></h1></label>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" action="{{path('guardar_editar_preinscripcion')}}" method="post">
					<input type="hidden" name="id" id="id" value="{{entity.id}}">
						<div class="form-group">
							<label class="control-label col-sm-3" >CODIGO SIE :</label>
							<div class="col-sm-6">
								<input type="text" value="{{entity.institucioneducativa.id}}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" >INSTITUCION UE:</label>
							<div class="col-sm-6">
								<input type="text" value="{{entity.institucioneducativa}}" class="form-control" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" >SELECCIONAR NIVEL :</label>
							<div class="col-sm-6">
								<input type="text" value="{{entity.nivelTipo.nivel}}" class="form-control" readonly>
								{# <select name="nivel_tipo_id" id="nivel_tipo_id" onchange="mostrar_grado(this.value,'{{entity.institucioneducativa.id}}')" class="form-control" required>
									<option></option>
									{% for obj1 in nivel_tipo%}
										<option value="{{obj1.nivel_tipo_id}}">{{obj1.nivel_tipo}}</option>
									{% endfor%}
								</select> #}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">SELECCIONAR GRADO :</label>
							<div class="col-sm-6">
								<input type="text" value="{{entity.gradoTipo.grado}}" class="form-control" readonly>
								{# <select name="idgrado" id="idgrado12" class="form-control" required>
									<option></option>
								</select> #}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">CUPO :</label>
							<div class="col-sm-6">
								<input type="text" maxlength="3" onkeypress="return valideKey(event);" name="cupo" value="{{entity.cantidadCupos}}" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">OBSERVACIONES :</label>
							<div class="col-sm-6">
								<textarea name="obj" class="form-control">{{entity.observacion}}</textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<button type="submit" class="btn btn-success btn-lg"><span class="fa fa-save"></span> GUARDAR</button>
								<a href="{{path('uealtademanda')}}" class="btn btn-success btn-lg" ><span class="fa fa-close"></span> CANCELAR</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function valideKey(evt){
  var code = (evt.which) ? evt.which : evt.keyCode;
  if(code==8) {  return true;
  } else if(code>=48 && code<=57) {  return true;
  } else{  return false;
  }
}
function mostrar_grado(nivel_tipo_id,id_sie){ //alert(idgestion)
	$("#idgrado12").val('');
	$.post('{{path('mostrar_grado_curso')}}', {nivel_tipo_id:nivel_tipo_id,id_sie:id_sie}, function(data) {
		// $("#idgrado12").empty();
        $.each(data.arrGrado, function (i, value) {
              $("#idgrado12").append('<option value="' + value.id_grado + '">' + value.grado + '</option>');
        });

	});
}
</script>
{% endblock %}
