
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ondrop="registrar()" ondragover="dragover(event)">
    <div class="panel rounded shadow panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Modalidad activas para la olimpiada
                <div class="pull-right">

                </div>
                <div class="clearfix"></div>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for activo in activos %}
                    <li class="list-group-item" draggable="true" ondragstart="beforeEliminar({{ activo.id }})" style="cursor:move">{{ activo.olimModalidadTipo.modalidad }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ondrop="eliminar()" ondragover="dragover(event)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modalidades <small>Disponibles</small> </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for faltante in faltantes %}
                    <li ondragstart="beforeRegistrar({{faltante.id}})" class="list-group-item" style="cursor:move" draggable="true">{{ faltante.modalidad }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="mensaje">
    {% if status == 200 %} <div class="alert alert-success alert-dismissible"> <i class="fa fa-check"></i> {% endif %}
    {% if status == 300 %} <div class="alert alert-warning alert-dismissible">  <i class="fa fa-warning"></i>{% endif %}
    {% if status == 500 %} <div class="alert alert-danger alert-dismissible"> <i class="fa fa-times"></i> {% endif %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ mensaje }}
    </div>
</div>