<div class="modal-dialog">
    <div class="modal-content">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {% if app.session.flashBag.has('exito') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('exito') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-danger">
                                {% for msg in app.session.flashBag.get('error') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}    
                        <div class="pull-left">
                            <h3 class="panel-title">TRÁMITE Nro. {{ idtramite }}</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
							<div class="form-group col-md-6">
								{{ form_label(form.informe) }}
								{{ form_widget(form.informe, {'attr':{'class':'form-control'} }) }}
							</div>
                            <div class="form-group col-md-6">
                                <div id='sandbox-container'>
                                {{ form_label(form.fechainforme) }}
								{{ form_widget(form.fechainforme, {'attr':{'class':'form-control','autocomplete':'off'} }) }}
                                </div>
							</div>
                         
                            <div class="col-md-12">
                            <div class="form-group col-md-12">
								{{ form_label(form.observacion) }}
								{{ form_widget(form.observacion, {'attr':{'class':'form-control'} }) }}
							</div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_label(form.guardar) }}
                                {{ form_widget(form.guardar, {'attr':{'class':'btn btn-primary'} }) }}
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                {#<a href="{{path('tramite_rue_informe_distrito')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>#}
							</div>
                        </div>    
        			    {{ form_end(form) }}
			        </div><!-- /.panel-body -->
                </div>
    </div>
</div>
 {% block javascripts %}

    <script>
        $('#sandbox-container input').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd-mm-yyyy',
            language: "es"
        });
    </script>
    {% endblock %}