{% extends 'layoutProcesos.html.twig' %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Tramite RUE<span>Recepción Distrito</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Trámite</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        {% if app.session.flashBag.has('exito') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('exito') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-danger">
                                {% for msg in app.session.flashBag.get('error') %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}    
                        <div class="pull-left">
                            <h3 class="panel-title">RECEPCIÓN DISTRITAL</h3>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('tramite_rue_recepcion_distrito_nuevo') }}" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Nuevo
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive col-md-12">
                            <table class="table table-bordered table-striped table-primary" id="recepDep">
                                <thead>
                                    <tr>
                                        <th class="text-center border-right" WIDTH="50">No. Tramite</th>
                                        <th>Cod. RUE</th>
                                        <th>Tipo de Trámite</th>
                                        <th>Fecha de Trámite</th>
                                        <th>Observación</th>
                                        <th>Usuario Recepción</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th class="text-center border-right">No. Tramite</th>
                                        <th>Cod. RUE</th>
                                        <th>Tipo de Trámite</th>
                                        <th>Fecha de Trámite</th>
                                        <th>Observación</th>
                                        <th>Usuario Recepción</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for tramite in tramites %}
                                    <tr>
                                        <td>{{ tramite.id }}</a></td>
                                        <td>{{ tramite.cod_sie }}</td>
                                        <td>{{ tramite.tramite_tipo }}</td>
                                        <td>{{ tramite.fecha_registro }}</a></td>
                                        <td>{{ tramite.obs }}</a></td>
                                        <td>{{ tramite.nombre }}</td>
                                        <td>{{ tramite.estado }}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="return confirm('¿Esta suguro de eliminar?')">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
			        </div><!-- /.panel-body -->
                </div>
            </div>
        </div>

    </div>
{% endblock %}
 {% block javascripts %}
    {{ parent() }} 
    <script>
        $('#form_buscar').click(function(){
            var formData = {idrue: $('#form_idrue').val()};
            $.ajax({
                type: 'GET',
                url: "{{path('tramite_rue_buscar_rue')}}",
                data: formData,
                success: function (data) {
                    $('#form_institucioneducativa').val(data.ie);
                    $("#form_dependencia").val(data.dep);
                    $("#form_tipoeducacion").val(data.tipo);
                    $("#form_estadoinstitucioneducativa").val(data.estado);
                    $("#form_departamento").val(data.departamento);
                    $("#form_distrito").val(data.distrito);
                },

            });

        });
        $( document ).ready(function() {
            cargatablas();
        });
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#recepDep tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "Acciones"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );
            // DataTable
            var table = $('#recepDep').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );
            // Apply the search
            table.columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };    
    </script>
    {% endblock %}