<div class="row">
    <div class="col-md-12">
        DATOS PERSONA:
        <div class="row show-grid">
            <div class="col-md-3">
                Paterno: {{objPerson.paterno}}
            </div>
            <div class="col-md-3">
                Materno: {{objPerson.materno}}
            </div>
            <div class="col-md-3">
                Nombre: {{objPerson.nombre}}
            </div>
            <div class="col-md-3">
                Nombre: {{objPerson.fechaNacimiento | date('d-m-Y')}}
            </div>
        </div>
    </div>
</div>
<br/>
<br/>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">

          <div class="table-responsive mb-20">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th class="text-center">Codigo</th>
                          <th>Instituto</th>
                          <th>Carrera</th>
                          <th >Gestión</th>
                          <th >Periodo</th>
                          <th>Turno</th>
                          <th>Código Asig.</th>
                          <th>Asignatura</th>
                          <th>Paralelo</th>
                          <th>Matrícula</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for data in objInscriptionHistory %}
                     <tr>
                          <td>{{data.institucioneducativa_id}}</td>
                          <td>{{data.institucioneducativa}}</td>
                          <td>{{data.nombre_carrera}}</td>
                          <td>{{data.pensum}}</td>
                          <td>{{data.gestiontipo}}</td>
                          <td>{{data.periodo}}</td>
                          <td>{{data.turno}}</td>
                          <td>{{data.codigo_materia}}</td>
                          <td>{{data.asignatura}}</td>
                          <td>{{data.paralelo}}</td>
                          <td>{{data.estadomatricula}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div><!-- /.panel-body -->
    </div>



  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <form method="POST" action="{{path('InscriptionDg_do_inscription_dg')}}" name="formInsc" id="formInsc" onsubmit="javascript:if(confirm('Esta seguro de realizar la inscripción? presione en OK para continuar')){return true;}else{return false;} ">
    <div class="table-responsive mb-20">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">GESTIÓN</th>
                    <th>PERIODO</th>
                    <th>CÓDIGO</th>
                    <th>MATERIA/ASIGNATURA</th>
                    <th >TURNO</th>
                    <th>PARALELO</th>
                    <th>OBSERVACIÓN</th>
                    <th>SELECCIONAR MATERIA/ASIGNATURA</th>
                </tr>
            </thead>
            <tbody>

                <input type="hidden" id="verificarReg_data" name="verificarReg[data]" value="{{data}}">
              {% for materias in objNextMaterias %}

                <tr>

                    <td>{{materias.gestion_tipo_id}}</td>
                    <td>{{materias.periodo}}</td>
                    <td>{{materias.codigo}}</td>
                    <td>{{materias.materia}}</td>
                    <td>{{materias.turno}}</td>
                    <td>{{materias.paralelo}}</td>
                    <td>
                        {% if materias.id_obs == 1 %}
                            <span class="text-success">{{materias.obs}}</span>
                        {% else %}
                            <span class="text-danger">{{materias.obs}}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if materias.id_obs == 1 %}
                            <input type="checkbox" id="verificarReg_{{materias.ttec_paralelo_materia_id}}" name="verificarReg[parmat][{{materias.ttec_paralelo_materia_id}}]" >
                        {% endif %}
                    </td>

                </tr>
              {% endfor %}

              <tr><td colspan="8"><div class="span4 pull-right"><input type="submit" class="btn btn-md btn-success" value="Registrar Inscripción"></div></td></tr>

            </tbody>
        </table>
    </div>
    </form>
  </div>

</div>
