{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Listado de Materias <span>Docente</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Listado de Materias</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Materias</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Carrera</th>
                                <th>Materia</th>
                                <th>Gestión</th>
                                <th>Turno</th>
                                <th>Paralelo</th>
                                <th align="center">Calificaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in materias %}
                                <tr>
                                    <td>{{m.ttecParaleloMateria.ttecMateriaTipo.ttecPensum.ttecDenominacionTituloProfesionalTipo.ttecCarreraTipo.nombre}}</td>
                                    <td>{{m.ttecParaleloMateria.ttecMateriaTipo.materia}}</td>
                                    <td>{{m.ttecParaleloMateria.gestionTipo.gestion}}</td>
                                    <td>{{m.ttecParaleloMateria.turnoTipo.turno}}</td>
                                    <td>{{m.ttecParaleloMateria.ttecParaleloTipo.paralelo}}</td>
                                    <td align="center">
                                        <form action="{{path('dgesttla_calificaciones_list_students')}}" method="post">
                                            <input type="hidden" name="paraleloMateriaId" value="{{m.ttecParaleloMateria.id}}">
                                            <button type="submit" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}