<div class="row">
  <div class="col-md-12 text-center">
    <h3 class="text-primary">Educación Especial</h3>
  </div>
</div>
<table class="table table-bordered table-hover table-striped cf">
  <thead class="cf">
    <tr class="info">
      <th class="text-center">Gestion</th>
      <th class="text-center">SIE</th>
      <th class="text-center">Centro</th>
      <th class="text-center">Área</th>
      <th class="text-center">Nivel</th>
      <th class="text-center">Grado</th>
      <th class="text-center">Paralelo</th>
      <th class="text-center">Turno</th>
      <th class="text-center">Técnico</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody role="alert" aria-live="polite" aria-relevant="all">
    {% for data in dataInscription %}
      <tr>
        <td>{{data.gestion_tipo_id_raep}}</td>
        <td>{{data.institucioneducativa_id_raep}}</td>
        <td>{{data.institucioneducativa_raep}}</td>
        <td>{{data.area_especial_e }} </td>
        <td>{{data.nivel_e}}</td>
        <td>{{data.grado_e}}</td>
        <td>{{data.paralelo_raep}} </td>
        <td>{{data.turno_raep}} </td>
        <td>{{data.tecnica_e}} </td>
        <td class="text-center">
          {#<a href="#" onclick="seeNotaNew('{{data.eiid}}', '{{data.eid}}', '{{data.nivel_tipo_id}}', '{{data.grado_tipo_id}}', '{{data.pid}}', '{{data.turno_tipo_id}}', '{{data.gestion_tipo_id}}', '{{data.institucioneducativa_id}}','{{data.estadomatricula_tipo_id}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>#}
          Calificaciones
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>