{% extends 'layoutEspecialSie.html.twig' %}
{% block contentoption %}
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Talento Extraordinario <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('talento_extraordinario_index')}}">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Nuevo</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">Cargar Informe</h3>
                            </div>
                            {#<div class="col-md-6 text-right">
                                <a href="{{path('talento_extraordinario_index')}}" class="btn btn-default"><i class="fa fa-angle-left"></i> Volver</a>
                            </div>#}
                        </div>
                    </div>
                    <div class="panel-body">
                        {#<div class="row">
                            <div class="col-md-12">
                                <form class="form-inline text-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input value="5198000720074678" type="text" class="form-control" id="rude" placeholder="Buscar por RUDE">
                                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="buscar" onclick="searchClick()">Buscar</button>
                                </form>
                            </div>
                        </div>#}
                        <div id="carga"></div>
                        <div class="row">
                            <form id="modifica" action="">
                                <div class="col-md-6">
                                    <input type="hidden" id="tramite_id" name="tramite_id" value="{{ tramite_id }}">
                                    <div class="form-group">
                                        <label for="es_talento">¿Es Talento?</label>
                                        <select type="text" class="form-control" id="es_talento" name="es_talento" disabled required>
                                            <option value="" disabled selected>Seleccione...</option>
                                            <option value="true">Si</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tipo_talento">Tipo de Talento</label>
                                        <select type="text" class="form-control" id="tipo_talento" name="tipo_talento" disabled required>
                                            <option value="" disabled selected>Seleccione...</option>
                                            <option value="general">General</option>
                                            <option value="especifica">Especifica</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="acelera">Puede Acelerar</label>
                                        <select type="text" class="form-control" id="acelera" name="acelera" disabled required>
                                            <option value="" disabled selected>Seleccione...</option>
                                            <option value="true">Si</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nro_informe">Número de Informe</label>
                                        <input type="text" class="form-control" id="nro_informe" name="nro_informe" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="informe">Documento Informe</label>
                                        <input type="file" class="form-control" id="informe" name="informe" accept=".pdf" required>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary" id="actualiza">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {#<script src="{{asset('js/jquery-ui.min.js')}}"></script>#}
    <script>
        $(document).ready(function() {
            $("#es_talento").prop("disabled", false);
            //$("#centro_inscripcion").select2();
        });
        $('.noedit').keydown(function() {
            //code to not allow any changes to be made to input field
            return false;
        });
        $("#es_talento").on('change', function () {
            if ($(this).val() == 'true') {
                $("#tipo_talento").prop("disabled", false);
                // $("#tipo_talento").prop('required', true);
            } else {
                $("#tipo_talento").prop("disabled", true);
                // $("#tipo_talento").prop('required', false);
            }
        });
        $("#tipo_talento").on('change', function () {
            if ($(this).val() == 'general') {
                $("#acelera").prop("disabled", false);
                $("#acelera").val('');
            } else {
                $("#acelera").prop("disabled", true);
                $("#acelera").val('false');
            }
        });

        function mesage(tipo, titulo, msg) {
            $("#carga").append('<div class="alert alert-'+ tipo +' alert-dismissible" role="alert">\n' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\n' +
                '<strong>'+ titulo +'</strong> '+ msg +' </div>');
            setTimeout(function () { $("#carga").empty(); }, 3500);
        }

        function clearInput() {
            $("#es_talento").val('');
            $("#tipo_talento").val('');
            $("#acelera").val('');
            $("#nro_informe").val('');
            $("#informe").val('');
        }

        $("#modifica").submit(function (event) {
            event.preventDefault();
            //$("#actualiza").attr('disabled', true);
            var fd = new FormData();
            fd.append('tramite_id', $("#tramite_id").val());
            fd.append('es_talento', $("#es_talento").val());
            fd.append('tipo_talento', $("#tipo_talento").val());
            fd.append('acelera', $("#acelera").val());
            fd.append('nro_informe', $("#nro_informe").val());
            var docinforme = document.getElementById('informe');
            fd.append('informe', docinforme.files[0]);
            $.ajax({
                type: 'post',
                url: Routing.generate('talento_extraordinario_update'),
                //url: "{ { path('solicitud_bth_guarda_Dep') }}",
                data: fd,
                mimeType:"multipart/form-data",
                contentType: false,
                cache: false,
                processData:false,
                /*beforeSend: function () {
                    $("#carga").empty();
                    $("#carga").append('<div class="text-center">Guardando datos</div>');
                },*/
                success: function (data) {
                    //$("#actualiza").attr('disabled', false);
                    // $("#carga").empty();
                    if (data.estado == 200) {
                        clearInput();
                        location.href = "{{ path('wf_tramite_recibido') }}";
                    } else {
                        mesage('error', 'Error', 'Error al guardar datos.');
                    }
                },
                error: function (error) {
                    //$("#actualiza").attr('disabled', false);
                }
            });
        });
    </script>
{% endblock %}


