<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="ceosdesigns.sk">
<title>CELULAR</title>
<link href="{{asset('img/logo-minedu.png')}}" rel="icon">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;display=swap" rel="stylesheet">
<link href="{{asset('webherramienta/assets/global/plugins/bower_components/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
<link href="{{asset('loginCel/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{asset('loginCel/css/styles.css')}}" rel="stylesheet">
<script type="text/javascript" src="{{asset('alert/lib/alertify.js')}}"></script>
<link rel="stylesheet" href="{{asset('alert/themes/alertify.core.css')}}" />
<link rel="stylesheet" href="{{asset('alert/themes/alertify.default.css')}}" />
<style type="text/css">
.fondo{
display: none;
padding: 5px;
margin: 5px 0px;
border: #35a0ab  4px double;
}
</style>
</head>
<body>
	<div id="nm-preloader" class="nm-aic nm-vh-md-100">
		<div class="nm-ripple">
			<div></div>
			<div></div>
		</div>
	</div>
	<main class="d-flex">
		<div class="container main-container">
			<div class="row nm-aic">
				<div class="col-md-6 col-lg-5 offset-lg-1 nm-mb-1 nm-mb-md-1">
					<div class="card">
						<div class="card-content">
							<img src="{{asset('img/logo-minedu.png')}}" alt="Logo Ministerio Educación" width="100%">
							<h2 class="nm-tc nm-mb-1">CONSULTA TU DATO</h2>
							<form method="post" id="verificarInfo">
								<div class="form-group">
									<label >CÓDIGO RUDE</label>
									<input class="form-control" type="text" name="codigo" maxlength="20" tabindex="1" placeholder="Ingresar codigo..." required>
								</div>	
								<div class="form-group">
									<label >FECHA NACIMIENTO</label>
									<input class="form-control" type="date" name="fecha" tabindex="2" placeholder="..." required>
								</div>
								<div class="fondo" id="ver_conte">
									<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>
								</div>
								<button type="submit" id="boton"  class="btn btn-block btn-primary text-uppercase nm-btn">BUSCAR DATOS</button>
								<a href="" class="btn btn-block btn-default">CANCELAR</a>

								<div class="divider nm-tc nm-mb-1 nm-mt-1 nm-mlr-1">
									<span class="divider-content">OR</span>
								</div>
								<!-- <p class="text-center mb-0">
									<a class="nm-ft-b" href="signup.html">BUSCAR DATOS</a>
								</p> -->
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-5 offset-lg-1">
					<h2 class="large">Ministerio de Educación</h2>
					<p class="subtitle">Contáctanos:</p>
					<ul class="list-unstyled mb-11">
						<li>
							<div class="list nm-aic">
								<div class="icon">=></div>
								<div class="content">
									<p>Avenida Arce Nro. 2147 - La Paz, Bolivia</p>
								</div>
							</div>
						</li>
						<li>
							<div class="list nm-aic">
								<div class="icon">=></div>
								<div class="content">
									<p>informacion@minedu.gob.bo</p>
								</div>
							</div>
						</li>
						<li>
							<div class="list nm-aic">
								<div class="icon">=></div>
								<div class="content">
									<p>Whatsapp (+591)71550970 - (+591)71530671</p>
								</div>
							</div>
						</li>
					</ul>
					<p class="text-left mb-0 ">
						<a href="https://www.minedu.gob.bo/" target="_black" class="btn btn-link text-center">Ministerio de Educación</a>
					</p>
				</div>
			</div>
		</div>
	</main>
<script src="{{asset('loginCel/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{asset('loginCel/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('loginCel/js/script.js')}}"></script>
<script type="text/javascript">
document.oncontextmenu = function(){return false}
function valideKey(evt){
	var code = (evt.which) ? evt.which : evt.keyCode;
	if(code==8) {   return true;
	} else if(code>=48 && code<=57) { // is a number.
	  validar_nro()
	  return true;
	} else{  return false;
	}
}
function validar_nro(){
	var n=$("#number").val();
	$("#error_validar_nro").html('');
	if(n.length==8){
		$("#error_validar_nro").html('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
		$.post('{{path('validar_nro')}}', {n:n}, function(d) {
			var valores = eval(d);
		  	if (valores['0']==0) {
		    	$("#error_validar_nro").html("<b style='color: #ff0000;'>Numero no valido</b>");
		  	}else{
		  	  	$("#error_validar_nro").html('<b style="color: #008000;">Numero valido</b><button type="button" id="ver" onclick="guadarDatos()" class="btn btn-block btn-success btn-lg">GUARDAR DATOS</button>');
		  	}
		});
	}
}
$("#verificarInfo").submit(function(event) {
	event.preventDefault();
	document.getElementById("ver_conte").style.display = "block";
	$("#ver_conte").html('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
	$.ajax({
	    url:'{{path('verificarInfo')}}',
	    type:'POST',
	    data:$("form").serialize(),
	    success:function(d){
	    	var valores = eval(d);
		  	if (valores['nombre']==0) {
		  		document.getElementById('boton').disabled=false;
		    	$("#ver_conte").html("<b style='color: #ff0000;'>INFORMACIÓN NO EXISTENTE</b>");
		  	}else{
		  		document.getElementById('boton').disabled=true;
		  		document.getElementById("boton").style.display = "none";
		  	  	$("#ver_conte").html('<div class="form-group"><b >Hola ('+valores['nombre']+')</b><br><label >NUMERO DE CELULAR</label><input class="form-control" name="number"  onkeyup="validar_nro()" id="number" type="text" maxlength="8" placeholder="..." onkeypress="return valideKey(event);" ><input type="hidden" id="token" value="'+valores['token']+'"></div><div style="text-align:center" id="error_validar_nro">  </div>	');
		  	}
	    }
	});
});
function guadarDatos(){
	var n=$("#number").val();
	var token=$("#token").val();
	alertify.confirm("<p>ESTA SEGURO QUE DESEA GUARDAR?<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
		if (e) {
			$.post('{{path('guadarDatos')}}', {n:n,token:token}, function(e) {
				var valores = eval(e);
			  	if (valores['0']==0) {
					alertify.success("Datos guardados...");
					window.location='';
			  	}else{
			  		alertify.error("YA EXISTE EL NRO.");
					alertify.alert("<b>EL NRO YA SE ENCUENTRA REGISTRADO ANTERIORMENTE</b>", function () {
						window.location='';
					});
			  	}
			});
		} else { alertify.error("Has pulsado cancel "); }
	});
}
</script>
</body>
</html>