{% extends 'layoutUniversity.html.twig' %}
{% block contentBread %}
<i class="fa fa-angle-right"></i>
<a href="#">Gestiones</a>
{% endblock %}
{% block contentoption %}  
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/unidad-educativa300.jpg')}}" alt="Unidad Educativa">
                <div class="caption text-center">
                    <h4>Unidad Educativa</h4>
                    <div class="thumbnail-action">
                        {{form_start(uEducativaform)}}


                            {{form_widget(uEducativaform.next)}}
                        {{form_end(uEducativaform)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/estudiantes300.jpg')}}" alt="Personal Docente">
                <div class="caption text-center">
                    <h4>Personal Docente</h4>
                    <div class="thumbnail-action">
                        {{form_start(infoMaestroform)}}
                            {{form_widget(infoMaestroform.next)}}
                        {{form_end(infoMaestroform)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="{{asset('img/maestros300.jpg')}}" alt="Personal Administrativo">
                <div class="caption text-center">
                    <h4>Personal Administrativo</h4>
                    <div class="thumbnail-action">
                        {{form_start(personalAdmform)}}
                            {{form_widget(personalAdmform.next)}}
                        {{form_end(personalAdmform)}}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

{% endblock %}
{% block javascripts%}
{{parent()}}
<script>

    var ingresoGestion = function (gestion){
        var formGestion = $('#form_gestion');
        var formulario = $('#form')[0];
        formGestion.val(gestion);
        formulario.submit(); 
        if (formGestion.val() == ""){
          alert("Debe seleccionar una gestión válida");
          return false;
        }       
        return true;
    };

</script>
{% endblock %}