<div class="table-responsive col-md-12">
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
            <tr>
                <th class="text-center border-right" style="min-width:5px">No.</th>
                <th>Gestión</th>
                <th style="min-width:5px">Sub Centro</th>
                <th>Semestre</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="text-center border-right" style="min-width:5px">No.</th>
                <th>Gestión</th>
                <th style="min-width:5px">Sub Centro</th>
                <th>Semestre</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% for reg in iesubsea %}
                <tr>
                    <td class="text-center border-right">{{ loop.index }}</td>
                    <td>
                        <span>{{ reg.gestionTipo }}{# - {{reg.teid}}#}</span>
                    </td>
                    <td>{{ reg.SucursalIE }}</td>
                    {% if (reg.periodoTipoId == '2') %}
                        <td>PRIMERO</td>
                    {% elseif (reg.periodoTipoId == '3') %}
                        <td>SEGUNDO</td>
                    {% elseif (reg.periodoTipoId == '1') %}
                        <td>ANUAL</td>
                    {% else %}
                        <td>{{reg.periodoTipoId}}</td>
                    {% endif %}
                    {% if 1 == 1 and app.session.get('roluser') != 8 %}
                    {# {% if (reg.gestionTipo <= '2017' and app.session.get('roluser') != 8 and app.session.get('roluser') != 7) %} #}
                        <td>
                            <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                <button type="submit" class="btn btn-circle btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" title="¡Ver!">                                    
                                    <i class="fa fa-eye"></i>
                                </button>
                            </form>
                        </td>
                    {% else %}
                        {% if (app.session.get('roluser') == 2) %} {#ROL DE MAESTRO#}
                            <td class="text-center">
                                {% if (reg.gestionTipo == '2016') and (reg.periodoTipoId == '2') and (reg.teid is null) %}  {#INICIO DE RESISTEMA REGULARIZACIÓN INSCRIPCIONES Y NOTAS herramienta_alter_notas_maestro_index#}
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                    {#<form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'100', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            #}
                                        <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="¡En operativo inicio de sistema Notas!">                                    
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </form>
                                {% elseif ((reg.teid == '6') or (reg.teid == '13')) %} {#EN NOTAS O REGULARIZACION DE NOTAS#}
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'100', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                        <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="¡En operativo inicio de sistema Notas!">                                    
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </form>                                                
                                {% endif %}
                            </td>                
                        {% endif %}                
                        {% if (app.session.get('roluser') == 20) %} {#ROL DE CONSULTA MODO LECTURA#}
                            <td class="text-center">
                                <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                    <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Ver.">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </form>
                            </td>
                        {% endif %}                
                        {% if app.session.get('roluser') == 9 %} {#ROL DE DIRECTOR#}
                            <td class="text-center"> {#INICIO DE SISTEMA INSCRIPCIONES Y NOTAS#}
                                {% if (reg.gestionTipo == '2016') and (reg.periodoTipoId == '2') and (reg.teid is null) %} 
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'12', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                        <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="¡En operativo inicio de sistema Inscripción y Notas!">
                                            <i class="fa fa-star"></i>
                                        </button>
                                    </form>
                                {% else %}    
                                    {% if (reg.teid == '14') or (reg.teid == '8') or (reg.teid == '10') or (reg.teid == '12')  or (reg.teid == '9') %} {#14 VER FIN DE SEMESTRE TERMINADO-8 VER REGULARIZACION NOTAS-10 VER REGULARIZACIÓN GESTION PASADA 12-VER INSCRIPCIONES TERMINADAS 9-REGULARIZACION INSCRIPCIONES TERMINADAS#}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-twitter btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </form>                    
                                    {% elseif reg.teid == '5'%} {#¡EN REGULARIZACIÓN GESTIONES PASADAS!#}
                                        {#<form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Ver.">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </form>#} 
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'12', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>    
                                    {#{% elseif ((reg.teid == '6') or (reg.teid == '13')) %}#} {#6 EN REGULARIZACIÓN NOTAS -13 NOTAS#}
                                    {% elseif (reg.teid == '13') %} {#-13 NOTAS#}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'11', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>                                     
                                    {% elseif (reg.teid == '6') %} {#6 EN REGULARIZACIÓN NOTAS#}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'6', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>
                                    {% elseif (reg.teid == '11') %} {#11 EN INSCRIPCION!#}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'10', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>
                                    {% elseif (reg.teid == '7') %} {#7 EN REGULARIZACION INSCRIPCIOENS!#}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'7', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>
                                    {% else %} {#GESTIONES PASADAS MODO LECTURA#}
                                        {% if (reg.gestionTipo < '2011') %}                                    
                                            <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                                <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Ver.">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </form>
                                        {% else %}
                                            <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                                <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Ver.">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </form>
                                            {% if (reg.gestionTipo < '2016') %}     
                                                <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'13', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block" onsubmit="return verificarRegularizacion();">                            
                                                    <button type="submit" class="btn btn-circle btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="¡Iniciar proceso de regularización!">
                                                        <i class="fa fa-hourglass-start"></i>
                                                    </button>
                                                </form>
                                            {% endif %}        
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td> 
                        {% endif %}
                        {#10 DISTRITAL 7 DEPTO 8 NACIONAL#}
                        {% if (app.session.get('roluser') == 10) or (app.session.get('roluser') == 7) or (app.session.get('roluser') == 8)%}
                            <td class="text-center">                                                
                                {% if (reg.teid == '7') or (reg.teid == '11')  %} {#-11 EN INSCRIPCION - 7 EN REGULARIZACION INSCRIPCIONES#}                            
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                                    
                                        <button type="submit" class="btn btn-circle btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </form>  
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                        <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Editar.">
                                            <i class="fa fa-pencil-square"></i>
                                        </button>
                                    </form>        
                                {% elseif (reg.teid == '13') or (reg.teid == '6') %}{#-13 NOTAS - 6 EN REGULARIZACIÓN NOTAS#}
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                                    
                                        <button type="submit" class="btn btn-circle btn-teal btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </form>
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                        <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Editar.">
                                            <i class="fa fa-pencil-square"></i>
                                        </button>
                                    </form>         
                                {% elseif (reg.teid == '5') %} {#¡EN REGULARIZACIÓN GESTIONES PASADAS!#}
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                                    
                                        <button type="submit" class="btn btn-circle btn-danger btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                            <i class="fa fa-eye"></i>
                                        </button>  
                                    </form>
                                    {% if (app.session.get('roluser') == 8) %}
                                        <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                            <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Editar.">
                                                <i class="fa fa-pencil-square"></i>
                                            </button>
                                        </form>                                                      
                                    {% endif %}
                                {% else %}
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'99', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                                    
                                        <button type="submit" class="btn btn-circle btn-lilac btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="{{reg.observacion}}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </form>     
                                    <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                        <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Editar.">
                                            <i class="fa fa-pencil-square"></i>
                                        </button>
                                    </form>
                                {% endif %}     
                            </td>
                        {% endif %}
                        {#CASO UNICO POR CUESTIONES SOCIALES#}
                        {% if ((app.session.get('userName') == '4832802') and (app.session.get('ie_id') == '80730768'))%}
                            <td class="text-center">       {#MODO EDICION#}                 
                                <form action="{{path('sie_alt_ges_sub_sem_open', {'teid':'0', 'gestion': reg.gestionTipo,'subcea':reg.SucursalIE,'semestre':reg.periodoTipoId,'idiesuc':reg.IEsucursalId})}}" method="post" style="display:inline-block">                            
                                    <button type="submit" class="btn btn-circle btn-success btn-stroke tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Editar.">
                                        <i class="fa fa-pencil-square"></i>
                                    </button>
                                </form>       
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
