{% extends 'layoutBjp.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/chosen.css')}}" rel="stylesheet">
    <link href="{{asset('bootstrap-wizard/css/bwizard.min.css')}}" rel="stylesheet">
</style>
{% endblock %} 

{% block stylesheets %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Gestión de Menú 
                    <small>Index</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i>  <a href="{{path('ControlPagosBono')}}"> Index</a></li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('correcto') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('incorrecto') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-warning"></i> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="pull-left">
                        <h4 class="portlet-title">Menus</h4>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="portlet-body">
                    <div class="panel-body panel-primary">
                        {% if menuObjeto is not empty %}
                            <div id="no-more-tables" class="table-responsive">
                                <!--table class="table table-bordered table-hover cf dataTable" id="myTable"-->
                                <table class="table table-bordered cf dataTable">
                                    <thead  class="cf">
                                        <tr>
                                            <th>N°</th>
                                            <th>Objeto</th>
                                            <th>Menu</th>
                                            <th>Registro</th>
                                            <th>Modificación</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for menuObjeto in menuObjeto %}
                                            {% set objeto = menuObjeto.objetoTipo %}
                                            {% set menu = menuObjeto.menuTipo %} 
                                            <tr>
                                                <td data-title="N°">{{ loop.index }}</td>
                                                <td data-title="Objeto">{{ objeto }}</td>
                                                <td data-title="Menu">{{ menu }}</td>
                                                <td data-title="Fcreacion">{{ menuObjeto.fcreacion|date('d-m-Y') }}</td>
                                                <td data-title="Fupdate">{{ menuObjeto.fupdate|date('d-m-Y') }}</td>
                                                <td data-title="Estado">
                                                    {% if menuObjeto.esactivo == 1 %}
                                                        <a href="{{ path('ControlPagosBono_estado', { 'id': menuObjeto.id }) }}" class="btn btn-xs btn-success">Activo</a>
                                                    {% else %}
                                                        <a href="{{ path('ControlPagosBono_estado', { 'id': menuObjeto.id }) }}" class="btn btn-xs btn-danger">Inactivo</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            No hay menus
                        {% endif %}
                    </div>
                </div><!-- /.panel-body -->
            </div>
        </div>
    </div> 
{% endblock %}

