{% set onlyview = app.session.get('onlyview') %}
{% if notas is defined %}
	<div class="modal-dialog modal-lg" {% if (notas.gestion > 2019 and discapacidad in [2,3,5] and seguimiento == false) %} style="width:80%; z-index:99999;" {% endif %}>
	    <div class="modal-content" {% if ((notas.gestion < 2020 and discapacidad in [2,3,5]) or discapacidad not in [2,3,5]) %} style="width:900px; margin-left:-100px" {% endif %}>
	    	<form action="" id="formNotasEspecial" onsubmit="registrarNotasEspecial('{{infoUe}}'); return false">
	 		<input type="hidden" name="actualizar" value="{{actualizar}}">
	 		<input type="hidden" name="operativo" value="{{operativo}}">
	 		<input type="hidden" name="discapacidad" value="{{discapacidad}}">
			 <input type="hidden" name="grado" value="{{inscripcion.institucioneducativaCurso.gradoTipo.id}}">

	        <div class="panel panel-danger">
	            <div class="modal-header" style="background:#ff8a80">
	                <div class="pull-left">
	                    <h3 class="panel-title" style="color:#FFFFFF;text-shadow: 1px 2px #212121">{% if (notas.gestion > 2018 and seguimiento == true) %} Seguimiento  {% else %} Notas {% endif %} del Estudiante</h3>

	                </div>
	                <div class="clearfix"></div>
	            </div>
	            <div class="panel-body no-padding" id="modal-body">
	            	<div class="alert " style="padding:10px">
					    <h5 class="text-lilac">Datos del Curso/Grupo</h5>
					    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
					        <tr>
					            <th>Nivel</th><td>{{inscripcion.institucioneducativaCurso.nivelTipo.nivel|upper}}</td>
					            <th>Turno</th><td>{{inscripcion.institucioneducativaCurso.turnoTipo.turno|upper}}</td>
					        </tr>
					        <tr>
					            <th>Grado</th><td>{{inscripcion.institucioneducativaCurso.gradoTipo.grado|upper}}</td>
					            <th>Paralelo</th><td>{{inscripcion.institucioneducativaCurso.paraleloTipo.paralelo|upper}}</td>
					        </tr>
					    </table>

					    <h5 class="text-info">Datos del Estudiante</h5>
					    <table class="table table-condensed table-bordered" style="background:#EEEEEE">
					        <tr>
					            <th>Código Rude</th><td style="color:#0086DD">{{inscripcion.estudiante.codigoRude}}</td>
					        </tr>
					        <tr>
					            <th>Estudiante</th><td style="color:#0086DD"><b>{{inscripcion.estudiante.nombre}} {{inscripcion.estudiante.paterno}} {{inscripcion.estudiante.materno}}</b></td>
					        </tr>
					        <tr>
					            <th>Estado de matrícula</th><td>{{inscripcion.estadomatriculaTipo.estadomatricula}}</td>
					        </tr>
					    </table>
						{% if (notas.gestion > 2019 and seguimiento == true) %}
						<h5 style="color:#0086DD">Seguimiento - {{descNota.notaTipo}} </h5>
						{% else %}					    
						<h5>Notas <small style="float:right;color:#4D8595">Operativo Actual-{{notas.operativo}}</small></h5>
						{% endif %}
						<h4 style="color:#3d237e" align="center">{{desc_discapacidad}}</h4>
						
						{% if progserv != 99 and (discapacidad == 6 or  discapacidad == 7 or  discapacidad == 1 ) %}
							<h4 style="color:#2d1a5c" align="center"><b> Programa: {{desc_programa}}</b></h4>
						{% endif %}
						{% if progserv == 99 and discapacidad == 2 %}
							<h4 style="color:#2d1a5c" align="center"><b> Programa: {{desc_programa}}</b></h4>
						{% endif %}
						{% if servicio != 99 and (discapacidad == 1 or discapacidad == 2) %}
							<h4 style="color:#2d1a5c" align="center"><b> Servicio: {{desc_servicio}}</b></h4>
						{% endif %}

					    {# {% include 'SieAppWebBundle:Services/Notas:'~ template ~'.html.twig' with {'notas':notas, 'vista':vista} %} #}
						{% include 'SieAppWebBundle:Services/Notas:'~ template ~'.html.twig' with { 'notas':notas, 'vista':vista, 'discapacidad':discapacidad } %}
						{% if discapacidad != 2 or (discapacidad == 2 and notas.gestion  < 2020)%}
							{% if (operativo >= 3 and notas.estadoMatricula in notas.estadosPermitidos and notas.cuantitativas|length > 0 and actualizar == false) or (notas.gestion < notas.gestionActual and notas.tipoNota == 'Trimestral' and discapacidad != 1) or (notas.gestion < notas.gestionActual and discapacidad == 1 and notas.nivel in [1,11,403]) and notas.cuantitativas|length > 0 %}
								<table class="table table-condensed table-bordered" style="background:#8AE5B6">
									<tr>
										<th style="vertical-align:middle; text-align:center">Actualizar estado de matrícula</th>
										<td>
											<select name="nuevoEstadomatricula" id="nuevoEstadomatricula" class="form-control" required="required" onchange="verificarEstado()">
												<option value="">Seleccionar...</option>
												{% for em in estadosMatricula %}
													{% if notas.estadoMatricula == em.id %}
														{% set selected = 'selected' %}
													{% else %}
														{% set selected = '' %}
													{% endif %}
													<option value="{{em.id}}" {{selected}} >{{em.estadomatricula}}</option>
												{% endfor %}
											</select>
											<div>
											{% if discapacidad in [3,5] and  notas.gestion > 2019 %}
												{% if notas.estadoMatricula == 5 %}
													{% set display = "display:block"%}
													
													{% if notas.cualitativas %}
													
														{% if notas.cualitativas.0.promovido == "CON APOYO" %}
															{% set checked1 = "checked" %}
															{% set checked2 = "" %}
														{% else %}
															{% set checked1 = "" %}
															{% set checked2 = "checked" %}
														{% endif %}
													{% endif %}
												{% else %}
													{% set checked1 = "" %}
													{% set checked2 = "" %}
													{% set display = "display:none"%}
												{% endif %}
												<div class="form-group" style={{display}} id ="radio">
													<div class="rdio rdio-primary circle col-md-3">
                                                    	<input id="radio-type-circle1" type="radio" name="promovido" class="matricula" value = "CON APOYO" {{checked1}} >
                                                    	<label for="radio-type-circle1">CON APOYO</label>
                                                	</div>
													<div class="rdio rdio-primary circle col-md-3">
                                                    	<input id="radio-type-circle2" type="radio" name="promovido" class="matricula" value = "SIN APOYO" {{checked2}}>
                                                    	<label for="radio-type-circle2">SIN APOYO</label>
                                                	</div>
                                        	    </div>
											{% endif %}
										</td>
									</tr>
								</table>
							{% endif %}
						{% endif %}
					</div>
	            </div>
	        </div>
	        <div class="modal-footer">
				<input type="hidden" name="progserv" value="{{progserv}}">
	            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				{% if notas.cuantitativas|length > 0 %}
	            	{% if notas.estadoMatricula in notas.estadosPermitidos and notas.cuantitativas|length > 0 and onlyview == false %}
		            	<button type="submit" class="btn btn-success">Guardar Cambios</button>
		        	{% endif %}
		        {% endif %}
				{# notas.estadoMatricula in notas.estadosPermitidos and notas.gestion > 2019 and seguimiento == true #}
				{% if (notas.gestion > 2019 and seguimiento == true) %}
					<button type="submit" class="btn btn-success">Guardar..</button>
				{% endif %}		        
	        </div>
	    </div><!-- /.modal-content -->
	    </form>
	</div><!-- /.modal-dialog -->
{% else %}
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="alert alert-warning"><i class="fa fa-warning"></i> Opción no disponible.</div>
		</div>
	</div>
{% endif %}
<script>
	function verificarEstado(){
		if({{discapacidad}} == 3 || {{discapacidad}} == 5){
			var estadoMatricula = $('#nuevoEstadomatricula').val();
			if(estadoMatricula == 5 ){
				$("#radio").show();
				$(".matricula").attr('required', true);
			}else{
				$("#radio").hide();
				$(".matricula").removeAttr('required');
				$(".matricula").prop('checked', false);
			}
		}
	}

    var registrarNotasEspecial = function(infoUe){
		
    	var enviar = validarEnvioNotas();
        if(enviar == true){
	    	var formData = $('#formNotasEspecial').serialize();//"textarea[name!=int1]", .not('form[textarea]')
			//Seguimiento para Talento Extraordinario
			var notas = [];
			$("#tbl_nota_existe tbody tr").each(function() {
				$this = $(this);
				notas.push({"con": $this.find("textarea.pie").val(), "res": $this.find("textarea.dce").val(), "rec": $this.find("textarea.ree").val()});
			});
			$("#tbl_nota tbody tr").each(function() {
				$this = $(this);
				notas.push({"con": $this.find("textarea.pi").val(), "res": $this.find("textarea.dc").val(), "rec": $this.find("textarea.re").val()});
			});
			
			if(notas.length > 0) {
				formData = formData+"&seguimiento="+JSON.stringify(notas);
			}
		    $.ajax({
		        type: 'post',
		        url: Routing.generate('especialInfoNotas_create_update'),
		        data: formData,
		        beforeSend: function () {
		            $('#modal-body').empty();
		            $('.modal-footer').empty();
		            $('#modal-body').append("<div style='text-align:center; padding:10px; color:#6ECBFF; font-size:15px'><img src='{{asset('img/loading-sm.gif')}}'><br>Espere mientras se procesan los cambios...</div>");
		        },
		        success: function (data) {
		            $('#modal').modal('hide');
					seeStudents(infoUe);		            
		        },
		        error: function (data) {

		        }
		    });
		}
	}
</script>
