{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Persona</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Carnet</th>
                <td>{{ entity.carnet }}</td>
            </tr>
            <tr>
                <th>Rda</th>
                <td>{{ entity.rda }}</td>
            </tr>
            <tr>
                <th>Libretamilitar</th>
                <td>{{ entity.libretaMilitar }}</td>
            </tr>
            <tr>
                <th>Pasaporte</th>
                <td>{{ entity.pasaporte }}</td>
            </tr>
            <tr>
                <th>Paterno</th>
                <td>{{ entity.paterno }}</td>
            </tr>
            <tr>
                <th>Materno</th>
                <td>{{ entity.materno }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Segipid</th>
                <td>{{ entity.segipId }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ entity.complemento }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('persona_main') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('persona_main_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
