{% extends 'layoutHerramientaAlternativa.html.twig' %}

{% block contentoption %}
    <div class="header-content">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Example of Bootstrap 3 Tabs Methods</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#myTab li:eq(0) a").tab('show');
                });
            </script>
            <style type="text/css">
                .bs-example{
                    margin: 20px;
                }
            </style>
        </head>

        <h2><i class="fa fa-pencil-square-o"></i> Reportes Educacion Diversa <span>Soldados o Marineros, Personas en Contexto de Encierro, Trabajadores(as)del Hogar.</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                    <li>
                    <i class="fa fa-pencil-square-o"></i>
                    Reportes
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div>

    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('noSearch') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('newError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('updateError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarOk') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-ok"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('eliminarError') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-warning"></i> {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>




        <div class="bs-example">
            <ul class="nav nav-tabs" id="myTab">
                <li><a data-toggle="tab" href="#sectionA">Soldados o Marineros</a></li>
                <li><a data-toggle="tab" href="#sectionB">Personas en Contexto de Encierro</a></li>
                <li><a data-toggle="tab" href="#sectionC">Trabajadores(as) del Hogar</a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <h3>Educación Diversa - Soldados o Marineros </h3>


                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"> Reportes - <b>Soldados o Marineros</b></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reportes por Especialidades</span>

                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_som_esp', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_som_espex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reporte Estadisticas</span>
                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_som_est', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_som_estex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>

                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"> Reportes - <b>Maestros / Instructores Militares</b></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reporte Listado de Maestros</span>

                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_maestros_instructores_list', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_maestros_instructores_listex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>
                    <p>. </p>
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <h3>Educación Diversa - Personas en Contexto de Encierro</h3>


                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"> Reportes - <b>Personas en Contexto de Encierro</b></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reportes por Especialidades</span>

                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_pece_esp', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_pece_espex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reporte Estadisticas</span>
                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_pece_est', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_pece_estex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>

                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"> Reportes - <b>Maestros en Recintos Penitenciarios</b></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reporte Listado de Maestros</span>

                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_maestros_penitenciario_list', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_maestros_penitenciario_listex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>
                    <p>. </p>
                </div>
                <div id="sectionC" class="tab-pane fade">
                    <h3>Educación Diversa - Trabajadores(as) del Hogar</h3>


                    <div class="col-md-12">

                        <!-- Start list bank table -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"> Reportes - <b>Trabajadores(as) del Hogar</b></h3>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reportes por Especialidades</span>

                                            </td>

                                                <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_th_esp', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_th_espex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="pull-left text-capitalize">Reporte Estadisticas</span>
                                            </td>

                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_th_est', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">PDF</a></td>
                                            <td class="text-center" style="width: 1%"><a href="{{path('herramienta_alter_reporte_edudiv_th_estex', { dataInfo: dataInfo })}}" class="btn btn-primary btn-sm btn-stroke">EXCEL</a></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <!--/ End list bank table -->

                    </div>

                    <p>. </p>
                </div>

            </div>
        </div>









    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
    </script>
{% endblock %}

