{% extends 'layoutPermanente.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Asignación de Cursos
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i><a href="{{path('institucioneducativaCursoTecnica',{'op':'search'})}}"> Buscar</a> </li>
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('institucioneducativaCursoTecnica')}}">Asignación</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{ app.session.get('institucion') }}</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                            <table class="table table-bordered cf">
                                <thead class="cf">
                                <tr>
                                    <th>Código SIE</th>
                                    <th>Nombre</th>
                                    <th>Gestión</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <td data-title="Código SIE">{{institucion.id}}</td>
                                    <td data-title="Nombre">{{institucion.institucioneducativa}}</td>
                                    <td data-title="Gestión">{{gestion}}</td>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Cursos Asignados</h4>
                    </div>
                    <div class="portlet-widgets">
                        {% if (app.session.get('roluser') != 9) and (app.session.get('roluser') != 5) %}
                        <a href="{{path('institucioneducativaCursoTecnica_new')}}" class="btn btn-default btn-xs"><i class="fa fa-file-o"></i> Asignar Nuevo Curso</a>
                        {% endif %}
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            
                            {% if carreras is not empty %}
                               <div class="table-responsive">
                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf dataTable" id="myTable">
                                        <thead class="cf">
                                            <tr>
                                                <th>N°</th>
                                                <th>Curso / Especialidad</th>
                                                <th>Programa</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ca in carreras %}
                                                <tr>
                                                    <td data-title="N°">{{ loop.index }}&nbsp;</td>
                                                    <td data-title="Especialidad">{{ ca.carreraespecialidadTipo.especialidad }}&nbsp;</td>
                                                    <td data-title="Carrera">{{ ca.carreraespecialidadTipo.carreraTipo.carrera }}&nbsp;</td>
                                                    <td data-title="Acciones">
                                                        {% if (app.session.get('roluser') != 9) and (app.session.get('roluser') != 5) %}
                                                            {% if 1 == 2 %}
                                                            <form action="{{path('institucioneducativaCursoTecnica_edit')}}" method="post" style="display:inline-block">
                                                                <input type="hidden" name="idCurso" value="{{ca.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                                            </form>
                                                            {% endif %}
                                                            <form action="{{path('institucioneducativaCursoTecnica_delete')}}" method="post" style="display: inline-block">
                                                                <input type="hidden" name="idCurso" value="{{ca.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="fa fa-trash-o text-danger"></i> Eliminar</button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                               </div>
                            {% else %}
                                No hay carreras registradas
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
            {% if (app.session.get('roluser') != 9) and (app.session.get('roluser') != 5) %}
                <a href="{{path('institucioneducativaCursoTecnica',{'op':'search'})}}" class="btn-link"><i class="fa fa-arrow-circle-left"></i> Atras</a>
            {% endif %}
        </div>
    </div> 
{% endblock %}

