<form action="" id="formMaestros">
    <table class="table table-lilac table-striped">
        <thead>
            <tr>
                <th>Maestro</th>
                {# <th>Horas/Semana</th> #}
            </tr>
        </thead>
        <tbody>
            {% for mco in maestrosCursoOferta %}
                <tr>
                    <td>
                        <input type="hidden" name="ieco[]" value="{{mco.idco}}">
                        <input type="hidden" name="iecom[]" value="{{mco.id}}">
                        <input type="hidden" name="idnt[]" value="{{mco.idNotaTipo}}">
                        <select name="idmi[]" id="" class="chosen-select form-control" {% if app.session.get('ie_per_estado') == '0' %}disabled{% endif %} data-placeholder="Seleccionar maestro">
                            <option value=""></option>
                            {% for m in maestros %}
                                {% if mco.idmi == m.id %}
                                    {% set selected = 'selected' %}
                                {% else %}
                                    {% set selected = '' %}
                                {% endif %}
                                <option value="{{m.id}}" {{selected}}>{{m.persona.carnet}}{% if m.persona.complemento %}-{{m.persona.complemento}}{% endif %} | {{m.persona.paterno}} {{m.persona.materno}} {{m.persona.nombre}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {# <td><input type="text" name="horas[]" value="{{mco.horas}}" size="2" class="form-control input-sm" autocomplete="off" maxlength="3" onkeypress="return validarNumero(event)" {% if app.session.get('ie_per_estado') == '0' %}disabled{% endif %}></td>     #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="background:#EEEEEE; text-align:right; padding:5px;">
        <button type="button" class="btn btn-default" onclick="cerrarMaestros({{ieco}})">Cerrar</button>
        {% if app.session.get('ie_per_estado') != '0' %}
        <button type="button" class="btn btn-success" onclick="asignarMaestro();">Guardar Cambios</button>
    {% endif %}
    </div>
</form>