{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        .higherWider {
            width:800px;
            margin-top:100px;
        }
    </style>

{% endblock %}
{% block contentoption %}


    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1><i class="fa fa-cc-amex animated flip"></i>Modificación de Datos
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="#">Buscar </a>
                    </li>


                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warningremoveins') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="panel panel-icon panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list"></i>
                    <div class="pull-right">
                        <a href="{{ path('estudiantehistorialmodificacion') }}">Retornar al listado</a>
                    </div>                    
                </div>
                <div class="panel-body">

                    <table id="myTable" class="table table-bordered table-hover cf dataTable">
                        <tbody>
                            <tr>
                                <th>Resolucion</th>
                                <td>{{ entity.resolucion }}</td>
                            </tr>
                            <tr>
                                <th>Fecharesolucion</th>
                                <td>{{ entity.fechaResolucion|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Justificacion</th>
                                <td>{{ entity.justificacion }}</td>
                            </tr>
                            <tr>
                                <th>Fecharegistro</th>
                                <td>{{ entity.fechaRegistro|date('d-m-Y H:i:s') }}</td>
                            </tr>
                            
                             <tr>
                                <th>Estudiante Modificado</th>
                                <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>CI</th>
                                            <td>{{ objStudent.carnetIdentidad }}</td>
                                        </tr>
                                        <tr>
                                            <th>Complemento</th>
                                            <td>{{ objStudent.complemento }}</td>
                                        </tr>
                                        <tr>
                                            <th>Cod. Rude</th>
                                            <td>{{ objStudent.codigoRude }}</td>
                                        </tr>
                                        <tr>
                                            <th>Paterno</th>
                                            <td>{{ objStudent.paterno }}</td>
                                        </tr>
                                        <tr>
                                            <th>Materno</th>
                                            <td>{{ objStudent.materno }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre(s)</th>
                                            <td>{{ objStudent.nombre }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                </td>
                            </tr>


                        </tbody>
                    </table>

                        <ul class="record_actions">
                    <li>
                        <a href="{{ path('estudiantehistorialmodificacion') }}">
                            Retornar al listado
                        </a>
                    </li>
                    {# <li>{{ form(delete_form) }}</li> #}
                </ul>
              </div>
            </div>
            <div id="dataStudent"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts%}
    {{parent()}}
   
{% endblock %}
                
