<h4 class="text-orange text-center"><ins>{{curso.nivelTipo.nivel}} - {{curso.gradoTipo.grado}} - {{curso.paraleloTipo.paralelo}}</ins></h4>
<hr>

<h4><i class="fa fa-list-alt"></i> Áreas Humanísticas
    {% if (app.session.get('roluser') == 8 or app.session.get('roluser') == 7) and operativo < 4 %}
    <span style="float:right; margin-bottom:10px">
        <button data-title="3456" onclick="mostrarAreas(new String('{{curso.nivelTipo.nivel}}'), '{{curso.gradoTipo.grado}}', '{{curso.paraleloTipo.paralelo}}',{{curso.id}} ,{{curso.nivelTipo.id}} , 'divAreas')" class="btn btn-green btn-xs"><i class="fa fa-plus-circle text-white"></i> Adicionar Área</button>
    </span>
    {% endif %}
</h4>

{% if areasCurso is not empty %}
    {% if mensaje %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-info-circle"></i> {{mensaje}}
        </div>
    {% endif %}
    <div id="no-more-tables">
        <table class="table table-bordered table-hover cf">
            <thead class="cf">
                <tr>
                    <th>Nro</th>
                    <th>Codigo</th>
                    <th>Área</th>
                    <!-- Opcion de eliminar solo para nacionales -->
                    <th>Acciones</th>


                </tr>
            </thead>
            <tbody>
                {% for cursoOferta in areasCurso %}
                    <tr style="background-color:#E5F4F9">
                        <td data-title="Nro">{{loop.index}}</td>

                        <td data-title="Codigo"><span class="text-green">{{cursoOferta.idAsignatura}}&nbsp;</span></td>
                        <td data-title="Area">{{cursoOferta.asignatura}}&nbsp;</td>

                        <td data-title="Acciones">
                        {% if curso.gestionTipo.id <= app.session.get('currentyear') %}
                            <button class="btn" onclick="addpop({{cursoOferta.id}})" title="Asignar maestro"><i class="fa fa-users text-lilac"></i></button>
                            <div class="arrow-before" style="display:none; margin-left:10px;" id="before{{cursoOferta.id}}"></div><div class="arrow-after" style="display:none;margin-left:10px;" id="after{{cursoOferta.id}}"></div>
                            <div id="{{cursoOferta.id}}" style="display:none; position:absolute; z-index:5; width:500px; margin-left:-460px; border:2px solid #EEEEEE; box-shadow: 7px 7px 4px #929292;" class="divMaestros">

                            </div>
                        {% endif %}

                        </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>


{% else %}
    <div class="alert alert-warning"><i class="fa fa-warning"></i> El curso no tiene areas humanísticas asignadas</div>
{% endif %}
<hr>
<div style="display:none">
<h4><i class="fa fa-list-alt"></i> Áreas Técnicas
    <span style="float:right; margin-bottom:10px">
        <button data-title="3456" onclick="mostrarAreas(new String('{{curso.nivelTipo.nivel}}'), '{{curso.gradoTipo.grado}}', '{{curso.paraleloTipo.paralelo}}',{{curso.id}} ,{{curso.nivelTipo.id}} , 'divAreas')" class="btn btn-green btn-xs"><i class="fa fa-plus-circle text-white"></i> Adicionar Área</button>
    </span>
</h4>
{% if areasCurso is empty %}

{% else %}
    <div class="alert alert-warning"><i class="fa fa-info-circle"></i> No hay áreas técnicas asignadas</div>
{% endif %}
</div>
</strong>
<script>
    $(document).ready( function(){
        $(".tooltips").tooltip();
    });
</script>
