{% extends '::base.html.twig' %}

{% block body -%}
    <h1>InstitucioneducativaHumanisticoTecnico</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Gestiontipoid</th>
                <td>{{ entity.gestionTipoId }}</td>
            </tr>
            <tr>
                <th>Institucioneducativaid</th>
                <td>{{ entity.institucioneducativaId }}</td>
            </tr>
            <tr>
                <th>Institucioneducativa</th>
                <td>{{ entity.institucioneducativa }}</td>
            </tr>
            <tr>
                <th>Esimpreso</th>
                <td>{{ entity.esimpreso }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sie_ueHumTec') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sie_ueHumTec_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
