{% extends 'layoutPnp.html.twig' %}
{% block body -%}
<div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1 class="glyphicon glyphicon-stats"> Reporte Por Gesti&oacute;n {{ lugar_nombre }} <small>{{ gestion_ini }} al {{ gestion_fin }}</small></h1>
                <ol class="breadcrumb">
                    <li>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

 <!--  CONOCER EL NIVEL-->
    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Bien!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Advertencia!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        <!-- BUSQUEDA-->
        <div class="form-group col-lg-12 col-md-12" align="center">
                    <form class="form-inline" method="post" action="{{path('sie_pnp_reporte_por_gestion', {'nivel_ini': nivel_ini,'lugar' : lugar ,'nivel_fin' : nivel_fin})}}">
                        <div class="form-group">
                            <label for="gestion_inicio">Desde la Gestión&nbsp;&nbsp;</label>
                            <select class="form-control" required="required" id="gestion_ini" name="gestion_ini">
                                {% for i in gestion_ini_t..gestion_fin_t %}
                                    {% if i == gestion_ini %}
                                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="gestion_fin">&nbsp;&nbsp;a&nbsp;&nbsp;</label>    
                            <select class="form-control" required="required" id="gestion_fin" name="gestion_fin">
                                {% for i in gestion_ini_t..gestion_fin_t %}
                                    {% if i == gestion_fin %}
                                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                             <label for="gestion_inicio">Plan&nbsp;&nbsp;</label>
                            <select class="form-control" required="required" id="plan" name="plan">
                                <option value="3" {% if plan == 3 %}selected="selected"{% endif %}>Todos</option>
                                <option value="2" {% if plan == 2 %}selected="selected"{% endif %}>Plan Nuevo</option>
                                <option value="1" {% if plan == 1 %}selected="selected"{% endif %}>Plan Antiguo</option>
                            </select>
                            <label class="radio-inline">
                              <input type="radio" name="m_option" id="option_2" value="2" {% if m_option==2 %} checked="checked" {% else %}{% endif %}> Graduados
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="m_option" id="option_1" value="1" {% if m_option==1 %} checked="checked" {% else %}{% endif %}> Todos
                            </label>
                        </div>
                        <button type="submit" onclick="return ver_fechas(gestion_ini,gestion_fin)" class="btn btn-default">&nbsp;Generar Reporte</button>
                    </form>    
                </div>
        <!-- CABEZERA -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Datos Generales {% if m_option==2 %}(Graduados){% else %}(Todos){% endif %} - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation1"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation1" class="panel-collapse collapse in">
                    <div class="portlet-body" align="center">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">                    
                            <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile">
                                    <div class="circle-tile-heading dark-blue">
                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                    </div>
                                    <div class="circle-tile-content dark-blue">
                                        <div class="circle-tile-description text-faded">
                                            Segundo
                                        </div>
                                        <div class="circle-tile-number text-faded">
                                            {{ tabla11t.total|number_format }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile">
                                    <div class="circle-tile-heading green">
                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                    </div>
                                    <div class="circle-tile-content green">
                                        <div class="circle-tile-description text-faded">
                                            Tercero
                                        </div>
                                        <div class="circle-tile-number text-faded">
                                            {{ tabla12t.total|number_format }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile">
                                    <div class="circle-tile-heading orange">
                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                    </div>
                                    <div class="circle-tile-content orange">
                                        <div class="circle-tile-description text-faded">
                                            Quinto
                                        </div>
                                        <div class="circle-tile-number text-faded">
                                            {{ tabla21t.total|number_format }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-3 col-sm-6">
                                <div class="circle-tile">
                                    <div class="circle-tile-heading blue">
                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                    </div>
                                    <div class="circle-tile-content blue">
                                        <div class="circle-tile-description text-faded">
                                            Sexto
                                        </div>
                                        <div class="circle-tile-number text-faded">
                                            {{ tabla22t.total|number_format }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <!-- TABLA 1 -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Reporte de {% if m_option==2 %}Graduados {% else %}Todos {% endif %}- Segundo - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation2"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation2" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                            {% for anio in gestion_ini..gestion_fin %}
                                <th>{{ anio }}</th>
                            {% endfor %}
                            <th>Total</th>
                            {% if nivel_fin == 1 %}
                                <th>Ver Provincias</th>
                            {% endif %}
                            {% if nivel_fin == 1 or nivel_fin == 2 %}
                                <th>Ver Municipios</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tab11 in tabla11 %}
                            <tr>
                                <td>{{ tab11.lugar }}</td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> {{ tab11[anio]|number_format }} </td>
                                {% endfor %}
                                <th>{{ tab11.total|number_format }}</th>
                                {% if nivel_fin == 1 %}
                                    <td>
                                        <a type="button" class="btn btn-default btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab11.id, 'nivel_fin' : 2 }) }}">
                                       Provincias
                                        </a>
                                    </td>
                                {% endif %}
                                {% if nivel_fin == 1 or nivel_fin == 2 %}
                                    <td>
                                        <a type="button" class="btn btn-success btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab11.id, 'nivel_fin' : 3 }) }}">
                                       Municipios
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><strong><div style="display: none">Z</div>Total</strong></td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> <strong>{{ tabla11t[anio]|number_format }}</strong> </td>
                                {% endfor %}
                                <td> <strong>{{ tabla11t.total|number_format }}</strong> </td>
                                <td><strong></strong></td>
                                <td><strong></strong></td>
                            </tr>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
           <!-- TABLA 2 -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Reporte de {% if m_option==2 %}Graduados {% else %}Todos {% endif %}- Tercero - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation3"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation3" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaListadoPersonas1" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                            {% for anio in gestion_ini..gestion_fin %}
                                <th>{{ anio }}</th>
                            {% endfor %}
                            <th>Total</th>
                            {% if nivel_fin == 1 %}
                                <th>Ver Provincias</th>
                            {% endif %}
                            {% if nivel_fin == 1 or nivel_fin == 2 %}
                                <th>Ver Municipios</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tab12 in tabla12 %}
                            <tr>
                                <td>{{ tab12.lugar }}</td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> {{ tab12[anio]|number_format }} </td>
                                {% endfor %}
                                <th>{{ tab12.total|number_format }}</th>
                                {% if nivel_fin == 1 %}
                                    <td>
                                        <a type="button" class="btn btn-default btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab12.id, 'nivel_fin' : 2 }) }}">
                                       Provincias
                                        </a>
                                    </td>
                                {% endif %}
                                {% if nivel_fin == 1 or nivel_fin == 2 %}
                                    <td>
                                        <a type="button" class="btn btn-success btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab12.id, 'nivel_fin' : 3 }) }}">
                                       Municipios
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><strong><div style="display: none">Z</div>Total</strong></td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> <strong>{{ tabla12t[anio]|number_format }}</strong> </td>
                                {% endfor %}
                                <td> <strong>{{ tabla12t.total|number_format }}</strong> </td>
                                <td><strong></strong></td>
                                <td><strong></strong></td>
                            </tr>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
           <!-- TABLA 3 -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Reporte de {% if m_option==2 %}Graduados {% else %}Todos {% endif %}- Quinto - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation4"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation4" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaListadoPersonas2" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                            {% for anio in gestion_ini..gestion_fin %}
                                <th>{{ anio }}</th>
                            {% endfor %}
                            <th>Total</th>
                            {% if nivel_fin == 1 %}
                                <th>Ver Provincias</th>
                            {% endif %}
                            {% if nivel_fin == 1 or nivel_fin == 2 %}
                                <th>Ver Municipios</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tab21 in tabla21 %}
                            <tr>
                                <td>{{ tab21.lugar }}</td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> {{ tab21[anio]|number_format }} </td>
                                {% endfor %}
                                <th>{{ tab21.total|number_format }}</th>
                                {% if nivel_fin == 1 %}
                                    <td>
                                        <a type="button" class="btn btn-default btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab21.id, 'nivel_fin' : 2 }) }}">
                                       Provincias
                                        </a>
                                    </td>
                                {% endif %}
                                {% if nivel_fin == 1 or nivel_fin == 2 %}
                                    <td>
                                        <a type="button" class="btn btn-success btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab21.id, 'nivel_fin' : 3 }) }}">
                                       Municipios
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><strong><div style="display: none">Z</div>Total</strong></td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> <strong>{{ tabla21t[anio]|number_format }}</strong> </td>
                                {% endfor %}
                                <td> <strong>{{ tabla21t.total|number_format }}</strong> </td>
                                <td><strong></strong></td>
                                <td><strong></strong></td>
                            </tr>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
           <!-- TABLA 4 -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Reporte de {% if m_option==2 %}Graduados {% else %}Todos {% endif %}- Sexto - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation5"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation5" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaListadoPersonas3" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                            {% for anio in gestion_ini..gestion_fin %}
                                <th>{{ anio }}</th>
                            {% endfor %}
                            <th>Total</th>
                            {% if nivel_fin == 1 %}
                                <th>Ver Provincias</th>
                            {% endif %}
                            {% if nivel_fin == 1 or nivel_fin == 2 %}
                                <th>Ver Municipios</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tab22 in tabla22 %}
                            <tr>
                                <td>{{ tab22.lugar }}</td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> {{ tab22[anio]|number_format }} </td>
                                {% endfor %}
                                <th>{{ tab22.total|number_format }}</th>
                                {% if nivel_fin == 1 %}
                                    <td>
                                        <a type="button" class="btn btn-default btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab22.id, 'nivel_fin' : 2 }) }}">
                                       Provincias
                                        </a>
                                    </td>
                                {% endif %}
                                {% if nivel_fin == 1 or nivel_fin == 2 %}
                                    <td>
                                        <a type="button" class="btn btn-success btn-block" href="{{path('sie_pnp_reporte_por_gestion',{ 'nivel_ini' : nivel_fin, 'lugar' : tab22.id, 'nivel_fin' : 3 }) }}">
                                       Municipios
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><strong><div style="display: none">Z</div>Total</strong></td>
                                {% for anio in gestion_ini..gestion_fin %}
                                    <td> <strong>{{ tabla22t[anio]|number_format }}</strong> </td>
                                {% endfor %}
                                <td> <strong>{{ tabla22t.total|number_format }}</strong> </td>
                                <td><strong></strong></td>
                                <td><strong></strong></td>
                            </tr>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- GRAFIGO -->
        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Barras - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation6"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation6" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="container-tabla" style="width: 100%; overflow: scroll;">
                <div class="portlet-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="tabs-accordions.html#b1p1" data-toggle="tab"><strong>Segundo</strong></a>
                        </li>
                        <li><a href="tabs-accordions.html#b1p2" data-toggle="tab"><strong>Tercero</strong></a>
                        </li>
                        <li><a href="tabs-accordions.html#b2p1" data-toggle="tab"><strong>Quinto</strong></a>
                        </li>
                        <li><a href="tabs-accordions.html#b2p2" data-toggle="tab"><strong>Sexto</strong></a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="width: 100%;">
                        <div class="tab-pane fade in active" id="b1p1">
                            <div id="container1"></div> 
                        </div>
                        <div class="tab-pane fade" id="b1p2">
                            <div id="container2" style="width: 73%;"></div>
                        </div>
                         <div class="tab-pane fade" id="b2p1">
                            <div id="container3" style="width: 73%;"></div>
                        </div>
                         <div class="tab-pane fade" id="b2p2" style="width: 100px;">
                            <div id="container4" style="width: 73%;"></div>
                        </div>
                    </div>
                </div>
                <!-- /.portlet-body -->
            </div>
            </div>
            </div>
        </div>
    </div>
    </div>

</div>
  

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        initialise();
    } );
    
    function initialise()
    {
         var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

        var currentLang = espanol;    

        //var table = $('#tablaListadoPersonas').DataTable();
        var dtable = $('#tablaListadoPersonas').dataTable( {"oLanguage": espanol,
         'dom': 'B <"clear">',
         "pageLength": 100,
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        
        var dtable = $('#tablaListadoPersonas1').dataTable( {"oLanguage": espanol,
         'dom': 'B <"clear">',
         "pageLength": 100,
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        var dtable = $('#tablaListadoPersonas2').dataTable( {"oLanguage": espanol,
         'dom': 'B <"clear">',
         "pageLength": 100,
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        var dtable = $('#tablaListadoPersonas3').dataTable( {"oLanguage": espanol,
         'dom': 'B <"clear">',
         "pageLength": 100,
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        
        $('#tablaListadoPersonas tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    }

    function ver_fechas(gestion_ini,gestion_fin){
        if (gestion_ini.value > gestion_fin.value){
            alert("Error, Gesti\u00F3n inicio no puede ser mayor que la Gesti\u00F3n Final");
            return false;
        }
        else {
            return true;
        }
    }
///////Bloque 1 Parte 1
    Highcharts.chart('container1', {

    title: {
        text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} por Gesti\u00f3n Segundo ({{gestion_ini}}-{{gestion_fin}})'
    },

    credits: {
      enabled: false
    },

    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
        title: {
            text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %}'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: {{ gestion_ini }}
        }
    },

    series: [
        {% for tab11 in tabla11 %}
            {
                name: '{{ tab11.lugar }}',
                data: [ 
                        {% for anio in gestion_ini..gestion_fin %}
                            {{ tab11[anio] }},
                        {% endfor %}
                    ]
            },
        {% endfor %}
        ]
});   
      
///////Bloque 1 Parte 2
    Highcharts.chart('container2', {

    title: {
        text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} por Gesti\u00f3n Tercero ({{gestion_ini}}-{{gestion_fin}})'
    },

    credits: {
      enabled: false
    },

    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
        title: {
            text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %}'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: {{ gestion_ini }}
        }
    },

    series: [
        {% for tab12 in tabla12 %}
            {
                name: '{{ tab12.lugar }}',
                data: [ 
                        {% for anio in gestion_ini..gestion_fin %}
                            {{ tab12[anio] }},
                        {% endfor %}
                    ]
            },
        {% endfor %}
        ]
});   
///////Bloque 2 Parte 1
    Highcharts.chart('container3', {

    title: {
        text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} por Gesti\u00f3n Quinto ({{gestion_ini}}-{{gestion_fin}})'
    },

    credits: {
      enabled: false
    },

    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
        title: {
            text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %}'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: {{ gestion_ini }}
        }
    },

    series: [
        {% for tab21 in tabla21 %}
            {
                name: '{{ tab21.lugar }}',
                data: [ 
                        {% for anio in gestion_ini..gestion_fin %}
                            {{ tab21[anio] }},
                        {% endfor %}
                    ]
            },
        {% endfor %}
        ]
});   
///////Bloque 2 Parte 2
    Highcharts.chart('container4', {

    title: {
        text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} por Gesti\u00f3n Sexto ({{gestion_ini}}-{{gestion_fin}})'
    },

    credits: {
      enabled: false
    },

    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
        title: {
            text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %}'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: {{ gestion_ini }}
        }
    },

    series: [
        {% for tab22 in tabla22 %}
            {
                name: '{{ tab22.lugar }}',
                data: [ 
                        {% for anio in gestion_ini..gestion_fin %}
                            {{ tab22[anio] }},
                        {% endfor %}
                    ]
            },
        {% endfor %}
        ]
});   
    </script>        
{% endblock %}