{% extends 'layoutPnp.html.twig' %}

{% block body -%}
      <div class="header-content">
        <h2><i class="fa fa-eye animated flip"></i>Reporte General {{ lugar_nombre }} <small>{{ gestion_ini }} al {{ gestion_fin }}</small></h1> <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-eye"></i>
                    <a href="#">
                    Ver
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Reporte General</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->

 <!--  CONOCER EL NIVEL-->
    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Bien!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡Advertencia!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        <!-- BUSQUEDA-->

        <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-icon panel-primary">
                    <div class="panel-body">
                        <form class="form-inline" method="post" action="{{path('sie_pnp_reporte_general', {'nivel_ini': nivel_ini,'lugar' : lugar ,'nivel_fin' : nivel_fin})}}">
                        <div class="form-group">
                            <label for="gestion_inicio">Desde la Gestión&nbsp;&nbsp;</label>
                            <select class="form-control" required="required" id="gestion_ini" name="gestion_ini">
                                {% for i in gestion_ini_t..gestion_fin_t %}
                                    {% if i == gestion_ini %}
                                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="gestion_fin">&nbsp;&nbsp;a&nbsp;&nbsp;</label>    
                            <select class="form-control" required="required" id="gestion_fin" name="gestion_fin">
                                {% for i in gestion_ini_t..gestion_fin_t %}
                                    {% if i == gestion_fin %}
                                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                             <label for="gestion_inicio">Plan&nbsp;&nbsp;</label>
                            <select class="form-control" required="required" id="plan" name="plan">
                                <option value="3" {% if plan == 3 %}selected="selected"{% endif %}>Todos</option>
                                <option value="2" {% if plan == 2 %}selected="selected"{% endif %}>Plan Nuevo</option>
                                <option value="1" {% if plan == 1 %}selected="selected"{% endif %}>Plan Antiguo</option>
                            </select>
                            <label class="radio-inline">
                              <input type="radio" name="m_option" id="option_2" value="2" {% if m_option==2 %} checked="checked" {% else %}{% endif %}> Graduados
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="m_option" id="option_1" value="1" {% if m_option==1 %} checked="checked" {% else %}{% endif %}> Todos
                            </label>
                        </div>
                        <button type="submit" onclick="return ver_fechas(gestion_ini,gestion_fin)" class="btn rounded btn-success">&nbsp;Generar Reporte</button>
                    </form> 
                    </div>
                </div>
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Datos Generales {% if m_option==2 %}(Graduados){% else %}(Todos){% endif %} - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})
                    </div>
                    <div class="panel-body">
                        <div id="tour-12" class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-twitter rounded">
                                <span class="mini-stat-icon"><i class="fa fa-users fg-twitter"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">{{ total_g|number_format }}</span>
                                    Total
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-facebook rounded">
                                <span class="mini-stat-icon"><i class="fa fa-male fg-facebook"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">{{ total_g_m|number_format }}</span>
                                    Masculino
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="mini-stat clearfix bg-googleplus rounded">
                                <span class="mini-stat-icon"><i class="fa fa-female fg-googleplus"></i></span>
                                <div class="mini-stat-info">
                                    <span class="counter">{{ total_g_f|number_format }}</span>
                                    Femenino
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    </div>
                </div>
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Barras - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})
                    </div>
                    <div class="panel-body">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <!-- TABLA 1-->
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Reporte de {% if m_option==2 %}Graduados{% else %}Todos{% endif %} por Curso - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="panel-body">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                            <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                                <thead>
                                    <tr>
                                        <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                                        <th>Segundo</th>
                                        <th>Tercero</th>
                                        <th>Quinto</th>
                                        <th>Sexto</th>
                                        <th>Total</th>
                                        {% if nivel_fin == 1 %}
                                            <th>Ver Provincias</th>
                                        {% endif %}
                                        {% if nivel_fin == 1 or nivel_fin == 2 %}
                                            <th>Ver Municipios</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tab1 in tabla1 %}
                                        <tr>
                                            <td>{{ tab1.lugar }}</td>
                                            <td>{{ tab1.b1p1|number_format }}</td>
                                            <td>{{ tab1.b1p2|number_format }}</td>
                                            <td>{{ tab1.b2p1|number_format }}</td>
                                            <td>{{ tab1.b2p2|number_format }}</td>
                                            <td><strong>{{ tab1.total|number_format }}</strong></td>
                                            {% if nivel_fin == 1 %}
                                                <td>
                                                    <a type="button" class="btn rounded btn-warning btn-xs btn-block" href="{{path('sie_pnp_reporte_general',{ 'nivel_ini' : nivel_fin, 'lugar' : tab1.id, 'nivel_fin' : 2 }) }}">
                                                   Provincias
                                                    </a>
                                                </td>
                                            {% endif %}
                                            {% if nivel_fin == 1 or nivel_fin == 2 %}
                                                <td>
                                                    <a type="button" class="btn rounded btn-success btn-xs btn-block" href="{{path('sie_pnp_reporte_general',{ 'nivel_ini' : nivel_fin, 'lugar' : tab1.id, 'nivel_fin' : 3 }) }}">
                                                   Municipios
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    {% for tab1t in tabla1t %}
                                        <tr>
                                            <td><strong><div style="display: none">Z</div>Total</strong></td>
                                            <td><strong>{{ tab1t.b1p1|number_format }}</strong></td>
                                            <td><strong>{{ tab1t.b1p2|number_format }}</strong></td>
                                            <td><strong>{{ tab1t.b2p1|number_format }}</strong></td>
                                            <td><strong>{{ tab1t.b2p2|number_format }}</strong></td>
                                            <td><strong>{{ tab1t.total|number_format }}</strong></td>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- TABLA 2-->
                <div class="panel panel-icon panel-primary col-lg-6">
                    <div class="panel-heading">
                        {% if m_option==2 %}Graduados{% else %}Todos{% endif %} Masculino por Curso - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})
                    </div>
                    <div class="panel-body">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                            <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                                <thead>
                                    <tr>
                                        <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                                        <th>Segundo</th>
                                        <th>Tercero</th>
                                        <th>Quinto</th>
                                        <th>Sexto</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tab2 in tabla2 %}
                                        <tr>
                                            <td>{{ tab2.lugar }}</td>
                                            <td>{{ tab2.b1p1|number_format }}</td>
                                            <td>{{ tab2.b1p2|number_format }}</td>
                                            <td>{{ tab2.b2p1|number_format }}</td>
                                            <td>{{ tab2.b2p2|number_format }}</td>
                                            <td><strong>{{ tab2.total|number_format }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                    {% for tab2t in tabla2t %}
                                        <tr>
                                            <td><strong>Total</strong></td>
                                            <td><strong>{{ tab2t.b1p1|number_format }}</strong></td>
                                            <td><strong>{{ tab2t.b1p2|number_format }}</strong></td>
                                            <td><strong>{{ tab2t.b2p1|number_format }}</strong></td>
                                            <td><strong>{{ tab2t.b2p2|number_format }}</strong></td>
                                            <td><strong>{{ tab2t.total|number_format }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- TABLA 3-->
                <div class="panel panel-icon panel-primary col-lg-6">
                    <div class="panel-heading">
                        {% if m_option==2 %}Graduados{% else %}Todos{% endif %} Femenino por Curso - {{ lugar_nombre }} ({{ gestion_ini }} al {{ gestion_fin }})
                    </div>
                    <div class="panel-body">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                        <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                           <thead>
                        <tr>
                            <th>{% if nivel_fin == 1 %}Departamentos{% elseif nivel_fin == 2 %}Provincias{% else %}Municipios{% endif %}</th>
                            <th>Segundo</th>
                            <th>Tercero</th>
                            <th>Quinto</th>
                            <th>Sexto</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tab3 in tabla3 %}
                            <tr>
                                <td>{{ tab3.lugar }}</td>
                                <td>{{ tab3.b1p1|number_format }}</td>
                                <td>{{ tab3.b1p2|number_format }}</td>
                                <td>{{ tab3.b2p1|number_format }}</td>
                                <td>{{ tab3.b2p2|number_format }}</td>
                                <td><strong>{{ tab3.total|number_format }}</strong></td>
                            </tr>
                        {% endfor %}
                        {% for tab3t in tabla3t %}
                            <tr>
                                <td><strong>Total</strong></td>
                                <td><strong>{{ tab3t.b1p1|number_format }}</strong></td>
                                <td><strong>{{ tab3t.b1p2|number_format }}</strong></td>
                                <td><strong>{{ tab3t.b2p1|number_format }}</strong></td>
                                <td><strong>{{ tab3t.b2p2|number_format }}</strong></td>
                                <td><strong>{{ tab3t.total|number_format }}</strong></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        initialise();
    } );
    
    function initialise()
    {
         var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

        var currentLang = espanol;    

        //var table = $('#tablaListadoPersonas').DataTable();
        var dtable = $('#tablaListadoPersonas').dataTable( {"oLanguage": espanol,
         'dom': 'B <"clear">',
         "pageLength": 100,
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        
        
        $('#tablaListadoPersonas tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    }

    function ver_fechas(gestion_ini,gestion_fin){
        if (gestion_ini.value > gestion_fin.value){
            alert("Error, Gesti\u00F3n inicio no puede ser mayor que la Gesti\u00F3n Final");
            return false;
        }
        else {
            return true;
        }
    }


    Highcharts.chart('container', {
    colors: ['#34495C','#E84C3D'],
    chart: {
        type: 'column'
    },
    title: {
        text: ' {{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %} ({{gestion_ini}}-{{gestion_fin}})'
    },
    xAxis: {
        categories: [  {% for tab1 in tabla1 %} '{{ tab1.lugar }}', {% endfor %} ]
    },
    credits: {
      enabled: false
    },
    yAxis: {
        min: 0,
        title: {
            text: '{{ lugar_nombre }} - {% if m_option==2 %}Graduados{% else %}Todos{% endif %}'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },

    series: [{
        name: 'Masculino',
        data: [
            {% for tab2 in tabla2 %} {{ tab2.total }}, {% endfor %}
        ]
    }, {
        name: 'Femenino',
        data: [
            {% for tab3 in tabla3 %} {{ tab3.total }}, {% endfor %}
        ]
    }]
});
    </script>        
{% endblock %}