<style>
    /* Tooltip */
    .msg + .tooltip > .tooltip-inner {
        background-color: #E9F9FC;
        color: #01B1E1;
        border: 1px solid #01B1E1;
        padding: 15px;
    }

    #map {
        width: 100%;
        height: 500px;
        background-color: grey;
        position: relative;
        outline: none;
    }
</style>
<div class="modal-dialog" id="modal_apertura_datos" style="width: 60%">
    <div class="modal-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><span>{{ tramitetipo.tramiteTipo|upper }}</span></h3>
                </div>
                <div class="pull-rigth">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start basic wizard vertical -->
                        <div id="basic-wizard-vertical">
                            <div class="panel panel-tab panel-tab-double panel-tab-vertical rounded shadow">
                                <!-- Start tabs heading -->
                                <div class="panel-heading no-padding col-md-3">
                                    <ul class="nav nav-tabs nav-pills">
                                        <li class="active">
                                            <a href="#tab1-1" data-toggle="tab" aria-expanded="true">
                                                <i class="fa fa-file-text"></i>
                                                <div>
                                                    <span class="text-strong">DATOS GENERALES</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab1-2" data-toggle="tab" aria-expanded="false">
                                                <i class="glyphicon glyphicon-home"></i>
                                                <div>
                                                    <span class="text-strong">UBICACIÓN GEOGRÁFICA</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab1-3" data-toggle="tab" aria-expanded="false">
                                                <i class="glyphicon glyphicon-globe"></i>
                                                <div>
                                                    <span class="text-strong">INFORMACIÓN</span>
                                                    <span class="text-strong">GEOREFERENCIAL</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.panel-heading -->
                                <!--/ End tabs heading -->
                                <!-- Start tabs content -->
                                <div class="panel-body tab-content col-md-9">
                                    <div class="tab-pane fade inner-all in active" id="tab1-1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="page-header">
                                                    DATOS GENERALES<br>
                                                </h4>
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-4">
                                                                {{ form_label(form.idinstitucion) }}
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.idinstitucion) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-4">
                                                                {{ form_label(form.subcea) }}
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.subcea) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-4">
                                                                {{ form_label(form.periodo) }}
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.periodo) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-4">
                                                                {{ form_label(form.telefono) }}
                                                            </div>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.telefono) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade inner-all" id="tab1-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="page-header">
                                                    UBICACIÓN GEOGRÁFICA<br>
                                                </h4>
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.departamento) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.departamento,{'attr':{'onchange':'provincia2(this.value,2001)'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group  col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.provincia) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.provincia,{'attr':{'onchange':'municipio2(this.value,2001)'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group  col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.municipio) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.municipio,{'attr':{'onchange':'canton2(this.value,2001)'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group  col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.canton) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.canton,{'attr':{'onchange':'localidad2(this.value,2001)'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group  col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.localidad) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.localidad) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group  col-md-12">
                                                            <div class="col-md-5">
                                                                {{ form_label(form.distrito) }}
                                                            </div>
                                                            <div class="col-md-7">
                                                                {{ form_widget(form.distrito) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <h5 class="page-header">Dirección</h5>
                                                    </div>
                                                    <div class="form-group  col-md-12">
                                                        <div class="col-md-2">
                                                            {{ form_label(form.zona) }}
                                                        </div>
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.zona) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group  col-md-12">
                                                        <div class="col-md-2">
                                                            {{ form_label(form.direccion) }}
                                                        </div>
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.direccion) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade inner-all" id="tab1-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="page-header">
                                                    INFORMACIÓN GEOREFERENCIAL<br>
                                                </h4>
                                                <div id="map"></div>
                                            </div>
                                            <div class="form-group col-md-6 form-inline">
                                                {{ form_label(form.latitud) }}
                                                {{ form_widget(form.latitud) }}
                                            </div>
                                            <div class="form-group col-md-6 form-inline">
                                                {{ form_label(form.longitud) }}
                                                {{ form_widget(form.longitud) }}
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                                <!--/ End tabs content -->
                                <!--/ End pager -->
                            </div><!-- /.panel -->
                        </div><!-- /#basic-wizard-horizontal -->
                        <!--/ End basic wizard horizontal-->
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-left">
                    <div id="msgApertura"></div>
                    <input type="hidden" id="validarApertura" value="0">
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" onclick="verificarAperturaSubcentro()">Validar Datos
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div><!-- /.modal-dialog -->
<script>
    $(function () {
        $(".validar").keydown(function (event) {
            if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !== 190 && event.keyCode !== 110 && event.keyCode !== 8 && event.keyCode !== 9) {
                return false;
            }
        });
    });

    $(".nivel").change(function () {
        if ($(this).val() == 11) {
            $('.nivel11').val('');
            if ($(this).is(':checked') == true) {
                $('.nivel11').attr('disabled', false);
            } else {
                $('.nivel11').attr('disabled', true);
            }
        }
        if ($(this).val() == 12) {
            $('.nivel12').val('');
            if ($(this).is(':checked') == true) {
                $('.nivel12').attr('disabled', false);
            } else {
                $('.nivel12').attr('disabled', true);
            }
        }
        if ($(this).val() == 13) {
            $('.nivel13').val('');
            if ($(this).is(':checked') == true) {
                $('.nivel13').attr('disabled', false);
            } else {
                $('.nivel13').attr('disabled', true);
            }
        }
    });

    $(".dato54").click(function () {
        $('#validarApertura').val(0);
        $('#msgApertura').empty();
    });

    $("#form_dependencia").change(function () {
        //alert($(this).val());
        $('#convenio').hide();
        $('#convenio').hide();
        if ($(this).val() == 2) {
            $('#convenio').show();
        }
        if ($(this).val() == 3) {
            $('#constitucion').show();
        }
    });

    function verificarAperturaSubcentro() {
        if ($('#form_subcea').val() == '') {
            alert('En el punto DATOS GENERALES, debe ingresar el nombre del nuevo Sub centro.');
            return false;
        } else if ($('#form_telefono').val() == '') {
            alert('En el punto DATOS GENERALES, debe ingresar el Telefono de Referencia.');
            return false;
        } else if ($('#form_director').val() == '') {
            alert('En el punto DATOS GENERALES, debe ingresar los Datos del Director/Encargado/Propietario.');
            return false;
        } else if ($('#form_departamento').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar el departamento de la Ubicación Geográfica.');
            return false;
        } else if ($('#form_provincia').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar la provincia de la Ubicación Geográfica.');
            return false;
        } else if ($('#form_municipio').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar el municipio de la Ubicación Geográfica.');
            return false;
        } else if ($('#form_canton').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar el canton de la Ubicación Geográfica.');
            return false;
        } else if ($('#form_localidad').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar la localidad de la Ubicación Geográfica.');
            return false;
        } else if ($('#form_distrito').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar el distrito educativo.');
            return false;
        } else if ($('#form_zona').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe ingresar la zona.');
            return false;
        } else if ($('#form_direccion').val() == '') {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe ingresar la direccion.');
            return false;
        } else if ($('#form_latitud').val() == -16.50626 || $('#form_longitud').val() == -68.12794) {
            alert('En el punto UBICACIÓN GEOGRÁFICA, debe seleccionar la informacion georeferencial.');
            return false;
        } else {
            $('#validarApertura').val(1);
            $('#msgApertura').empty();
            $('#msgApertura').append('<div class="alert alert-success"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><i class="glyphicon glyphicon-ok"></i>Datos de apertura de Sub centro validados con éxito.</div>');
        }
    }
</script>