{% extends 'layoutDgesttla.html.twig' %}

{% block headercontent %}
<!-- Start header content -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Formación Técnica Tecnológica <span>Malla Curricular</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Estás aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path('principal_web')}}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Generales</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End header content -->
{% endblock %}

{% block bodycontent %}

    {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Turnos y Paralelos', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Lista'} %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">                                                    
                        <div class="col-md-12">
                            <h3 class="panel-title text-center"><i class="glyphicon glyphicon-bishop"></i><div id="pensumtitulo">...</div></h3>
                        </div>
                    </div>
                    <div id="nuevomodulo">
                        <div class="panel rounded shadow">
                            <div class="panel-body no-padding">
                                <form id="formnuevaasignatura" onsubmit="enviaformmodulo(); return false;" method="post" style="">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Pensum</label>
                                                    <select onchange="changePensum()" name="pensumid" id="pensumid" class="pensumid form-control input-sm mb-15">
                                                        <option value="-999">Elija un pensum...</option>
                                                            {% for data in pensum %}
                                                                <option value="{{data.pensum_id}}">{{ data.pensum }}</option>
                                                            {% endfor %}
                                                    </select> 
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Periodo</label>                                                            
                                                    <select name="periodoid" id="periodoid" class="form-control input-sm mb-15">
                                                        <option value="-999">Elija un periodo...</option>
                                                            {% for data in periodo %}
                                                                <option value="{{data.id}}">{{ data.periodo }}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>          
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label class="control-label">Código</label>
                                                        <input name="codigo" id="codigo" class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label class="control-label">Descripción de la Asignatura</label>
                                                        <input name="asignatura" id="asignatura" class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                
                                    </div>
                                    <div class="form-footer">
                                        <div class="col-sm-offset-5">
                                            <a onclick="nuevomodulocerrar();" class="btn btn-danger btn-stroke">
                                                <i class="fa fa-ban" aria-hidden="true"></i> Limpiar
                                            </a>
                                            <button id="botonguardarmodulo" type="submit" class="btn btn-success btn-stroke">
                                                <i class="fa fa-floppy-o"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de Asignaturas</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    {% if materias is not empty %}
                        <div id="no-more-tables">
                            <table class="table table-striped table-primary">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Periodo</th>
                                        <th>Código</th>
                                        <th>Asignatura</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for materia in materias %}
                                        <tr>
                                            <td data-title="N°">{{ loop.index }}</td>
                                            <td data-title="Periodo">{{ materia.periodo }}&nbsp;</td>
                                            <td data-title="Código">{{ materia.codigo_materia }}&nbsp;</td>
                                            <td data-title="Asignatura">{{ materia.asignatura }}&nbsp;</td>                                            
                                            <td data-title="Acciones">
                                                {{ materia.periodo_id }}---{{ materia.pensum_id }}---{{ materia.denominacion_id }}---{{ materia.materia_id }}
                                                
                                                {#<form action="{{path('dgesttla_info_personal_adm_new')}}" method="post" style="display:inline-block">
                                                    <input type="hidden"  name="form[idPersona]" id="form_idPersona" value="{{persona.id}}">
                                                    <input type="hidden" name="form[idInstitucion]" id="form_idInstitucion"  value="{{institucion.id}}">
                                                    <input type="hidden" name="form[gestion]" id="form_gestion" value="{{gestion}}">
                                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Inscribir</button>
                                                </form>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-warning"></i> No hay materias en la presente carrera
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
<script>

    function changePensum() {
        pend = document.getElementById("pensumid");
        if (pend.selectedIndex != -1){
            textpensum = pend.options[pend.selectedIndex].text;            
            $('#pensumtitulo').html(textpensum);
        }
    }

    function nuevomodulocerrar(){
        $("#pensumid").val('');
        $("#codigo").val('');
        $("#asignatura").val('');
        $("#periodoid").val('');
        $('#pensumtitulo').html('...');
    }

    function modalmaterias(){
        $('#modal').empty();
    }

    function enviaformmodulo() {
        var msj = '\n\n ¿Está segura/o de continuar?';

        var pensumid = document.getElementById("pensumid").selectedIndex;            

        var per = document.getElementById("periodoid").selectedIndex;            
        if ( per == null || per == '0' ) {
            alert('Elija un periodo.');
            return false;
        }
        else{
            var codigo = document.getElementById("codigo").value;
            if( codigo == null || codigo.length == 0 || /^\s+$/.test(codigo) ) {
                    alert('Describa el Código.');
                    return false;
            }
            else{
                var asignatura = document.getElementById("asignatura").value;
                if( asignatura == null || asignatura.length == 0 || /^\s+$/.test(asignatura) ) {
                    alert('Describa la asignatura.');
                    return false;
                }
                else{
                    if (confirm('Está por crear una nueva asignatura: '+asignatura+msj)) {
                        var formData = $('#formnuevaasignatura').serialize();
                        
                        $.ajax({
                            type: 'post',                                        
                            url: Routing.generate('dgesttla_malla_tecnica_asignatura_add'),
                            data: formData,
                            beforeSend: function () {
                                $("#nuevomodulo").hide();
                                $("#modulosbasid").empty();            
                            },
                            success: function () {
                                $("#periodoid option").each(function () {
                                if ($(this).text() === "-999") {
                                    $(this).prop("selected", true);
                                    return;}
                                else{
                                    $(this).prop("selected", false);
                                    return;}
                                });                                             

                                window.location.href =  Routing.generate('dgesttla_malla_curricular'); 
                            },
                            error: function () {

                            }
                        });
                    }
                    return false;
                }
            }                
        }
    };
</script>
{% endblock %}

