{% extends 'layoutEspecialSie.html.twig' %}

{% block contentoption %}

<!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Menú Principal <span>Inicio</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
    <div class="body-content animated fadeIn">
        {# <div class="col-md-6">
            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel panel-primary shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Bono Juancito Pinto</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/images/bjpinto/bjp_A.jpeg" alt="Los Angeles" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/images/bjpinto/bjp_B.jpeg" alt="Chicago" style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/MN9afgpY3w0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
        <div class="col-md-6 col-md-offset-3">
            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel panel-primary shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Notificaciones</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="callout callout-info">
                                    <strong>RESOLUCIÓN MINISTERIAL N° 001/2021. SUBSISTEMA DE EDUCACIÓN ALTERNATIVA Y ESPECIAL</strong><a href="https://www.minedu.gob.bo/index.php?option=com_content&view=article&id=4782&catid=90&Itemid=933" target="_blank" class="btn btn-link btn-sm"><i class="fa fa-fw fa-download"></i> Descargar</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    {% for entity in entities|slice(0, 5) %}
                                        {% if entity.rolTipo.id == app.session.get('roluser') %}
                                            <li class="list-group-item">
                                                <span class="badge {% if(entity.notif.noticiaTipo) == 0  %}badge-success{% elseif(entity.notif.noticiaTipo) == 1 %}badge-warning{% else %}badge-danger{% endif %}">{% if(entity.notif.noticiaTipo) == 0  %}Normal{% elseif(entity.notif.noticiaTipo) == 1 %}Urgente{% else %}Muy Urgente{% endif %}</span>
                                                <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> {% if entity.notif.fechaCrea %}{{ entity.notif.fechaCrea|date('d-m-Y') }}{% endif %} | {{ entity.notif.titulo }}</strong></h5>
                                                <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> {{ entity.notif.mensaje|raw }}</p>
                                                <p class="list-group-item-text text-green">
                                                    {% if entity.notif.adjunto %}
                                                        Descargar adjunto: <a href="{{ asset('uploads/adjuntos/' ~ entity.notif.adjunto) }}" target="_blank"><img src="{{asset('img/pdf.png') }}" alt="{{ entity.notif.adjunto }}" width="20" height="20"></a>
                                                    {% endif %}
                                                </p>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        {#
                                        <div class="alert alert-info" role="alert">
                                            <i class="fa fa-fw fa-info-circle"></i> Sin notificaciones
                                        </div>
                                        #}
                                    {% endfor %}
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge badge-danger">Urgente</span>
                                        <h5 class="list-group-item-heading text-primary"><strong><span class="glyphicon glyphicon-time"></span> La Paz, 16 de marzo de 2022</strong></h5>
                                        <br>
                                        <p class="list-group-item-text list-group-item-text-notif text-justify"><i class="fa fa-rss-square text-warning"></i> Informamos a nuestros usuarios que debido a ataques del virus informático Redline Stealer, que recopila información de inicios de sesión, contraseñas, datos de autocompletar, cookies y detalles de tarjetas de crédito de todos los navegadores web basados en Gecko y Chromium, solicitamos tomar las siguientes acciones:


                                        </p>
                                        <br>
                                        <strong>
                                        <ul>
                                            <li>Cambie las contraseñas actuales.</li>
                                            <li>Evitar guardar las contraseñas en el navegador.</li>
                                            <li>Escanee su computadora con un antivirus.</li>
                                        </ul>
                                        </strong>
                                    </li>   

                                </ul>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        var registroConsol = function (gestionid) {
            $.ajax({
                type: 'get',
                url: Routing.generate('herramienta_especial_registro_consol', {'gestionid': gestionid}),
                beforeSend: function () {
                    $("#tableConsol").empty();
                    $("#tableConsol").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" style="width: 80px;" /></div>');
                },
                success: function (data) {
                    $("#listaConsol").remove();
                    $("#tableConsol").empty();
                    $("#tableConsol").append(data);
                    cargatablas();
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        };

        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#listaConsol tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "#"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );

            // DataTable
            var table = $('#listaConsol').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [8,7,6,5] }
                    ],
                }
            );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };

        $(document).ready(function(){
            cargatablas();
        });
    </script>
{% endblock %}