{% if gestion is not null and gestion != '-' %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- Start widget newsletter -->
        <div class="panel rounded shadow">
            <div class="panel-body rounded" style="background:#ff8a80  ; color: #ffffff; text-shadow: 1px 2px #212121">
                <div class="inner-all">
                    <h4 class="text-uc text-center">{{titulo}} - <span class="label label" style="background:#37BC9B  ; color: #ffffff; text-shadow: 1px 1px #212121">{{gestion}}</span></h4>
                    <div class="row" style = "font-size:1.1em">
                        <div class="col-md-4 text-left">
                            <b>Código SIE:</b> {{sie}}
                        </div>
                        <div class="col-md-4 text-center">
                            Centro de Educación Especial: {{ieducativa}}
                        </div>
                        <div class="col-md-4 text-right">
                            <b>Opción:</b> {{opcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}