<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- Start widget newsletter -->
        <div class="panel rounded shadow">
            <div class="panel-body rounded">
                <div class="inner-all">
                    <h4 class="text-uc text-center">{{titulo}} - <span class="label label-warning">{{gestion}}</span></h4>
                    <div class="row">
                        <div class="col-md-4 text-left">
                            Código SIE : {{sie}}
                        </div>
                        <div class="col-md-4 text-center">
                            Centro de Educación Especial: {{ieducativa}}
                        </div>
                        <div class="col-md-4 text-right">
                            Opción: {{opcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
