<center><div id="chartContainer"> </div></center>
<script src="{{asset('juegos/assets/global/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{asset('juegos/assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<script>
    $(function () {
        {% autoescape %}
            {{ datoGrafico|raw }} {# var won't be escaped #}
        {% endautoescape %}
    });
</script>  


<!-- Highcharts Charts -->
<script src="{{ asset('js/highcharts/highcharts.js')}}"></script>
<script src="{{ asset('js/highcharts/highcharts-3d.js')}}"></script>
<script src="{{ asset('js/highcharts/exporting.js')}}"></script>