{% extends 'layoutReporte.html.twig' %}
{% block fechaReporte %}
    {% if fechaEstadisticaRegular is defined  %}
        {{ fechaEstadisticaRegular }}
    {% endif %}
{% endblock %}
{% block contentoption %}
    {% set ingresa = 0 %}
    {% set ingresaAdmin = 0 %}
    {% for item in app.session.get('roluser') %} 
        {% if item.id == 8 or item.id == 11 or item.id == 32 or item.id == 33 or item.id == 39 %} 
             {% set ingresa = 1 %}
             {% if item.id == 8 or item.id == 39 %} 
                {% set ingresaAdmin = 1 %}
             {% endif %} 
        {% endif %} 
    {% endfor %} 
    <!-- Start page header -->
    <div id="tour-6" class="header-content">
        <h2><i class="fa fa-th-large"></i>Matrícula Educativa<span>Subsistema de Educación Regular</span></h2>
        <div" class="breadcrumb-wrapper hidden-xs">
            <!--<span class="label">Info.:</span>-->
            <ol class="breadcrumb">
                <li class="active">Gestión: {{gestion}}</li>
                <!--<li><i class="fa fa-ellipsis-v" aria-hidden="true"></i></li>-->
            </ol>
        </div>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->
    <div class="body-content animated fadeIn">
        {% if infoEntidad is defined  %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Start widget newsletter -->
                    <div class="panel text-center rounded shadow">
                        <div class="panel-body bg-lilac rounded">
                            <!--<div class="inner-all">-->
                                <h5 class="text-uc"><b>{{infoEntidad.nombre}}</b></h5>
                            <!--</div>-->
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    <!--/ End widget newsletter -->
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        {% for type, flashMessage in app.session.flashbag.all() %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {% if flashMessage.title is defined %}
                                <strong><i class='fa fa-envelope'></i> {{ flashMessage.title }}: </strong>
                                    {{ flashMessage.message }}
                                {% else %}
                                    {{ type }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>        
            </div>
        {% endif %}
        <div class="row">
            {% if infoSubEntidad is defined %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title"><i class='fa fa-cloud-download' aria-hidden="true"></i></h3>
                            </div>  
                            <div class="pull-right">
                                {% if ingresaAdmin == 1 %}
                                    <button id="tour-13" onclick="document.forms['formEstadisticaRegularPdfTemp'].submit();" title="Descargar en formato PDF" class="btn btn-primary">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </button>
                                {% endif %} 
                                <button id="tour-13" onclick="document.forms['formEstadisticaRegularPdf'].submit();" title="Descargar en formato PDF" class="btn btn-googleplus">
                                    <i class="fa fa-file-pdf-o"></i>
                                </button>
                                <button id="tour-14" onclick="document.forms['formEstadisticaRegularXls'].submit();" title="Descargar en formato EXCEL" class="btn btn-success">
                                    <i class="fa fa-file-excel-o"></i>
                                </button>
                            </div>     
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                    <div id="tour-8" class="panel shadow">
                        <div class="panel-heading">
                            <div id="tour-12" class="pull-left">
                                <h3 class="panel-title"><i class='fa fa-tasks'></i> Matrícula por {% if infoSubEntidad is defined %}{{infoSubEntidad[0]['nombrearea']}}{%endif%}</h3>
                            </div>   
                            <div class="pull-right"> 
                            </div>                          
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div id="tour-15" style="display: block; min-height: 500px;" class="panel-body"> 
                            {% if infoEstadistica is defined %}
                                <span class="text-primary pull-right"><b>{{(infoEstadistica['cant_efectivo'])|number_format(0, ',', '.')}}</b></span><span class="text-primary"><b>Total</b></span>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div><!-- /.progress -->   
                            {% endif %}       
                            {% set contadorColor = 0 %}      
                            {% for data in infoSubEntidad%}
                                {% set cantidad = data.total_inscrito %}  
                                {% set total = infoEstadistica['cant_efectivo'] %} 
                                {% set porcentaje = (cantidad*100)/(total)%} 
                                {% set id = data.codigo %}
                                {% set nombre = data.nombre %} 
                                {% set rol = data.rolusuario %}                                 
                                <form name="form" role="form" action="{{ path('reporte_regular_informacion_general') }}" method="POST"> 
                                    <input type="hidden" name="codigo" value="{{id}}" />
                                    <input type="hidden" name="rol" value="{{rol}}" />
                                    <button type="submit" id="submit{{id}}" style="display:none;"></button>
                                    <a href="javascript:;" class="text-inverse" style="text-decoration:none;" onclick="$('#submit{{id}}').click();">
                                         <span class="pull-right" style="width:50px; text-align:right"><b>{{cantidad|number_format(0, ',', '.')}}</b></span><span class="">{{nombre}}</span>
                                    </a>    
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentaje}}%">
                                                
                                            </div>
                                        </div><!-- /.progress -->
                                </form> 
                            {% endfor %}
                        </div><!-- /.panel-body -->
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>  
                <form name="formEstadisticaRegularPdf" id="formEstadisticaRegularPdf" role="form" action="{{ path('reporte_regular_informacion_general_print_pdf') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />     
                </form> 
                {% if ingresaAdmin == 1 %} 
                    <form name="formEstadisticaRegularPdfTemp" id="formEstadisticaRegularPdfTemp" role="form" action="{{ path('reporte_regular_informacion_general_print_pdf_temp') }}" method="POST">  
                        <input type="hidden" name="gestion" value="{{ gestion }}" />
                        <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                        <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />     
                    </form>                     
                {% endif %} 
                <form name="formEstadisticaRegularXls" id="formEstadisticaRegularXls" role="form" action="{{ path('reporte_regular_informacion_general_print_xls') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />   
                </form>                      
            {% endif %}
            {% if infoEntidad is defined %}
                {% if infoEntidad.rolactual == 9 or infoEntidad.rolactual == 5 %}
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">                        
                            <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title"><i class='fa fa-home'></i> Información</h3>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <!-- Start project overview -->                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div id="lienzoMapa" style="width: auto; height: 320px;"></div>
                                    </div>   
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            &nbsp;
                                        </div>
                                    </div>  
                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mini-stat-type-4 bg-danger shadow">
                                            <form name="formCaratula" id="formCaratula" role="form" action="{{ path('sie_ue_informacion_general_impresion_caratula') }}" method="POST">
                                                <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                <a class="btn btn-danger" onclick="document.forms['formCaratula'].submit();">
                                                    <h4>Información</br>General</br><i class="fa fa-download fa-2x"></i></h4>
                                                </a>
                                            </form>
                                        </div>
                                    </div>-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mini-stat-type-4 bg-warning shadow">
                                            <form name="formInformacionEstadistica" id="formInformacionEstadistica" role="form" action="{{ path('sie_ue_informacion_general_impresion_informacionestadistica') }}" method="POST">
                                                <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                <a href="#" class="btn btn-warning" onclick="document.forms['formInformacionEstadistica'].submit();">
                                                    <h4>Información</br>Estadística</br><i class="fa fa-download fa-2x"></i></h4>
                                                </a>
                                            </form>
                                        </div>
                                    </div> 
                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mini-stat-type-4 bg-success shadow">
                                            <form name="formOfertaCurricular" id="formOfertaCurricular" role="form" action="{{ path('sie_ue_informacion_general_impresion_ofertacurricular') }}" method="POST">
                                                <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                <a class="btn btn-success" onclick="document.forms['formOfertaCurricular'].submit();">
                                                    <h4>Oferta</br>Curricular</br><i class="fa fa-download fa-2x"></i></h4>
                                                </a>
                                            </form>
                                        </div>
                                    </div> -->
                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mini-stat-type-4 bg-primary shadow">
                                            <form name="formDocente" id="formDocente" role="form" action="{{ path('sie_ue_informacion_general_impresion_docente') }}" method="POST">
                                                <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                <a class="btn btn-primary" onclick="document.forms['formDocente'].submit();">
                                                    <h4>Maestros <i class="fa fa-download"></i></h4>
                                                </a>
                                            </form>                 
                                            <form name="formAdministrativo" id="formAdministrativo" role="form" action="{{ path('sie_ue_informacion_general_impresion_administrativo') }}" method="POST">
                                                <input type="hidden" name="gestion" value="{{ gestion }}" />
                                                <input type="hidden" name="sie" value="{{ infoEntidad.id }}" />  
                                                <a class="btn btn-primary" onclick="document.forms['formAdministrativo'].submit();">
                                                    <h4>Administrativos <i class="fa fa-download"></i></h4>
                                                </a>
                                            </form>
                                        </div>
                                    </div>-->
                                </div><!-- /.panel-body -->
                            </div>     
                        </div>    
                {% endif %}
            {% endif %}
            <div id="tour-7" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">     
                <div class="row">                                       
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <!--<div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Estudiantes Matriculados - Nivel de Estudio</h3>
                                </div>
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(2,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-circle-o'></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">         

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div id="chartContainerEfectivoNivel" style="height:300px;"> </div> 
                                    </div>   
                                    
                                </div>                            
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <!-- 
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-venus-mars'></i> Estudiantes Matriculados - Género</h3>
                                </div>
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(3,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-pie-chart'></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div> 
                            -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">
                                    
                                    <div id="chartContainerEfectivoGenero" style="height: 300px;"> </div>

                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>                    
                </div> 
                <div class="row">                   
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                            <!--
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-map'></i> Estudiantes Matriculados - Dependencia</h3>
                                </div>
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(5,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-bar-chart'></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">    
                                    <div id="chartContainerEfectivoDependencia" style="height: 300px;"> </div> 
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div> 
                <div class="row">                                       
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default shadow">
                                <div class="ribbon-wrapper top-left">
                                    <div class="ribbon ribbon-danger">Nuevo</div>
                                </div>
                            <!--<div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Estudiantes Matriculados - Nivel de Estudio y Año de Escolaridad</h3>
                                </div>
                                <div class="pull-right">
                                    <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse" onclick="seeGraphic(2,{{infoEntidad.id}},{{infoEntidad.rolactual}});">
                                        <i class='fa fa-circle-o'></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            -->
                            <div class="panel-body">
                                <!-- Start project overview -->
                                <div class="row">         

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div id="chartContainerEfectivoNivelGrado" style="height:400px;"> </div> 
                                    </div>   
                                    
                                </div>                            
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div> 
                {% if infoEstadisticaUE is defined and infoEstadisticaEE is defined %}
                    <div class="row">     
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">             
                            <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Unidades Educativas - Dependencia</h3>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <!-- Start project overview -->
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat-type-4 bg-googleplus shadow">
                                                <i class="fa fa-home fa-2x"></i>
                                                <h2>{{infoEstadisticaUE['cant_publica']|number_format(0, ',', '.')}}</h2>
                                                <h4>Pública</h4>
                                            </div>
                                        </div>    
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat-type-4 bg-warning shadow">
                                                <i class="fa fa-home fa-2x"></i>
                                                <h2>{{infoEstadisticaUE['cant_convenio']|number_format(0, ',', '.')}}</h2>
                                                <h4>Convenio</h4>
                                            </div>
                                        </div>   
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="mini-stat-type-4 bg-teal shadow">
                                                <i class="fa fa-home fa-2x"></i>
                                                <h2>{{infoEstadisticaUE['cant_privada']|number_format(0, ',', '.')}}</h2>
                                                <h4>Privada</h4>
                                            </div>
                                        </div>   
                                    </div>                            
                                </div><!-- /.panel-body -->
                            </div>
                        </div>                         
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">             
                            <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title"><i class='fa fa-sort-amount-asc'></i> Edificios</h3>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <!-- Start project overview -->
                                    <div class="row">                           
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="mini-stat-type-4 bg-facebook shadow">
                                                <i class="fa fa-building fa-2x"></i>
                                                <h2>{{infoEstadisticaEE['cant_total']|number_format(0, ',', '.')}}</h2>
                                                <h5>Ed. Educativo</h5>
                                            </div>
                                        </div>                                   
                                    </div>                            
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div>    
                {%endif%}                     
                    {% if ingresa == 1 and 1 > 1 %} 
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-default shadow">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <h3 class="panel-title"><i class='fa fa-venus-mars'></i> Valoraciones Cuantitativas</h3>
                                        </div><!-- /.pull-left -->
                                        <div class="pull-right">
                                            <button title="" data-original-title="" class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse">
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </div><!-- /.pull-right -->
                                        <div class="clearfix"></div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <!-- Start project overview -->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="panel-body bg-teal">
                                                    <div class="ribbon-wrapper">
                                                    </div><!-- /.ribbon-wrapper -->
                                                    <ul class="inner-all list-unstyled">
                                                        <li class="text-center" onclick="document.forms['formEstadisticaRegularValoracionEnDesarrolloXls'].submit();">
                                                            <i class="fa fa-file-excel-o fa-5x"></i>
                                                        </li>
                                                        <li class="text-center" onclick="document.forms['formEstadisticaRegularValoracionEnDesarrolloXls'].submit();">
                                                            <h4 class="text-capitalize">En Desarrollo</h4>
                                                        </li>
                                                    </ul><!-- /.list-unstyled -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-body -->
                                </div>
                            </div>                    
                        </div>  
                    {%endif%}       
            </div> 
               
            {% if ingresa == 1 %} 
                <form name="formEstadisticaRegularValoracionEnDesarrolloXls" id="formEstadisticaRegularValoracionEnDesarrolloXls" role="form" action="{{ path('reporte_regular_informacion_general_valoracion_cuantitativa_endesarrollo_print_xls') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />   
                </form>     
                <form name="formEstadisticaRegularValoracionEnDesarrolloPdf" id="formEstadisticaRegularValoracionEnDesarrolloPdf" role="form" action="{{ path('reporte_regular_informacion_general_valoracion_cuantitativa_endesarrollo_print_pdf') }}" method="POST">  
                    <input type="hidden" name="gestion" value="{{ gestion }}" />
                    <input type="hidden" name="codigo" value="{{ infoEntidad.id }}" />  
                    <input type="hidden" name="rol" value="{{ infoEntidad.rolactual  }}" />   
                </form>                      
            {% endif %}        
        </div>
        <div class="row">
            <div class="alert alert-info">
                <span class="alert-icon"><i class="fa fa-info"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">

                        <li class="pull-left notification-sender"><span><a>Estudiante matriculado: </a></span> Persona que se registró en el libro de inscripciones de una Unidad Educativa en cualquier año de escolaridad y nivel del Subsistema de Educación Regular durante una gestión escolar dada. </li>
                        <li class="pull-right notification-time"></li>
                        
                        <li class="pull-left notification-sender"><span><a>Nivel educativo: </a></span> Se refiere a la estructura del subsistema de educación regular, que comprende a los niveles: i) Inicial en familia comunitaria; ii) Primaria comunitaria vocacional; y, iii) Secundaria comunitaria productiva. </li>
                        <li class="pull-right notification-time"></li>

                        <li class="pull-left notification-sender"><span><a>Año de escolaridad: </a></span> Se refiere al grado que cursa un estudiante en una gestión escolar dada. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
                        <li class="pull-right notification-time"></li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa Fiscal o Estatal: </a></span> Instituciones financiadas y administradas por el Estado. Por tanto, son gratuitas. </li>
                        <li class="pull-right notification-time"></li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa de Convenio: </a></span> Instituciones financiadas por privados y el Estado, pero administradas por privados. Por lo tanto, no son necesariamente gratuitas. </li>
                        <li class="pull-right notification-time"></li>
                        
                        <li class="pull-left notification-sender"><span><a>Unidad Educativa Privada: </a></span> Instituciones financiadas y administradas por privados. Por tanto, no son de carácter gratuito.&emsp; </li>
                        <li class="pull-right notification-time"></li>
                        
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <!--/ END ADDITIONAL ELEMENT -->
    <script>
        $(document).ready(function() {

            Highcharts.setOptions({
                lang: {
                    decimalPoint: ',',
                    thousandsSep: '.'
                }
            });

            
            {% autoescape %}
                {% if mensaje is defined %}
                    {{ mensaje|raw }}   
                {%endif%} 
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoMatricula|raw }}
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoNivel|raw }}
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoNivelGrado|raw }}
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoGenero|raw }} 
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoArea|raw }}
            {% endautoescape %}

            {% autoescape %}
                {{ datoGraficoDependencia|raw }}
            {% endautoescape %}


            $(function () {
                chartContainerEfectivoNivelLoad(); 
                chartContainerEfectivoNivelGradoLoad(); 
                chartContainerEfectivoGeneroLoad();  
                chartContainerEfectivoAreaLoad(); 
                chartContainerEfectivoDependenciaLoad(); 
            });  

            function seeGraphic (infoTipo,infoCodigo,infoRol) {
                $("#modal-page").modal(
                    {
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    }
                ); 
                if(infoTipo == 1){
                    $("#modal-page-header").empty().append("<i class='fa fa-bar-chart'></i>"); 
                    chartContainerMatriculaLoad();        
                }
                if(infoTipo == 2){
                    $("#modal-page-header").empty().append("<i class='fa fa-circle-o'></i>");    
                    chartContainerEfectivoNivelLoad(); 
                }
                if(infoTipo == 3){
                    $("#modal-page-header").empty().append("<i class='fa fa-pie-chart'></i>");  
                    chartContainerEfectivoGeneroLoad();  
                }
                if(infoTipo == 4){
                    $("#modal-page-header").empty().append("<i class='fa fa-area-chart'></i>");    
                    chartContainerEfectivoAreaLoad(); 
                }
                if(infoTipo == 5){
                    $("#modal-page-header").empty().append("<i class='fa fa-bar-chart'></i>");  
                    chartContainerEfectivoDependenciaLoad(); 
                }
                if(infoTipo == 6){
                    $("#modal-page-header").empty().append("<i class='fa fa-circle-o'></i>");    
                    chartContainerEfectivoNivelGradoLoad(); 
                }
                
                //$.ajax({
                //    type: 'get',
                //    data: ({tipo:infoTipo, codigo: infoCodigo, rol: infoRol}),
                //    url: Routing.generate('reporte_regular_informacion_general_chart'),
                //    beforeSend: function () {                    
                //        $("#modal-page").modal(
                //            {
                //                show: true,
                //                backdrop: 'static',
                //                keyboard: false
                //            }
                //        );
                //        $("#modal-page-header").empty();
                //        $("#modal-page-header").append('<span>Cargando...</span>');
                //        $("#modal-page-body").empty();
                //        $("#modal-page-body").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}"  /></div>');
                //    },
                //    success: function (data) {               
                //        $("#modal-page").modal(
                //            {
                //                show: true,
                //                backdrop: 'static',
                //                keyboard: false
                //            }
                //        );
                //        $("#modal-page-header").empty();
                //        $("#modal-page-header").append('<p>Estadística</p>');
                //        $("#modal-page-body").empty();
                //        $("#modal-page-body").append(data);
                //    },
                //    statusCode: {
                //        500: function () {           
                //        },
                //        404: function () {                 
                //        }
                //    }
                //});
            };

        });
    </script>
    {% if infoEntidad is defined %}
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
            <script>
            map = new OpenLayers.Map("lienzoMapa");
            map.addLayer(new OpenLayers.Layer.OSM());
        
            var lonLat = new OpenLayers.LonLat( {{infoEntidad.cordy}}, {{infoEntidad.cordx}} )
                    .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                    );                
            var zoom=16;
        
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);
            
            markers.addMarker(new OpenLayers.Marker(lonLat));
            
            map.setCenter (lonLat, zoom);
            </script>
    {% endif %}
{% endblock %}


