<div class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-striped table-default" id="materias_institucion" >
            <thead>
            <tr>
                <th class="text-center border-right" style="min-width: 5px">No.</th>
                <th>Curso</th>
                <th>Tipo de Nota</th>
                <th>Paralelo</th>
                <th>Grado</th>
                <th>Turno</th>
                <th>Asignatura</th>

            </tr>
            </thead>
            <tfoot>
            <tr>
                <th class="text-center border-right" style="min-width: 5px">No.</th>
                <th>Curso</th>
                <th>Tipo de Nota</th>
                <th>Paralelo</th>
                <th>Grado</th>
                <th>Turno</th>
                <th>Asignatura</th>
            </tr>
            </tfoot>
            <tbody id = "contenido_institucion">
            {% for materias in infomaterias %}
                <tr>
                    <td class="text-center" style="min-width: 5px">{{ loop.index }}</td>
                    <td>{{ materias.ic_id }}</td>
                    <td>{{ materias.nota_tipo }}</td>
                    <td>{{ materias.paralelo }}</td>
                    <td>{{ materias.grado }}</td>
                    <td>{{ materias.turno }}</td>
                    <td>{{ materias.asignatura }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block javascripts%}

    <script>

        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#materias_institucion tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "Ver"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );

            // DataTable
            var table = $('#materias_institucion').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };
        $( document ).ready(function() {
            cargatablas();
        });
    </script>

{% endblock %}