{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />



    <link href="{{asset('filefile/css/bootstrap-fileupload.min.css')}}" rel="stylesheet">
    <link href="{{asset('filefile/css/bootstrap-fileupload.css')}}" rel="stylesheet">
{% endblock %}



{% block contentoption%}

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1><i class="fa fa-upload animated flip"></i> Subir Archivo emp
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-exchange"></i> Información</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warningcons') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}

                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('successcons') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>

    </div>



    <!--div class='row'>

        <div class='col-md-8 col-md-offset-5'><div id="resultloading"></div></div>

    </div-->

    <!-- Modal -->


    <div class="row">


        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet portlet-blue">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4><i class="fa fa-home fa-fw"></i> Información Insitución Educativa</h4>
                            </div>
                            <div class="portlet-widgets">
                                <!-- Button Dropdown -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">

                            <div class="row">

                                <div class="col-md-12">
                                    <!--here the body of portlet-->

                                    {% if institutionData %}
                                        <div id="no-more-tables">
                                            <table class="table table-bordered table-hover cf">
                                                <thead class="cf">
                                                    <tr class="info">
                                                        <th>SIE</th>
                                                        <th>Institución Educativa</th>
                                                        <th>Dependencia</th>
                                                        <th>Descripción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-title="Sie">{{ institutionData[0].id }}</td>
                                                        <td data-title="Ins. Educativa">{{ institutionData[0].institucioneducativa }}</td>
                                                        <td data-title="CI">{{ institutionData[0].dependencia }}</td>
                                                        <td data-title="Nombre"> {{ institutionData[0].descripcion }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                {% else %}

                                    <div id="no-more-tables">
                                        <table class="table table-bordered table-hover cf">
                                            <thead class="cf">
                                                <tr class="info">
                                                    <th>SIE</th>
                                                    <th>Institución Educativa</th>
                                                    <th>Nro. Resolución</th>
                                                    <th>I.E Antes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-title="Sie">{{ instEdu.Id }}</td>
                                                    <td data-title="Ins. Educativa">{{ instEdu.institucioneducativa }}</td>
                                                    <td data-title="Nro. Resolución">{{ instEdu.NroResolucion }}</td>
                                                    <td data-title="I.E Antes"> {{ instEdu.DesUeAntes }}</td>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="clearfix"></div>



                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">

                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-append">
                                            <form class="form" method ="POST"  enctype="multipart/form-data" action="{{path('consolidation_sie_upfile_web')}}">

                                                <table class="table table-bordered table-hover cf" border=''>
                                                    <tr>
                                                        <td rowspan='1' align='center'>
                                                            <h4 class='text-blue'> Seleccione Archivo:</h4>
                                                        </td>

                                                        <td class='info'>
                                                            <p class='text-green'>Click sobre el enlace para subir el archivo</p>
                                                            <i class='fa fa-hand-o-right'></i> <div class="uneditable-input span6">
                                                                <i class="icon-file fileupload-exists"></i> 
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-file">
                                                                <span class="fileupload-new text-danger" style="background-color:lightwhite;font-size: 130%; color: #cc0033"> Subir Archivo EMP</span>
                                                                <span class="fileupload-exists text-danger">Cambiar</span>
                                                                <input type="file" name="siefile" required="required"/>
                                                            </span>
                                                            <input type="hidden" name="sie" value="{{sie}}"/>
                                                            <button class="btn btn-primary fileupload-exists" type="submit">Subir</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-12">
            <div class="portlet portlet-white">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4 class=''>Registro de Archivos Cargados</h4>

                    </div>
                    <div class="portlet-widgets">

                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinfoestudiante"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinfoestudiante" class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <div id="no-more-tables">
                            <small>
                                <table id="myTable" class="table table-bordered table-hover cf dataTable">

                                    <thead class="">
                                        <tr class="">
                                            <th>No.</th>
                                            <th>SIE</th>
                                            <th>Unidad Educativa</th>
                                            <th>Bimestre</th>
                                            <th>Operativo</th>

                                            <th>Gestión</th>
                                            <th>Distrito</th>
                                            <th>Fecha Subida</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in ueuploadfiles %}
                                            <tr>
                                                <td data-title="No.">{{loop.index}}</td>
                                                <td data-title="SIE">{{entity.id}}</a></td>
                                                <td data-title="Unidad Educativa">{{ entity.institucioneducativa }} </td>
                                                <td data-title="Bimestre" class="text-center"> {{entity.bimestre}}</td>
                                                <td data-title="Operativo" class="text-center">{{ entity.operativo }}</td>

                                                <td data-title="Gestión" class="text-center">{{ entity.gestion }}</td>
                                                <td data-title="Distrito" class="text-center">{{ entity.distrito }}</td>

                                                <td data-title="F. Subida." class="text-center">{{ entity.dateUpload |date('d-m-Y') }}</td>
                                                {%if entity.estadoFile==1%}
                                                    <td data-title="Estado" class='success' ><i class='fa fa-check-square-o'></i> Subido/En espera de consolidación</td>

                                                {%else%}
                                                    <td data-title="Estado" class='danger'><i class='fa fa-exclamation-triangle'></i>Corrupto</td>
                                                {%endif%}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('filefile/js/bootstrap-fileupload.js')}}"></script>
    <script src="{{asset('filefile/js/bootstrap-fileupload.min.js')}}"></script>
    <script>

        $('#form_up').click(function () {
            if ($('#form_upfile').val() == '') {
                alert('Debe seleccionar un archivo...');
                return false;
            }
            //alert($('#form_upfile').val());return false;
            $.ajax({
                url: "{{ path('consolidation_checkit_web') }}",
                type: "POST",
                data: {"data": 'krlos'},
                success: function (data) {
                    $('#resultloading').html(data.formulario);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' + errorThrown);
                }
            });

        });

    </script>


{% endblock %}
