{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-pencil"></i> Descargar Infra archivo <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="#">
                       Descargar Infra archivo
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>


            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% for flashMessage in app.session.flashbag.get('novalido') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Alerta!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            </div>
        </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
           
            <div class="panel rounded shadow">
                <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="pull-right">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding" id="mensajeArchivo">

                     {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form", 'id':'formInfraDownId'} } )}}
                            <div class="form-body">
                                <div class="form-group no-margin">
                                    <div class="row">
                                        <div class="col-md-3">
                                        {{form_label(form.sie)}}
                                            {{form_widget(form.sie)}}
                                        </div>
                                        <div class="col-md-3">
                                        {{form_label(form.gestion)}}
                                            {{form_widget(form.gestion)}}
                                        </div>
                                        <div class="col-md-3">
                                        {{form_label(form.operativo)}}
                                            {{form_widget(form.operativo)}}
                                        </div>
                                        <div class="col-md-3">
                                        </br>
                                            {{form_widget(form.search)}}
                                        </div>
                                    </div>
                                </div><!-- /.form-group -->
                              
                              
                            </div><!-- /.form-body -->
                            <div class="form-footer">
                                <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                            </div><!-- /.form-footer -->
                        {{form_end(form)}}

                    </div><!-- /.panel-body -->
            </div>

        </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <div id="geneFile">
            
          </div>
        </div>
        
      </div>
    </div>

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript" charset="utf-8" >
        var generateInfraFile = function () {
            //get the values
            sie = $('#form_sie').val();
            if (sie.length < 7) {
                alert("Necesita código SIE para generar el archivo");
                return false;
            }

            /*gestion = si = $('#form_gestion').val();
            bimestre = si = $('#form_bimestre').val();
            if (gestion.length == 0) {
                alert("Necesita seleccionar la Gestión");
                return false;
            }
            if (bimestre.length == 0) {
                alert("Necesita seleccionar el Bimestre");
                return false;
            }*/
            var formData = $('#formInfraDownId').serialize();
            $.ajax({
                type: 'post',
                data: formData,
                url: Routing.generate('downloadinfrafile_generate'),
                beforeSend: function () {
                    $("#geneFile").empty();
                    $("#geneFile").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="" /></div>');
                },
                success: function (data) {
                    $("#geneFile").empty();
                    $("#geneFile").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }

    </script>    
{% endblock %}
