{% extends 'SieRueBundle:Default:rue.html.twig' %}

{% block contentoption%}


    <div class="row">
        <div class="page-header">
            <h3 class="heading pull-left"><i class="fa fa-home animated flip"></i> Buscar ddd Institución Educativa <span class="sub-heading">{{app.session.get('fullname')}}</span></h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="separator bottom"></div>
    <div class="row">


        <div class="col-md-12">

            {% for flashMessage in app.session.flashbag.get('result') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> No se encontro información buscada.
                </div>
            {% endfor %}

            <!-- Website Stats  Widget -->
            <div class="panel" id="dashboard-tour-visits">
                <!--h1 class="page-header">Resultado de la Busqueda</h1-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-icon panel-success">
                                <div class="panel-heading">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="panel-body">

                                    {{form_start(form)}}

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"></span>
                                                {{ form_widget(form.institucioneducativa,{ 'attr':{'class': 'form-control','placeholder':'Inserte Intitución Educativa'}  }) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-success' } } ) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{form_end(form)}}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
