{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('assets/css/tablesorter.css')}}" rel="stylesheet" />
{% endblock %}
{% block contentoption %}



    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Inscripción Rezago Educativo
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('inscription_rezago_index')}}">Buscar</a></li>
                    <li class="active"> Resultado</li>

                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Bien!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Información Estudiante</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinfoestudiante"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinfoestudiante" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div id="no-more-tables">
                            <table class="table table-bordered table-hover cf">
                                <thead class="cf">
                                    <tr class="info">
                                        <th class="text-center">Rude</th>
                                        <th class="text-center">Nombre(s)</th>
                                        <th class="text-center">Paterno</th>
                                        <th class="text-center">Materno</th>
                                        <th class="text-center">CI</th>
                                        <th class="text-center">Complemento</th>
                                        <th class="text-center">Genero</th>
                                        <th class="text-center">F. Nacimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Rude">{{datastudent.codigoRude}}</td>
                                        <td data-title="Nombre">{{ datastudent.nombre|e }} </td>
                                        <td data-title="Paterno">{{datastudent.paterno|e}}</td>
                                        <td data-title="Materno">{{datastudent.materno|e}}</td>
                                        <td data-title="CI">{{datastudent.carnetIdentidad}} </td>
                                        <td data-title="Complemento" class="text-center">{{datastudent.complemento}}</td>
                                        <td data-title="Genero" class="text-center">{{datastudent.generoTipo}} </td>
                                        <td data-title="F. Nacimiento" class="text-center">{{datastudent.fechaNacimiento|date('d-m-Y')}}</td>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{{form_start(formMaterias, { 'attr':{'data-toggle':'validator','role':'form', 'class':'form' } } )}}
    <div class="row">
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 form-group">
                {{form_label(formMaterias.numeroacta)}}
                {{form_widget(formMaterias.numeroacta)}}
                <div class="help-block with-errors"></div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet portlet-default">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Registrar Notas - Áreas / Nota Promedia</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#talento0"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div id="talento0" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <small>
                                    <div class="row show-grid">
                                        <div class="col-xs-6">Unidad Educativa:</div>
                                        <div class="col-xs-6">{{dataCurrent.Institucioneducativa}}-{{dataCurrent.Institucioneducativa.id}}<br/></div>
                                        <div class="col-xs-6">Nivel:</div>
                                        <div class="col-xs-6">{{dataCurrent.NivelTipo}}<br/></div>

                                        <div class="col-xs-6">Grado:</div>
                                        <div class="col-xs-6">{{dataCurrent.GradoTipo}}<br/></div>
                                        <div class="col-xs-6">Paralelo:</div>
                                        <div class="col-xs-6">{{dataCurrent.ParaleloTipo}}<br/></div>
                                        <div class="col-xs-6">Turno:</div>
                                        <div class="col-xs-6">{{dataCurrent.TurnoTipo}}<br/></div>
                                    </div>
                                </small>

                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf">
                                        <thead class="cf">
                                            <tr class="info">
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Áreas</th>
                                                <th class="text-center">Nota Promedio</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for currentmateria in materiasnotas1 %}
                                                <tr><td>{{loop.index}}</td>
                                                    <td data-title="Asignatura"> {{currentmateria.asignatura}}</td>
                                                    <td data-title="Nota Promedio" class="form-group">
                                                        <input type="number" maxlength="3"  min="10" max="100" step="1" id="form_{{currentmateria.iecoId}}"  name="currentmaterias[{{currentmateria.iecoId}}]" required="required" maxlength="8" class="form-control" value="">
                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet portlet-default">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Registrar Notas - Áreas / 1er Bimestre</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#talento"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div id="talento" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <small>
                                    <div class="row show-grid">
                                        <div class="col-xs-6">Unidad Educativa:</div>
                                        <div class="col-xs-6">{{dataNext.Institucioneducativa}}-{{dataNext.Institucioneducativa.id}}<br/></div>
                                        <div class="col-xs-6">Nivel:</div>
                                        <div class="col-xs-6">{{dataNext.NivelTipo}}<br/></div>

                                        <div class="col-xs-6">Grado:</div>
                                        <div class="col-xs-6">{{dataNext.GradoTipo}}<br/></div>
                                        <div class="col-xs-6">Paralelo:</div>
                                        <div class="col-xs-6">{{dataNext.ParaleloTipo}}<br/></div>
                                        <div class="col-xs-6">Turno:</div>
                                        <div class="col-xs-6">{{dataNext.TurnoTipo}}<br/></div>
                                    </div>
                                </small>


                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf">
                                        <thead class="cf">
                                            <tr class="info">
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Áreas</th>
                                                <th class="text-center">1er Bimestre</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for nextmateria in materiasnotas2 %}
                                                <tr><td>{{loop.index}}</td>
                                                    <td data-title="Asignatura"> {{nextmateria.asignatura}}</td>
                                                    <td data-title="Nota Promedio" class="form-group">
                                                        <input type="number" maxlength="3"  min="10" max="100" step="1" id="form_{{nextmateria.iecoId}}"  name="nextmaterias[{{nextmateria.iecoId}}]" required="required" maxlength="8" class="form-control" value="">
                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{form_label(formMaterias.notaCualitativa)}}
        {{form_widget(formMaterias.notaCualitativa)}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </br>
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            {{form_widget(formMaterias.save)}}
            <a  class="btn btn-white" onclick="javascript: window.history.back();"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Volver</a>
        </div>
    </div>


</div>

{{form_end(formMaterias)}}


{% endblock %}
