{% extends 'layoutOlimpiadas.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
{% block contentoption %}
	<div class="header-content">
	    <h2><i class="fa fa-list-ul"></i> Gestión de archivos - {{ materia }} <span></span></h2>
	    <div class="breadcrumb-wrapper hidden-xs">
	        <span class="label">Usted esta aqui:</span>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-file-text-o"></i>
	                <a href="{{ path('olimregistroolimpiada')}}"> Olimpiadas</a>
	                <i class="fa fa-angle-right"></i>
	            </li>
	            <li class="active">
	                Gestión de archivos
	            </li>
	        </ol>
	    </div><!-- /.breadcrumb-wrapper -->
	</div><!-- /.header-content -->
	<!--/ End page header -->

	<div class="body-content animated fadeIn">

	    <div class="row">
	        <div class="col-12">

				    <div class="panel panel-info">
				    	<div class="panel-heading">
				    		<h3 class="panel-title">Lista de archivos</h3>
				    	</div>
				    	<div class="panel-body">
				    		<div class="table-responsive">
					    		<table class="table dataTable table-hover">
					    			<thead>
					    				<tr>
					    					<th class="primeraFila">Fecha registro</th>
					    					<th>&nbsp;Institución&nbsp;&nbsp;educativa&nbsp; </th>
					    					<th>Tutor</th>
					    					<th>Nombre del Grupo <br> <strong> <em> Nombre del Proyecto </em></strong> </th>
					    					<th>Curso</th>
					    					<th>Cantidad Inscritos</th>
					    					<th>Archivo</th>
					    				</tr>
					    			</thead>
					    			<tbody>
					    				{% for g in grupos %}
					    				    <tr>
					    				    	<td> {{ g.grupo.fechaRegistro|date('d-m-Y') }} </td>
					    				    	<td>
					    				    		<div> {{ g.grupo.sie }} </div>
					    				    		<div> {{ g.grupo.institucioneducativa }}</div>
					    				    	</td>
					    				    	<td>
					    				    		<div> {{ g.grupo.nombre }} {{ g.grupo.paterno }} {{ g.grupo.materno }}</div>
					    				    		<div> <i class="fa fa-phone text-primary"></i> {{ g.grupo.telefono1 }} {% if g.grupo.telefono2 != '' %} - {{ g.grupo.telefono2 }} {% endif %} </div>
					    				    		<div> <i class="fa fa-envelope text-info"></i> {{ g.grupo.correoElectronico }} </div>
					    				    	</td>
					    				    	<td>
					    				    		{{ g.grupo.grupo }} <br>
					    				    		<strong><em>" {{ g.grupo.nombreProyecto }} "</em></strong>
					    				    	</td>
					    				    	<td align="center">
					    				    		{% for curso in g.niveles %}
					    				    			<div>
					    				    				{{ curso.gradoTipo.id }}
					    				    				{% if curso.nivelTipo.id == 12 %}
																Pri.
					    				    				{% else %}
					    				    					Sec.
					    				    				{% endif %}					    				    				
					    				    			</div>
					    				    		{% endfor %}
					    				    	</td>
					    				    	
					    				    	<td align="center">
					    				    		<span style="font-size:1.1em">{{ g.grupo.inscritos }}</span>
					    				    	</td>
					    				    	<td>
					    				    		{% if g.grupo.documentoPdf1 != '' %}
					    				    			{# <embed src="http://olimpiada.sie.gob.bo/uploads/olimpiadas/documentos/{{gestion}}/{{g.grupo.sie}}/{{g.grupo.documentoPdf1}}" width="150px" height="160px"></embed> #}
					    				    			
					    				    			<a class="btn btn-primary btn-xs" target="_blank" href="{{ asset('uploads/olimpiadas/documentos/' ~ gestion ~ '/' ~ '/' ~ g.grupo.sie ~ '/' ~ g.grupo.documentoPdf1 )}}"> <i class="fa fa-file-pdf-o fa-1x"></i> <b> Abrir archivo </b> </a>
					    				    				
					    				    			{# <a class="btn btn-primary btn-xs" target="_blank" href="http://olimpiada.sie.gob.bo/uploads/olimpiadas/documentos/{{gestion}}/{{g.grupo.sie}}/{{g.grupo.documentoPdf1}}"> <i class="fa fa-file-pdf-o fa-1x"></i> <b> Abrir archivo </b> </a> #}
					    				    		{% else %}
					    				    			<span class="text-danger">No subido !!!</span>
					    				    			{# <button class="btn btn-default" type="button" onclick="abrir()">Subir</button> #}
					    				    		{% endif %}
					    				    	</td>
					    				    </tr>
					    				{% endfor %}
					    				
					    			</tbody>
					    		</table>
				    		</div>
		 		    	</div>
				    </div>
	        </div>
	    </div>
	</div>

	<div class="modal fade" id="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cargar archivo</h4>
				</div>
				<div class="modal-body">
					<p>Seleccione un archivo en formato pdf</p>
					<input type="file" name="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    	function abrir(){
    		$('#modal').modal('show');
    	}

    	$(function(){
    		$('.primeraFila').css('width','100px !important');
    	});


    </script>
{% endblock %}
