{% extends 'layoutHerramienta.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>

        [v-cloak]{
            display: none;
        }
        .readData{
            background-color: lightblue;
            color:  #000;
            opacity: 0.8;
         

        }
		.jupper{
			text-transform: uppercase;
		}

        .seleccionado{
			  color: currentColor;
			  display: inline-block;  /* For IE11/ MS Edge bug */
			  pointer-events: none;
			  text-decoration: none;        	
            background: #111406 !important;
            pointer-events: none;
        }

		.loading {    
			background-color: #ffffff;
			background-image: url("../../../../web/assets/images/load.gif");
			background-size: 100px 57px;
			background-position:right center;
			background-repeat: no-repeat;
		}
		.p-b-30{
			padding-bottom: 30px
		}
		.b-state{
			font-size: 10px !important;
			border-radius: 0.7em !important;
			padding-top: 2px;
			padding-bottom: 2px;
		}
		.m-l-15{
			margin-left: 15px;
		}		     
    </style>

{% endblock %}
{% block contentoption %}


<!-- Start page header -->
<div class="header-content">
	<h2><i class="fa fa-table"></i> Registro Censo <span></span></h2>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">Usted esta aquí:</span>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="#">Registro Censo</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li class="active"></li>
		</ol>
	</div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- /.row -->
<div id="app" v-cloak>

    <div class="modal fade" id="modalNewInscription" data-backdrop="static">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header p-b-30">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> </h4>
                </div>
                <div class="modal-body">

				    <div class="panel panel-info">
					    	<div class="panel-heading">   
					    		Registro Censo 
					    	</div>
					    <div class="panel-body">
							<div class="table-responsive" v-if="existStudent">
								<div class="alert alert-primary" role="alert">Estudiante Seleccionado</div>
		                    	<table class="table table-dark">
		                    		<thead>
										<tr>
											<th>RUDE</th>
											<th>CI</th>
											<th>Paterno</th>
											<th>Materno</th>
											<th>Nombre(s)</th>
										</tr>
		                    			
		                    		</thead>
									<tbody>
									<tr>
										<td>${DBinfoSelectStudent.codigo_rude}</td>
										<td>${DBinfoSelectStudent.carnet_identidad} ${DBinfoSelectStudent.complemento}</td>
										<td>${DBinfoSelectStudent.paterno}</td>
										<td>${DBinfoSelectStudent.materno}</td>
										<td>${DBinfoSelectStudent.nombre}</td>
										
									</tr>				
									</tbody>
								</table>							
							</div>
							</br>
							<div class="alert alert-primary" role="alert">Validar Apoderado Responsable</div>
							<div>
								<form>
								  <div class="form-row">
								  {# <i class="fa" :class="[{ 'fa-checkbox-marked': content['cravings'] }, 'fa-checkbox-blank-outline']"></i>
								  :class="['form-group', {has-error: testInput == false}]" #}
								    <div class="form-group col-md-4" :class="invalidPaterno ? 'has-error' : ''">
								      <label for="pat">Paterno</label>
								      <input type="text" class="form-control jupper" id="pat" placeholder="Paterno" v-model="infoUE.apoderado.paterno">
								    </div>
								    <div class="form-group col-md-4" :class="invalidMaterno ? 'has-error' : ''">
								      <label for="inputPassword4">Materno</label>
								      <input type="text" class="form-control jupper" id="inputPassword4" placeholder="Materno" v-model="infoUE.apoderado.materno">
								    </div>
								    <div class="form-group col-md-4" :class="invalidNombre ? 'has-error' : ''">
								      <label for="inputPassword4">Nombre(s)</label>
								      <input type="text" class="form-control jupper" id="inputPassword4" placeholder="Nombre" v-model="infoUE.apoderado.nombre">
								    </div>
								  </div>
								  <div class="form-row">
								    <div class="form-group col-md-4" :class="invalidCarnet ? 'has-error' : ''">
								      <label for="inputEmail4">Carnet Identidad</label>
								      <input type="text" class="form-control " id="inputEmail4" placeholder="Carnet Identidad" v-model="infoUE.apoderado.carnet">
								    </div>
								    <div class="form-group col-md-4">
								      <label for="inputPassword4">Complemento</label>
								      <input type="text" class="form-control jupper" id="inputPassword4" placeholder="Complemento" v-model="infoUE.apoderado.complemento">
								    </div>
								    <div class="form-group col-md-4" :class="invalidFechaNacimiento ? 'has-error' : ''">
								      <label for="inputPassword4">Fecha de Nacimiento - (dd-mm-yyyy)</label>
								      <input type="text" class="form-control" id="fecNacimiento" name="fecNacimiento" placeholder="dd-mm-yyyy" v-model="infoUE.apoderado.fecNacimiento">
								      {# <div class="form-row">
									      <div class="form-group col-md-4">
									      	<input type="text" class="form-control" id="inputPassword4" placeholder="dd" v-model="	infoUE.apoderado.dd" size="2">
									      </div>
									      <div class="form-group col-md-4">
									      	<input type="text" class="form-control" id="inputPassword4" placeholder="mm" v-model="infoUE.apoderado.mm" size="2">
									      </div>
									      <div class="form-group col-md-4">
									     	 <input type="text" class="form-control" id="inputPassword4" placeholder="YY" v-model="infoUE.apoderado.yy" size="4">
									     </div>
									 </div> #}

								    </div>
								  </div>
								  <div style="text-align: right;">
								  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="abortMission">Cancelar</button>
								  	<button type="button" class="btn btn-primary" v-on:click="validateTutor(DBinfoSelectStudent)">Validar Apoderado/Tutor</button>								  	
								  </div>								  
								</form>		

								<div class="bd-callout bd-callout-info" v-if="swParent">
									</br>
									<div v-if="buscandoParent" class="text-center">
										<img src="{{asset('img/loading.gif')}}" alt=""> procesando...
									</div>

									<div class="alert alert-success" role="alert">Validacion Exitosa!!! </div>
									<div class="alert alert-info" role="alert">
										<strong>
											Datos Persona: ${DBApoderado.paterno} ${DBApoderado.materno} ${DBApoderado.nombre}
											Carnet-complemento: ${DBApoderado.carnet} ${DBApoderado.complemento} Fecha Nacimiento: ${DBApoderado.fecNacimiento}
											<hr>
										</strong>
									</div>										

									<div class="alert alert-primary" role="alert">Datos adicionales para el registro del Estudiante</div>
									<form>
										<div class="form-row">
										    <div class="form-group col-md-4">
										      <label for="pat">Adjuntar Autorización<strong>(requerido)</strong></label>
		                                      <input type="file" name="image" @change="getImage" accept="file/*" class="form-control">
										    </div>
										    <div class="form-group col-md-4">
										      <label for="inputPassword4">Email (opcional):</label>
										      <input type="text" class="form-control" id="inputPassword4" placeholder="Email" v-model="infoUE.email">
										    </div>
										    <div class="form-group col-md-4">
										      <label for="inputPassword4">Num. Celular (opcional):</label>
										      <input type="text" class="form-control" id="inputPassword4" placeholder="Num. Celular" v-model="infoUE.celular">
										    </div>
									  </div>
									  <div style="text-align: right;">
									  	<button type="button" class="btn btn-primary" v-on:click="saveStudent(infoUE)">Registrar Estudiante</button>								  	
									  </div>									  
									</form>									

								</div>		


								{# <form class="form-row">
									<div class="form-group">
										<label for="rude">Código RUDE: </label>
										<input type="text" v-model="infoUE.codigoRude"  class="form-control" id="exampleInputPassword1" placeholder="RUDE">
									</div>
									<button v-on:click="findStudent(infoUE)" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar </button>
								</form>					    #}
							</div>




					    </div>  
				   </div>




				                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

                </div>
            </div>
        </div>
    </div> 



	{#<div v-if="cortina" class="cortina">
		<i class="fa fa-refresh fa-spin"></i> Procesando... 
	</div>#}
	<div class="body-content animated fadeIn">

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="titulo">Registro Censo</h3>
						</br>

						<a href="../../assets/docs/AutorizacionpadredefamiliaCPVPPv2.pdf" target="_blank">
			              <i class="fa fa-file-pdf-o"></i>
			              Descargar Autorización 
			            </a>
						
						<a href="../../assets/videos/TUTORIAL_SIE_DIRECTORES_1.mp4" class="m-l-15" download="">
			              <i class="fa fa-video-camera"></i>
			              Video Tutorial 
			            </a>						

						<div class="col-md-5">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" :class="{active: opcion == 1}" @click="opcion = 1">
										<a role="tab" data-toggle="tab">Buscar por SIE</a>
									</li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" :class="['tab-pane', {active: opcion == 1}]">

										<form class="form-row">
											<div class="form-group form-group">
												<label for="rude">Código SIE: </label>
												<input type="text" v-model="infoUE.sie"  class="form-control" id="exampleInputPassword1" placeholder="SIE" :readonly="disableElement>0">
											</div>
											<button v-on:click="findUEData()" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Continuar </button>
										</form>																
									</div>
								</div>
							</div>							
						</div>
						<div class="col-md-7">
							
							{# <div v-if="buscando" class="text-center">
								<img src="{{asset('img/loading.gif')}}" alt=""> Buscando...11111111
							</div>						 #}
							
							<div class="table-responsive" v-if="infoUE.existUE">
							{# v-on:click="closeEventChees(infoUE)" #}
								<button  type="button" class="btn btn-danger btn-xs" title="cierre"> Cierre Registro Censo </button>
		                        <div class="" v-if="infoUE.swcloseevent" >
									{# <a v-bind:href="infoUE.urlreporte" ><b> <i class="fa fa-file-pdf-o fa-2x"></i> Descargar Lista Inscritos Censo</b></a> #}
		                        </div>								
	                        	<table class="table table-dark">
	                        		<thead>
	                        			<tr ><th colspan="2">Resultado de la busqueda</th></tr>
	                        		</thead>
									<tbody>
									<tr>
										<th >Cod. SIE</th>
										<th>${infoUE.sie}</th>
									</tr>
									<tr>
										<th>Institucion Educativa</th>
										<th>${infoUE.institucioneducativa}</th>
									</tr>									
									{# 
									<tr >
										<th colspan="6" align="left">
										<button v-on:click="mostrarFormulario()" type="button" class="btn btn-success" title="Caso de Homónimo"> Proceder con  el Registro de Datos </button>								    		
										</th>
									</tr> #}
									</tbody>
								</table>								
							</div>

						</div>

						<div class="col-md-12">
						

							{# tabla con los datos encontrados #}
							{# <div v-if="buscando" class="text-center">
								<img src="{{asset('img/loading.gif')}}" alt=""> Buscando...2222222
							</div> #}

							<div style="padding: 15px;" v-if='infoUE.existUE'>
								<h4 style="text-align: center;background-color:#4694e8 ;color: white;" >Seleccionar Información para el Registro Censo</h4>
								<hr>

								<form>								
								  <div class="form-row">
								    <div class="form-group col-md-5">
								      <label for="mod">Nivel</label>
										<select name="modalidades" id="idmodalidades_p" v-model="infoUE.levelId" class="custom-select js-example-basic-multiple form-control" v-on:change="getGrado(infoUE.levelId, this.value)" >
											<option id="">Seleccionar Nivel</option>
											<option v-for="item in DBLevel"  v-text="item.level" :id="item.id" :value="item.id" >${ item.level }</option>       
										</select>								      
								    </div>
								    <div class="form-group col-md-2">
								      <label for="lvel">Grado</label>
										<select name="modalidades" id="idmodalidades_p" v-model="infoUE.gradoId" class="custom-select js-example-basic-multiple form-control" :class="loadingGrado ? 'loading': ''" v-on:change="getParallel(infoUE.levelId,infoUE.gradoId, this.value)" :disabled="!grado">
											<option v-for="item in DBGrados" :id="item.id" :value="item.id" >${ item.grado }</option>       
										</select>
										{# <input type="text" v-model="infoUE.sie"  class="form-control" id="exampleInputPassword1" placeholder="SIE" :readonly="disableElement>0"> #}
								    </div>

								    <div class="form-group col-md-2">
								      <label for="fase">Paralelo</label>
										<select name="arrFase" id="idarrPais_p" v-model="infoUE.parallelId" class="custom-select js-example-basic-multiple form-control" :class="loadingParalelo ? 'loading': ''" v-on:change="getTurno(infoUE.levelId,infoUE.gradoId, infoUE.parallelId)" :disabled="!paralelo">
											<option v-for="item in DBParallels"  :value="item.id">${ item.paralelo }</option>       
										</select>							      
								    </div>
								    <div class="form-group col-md-3">
								      <label for="Categoría">Turno</label>
										<select name="arrCategoria" id="idarrPais_p" v-model="infoUE.turnoId" :class="loadingTurno ? 'loading': ''" class="custom-select js-example-basic-multiple form-control" :disabled="!turno" v-on:change="enableSearchBtn()">
											<option v-for="item in DBTurnos"  :value="item.id">${ item.turno }</option>       
										</select>
								    </div>

								  </div>
								  
								  <div class="form-row">

								  </div>								  
								  <button v-on:click="dataSelected(infoUE)" type="button" class="btn btn-primary mb-2" :disabled="btnDisabled">Buscar</button>
								</form>

  
							</div>
						</div>	
						
						<div class="col-md-6" v-if="existSelectData">
							<div clsas="row">
								<div class="table-responsive">
									<table class="table table-bordered">
									  <thead>
									  	<tr>
									  		<th colspan="4">Seleccionar Estudiantes</th>
									  	</tr>									  
									    <tr>
									      <th>Nivel</th>
									      <th>Grado</th>
									      <th>Paralelo</th>
									      <th>Turno</th>
									      {# <th></th> #}
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>${infoUE.levelLabel}</td>
									      <td>${infoUE.gradoLabel}</td>
									      <td>${infoUE.parallelLabel}</td>
									      <td>${infoUE.turnoLabel}</td>
									      {# <td><a href="#" v-on:click="startInscription(infoUE)" type="button" class="">Inscribir</a></td> #}
									    </tr>
									  </tbody>
									</table>									
								</div>
							</div>

							<div v-if=" existStudent ">
                            	<!-- data new studen  -->
                            	<p class=" bg-primary">&nbsp&nbsp  INFORMACIÓN ESTUDIANTE</p>
								<small>
								<div class="table-responsive">
	                            	<table class="table table-dark">
										<tr>
											<th>#</th>
											<th>Cod. RUDE</th>
											<th>CI-COMPL.</th>
											<th>Nombre Completo</th>
											<th>Estado</th>
											<th></th>
										</tr>
										<tr v-for="(student,rindex) in DBstudent">
											<td>${rindex+1}</td>
											<td><strong> ${student.codigo_rude | uppercase}</strong></td>
											<td>${student.carnet_identidad} ${student.complemento}</td>
											<td>${student.paterno | uppercase} ${student.materno | uppercase} ${student.nombre | uppercase}</td>
											{# <td>${student.genero | uppercase}</td> #}
											{# v-if="!infoUE.swcloseevent" #}

											{# <td v-bind:id="student.inscriptionid"><a href="#" v-on:click="doInscription(infoUE, student.inscriptionid, student)"  :class="{disabled: linkDisabled}" v-if="!infoUE.swcloseevent"> Registrar </a> </td>										 #}
											<td>
												<span class="label label-warning b-state" v-if="student.estado == 1">Sin dato</span>
												<span class="label label-info b-state" v-if="student.estado == 0">Registrado</span>
											</td>
											<td><a href="#" v-on:click="doInscription(infoUE, student.inscriptionid, student)" v-if="student.estado == 1"> Registrar </a> </td>										
										</tr>

										{# <tr >
											<th colspan="6" align="left">
											it was commit<button v-on:click="doInscription()" type="button" class="btn btn-success" title="C"> Inscribir </button>								    		
											</th>
										</tr> #}
										
									</table>
								</div>
								</small>
                        	</div>



						</div>

						<div class="col-md-6" v-if="existSelectData">

							<div clsas="row">
								<div class="table-responsive">
									<table class="table table-bordered">
									  <thead>
									  	<tr>
									  		<th colspan="3">Lista Inscritos CENSO</th>
									  	</tr>
									  </thead>
									  <tbody>
									  </tbody>
									</table>									
								</div>
								<hr>
								<small>
									<div class="table-responsive">
		                            	<table class="table table-dark" >
											<tbody>
											<tr>
												<th>#</th>
												<th>Cod. RUDE</th>
												<th>CI-COMPL.</th>
												<th>Nombre Completo</th>
												<th>Nivel / Grado / Paralelo</th>
												<th>option</th>	
											</tr>
											<tr v-if="DBEveStudents.length == 0">
												<td class="text-center text-nodata" colspan="6">No se encontraron registros</td>
											</tr>
											<tr v-for="(competitor, index) in DBEveStudents">
												<td>${index+1}</td>
												<td><strong>${competitor.codigo_rude}</strong> </td>
												<td>${competitor.carnet_identidad} ${competitor.complemento}</td>
												<td>${competitor.paterno} ${competitor.materno} ${competitor.nombre}</td>
												<td>${competitor.nivel} / ${competitor.grado} /<strong>${competitor.paralelo}</strong> </td>
												<th><a href="#" v-on:click="removeInscriptionCenso(competitor.eveinscriptionid)" v-bind:id="competitor.eveinscriptionid" :class="{disabled: linkDisabled}" v-if="!infoUE.swcloseevent" style="color: red;"> <i class="fa fa-trash"></i> </a> </td>
											</tr>
											<tr >
												<th colspan="6" align="left">
												{# <button v-on:click="doInscription()" type="button" class="btn btn-success" title="C"> Inscribir </button>								    		 #}
												</th>
											</tr>
											</tbody>
										</table>
									</div>	
								</small>							



							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>	

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript">
    // $("#form_idfecnac").inputmask({ "alias": "dd-mm-yyyy", 'placeholder':'dd-mm-aaaa' });
  </script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-the-mask/0.11.1/vue-the-mask.min.js" integrity="sha512-qXurwUG9teY1KFtbBifUHInCiNK/POQqJeFRSoaHg1pHEB1tBUlFKRsfPzm1D6b6ueeQOCKldvXYCtOsPURrcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
<script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>



<script type="text/javascript">
// $("#fecNacimiento").inputmask({ "alias": "dd-mm-yyyy" });
	var app = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: {
			opcion: 1,
			swcloseevent: 0,
			disableElement: '{{disableElement}}',
			infoUE:{
				sie: '{{codsie}}',
				// sie: '80730460',
				institucioneducativa:'',
				modalidadLabel:'',
				faseLabel:'',
				// categorieLabel:'',
				existUE:0,
				swcloseevent:0,
				urlreport:'',
				levelId:'',
				gradoId:'',
				email:'',
				celular:'',
				apoderado:{
					  'paterno' : '',
					  'materno' : '',
					  'nombre' : '',
					  'carnet' : '',
					  'complemento' : '',
					  'fecNacimiento' : '',
				}
			},

			DBModalidades: {},
			DBLevel:  {},
			DBGrados: [],
			DBParallels: {},
			DBTurnos: [],
			DBinfoSelectStudent: {},

			DBCategories: {},
			DBselectedData: {},
			DBstudent: {},
			DBInscriptionLevel: {},
			DBEveStudents: {},
			DBApoderado: {},
			informe: '',
			existSelectData:false,
			existStudent:false,
			existParall:false,
			swParent:false,
			invalidPaterno: false,
			invalidMaterno: false,
			invalidNombre: false,
			invalidCarnet: false,
			invalidFechaNacimiento: false,
			linkDisabled:false,
			loadingGrado: false,
			loadingParalelo: false,
			loadingTurno: false,
			grado: false,
			paralelo: false,
			turno: false,
			btnDisabled: true,
			/////////////////////////////
			categorias: [
				{'id': 'A', 'description': 'Cat.A'},
				{'id': 'B', 'description': 'Cat.B'},
				{'id': 'C', 'description': 'Cat.C'},
				
			],

			buscando: false,			
			buscandoParent: false,			
			showbuttonPDF:false,
			swCertification:false,
			procesar: false,
			
			
		},
		filters: {
			uppercase: function(v) {
				return v.toUpperCase();
			}
		},	

		components: {
			//vuejsDatepicker
		},

		mounted(){	
			//this.loadData(); 
			//var selector = document.getElementById("fecha_vencimiento");
			//Inputmask("datetime",{ inputFormat: "dd-mm-yyyy", outputFormat: "mm-yyyy-dd", inputEventOnly: true}).mask(selector);              
		
		},

		methods: {
			abortMission: function(){
				this.infoUE.apoderado = {};
				this.invalidPaterno = false;
				this.invalidMaterno = false;
				this.invalidNombre = false;
				this.invalidCarnet = false;
				this.invalidFechaNacimiento = false;
				$('#modalNewInscription').modal('hide');
				this.swParent = false;
			},

			resetFormEtapa: function(){
				this.infoUE.levelId = [];
				this.infoUE.gradoId = [];
				this.infoUE.turnoId = [];
				this.infoUE.parallelId = [];

				this.grado = false;
				this.paralelo= false;
				this.turno= false;
				this.btnDisabled = true;
			},

			findUEData:function(){

				this.resetFormEtapa();
				this.existSelectData=false;
				this.DBModalidades={};
				this.DBFases={};
				this.DBCategories={};
				this.infoUE.existUE = 0;
				this.buscando=true;
				if (typeof this.infoUE.sie === "undefined") {
					Swal.fire(
						'Atencion !',
						'Debe ingresar el  CÓDIGO SIE',
						'warning'
						);
					this.buscando = false;
					return;
				}

				Swal.fire({
					title: 'Obteniendo información...',
					html: 'Espere un momento porfavor',
					timerProgressBar: true,
					allowOutsideClick: false,
					allowEscapeKey: false,
					allowEnterKey: false,
					didOpen: () => {
						Swal.showLoading()
					},
				});				

				axios.post(Routing.generate('censoinscription_findUEData', this.infoUE ))
					.then(response => {
						Swal.close();
						if (response.status == 200) {

							if(response.data.existUE == true){

								this.infoUE.sie = response.data.sie;
								this.infoUE.institucioneducativa = response.data.institucioneducativa;
								this.infoUE.existUE = response.data.existUE;
								this.DBModalidades = response.data.arrModalidades;
								this.DBLevel = response.data.arrLevel;
								this.swcloseevent = response.data.swcloseevent;
								this.infoUE.swcloseevent = this.swcloseevent;
								this.infoUE.urlreporte = response.data.urlreporte;

							}else{
								Swal.fire('Atención', 'Esta unidad no fue encontrada', 'warning');
							}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.buscando = false;
						if(e.response.status == 404){
							Swal.fire({
								icon: 'info',
								title: "Atención", 
								html: "Esta unidad no cuenta con un nivel <p><b>Secundaria Comunitaria Productiva</b></p>" 
							});
						}
					});				

			},
			getGrado: function(levelid2, levelId){
				
				this.existSelectData=false;

				this.infoUE.gradoId = [];
				this.infoUE.turnoId = [];
				this.infoUE.parallelId = [];

				this.grado = false;
				this.paralelo= false;
				this.turno= false;
				this.btnDisabled = true;

				if( typeof levelid2 == 'number' ){
					this.loadingGrado = true;
					
					axios.post(Routing.generate('censoinscription_getGrado', this.infoUE ))
					.then(response => {
						this.loadingGrado = false;
						this.grado = true;
						if (response.status == 200) {

							if(response.data.existUE == true){
								this.DBGrados = response.data.arrGrado;
							}else{
								Swal.fire(
								'Atencion !',
								'Ocurrio un error, vuelva a intentarlo porfavor',
								'warning'
								);
							}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.grado = false;
						this.paralelo= false;
						this.turno= false;
						this.buscando = false;
					});					
				}

			},
			getParallel: function(levelid, gradoId, parallelId){

				this.loadingParalelo = true;
				this.turno = false;
				this.paralelo = false;
				this.btnDisabled = true;

				this.existSelectData=false;
								
				this.infoUE.turnoId = [];
				this.infoUE.parallelId = [];
				axios.post(Routing.generate('censoinscription_getParallel', this.infoUE ))
					.then(response => {
						this.paralelo = true;
						this.loadingParalelo = false;
						if (response.status == 200) {

								if(response.data.existUE == true){
									this.DBParallels = response.data.arrParalelo;								
								}else{
									Swal.fire(
									'Atencion !',
									'Ocurrio un error, vuelva a intentarlo porfavor',
									'warning'
									);
								}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.turno = false;
						this.paralelo = false;
						this.btnDisabled = true;
						
						this.buscando = false;
					});					


			},
			getTurno: function(levelid, gradoId, parallelId){

				this.loadingTurno = true;
				this.turno = false;
				this.existSelectData=false;
				this.btnDisabled = true;

				this.infoUE.turnoId = [];
				axios.post(Routing.generate('censoinscription_getTurno', this.infoUE ))
					.then(response => {
						this.loadingTurno = false;
						this.turno = true;

						Swal.close();
						if (response.status == 200) {

								if(response.data.existUE == true){
									this.DBTurnos = response.data.arrTurno;	
								}else{
									Swal.fire(
									'Atencion !',
									'Ocurrio un error, vuelva a intentarlo porfavor',
									'warning'
									);
								}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.turno = false;
						this.buscando = false;
					});					


			},
			enableSearchBtn: function(){
				this.btnDisabled = false;
			},
			dataSelected: function(selectedData){

				Swal.fire({
					title: 'Obteniendo información...',
					html: 'Espere un momento porfavor',
					timerProgressBar: true,
					allowOutsideClick: false,
					allowEscapeKey: false,
					allowEnterKey: false,
					didOpen: () => {
						Swal.showLoading()
					},
				});

				// this.infoUE.apoderado = {};
				this.existSelectData=false;
				// this.existParall = false;
				// this.DBParallels={};
				// this.existStudent=false;
				// this.DBstudent={};				
				// this.DBEveStudents={};				
				axios.post(Routing.generate('censoinscription_dataSelected', this.infoUE ))
					.then(response => {
						Swal.close();
						if (response.status == 200) {
							this.DBselectedData = response.data.selectedData;

								if(response.data.existSelectData == true){
									
									// this.DBselectedData = response.data.selectedData;
									this.infoUE.levelLabel = response.data.levelLabel;
									this.infoUE.gradoLabel = response.data.gradoLabel;
									this.infoUE.parallelLabel = response.data.parallelLabel;
									this.infoUE.turnoLabel = response.data.turnoLabel;

									
									this.DBstudent = response.data.arrStudents;
									this.DBEveStudents = response.data.arrEveStudentsCenso;
									this.existSelectData = response.data.existSelectData;

									this.swcloseevent = response.data.swcloseevent;
									this.infoUE.swcloseevent = this.swcloseevent;
									this.existStudent = response.data.existStudent;

									// this.infoUE2.krlos = 'krlos';
									// this.DBCategories = response.data.arrCategories;
									
								}else{
									Swal.fire(
									'Atencion !',
									'Ocurrio un error, vuelva a intentarlo porfavor',
									'warning'
									);
								}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.buscando = false;
					});					
			},
            getImage: function(event){
                var informe = event.target.files[0];
                var allowedExtensions = /(.jpg|.jpeg|.png|.gif|.pdf)$/i;
                if(!allowedExtensions.exec(event.target.value)){
                    event.target.value = '';
                    Swal.fire(
                          'Archivo incorrecto!',
                          'El archivo adjunto debe ser una imagen o un archivo pdf',
                          'warning'
                        );
                    this.informe = '';
                    this.checkInforme = false;
                    return false;
                }else{
                    var megas = (informe.size / 1024)/1024;
                    if (megas > 2) {
                        event.target.value = '';
                        Swal.fire(
                          'Tamaño no permitido!',
                          'El archivo debe tener un tamaño menor a 2MB',
                          'warning'
                        );
                        this.informe = '';
                        this.checkInforme = false;
                        return false;
                    }
                }
                this.informe = event.target.files[0];                
                // this.checkInforme = true;
            },			
			/////////////////////////////////////////////////////////////////////			
			startInscription:function(infoUEsend){
				$('#modalNewInscription').modal('show');
			},
			findStudent:function(infoUEsel){
				axios.post(Routing.generate('censoinscription_findStudent', infoUEsel ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;

							if(response.data.existStudent == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								this.DBstudent = response.data.arrStudents;

								this.existStudent = response.data.existStudent;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'Ocurrio un error, vuelva a intentarlo porfavor',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					this.buscando = false;
				});	
			},
			getParalelos:function(infoUEAll){
				this.existParall = false;
				this.DBParallels={};
				this.existStudent=false;
				this.DBstudent={};
				axios.post(Routing.generate('censoinscription_getParalelos', infoUEAll ))
					.then(response => {
						if (response.status == 200) {
							this.DBselectedData = response.data.selectedData;

								if(response.data.existParall == true){
									
									// this.DBselectedData = response.data.selectedData;
									// this.infoUE.modalidadId = response.data.modalidadId;
									// this.infoUE.faseId = response.data.faseId;
									// this.infoUE.categorieId = response.data.categorieId;
									// this.infoUE.sie = response.data.sie;
									this.DBParallels = response.data.arrParallels;

									this.existParall = response.data.existParall;

									// this.infoUE2.krlos = 'krlos';
									// this.DBCategories = response.data.arrCategories;
									
								}else{
									Swal.fire(
									'Atención',
									'Ocurrio un error, vuelva a intentarlo porfavor',
									'warning'
									);
								}
								
						}
						this.buscando = false;
					})
					.catch(e => {
						this.buscando = false;
					});					

			},
			showStudents:function(infoUEAll){
				this.existStudent=false;
				this.DBstudent={};
				axios.post(Routing.generate('censoinscription_showStudents', infoUEAll ))
				.then(response => {
					if (response.status == 200) {
						this.DBselectedData = response.data.selectedData;
							// console.log(response.data);

							if(response.data.existStudent == true){
								
								// this.DBselectedData = response.data.selectedData;
								this.infoUE.modalidadId = response.data.modalidadId;
								this.infoUE.faseId = response.data.faseId;
								this.infoUE.categorieId = response.data.categorieId;
								this.infoUE.sie = response.data.sie;
								this.DBstudent = response.data.arrStudents;

								this.existStudent = response.data.existStudent;

								// this.infoUE2.krlos = 'krlos';
								// this.DBCategories = response.data.arrCategories;
								
							}else{
								Swal.fire(
								'Atencion !',
								'Ocurrio un error, vuelva a intentarlo porfavor',
								'warning'
								);
							}
							
					}
					this.buscando = false;
				})
				.catch(e => {
					this.buscando = false;
				});					

			},
			validateTutor: function(dataStudent){

				Swal.fire({
					title: 'Verificando...',
					html: 'Espere un momento porfavor',
					timerProgressBar: true,
					allowOutsideClick: false,
					allowEscapeKey: false,
					allowEnterKey: false,
					didOpen: () => {
						Swal.showLoading()
					},
				});

				this.invalidPaterno = false;
				this.invalidMaterno = false;
				this.invalidNombre = false;
				this.invalidCarnet = false;
				this.invalidFechaNacimiento = false;
				
				this.buscandoParent = true;
				this.infoUE.dataStudent = dataStudent;

				axios.post(Routing.generate('censoinscription_validateTutor', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									Swal.close();
									// this.DBselectedData = response.data.selectedData;
									if(response.data.swparent == true){
										this.swParent = response.data.swparent;
										this.DBApoderado = response.data.apoderadoOutput;
										this.infoUE.apoderadoinscripid = response.data.apoderadoOutput.apoderadoinscripid;
										// this.buscandoParent = false;
										/*this.infoUE.modalidadId = response.data.modalidadId;
										this.infoUE.faseId = response.data.faseId;
										this.infoUE.categorieId = response.data.categorieId;
										this.infoUE.sie = response.data.sie;											
										this.DBEveStudents = response.data.arrEveStudents;*/											
									}else{

										this.DBApoderado = response.data.apoderadoOutput;
										
										if( this.infoUE.apoderado.paterno.toUpperCase() !== this.DBApoderado.paterno ){
											this.invalidPaterno = true;
										}
										if( this.infoUE.apoderado.materno.toUpperCase() !== this.DBApoderado.materno ){
											this.invalidMaterno = true;
										}
										if( this.infoUE.apoderado.nombre.toUpperCase() !== this.DBApoderado.nombre ){
											this.invalidNombre = true;
										}
										if( this.infoUE.apoderado.carnet.toUpperCase() !== this.DBApoderado.carnet ){
											this.invalidCarnet = true;
										}
										if( this.infoUE.apoderado.fecNacimiento.toUpperCase() !== this.DBApoderado.fecNacimiento ){
											this.invalidFechaNacimiento = true;
										}
																				
										//'Datos no encontrandos, validiacion realizada con la informacion operativo RUDE gestion 2022',
										this.swParent = false;
										Swal.fire('Atencion', 'Datos no encontrados, revise correctamente la información', 'info');

										//setTimeout(() => { $('#modalNewInscription').modal('hide'); }, 3000);

									}
										
								}
								this.buscandoParent = false;
							})
							.catch(e => {
								this.buscando = false;
							});					

			},
			saveStudent:function(infoUE){
				
                if (typeof this.informe != 'object') {
                    Swal.fire(
                      'Adjuntar Autorización',
                      'Debe adjuntar la Autorización, debe ser un archivo de imagen o PDF, el tamaño debe ser menor a 2MB',
                      'warning'
                    );
                    return;
                }

				Swal.fire({
					title: '¿Esta seguro?',
					//text: 'No podra realizar ningun cambio, se enviara a la empresa',
					icon: 'question',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si',
					cancelButtonText: 'No'
					}).then((result) => {
					if( result.isConfirmed ){

						Swal.fire({
							title: 'Registrando...',
							html: 'Espere un momento porfavor',
							timerProgressBar: true,
							allowOutsideClick: false,
							allowEscapeKey: false,
							allowEnterKey: false,
							didOpen: () => {
								Swal.showLoading()
							},
						});				

						var data = new FormData();
						data.append('infoUE', JSON.stringify(this.infoUE));
						data.append('informe', this.informe);
						$('#'+infoUE.dataStudent.inscriptionid).addClass('seleccionado');
						axios.post(Routing.generate('censoinscription_saveStudent'), data)
							.then(response => {

								Swal.fire({
									icon: 'success',
									title: 'Correcto',
									text: 'Su registro fue realizado exitosamente',
									timer: 2000,
									showConfirmButton: false
								});

								$('#modalNewInscription').modal('hide');
								this.DBEveStudents = response.data.arrEveStudentsCenso;
								this.dataSelected(this.infoUE);

								this.infoUE.apoderado = {};

								// this.respuestaIdTramite = response.data.idTramite;
								// this.urlreporte = response.data.urlreporte;

								// document.location.href = "#tramiteEnviado";
								
							})
							.catch(e => {
								this.formularioEnviado = false;
								Swal.fire(
								'No se pudo enviar la solicitud!',
								'',
								'error'
								);
							});				

					}
				})

			},
			doInscription:function(infoUE, inscriptionid, infoSelectStudent){
				this.DBinfoSelectStudent = infoSelectStudent;
					$('#modalNewInscription').modal('show');
					this.swParent = false;
					// console.log(infoSelectStudent);
					// return false;
			},
			removeInscriptionCenso:function(inscriptionid){

                    Swal.fire({
                        title: '¿Esta seguro?',
                        text: "Se eliminará al estudiante seleccionado",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    }).then((result) => {
	                    if (result.value) {

							Swal.fire({
								title: 'Eliminando...',
								html: 'Espere un momento porfavor',
								timerProgressBar: true,
								allowOutsideClick: false,
								allowEscapeKey: false,
								allowEnterKey: false,
								didOpen: () => {
									Swal.showLoading()
								},
							});		

							this.infoUE.remoinscriptionid=inscriptionid;
							// $('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('censoinscription_removeInscriptionCenso', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									Swal.fire({
										icon: 'success',
										title: 'Correcto',
										text: 'Se elimino exitosamente',
										timer: 2000,
										showConfirmButton: false
									});
									// this.DBselectedData = response.data.selectedData;
									this.dataSelected(this.infoUE);
									if(response.data.existRemoveStudent == true){
										this.DBEveStudents ={};
										
										// this.DBselectedData = response.data.selectedData;
										this.infoUE.modalidadId = response.data.modalidadId;
										this.infoUE.faseId = response.data.faseId;
										this.infoUE.categorieId = response.data.categorieId;
										this.infoUE.sie = response.data.sie;
										// this.DBstudent = response.data.arrStudents;
										this.DBEveStudents = response.data.arrEveStudents;

										// this.existStudent = response.data.existStudent;

										// this.infoUE2.krlos = 'krlos';
										// this.DBCategories = response.data.arrCategories;
										
									}else{
										Swal.fire('Atención', 'Ocurrio un error, vuelva a intentarlo porfavor', 'warning');
									}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								this.buscando = false;
							});		                    	

						}		
					 });



			},
			closeEventChees: function(infoUE){
                    Swal.fire({
                        title: '¿Realizar el cierre del Registro?',
                        text: "Si acepta, se deshabilitan las opciones de registro al evento...",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, aceptar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
	                    if (result.value) {

							// this.infoUE.remoinscriptionid=inscriptionid;
							// $('#'+inscriptionid).addClass('seleccionado');
							axios.post(Routing.generate('censoinscription_closeEventChees', this.infoUE ))
							.then(response => {
								if (response.status == 200) {
									// this.DBselectedData = response.data.selectedData;
										// console.log(response.data);

										if(response.data.swcloseevent == true){
											this.DBEveStudents ={};
											this.swcloseevent = response.data.swcloseevent;
											this.infoUE.swcloseevent = this.swcloseevent;
											this.infoUE.urlreporte = response.data.urlreporte;
											
										}else{
											Swal.fire(
											'Atencion !',
											'Ocurrio un error, vuelva a intentarlo porfavor',
											'warning'
											);
										}
										
								}
								this.buscando = false;
							})
							.catch(e => {
								this.buscando = false;
							});		                    	

						}		
					 });				

			},
			

			
		},
		
	});

	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		$("td").focus();
		//$("#fecNacimiento").inputmask({ "alias": "dd-mm-yyyy" });
		//$("#idarrPais_p").select2();
	});      

	$(".js-example-basic-multiple").select2({
            tags: "true",
            placeholder: "Seleccione una opción",
            allowClear: true
        });  



</script>
{%endblock%}
