{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->

    <div class="body-content animated fadeIn">

        {% include 'SieHerramientaBundle:Principal:infonoue.html.twig' with {'titulo': 'Regularización Unidad Educativa', 'cod': lugar.codigo, 'lugar': lugar.lugar, 'opcion': 'Solicitudea'} %}

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                {% if entities %}
                <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-middle table-primary">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Trámite</th>
                                            <th>Código SIE</th>
                                            <th>Unidad Educativa</th>
                                            <th>Descripción</th>
                                            <th>Fecha Envío</th>
                                            <th>Observación</th>
                                            <th class="text-center">Estado Trámite</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                        <tr class="border-warning">
                                            <td class="text-center">
                                                <strong>{{ loop.index }}</strong>
                                            </td>
                                            <td>{{ entity.tramite.id }}</td>
                                            <td>{{ entity.tramite.institucioneducativa.id }}</td>
                                            <td>{{ entity.tramite.institucioneducativa }}</td>
                                            <td>{{ entity.tramite.tramiteTipo.tramiteTipo }} - {{ entity.tramite.gestionId }}</td>
                                            <td>{{ entity.fechaEnvio|date('d-m-Y') }}</td>
                                            <td>{{ entity.obs }}</td>
                                            <td class="text-center">{{ entity.flujoProceso.proceso.procesoTipo }}</td>
                                            <td class="text-center">
                                                {% if ((app.session.get('roluser') == 8) and (entity.flujoProceso.id == 11 or entity.flujoProceso.id == 12) and (app.session.get('userId') == 92506164)) %}
                                                    <form action="{{path('sie_herramienta_tramite_recepcion_distrito_tsie_aprueba')}}" method="post" style="display: inline-block">
                                                        <input type="hidden" id="form_tramiteId" name="form[tramiteId]" value="{{entity.tramite.id}}">
                                                        <input type="hidden" id="form_tipo" name="form[tipo]" value="{{ entity.tramite.tramiteTipo.id }}">
                                                        <input type="hidden" id="form_idInstitucion" name="form[idInstitucion]" value="{{entity.tramite.institucioneducativa.id}}">
                                                        <input type="hidden" id="form_gestion" name="form[gestion]" value="{{entity.tramite.gestionId}}">
                                                        <button type="submit" class="btn btn-success" onclick="return confirm('¿Está segura/o de continuar?');">Aprobar</button>
                                                    </form>
                                                {% elseif app.session.get('roluser') == 7 or app.session.get('roluser') == 10 %}
                                                    <form action="{{path('sie_herramienta_tramite_recepcion_distrito_tsie_aprueba')}}" method="post" style="display: inline-block">
                                                            <input type="hidden" id="form_tramiteId" name="form[tramiteId]" value="{{entity.tramite.id}}">
                                                            <input type="hidden" id="form_tipo" name="form[tipo]" value="{{ entity.tramite.tramiteTipo.id }}">
                                                            <input type="hidden" id="form_idInstitucion" name="form[idInstitucion]" value="{{entity.tramite.institucioneducativa.id}}">
                                                            <input type="hidden" id="form_gestion" name="form[gestion]" value="{{entity.tramite.gestionId}}">
                                                            <button type="submit" class="btn btn-success" onclick="return confirm('¿Está segura/o de continuar?');">Aprobar</button>
                                                        </form>
                                                {% else %}
                                                        - 
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    No hay Trámites pendientes.
                {% endif %}
            </div>
        </div>
    </div> 

{% endblock %}
