{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Recibidos <span>Solicitudes usuario</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Recibidos</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Index</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->

    <div class="body-content animated fadeIn">
        
        {% include 'SieHerramientaBundle:Principal:infoue.html.twig' with {'titulo': 'Regularización Unidad Educativa', 'gestion': arrSieInfo.id, 'sie': arrSieInfo.id, 'ieducativa': arrSieInfo.datainfo, 'opcion': 'Generar Solicitud'} %}

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel rounded shadow panel-primary">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Generar Solicitud por gestión</h3>
                        </div>
                        <div class="pull-right">

                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="panel-body panel-primary">
                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': 'form'} } )}}
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-3">
                                        {{ form_label(form.gestion)}}
                                        {{form_widget(form.gestion) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3">
                                        {{ form_label(form.tipo)}}
                                        {{form_widget(form.tipo) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{ form_widget(form.buscar ) }}
                                        <a href="{{ path('herramienta_inbox_index') }}" class="btn btn-default">Ir a recibidos</a>
                                    </div>
                                </div>
                            </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-lg-12">
                {% if entities %}
                <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-primary table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Trámite</th>
                                            <th>Descripción</th>
                                            <th>Fecha Envío</th>
                                            <th>Observación</th>
                                            <th class="text-center">Estado Trámite</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                        <tr class="border-warning">
                                            <td class="text-center">
                                                <strong>{{ loop.index }}</strong>
                                            </td>
                                            <td>{{ entity.tramite.id }}</td>
                                            <td>{{ entity.tramite.tramiteTipo.tramiteTipo }} - {{ entity.tramite.gestionId }}</td>
                                            <td>{{ entity.fechaEnvio|date('d-m-Y') }}</td>
                                            <td>{{ entity.obs }}</td>
                                            <td class="text-center">{{ entity.flujoProceso.proceso.procesoTipo }}</td>
                                            <td class="text-center">
                                                <form action="{{path('herramienta_inbox_delete_tramite')}}" method="post" style="display: inline-block">
                                                    <input type="hidden" id="form_tramiteId" name="form[tramiteId]" value="{{entity.tramite.id}}">
                                                    <input type="hidden" id="form_tipo" name="form[tipo]" value="{{ entity.tramite.tramiteTipo.id }}">
                                                    <input type="hidden" id="form_idInstitucion" name="form[idInstitucion]" value="{{entity.tramite.institucioneducativa.id}}">
                                                    <input type="hidden" id="form_gestion" name="form[gestion]" value="{{entity.tramite.gestionId}}">
                                                    <button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Anular Trámite {{entity.tramite.id}}"><i class="fa fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    No hay Trámites pendientes.
                {% endif %}
            </div>
        </div>
    </div> 

{% endblock %}
