<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle Trámite: {{ idtramite }}</h4>
        </div><!-- /.panel-heading -->
        <div class="modal-body">
            <table class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th style="max-width: 5px">Nro.</th>
                        <th>Pasos del trámite</th>
                        <th>Fecha de recepción</th>
                        <th>Fecha de envío</th>
                        <th>Fecha de vencimiento</th>
                        <th>Tiempo duración</th>
                        <th>Plazo</th>
                        <th>Estado</th>
                        <th>Observación</th>
                        <th>Usuario remitente</th>
                        <th>Usuario destinatario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in detalle %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ d.proceso_tipo }}</td>
                            <td>{{ d.fecha_recepcion }}</td>
                            <td>{{ d.fecha_envio }}</td>
                            <td class="text-danger">{{ d.fecha_vencimiento }}</td>
                            <td>{{ d.duracion }}</td>
                            <td>{{ d.plazo }}</td>
                            {% if d.tramite_estado %}
                                {% if d.tarea_sig_id == null %}
                                    <td ><span class="label label-success">TRAMITE CONCLUIDO</span></td>
                                {% else %}
                                    <td><span class={% if d.tramite_estado_id in [3,15] %}"label label-success"{% else %}"label label-danger" {% endif %}>{{ d.tramite_estado }}</span></td>
                                {% endif %}
                                {% if d.es_evaluacion == true  %}
                                    {% if d.valor_evaluacion == "SI" %}
                                        <td>PROCEDENTE: {{d.obs}}</td>
                                    {% else %}
                                        <td>IMPROCEDENTE: {{d.obs}}</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{d.obs}}</td>
                                {% endif %}
                            {% else %}
                                <td> <span class="label label-warning">PENDIENTE</span></td>
                                <td></td>
                            {% endif %}
                            <td>{{d.usuario_remitente}}</td>
                            <td>{{d.usuario_destinatario}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div>
        <div class="modal-footer">
        </div>
    </div>
</div>
