{% extends 'layoutHerramienta.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <style type="text/css">
          {#.end-element { background-color :indianred; }#}
    </style>
{% endblock %}
{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Seguimiento de trámite</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="{{ path('flujotipo')}}">Academico</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Seguimiento</a>
                    <i class="fa fa-angle-right"></i>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->
<div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="pull-left ">
                            <h3 class="panel-title">Seleccione opciones de búsqueda</h3>
                        </div>
                        <div class="pull-right">                        
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
						<div class="form-group">
                            {{ form_start(form,{ 'attr': {'id':'form_seguimiento'} } ) }}
						    <label class="col-sm-2">Trámite:</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.proceso, {'attr':{'class':'form-control'} }) }}
                            </div>
                            <label class="col-sm-2">Nro. de Trámite:</label>
                            <div class="col-sm-4">
                                {{ form_widget(form.tramite, {'attr':{'class':'form-control'} }) }}
                            </div>
                            {{ form_end(form) }}
                        
                        <div class="form-group">                        
                            <button id="buscar" class="btn btn-primary">Buscar</button>    
                        </div>
                        </div>
                        <div id="flujo">
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('webprocesos/raphael-min.js') }}"></script>
    <script src="{{ asset('webprocesos/jquery.min.js') }}"></script>
    <script src="{{ asset('webprocesos/flowchart-latest.js') }}"></script>
    <script type="text/javascript" charset="utf-8" >
        $('#ver').click(function(){
            //alert('entra');
            $('#detalle').show();
        });

        $('#buscar').click(function(){
            //alert('hola');
            if ($('#form_proceso').val()==""){ alert('Seleccione un proceso'); return false; }
            if ($('#form_tramite').val()==""){ alert('Ingrese un número de trámite'); return false; }
            formData = $('#form_seguimiento').serialize();
            $.ajax({
                type: 'GET',
                url: "{{path('wf_tramite_seguimiento_verflujo')}}",
                data: formData,
                beforeSend: function () {
                        $('#flujo').empty();
                        $('#flujo').append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#flujo').empty();
                    $('#flujo').append(data);
                    var btn = document.getElementById("run"),
                    cd = document.getElementById("code"),
                    chart;
                    var code = cd.value;
                    if (chart) {
                      chart.clean();
                    }
                    chart = flowchart.parse(code);
                    chart.drawSVG('canvas', {
                      // 'x': 30,
                      // 'y': 50,
                      'line-width': 3,
                      'maxWidth': 3,//ensures the flowcharts fits within a certian width
                      'line-length': 20,
                      'text-margin': 10,
                      'font-size': 12,
                      'font': 'normal',
                      'font-family': 'Helvetica',
                      'font-weight': 'normal',
                      'font-color': 'black',
                      'line-color': 'black',
                      'element-color': 'black',
                      'fill': 'white',
                      'yes-text': 'SI',
                      'no-text': 'NO',
                      'arrow-end': 'block',
                      'scale': 1,
                      'symbols': {
                        'start': {
                          'font-color': 'black',
                          'element-color': 'black',
                          'fill': 'black'
                        },
                        'end':{
                          'class': 'end-element'
                        }
                      },
                      'flowstate' : {
                        'past' : { 'fill' : 'white','font-color' : 'black', 'font-size' : 12},
                        'current' : {'fill' : '#FFFF99', 'font-color' : 'black', 'font-weight' : 'bold'},
                        'future' : { 'fill' : '#FFFF99'},
                        'request' : { 'fill' : 'blue'},
                        'invalid': {'fill' : '#444444'},
                        'approved' : { 'fill' : '#58C4A3', 'font-size' : 12, 'yes-text' : 'SI', 'no-text' : 'NO' },
                        'rejected' : { 'fill' : '#C45879', 'font-size' : 12, 'yes-text' : 'NO', 'no-text' : 'SI' }
                      }
                    });
                },
            }); 
        });
    </script>
{% endblock %}