{% extends 'layoutHerramienta.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Trámites <span>Recibidos</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aquí:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('exito') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('exito') %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="glyphicon glyphicon-ok"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('recibido') %}
                    <div class="alert alert-warning">
                        {% for msg in app.session.flashBag.get('recibido') %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="glyphicon glyphicon-info-sign"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-danger">
                        {% for msg in app.session.flashBag.get('error') %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="glyphicon glyphicon-remove"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}    
                <!-- Start default panel -->
                <div class="panel panel-primary rounded shadow">
                    <!-- Start panel heading -->
                    <div class="panel-heading">
                        <h3 class="panel-title">{{titulo}}</h3>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <!--/ End panel heading -->
                    <!-- Start panel content -->
                    <div class="panel-body">
                        <div class="row">
							<div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-primary datatable" id="recepDep">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 15px;">No. Trámite</th>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Trámite</th>
                                            <th>Tipo de Trámite</th>
                                            <th>Observación</th>
                                            <th>Tarea actual</th>
                                            <th>Estado</th>
                                            <th>Fecha de estado</th>
                                            <th>Plazo(días)</th>
                                            <th>Fecha Vencimiento</th>
                                            <th>Usuario Remitente</th>
                                            <th>Detalle</th>
                                            <th>Tarea a ejecutar</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="min-width: 15px;">No. Trámite</th>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Trámite</th>
                                            <th>Tipo de Trámite</th>
                                            <th>Observación</th>
                                            <th>Tarea actual</th>
                                            <th>Estado</th>
                                            <th>Fecha de estado</th>
                                            <th>Plazo(días)</th>
                                            <th>Fecha Vencimiento</th>
                                            <th>Usuario Remitente</th>
                                            <th>Detalle</th>
                                            <th>Tarea a ejecutar</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for entity in entities %}
                                        <tr>
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.codigo_tabla }}</td>
                                            <td>{{ entity.nombre_tabla }}</td>
                                            <td>{{ entity.flujo }}</td>
                                            <td>{{ entity.tramite_tipo }}</td>
                                            <td>{{ entity.obs }}</td>
                                            <td>{{ entity.tarea_actual }}</td>
                                            <td><span class={% if entity.id_estado == 3 %}"label label-warning"{% elseif entity.id_estado == 4 %}"label label-danger" {% else %} "label label-success"{% endif %}>{{ entity.tramite_estado }}</span></td>
                                            <td>{{ entity.fecha_estado }}</td>
                                            <td>{{ entity.plazo }}</td>
                                            <td class="text-danger">{{ entity.fecha_vencimiento }}</td>
                                            <td>{{ entity.nombre }}</td>
                                            <td class="text-center">
                                                <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal" data-placement="top" title="Ver Detalle" onclick="detalle({{entity.id}},{{entity.idflujo}})">
                                                    <i class="fa fa-list"></i>
                                                </a>
                                            </td>
                                            <td>{{ entity.proceso_tipo }}</td>
                                            <td>
                                            {% if entity.id_estado == 15 or entity.id_estado == 4 %} {#si esta enviado/devuelto #}
                                                <a href="{{ path('wf_tramite_recibido_guardar', { 'id': entity.id }) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Recibir para:{{ entity.proceso_tipo }}">
                                                    <i class="glyphicon glyphicon-check"></i>
                                                </a>
                                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal" data-placement="top" title="Derivar Tarea" onclick="derivar({{entity.id}},{{entity.idflujo}})">
                                                    <i class="glyphicon glyphicon-share-alt"></i>
                                                </a>
                                            {% endif %}
                                            {% if entity.id_estado == 3 %} {#si esta recibido #}
                                                <a href="{{ path('wf_tramite_recibido_enviar', { 'id': entity.id }) }}" class="btn btn-primary btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="{{ entity.proceso_tipo }}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                    <!--/ End panel content -->
                </div><!-- /.panel -->  
                <!--/ End default panel -->
            </div>
        </div><!-- /.row -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
    </div><!-- /.modal -->  
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $( document ).ready(function() {
            cargatablas();
        });
        var cargatablas = function (identif){
            // Setup - add a text input to each footer cell
            $('#recepDep tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "Acciones"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );
            // DataTable
            var table = $('#recepDep').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": [0] }
                    ],
                }
            );
            // Apply the search
            table.columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        };
        function detalle(id,flujo){
            //confirm('¿Esta suguro de eliminar?');
            //alert(id);
            formData = {id: id,flujo:flujo};
            $.ajax({
                type: 'GET',
                url: "{{path('wf_tramite_recibido_detalle')}}",
                data: formData,
                beforeSend: function () {
                    $('#modal').empty();
                    $('#modal').append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
            });
        }

        function derivar(id,flujo){
            //confirm('¿Esta suguro de eliminar?');
            //alert(id);
            formData = {id: id,flujo:flujo};
            $.ajax({
                type: 'get',
                url: "{{path('wf_tramite_recibido_derivar')}}",
                data: formData,
                beforeSend: function () {
                    $('#modal').empty();
                    $('#modal').append('<div style="text-align:center">Cargango datos...<img src="{{asset('img/loading.gif')}}"  /></div>');
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);
                },
            });
        }
    </script>
{% endblock %}