{% extends '::base.html.twig' %}

{% block body -%}
    <h1>OlimDirectorInscripcionDatos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Telefono1</th>
                <th>Telefono2</th>
                <th>Correoelectronico</th>
                <th>Fecharegistro</th>
                <th>Esvigente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('olimdirectordata_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.telefono1 }}</td>
                <td>{{ entity.telefono2 }}</td>
                <td>{{ entity.correoElectronico }}</td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.esVigente }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('olimdirectordata_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('olimdirectordata_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('olimdirectordata_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
