
    <h1></h1>

<div class="table-responsive mb-20">
 <ul>
        <li>
            <a class="btn btn-success" href="{{ path('infraestructurah5ambientepedagogico_new') }}">
                Agregar Ambiente
            </a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Ambiente</th>
                <th>Ancho</th>
                <th>Largo</th>
                <th>Alto</th>
                <th>Capacidad</th>
                <th>Fecharegistro</th>
                <th>Uso Ambiente</th>
                <!-- 
                <th>N51especialidadtipoid</th>
                <th>N51talleresespotro</th>
                <th>N51esusouniversal</th>
                <th>N51esambientecielofal</th>
                <th>N51esambientepuerta</th>
                <th>N51esambienteventana</th>
                <th>N51esiluminacionelectrica</th>
                <th>N51esiluminacionnatural</th>
                <th>N51esambientemuros</th>
                <th>N51esambienterevestimiento</th>
                <th>N51esambientepiso</th>
                <th>N51esambientetecho</th>
                <th>N51nrobloque</th>
                <th>N51nropiso</th>
                <th>N51esusobth</th>
                <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('infraestructurah5ambientepedagogico_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.n51AmbienteTipo }}</td>
                <td>{{ entity.n51AmbienteAnchoMts }}</td>
                <td>{{ entity.n51AmbienteLargoMts }}</td>
                <td>{{ entity.n51AmbienteAltoMts }}</td>
                <td>{{ entity.n51CapacidadAmbiente }}</td>
                <td>{% if entity.fecharegistro %}{{ entity.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.n51EsUsoAmbiente }}</td>
                {#}
                <td>{{ entity.n51EspecialidadTipoId }}</td>
                <td>{{ entity.n51TalleresEspOtro }}</td>
                <td>{{ entity.n51EsUsoUniversal }}</td>
                <td>{{ entity.n51EsAmbienteCieloFal }}</td>
                <td>{{ entity.n51EsAmbientePuerta }}</td>
                <td>{{ entity.n51EsAmbienteVentana }}</td>
                <td>{{ entity.n51EsIluminacionElectrica }}</td>
                <td>{{ entity.n51EsIluminacionNatural }}</td>
                <td>{{ entity.n51EsAmbienteMuros }}</td>
                <td>{{ entity.n51EsAmbienteRevestimiento }}</td>
                <td>{{ entity.n51EsAmbientePiso }}</td>
                <td>{{ entity.n51EsAmbienteTecho }}</td>
                <td>{{ entity.n51NroBloque }}</td>
                <td>{{ entity.n51NroPiso }}</td>
                <td>{{ entity.n51EsUsoBth }}</td>#}
                <td>
                
                        <a class="btn btn-success" href="{{ path('infraestructurah5ambientepedagogico_show', { 'id': entity.id }) }}">Mobiliario</a>
                
                        <a class="btn btn-success" href="{{ path('infraestructurah5ambientepedagogico_edit', { 'id': entity.id }) }}">Equipamiento</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
       
    
