<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Adición de Ambiente Pedagogico</h3>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

				{{form_start(form, { 'attr':{'id':'idFormNewPedagogico'} })}}
                <div class="form-body"> 

                    <div class="form-group">
					<label>1.1 Descripcion ambientes para el desarrollo pedagogico</label>
						<table class="table">
						    <tr>
						      <td class="text-center">Ambiente:</td>
						      <td class="text-center">Bloque</td>
						      <td class="text-center">Piso</td>
						      <td class="text-center">Capacidad</td>
						      <td class="text-center">Ancho(mts)</td>
						      <td class="text-center">Largo(mts)</td>
						      <td class="text-center">Alto(mts)</td>					      
						    </tr>
						    <tr>
						      <td class="text-center" >{{form_widget(form.n51AmbienteTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51NroBloque, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51NroPiso, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51CapacidadAmbiente, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteAnchoMts, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteLargoMts, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center"> {{form_widget(form.n51AmbienteAltoMts, {'attr': {'class':'form-control'} } )}}</td>
						    </tr>
						</table>
					</div>

					<div class="form-group">
						<table class="table">
                            <tbody>
                                <tr>	
                                	<td class="text-right">Es usado el ambiente</td>
                                	<td class="text-left" >{{form_widget(form.n51EsUsoUniversal, {'attr': {'class':''} } )}}</td>
                                    <td class="text-right">Ambiente es considerado uso universal</td>
                                    <td class="text-left" >{{form_widget(form.n51EsUsoAmbiente, {'attr': {'class':''} } )}}</td>
                                </tr>
                               
                               <tr>	
                                   	<td class="text-right">Ambiente utilizado como taller para BTH o Especialidad T&eacute;cnica</td>
                                   	<td class="text-left" >{{form_widget(form.n51EsUsoBth, {'attr': {'class':''} } )}}</td>
                                   	<td class="text-right">Estado</td>
                                   	<td class="text-left" >{{form_widget(form.estadoTipo, {'attr': {'class':'form-control	'} } )}}</td>
                                </tr>
                               
                            </tbody>
                        </table>
					</div>

						

					<div class="form-group">
						<label>1.2 Estado del Ambiente</label>
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene Techo:</td>
						      <td class="text-center" >{{form_widget(form.n51EsAmbienteTecho, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">Tiene iluminaci&oacute;n el&eacute;ctrica</td>
						      <td class="text-center">{{form_widget(form.n51EsIluminacionElectrica, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">Tiene iluminaci&oacute;n Natural</td>
						      <td class="text-center">{{form_widget(form.n51EsIluminacionNatural, {'attr': {'class':''} } )}}</td>
						    </tr>
						    
						</table>
					</div>

					<div class="form-group">
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene cielo falso:</td>
						      <td class="text-center">Caracteristicas</td>
						      <td class="text-center">Tiene muros</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n51EsAmbienteCieloFal, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n51AmbienteCieloFalTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51EsAmbienteMuros, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteMuroMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteMuroCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>
					<div class="form-group">
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene puertas:</td>
						      <td class="text-center">Seguro</td>
						      <td class="text-center">Se Abre</td>
						      <td class="text-center">Tiene revestimiento</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n51EsAmbientePuerta, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n511SeguroTipo, {'attr': {'class':'form-control'} } )}}</th>
						      <td class="text-center">{{form_widget(form.n512AbreTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51EsAmbienteRevestimiento, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteRevestMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbienteRevestCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>

					<div class="form-group">
						<table class="table">
						    <tr>
						      <td class="text-center">Tiene ventana(s):</td>
						      <td class="text-center">Caracteristicas</td>
						      <td class="text-center">Tiene piso</td>
						      <td class="text-center">Material</td>
						      <td class="text-center">Caracteristicas</td>
						      
						    </tr>
						    <tr>
						      <td class="text-center">{{form_widget(form.n51EsAmbienteVentana, {'attr': {'class':''} } )}}</th>
						      <td class="text-center">{{form_widget(form.n51AmbienteVentanaTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51EsAmbientePiso, {'attr': {'class':''} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbientePisoCaracTipo, {'attr': {'class':'form-control'} } )}}</td>
						      <td class="text-center">{{form_widget(form.n51AmbientePisoMatTipo, {'attr': {'class':'form-control'} } )}}</td>
						      
						    </tr>
						</table>
					</div>

                </div>
                  
            {{form_end(form)}}




 			</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-theme" data-dismiss="modal" onclick='saveNewAmbPedagogico()'>Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

