{% extends "::layoutTramites.html.twig"%}
{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block contentBread %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{path('tramite_homepage')}}">Perfil</a>
            <i class="fa fa-angle-right"></i>
        </li>
        {% block contentSearchBread %}
        {% endblock %}
    </ol>
{% endblock %}

{% block contentoption %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel shadow">
                <div id="tour-15" style="display: block;" class="panel-body">
                    {% if formBusqueda is defined  %}
                        {{form_start(formBusqueda, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                            <form class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group no-margin">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form_widget(formBusqueda.sie) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_widget(formBusqueda.gestion) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_widget(formBusqueda.search,{ 'attr':{'class':'btn btn-primary mb-15 btn-block' } } ) }}
                                            </div>
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                            </form>
                        {{form_end(formBusqueda)}}
                    {% endif %}
                </div><!-- /.panel-body -->
            </div>
        </div>
    </div><!-- /.row -->
    {% block contentsearch %}
    {% endblock %}
    <aside>
        <!-- Start table in modal element -->
        <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="participanteHistorial" class="table-responsive">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--/ End table in modal element -->
    </aside>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        if($('#form_sie').length){
            if($('#form_sie').val().length>=8){
                $('#form_gestion').removeAttr('disabled');
                habilitarSubmit();
            } else {
                $('#form_gestion').attr("disabled", "disabled");
                $('#form_search').attr("disabled", "disabled");
            }
        }

        // funcion que valida la cantidad de caracteres del campo sie
        function valSie(){
            if($('#form_sie').length){
                if($('#form_sie').val().length>=8){
                    $('#form_gestion').removeAttr('disabled');
                    habilitarSubmit();
                } else {
                    $('#form_gestion').attr("disabled", "disabled");
                    $('#form_search').attr("disabled", "disabled");
                }
            }
        }

        // funcion que selecciona la primera opcion del campo gestion al momento de ingresar o modificar un nuevo sie
        function valSieFocusOut(){
            $("#form_gestion").prop("selectedIndex", 0);
        }

        // funcion que habilita el boton de búsqueda cuando se tiene ingresado la gestion
        function habilitarSubmit(){
            $('#form_search').removeAttr('disabled');
        }

        // funcion que inhabilita el boton de búsqueda cuando no se tiene ingresado la gestion
        function inhabilitarSubmit(){
            $('#form_search').addAttr("disabled", "disabled");
        }

        // funcion que marca/desmarca todos los participantes visibles en la pantalla
        function marcarTodos(chkAll){
            var botonAceptar = document.getElementsByName('botonAceptar')[0];
            var botonAnular = document.getElementsByName('botonAnular')[0];
            var botonModalDevolver = document.getElementsByName('botonModalDevolver')[0];
            var participantes = document.getElementsByName('participantes[]');
            if(chkAll.checked){
                for (var i=0; i < participantes.length; i++){
                    participantes[i].checked = true;
                }
                if(participantes.length > 0){
                    if(botonAceptar){
                        botonAceptar.disabled = false;
                    }
                    if(botonModalDevolver){
                        botonModalDevolver.disabled = false;
                    }
                    if(botonAnular){
                        botonAnular.disabled = false;
                    }
                }
            }else{
                for (var i=0; i < participantes.length; i++){
                    participantes[i].checked = false;
                }
                if(botonAceptar){
                    botonAceptar.disabled = true;
                }
                if(botonModalDevolver){
                    botonModalDevolver.disabled = true;
                }
                if(botonAnular){
                    botonAnular.disabled = true;
                }
            }
        }

        // funcion que habilita/deshabilita el boton de registro en funcion a la seleccion del o los participantes
        function validarMarcar(chk){
            var participantesAll = document.getElementById('participantesAll');
            var participantes = document.getElementsByName('participantes[]');
            var botonAceptar = document.getElementsByName('botonAceptar')[0];
            var botonAnular = document.getElementsByName('botonAnular')[0];
            var botonModalDevolver = document.getElementsByName('botonModalDevolver')[0];
            var estado = false;
            var estadoAll = true;

            for (var i=0; i < participantes.length; i++){
                if(participantes[i].checked === true){
                    estado = true;
                } else {
                    estadoAll = false;
                }
            }

            if(estadoAll){
                participantesAll.checked = true;
            } else {
                participantesAll.checked = false;
            }

            if(estado){
                if(botonAceptar){
                    botonAceptar.disabled = false;
                }
                if(botonAnular){
                    botonAnular.disabled = false;
                }
                if(botonModalDevolver){
                    botonModalDevolver.disabled = false;
                }
            } else {
                if(botonAceptar){
                    botonAceptar.disabled = true;
                }
                if(botonAnular){
                    botonAnular.disabled = true;
                }
                if(botonModalDevolver){
                    botonModalDevolver.disabled = true;
                }
            }
        }

        // funcion que habilita/deshabilita el boton de registro en funcion a la seleccion del o los participantes
        function validarFormImpresion(){
            var participantesAll = document.getElementById('participantesAll');
            var participantes = document.getElementsByName('participantes[]');
            var botonAceptar = document.getElementsByName('botonAceptar')[0];
            var botonAnular = document.getElementsByName('botonAnular')[0];
            var botonModalDevolver = document.getElementsByName('botonModalDevolver')[0];
            var numeroSerie = document.getElementById('numeroSerie');
            var serie = document.getElementById('serie');
            var fechaSerie = document.getElementById('fechaSerie');
            var firma = document.getElementById('firma');
            var estado = false;
            var estadoAll = true;

            for (var i=0; i < participantes.length; i++){
                if(participantes[i].checked === true){
                    estado = true;
                } else {
                    estadoAll = false;
                }
            }

            if(estadoAll){
                participantesAll.checked = true;
            } else {
                participantesAll.checked = false;
            }

            if(estado){
                if(botonModalDevolver){
                    botonModalDevolver.disabled = false;
                }
                if(botonAnular){
                    botonAnular.disabled = false;
                }
            } else {
                if(botonModalDevolver){
                    botonModalDevolver.disabled = true;
                }
                if(botonAnular){
                    botonAnular.disabled = true;
                }
            }

            if((numeroSerie.value === "" || fechaSerie.value === "" || firma.value === "") && estado === true){
                estado = false;
            }

            if(estado){
                if(botonAceptar){
                    botonAceptar.disabled = false;
                }
            } else {
                if(botonAceptar){
                    botonAceptar.disabled = true;
                }
            }
        }

        // funcion q controla el ingreso de solo numeros y/o otras teclas (enter y teclas de direccion)
        $("#form_sie").keydown(function(event) {
           if(event.shiftKey)
           {
                event.preventDefault();
           }

           if (event.keyCode == 46 || event.keyCode == 8)    {
           }
           else
           {
                if (event.keyCode < 95) {
                  if ((event.keyCode < 48 && event.keyCode != 9 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40 && event.keyCode != 13) || event.keyCode > 57) {
                        event.preventDefault();
                  }
                }
                else {

                      if (event.keyCode < 96 || event.keyCode > 105) {
                          event.preventDefault();
                      }
                }
            }
       });

       function verificaCampos(){
            var participantes = document.getElementsByName('participantes[]');
            var cantidadParticipantes = 0;
            for (var i=0; i < participantes.length; i++){
                if(participantes[i].checked == true){
                    cantidadParticipantes = cantidadParticipantes +1;
                }
            }
            var botonAceptar = document.getElementById('botonAceptar');
            var botonImprimir = document.getElementById('botonImprimir');
            var botonModalDevolver = document.getElementsByName('botonModalDevolver')[0];
            var botonDevolver = document.getElementsByName('botonDevolver')[0];
            var botonAnular = document.getElementsByName('botonAnular')[0];
            var botonCancelarDevolver = document.getElementsByName('botonCancelarDevolver')[0];
            var r = confirm("¿ Desea registrar el trámite de los "+cantidadParticipantes+" estudiantes seleccionados ?");

            if (r == false) {
                if (botonAceptar){
                    botonAceptar.style.display = "";
                }
                if (botonImprimir){
                    botonImprimir.style.display = "";
                }
                if (botonDevolver){
                    botonDevolver.style.display = "";
                }
                if (botonAnular){
                    botonDevolver.style.display = "";
                }
                if (botonCancelarDevolver){
                    botonCancelarDevolver.style.display = "";
                }
                return false;
            } else {
                for (var i=0; i < participantes.length; i++){
                    if(participantes[i].checked == true){
                        participantes[i].style.visibility = 'hidden';
                    }
                }
                if (botonAceptar){
                    botonAceptar.style.display = "none";
                }
                if (botonImprimir){
                    //botonImprimir.disabled = true;
                    botonImprimir.innerHTML = "Registrando, espere por favor...";
                    botonImprimir.classList.remove("btn-lilac");
                    botonImprimir.classList.add("btn-success");
                }
                if (botonModalDevolver){
                    botonModalDevolver.style.display = "none";
                }
                if (botonDevolver){
                    botonDevolver.style.display = "none";
                }
                if (botonAnular){
                    botonAnular.style.display = "none";
                }
                if (botonCancelarDevolver){
                    botonCancelarDevolver.style.display = "none";
                }
                //$('#form_search').removeAttr('disabled');
                return true;
            }
        }

        function participanteHistorial(inscripcion) {
            peticion = $.ajax({
                type: 'POST',
                url: "{{ path('tramite_diploma_humanistico_estudiante_inscripcion_historial') }}",
                data: {'inscripcion': inscripcion},
                beforeSend: function () {
                    $("#participanteHistorial").empty();
                    $("#participanteHistorial").append('<div style="text-align:center"><img src="{{asset('img/loading.gif')}}" /></div>');
                },
                success: function (data) {
                    $('#participanteHistorial').empty();
                    $("#participanteHistorial").append(data);
                },
                error: function(xhr) {
                    $("#participanteHistorial").empty();
                    $("#participanteHistorial").append('<div style="text-align:center">ERROR</div>');
                },
            })
            .fail(function( jqXHR, textStatus, errorThrown ) {
                $("#participanteHistorial").empty();
                $("#participanteHistorial").append('<div style="text-align:center">ERROR FATAL</div>');
            });
            return true;
        }

        

       $(window).load(function(){
            // ..
            document.getElementById("form_sie").focus();
            // ..

            if($('#form_gestion option').length !== 0) {
                $('#form_gestion').removeAttr('disabled');
            }

            // Setup - add a text input to each footer cell
            $('#tablaParticipantes tfoot th').each( function () {
                var title = $(this).text();
                if(title.trim() === "" || title === "#"){
                    $(this).html('');
                } else {
                    $(this).html( '<input type="text" class="form-control" style="width: 100%; box-sizing: border-box;" placeholder="Buscar '+title+'" />' );
                }
            } );

            // DataTable
            var table = $('#tablaParticipantes').DataTable( {
                    "order": [[ 0, "asc" ]],
                    "columnDefs": [
                        { "orderable": false, "targets": 8 }
                    ],
                }
            );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            $("#botonModalDevolver").on( "click", function() {
                $('#botonAceptar').hide();
                $('#botonAnular').hide();
                $('#botonImprimir').hide();
                $('#botonModalDevolver').hide();
            });

            $("#botonCancelarDevolver").on( "click", function() {
                $('#botonAceptar').show();
                $('#botonAnular').show();
                $('#botonImprimir').show();
                $('#botonModalDevolver').show();
            });

            
            $('#tablaParticipantes tbody').on("click", "button", function(){    
                var data = table.row( $(this).parents('tr')).data();
                var r = confirm("¿ Desea anular el trámite "+data[1]+" ?");
                if (r == true) {              
                    // var estado = table.row($(this).parent().parent().children('td.estado')).value;
                    var estado = false;
                    var boton = $(this);
                    var row = table.row($(this).parents('tr'));
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('tramite_anula') }}",
                        data: {'val': $(this).val(), 'obs': data[8]},
                        beforeSend: function () {
                            boton.hide();  
                        },
                        success: function (data) {
                            if(data.estado){
                                row.remove().draw(false);
                            } else {
                                boton.show();  
                            }                       
                        },
                        error: function(xhr) {
                            boton.show();  
                        },
                    })
                    .fail(function( jqXHR, textStatus, errorThrown ) {
                        boton.show();  
                    });  
                    return true; 
                } else {
                    return false; 
                }
            });             
        });   
    </script>
{% endblock %}
