{% extends 'SieTramitesBundle:Default:Registros.html.twig' %}
{% block contenttitulo %}{{ titulo }}{% endblock %}
{% block contenttitulosmall %}{{ subtitulo }}{% endblock %}
{% block contentnavegacion %}<li class="active"><i class="fa fa-dashboard"></i> Principal</li><li class="active">Listado de Estudiantes</li>{% endblock %}
    {% block contentbuscador %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="fa fa-circle text-dpl"></i> Búsqueda de Unidad Educativa</h4>
                        </div>
                        <div class="portlet-widgets">
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion" href="index.html#formulario"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body" id="formulario">
                        <div class="row">
                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                            {#                            <div class="form-group">#}
                            {#                                <div class="row">#}
                            {{ form_widget(form.identificador) }}
                            <div class="col-lg-2 col-md-7 col-sm-9 col-xs-12">
                                {{ form_widget(form.gestiones,{ 'attr':{'class':'btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12' } }) }}
                            </div>
                            <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12">
                                {{ form_widget(form.sies) }}
                                {#                                    <div class="help-block with-errors"></div>#}
                            </div>

                            <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12">
                                {{ form_widget(form.lista,{ 'attr':{'class':'btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12' } }) }}
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                {{ form_widget(form.search,{ 'attr':{'class':'btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12 glyphicon glyphicon-search' } } ) }}
                            </div>
                        </div>
                        {{form_end(form)}}
                        {#                            </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contentregistros %}
    {% if bachilleres is defined  %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <form name="formtable" role="form" action="{{ path('tramite_impresion_listados_pdf') }}" method="POST">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12">
                            <div class="portlet portlet-default">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4><i class="fa fa-circle text-dpl"></i> Reporte C.E.A. {{unidadEducativa[0].institucioneducativa}} - {{listaDesc}} - {{gestion}} </h4>
                                    </div>
                                    <div class="portlet-widgets">

                                        <div class="btn-group">
                                            <input type="hidden" name="gestion" value="{{ gestion }}" />
                                            <input type="hidden" name="identificador" value="{{ identificador }}" />
                                            <input type="hidden" name="sie" value="{{ unidadEducativa[0].id }}" />
                                            <input type="hidden" name="lista" value="{{ listas }}" />
                                            {#                                                <input type="hidden" name="esp" value="{{ especialidad }}" /> #}
                                            {#                                                <input type="hidden" name="nivel" value="{{ nivel }}" /> #}
                                            <input type="submit" name="botonPrint" class="btn btn-success" value="Imprimir"/>
                                        </div>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="index.html#infouser"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="portlet-body" id="infouser">
                                    <div id="no-more-tables">
                                        <table id="myTable" class="table table-bordered table-hover cf dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Tramite</th>
                                                    <th>Código RUDEAL</th>
                                                    <th>C.I.</th>
                                                    <th>Paterno</th>
                                                    <th>Materno</th>
                                                    <th>Nombre(s)</th>
                                                    <th>Fecha - Lugar Nacimiento</th>
                                                    <th>Especialidad</th>
                                                    <th>Grado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set cont = 0 %}
                                                {% for bachiller in bachilleres %}
                                                    {% set cont = cont +1 %}
                                                    {% set id = bachiller.tramite_id %}
                                                    <tr>
                                                        <td data-title="Tramite">{{ bachiller.tramite_id}}</td>
                                                        <td data-title="Codigo Rude">{{ bachiller.codigo_rude }}</td>
                                                        <td data-title="C.I.">{{ bachiller.carnet_identidad }}</td>
                                                        <td data-title="Paterno">{{ bachiller.paterno }}</td>
                                                        <td data-title="Materno">{{ bachiller.materno }}</td>
                                                        <td data-title="Nombre(s)" >{{ bachiller.nombre }}</td>
                                                        <td data-title="Fecha - Lugar Nacimiento">{{bachiller.fecha_nacimiento|date('d/m/Y')}} - {{bachiller.depto_nacimiento}}</td>
                                                        <td data-title="Especialidad">{{bachiller.especialidad}} </td>
                                                        <td data-title="Grado">{{bachiller.grado}} </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>

        function limpiar_dato_sie() {
            $('#form_sies').val('');
        }
        function buscarBoton(a, i) {
            if (i == 0) {
                var sie = document.getElementById('form_sies').value;
                var gestion = document.getElementById('form_gestiones').value;
                if (sie == '' || gestion == '') {
                    document.getElementById('form_lista').value = "";
                } else {
                    $('#form_search').removeAttr('disabled');
                }
            } else {
                if (a != '') {
                    $('#form_search').removeAttr('disabled');
                }
            }
        }


    </script>
{% endblock %}
