{% extends 'layoutRegular.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('css/chosen.css')}}" rel="stylesheet">
	<link href="{{asset('bootstrap-wizard/css/bwizard.min.css')}}" rel="stylesheet">
	<style>
		.arrow-before {
			width: 0;
			height: 0;
			border-left: 6px solid transparent; /* izquierda flecha */
			border-right: 6px solid transparent; /* derecha flecha */
			border-bottom: 6px solid #906094; /* base flecha y color*/
			font-size: 0;
			line-height: 0;
			top: 6px;
			left: 3px;
			position: relative;
		}
		.arrow-after {
			width: 0;
			height: 0;
			border-left: 6px solid transparent; /* izquierda flecha */
			border-right: 6px solid transparent; /* derecha flecha */
			border-bottom: 6px solid #906094; /* base flecha y color*/
			font-size: 0;
			line-height: 0;
			top: 1px;
			left: 3px;
			position: relative;
		}
		#popover-head {
			width: 300px;
			background-color: #6E89FF;
		}
	</style>
{% endblock %}
{% block contentoption %}


	<div class="row">
		<div class="col-lg-12">
			<div class="page-title">
				<h1>{{ app.session.get('tituloTipo') }}
					<small></small>
				</h1>
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-search"></i>
						<a href="{{path('areas')}}">Buscar</a>
					</li>
					<li>
						<i class="fa fa-list"></i>
						<a href="{{path('areas',{'op':'result'})}}">{{ app.session.get('tituloTipo') }}</a>
					</li>
				</ol>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="row">
		<div class="alert alert-info">
			<h4>
				<strong>IMPORTANTE!</strong>
			</h4>
			<strong>
				<p>1: PARA VER EL DETALLE DE LAS SOLICITUDES DE CREACION DE CURSOS DE UNA U.E. HAGA CLICK EN EL BOTON "VER SOLICITUDES"</p>				
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title text-center">LISTA DE SOLICITUDES DE APERTURAS DE PARALELOS POR UNIDAD EDUCATIVA - DEPARTAMENTO: {{depto|upper}}</h3>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="portlet portlet-red">
					<div class="portlet-heading">
						<div class="portlet-title">
							<h4>BANDEJA DE ENTRADA  -  ROL DIRECTOR DEPARTAMENTAL</h4>
						</div>
						<div class="portlet-widgets">
							<a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion">
								<i class="fa fa-chevron-down"></i>
							</a>
						</div>
						<div class="clearfix"></div>

					</div>

					<div id="panelinstitucion2" class="panel-collapse collapse in">
						<div class="portlet-body">
							<div class="panel-body panel-primary">

                                <div class="row">
                                    <div class="col-md-1">
                                        <a href="{{ path('areas_tramite') }}" class="btn btn-success btn-block" id="print_report">ACTUALIZAR LISTADO
                                        </a>
                                    </div>                                   
                                </div>

                                <br><br>

                                <div class="table-responsive">
                                    <table id="myTable1" class="table table-bordered dataTable table-success">
                                        <thead>
                                            <tr>
                                                <th width="2%">
                                                    #
                                                </th>
                                                <th width="8%">
                                                    CODIGO SIE
                                                </th>
                                                <th width="20%">
                                                    UNIDAD EDUCATIVA
                                                </th>
                                                <th width="20%">
                                                    DEPARTAMENTO
                                                </th>
                                                <th width="20%">
                                                    DISTRITO
                                                </th>
                                                <th width="10%">
                                                    FECHA SOLICITUD
                                                </th>
                                                <th width="10%">
                                                    NUMERO SOLICITUDES
                                                </th>
                                                <th width="15%">
                                                    OPCIONES
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set var = 1 %}
                                            {% for entity in data %}

                                            <tr>
                                                <td width="2%">
                                                   {{ var }}
                                                </td>
                                                <td width="8%">
                                                    {{ entity.institucioneducativa_id }}
                                                </td>
                                                <td width="20%">
                                                    {{ entity.institucioneducativa }}
                                                </td>
                                                <td width="20%">
                                                    {{ entity.depto }}
                                                </td>
                                                <td width="20%">
                                                    {{ entity.des_dis }}
                                                </td>
                                                <td width="10%">
                                                     {{ entity.fecha_solicitud }}
                                                </td>
                                                <td width="10%">
                                                     {{ entity.nrosol }}
                                                </td>

                                                <td width="15%">                                                   

                                                    <form action="{{path('areas_tramite_revisa',{'ue':entity.institucioneducativa_id, 'fechasol': entity.fecha_solicitud })}}" name="form_est" id="form_est" method="post" class="form-inline">
                                                        
                                                        <button id="btnc" style="border-radius: 0px;" class="btn btn-info " data-toggle="tooltip" data-placement="top" data-original-title="" type="submit">
                                                            VER SOLICITUDES
                                                        </button>

                                                    </form>

                                                </td>
                                            </tr>  

                                            {% set var = var + 1 %}
											{% endfor %}                                        


                                        </tbody>
                                    </table>
                                </div>



								

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="modal modal-flex fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<form name="formAreasModal" id="formAreasModal" action="" onsubmit="enviarAreas();
																																		                        return false">
						<input type="hidden" name="divResultado" id="divResultado">
						<input type="hidden" name="idInstitucionCurso" id="idInstitucionCurso">
						<input type="hidden" name="idNivel" id="idNivel">
						<input type="hidden" name="educacionTipo" id="educacionTipo" value="{{app.session.get('sysname')}}">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="flexModalLabel">Adición de áreas</h4>
							<span id="nivelModal"></span>
							-
							<span id="gradoModal"></span>
							-
							<span id="paraleloModal"></span>
						</div>
						<div class="modal-body">
							<div id="areasModal"></div>
						</div>

					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
		<script src="{{asset('js/chosen.jquery.js')}}"></script>
		<script src="{{asset('bootstrap-wizard/js/bwizard.js')}}"></script>
		<script src="{{asset('bootstrap-wizard/jquery-ui.min.js')}}"></script>
		<script>

        function infoUe(id) {
            swal({
                title: "¿ DESEA CREAR ESTE CURSO ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["CANCELAR", "CREAR CURSO"]
            }).then(function(respuesta) {
                if (respuesta) {
                    var imagen = '{{ asset("img/loading.gif") }}';

                    var formData = new FormData();

                    formData.append('tramite_id', id);
                    console.log(formData);


                    $.ajax({
                        type: 'post',
                        url: Routing.generate('areas_tramite_si_procede'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function() {
                            swal({
                                title: "Registrando la informacion...",
                                text: "Espere un momento por favor",
                                icon: imagen,
                                buttons: false
                            });
                            // $("#messagematriculas").append('<div class="text-center" id="message"><img src="{{asset('img / loading.gif')}}" class="loading img-responsive" /></div>');
                        },
                        success: function(data) {
                            if (data.tipo === 0) {
                                swal({
                                    icon: 'info',
                                    text: data.msg
                                });

                                document.getElementById("btnc_" + id).style.display = "none";
                                document.getElementById("btnn_" + id).style.display = "none";

                                var myDiv = document.getElementById("div_" + id);
                                myDiv.innerHTML = "EL CURSO HA SIDO CREADO";
                            }
                        },
                        complete: function() {
                            swal.stopLoading();
                            swal.close();
                            $(".messageegresadostitulados").fadeTo(3000, 1000).slideUp(1000, function() {
                                $(".messageegresadostitulados").slideUp(1000);
                            });
                        },
                        error: function(error) {
                            $('#message').empty();
                            $("#message").append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Error:</strong> no fue posible realizar en registro, intente nuevamente</div>');
                            // boton.show();
                        }
                    });


                }

            })

        }

        function noProcede(id) {
            swal({
                title: "¿ DESEA REGISTRAR ESTE CURSO COMO 'NO PROCEDE' ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["CANCELAR", "NO PROCEDE"]
            }).then(function(respuesta) {
                if (respuesta) {
                    var imagen = '{{ asset("img/loading.gif") }}';

                    var formData = new FormData();

                    formData.append('tramite_id', id);
                    console.log(formData);


                    $.ajax({
                        type: 'post',
                        url: Routing.generate('areas_tramite_no_procede'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function() {
                            swal({
                                title: "Registrando la informacion...",
                                text: "Espere un momento por favor",
                                icon: imagen,
                                buttons: false
                            });
                            // $("#messagematriculas").append('<div class="text-center" id="message"><img src="{{asset('img / loading.gif')}}" class="loading img-responsive" /></div>');
                        },
                        success: function(data) {
                            if (data.tipo === 0) {
                                swal({
                                    icon: 'info',
                                    text: data.msg
                                });

                                document.getElementById("btnc_" + id).style.display = "none";
                                document.getElementById("btnn_" + id).style.display = "none";

                                var myDiv = document.getElementById("div_" + id);
                                myDiv.innerHTML = "NO PROCEDE";
                            }
                        },
                        complete: function() {
                            swal.stopLoading();
                            swal.close();
                            $(".messageegresadostitulados").fadeTo(3000, 1000).slideUp(1000, function() {
                                $(".messageegresadostitulados").slideUp(1000);
                            });
                        },
                        error: function(error) {
                            $('#message').empty();
                            $("#message").append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Error:</strong> no fue posible realizar en registro, intente nuevamente</div>');
                            // boton.show();
                        }
                    });


                }

            })

        }
			
		</script>
	{% endblock %}
