<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Acceso al sistema Alternativa - Educación Alternativa - Ministerio de Educación">
        <meta name="keywords" content="admin, admin template, bootstrap3, clean, fontawesome4, good documentation, lightweight admin, responsive dashboard, webapp">
        <meta name="author" content="Djava UI">
        <title>Login - SIE</title>
        <link href="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('webherramienta/assets/admin/css/pages/sign-type-2.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('webherramienta/assets/global/plugins/bower_components/fontawesome/css/font-awesome.min.css')}}">
        <style type="text/css">
            body, html {
                width: 100%;
                height: 100%;
                margin: 0;
                border: 0;
                padding: 0;
                background-color:  #FFF;
            }

            body{
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            #sign-wrapper{
                height: 100%;
            }
            .sign-header{
                color: #ECEFF1;
                margin-top: 2px;
                font-size: 1.3em;
            }
            .sign-header, .sign-text span{
                background-color: #1b3f61;
                color: #ECEFF1;
            }
            .sign-text span{
                font-size:2em;
                border-bottom: 1px solid #D6E9ED;
                text-shadow: 2px 2px #90A4AE;
            }
            .sign-header{
                border-color: #B2CCC6;
            }
            .form-signin{
                background-color: #D6E9ED;
                opacity: 1 !important;
            }
            .sign-body, .sign-footer{
                background: #ECEFF1;
                font-size: 1.2em;
            }
            .btn-aceptar{
                background-color: #1b3f61;
                color: #FFFFFF;
                font-size: 1.1em;
            }
            .icono{
                color: #404647 !important;
            }
            .input-group{
                border: 1px solid #98A4A9;
            }
            .img-logo{
                width: 98%;
            }
            .img{
                text-align: center;
            }
            input[type="text"]{
                color: #404647 !important;
            }
            input[type=checkbox]
            {
                -ms-transform: scale(1.5); /* IE */
                -moz-transform: scale(1.5); /* FF */
                -webkit-transform: scale(1.5); /* Safari y Chrome */
                -o-transform: scale(1.5); /* Opera */
                padding: 5px;
                margin-right: 20px;
            }
            .enlaces{
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 5px;
                background: #78909C;
            }
            .enlaces > a{
                color: #F7F7F7;
                text-decoration: none;
                font-size: 1.2em;
            }
            .enlaces > a:hover{
                color: #FFFFFF;
            }
            .consulta{
                padding-top: 20px;
            }
        </style>
    </head>

    <body class="page-sound page-backstretch" >
        <div class="enlaces">
        </div>

        <div id="sign-wrapper">
            {% for flashMessage in app.session.flashbag.get('errorusuario') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="img">
                <img class="img-logo" src="{{asset('images/logo-min-edu.png')}}" alt="">
            </div>

            <div class="sign-header">
                <div class="form-group">
                    <div class="sign-text">
                        <span><i class="fa fa-graduation-cap"></i> SIE</span>
                    </div>
                    <center>
                        <small>{{app.session.get('sysname')|upper}}</small>
                    </center>
                </div>
            </div>
            {{ path('login_check')}}
            <form class="form-signin" id="form_login" action="{{path('login_check')}}" accept-charset="utf-8" method="post" style="border: 1px solid #1b3f61" >
                {% if 'SISTEMA ACADÉMICO EDUCACIÓN REGULARssssss'==app.session.get('sysname')|upper %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <p class="text-center"> <i class="fa fa-4x fa-refresh"></i></p>
                        <h3 class="text-center">AVISO</h3>
                        <h4 class="text-center">La Unidad de  Sistemas, a través del Sistema de Información Educativa - SIE, comunica que  el sistemas de información academico.sie.gob.bo entrará en mantenimiento el día miércoles 08 de febrero de 2023 de Hrs. 12:00 hasta 15:00.</h4>
                        <h4 class="text-center">Disculpe las molestias.</h4>
                    </div>
                {% else %}
                    <div class="sign-body">
                        {% if error %}
                            <div class="alert" style="text-align:center; color:#F90000;"> <i class="fa fa-info-circle"></i> {{ error.message|trans }}</div>
                        {% endif %}
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="text" class="form-control" id="username" name="_username" autocomplete="off" value="{{ last_username }}" required placeholder="Usuario">
                                <span class="input-group-addon"><i class="fa fa-user icono"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control" id="password" name="_password" autocomplete="off" value="" placeholder="Contraseña" required>
                                <span class="input-group-addon"><i class="fa fa-lock icono"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="sign-footer">
                        <div >
                            <div class="checkbox" style="margin-left: 15px">
                                <label>
                                    <input type="checkbox" required="required"> <span style="margin-left: 10px;">Validar los datos</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <br>
                            <button class="btn btn-lg btn-block no-margin rounded btn-aceptar" type="submit" onclick="functionToExecute()"><i class="fa fa-unlock"></i>Aceptar</button>
                            <br>
                            {% if app.session.get('pathSystem') == 'SieHerramientaAlternativaBundle' %}
                                <div class="pull-left" style="margin-bottom: 10px">
                                    <a href="{{path('solicitud_cea_apertura',{'id':73,'desglose':0})}}" style="color:#455A64; font-size:0.8em;"><span class="glyphicon glyphicon-list-alt"></span> Apertura CEA</a>
                                <br>
                                    <a href="guiaAlternativa/index.php" target="_blank"style="color:#455A64; font-size:0.8em;"><span class="glyphicon glyphicon-info-sign"></span> Guía interactiva</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{path('tramite_cea_reapertura')}}" style="color:#455A64; font-size:0.8em;"><span class="glyphicon glyphicon-list-alt"></span> Reapertura CEA</a>
                                </div></br>
                                <div style="clear: both"></div>
                            {% endif %}
                            {% if app.session.get('pathSystem') == 'SieOlimpiadasBundle' %}
                                <div class="pull-center">
                                    <a href="http://olimpiada.minedu.gob.bo/public/files/ocepb/manual_ocepb.pdf" target="_blank" style="color:#455A64; font-size:0.8em;"><span class="glyphicon glyphicon-list-alt"></span> Manual OCEPB</a>
                                </div></br>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>

        <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery-cookie/jquery.cookie.js')}}"></script>
        <script src="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script>
            $("#form_captcha").keyup(function () {
                $("#form_captcha").val($("#form_captcha").val().toUpperCase());
            });
            function showCaptcha() {
                element = document.getElementById("divCaptcha");
                check = document.getElementById("form_check");
                captcha = document.getElementById("form_captcha");
                if (check.checked) {
                    element.style.display = 'none';
                    $('#form_captcha').removeAttr("required");
                    $('#form_captcha').val('');
                }
                else {
                    element.style.display = 'block';
                    $('#form_captcha').attr('required', 'true');
                }
            }
        function functionToExecute(){
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            localStorage.setItem('user', JSON.stringify({username: username, password: password }));
            console.log('ok');
        }
        </script>
    </body>
</html>