<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ titulosubsistema }}</title>

        {% if app.session.get('layout') in ['layoutHerramienta.html.twig','layoutEspecialSie.html.twig','layoutHerramientaAlternativa.html.twig'] %}
            <link href="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/layout.css')}}" rel="stylesheet">
            <link href="{{asset('webherramienta/assets/admin/css/components.css')}}" rel="stylesheet">
            <style type="text/css">
                body{
                    background: #E9EAED;
                }
            </style>
            {% set card = 'panel' %}
        {% else %}
            <link href="{{asset('css/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{asset('css/style.css')}}" rel="stylesheet">
            {% set card = 'portlet' %}
        {% endif %}

        <style>
            .container{
                margin-top: 50px;
            }
        </style>

        <!-- GLOBAL STYLES -->
        
        <!-- PAGE LEVEL PLUGIN STYLES -->

        <!-- THEME STYLES -->

        <!-- THEME DEMO STYLES -->
        

        <!--[if lt IE 9]>
        <script src="{{asset('js/html5shiv.js')}}"></script>
        <script src="{{asset('js/respond.min.js')}}"></script>
        <![endif]-->

    </head>

    {#<body class="login" style="background-color:{{ color }} ;">#}
    <body class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-banner text-center">
                        <h1><i class="fa fa-gears"></i> {{ titulosubsistema }}</h1>
                        {#<h2><i class="fa fa-gears"></i> Gestión de Usuarios</h2>#}
                    </div>
                    
                    <div class="{{card}} {{card}}-{{app.session.get('color')}}">
                        <div class="{{card}}-heading login-heading">
                            <div class="{{card}}-title">
                                <h4><strong>NOMBRE DE USUARIO</strong> : {{ user }} -- <strong>NOMBRE Y APELLIDO</strong> : {{ persona }} <strong>CI</strong>  : {{ carnet }}</h4>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="{{card}}-body">

                            <div class="row">
                                <div class="col-md-12">
                                    {% for flashMessage in app.session.flashbag.get('info') %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Bien!</strong> {{ flashMessage }}
                                        </div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>¡Observaciones encontradas!</strong> {{ flashMessage }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="{{card}} {{card}}-default">
                                {% for flashMessage in app.session.flashbag.get('errorcontraexp') %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su contraseña ha expirado!</strong> {{ flashMessage }} <strong>DESACTIVACIÓN DE SU CUENTA.</strong>
                                        <form action="{{path('usuariopasswd')}}" method="post">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-gear"></i> Solucionar</button>
                                        </form>
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('errorusername') %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su nombre de usuario es distinto a su número de carnet!</strong> {{ flashMessage }} <strong>DESACTIVACIÓN DE SU CUENTA.</strong>
                                        <form action="{{path('sie_usuarios_update_username_login', {'usuarioid': app.session.get('userId')})}}" method="post">
                                            <button type="submit" class="btn btn-primary" onclick="return confirm('Está por actualizar su nombre del usuario :{{ user }} por :{{ carnet }}.  Nota: recuerde que a partir de la fecha el usuario de esta cuenta sera el número de carnet y complemento.\n\n ¿Esta seguro de continuar? ');"><i class="fa fa-gear"></i> Solucionar</button>
                                        </form>
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('errorusernameexistente') %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su nombre de usuario es distinto a su número de carnet!</strong> {{ flashMessage }}                                        
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('mensajedircod4') %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Usted tiene un mensaje de mucha importancia, Lea atentamente!</strong> {{ flashMessage }}                                        
                                    </div>
                                {% endfor %}

                                <div class="{{card}}-heading">
                                    <div class="{{card}}-title">
                                        <h4>Usted tiene asignados los siguientes roles y/o instituciónes educativas. Selecciones su tipo de acceso al sistema.</h4>
                                    </div>
                                    <div class="{{card}}-widgets">
                                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#formControls"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div id="formControls" class="{{card}}-collapse collapse in">
                                    <div class="{{card}}-body">
                                        <div id="no-more-tables">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>Nivel</th>                                            
                                                        <th>Lugar</th>
                                                        <th>Cod. Sie.</th>
                                                        <th>Institución Educativa</th>                                            
                                                        <th>Sub sistema</th>
                                                        <th></th>                                            
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for ue in roles %}
                                                        <tr>
                                                            <td>{{ ue.rol }}</td>
                                                            <td>{{ ue.nivel }}</td>
                                                            <td>{{ ue.lugar }}</td>
                                                            <td>{{ ue.sie }}</td>
                                                            <td>{{ ue.institucioneducativa }}</td>
                                                            <td>{{ ue.orgcurricula }}</td>
                                                            <td class="text-center"> 
                                                                <a href="{{ path('login_rol_select', {'key': ue.key }) }}" class="btn btn-success btn-xs" data-original-title="Ver" data-placement="top" data-toggle="tooltip" href="#">
                                                                    <i class="fa fa-sign-in"> Registrar mi ingreso -></i>
                                                                </a>                                                                                                        
                                                            </td> 
                                                        </tr>                                                
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <form action="{{path('logout')}}" method="post">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-gear"></i> Salir</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GLOBAL SCRIPTS -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{asset('js/plugins/bootstrap/bootstrap.min.js')}}"></script>
        
        <script>
            //CAMBIA NOMBRE DE USUARIO AL CARNET
                function usernameUpdate(usuarioid){
                        var formData = $('#myModalNotas').serialize();                        
                        $("#divAlertUser").empty();
                        $("#menprincipal").empty(); 
                        if (confirm('')) {
                            $.ajax({
                                type: 'get',
                                url: Routing.generate('sie_usuarios_update_username', {'usuarioid': usuarioid}),
                                data: formData,
                                beforeSend: function () {

                                },
                                success: function (data) {
                                    window.document.location = Routing.generate('logout');
                                    //var numfila = $("#tablaListadoPersonas_fil").text();
                                    //alert('OK');
                                    //$("#divAlertUser").empty();
                                    //$("#divAlertUser").html('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data.mensaje + '</div>');
                                    //$($('#tablaListadoPersonas').find('tbody > tr')[numfila]).children('td')[1].innerHTML = data.username;
                                },
                                error: function(){
                                    //$("#divAlertUser").empty();
                                    //$("#divAlertUser").html('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data.mensaje + '</div>');                                    
                                }
                            });
                        }                            
                        //$('#ModalUser').modal('show');
                    }
        </script>
    </body>

</html>