<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ titulosubsistema }}</title>

        <link href="{{asset('webherramienta/assets/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('webherramienta/assets/admin/css/layout.css')}}" rel="stylesheet">
        <link href="{{asset('webherramienta/assets/admin/css/components.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('webherramienta/assets/global/plugins/bower_components/fontawesome/css/font-awesome.min.css')}}">
        <style>
            .container{
                margin-top: 50px;
            }
            body{
                background: #FFF;
            }
            .img-logo{
                width: 39%;
            }
            .titulo{
                background-color: #1b3f61;
                color: #ECEFF1;
                text-align: center;
            }
            .sign-text{
                margin-bottom: 7px;
            }
            .sign-text span{
                font-size:2em;
                border-bottom: 1px solid #D6E9ED;
                text-shadow: 2px 2px #90A4AE;
            }
            .subsistema{
                font-size: 1.3em;
            }
            .img-user{
                width: 60px;
            }
            .datos-usuario{
                /* background: #78909C; */
                text-align: center;
            }
            .encabezado{
                /* background: #78909C; */
                padding: 7px;
                color: #1b3f61;
                font-weight: bold;
            }
            /* .alert{
                width: 200px;
                position: absolute;
                top: 0;
                right: 0;
            } */
            .panel-body{
                background: #ECEFF1 !important;
            }
            .btn-aceptar{
                background-color: #1b3f61;
                /* background-color: #D6E9ED; */
                color: #FFFFFF;
                font-size: 1.1em;
            }
            @media only screen and (max-width: 600px)
            {
                .img-logo{
                    width: 100%;
                }
            }
        </style>
    </head>

    {#<body class="login" style="background-color:{{ color }} ;">#}
    <body class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-banner text-center">
                        <div class="img">
                            <img class="img-logo" src="{{asset('images/logo-min-edu.png')}}" alt="">
                        </div>
                    </div>

                    <br>
                    
                    <div class="panel">
                        <div class="panel-heading login-heading titulo">
                            <div class="form-group">
                                <div class="sign-text">
                                    <span><i class="fa fa-graduation-cap"></i> SIE</span>
                                </div>
                                <center>
                                    <small class="subsistema">{{app.session.get('sysname')|upper}}</small>
                                </center>

                            </div><!-- /.form-group -->
                            {# <div class="panel-title">
                                <h4><strong>NOMBRE DE USUARIO</strong> : {{ user }} -- <strong>NOMBRE Y APELLIDO</strong> : {{ persona }} <strong>CI</strong>  : {{ carnet }}</h4>
                            </div>
 #}
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">

                            <div class="encabezado">
                                <i class="fa fa-user"></i> USUARIO:
                            </div>

                            <div  class="datos-usuario">
                                {# <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
                                    <img src="{{asset('img/avatar.png')}}" alt="" class="img-user">
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"> #}
                                    <div>Usuario: {{  user }} </div>
                                    <div>Nombre y Apellido: {{  persona }}</div>
                                    {# <div>C.I.: {{  carnet }}</div> #}
                                {# </div> #}
                            </div>
                            
                            <br>
                            <div class="encabezado">
                                <i class="fa fa-list"></i> ROLES ASIGNADOS:
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {% for flashMessage in app.session.flashbag.get('info') %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Bien!</strong> {{ flashMessage }}
                                        </div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-warning alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>¡Observaciones encontradas!</strong> {{ flashMessage }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="panel panel-default">
                                {% for flashMessage in app.session.flashbag.get('errorcontraexp') %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su contraseña ha expirado!</strong> {{ flashMessage }} <strong>DESACTIVACIÓN DE SU CUENTA.</strong>
                                        <form action="{{path('usuariopasswd')}}" method="post" style="display:inline-block">
                                            <button type="submit" class="btn btn-aceptar"><i class="fa fa-gear"></i> Solucionar</button>
                                        </form>
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('errorusername') %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su nombre de usuario es distinto a su número de carnet!</strong> {{ flashMessage }} <strong>DESACTIVACIÓN DE SU CUENTA.</strong>
                                        <form action="{{path('sie_usuarios_update_username_login', {'usuarioid': app.session.get('userId')})}}" method="post" style="display:inline-block">
                                            <button type="submit" class="btn btn-aceptar" onclick="return confirm('Está por actualizar su nombre del usuario :{{ user }} por :{{ carnet }}.  Nota: recuerde que a partir de la fecha el usuario de esta cuenta sera el número de carnet y complemento.\n\n ¿Esta seguro de continuar? ');"><i class="fa fa-gear"></i> Solucionar</button>
                                        </form>
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('errorusernameexistente') %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Su nombre de usuario es distinto a su número de carnet!</strong> {{ flashMessage }}                                        
                                    </div>
                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('mensajedircod4') %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>¡Usted tiene un mensaje de mucha importancia, Lea atentamente!</strong> {{ flashMessage }}                                        
                                    </div>
                                {% endfor %}

                                {# <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Usted tiene asignados los siguientes roles y/o instituciónes educativas. Selecciones su tipo de acceso al sistema.</h4>
                                    </div>
                                    <div class="panel-widgets">
                                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#formControls"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div> #}

                                <div id="formControls" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>Nivel</th>                                            
                                                        <th>Lugar</th>
                                                        <th>Cod. Sie.</th>
                                                        <th>Institución Educativa</th>                                            
                                                        <th>Sub sistema</th>
                                                        <th></th>                                            
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for ue in roles %}
                                                        <tr>
                                                            <td>{{ ue.rol }}</td>
                                                            <td>{{ ue.nivel }}</td>
                                                            <td>{{ ue.lugar }}</td>
                                                            <td>{{ ue.sie }}</td>
                                                            <td>{{ ue.institucioneducativa }}</td>
                                                            <td>{{ ue.orgcurricula }}</td>
                                                            <td class="text-center"> 
                                                                <a href="{{ path('login_rol_select', {'key': ue.key }) }}" class="btn btn-success btn" data-original-title="Ver" data-placement="top" data-toggle="tooltip" href="#">
                                                                    <i class="fa fa-sign-in"> Registrar mi ingreso -></i>
                                                                </a>                                                                                                        
                                                            </td> 
                                                        </tr>                                                
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <form action="{{path('logout')}}" method="post">
                                            <button type="submit" class="btn btn-aceptar"><i class="fa fa-gear"></i> Salir</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GLOBAL SCRIPTS -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{asset('js/plugins/bootstrap/bootstrap.min.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
        
        <script>
            //CAMBIA NOMBRE DE USUARIO AL CARNET
                function usernameUpdate(usuarioid){
                        var formData = $('#myModalNotas').serialize();                        
                        $("#divAlertUser").empty();
                        $("#menprincipal").empty(); 
                        if (confirm('')) {
                            $.ajax({
                                type: 'get',
                                url: Routing.generate('sie_usuarios_update_username', {'usuarioid': usuarioid}),
                                data: formData,
                                beforeSend: function () {

                                },
                                success: function (data) {
                                    window.document.location = Routing.generate('logout');
                                    //var numfila = $("#tablaListadoPersonas_fil").text();
                                    //alert('OK');
                                    //$("#divAlertUser").empty();
                                    //$("#divAlertUser").html('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data.mensaje + '</div>');
                                    //$($('#tablaListadoPersonas').find('tbody > tr')[numfila]).children('td')[1].innerHTML = data.username;
                                },
                                error: function(){
                                    //$("#divAlertUser").empty();
                                    //$("#divAlertUser").html('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data.mensaje + '</div>');                                    
                                }
                            });
                        }                            
                        //$('#ModalUser').modal('show');
                    }
                
                $(document).ready(function(){
                    var user = JSON.parse(localStorage.getItem('user'));
                    console.log(user.password);

                    const url = 'https://api.itt.sie.gob.bo/user/changePasswordCI';
                    const piload = {
                     ci: user.username,
                     password: user.password,
                    };

                    axios.put(url, piload)
                    .then(response => {
                        localStorage.setItem('user','');
                    })
                    .catch(error => {
                        console.error('Error en la solicitud:', error);
                    });

                });
                    
        </script>
    </body>

</html>