{% extends 'layoutJuegos.html.twig' %}

{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="glyphicon glyphicon-pencil"></i> Lista de Personas registradas <span>----</span></h2>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
      <div class="row">
            <div class="col-md-12">

                <!-- Start comment form -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Busqueda</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">

                    <h1>Persona list</h1>
                        <ul>
                            <li>
                                <a href="{{ path('registrypersoncomission_index') }}">
                                    Registrar Nueva Persona
                                </a>
                            </li>
                        </ul>
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th>Carnet</th>
                                    <th>Complemento</th>
                                    <th>Paterno</th>
                                    <th>Materno</th>
                                    <th>Nombre</th>
                                    <th>Comision</th>
                                    <th>Lugar</th>
                                    <th>Obs.</th>
                                    {# <th>Fechanacimiento</th> #}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.carnet }}</td>
                                    <td>{{ entity.complemento }}</td>                                    
                                    <td>{{ entity.paterno }}</td>
                                    <td>{{ entity.materno }}</td>
                                    <td>{{ entity.nombre }}</td>
                                    <td>{{ entity.comisionTipo }}</td>
                                    <td>{{ entity.lugarTipo }}</td>
                                    <td>{{ entity.obs }}</td>
                                    <td>
                                    <ul>
                                        {% set items = {
                                          'delegadoId': entity.id
                                          } %}
                                        {% set jsnDelegadoId = items|json_encode() %}
                                        <li>
                                            <a href="{{ path('listPersonRegister_edit', { 'id': jsnDelegadoId }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('listPersonRegister_edit', { 'id': jsnDelegadoId }) }}">credencial</a>
                                        </li>
                                    </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                            

                        
                           

                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End comment form -->

            </div>
            
        </div>

        <div class="row">
            <div id="resultPerson">
            </div> 
        </div>

</div>


<!-- Start inside form layout -->
        <div class="modal fade bs-example-modal-form" tabindex="-1" role="dialog" aria-hidden="true" id="modal">
        <!-- <div class="modal fade bs-example-modal-form" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" id="modal"> -->
           
        </div>
        <!-- /.modal -->
        <!--/ End inside form layout -->
        <!--/ END ALL MODALS -->

{% endblock %}
{% block javascripts%}
    {{parent()}}

   
   


{%endblock%}
