{% extends 'SieRueBundle:Default:rue.html.twig' %}

{% block contentoption%}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Registro de Instituciones Educativas
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i>  <a href="{{path('rue')}}">Buscar</a></li>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>




    <div class="row">
        <div class="col-md-12">

            {% for flashMessage in app.session.flashbag.get('msgSearch') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-12">

                        <ul class="dropdown">
                            <a href="{{path('persona_main')}}" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-plus-circle"></i>  <i class="fa fa-caret-down"> Nuevo Registro</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <form action="{{path('rue_new')}}" method="post" style="display:inline-block">
                                       <input type="hidden" name="institucioneducativaTipoId" value="1">
                                       <button type="submit" class="btn-link"><i class="fa fa-edit"></i>Educación Regular</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{path('rue_new')}}" method="post" style="display:inline-block">
                                       <input type="hidden" name="institucioneducativaTipoId" value="2">
                                       <button type="submit" class="btn-link"><i class="fa fa-edit"></i>Educación Alternativa</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{{path('rue_new')}}" method="post" style="display:inline-block">
                                       <input type="hidden" name="institucioneducativaTipoId" value="4">
                                       <button type="submit" class="btn-link"><i class="fa fa-edit"></i>Educación Especial</button>
                                    </form>
                                </li>
                            </ul>
                            <!-- /.dropdown-menu -->
                        </ul>
        </div>

    </div>
    <br>        
{#        
		<div class="col-md-12">
            <a href="{{path('rue_new')}}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Nuevo</a>
        </div>
#}

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="panel panel-icon panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-search"></i> Buscar Institución Educativa
                </div>

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="tabs-accordions.html#institucionId" data-toggle="tab">Por Código RUE</a>
                    </li>
                    <li><a href="tabs-accordions.html#institucion" data-toggle="tab">Por Nombre de la IE</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="institucionId">
                         {{form_start(formInstitucioneducativaId, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
	                    <div class="panel-body">
	                        <div class="form-group">
	                            <label  class="col-sm-2 control-label">Código SIE</label>
	                            <div class="col-sm-10">
	                                {{ form_widget(formInstitucioneducativaId.institucioneducativaId,{ 'attr':{'class': 'form-control','placeholder':'SIE Intitución Educativa','pattern':'[0-9]{8,17}'}  }) }}
	                                <div class="help-block with-errors"></div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-sm-offset-2 col-sm-10">
	                                {{ form_widget(formInstitucioneducativaId.buscarId,{ 'attr':{'class':'btn btn-primary' } } ) }}
	                            </div>
	                        </div>
	
	
	                    </div>
	                    {{form_end(formInstitucioneducativaId)}}
		            </div>
					<div class="tab-pane fade" id="institucion">
                         {{form_start(formInstitucioneducativa, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
	                    <div class="panel-body">
	                        <div class="form-group">
	                            <label  class="col-sm-2 control-label">Nombre de la Institución Educativa</label>
	                            <div class="col-sm-10">
	                                {{ form_widget(formInstitucioneducativa.institucioneducativa,{ 'attr':{'class': 'form-control','placeholder':'Nombre de la Institución Educativa'}  }) }}
	                                <div class="help-block with-errors"></div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-sm-offset-2 col-sm-10">
	                                {{ form_widget(formInstitucioneducativa.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
	                            </div>
	                        </div>
	
	
	                    </div>
	                    {{form_end(formInstitucioneducativa)}}
					
		            </div>
		            
	            </div>
                
            </div>

        </div>
    </div>






{% endblock %}
