{#
	variable vista
	vista = 0  // La vista estara totalmente bloqueada
	vista = 1  // Se podran modificar las notas dirferentes a cero y vacio
	vista = 2  // Se podra modificar todo
#}
{# {{dump(notas)}} #}
<input type="hidden" name="tipoNota" value="{{notas.tipoNota}}">
<input type="hidden" name="nivel" value="{{notas.nivel}}">
<input type="hidden" name="idInscripcion" value="{{notas.idInscripcion}}">

<div class="row">
    <div class="col-lg-12">
        {% if notas.cuantitativas|length > 0 %}
            <table class="table table-bordered cf" style="backgroud:#FFFFFF">
                <thead class="cf">
                    <tr>
                        <th>
                            Asignatura
                        </th>
                        {% if notas.operativo > 0 %}
                            {% for i in 1..notas.operativo %}
                                {% if i < 5  %}
                                    <th>{{ i }}{% if notas.gestion > 2018 and discapacidad == 2  %} ° Etapa {% else %} Bimestre {% endif %}</th>
                                {% else %}
                                    {% if notas.nivel != 11 %}
                                        <th>Promedio</th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <th>Notas Cuantitativas</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if notas.gestion > 2018 and discapacidad == 2  %}
                        <tr>
                            <td></td>
                            {% if notas.operativo > 0 %}
                                {% for i in 1..notas.operativo %}
                                    {% if i < 5  %}
                                        <td>
                                            <label for="fechaEtapas" class="col-sm-2">Fechas:</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="fechaEtapas" placeholder= "{{ "now"|date("d/m/Y") }}-{{ "now"|date("d/m/Y") }}"class="form-control noedit fecha" name="fechaEtapas[{{i}}]" value={% if notas.fechaEtapas and notas.fechaEtapas[i] is defined  %} "{{notas.fechaEtapas[i].fechaEtapa}}" disabled {% else %} "" {% endif %} autocomplete="off" required ></br>
                                            </div>
                                        </td>
                                    {% else %}
                                        {% if notas.nivel != 11 %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% set cont = 0 %}
                    {% for a in notas.cuantitativas %}
                        <tr>
                            <td data-title="Asignatura">
                                {{a.asignatura}}
                            </td>
                            {% if a.notas is defined and a.notas|length > 0 %}
                                {% for n in a.notas %}
                                    {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                                        {% if n.nota == "" or n.nota.idIndicador not in [1,2,4] or vista == 2 %}
                                            <td data-title={% if notas.gestion > 2018 and discapacidad == 2  %} "{{n.idNotaTipo}}° Etapa" {% else %} "{{n.idNotaTipo}} Bimestre" {% endif %}>
                                                <input type="hidden" name="idEstudianteNota[]" value="{{n.idEstudianteNota}}">
                                                <input type="hidden" name="idNotaTipo[]" value="{{n.idNotaTipo}}">
                                                <input type="hidden" name="idEstudianteAsignatura[]" value="{{n.idEstudianteAsignatura}}">
                                                <table class="table">
                                                    
                                                    <tr>
                                                        <td style = "border-top-style: none;">Contenidos Programados</td>
                                                        <td style = "border-top-style: none;"><textarea name="contenidos[]" class="form-control" required style="text-transform:uppercase;" maxlength="70">{% if n.nota %} {{n.nota.contenidos}} {% endif %} </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Resultados Alcanzados</td>
                                                        <td><textarea name="resultados[]" class="form-control" required style="text-transform:uppercase;" maxlength="70">{% if n.nota %}{{n.nota.resultados}} {% endif %}</textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Indicador Alcanzado</td>
                                                        <td>
                                                            <select class="form-control" name="indicador[]" id="" required>
                                                                <option value="">Seleccionar....</option>
                                                                {% for tn in notas.tiposNotas %}
                                                                    <option value="{{tn.id}}" {% if n.nota and tn.id == n.nota.idIndicador %} selected {% endif %} title="{{ tn.descripcion }}">{{tn.nota}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Estado Final</td>
                                                        <td>
                                                            <select class="form-control" name="estado[]" id="" required>
                                                                <option value="">Seleccionar....</option>
                                                                {% for ef in notas.estadosFinales %}
                                                                    <option value="{{ef.id}}" {% if n.nota and ef.id == n.nota.idEstado %} selected {% endif %}>{{ef.estadomatricula}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        {% else %}
                                            {# <td data-title="{{n.idNotaTipo}} Bimestre"> #}
                                            <td data-title={% if notas.gestion > 2018 and discapacidad == 2  %} "{{n.idNotaTipo}}° Etapa" {% else %} "{{n.idNotaTipo}} Bimestre" {% endif %}>
                                                <table class="table">
                                                    <tr>
                                                        <td style = "border-top-style: none;">Contenidos Programados:</td>
                                                        <td style = "border-top-style: none;"><textarea class="form-control" name="" readonly>{{n.nota.contenidos}}</textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Resultados Alcanzados:</td>
                                                        <td><textarea class="form-control" name="" readonly>{{n.nota.resultados}}</textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Indicador Alcanzado:</td>
                                                        <td>
                                                            <select class="form-control" name="" id="" readonly>
                                                                <option value="">Seleccionar....</option>
                                                                {% for tn in notas.tiposNotas %}
                                                                    <option value="{{tn.id}}" {% if tn.id == n.nota.idIndicador %} selected {% endif %} title="{{ tn.descripcion }}">{{tn.nota}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Estado Final:</td>
                                                        <td>
                                                            <select class="form-control" name="" id="" readonly>
                                                                <option value="">Seleccionar....</option>
                                                                {% for ef in notas.estadosFinales %}
                                                                    <option value="{{ef.id}}" {% if ef.id == n.nota.idEstado %} selected {% endif %}>{{ef.estadomatricula}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        {# <td data-title="{{n.idNotaTipo}} Bimestre"> #}
                                        <td data-title={% if notas.gestion > 2018 and discapacidad == 2  %} "{{n.idNotaTipo}}° Etapa" {% else %} "{{n.idNotaTipo}} Bimestre" {% endif %}>
                                            <table class="table">
                                                <tr>
                                                    <td style = "border-top-style: none;">Contenidos Programados</td>
                                                    <td style = "border-top-style: none;"><textarea class="form-control" name="contenidos[]" disabled>{% if n.nota %}{{n.nota.contenidos}} {% endif %}</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>Resultados Alcanzados</td>
                                                    <td><textarea class="form-control" name="" disabled>{% if n.nota %}{{n.nota.resultados}} {% endif %}</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td>Indicador Alcanzado</td>
                                                    <td>
                                                        <select class="form-control" name="" id="" disabled>
                                                            <option value="">Seleccionar....</option>
                                                            {% for tn in notas.tiposNotas %}
                                                                <option value="{{tn.id}}" {% if n.nota and tn.id == n.nota.idIndicador %} selected {% endif %} title="{{ tn.descripcion }}">{{tn.nota}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Estado Final</td>
                                                    <td>
                                                        <select class="form-control" name="" id="" disabled>
                                                            <option value="">Seleccionar....</option>
                                                            {% for ef in notas.estadosFinales %}
                                                                <option value="{{ef.id}}" {% if n.nota and ef.id == n.nota.idEstado %} selected {% endif %}>{{ef.estadomatricula}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>
                                    <em><spam style="color:#9DB2B9">No hay notas</spam></em>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i> El curso no tiene materias registradas, debe registrar las materias del curso para poder realizar el registro de notas.
            </div>
        {% endif %}
    </div>
    <div class="col-lg-12">
        {% if notas.cuantitativas|length > 0 %}
            <table class="table">
                {% if notas.cualitativas|length > 0 and notas.operativo >= 4 %}
                    {% for c in notas.cualitativas %}
                        <tr>
                            <td style="padding:0px; margin:0px">
                                {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                                    {% if (c.notaCualitativa == "") or (vista == 2) %}
                                        <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{c.idEstudianteNotaCualitativa}}">
                                        <input type="hidden" name="idNotaTipoCualitativa[]" value="{{c.idNotaTipo}}">
                                        <p><b>Informe anual del proceso educativo</b></p>
                                        <p class="text-justify">
                                            <textarea class="form-control jnumbersletters notaCualitativa" name="notaCualitativa[]" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" minlength="16">{{c.notaCualitativa}}</textarea>
                                        </p>
                                    {% else %}
                                        <p><b>Informe anual del proceso educativo</b></p>
                                        <p class="text-justify">
                                            <textarea class="form-control jnumbersletters" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                        </p>
                                    {% endif %}
                                {% else %}
                                    <p><b>Informe anual del proceso educativo</b></p>
                                    <p class="text-justify">
                                        <textarea class="form-control jnumbersletters" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                {% endif %}
            </table>
        {% endif %}
    </div>
</div>

<script>
    $('.noedit').keydown(function() {
        return false;
    });
    
    //$(".fecha").daterangepicker({ autoclose: true, todayHighlight: true, defaultDate: "+1w", minDate: 0, format: "DD/MM/YYYY", applyClass:"btn-success", cancelClass:"btn-default" });
    $(".fecha").daterangepicker({format: "DD/MM/YYYY", applyClass:"btn-success", cancelClass:"btn-default", buttonClasses:"btn btn-xs",opens: "left", locale: {fromLabel: "Del:",toLabel: "Al:"} });
    {# $('.fecha').daterangepicker({
        "startDate": "04/09/2019",
        "endDate": "04/15/2019"
        }, function(start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
    }); #}
    

    var validarEnvioNotas = function(){
        var enviar = true;
        var mensaje = "";

        $(".notaCualitativa").each(function (index) {
            if($(this).val().length < 16){
                mensaje = 'Las notas cualitativas deben tener al menos 16 dígitos';
                enviar = false;
            }
        });

        if(enviar == false){
            alert(mensaje);
            return false;
        }else{
            return true;
        }
    }


    $(".jnumbersletters").keypress(function (key) {
        var key = key || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 97 || k > 122)//letras minusculas
            && (k < 65 || k > 90) //letras mayusculas
            && (k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
            && (k != 241) //ñ
             && (k != 209) //Ñ
             && (k != 32) //espacio
             && (k != 225) //á
             && (k != 233) //é
             && (k != 237) //í
             && (k != 243) //ó
             && (k != 250) //ú
             && (k != 193) //Á
             && (k != 201) //É
             && (k != 205) //Í
             && (k != 211) //Ó
             && (k != 218) //Ú
             && (k != 44) //coma ,
             && (k != 46) //punto .
            )
            return false;
    });
</script>
