{#
	variable vista
	vista = 0  // La vista estara totalmente bloqueada
	vista = 1  // Se podran modificar las notas dirferentes a cero y vacio
	vista = 2  // Se podra modificar todo
#}

<input type="hidden" name="tipoNota" value="{{notas.tipoNota}}">
<input type="hidden" name="idNota" value="{{idNota}}">
<input type="hidden" name="nivel" value="{{notas.nivel}}">
<input type="hidden" name="idInscripcion" value="{{notas.idInscripcion}}">

<div class="row">
    <div class="col-lg-12">
            <table class="table table-bordered" id="tbl_nota_existe">
            <thead>
                <tr>
                    <th><b>Contenidos Programados y Desarrollados (max 200)</b></th>
                    <th><b>Resultados Alcanzados (max 200)</b></th>
                    <th><b>Recomendaciones (max 200)</b></th>
                    <th><button type="button" class="btn btn-success btn-sm" id="brow" {% if notas.enota == 1 %} disabled {% endif %}><i class="fa fa-plus"></i></button></th>
                </tr>
            </thead            
            {#% if notas.enota == 1 %#}
          
             <tbody>
                {% for item in notas["cualitativas"] %}
                    <tr>
                        <td>
                        <textarea class="form-control jnumbersletters noresize pie" name="con{{ loop.index }}" maxlength="280" minlength="50" required>{{ item.con }}</textarea></td>
                        <td>
                        <textarea class="form-control jnumbersletters noresize dce" name="res{{ loop.index }}" maxlength="280" minlength="50" required>{{ item.res }}</textarea>
                        </td>
                         <td>
                        <textarea class="form-control jnumbersletters noresize ree" name="rec{{ loop.index }}" maxlength="280" minlength="50" required>{{ item.rec }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            
             </tbody>
        </table>
        <table class="table table-bordered" id="tbl_nota">
            <tbody>
            {% if notas["cualitativas"]|length == 0 %}
                <tr><input type="hidden" name="indice1" value="1">
                    <td>
                        <textarea class="form-control jnumbersletters noresize pi" name="con1" maxlength="280" minlength="50" required></textarea>
                    </td>
                    <td>
                        <textarea class="form-control jnumbersletters noresize dc" name="res1" maxlength="280" minlength="50" required></textarea>
                    </td>
                     <td>
                        <textarea class="form-control jnumbersletters noresize re" name="rec1" maxlength="280" minlength="50" required></textarea>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                 {% endif %}
            </tbody>
            {#% endif %#}
        </table>
    </div>
    <br/>
    <div class="col-lg-12" {% if notas.enota == 1 %} style="display: none" {% endif %}>
        <div class="form-group">
            <label for="nuevoEstadomatricula">Estado</label>
            <select class="form-control" name="nuevoEstadomatricula" id="nuevoEstadomatricula" required>
                <option value="">Seleccionar....</option>
                {% for estadoF in notas.estadosFinales %}
                <option value="{{estadoF.id}}" {% if estadoF.id == notas.estadoMatricula %} selected {% endif %}>{{estadoF.estadomatricula}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script>
    var indexg = 2;
    $('#brow').click(function(){
        $('#tbl_nota tbody').append('<tr><td><input type="hidden" name="indice'+indexg+'" value="'+indexg+'"><textarea class="form-control noresize pi" name="con'+indexg+'" maxlength="280" minlength="50" required></textarea></td><td><textarea class="form-control noresize dc" name="res'+indexg+'" maxlength="280" minlength="50" required></textarea></td><td><textarea class="form-control noresize re" name="rec'+indexg+'" maxlength="280" minlength="50" required></textarea></td><td><button type="button" class="btn btn-danger btn-xs drow"><i class="fa fa-minus"></i></button></td></tr>');
        indexg++;
    });
    $(document).on('click', '.drow', function(event) {
        $(this).parent().parent().remove();
    });
    var validarEnvioNotas = function(){
        var enviar = true;
        var mensaje = "";
        $(".notaCualitativa").each(function (index) {
            if($(this).val().length < 56){
                mensaje = 'Las notas cualitativas deben tener al menos 56 dígitos';
                enviar = false;
            }
        });

        if(enviar == false){
            alert(mensaje);
            return false;
        }else{
            return true;
        }
    }


    $(".jnumbersletters").keypress(function (key) {
        var key = key || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 97 || k > 122)//letras minusculas
            && (k < 65 || k > 90) //letras mayusculas
            && (k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
            && (k != 241) //ñ
             && (k != 209) //Ñ
             && (k != 32) //espacio
             && (k != 225) //á
             && (k != 233) //é
             && (k != 237) //í
             && (k != 243) //ó
             && (k != 250) //ú
             && (k != 193) //Á
             && (k != 201) //É
             && (k != 205) //Í
             && (k != 211) //Ó
             && (k != 218) //Ú
             && (k != 44) //coma ,
             && (k != 46) //punto .
            )
            return false;
    });
</script>
<style>
.noresize {
    resize: none;
}
</style>