{#
	variable vista
	vista = 0  // La vista estara totalmente bloqueada
	vista = 1  // Se podran modificar las notas dirferentes a cero y vacio
	vista = 2  // Se podra modificar todo
#}

<input type="hidden" name="tipoNota" value="{{notas.tipoNota}}">
<input type="hidden" name="nivel" value="{{notas.nivel}}">
<input type="hidden" name="idInscripcion" value="{{notas.idInscripcion}}">
{% if notas.cuantitativas|length > 0 %}
<div class="row">
    <div class="col-lg-12">

    <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" style="vertical-align: middle">Áreas Curriculares</th>
                        <th colspan="4" align="center">Valoración Cualitativa</th>
                    </tr>
                    <tr>
                    <th>{{descNota.notaTipo}}</th>
                     {#} {% if notas.operativo >=1 %}
                        <th width="30%">1er Trimestre</th>
                       {% endif %}
                       {% if notas.operativo >=2 %}
                        <th>2do Trimestre</th>
                        {% endif %}
                        {% if notas.operativo >=3 %}
                        <th>3er Trimestre</th>
                        {% endif %}
                        #}
                    </tr>
                </thead>
                <tbody>
                    {% for asig in notas.cuantitativas %}
                        <tr>
                            <td>{{asig.asignatura}}</td>
                            {% for n in asig.notas %}
                              
                                <td>
                                    <input type="hidden" name="idEstudianteNota[]" value="{{n.idEstudianteNota}}">
                                    <input type="hidden" name="idNotaTipo[]" value="{{n.idNotaTipo}}">
                                    <input type="hidden" name="idEstudianteAsignatura[]" value="{{n.idEstudianteAsignatura}}">
                                    <b>Contenidos:</b>
                                    {{notas.operativo}}-{{n.idNotaTipo}}
                                    {% if (notas.operativo + 5 == n.idNotaTipo) or notas.operativo + 52 == n.idNotaTipo or notas.operativo + 54 == n.idNotaTipo %}
                                        <textarea name="nota{{n.idEstudianteAsignatura}}{{n.idNotaTipo}}" class="form-control input-sm jnumbersletters" cols="30" rows="3" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="300">{{n.notaCualitativaNueva}}</textarea>
                                    {% else %}  
                                        {{n.notaCualitativaNueva}}
                                    {% endif %}  
                                     <br>
                                    <b>Resultados alcanzados:</b>
                                     {% if notas.operativo + 5 == n.idNotaTipo or notas.operativo + 52 == n.idNotaTipo or notas.operativo + 54 == n.idNotaTipo %}
                                        <textarea name="recomendacion{{n.idEstudianteAsignatura}}{{n.idNotaTipo}}" class="form-control input-sm jnumbersletters" cols="30" rows="3" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="250">{{n.recomendacionNueva}}</textarea>
                                    {% else %}  
                                        {{n.recomendacionNueva}}
                                    {% endif %}  
                                </td>
                                
                            {% endfor %}
                        </tr>
                    {% endfor %}
                     {% if notas.operativo + 5 == 8 %}{#si es el ultimo trimestre#}
                        <tr>
                            <td>ESTADO FINAL:
                            </td>
                            <td>
                            <select class="form-control" name="nuevoEstadomatricula" >
                                <option value="">Seleccionar....</option>
                                {% for valor in notas.estadosFinales %}
                                <option value="{{valor.id}}">{{valor.estadomatricula}}</option>
                                {% endfor %}
                            </select>
                            </td>
                        </tr>  
                     {% endif %}

                     {% if (descNota.id  == 52 or descNota.id  == 53) %}{#si son notas semestrales #}
                      <tr>
                            <td>INFORME PROCESO EDUCATIVO:
                            </td>
                            <td>
                               <textarea name="informeSemestral{{descNota.id}}" class="form-control input-sm jnumbersletters" cols="30" rows="3" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="250" >{% if  notas.cualitativas|length>0 %}{{notas.cualitativas.notaCualitativa}}{% endif %}</textarea>
                            </td>
                        </tr>  
                     
                     {% endif %}
                        <tr>
                            <td>ESTADO FINAL:
                            </td>
                            <td>
                            <select class="form-control" name="nuevoEstadomatricula{{descNota.id}}" >
                                <option value="">Seleccionar....</option>
                                {% for valor in notas.estadosFinales %}
                                {% if  notas.cualitativas|length>0 %}
                                    <option value="{{valor.id}}" {% if  valor.id == notas.cualitativas.idEstado %} selected {% endif %} >{{valor.estadomatricula}}</option>
                                {% else %}
                                    <option value="{{valor.id}}" >{{valor.estadomatricula}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            </td>
                        </tr>  
                </tbody>
            </table>

    </div>
    <br/>

</div>
{% else %}
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i> El curso no tiene areas registradas, debe registrar las areas del curso para poder realizar el registro de notas.
    </div>
{% endif %}
<script>
    var indexg = 2;
    $('#brow').click(function(){
        $('#tbl_nota tbody').append('<tr><td><textarea class="form-control noresize pi" name="int'+indexg+'" required></textarea></td><td><textarea class="form-control noresize dc" name="des'+indexg+'" required></textarea></td><td><button type="button" class="btn btn-danger btn-xs drow"><i class="fa fa-minus"></i></button></td></tr>');
        indexg++;
    });
    $(document).on('click', '.drow', function(event) {
        $(this).parent().parent().remove();
    });
     var validarEnvioNotas = function(){
        return true;
    }
    var validarEnvioNotas2222 = function(){
        var enviar = true;
        var error1 = false;
        var error2 = false;
        var cont = 0;
        var tipo = '';
        var mensaje = "";

         $(".ids").each(function (index) {
             
              //tipo =  $("#tipo"+$(this).val()).val();
             if( $("#actividad"+$(this).val()).val().length>0 ){
                               
                if( $("#actividad"+$(this).val()).val().length<16){
                    var error1 = true;
                }
                else{
                    cont++;
                }
                if( $("#valoracion"+$(this).val()).val()==''){
                    var error2 = true;
                }
             }
              //if( $("#actividad"+$(this).val()).val().length==0){
                //  var error1 = true;
              //}
            if(error1){
                mensaje = 'Las Actividades o Contenidos desarrollados deben tener al menos 16 dígitos ';
                enviar = false;
            }
            if(error2){
                mensaje = 'Debe seleccionar una valoración de nivel de Desempeño';
                enviar = false;
            }

        });

        $(".notaCualitativa").each(function (index) {
            if($(this).val().length < 16){
                mensaje = 'Las notas cualitativas deben tener al menos 16 dígitos';
                enviar = false;
            }
        });

        if(enviar == false){
            alert(mensaje);
            return false;
        }else{
            return true;
        }
    }


    $(".jnumbersletters").keypress(function (key) {
        var key = key || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 97 || k > 122)//letras minusculas
            && (k < 65 || k > 90) //letras mayusculas
            && (k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
            && (k != 241) //ñ
             && (k != 209) //Ñ
             && (k != 32) //espacio
             && (k != 225) //á
             && (k != 233) //é
             && (k != 237) //í
             && (k != 243) //ó
             && (k != 250) //ú
             && (k != 193) //Á
             && (k != 201) //É
             && (k != 205) //Í
             && (k != 211) //Ó
             && (k != 218) //Ú
             && (k != 44) //coma ,
             && (k != 46) //punto .
            )
            return false;
    });
</script>
<style>
.noresize {
    resize: none;
}
</style>