
{# 
	variable vista
	vista = 0  // La vista estara totalmente bloqueada
	vista = 1  // Se podran modificar las notas dirferentes a cero y vacio
	vista = 2  // Se podra modificar todo
#}

<input type="hidden" name="tipoNota" value="{{notas.tipoNota}}">
<input type="hidden" name="nivel" value="{{notas.nivel}}">
<input type="hidden" name="idInscripcion" value="{{notas.idInscripcion}}">
<input type="hidden" name="gestion" value="{{notas.gestion}}">

{% if notas.cuantitativas|length > 0 %}

    {% if notas.gestion == 2020 and (notas.nivel == 11 or notas.nivel == 403) %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered cf" style="backgroud:#FFFFFF">
                    <thead class="cf">
                        <tr>
                            <th>
                               --- Asignatura
                            </th>
                            {% if notas.operativo > 0 %}
                                {% for i in 1..notas.operativo %}
                                    {% if i < 4  %}
                                        <th>{{ i }} Trimestre</th>
                                    {% else %}
                                        {% if notas.nivel not in [1,11,403] %}
                                            <th>Promedio</th>
                                        {% endif %}
                                    {% endif %}
                                    
                                {% endfor %}
                                {% if notas.operativo == 4 and notas.nivel not in [1,11,403] %}
                                    <th>Promedio</th>
                                {% endif %}
                            {% else %}
                                <th>Notas Cuantitativas</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% for a in notas.cuantitativas %}
                                    <p>
                                        <strong>{{a.area | upper}}</strong>
                                        {{ a.asignatura }}
                                    </p>
                                {% endfor %}
                            </td>
                            {% if notas.cualitativas|length > 0 %}
                                {% for c in notas.cualitativas %}
                                    {% if c.idNotaTipo != 18 %}
                                        <td>
                                            {# {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %} #}

                                                {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                                                    {% if (c.notaCualitativa == "") or (vista == 2) or (c.idNotaTipo == notas.operativo and notas.gestion == notas.gestionActual) %}
                                                        <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{c.idEstudianteNotaCualitativa}}">
                                                        <input type="hidden" name="idNotaTipoCualitativa[]" value="{{c.idNotaTipo}}">
                                                        <p class="text-justify">
                                                          <textarea class="form-control jnumbersletters notaCualitativa" name="notaCualitativa[]" rows="20" cols="50" style="resize:vertical; max-height: 270px; text-transform:uppercase" maxlength="400" minlength="16">{{c.notaCualitativa}}</textarea>
                                                        </p>
                                                    {% else %}
                                                        <p class="text-justify">
                                                          <textarea class="form-control jnumbersletters" rows="20" cols="50" style="resize:vertical; max-height: 270px; text-transform:uppercase" maxlength="400" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                                        </p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="text-justify">
                                                     <textarea class="form-control jnumbersletters" rows="20" cols="50" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="400" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                                    </p>
                                                {% endif %}
                                            {# {% endif %} #}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td><em><span style="color:#9DB2B9">No hay notas cualitativas</span></em></td>        
                            {% endif %}
                        </tr>
                        {% if notas.operativo >= 4 %}
                            {% for c in notas.cualitativas %}
                                {% if c.idNotaTipo == 18 %}
                                    <tr>
                                        <td>Informe anual del proceso educativo:</td>
                                        <td colspan="4">
                                            {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                                                {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                                                    {% if (c.notaCualitativa == "") or (vista == 2) or (notas.operativo == 4 and notas.gestion == notas.gestionActual) %}
                                                        <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{c.idEstudianteNotaCualitativa}}">
                                                        <input type="hidden" name="idNotaTipoCualitativa[]" value="{{c.idNotaTipo}}">
                                                        <p class="text-justify">
                                                            <textarea class="form-control jnumbersletters notaCualitativa" name="notaCualitativa[]" rows="3" cols="50" style="resize:vertical; max-height: 270px; text-transform:uppercase" maxlength="400" minlength="16">{{c.notaCualitativa}}</textarea>
                                                        </p>
                                                    {% else %}
                                                        <p class="text-justify">
                                                            <textarea class="form-control jnumbersletters" rows="3" cols="50" style="resize:vertical; max-height: 270px; text-transform:uppercase" maxlength="400" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                                        </p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="text-justify">
                                                        <textarea class="form-control jnumbersletters" rows="3" cols="50" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="400" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
        {% if notas.nivel in [1,11,403] or (notas.gestion >= 2020) %}
            <div class="col-lg-12">
        {% else %}
            <div class="col-lg-8">
        {% endif %}
        <table class="table table-bordered cf" style="backgroud:#FFFFFF">
            <thead class="cf">
                <tr>
                    <th>
                       --- Asignatura
                    </th>
                    
                    {% if notas.operativo > 0 %}
                        {% for i in 1..notas.operativo %} 
                            {% if i < 4  %}
                                <th>{{ i }} Trimestre</th>
                            {% else %}
                                {% if notas.nivel not in [1,11,403] %}
                                    <th>Promedio</th>
                                {% endif %}
                            {% endif %}
                            
                        {% endfor %}
                        {% if notas.operativo == 3 and notas.nivel not in [1,11,403] %}
                            <th>Promedio...</th>
                        {% endif %}
                    {% else %}
                        <th>Notas Cuantitativas</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% set cont = 0 %}
                {% for a in notas.cuantitativas %}
                    <tr>
                        <td data-title="Asignatura">
                            {% if a.idAsignatura == 1039 %}
                                {% set asignaturaNombre = a.asignatura|split(':') %}
                                {{asignaturaNombre[0]}} {% if asignaturaNombre[1]|length > 0 %} : <span style="color:#43C65E; font-weight:bold"> {{asignaturaNombre[1]|upper}} </span> {% endif %}
                            {% else %}
                                {{ a.asignatura }}
                            {% endif %}
                        </td>
                        {% if a.notas is defined and a.notas|length > 0 %}
                        
                        {% for n in a.notas %}

                            {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                            
                                {% if (n.idNotaTipo != 9 and ((notas.nivel in [1,11,403] and n.nota == "") or (notas.nivel not in [1,11,403] and n.nota == 0))) or (vista == 2 and n.idNotaTipo != 8) or (n.idNotaTipo != 9 and n.idNotaTipo == notas.operativo+5 ) %} {# and notas.gestion == notas.gestionActual #}
                                    <td data-title="{{n.idNotaTipo}} Bimestre">
                                        <input type="hidden" name="idEstudianteNota[]" value="{{n.idEstudianteNota}}">
                                        <input type="hidden" name="idNotaTipo[]" value="{{n.idNotaTipo}}">
                                        <input type="hidden" name="idEstudianteAsignatura[]" value="{{n.idEstudianteAsignatura}}">
                                        {% if notas.nivel in [1,11,403] %}
                                           <textarea class="notaCualitativa jnumbersletters" name="nota[]" id="{{n.id}}" onkeypress="" pattern="[0-9A-Z]{1,200}" required autocomplete="off" style="text-transform: uppercase; width:170px" rows="6" minlength="16" maxlength="400">{{n.nota}}</textarea>
                                        {% else %}
                                           <input type="text" id="{{n.id}}" name="nota[]" value="{{n.nota}}" size="2" onkeypress="return validarNota(event,this.id,this.value)" onkeyup="promedio(this,'{{notas.idInscripcion}}_{{a.idAsignatura}}')" onblur="notaVacia(this,'{{notas.idInscripcion}}_{{a.idAsignatura}}')"  class="form-control input-sm nota {{notas.idInscripcion}}_{{a.idAsignatura}}" style="width:50px" maxlength="3" autocomplete="off">
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td data-title="Promedio">
                                        <input type="hidden" name="idEstudianteNota[]" value="{{n.idEstudianteNota}}">
                                        <input type="hidden" name="idNotaTipo[]" value="{{n.idNotaTipo}}">
                                        <input type="hidden" name="idEstudianteAsignatura[]" value="{{n.idEstudianteAsignatura}}">
                                        {% if notas.nivel in [1,11,403]  %}
                                           <textarea class="jnumbersletters" name="nota[]" id="{{n.id}}" onkeyup="this.focus();" pattern="[0-9A-Z]{1,200}" required autocomplete="off" style="text-transform: uppercase; width:170px; background:#EFEFEF; border-color:#E2E2E2" rows="6" minlength="16" maxlength="400" readonly="readonly">{{n.nota}}</textarea>
                                        {% else %}
                                       
                                             <input type="text" id="{{n.id}}" name="nota[]" value="{{n.nota}}" size="2" onkeypress="return validarNota(event,this.id,this.value)" onkeyup="notaVacia(this.id,this.value)" class="form-control input-sm {% if n.idNotaTipo == 9 and notas.operativo >= 3 %} p{{notas.idInscripcion}}_{{a.idAsignatura}} promedio {% else %} nota {{notas.idInscripcion}}_{{a.idAsignatura}} {% endif %}" style="width:50px" maxlength="3" autocomplete="off" readonly="readonly">
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% else %}
                                <td data-title="{{n.idNotaTipo}} Bimestre">
                                    {% if notas.nivel in [1,11,403] %}
                                       3 <textarea id="{{n.id}}" class="jnumbersletters" style="text-transform: uppercase; width:170px; background:#EFEFEF; border-color:#E2E2E2" rows="6" minlength="16" maxlength="400" disabled="disabled">{{n.nota}}</textarea>
                                    {% else %}
                                      <input id="{{n.id}}" type="text" size="2" class="form-control input-sm" style="width:50px" maxlength="3" autocomplete="off" disabled="disabled" value="{{n.nota}}">
                                    {% endif %}
                                </td>
                            {% endif %}
                                
                        {% endfor %}

                        {% else %}
                            <td>
                                <em><spam style="color:#9DB2B9">No hay notas</spam></em>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                
                {# REGISTRO DE PROMEDIO ANUAL   #}

                {% if notas.gestion >= 2020 and notas.cualitativas|length > 0 and notas.nivel != 11 and notas.tipoSubsistema != 4 %}
                    <tr>
                        <td align="center" colspan="5">PROMEDIO ANUAL</td>
                        {% for c in notas.cualitativas %}
                            <td align="center">
                                    <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{c.idEstudianteNotaCualitativa}}">
                                    <input type="hidden" name="idNotaTipoCualitativa[]" value="{{c.idNotaTipo}}">
                                    <input type="text" name="notaCualitativa[]" size="2" style="width:50px" maxlength="3" autocomplete="off" readonly="readonly" value="{{c.notaCuantitativa}}" class="form-control input-sm p{{c.idNotaTipo}}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}

            </tbody>
        </table>
        </div>

        {% if notas.nivel in [1,11,403] %}
            <div class="col-lg-12">
        {% else %}
            <div class="col-lg-4">
        {% endif %}

        {% if notas.gestion < 2020 or (notas.gestion >= 2020 and notas.nivel == 11) %}
            <table class="table">
                {% if notas.cualitativas|length > 0 %}
                    {% for c in notas.cualitativas %}
                        <tr><td style="padding:0px; margin:0px">
                        {% if (notas.estadoMatricula in notas.estadosPermitidos) and vista != 0 %}
                            {% if (c.notaCualitativa == "") or (vista == 2) or (c.idNotaTipo == notas.operativo and notas.gestion == notas.gestionActual) or (notas.operativo == 4 and notas.nivel in [1,11,403]) %}
                                <input type="hidden" name="idEstudianteNotaCualitativa[]" value="{{c.idEstudianteNotaCualitativa}}">
                                <input type="hidden" name="idNotaTipoCualitativa[]" value="{{c.idNotaTipo}}">
                                <p><b>--{{c.notaTipo}}</b></p>
                                <p class="text-justify">
                                    <textarea class="form-control jnumbersletters notaCualitativa" name="notaCualitativa[]" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" minlength="16">{{c.notaCualitativa}}</textarea>
                                </p>
                            {% else %}
                                <p><b>{{c.notaTipo}}</b></p>
                                <p class="text-justify">
                                    <textarea class="form-control jnumbersletters" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" disabled="disabled">{{c.notaCualitativa}}</textarea>
                                </p>
                            {% endif %}
                        {% else %}
                            <p><b>{{c.notaTipo}}</b></p>
                            <p class="text-justify">
                                <textarea class="form-control jnumbersletters" rows="5" cols="30" style="resize:vertical; max-height: 200px; text-transform:uppercase" maxlength="200" disabled="disabled">{{c.notaCualitativa}}</textarea>
                            </p>
                        {% endif %}
                        </td></tr>
                    {% endfor %}
                {% else %}
                    <thead>
                        <tr><th>Notas cualitativas</th></tr>
                    </thead>
                    <tr><td><em><spam style="color:#9DB2B9">No hay notas cualitativas</spam></em></td></tr>
                {% endif %}
            </table>

        {% endif %}
        </div>
        </div>

    {% endif %}

{% else %}
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i> El curso no tiene materias registradas, debe registrar las materias del curso para poder realizar el registro de notas.
    </div>
{% endif %}

<script>
    var promedio = function(control,clase){
        
        //if(control.value == ""){ control.value = 0; }
        if(control.value < 0){ control.value = 0; }
        if(control.value > 100){ control.value = 100; }
        
        if(control.value != "" && control.value != 0){
            control.value = Math.round(control.value);
        }

        var suma = 0;
        $("."+clase).each(function (index) {
            suma = suma + parseInt($(this).val());
        })
        var promedio = Math.round(suma/3);
        if(isNaN(promedio)){
            promedio = 0;
        }
        $('.p'+clase).val(promedio);

        promedioAnual();
    }

    var notaVacia = function(control,clase){
        if(control.value == ""){ control.value = 0; }
        if(control.value < 0){ control.value = 0; }
        if(control.value > 100){ control.value = 100; }

        if(control.value != "" && control.value != 0){
            control.value = Math.round(control.value);
        }
        
        var suma = 0;
        $("."+clase).each(function (index) {
            suma = suma + parseInt($(this).val());
        })
        var promedio = Math.round(suma/3);
        if(isNaN(promedio)){
            promedio = 0;
        }
        $('.p'+clase).val(promedio);

        promedioAnual();
    }

    var promedioAnual = function(){
        var suma = 0;
        var contador = 0;
        $(".promedio").each(function (index) {
            suma = suma + parseInt($(this).val());
            contador = contador + 1;
        })
        var promedio = Math.round(suma/contador);
        if(isNaN(promedio)){
            promedio = 0;
        }
        $('.p5').val(promedio);
    }

    var validarNota = function(e){
        var key = e || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
        )
        return false;
    }

    var validarEnvioNotas = function(){
        var enviar = true;
        var mensaje = "";
        $(".nota").each(function (index) {
            if($(this).val() == 0){
                enviar = false;
                mensaje = 'Las notas registradas no pueden ser cero';
            }
        });
        if(enviar == true){
            $(".notaCualitativa").each(function (index) {
                if($(this).val().length < 16){
                    mensaje = 'Las notas cualitativas deben tener al menos 16 dígitos';
                    enviar = false;
                }
            });
        }
        if(enviar == false){
            alert(mensaje);
            return false;
        }else{
            return true;
        }
    }

    $(".jnumbersletters").keypress(function (key) {
        var key = key || window.event;
        var k = key.charCode || key.keyCode;
        if ((k < 97 || k > 122)//letras minusculas
            && (k < 65 || k > 90) //letras mayusculas
            && (k < 48 || k > 57) //NUmeros
            && (k != 13) //ENTER
            && (k != 8) //retroceso
            && (k != 9) //tab
            && (k != 241) //ñ
             && (k != 209) //Ñ
             && (k != 32) //espacio
             && (k != 225) //á
             && (k != 233) //é
             && (k != 237) //í
             && (k != 243) //ó
             && (k != 250) //ú
             && (k != 193) //Á
             && (k != 201) //É
             && (k != 205) //Í
             && (k != 211) //Ó
             && (k != 218) //Ú
             && (k != 44) //coma ,
             && (k != 46) //punto .
            )
            return false;
    });
</script>