<!-- Website Stats  Widget -->
 <div class="panel panel-icon panel-primary">
    <div class="panel-heading">
        Cuso y Facilitador Nuevo
    </div>
    <div class="panel-body">
        {% if curso_existe == 1 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                        <table id="tablaTotales" class="display" cellspacing="0" width="100%">    
                            <thead>
                                <tr>
                                    <th>Id Curso</th>
                                    <th>Opciones</th>
                                    <th>Departamento</th>  
                                    <th>Provincia</th>
                                    <th>Municipio</th>
                                    <th>Localidad</th>
                                    <th>C.I.</th>
                                    <th>Nombre</th>
                                    <th>Paterno</th>
                                    <th>Materno</th> 
                                    <th>Ciclo</th>                            
                                    <th>Grado</th>                           
                                    <th>Inicio</th>                            
                                    <th>Fin</th>                                                     
                                </tr>
                            </thead>
                            <tbody> 

                            {% if curso.esactivo != 1 %} {% set op=0 %} {% else %} {% set op=1 %} {% endif %}
                                <tr>
                                    <td>{{curso.id}}</td>
                                     <td>
                                        <a role="button" class="btn btn-primary btn-xs glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_consolidado', { 'id_enc': curso.id_enc~"|"~curso.bloque~"|"~curso.parte}) }}" title="Imprmimr Centralizador"> </a>
                                        <a role="button" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="{{ path('sie_pnp_curso_listado_editnew', { 'id': curso.id_enc,'val':0 }) }}" title="Ver Curso"> </a>
                                    </td>
                                    <td>{{curso.depto|upper}}</td>
                                    <td>{{curso.provincia|upper}}</td>
                                    <td>{{curso.municipio|upper}}</td>
                                    <td>{{curso.localidad}}</td>
                                    <td>{{curso.carnet}}</td>
                                    <td>{{curso.nombre}}</td>
                                    <td>{{curso.paterno}}</td>
                                    <td>{{curso.materno}}</td>
                                    <td>{% if curso.plan == 1 %}BLOQUE {% endif %}{{ curso.nciclo }}</td>
                                    <td>{% if curso.plan == 1 %}PARTE {% endif %}{{ curso.ngrado }}</td>
                                    <td>{{curso.fecha_inicio}}</td>
                                    <td>{{curso.fecha_fin}}</td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" align="center">CURSO NO ECNONTRADO!!!</div>
        {% endif %}
        <div class="row" align="center">
            <div class "col-md-12" align="center">
                <h4>Curso</h4>
            </div>
        </div>
        <div class="row">
            <div class "col-md-12" align="center">
                <div> <h4 class="glyphicon glyphicon-arrow-down"></h4></div>            
            </div>
        </div>
         <div class="row" align="center">
            <div class "col-md-12" align="center">
                <h4>Nuevo Facilitador</h4>
            </div>
        </div>
        {% if facilitador_existe == 1 %}
            <div class="row">
                <div class "col-md-11">
                    <div class="contenedor-tabla" style="width: 100%;">
                        <table class="display" width="100%" border="0">
                            <tbody>
                                <tr align="center">
                                    <td><strong>CI</strong></td>
                                    <td><strong>Nombre</strong></td>
                                    <td><strong>Paterno</strong></td>
                                    <td><strong>Materno</strong></td>  
                                    <td><strong>Fech de Nacimiento</strong></td>                                         
                                </tr>                                        
                                <tr align="center">
                                    <td>{{ facilitador.ci }}{% if facilitador.complemento != '' %}-{{facilitador.complemento}}{% endif %}</td>
                                    <td>{{facilitador.nombre}}</td>
                                    <td>{{facilitador.paterno}}</td>
                                    <td>{{facilitador.materno}}</td>
                                    <td>{{facilitador.fecha_nac|date('d-m-Y')}}</td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>        
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" align="center">FACILITADOR NO ECNONTRADO!!!</div>
        {% endif %}
        {% if curso.esactivo != 1 %}
            {% if curso_existe == 1 and facilitador_existe == 1 %}
                <div class="row" align="center">
                    <form action="{{ path('sie_pnp_cambiar_facilitador') }}" method="POST">
                        <input type="hidden" value="{{ curso.id }}" id="curso_id" name="curso_id" required="required">
                        <input type="hidden" value="{{ facilitador.id }}" id="facilitador_id" name="facilitador_id" required="re">
                        <input type="hidden" value="{{ facilitador.ci }}" id="facilitador_ci" name="facilitador_ci" required="re"><br></br>
                         <input type ="submit" id="boton" value="Cambiar Facilitador" class="btn btn-success btn-large " onclick="return confirm('¿Está seguro de cambiar el curso por el nuevo Facilitador?');" >
                    </form>
                </div>
            {% else %}
                <div class="row" align="center">
                    <input type="submit" disabled="disabled" id="boton" value="Cambiar Facilitador" class="btn btn-success btn-large">
                </div>
            {% endif %}
        {% else %}
            <br></br>
            <div class="alert alert-warning" align="center">CURSO CERRADO, NO PUEDE CAMBIAR!!!</div>
        {% endif %}

    </div>
</div>
   


    <script type="text/javascript">
 
    </script>

