{% extends 'layoutPnp.html.twig' %}

{% block body -%}
    <div class="header-content">
        <h2><i class="fa fa-home animated flip"></i>PARTICIPANTES DEL CURSO <span></span></h2>
    </div><!-- /.header-content -->

    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
          {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Bien!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Advertencia!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

    <div class="modal modal-flex fade" id="Modalmoduloemergente" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="flexModalLabel">ÁREA DE FORMACIÓN PARA LA VIDA.</h5>             
                </div>
                <div class="modal-body">
                    <div>
                        <form role="form" method="post" action="{{path('sie_pnp_curso_listado_editnew', { 'id': id_archivo,'val':5 }) }}">
                            <div align="center">
                            <h5>Nombre del Área de Formación Para La Vida:</h5>
                            <input type="hidden" id="modulo_emergente_id" name="modulo_emergente_id" required="required" {% if plan == 2%}value="{{modulo_emergente.id}}" {% endif %}/>
                            <input type="hidden" id="rcurso_id" name="rcurso_id" required="required" {% if plan == 2%}value="{{id_archivo}}" {% endif %}/>
                            <input style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" id="mmodulo_emergente" maxlength="70" size="70" name="mmodulo_emergente" placeholder="Digite Nombre del Módulo Emergente" required="required"  {% if plan == 2%}value="{{modulo_emergente.moduloEmergente}}" class="form-control" {% endif %}/>
                            <h5>Horas Académicas:</h5>
                            <input type="number" min="0" step="5"  max="999" maxlength="3" id="modulo_emergente_horas" name="modulo_emergente_horas" class="form-control" required="required" {% if plan == 2%}value="{{duracionhoras}}" {% endif %}/>
                            </div>
                            <hr>
                            <div align="center"><button type="submit" class="btn btn-success btn-large glyphicon glyphicon-pencil"> Guardar Cambios</button></div>
                        </form>     
                    </div>
                </div>
                <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal modal-flex fade" id="ModalUser" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="flexModalLabel">NOTAS CONSOLIDADAS DEL ESTUDIANTE.</h5>             
                </div>
                <div class="modal-body">
                    <div id="notasModal">
                            
                    </div>
                </div>
                 <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>                 
            </div>                
        </div>
    </div>     
    <div class="modal modal-flex fade" id="ModalRudeal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="flexModalLabel">NOTAS CONSOLIDADAS DEL ESTUDIANTE.</h5>             
                </div>
                <div class="modal-body">
                    <div id="rudealModal">
                            
                    </div>
                </div>
                 <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>                 
            </div>                
        </div>
    </div>   
</div>
    
        

    <div class="modal modal-flex fade" id="ModalEstudiante" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 class="modal-title" id="flexModalLabel">BUSCAR ESTUDIANTE</h5>
          </div>
          <div class="modal-body" align="center">
            
                <form class="">
                    <input type="radio" name="rude" id="rude" value="0" checked onclick="carnet_identidad()">
                    Carnet Identidad
                    <input type="radio" name="rude" id="rude" value="1" onclick="codigo_rude()">
                    Código Rude
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="" for="ci_buscar" id="l_ci">Carnet de identidad</label>
                            <input type="text" required="true" class="form-control" id="ci_buscar" onkeypress="return ValidarEspacios(event,this)">
                        </div>
                        <div class="col-lg-2">
                            <label class="" for="complemento" id="l_complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" onkeypress="return ValidarEspacios(event,this)" style="text-transform: uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        </div>
                        <div class="col-lg-4">
                            </br>
                            <button type="button" class="btn btn-primary" href= "#" onclick="BuscarEstudiante()">Buscar</button>
                        </div>
                    </div>     
                </form>

                <div id="ResultCI" style="display:none">
                    
                </div>             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal modal-flex fade" id="Modal_fecha" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="flexModalLabel">EDITAR FECHA NACIMIENTO, GÉNERO (Sin Dato), Y OTROS.</h5>             
                </div>
                <div class="modal-body">
                    <div id="editar-Modal">
                        <form role="form" method="post" action="{{path('sie_pnp_curso_listado_editnew', { 'id': id_archivo,'val':1 }) }}">
                            <div align="center">
                            <input type="hidden" id="estudiante_id" name="estudiante_id" value="" required="required" style="display:" />
                            <input type="hidden" id="plan" name="plan" value="{{plan}}" required="required" style="display:" />
                            <input type="text" id="fecha_nac" name="fecha_nac" placeholder="Digite Fecha de Nacimiento" required="required" value="" class="form-control" />
                            <input type="radio" name="genero" id="genero_m" value="1">
                            <label for="" id="genero_lm">Masculino</label>
                            <input type="radio" name="genero" id="genero_f" value="2">
                            <label for="" id="genero_lf">Femenino</label>
                            <div class="col-lg-4 col-md-3" align="center">
                                <h5>Alfabetizado</h5>
                                <select name="alfabetizado" class="form-control" id="alfabetizado">
                                    <option value="SI">Si</option>
                                    <option value="NO">NO</option>
                                </select>  
                            </div>
                            <div class="col-lg-4 col-md-3" align="center">
                                <h5>Idioma</h5>
                                <select name="idioma" class="form-control" id="idioma">
                                    <option value="CASTELLANO">CASTELLANO</option>
                                    <option value="ATAONA">ATAONA</option>
                                    <option value="AIMARA">AIMARA</option>
                                    <option value="AYOREO">AYOREO</option>
                                    <option value="BAURE">BAURE</option>
                                    <option value="CAVINEÑO">CAVINEÑO</option>
                                    <option value="CANICHANA">CANICHANA</option>
                                    <option value="CAYUBABA">CAYUBABA</option>
                                    <option value="CHÁCOBO">CHÁCOBO</option>
                                    <option value="CHIMAN">CHIMAN</option>
                                    <option value="CHIQUITANO">CHIQUITANO</option>
                                    <option value="ESSE EJJA">ESSE EJJA</option>
                                    <option value="GUARANI">GUARANI</option>
                                    <option value="GUARAYA">GUARAYA</option>
                                    <option value="ITONOMA">ITONOMA</option>
                                    <option value="JOAQUINIANO">JOAQUINIANO</option>
                                    <option value="LECO">LECO</option>
                                    <option value="MACHINERI">MACHINERI</option>
                                    <option value="MORÉ">MORÉ</option>
                                    <option value="MOSETÉN">MOSETÉN</option>
                                    <option value="MOVIMA">MOVIMA</option>
                                    <option value="MOXEÑO">MOXEÑO</option>
                                    <option value="NAHUA">NAHUA</option>
                                    <option value="PACAHUARA">PACAHUARA</option>
                                    <option value="PAICONECA">PAICONECA</option>
                                    <option value="QUECHUA">QUECHUA</option>
                                    <option value="SIRIONO">SIRIONO</option>
                                    <option value="TACANA">TACANA</option>
                                    <option value="TAPIETE">TAPIETE</option>
                                    <option value="TORONOMA">TORONOMA</option>
                                    <option value="URU">URU</option>
                                    <option value="WEENHAYEK">WEENHAYEK</option>
                                    <option value="YUMINAHUA">YUMINAHUA</option>
                                    <option value="YUKI">YUKI</option>
                                    <option value="YURACARÉ">YURACARÉ</option>
                                    <option value="NO ORIGINARIO">NO ORIGINARIO</option>
                                    <option value="AFRO BOLIVIANO">AFRO BOLIVIANO</option>
                                </select>  
                            </div>
                            <div class="col-lg-4 col-md-3" align="center">
                                <h5>Ocupaci&oacute;n</h5> 
                                <select name="ocupacion" class="form-control" id="ocupacion">
                                    <option value="AMA DE CASA">AMA DE CASA</option>
                                    <option value="AGRICULTOR">AGRICULTOR</option>
                                    <option value="MINERO">MINERO</option>
                                    <option value="CHOFER">CHOFER</option>
                                    <option value="CARPINTERO">CARPINTERO</option>
                                    <option value="ZAPATERO">ZAPATERO</option>
                                    <option value="CHOFER">CHOFER</option>
                                    <option value="COMERCIANTE">COMERCIANTE</option>
                                    <option value="PANADERO">PANADERO</option>
                                    <option value="AVICULTOR">AVICULTOR</option>
                                    <option value="PELUQUERO">PELUQUERO</option>
                                    <option value="OTRO">OTRO</option>
                                </select> 
                            </div></br>

                            {% if plan == 2%}
                                <div class="col-lg-3 col-md-12">&nbsp;</div>
                                <div class="col-lg-6 col-md-12" align="center">
                                    <h5>Tiene Discapacidad</h5> 
                                    <select name="discapacidad" class="form-control" id="discapacidad">
                                        {% for discapacidad in discapacidades %}
                                            <option value="{{discapacidad.id}}">{{discapacidad.origendiscapacidad}}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="col-lg-3 col-md-12">&nbsp;</div>
                            {% endif %}
                            <div class="col-lg-12 col-md-12" align="center">&nbsp;</div>
                            <div><button type="submit" class="btn btn-success btn-large glyphicon glyphicon-pencil"> Guardar Cambios</button></div>
                        </form>
                    </div>
                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
            </div>                
        </div>
    </div></div>

        <!-- /.row -->
{% for datos in datosentity %}
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Datos Generales del Curso
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5><small>DEPARTAMENTO :</small><br>{{ datos.departamento }}</h5>
                            </div>
                            <div class="col-xs-4">
                                <h5><small>FACILITADOR :</small><br>{{ datos.nombre }} {{ datos.paterno }} {{ datos.materno }}</h5>                    
                            </div>
                            <div class="col-xs-4">
                                <h5><small>CI. DEL FACILITADOR :</small><br>{{ datos.carnet }}{% if datos.complemento != '' %}-{{datos.complemento}}{% endif %}</h5>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h5><small>PROVINCIA :</small><br>{{ datos.provincia }}</h5>                    
                            </div>
                            <div class="col-xs-4">
                                <h5><small>FECHA DE INICIO :</small></small><br>{% if datos.fecha_inicio %}{{ datos.fecha_inicio|date('d/m/Y') }}{% endif %}</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><small>CICLO :</small><br>{% if plan == 1 %}BLOQUE {% endif %}{{ datos.nciclo }}</h5>
                                <input hidden="true" id="bloque" value="{{ datos.ciclo_tipo_id }}"></input>                   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><small>MUNICIPIO :</small><br>{{ datos.municipio }}</h5>                   
                            </div>
                            <div class="col-md-4">
                                <h5><small>FECHA DE FIN :</small><br>{% if datos.fecha_fin %}{{ datos.fecha_fin|date('d/m/Y') }}{% endif %}</h5>
                            </div>
                            <div class="col-xs-4">
                                <h5><small>GRADO:{% if plan == 2 %} ÁMBITO DE APRENDIZAJE:{% endif %}</small><br>{% if plan == 1 %}PARTE {% endif %}{{ datos.ngrado }} {% if datos.grado_tipo_id == 14 or datos.grado_tipo_id == 16 %} (Semestre 1) {% elseif datos.grado_tipo_id == 15 or datos.grado_tipo_id == 17 %} (Semestre 2) {% endif %}</h5>
                                <input hidden="true" id="parte" value="{{ datos.grado_tipo_id }}"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h5><small>LOCALIDAD :</small><br>{{ datos.localidad }}</h5>
                            </div>
                            <div class="col-xs-4">
                                <h5><small>GESTIÓN:</small><br>{{ datos.gestion_tipo_id }}</h5>
                            </div>
                            <div class="col-sm-4">
                                <h5><small>NRO. MATERIAS :</small><br>{{ datos.nro_materias }}</h5>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-xs-4">
                                <h5><small>CÓDIGO RUE :</small><br>{{ datos.institucioneducativa_id }}</h5>                    
                            </div>
                            <div class="col-xs-4">
                                <h5><small>ID DEL ARCHIVO CONSOLIDADO :</small><br>{{ datos.id }}</h5>
                                <input hidden="true" id="curso_id" value="{{ datos.id }}"></input>        
                            </div>
                            {% if plan == 2 %}
                                <div class="col-xs-4">
                                    <h5><small>FORMACIÓN PARA LA VIDA:</small><br>{{modulo_emergente.moduloEmergente}}</h5>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Lista de Participantes del Curso
                    </div>
                    <div class="panel-body">
                        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                            <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                                <thead>
                                    <tr>
                                        <th>Codigo Rude</th>
                                        {% if plan == 2 %}<th>Rudeal</th>{% endif %}
                                        <th>Opciones</th>
                                        <th>Carnet Identidad</th>
                                        <th>Paterno</th>
                                        <th>Materno</th>
                                        <th>Nombre</th>
                                        <th>Matricula:</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Género</th>
                                        <th>Alfabetizado|Idioma|Cultura</th>
                                        {% if plan == 2 %}<th>Discapacidad</th>{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for estudiante in estudiantes %}
                                    <tr>
                                        <td>{{ estudiante.codigo_rude }}</td>
                                        {% if plan == 2 %}
                                            <td>
                                                {% if esactivo == 1 %}
                                                    <a role="button" class="btn btn-xs btn-primary glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_boletaelectronica', { 'id': estudiante.inscripcion_id~"|"~datos.ciclo_tipo_id~"|"~datos.grado_tipo_id}) }}" title="Imprimir Rudeal"></a>    
                                                {% else %}
                                                    <a role="button" class="btn btn-xs btn-primary glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_boletaelectronica', { 'id': estudiante.inscripcion_id~"|"~datos.ciclo_tipo_id~"|"~datos.grado_tipo_id}) }}" title="Imprimir Rudeal"></a>    
                                                    <a href="#" role="button" onclick="SeeRudeal('{{estudiante.inscripcion_id}}')" class="btn btn-xs btn-success glyphicon glyphicon-edit" title="Editar Rudeal"></a>
                                                {% endif %}    
                                            </td>
                                        {% endif %}
                                        <td>
                                        {% if esactivo == 1 %}
                                            <a role="button" class="btn btn-xs btn-primary glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_boletaelectronica', { 'id': estudiante.inscripcion_id~"|"~datos.ciclo_tipo_id~"|"~datos.grado_tipo_id}) }}" title="Libreta Electronica"></a>
                                            <a href="#" role="button" title="Ver Calificaciones" onclick="SeeNotasNoEdit('{{estudiante.inscripcion_id}}',{{ datos.id }})" class="glyphicon glyphicon-list btn-xs btn-info"></a>
                                        {% else %}
                                            <a href="#" role="button" onclick="SeeNotas('{{estudiante.inscripcion_id}}',{{ datos.id }})" class="btn btn-xs btn-primary glyphicon glyphicon-list" title="Editar Calificaciones"></a>
                                            <a href="#" role="button" onclick="FechaNacEdit('{{estudiante.estudiante_id}}','{{estudiante.fecha_nacimiento|date("d/m/Y")}}','{{ estudiante.id_genero }}','{{estudiante.observacionadicional}}',{{estudiante.pnp}},'{{estudiante.discapacidad_id}}')" class="btn btn-xs btn-success btn-large glyphicon glyphicon-edit" title="Editar Datos"></a>
                                            <a role="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove" onclick="return confirm('¿Está seguro de elminar este registro?, Si ELIMINA el registro, se perderá todos los datos, como la INSCRIPCIÓN y las NOTAS del estudiante y no podrá recuperar!!!')" href="{{ path('sie_pnp_eliminarregistro_estudiante_curso', { 'estudiante_inscripcion_id': estudiante.inscripcion_id,'curso_id':datos.id }) }}" title="Eliminar Inscipción"></a>
                                        {% endif %}
                                        </td>
                                        <td>{{ estudiante.carnet_identidad }}{% if estudiante.complemento != '' %}-{{estudiante.complemento}}{% endif %}</td>
                                        <td>{{ estudiante.paterno }}</td>
                                        <td>{{ estudiante.materno }}</td> 
                                        <td>{{ estudiante.nombre }}</td>
                                        {% if estudiante.estadomatricula == 62 %}
                                            <td>Promovida/o</td>
                                        {% elseif estudiante.estadomatricula == 61  %}
                                            <td>Retirada/o</td>
                                        {% else %}
                                            <td>Postergada/o</td>
                                        {% endif %}
                                        
                                        <td>{% if estudiante.fecha_nacimiento %}{{ estudiante.fecha_nacimiento|date('d/m/Y') }}{% endif %}</td>
                                        <td>{{ estudiante.genero }}</td>
                                        <td>{{ estudiante.observacionadicional }}</td>
                                        {% if plan == 2 %}<td>{{ estudiante.discapacidad_nombre }}</td>{% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table> 
                            {% endfor %}
                            <hr/>
                                {% if esactivo == 0 %}
                                    <table> 
                                        <tr>
                                            <td><a role="button" onclick="SeeBuscarEstudiante()" class="btn btn-primary" href="#" >Agregar Estudiante</a><br/><br/></td>
                                            {% if plan == 2 %}
                                                <td>
                                                    <a role="button" onclick="SeeModuloEmergente()" class="btn btn-warning" href="#" >Formación Para La Vida</a><br/><br/>
                                                </td>
                                                {% endif %}
                                            <td VALIGN="TOP">
                                                <a role="button" class="btn btn-success" href="{{ path('sie_pnp_curso_listado_editnew', { 'id': id_archivo , 'val':6 }) }}" onclick="return confirm('Está seguro de CERRAR EL CURSO?, si cierra el curso POR TEMAS DE SEGURIDAD SE GUARDARÁ SU NOMBRE, ya no tendrá las opciones de editar; Pero podrá imprimir el PDF original para sus firmas respectivas. No olvide que 10 estudiantes mínimo para áreas concentradas y 8 para desconcentradas.');" >Cerrar Curso</a>
                                            </td>
                                        </tr>
                                    </table>
                                {% else %}
                                    <div class="alert alert-success" role="alert" align="center"><strong>Curso Cerrado</strong></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
  

    
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#fecha_nac").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
        initialise();
    } );
    
    function initialise()
    {
         var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

        var currentLang = espanol;
        
        
        //var table = $('#tablaListadoPersonas').DataTable();
        var dtable = $('#tablaListadoPersonas').dataTable( {"oLanguage": espanol} );
        
        
        $('#tablaListadoPersonas tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    }
    
    function SeeNotas(idinscripcion,id_curso){
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_see_notas_edit', {'idinscripcion': idinscripcion,'id_curso': id_curso}),
            data: formData,
            beforeSend: function () {
                $("#notasModal").empty();
                $("#notasModal").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#notasModal").empty();
                $("#notasModal").append(data);
            },
            error: function(data){
                $("#notasModal").empty();
                $("#notasModal").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
        $('#ModalUser').modal('show');
    }

    function SeeNotasNoEdit(idinscripcion,id_curso){
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_see_notas', {'idinscripcion': idinscripcion,'id_curso': id_curso}),
            data: formData,
            beforeSend: function () {
                $("#notasModal").empty();
                $("#notasModal").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#notasModal").empty();
                $("#notasModal").append(data);
            },
            error: function(data){
                $("#notasModal").empty();
                $("#notasModal").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
        $('#ModalUser').modal('show');
    }
     function SeeRudeal(id_inscripcion){
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_rudeal', {'id_inscripcion': id_inscripcion}),
            data: formData,
            beforeSend: function () {
                $("#rudealModal").empty();
                $("#rudealModal").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#rudealModal").empty();
                $("#rudealModal").append(data);
            },
            error: function(data){
                $("#rudealModal").empty();
                $("#rudealModal").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
        $('#ModalRudeal').modal('show');
    }

    function FechaNacEdit(id,fecha_nac,id_genero,obs,pnp,discapacidad_id){
        $('#Modal_fecha').modal('show');
        $('#estudiante_id').val(id);
        $('#fecha_nac').val(fecha_nac);
        if(pnp==0) {
            document.getElementById('fecha_nac').style.visibility='hidden';
            document.getElementById('genero_m').style.visibility='hidden';
            document.getElementById('genero_f').style.visibility='hidden';
            document.getElementById('genero_lm').style.visibility='hidden';
            document.getElementById('genero_lf').style.visibility='hidden';
        }
        else {
            document.getElementById('fecha_nac').style.visibility='';
            document.getElementById('genero_m').style.visibility='';
            document.getElementById('genero_f').style.visibility='';
            document.getElementById('genero_lm').style.visibility='';
            document.getElementById('genero_lf').style.visibility='';
        }
        var res = obs.split("|");
        $('#alfabetizado').val(res[0]);
        $('#idioma').val(res[1]);
        $('#ocupacion').val(res[2]);
        $('#discapacidad').val(discapacidad_id);
        if(id_genero==1){
            document.getElementById("genero_m").checked = true;
            //document.getElementById("genero_m").readonly = true;
            //document.getElementById("genero_f").readonly = true;
        }
        if(id_genero==2){
            document.getElementById("genero_f").checked = true;
            //document.getElementById("genero_m").readonly = true;
            //document.getElementById("genero_f").readonly = true;
        }
        /*if(id_genero==3){
            document.getElementById("genero_m").readonly = false;
            document.getElementById("genero_f").readonly = false;
        }*/
    }
    
    function modaluserclose(){            
        //$('#ResultCI').modal('hide');
        $('#ModalUser').modal('hide');

    }
    
    function SeeBuscarEstudiante(){
        $('#ci_buscar').val("");
        $("#ResultCI").hide();
        $('#ModalEstudiante').modal('show');
    }

    function SeeModuloEmergente(){
            $('#modulo_emergente').val("{{modulo_emergente.moduloEmergente}}");
            $('#Modalmoduloemergente').modal('show');    
    }

    function BuscarEstudiante(){
        $("#ResultCI").show();
        var ci=$("#ci_buscar").val();
        var complemento=$("#complemento").val();
        if(complemento=="")complemento=0;
        var rude=$('input:radio[name=rude]:checked').val();
        var bloque=$("#bloque").val();
        var parte=$("#parte").val();
        var curso_id=$("#curso_id").val();
        if(parte==14){bloque=1;parte=1;}
        if(parte==15){bloque=1;parte=2;}
        if(parte==16){bloque=2;parte=1;}
        if(parte==17){bloque=2;parte=2;}
        ci=ci+bloque+parte;
        $("#ResultCI").val(ci);
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_buscar_estudiante',{'ci': ci,'curso_id':curso_id,'complemento':complemento,'rude':rude}),
            data: formData,
            beforeSend: function () {
                $("#ResultCI").empty();
                $("#ResultCI").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#ResultCI").empty();
                $("#ResultCI").append(data);
            },
            error: function(data){
                $("#ResultCI").empty();
                $("#ResultCI").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
    }
    function codigo_rude(){
        document.getElementById('complemento').type = 'hidden';
        document.getElementById('l_complemento').innerHTML = '';
        document.getElementById('l_ci').innerHTML = 'Códgio Rude';
        document.getElementById('complemento').value = "";
        document.getElementById('ci_buscar').value = "";

    }

    function carnet_identidad(){
        document.getElementById('complemento').type = 'text';
        document.getElementById('l_complemento').innerHTML = 'Complemento';
        document.getElementById('l_ci').innerHTML = 'Carnet de Identidad';
        document.getElementById('complemento').value = "";
        document.getElementById('ci_buscar').value = "";
    }
    
    </script>
{% endblock %}