{% extends 'layoutPnp.html.twig' %}

{% block body -%}
     <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1 class="glyphicon glyphicon-user"> PARTICIPANTES DEL CURSO</h1>
                <ol class="breadcrumb">
                    <li>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
          {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Bien!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Advertencia!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Datos Generales del Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation" class="panel-collapse collapse in">
                    <div class="portlet-body">
            {% for datos in datosentity %}
            <div class="row">
                <div class="col-sm-4">
                    <h4><small>DEPARTAMENTO :</small><br>{{ datos.departamento }}</h4>
                </div>
                <div class="col-xs-4">
                    <h4><small>FACILITADOR :</small><br>{{ datos.nombre }} {{ datos.paterno }} {{ datos.materno }}</h4>                    
                </div>
                <div class="col-xs-4">
                    <h4><small>CI. DEL FACILITADOR :</small><br>{{ datos.carnet }}{% if datos.complemento != '' %}-{{datos.complemento}}{% endif %}</h4>                        
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h4><small>PROVINCIA :</small><br>{{ datos.provincia }}</h4>                    
                </div>
                <div class="col-xs-4">
                    <h4><small>FECHA DE INICIO :</small></small><br>{% if datos.fecha_inicio %}{{ datos.fecha_inicio|date('d/m/Y') }}{% endif %}</h4>
                </div>
                <div class="col-md-4">
                    <h4><small>CICLO :</small><br>{% if datos.plan == 1 %}BLOQUE {% endif %}{{ datos.nciclo }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4><small>MUNICIPIO :</small><br>{{ datos.municipio }}</h4>                   
                </div>
                <div class="col-md-4">
                    <h4><small>FECHA DE FIN :</small><br>{% if datos.fecha_fin %}{{ datos.fecha_fin|date('d/m/Y') }}{% endif %}</h4>
                </div>
                <div class="col-xs-4">
                    <h4><small>GRADO:{% if datos.plan == 2 %} ÁMBITO DE APRENDIZAJE:{% endif %}</small><br>{% if datos.plan == 1 %}PARTE {% endif %}{{ datos.ngrado }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4><small>LOCALIDAD :</small><br>{{ datos.localidad }}</h4>
                </div>
                <div class="col-xs-4">
                    <h4><small>GESTIÓN:</small><br>{{ datos.gestion_tipo_id }}</h4>
                </div>
                <div class="col-sm-4">
                    <h4><small>NRO. MATERIAS :</small><br>{{ datos.nro_materias }}</h4>
                </div>
            </div>
            <div class="row">    
                <div class="col-xs-4">
                    <h4><small>COD: INSTITUTO EDUCATIVO :</small><br>{{ datos.institucioneducativa_id }}</h4>                    
                </div>
                <div class="col-xs-4">
                    <h4><small>ID DEL ARCHIVO CONSOLIDADO :</small><br>{{ datos.id }}</h4>                        
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
     </div>

    </div>
                  
            </div>
        </div>
    </div>  
     <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Lista de Participantes del Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation1"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation1" class="panel-collapse collapse in">
                    <div class="portlet-body">
            <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaListadoPersonas" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>Calificaciones</th>
                            <th>Codigo Rude</th>
                            <th>Carnet Identidad</th>
                            <th>Paterno</th>
                            <th>Materno</th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Genero</th>
                            <th>Alfabetizado|Idioma|Cultura</th>
                            <th>Estado Matricula</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for estudiante in estudiantes %}
                        <tr>
                            <td data-title="VerNota" class="text-center">
                                <a href="#" onclick="SeeNotas('{{estudiante.inscripcion_id}}')" ><span class="glyphicon glyphicon-eye-open"></span> Ver Calificaciones</a>
                            </td>
                            <td>{{ estudiante.codigo_rude }}</td>
                            <td>{{ estudiante.carnet_identidad }}{% if estudiante.complemento != '' %}-{{estudiante.complemento}}{% endif %}</td>
                            <td>{{ estudiante.paterno }}</td>
                            <td>{{ estudiante.materno }}</td> 
                            <td>{{ estudiante.nombre }}</td>
                            <td>{% if estudiante.fecha_nacimiento %}{{ estudiante.fecha_nacimiento|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ estudiante.genero }}</td>
                            <td>{{ estudiante.observacionadicional }}</td>
                            <td>{{ estudiante.estadomatricula }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="modal modal-flex fade" id="ModalUser" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="flexModalLabel">NOTAS CONSOLIDADAS DEL ESTUDIANTE.</h4>             
                </div>
                <div class="modal-body">
                    <div id="notasModal">
                            
                    </div>
                </div>
                <div class="modal-pie">
                    <HR>
                </div>                    
            </div>                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        initialise();
    } );
    
    function initialise()
    {
         var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

        var currentLang = espanol;    

        //var table = $('#tablaListadoPersonas').DataTable();
        var dtable = $('#tablaListadoPersonas').dataTable( {"oLanguage": espanol,
         'dom': 'lBfrtip <"clear">',
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE PARTICIPANTES',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP LISTA DE PARTICIPANTES',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de Participantes',
            exportOptions: {
                modifier: {
                    page: 'Lista de Participantes'
                    }
                }
            },
        ]} );
        
        
        $('#tablaListadoPersonas tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    }
    
    function SeeNotas(idinscripcion){
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_see_notas', {'idinscripcion': idinscripcion}),
            data: formData,
            beforeSend: function () {
                $("#notasModal").empty();
                $("#notasModal").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#notasModal").empty();
                $("#notasModal").append(data);
            },
            error: function(data){
                $("#notasModal").empty();
                $("#notasModal").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
        $('#ModalUser').modal('show');
    }
    
    function modaluserclose(){            
            $('#ModalUser').modal('hide');
        }
    </script>
{% endblock %}