{% extends 'layoutPnp.html.twig' %}

{% block body -%}
    <div class="header-content">
        <h2><i class="fa fa-home animated flip"></i>CURSOS VACIOS (ELIMINAR) <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">
                    Curso
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Cursos vacios (Eliminar)</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>

        {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Bien!</strong> {{ flashMessage }}
                    </div>
        {% endfor %}
    
<div class="body-content animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="panel panel-icon panel-primary">
                <div class="panel-heading">
                    Cursos Vacios
                </div>
                <div class="panel-body">
                {% if (totales) %}
                    <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                        <table id="tablaTotales" class="display" cellspacing="0" width="100%">    
                            <thead>
                                <tr>
                                    <th>Id Curso</th>
                                    <th>Opciones</th>
                                    <th>Carnet</th>
                                    <th>Nombre</th>
                                    <th>Paterno</th>
                                    <th>Materno</th>                            
                                    <th>Inicio</th>
                                    <th>Fin</th>                            
                                    <th>Ciclo</th>                            
                                    <th>Grado</th>                            
                                    <th>Departamento</th>  
                                    <th>Lugar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for fila in totales %}
                                <tr>
                                    <td>{{ fila.id }}</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a role="button" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="{{ path('sie_pnp_curso_listado_editnew', { 'id': fila.id_enc }) }}" title="Ver curso"></a>&nbsp;
                                                </td>
                                                {% if (fila.dep|upper == lugar_usuario|upper) or ('8' == app.session.get('roluser')) %}
                                                    <td>
                                                        <form role="form" method="post" action="{{path('sie_pnp_curso_vacionew')}}">
                                                            <input type="hidden" name="id_curso" id="id_curso" value="{{fila.id}}">
                                                            <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-floppy-remove" onclick="return eliminar()" title="Eliminar Curso"></button>
                                                        </form>
                                                    </td>
                                                {% endif %}        
                                            </tr>
                                        </table>
                                    </td>
                                    <td>{{ fila.carnet }}{% if fila.complemento != '' %}-{{fila.complemento}}{% endif %}</td>
                                    <td>{{ fila.nombre }}</td>                            
                                    <td>{{ fila.paterno }}</td>
                                    <td>{{ fila.materno }}</td> 
                                    <td>{{ fila.fecha_inicio }}</td>
                                    <td>{{ fila.fecha_fin }}</td>                            
                                    <td>{% if fila.plan == 1 %}BLOQUE {% endif %}{{ fila.nciclo }}</td>
                                    <td>{% if fila.plan == 1 %}PARTE {% endif %}{{ fila.ngrado }}</td>
                                    <td>{{ fila.dep }}</td>
                                    <td>{{ fila.lugar }}</td>                            
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                {% endif %}
            </div>
        </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    function eliminar(){
        var respuesta = confirm("¿Está seguro de eliminar el registro?")
        if (!respuesta){
            return false;
            }   
        }
    var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

    var currentLang = espanol;    
        
    $(document).ready(function() {
        
        var dtable = $('#tablaTotales').dataTable( {"oLanguage": espanol} );
        
        

        $('#tablaTotales tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        {#$('#btn').click(function(){
            dtable.fnDestroy();
            dtable = null;
            currentLang = (currentLang == english) ? espanol : english;
            dtable = $('#tablaTotales').dataTable( {"oLanguage": currentLang} );
        });#}
        
    });
    </script>
{% endblock %}