{% extends 'layoutPnp.html.twig' %}

{% block body -%}
    <div class="modal modal-flex fade" id="Modal_fecha" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title" id="flexModalLabel">EDITAR CURSO (FECHAS).</h4>             
            </div>
            <div class="modal-body">
                <div id="editar-Modal">
                    <form role="form" method="post" action="{{path('sie_pnp_listar_archivos_editnew')}}">
                        <div align="center">
                        <input type="text" id="curso_id" name="curso_id" value="" required="required" style="display:none" />
                        <input type="text" id="plan" name="plan" value="" required="required" style="display:none" />
                        <input type="text" id="ciclo_tipo_id" name="ciclo_tipo_id" value="" required="required" style="display:none" />
                        <input type="text" id="grado_tipo_id" name="grado_tipo_id" value="" required="required" style="display:none" />
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-4 control-label">Departamento:</label>
                            <div class="col-sm-8">
                                 <input type="text" id="form_departamento" name="grado_tipo_id" value="" required="required"  style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-4 control-label">Provincia:</label>
                            <div class="col-sm-8">
                                <select required="required" data-placeholder="Seleccionar"  id="form_provincia" class="form-control chosen-select" name="form_provincia">
                                    <option value="">Provincia</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-4 control-label">Municipio:</label>
                            <div class="col-sm-8">
                                <select required="required" data-placeholder="Seleccionar" id="form_municipio" class="form-control chosen-select" name="form_municipio" >
                                    <option value=""></option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-4 control-label">Localidad:</label>
                            <div class="col-sm-8">
                               <input required="required" type="text" maxlength="40" id="localidad" style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" name="localidad" >
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-5 control-label">Fecha Inicio:</label>
                            <div class="col-sm-7">
                                <input type="text" id="fecha_inicio" class="form-control" name="fecha_inicio" placeholder="Digite Fecha Inicio" required="required" value=""/>
                                <input type="hidden" id="fecha_inicio_ant" class="form-control" name="fecha_inicio_ant" placeholder="Digite Fecha Final" required="required" value=""/>

                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-lg-6">
                            <label class="col-sm-5 control-label">Fecha Fin:</label>
                            <div class="col-sm-7">
                                <input type="text" id="fecha_fin" class="form-control" name="fecha_fin" placeholder="Digite Fecha Final" required="required" value=""/>
                            </div>
                        </div>
                        
                        <br><br>
                        <button type="submit" class="btn btn-success rounded btn-large glyphicon glyphicon-pencil" onclick="return validar_fecha()"> Guardar Cambios</button>
                    </form>
                </div>
            </div>
            <div class="editar-pie">
                <button type="button" class="btn btn-primary rounded" data-dismiss="modal">Cerrar</button>
            </div>                    
        </div>                
    </div>
</div></div>
    <div class="header-content">
        <h2><i class="fa fa-home animated flip"></i>VER CURSOS <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">
                    Curso
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Ver Cursos</li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->


    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
      {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Bien!</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Advertencia!</strong> {{ flashMessage }}
                </div>
        {% endfor %}

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-icon panel-primary">
                    <div class="panel-heading">
                        Lista de Cursos (Gestión de fecha fin del curso)
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li><a href="{{ path('sie_pnp_listar_archivos_editnew')}}" >Cursos Abiertos</a></li>
                            {% for i in gestion_ini_t..gestion_fin_t %}
                                <li {% if(gestion == i) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':i})}}" >{{i}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if (totales) %}
                    <div class="panel panel-icon panel-primary">
                        <div class="panel-heading">
                            Lista de Cursos con fecha fin {{ gestion }}
                        </div>
                        <div class="panel-body">
                            {% if (totales) %}
                            <input type="hidden" name="roluser" id="roluser" value="{{ roluser}}">
                            <button class="btn btn-xs btn-danger rounded glyphicon glyphicon-copy" id="copy-button" data-clipboard-target="#tablaTotales"> Copiar Lista</button>
                                <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                                    <table id="tablaTotales" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id Curso</th>
                                                <th>Opciones</th>
                                                <th>Carnet</th>
                                                <th>Nombre</th>
                                                <th>Paterno</th>
                                                <th>Materno</th>                            
                                                <th>Fecha_Inicio</th>                            
                                                <th>Fecha_Fin</th>                            
                                                <th>Ciclo</th>                            
                                                <th>Grado</th>
                                                <th>Aprobados</th>  
                                                <th>Departamento</th>  
                                                <th>Provincia</th>
                                                <th>Municipio</th>
                                                <th>localidad</th>
                                                <th>Usuario Curso</th>
                                                <th>Cerrar Curso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for fila in totales %}
                                                {% if fila.esactivo != 1 %} {% set op=0 %} {% else %} {% set op=1 %} {% endif %}
                                                <tr>
                                                   <td>{{ fila.id }}</td>
                                                   <td>
                                                        <a role="button" class="btn rounded btn-primary btn-xs glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_consolidado', { 'id_enc': fila.id_enc~"|"~fila.ciclo_tipo_id~"|"~fila.grado_tipo_id}) }}" title="Impimir Consolidado"></a>
                                                        <a role="button" class="btn rounded btn-success btn-xs glyphicon glyphicon-arrow-right" href="{{ path('sie_pnp_curso_listado_editnew', { 'id': fila.id_enc,'val':0 }) }}" title="Ingresar Curso" ></a>
                                                        {% if fila.esactivo != 1 %}
                                                            <a role="button" class="glyphicon glyphicon-edit btn btn-info btn-xs rounded" href="#" onclick="ver_fecha_fin({{ fila.id }},'{{ fila.fecha_fin|date("d/m/Y") }}','{{ fila.fecha_inicio|date("d/m/Y") }}','{{ fila.plan }}','{{ fila.ciclo_tipo_id}}','{{ fila.grado_tipo_id }}','{{fila.depto}}','{{fila.depto_id}}','{{fila.provincia_id}}','{{fila.lugar_id}}','{{fila.localidad}}');" title="Editar Datos"></a>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ fila.carnet }}{% if fila.complemento != '' %}-{{fila.complemento}}{% endif %}</td>
                                                    <td>{{ fila.nombre }}</td>        
                                                    <td>{{ fila.paterno }}</td>
                                                    <td>{{ fila.materno }}</td> 
                                                    <td>{{ fila.fecha_inicio|date('d-m-Y') }}</td>
                                                    <td>{{ fila.fecha_fin|date('d-m-Y') }}</td>
                                                    <td>{% if fila.plan == 1 %}Bloque: {% endif %}{{ fila.nciclo }}</td>
                                                    <td>{% if fila.plan == 1 %}Parte: {{ fila.ngrado }}{% else %} {% if fila.grado_tipo_id == 14 or fila.grado_tipo_id == 16 %} Semestre 1 {% else %} Semestre 2 {% endif %}{% endif %}</td>
                                                    <td>{{ fila.est_aprob }}</td>
                                                    <td>{{ fila.depto }}</td>
                                                    <td>{{ fila.provincia }}</td>
                                                    <td>{{ fila.lugar }}</td>
                                                    <td>{{ fila.localidad }}</td>
                                                    <td>{{ fila.usu_a }}</td>
                                                    {% if fila.esactivo != 1 %}
                                                    <td><a role="button" class="btn rounded btn-warning btn-xs" href="{{ path('sie_pnp_listar_archivos_editnew', { 'id': fila.id_enc }) }}" onclick="return confirm('Está seguro de CERRAR EL CURSO?, si cierra el curso POR TEMAS DE SEGURIDAD SE GUARDARÁ SU NOMBRE, ya no tendrá las opciones de editar; Pero podrá imprimir el PDF original para sus firmas respectivas. No olvide que 10 estudiantes mínimo para áreas concentradas y 8 para desconcentradas.');" > Cerrar Curso</a></td>
                                                    {% else %}
                                                        <td>{{ fila.usu_c }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if ('8' == app.session.get('roluser')) or ('21' == app.session.get('roluser')) %}
                    <div class="panel panel-icon panel-primary">
                        <div class="panel-heading">
                            Reporte de cursos
                        </div>
                        <div class="panel-body">
                            <div id="pinformation" class="panel-collapse collapse in">
                                <div class="portlet-body" align="center">
                                    <div class="row">
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':80730794 }) }}" > La Paz</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':81230297 }) }}" > Oruro</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':81480201 }) }}" > Potosí</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':80980569 }) }}" > Cochabamba</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':80480300 }) }}" > Chuquisaca</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':81730264 }) }}" > Tarija</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':81981501 }) }}" > Santa Cruz</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':82230130 }) }}" > Beni</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ path('sie_pnp_listar_dep', {'val':82480050 }) }}" > Pando</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                   <div class="panel panel-icon panel-primary">
                        <div class="panel-heading">
                           Reporte de Cursos Abiertos y Cerrados
                        </div>
                        <div class="panel-body">
                            <table id="" align="center" class="display" cellspacing="0" width="70%">    
                                <tbody>                                           
                                <tr align="center">                                        
                                    <td><strong>Gestión</strong></td>
                                    <td><strong>Cursos Abiertos</strong></td>
                                    <td><strong>Cursos Cerrados</strong></td>
                                    <td><strong>Total</strong></td>
                                </tr>
                                    {% for d_c in reporte_c %}
                                        <tr align="center">
                                            {% if d_c.gestion == "Total" %}
                                                <td><strong>{{ d_c.gestion }}</strong></td> 
                                                <td><strong>{{ d_c.abierto }}</strong></td>
                                                <td><strong>{{ d_c.cerrado }}</strong></td> 
                                                <td><strong>{{ d_c.total_c }}</strong></td>
                                            {% else %}
                                                <td>{{ d_c.gestion }}</td>                            
                                                <td>{{ d_c.abierto }}</td>
                                                <td>{{ d_c.cerrado }}</td> 
                                                <td>{{ d_c.total_c }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                    <div class="panel panel-icon panel-primary">
                        <div class="panel-heading">
                           Reporte de Cursos Abiertos por Departamento
                        </div>
                        <div class="panel-body">
                            <h5> CA: Cursos Abiertos CC: Cursos Cerrados.</h5>
                            <table id="" align="center" border="1" class="display" cellspacing="0" width="100%">    
                                <tbody>                                           
                                <tr align="center">                                        
                                    <td rowspan="2"><strong>Gestión</strong></td>
                                    <td colspan="2"><strong>La Paz</strong></td>
                                    <td colspan="2"><strong>Oruro</strong></td>
                                    <td colspan="2"><strong>Potosí</strong></td>
                                    <td colspan="2"><strong>Cochabamba</strong></td>
                                    <td colspan="2"><strong>Chuquisaca</strong></td>
                                    <td colspan="2"><strong>Tarija</strong></td>
                                    <td colspan="2"><strong>Santa Cruz</strong></td>
                                    <td colspan="2"><strong>Beni</strong></td>
                                    <td colspan="2"><strong>Pando</strong></td>
                                </tr>
                                <tr align="center">
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                    <td><strong>CA</strong></td>
                                    <td><strong>CC</strong></td>
                                </tr>
                                {% for r_d in reporte_departamento %}
                                    <tr>
                                        <td align="center">{{ r_d.gestion}}</td>
                                        <td align="center" {% if r_d.lpz_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.lpz_a }}</td>
                                        <td align="center" {% if r_d.lpz_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.lpz_c }}</td>
                                        <td align="center" {% if r_d.oru_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.oru_a }}</td>
                                        <td align="center" {% if r_d.oru_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.oru_c }}</td>
                                        <td align="center" {% if r_d.pts_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.pts_a }}</td>
                                        <td align="center" {% if r_d.pts_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.pts_c }}</td>
                                        <td align="center" {% if r_d.coc_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.coc_a }}</td>
                                        <td align="center" {% if r_d.coc_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.coc_c }}</td>
                                        <td align="center" {% if r_d.chu_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.chu_a }}</td>
                                        <td align="center" {% if r_d.chu_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.chu_c }}</td>
                                        <td align="center" {% if r_d.tar_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.tar_a }}</td>
                                        <td align="center" {% if r_d.tar_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.tar_c }}</td>
                                        <td align="center" {% if r_d.stz_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.stz_a }}</td>
                                        <td align="center" {% if r_d.stz_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.stz_c }}</td>
                                        <td align="center" {% if r_d.ben_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.ben_a }}</td>
                                        <td align="center" {% if r_d.ben_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.ben_c }}</td>
                                        <td align="center" {% if r_d.pan_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.pan_a }}</td>
                                        <td align="center" {% if r_d.pan_a != 0 %} bgcolor="#F69A9A" {% endif %}>{{ r_d.pan_c }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>   
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

 (function(){
    new Clipboard('#copy-button');
})();
</script>
    <script type="text/javascript">
      $("#form_provincia").change(function(){                            
            var iddep = $(this).val();            
            var route = Routing.generate('sie_pnp_buscar_provincia', { ieid: iddep });                    
            var data;
            $.ajax({
                type: 'get',     
                url: route,
                data: data,
                success: function(data) {                        
                        datos = $.parseJSON(data);
                        $("#form_municipio").html('');                       
                        var $province_selector = $('#form_municipio');
                        $province_selector.html('<option value="">Municipio</option>');
                        for (var i=0, total = datos.length; i < total; i++) {
                            $province_selector.append('<option value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        }
                        $('#form_municipio').trigger("chosen:updated");
                    }
                });            
            });
    var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

    var currentLang = espanol;    
        
    $(document).ready(function() {
        $("#fecha_fin").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
        $("#fecha_inicio").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
      
        var dtable = $('#tablaTotales').dataTable( {"oLanguage": espanol,"lengthMenu": [ [10, 50, 100, 1000, -1], [10, 50, 100, 1000, "Todos"] ]} );
        
        $('#tablaTotales tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        {#$('#btn').click(function(){
            dtable.fnDestroy();
            dtable = null;
            currentLang = (currentLang == english) ? espanol : english;
            dtable = $('#tablaTotales').dataTable( {"oLanguage": currentLang} );
        });#}
        
    });
    function ver_fecha_fin(id,fecha_fin,fecha_inicio,plan,ciclo_tipo_id,grado_tipo_id,depto,depto_id,provincia_id,lugar_id,localidad){//ctv
         $('#Modal_fecha').modal('show');
         $('#localidad').val(localidad);
         $('#curso_id').val(id);
         $('#fecha_fin').val(fecha_fin);
         $('#fecha_inicio_ant').val(fecha_inicio);
         $('#fecha_inicio').val(fecha_inicio);
         $('#plan').val(plan);
         $('#ciclo_tipo_id').val(ciclo_tipo_id);
         $('#grado_tipo_id').val(grado_tipo_id);
         $('#form_departamento').val(depto);
         $('#form_provincia').html("<option>Seleccionar</option>");
          var route = Routing.generate('sie_pnp_buscar_provincia', { ieid: depto_id });                    
            var data;
            $.ajax({
                type: 'get',     
                url: route,
                data: data,
                success: function(data) {                        
                        datos = $.parseJSON(data);
                        $("#form_provincia").empty();                       
                        var $province_selector = $('#form_provincia');

                        $province_selector.html('<option value="">Provincia</option>');
                        for (var i=0, total = datos.length; i < total; i++) {
                            if(datos[i].id==provincia_id)
                                $province_selector.append('<option selected value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                            else
                                $province_selector.append('<option value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        }
                        $('#form_provincia').trigger("chosen:updated");
                        $('#form_municipio').html("<option>Municipio</option>");
                    }
                });
            var route = Routing.generate('sie_pnp_buscar_provincia', { ieid: provincia_id });                    
            var data;
            $.ajax({
                type: 'get',     
                url: route,
                data: data,
                success: function(data) {                        
                        datos = $.parseJSON(data);
                        $("#form_municipio").html('');                       
                        var $province_selector = $('#form_municipio');
                        $province_selector.html('<option value="">Municipio</option>');
                        for (var i=0, total = datos.length; i < total; i++) {
                            if(datos[i].id==lugar_id)
                                $province_selector.append('<option selected value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        else
                            $province_selector.append('<option value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        }
                        $('#form_municipio').trigger("chosen:updated");
                    }
                });                  
    }

    function validar_fecha(){
        var f1 = document.getElementById("fecha_inicio").value;
        var f1a = document.getElementById("fecha_inicio_ant").value;
        var f2 = document.getElementById("fecha_fin").value;
        var plan = document.getElementById("plan").value;
        var b = document.getElementById("ciclo_tipo_id").value;
        var p = document.getElementById("grado_tipo_id").value;
        var roluser = document.getElementById("roluser").value;
        var aFecha1 = f1.split('/'); 
        var aFecha2 = f2.split('/'); 
        var aFecha1a = f1a.split('/'); 
        
        if(aFecha1[2] < aFecha1a[2] && roluser != 8){
            alert("Error, Fecha inicial nueva no puede ser de gestión menor que la anterior fecha.");
            return false;
        }
        var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]); 
        var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]); 
        var dif = fFecha2 - fFecha1;
        var dias = Math.floor(dif / (1000 * 60 * 60 * 24));

        //Contar dias entre fechas fecha inicial y fecha actual
        var aFecha1a = f1.split('/'); 
        var fecha_actual = moment().format("DD/MM/YYYY"); //fecha actual
        var aFecha2a = fecha_actual.split('/'); 
        var fFecha1a = Date.UTC(aFecha1a[2],aFecha1a[1]-1,aFecha1a[0]);
        var fFecha2a = Date.UTC(aFecha2a[2],aFecha2a[1]-1,aFecha2a[0]); 
        var difa = fFecha1a - fFecha2a;
        var dias_a = Math.floor(difa / (1000 * 60 * 60 * 24));
        
        //FECHAS EN LOS PLANES SACAR LA GESTIÓN
        var array_fechasol = f1.split("/");
        var anio = parseInt(array_fechasol[2]);

        //--VER Q GRADO TIENE PARA CONOCER LA GESTION 
        //PLAN ANTIGUO B1P1 MAX 2017, B1P2, B2P1 MAX 2018,B2P2 MAX 2019
        var gpa=0;//grado plan antiguo
        if(b==1 && p==1)gpa=1;if(b==1 && p==2)gpa=2;if(b==2 && p==1)gpa=3;if(b==2 && p==2)gpa=4;
        //plan 1
        if (plan == 1){
            if(gpa==1 && (anio > 2017 || anio < 2009)){
                alert("Error!!!. Bloque 1 Parte 1: La gestión de la fecha inicial debe estar entre 2009-2017");
                return false;
            }
            if((gpa==2 || gpa==3) && (anio > 2018 || anio < 2009)){
                alert("Error!!!. Bloque 1 (Parte 1 o Parte 2) : La gestión de la fecha inicial debe estar entre 2009-2018");
                return false;
            }
            if(gpa==4 && (anio > 2019 || anio < 2009)){
                alert("Error!!!. Bloque 2 Parte 2: La gestión de la fecha inicial debe estar entre 2010-2019");
                return false;
            }
        }
        else{//plan 2 nuevo 20018 pero no antes q hoy
            if(anio < 2018 || dias_a > 0){
                alert("Error!!!. La gestión de la fecha inicial debe ser mínimo 2018 y no mayor a la fecha de hoy");
                return false;   
            }
        }
        //CANTIDAD DE DIAS EN LOS PLANES
        if(plan==1){
            if(dias>=90 && dias<=240){
                return true;
            }
            else{
                if((anio<=2015 && roluser == 21)||(roluser == 8))
                    return true;
                else {
                alert("La fecha final debe ser mínimo 90 días mayor que la fecha inicial pero no mayor a 240 días (3 meses a 8 meses)");
                return false;
                }
            }    
        }
        else{//PLAN NUEVO
            if(dias>=140 && dias<=200){
                return true;
            }
            else{
                alert("La fecha final debe ser mínimo 140 días mayor que la fecha inicial pero no mayor a 200 días (5 meses a 6 meses)");
                return false;
            }
        }
    }
    
    </script>
{% endblock %}