{% extends 'layoutPnp.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1 class="glyphicon glyphicon-list"> VER CURSOS</h1>
                <ol class="breadcrumb">
                    <li>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div style="width: 100%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert" id="result" style="display: none;">
                    <strong>¡Advertencia!</strong> <input type="text" id="errorxls" class="form-control input-sm" readonly='true'>
                </div>
            </div>
        </div>
          {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Bien!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Advertencia!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

        <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Lista de Archivo RUP-4 (Gestión de fecha fin del curso)</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation0"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="pinformation0" class="panel-collapse collapse in">
                    <div class="portlet-body" align="center">
                        <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li><a href="{{ path('sie_pnp_listar_archivos_editnew')}}" >Cursos Abiertos</a></li>
                        {% for i in gestion_ini_t..gestion_fin_t %}
                            <li {% if(gestion == i) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':i})}}" >{{i}}</a></li>
                        {% endfor %}
                        {#}
                        <li {% if(gestion == 2009) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2009})}}" >2009</a></li>
                        <li {% if(gestion == 2010) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2010})}}" >2010</a></li>
                        <li {% if(gestion == 2011) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2011})}}" >2011</a></li>
                        <li {% if(gestion == 2012) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2012})}}" >2012</a></li>  
                        <li {% if(gestion == 2013) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2013})}}" >2013</a></li>
                        <li {% if(gestion == 2014) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2014})}}" >2014</a></li>
                        <li {% if(gestion == 2015) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2015})}}" >2015</a></li>
                        <li {% if(gestion == 2016) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2016})}}" >2016</a></li>
                        <li {% if(gestion == 2017) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2017})}}" >2017</a></li>  
                        <li {% if(gestion == 2018) %} class="active" {% endif %}><a href="{{ path('sie_pnp_listar_archivos_editnew',{'gestion':2018})}}" >2018</a></li>
                        {#}
                    </ul>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    
    {% if (totales) %}
         <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-blue">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4>Lista de Cursos con fecha fin {{ gestion }}</h4>
                        </div>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="pinformation" class="panel-collapse collapse in">
                        <div class="portlet-body" align="center">
                            <div class="row">
                                {% if (totales) %}
                                    <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                                        <table id="tablaTotales" class="display" cellspacing="0" width="100%">    
                                            <thead>
                                                <tr>
                                                    <th>Id del Curso</th>
                                                    <th>Consolidado</th>
                                                    <th>Participantes (Regsitrar)</th>
                                                    <th>Carnet</th>
                                                    <th>Nombre</th>
                                                    <th>Paterno</th>
                                                    <th>Materno</th>                            
                                                    <th>Fecha Inicio</th>                            
                                                    <th>Fecha Fin</th>                            
                                                    <th>Ciclo</th>                            
                                                    <th>Grado</th>
                                                    <th>Participantes Aprob.</th>  
                                                    <th>Departamento</th>  
                                                    <th>Provincia</th>
                                                    <th>Municipio</th>
                                                    <th>localidad</th>
                                                    <th>Editar Fechas</th>
                                                    <th>Usuario Curso</th>
                                                    <th>Cerrar Curso</th>
                                                </tr>
                                             </thead>
                                            <tbody>
                                                {% for fila in totales %}
                                                    {% if fila.esactivo != 1 %} {% set op=0 %} {% else %} {% set op=1 %} {% endif %}
                                                    <tr>
                                                       <td>{{ fila.id }}</td>
                                                       <td><a role="button" class="btn btn-primary btn-xs glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_consolidado', { 'id': fila.id~"|"~fila.ciclo_tipo_id~"|"~fila.grado_tipo_id,'esactivo':op}) }}" > Imprimir Consolidado</a></td>
                                                        <td><a role="button" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="{{ path('sie_pnp_curso_listado_editnew', { 'id': fila.id,'val':0 }) }}" > Ver participantes</a></td>
                                                        <td>{{ fila.carnet }}{% if fila.complemento != '' %}-{{fila.complemento}}{% endif %}</td>
                                                        <td>{{ fila.nombre }}</td>        
                                                        <td>{{ fila.paterno }}</td>
                                                        <td>{{ fila.materno }}</td> 
                                                        <td>{{ fila.fecha_inicio|date('d-m-Y') }}</td>
                                                        <td>{{ fila.fecha_fin|date('d-m-Y') }}</td>
                                                        <td>{% if fila.plan == 1 %}Bloque: {% endif %}{{ fila.nciclo }}</td>
                                                        <td>{% if fila.plan == 1 %}Parte: {{ fila.ngrado }}{% else %} {% if fila.grado_tipo_id == 14 or fila.grado_tipo_id == 16 %} Semestre 1 {% else %} Semestre 2 {% endif %}{% endif %}</td>
                                                        <td>{{ fila.est_aprob }}</td>
                                                        <td>{{ fila.depto }}</td>
                                                        <td>{{ fila.provincia }}</td>
                                                        <td>{{ fila.lugar }}</td>
                                                        <td>{{ fila.localidad }}</td>
                                                        {% if fila.esactivo != 1 %}
                                                            <td><a role="button" class="btn btn-info btn-xs" href="#" onclick="ver_fecha_fin({{ fila.id }},'{{ fila.fecha_fin|date("d/m/Y") }}','{{ fila.fecha_inicio|date("d/m/Y") }}','{{ fila.plan }}','{{ fila.ciclo_tipo_id}}','{{ fila.grado_tipo_id }}');" > Editar Fecha</a></td>
                                                        {% else %}
                                                            <td>Finalizado</td>
                                                        {% endif %}
                                                        <td>{{ fila.usu_a }}</td>
                                                        {% if fila.esactivo != 1 %}
                                                        <td><a role="button" class="btn btn-warning btn-xs" href="{{ path('sie_pnp_listar_archivos_editnew', { 'id': fila.id }) }}" onclick="return confirm('Está seguro de CERRAR EL CURSO?, si cierra el curso POR TEMAS DE SEGURIDAD SE GUARDARÁ SU NOMBRE, ya no tendrá las opciones de editar; Pero podrá imprimir el PDF original para sus firmas respectivas. No olvide que 10 estudiantes mínimo para áreas concentradas y 8 para desconcentradas.');" > Cerrar Curso</a></td>
                                                        {% else %}
                                                            <td>Cerrado por {{ fila.usu_c }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-flex fade" id="Modal_fecha" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="flexModalLabel">EDITAR CURSO (FECHAS).</h4>             
                </div>
                <div class="modal-body">
                    <div id="editar-Modal">
                        <form role="form" method="post" action="{{path('sie_pnp_listar_archivos_editnew')}}">
                            <div align="center">
                            <input type="text" id="curso_id" name="curso_id" value="" required="required" style="display:none" />
                            <input type="text" id="plan" name="plan" value="" required="required" style="display:none" />
                            <input type="text" id="ciclo_tipo_id" name="ciclo_tipo_id" value="" required="required" style="display:none" />
                            <input type="text" id="grado_tipo_id" name="grado_tipo_id" value="" required="required" style="display:none" />
                            Fecha Inicio:
                            <input type="text" id="fecha_inicio" name="fecha_inicio" placeholder="Digite Fecha Inicio" required="required" value=""/>&nbsp;&nbsp;<br>
                            Fecha Fin:
                            <input type="text" id="fecha_fin" name="fecha_fin" placeholder="Digite Fecha Final" required="required" value=""/>
                            <br><br>
                            <button type="submit" class="btn btn-success btn-large glyphicon glyphicon-pencil" onclick="return validar_fecha()"> Guardar Cambios</button>
                        </form>
                    </div>
                </div>
                <div class="editar-pie">
                    <HR>
                </div>                    
            </div>                
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-blue">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4>Reporte de Cursos Abiertos y Cerrados</h4>
                        </div>
                        <div class="portlet-widgets">
                            <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#pinformation"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="pinformation" class="panel-collapse collapse in">
                        <div class="portlet-body" align="center">
                            <div class="row">
                                <table id="" align="center" class="display" cellspacing="0" width="70%">    
                                    <tbody>                                           
                                    <tr align="center">                                        
                                        <td><strong>Gestión</strong></td>
                                        <td><strong>Cursos Abiertos</strong></td>
                                        <td><strong>Cursos Cerrados</strong></td>
                                        <td><strong>Total</strong></td>
                                    </tr>
                                        {% for d_c in reporte_c %}
                                            <tr align="center">
                                                {% if d_c.gestion == "Total" %}
                                                    <td><strong>{{ d_c.gestion }}</strong></td> 
                                                    <td><strong>{{ d_c.abierto }}</strong></td>
                                                    <td><strong>{{ d_c.cerrado }}</strong></td> 
                                                    <td><strong>{{ d_c.total_c }}</strong></td>
                                                {% else %}
                                                    <td>{{ d_c.gestion }}</td>                            
                                                    <td>{{ d_c.abierto }}</td>
                                                    <td>{{ d_c.cerrado }}</td> 
                                                    <td>{{ d_c.total_c }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

    var currentLang = espanol;    
        
    $(document).ready(function() {
        $("#fecha_fin").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
        $("#fecha_inicio").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
        var dtable = $('#tablaTotales').dataTable( {"oLanguage": espanol,
         'dom': 'lBfrtip <"clear">',
        'buttons': [
             {   
                extend: 'colvis',
                text:'Visibilizar Columnas'
            },
            {
                extend: 'print',
                text: 'Imprimir',
                autoPrint: true,
                title: 'PNP - LISTA DE ARCHIVOS SUBIDOS RUP - 4',
                header:true,
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend:'pdf',
                title: 'PNP - LISTA DE ARCHIVOS SUBIDOS RUP - 4',
                filename:'Lista de archivos subidos RUP-4',
                orientation:'landscape',
                exportOptions: {
                modifier: {
                    page: 'Lista de archivos subidos RUP-4'
                    }
                }
            },
            {
            extend: 'excel',
            text: 'Excel',
            filename:'Lista de archivos subidos RUP-4',
            exportOptions: {
                modifier: {
                    page: 'Lista de archivos subidos RUP-4'
                    }
                }
            },
        ]} );
        
        $('#tablaTotales tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        {#$('#btn').click(function(){
            dtable.fnDestroy();
            dtable = null;
            currentLang = (currentLang == english) ? espanol : english;
            dtable = $('#tablaTotales').dataTable( {"oLanguage": currentLang} );
        });#}
        
    });
    function ver_fecha_fin(id,fecha_fin,fecha_inicio,plan,ciclo_tipo_id,grado_tipo_id){
         $('#Modal_fecha').modal('show');
         $('#curso_id').val(id);
         $('#fecha_fin').val(fecha_fin);
         $('#fecha_inicio').val(fecha_inicio);
         $('#plan').val(plan);
         $('#ciclo_tipo_id').val(ciclo_tipo_id);
         $('#grado_tipo_id').val(grado_tipo_id);
    }

    function validar_fecha(){
        var f1 = document.getElementById("fecha_inicio").value;
        var f2 = document.getElementById("fecha_fin").value;
        var plan = document.getElementById("plan").value;
        var b = document.getElementById("ciclo_tipo_id").value;
        var p = document.getElementById("grado_tipo_id").value;
        var aFecha1 = f1.split('/'); 
        var aFecha2 = f2.split('/'); 
        var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]); 
        var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]); 
        var dif = fFecha2 - fFecha1;
        var dias = Math.floor(dif / (1000 * 60 * 60 * 24));

        //Contar dias entre fechas fecha inicial y fecha actual
        var aFecha1a = f1.split('/'); 
        var fecha_actual = moment().format("DD/MM/YYYY"); //fecha actual
        var aFecha2a = fecha_actual.split('/'); 
        var fFecha1a = Date.UTC(aFecha1a[2],aFecha1a[1]-1,aFecha1a[0]);
        var fFecha2a = Date.UTC(aFecha2a[2],aFecha2a[1]-1,aFecha2a[0]); 
        var difa = fFecha1a - fFecha2a;
        var dias_a = Math.floor(difa / (1000 * 60 * 60 * 24));
        
        //FECHAS EN LOS PLANES SACAR LA GESTIÓN
        var array_fechasol = f1.split("/");
        var anio = parseInt(array_fechasol[2]);

        //--VER Q GRADO TIENE PARA CONOCER LA GESTION 
        //PLAN ANTIGUO B1P1 MAX 2017, B1P2, B2P1 MAX 2018,B2P2 MAX 2019
        var gpa=0;//grado plan antiguo
        if(b==1 && p==1)gpa=1;if(b==1 && p==2)gpa=2;if(b==2 && p==1)gpa=3;if(b==2 && p==2)gpa=4;
        //plan 1
        if (plan == 1){
            if(gpa==1 && (anio > 2017 || anio < 2009)){
                alert("Error!!!. Bloque 1 Parte 1: La gestión de la fecha inicial debe estar entre 2009-2017");
                return false;
            }
            if((gpa==2 || gpa==3) && (anio > 2018 || anio < 2009)){
                alert("Error!!!. Bloque 1 (Parte 1 o Parte 2) : La gestión de la fecha inicial debe estar entre 2009-2018");
                return false;
            }
            if(gpa==4 && (anio > 2019 || anio < 2009)){
                alert("Error!!!. Bloque 2 Parte 2: La gestión de la fecha inicial debe estar entre 2010-2019");
                return false;
            }
        }
        else{//plan 2 nuevo 20018 pero no antes q hoy
            if(anio < 2018 || dias_a > 0){
                alert("Error!!!. La gestión de la fecha inicial debe ser mínimo 2018 y no mayor a la fecha de hoy");
                return false;   
            }
        }
        //CANTIDAD DE DIAS EN LOS PLANES
        if(plan==1){
            if(dias>=90 && dias<=240){
                return true;
            }
            else{
                if((anio<=2015 && roluser == 21)||(roluser == 8))
                    return true;
                else {
                alert("La fecha final debe ser mínimo 90 días mayor que la fecha inicial pero no mayor a 240 días (3 meses a 8 meses)");
                return false;
                }
            }    
        }
        else{//PLAN NUEVO
            if(dias>=140 && dias<=180){
                return true;
            }
            else{
                alert("La fecha final debe ser mínimo 140 días mayor que la fecha inicial pero no mayor a 180 días (5 meses a 6 meses)");
                return false;
            }
        }
    }
    
    </script>
{% endblock %}