<p>  
    {% if opcion == 1 %}
        <form action="{{ path('sie_pnp_registrar_estudiante_curso',{'rude':filas.id,'curso_id':curso_id,'tipo':1}) }}" method="POST">
    {% else %}
        <form action="{{ path('sie_pnp_registrar_estudiante_curso',{'rude':filas.rude,'curso_id':curso_id,'tipo':2}) }}" method="POST">
    {% endif %}    
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>ESTUDIANTE A REGISTRAR EN EL CURSO.</h4>
    </div>
    <div class="panel-body">
        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
            <table id="tablaListadoPersonas" class="display" border="0" cellspacing="0" width="100%">    
                    <tr>
                        <td align="center"><strong>Paterno</strong></td>
                        <td align="center"><strong>Materno</strong></td>
                        <td align="center"><strong>Nombre</strong></td>
                    </tr>             
                    <tr>
                        <td align="center">{{ filas.paterno }}</td>
                        <td align="center">{{ filas.materno }}</td>
                        <td align="center">{{ filas.nombre }}</td>
                    </tr>                
                    <tr>
                        <td align="center"><br/><strong>Fecha Nac.</strong></td>
                        <td align="center"><br/><strong>C.I.</strong></td>
                        <td align="center"><br/><strong>Codigo Rude</strong></td>
                    </tr>
                    <tr>
                        <td align="center">{{ filas.fecha_nac|date("d-m-Y") }}</td>
                        <td align="center">{{ filas.ci }}{% if filas.complemento != '' %}-{{filas.complemento}}{% endif %}</td>
                        <td align="center">{{ filas.rude }}</td>
                    </tr>
                    <input type="hidden" value="{{ plan }}" name="plan">
                    {% if plan == 1 %}
                        <tr>
                            <td align="center"><br/><strong>Alfabetizado</strong></td>
                            <td align="center"><br/><strong>Idioma</strong></td>
                            <td align="center"><br/><strong>Ocupación</strong></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <select name="alfabetizado" class="form-control">
                                    <option value="SI"{% if filas.alfabetizado == "SI" %} selected="selected" {% endif %}>Si</option>
                                    <option value="NO"{% if filas.alfabetizado == "NO" %} selected="selected" {% endif %}>NO</option>
                                </select>
                            </td>
                            <td align="center">
                                <select name="idioma" class="form-control">
                                    <option {% if filas.idioma == "CASTELLANO" %} selected {% endif %} value="CASTELLANO">CASTELLANO</option>
                                    <option {% if filas.idioma == "ATAONA" %} selected {% endif %} value="ATAONA">ATAONA</option>
                                    <option {% if filas.idioma == "AIMARA" %} selected {% endif %} value="AIMARA">AIMARA</option>
                                    <option {% if filas.idioma == "AYOREO" %} selected {% endif %} value="AYOREO">AYOREO</option>
                                    <option {% if filas.idioma == "BAURE" %} selected {% endif %} value="BAURE">BAURE</option>
                                    <option {% if filas.idioma == "CAVINEÑO" %} selected {% endif %} value="CAVINEÑO">CAVINEÑO</option>
                                    <option {% if filas.idioma == "CANICHANA" %} selected {% endif %} value="CANICHANA">CANICHANA</option>
                                    <option {% if filas.idioma == "CAYUBABA" %} selected {% endif %} value="CAYUBABA">CAYUBABA</option>
                                    <option {% if filas.idioma == "CHÁCOBO" %} selected {% endif %} value="CHÁCOBO">CHÁCOBO</option>
                                    <option {% if filas.idioma == "CHIMAN" %} selected {% endif %} value="CHIMAN">CHIMAN</option>
                                    <option {% if filas.idioma == "CHIQUITANO" %} selected {% endif %} value="CHIQUITANO">CHIQUITANO</option>
                                    <option {% if filas.idioma == "SSE EJJA" %} selected {% endif %} value="ESSE EJJA">ESSE EJJA</option>
                                    <option {% if filas.idioma == "GUARANI" %} selected {% endif %} value="GUARANI">GUARANI</option>
                                    <option {% if filas.idioma == "GUARAYA" %} selected {% endif %} value="GUARAYA">GUARAYA</option>
                                    <option {% if filas.idioma == "ITONOMA" %} selected {% endif %} value="ITONOMA">ITONOMA</option>
                                    <option {% if filas.idioma == "JOAQUINIANO" %} selected {% endif %} value="JOAQUINIANO">JOAQUINIANO</option>
                                    <option {% if filas.idioma == "LECO" %} selected {% endif %} value="LECO">LECO</option>
                                    <option {% if filas.idioma == "MACHINERI" %} selected {% endif %} value="MACHINERI">MACHINERI</option>
                                    <option {% if filas.idioma == "MORÉ" %} selected {% endif %} value="MORÉ">MORÉ</option>
                                    <option {% if filas.idioma == "MOSETÉN" %} selected {% endif %} value="MOSETÉN">MOSETÉN</option>
                                    <option {% if filas.idioma == "MOVIMA" %} selected {% endif %} value="MOVIMA">MOVIMA</option>
                                    <option {% if filas.idioma == "MOXEÑO" %} selected {% endif %} value="MOXEÑO">MOXEÑO</option>
                                    <option {% if filas.idioma == "NAHUA" %} selected {% endif %} value="NAHUA">NAHUA</option>
                                    <option {% if filas.idioma == "PACAHUARA" %} selected {% endif %} value="PACAHUARA">PACAHUARA</option>
                                    <option {% if filas.idioma == "PAICONECA" %} selected {% endif %} value="PAICONECA">PAICONECA</option>
                                    <option {% if filas.idioma == "QUECHUA" %} selected {% endif %} value="QUECHUA">QUECHUA</option>
                                    <option {% if filas.idioma == "SIRIONO" %} selected {% endif %} value="SIRIONO">SIRIONO</option>
                                    <option {% if filas.idioma == "TACANA" %} selected {% endif %} value="TACANA">TACANA</option>
                                    <option {% if filas.idioma == "TAPIETE" %} selected {% endif %} value="TAPIETE">TAPIETE</option>
                                    <option {% if filas.idioma == "TORONOMA" %} selected {% endif %} value="TORONOMA">TORONOMA</option>
                                    <option {% if filas.idioma == "URU" %} selected {% endif %} value="URU">URU</option>
                                    <option {% if filas.idioma == "WEENHAYEK" %} selected {% endif %} value="WEENHAYEK">WEENHAYEK</option>
                                    <option {% if filas.idioma == "YUMINAHUA" %} selected {% endif %} value="YUMINAHUA">YUMINAHUA</option>
                                    <option {% if filas.idioma == "YUKI" %} selected {% endif %} value="YUKI">YUKI</option>
                                    <option {% if filas.idioma == "YURACARÉ" %} selected {% endif %} value="YURACARÉ">YURACARÉ</option>
                                    <option {% if filas.idioma == "NO ORIGINARIO" %} selected {% endif %} value="NO ORIGINARIO">NO ORIGINARIO</option>
                                    <option {% if filas.idioma == "AFRO BOLIVIANO" %} selected {% endif %} value="AFRO BOLIVIANO">AFRO BOLIVIANO</option>
                                </select>
                            </td>
                            <td align="center">
                                <select name="ocupacion" class="form-control">
                                    <option {% if filas.ocupacion == "AMA DE CASA" %} selected {% endif %} value="AMA DE CASA">AMA DE CASA</option>
                                    <option {% if filas.ocupacion == "AGRICULTOR" %} selected {% endif %} value="AGRICULTOR">AGRICULTOR</option>
                                    <option {% if filas.ocupacion == "MINERO" %} selected {% endif %} value="MINERO">MINERO</option>
                                    <option {% if filas.ocupacion == "CHOFER" %} selected {% endif %} value="CHOFER">CHOFER</option>
                                    <option {% if filas.ocupacion == "CARPINTERO" %} selected {% endif %} value="CARPINTERO">CARPINTERO</option>
                                    <option {% if filas.ocupacion == "ZAPATERO" %} selected {% endif %} value="ZAPATERO">ZAPATERO</option>
                                    <option {% if filas.ocupacion == "CHOFER" %} selected {% endif %} value="CHOFER">CHOFER</option>
                                    <option {% if filas.ocupacion == "COMERCIANTE" %} selected {% endif %} value="COMERCIANTE">COMERCIANTE</option>
                                    <option {% if filas.ocupacion == "PANADERO" %} selected {% endif %} value="PANADERO">PANADERO</option>
                                    <option {% if filas.ocupacion == "AVICULTOR" %} selected {% endif %} value="AVICULTOR">AVICULTOR</option>
                                    <option {% if filas.ocupacion == "PELUQUERO" %} selected {% endif %} value="PELUQUERO">PELUQUERO</option>
                                    <option {% if filas.ocupacion == "OTRO" %} selected {% endif %} value="OTRO">OTRO</option>
                                </select>
                            </td>
                        </tr>
                    {% endif %}           
            </table>
        </div>
    </div>

</div>
{% set fecha_nac = filas.fecha_nac|date("Y") %}{% set edad = gestion_ini - fecha_nac + 1 %}
{% if edad >= 15 or (app.session.get('roluser') == '8') %}
    <div align="center"><input type="submit" onclick="cambio()" id="boton" value="Guardar Estudiante" class="btn btn-success btn-large"></div>
{% else %}
    <div class="col-xs-12"><h4>!Alerta!. Estudiante menor a 15 años</h4></div>
{% endif %}
 </form> 
 <script type="text/javascript">
    function cambio(){
        document.getElementById("boton").style.visibility = 'hidden';
    }
</script>
{#<!--<div class="row"
    <div class="col-xs-12">
        <a role="button" class="btn btn-success btn-large glyphicon glyphicon-ok" href="{{ path('sie_pnp_registrar_estudiante_curso', { 'rude': filas.id,'curso_id':curso_id,'tipo':1 }) }}"> Registrar estudiante</a>
    </div>
</div>#}