<div class="panel panel-icon panel-primary">
    <div class="panel-heading">
        Datos del Facilitador
    </div>
    <div class="panel-body">
        <div class="row" align="center">
            <div class="form-group col-lg-4 col-md-6" align="center">
               <h4>Nombre(s): <small>{{ persona.nombre }}</small></h4>
            </div>
            <div class="form-group col-lg-4 col-md-6" align="center">
                <h4>Primer Apellido: <small>{{ persona.paterno }}</small></h4>
            </div>
            <div class="form-group col-lg-4 col-md-6" align="center">
                <h4>Segundo Apellido: <small>{{ persona.materno }}</small></h4>
            </div>
        </div>
        <div class="row" align="center">
            <div class="form-group col-lg-6 col-md-6" align="center">
                <h4>Fecha Nacimiento: <small>{{ persona.fechaNacimiento|date("d/m/Y") }}</small></h4>
            </div>
            <div class="form-group col-lg-6 col-md-6" align="center">
                <h4>Carnet de Identidad: <small>{{ persona.carnet }}{% if persona.complemento != '' %}-{{persona.complemento}}{% endif %}</small></h4>
            </div>
        </div>
        <hr style="background-color: #3B78B0; height: 5px;" />
        <div align="center"><h3 style="color: #3B78B0; text-decoration: underline;">NUEVO CURSO {% if plan == 1 %} (Plan Antiguo) {% endif %}</h3></div>
      {{ form_start(form) }} 
        <input name="persona_id" value="{{ persona_id }}" style="visibility:hidden" />
        <div class="row">
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.departamento,{'attr': {'class':'form-control'},'id':'form_departamento'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.provincia, {'attr': {'class':'form-control'},'id': 'form_provincia'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.municipio, {'attr': {'class':'form-control'},'id': 'form_municipio'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.localidad, {'attr': {'class':'form-control'},'id': 'form_localidad'}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.bloque, { 'attr': {'class':'form-control'},'id': 'form_bloque'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.parte, { 'attr': {'class':'form-control'},'id': 'form_parte'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.fecha_inicio, { 'attr': {'class':'form-control'},'id': 'form_fecha_inicio'}) }}
            </div>
            <div class="form-group col-lg-3 col-md-6">
                {{ form_row(form.fecha_fin, { 'attr': {'class':'form-control'},'id': 'form_fecha_fin'}) }}
            </div>
                {{ form_row(form.plan, { 'attr': {'class':'form-control','value':plan},'id': 'form_plan'}) }}
            
        <br>
        <div class="row">            
                <div class="col-xs-12" align="center">
                    {{ form_row(form.save, { 'id': 'save','attr': { 'onclick':'return validar_fecha()' }}) }}
                </div>
            {{ form_end(form) }}
        <br>
        <div align="left"> <small align="left" style="color: red;">Por temas de <strong>SEGURIDAD</strong> se guardará su <strong>NOMBRE</strong> al crear el curso o al crear curso posterior.</small></div>  
    </div>
<div class="panel panel-icon panel-primary">
    <div class="panel-heading">
        Cursos del Facilitador (Crear Curso Posterior)
    </div>
    <div class="panel-body">
        <input type="hidden" name="fecha_anterior_fin" id="fecha_anterior_fin" value="" />
             <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
                <table id="tablaTotales" class="display" cellspacing="0" width="100%">    
                    <thead>
                        <tr>
                            <th>Id del Curso</th>
                            <th>Opciones</th>
                            <!--<th>Lista Participantes</th>-->
                            <th>Carnet</th>
                            <th>Nombre</th>
                            <th>Paterno</th>
                            <th>Materno</th>                            
                            <th>Fecha Inicio</th>                            
                            <th>Fecha Fin</th>                            
                            <th>Ciclo</th>                            
                            <th>Grado</th>                            
                            <th>Departamento</th>  
                            <th>Lugar</th>
                            <th>Crear Curso Posterior</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for fila in filas %}
                        {% if plan == 1 and (fila.ciclo_tipo_id == 1 or fila.ciclo_tipo_id == 2) or plan == 2 and (fila.ciclo_tipo_id == 34  or fila.ciclo_tipo_id == 35) %}
                        <tr>
                            <td>{{ fila.id }}</td>
                            <td><a role="button" class="btn btn-primary btn-xs glyphicon glyphicon-print" href="{{ path('sie_pnp_imprimir_consolidado', { 'id_enc': fila.id_enc~"|"~fila.ciclo_tipo_id~"|"~fila.grado_tipo_id}) }}" title="Imprimir Curso"></a></td>
                            <!--<td><a role="button" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="{{ path('sie_pnp_curso_listado', { 'id': fila.id }) }}" > Ver participantes</a></td>-->
                            <td>{{ fila.carnet }}{% if fila.complemento != '' %}-{{fila.complemento}}{% endif %}</td>
                            <td>{{ fila.nombre }}</td>                            
                            <td>{{ fila.paterno }}</td>
                            <td>{{ fila.materno }}</td> 
                            <td>{{ fila.fecha_inicio }}</td>
                            <td>{{ fila.fecha_fin }}</td>                            
                            <td>{% if plan == 1 %} BLOQUE {% endif %}{{ fila.ciclo }}</td>
                            <td>{% if plan == 1 %} PARTE {{ fila.grado_tipo_id }} {% endif %} {% if fila.grado_tipo_id == 14 or fila.grado_tipo_id == 16 %}Semestre 1{% elseif fila.grado_tipo_id == 15 or fila.grado_tipo_id == 17 %}Semestre 2{% endif %}</td>
                            <td>{{ fila.depto }}</td>
                            <td>{{ fila.lugar }}</td>
                            {% if (fila.ciclo_tipo_id == 2 and fila.grado_tipo_id == 2) or fila.grado_tipo_id == 17 %}
                                <td>Último Curso</td>
                            {% else %}
                                {% if fila.esactivo == 1 %}
                                    <td><a role="button" onclick="vermodal({{ fila.id }},'{{ fila.fecha_fin|date("d/m/Y") }}')" class="btn btn-success btn-xs glyphicon glyphicon-arrow-right" href="#" > Crear Curso Posterior</a></td>
                                {% else %}
                                    <td>Curso Abierto.</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

<script type="text/javascript">
function vermodal(id_curso,fecha_anterior_fin){
        
        $('#fecha_anterior_fin').val(fecha_anterior_fin);
        var formData = $('#formxls').serialize();
        $.ajax({
            type: 'get',
            url: Routing.generate('sie_pnp_verificar_form', {'id_curso': id_curso}),
            data: formData,
            beforeSend: function () {
                $("#notasModal").empty();
                $("#notasModal").append("<div style='text-align:center'><img src='{{asset('img/loading.gif')}}'></div>");
            },
            success: function (data) {
                $("#notasModal").empty();
                $("#notasModal").append(data);
            },
            error: function(data){
                $("#notasModal").empty();
                $("#notasModal").append('<div class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Proceso detenido se ha detectado inconsistencia de datos.</div>');
            }
        });
        $('#ModalUser').modal('show');
    }
    
function modaluserclose(){            
    $('#ModalUser').modal('hide');
}

 var espanol = {"sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                     "sZeroRecords": "No se encontraron resultados",
                     "sInfo": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                     "sInfoEmpty": "No existen registros",
                     "sInfoFiltered": "(filtrado de un total de _MAX_ líneas)",
                     "sInfoPostFix": "",
                     "sSearch": "Buscar:",
                     "sUrl": "",
                     "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                     },
                     "buttons":{
                        "copy": "Copiar",
                        "print":"Imprimir"
                     }
                    };

    var currentLang = espanol;    
        
    $(document).ready(function() {
        
        var dtable = $('#tablaTotales').dataTable( {"oLanguage": espanol} );
        
        

        $('#tablaTotales tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
        {#$('#btn').click(function(){
            dtable.fnDestroy();
            dtable = null;
            currentLang = (currentLang == english) ? espanol : english;
            dtable = $('#tablaTotales').dataTable( {"oLanguage": currentLang} );
        });#}
        
    });

 function validar_fecha(){
    

    var f1 = document.getElementById("form_fecha_inicio").value;
    var f2 = document.getElementById("form_fecha_fin").value;
    var plan = document.getElementById("form_plan").value;
    var fecha_actual = moment().format("DD/MM/YYYY"); //fecha actual
    //Contar dias entre fechas fecha inicial y fecha fin
    var aFecha1 = f1.split('/'); 
    var aFecha2 = f2.split('/'); 
    var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]); 
    var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]); 
    var dif = fFecha2 - fFecha1;
    var dias = Math.floor(dif / (1000 * 60 * 60 * 24));
    //Contar dias entre fechas fecha inicial y fecha actual
    var aFecha1a = f1.split('/'); 
    var aFecha2a = fecha_actual.split('/'); 
    var fFecha1a = Date.UTC(aFecha1a[2],aFecha1a[1]-1,aFecha1a[0]);
    var fFecha2a = Date.UTC(aFecha2a[2],aFecha2a[1]-1,aFecha2a[0]); 
    var difa = fFecha1a - fFecha2a;
    var dias_a = Math.floor(difa / (1000 * 60 * 60 * 24));
   // alert(dias_a);return false;
    
    //validamos primero q la fecha (año) inicio no sea mayor que la fecha actual (año)
    var array_fechasol = f1.split("/")
    var anio = parseInt(array_fechasol[2])
    // plan antiguo 1 debe estar estre 2009-2017
    if (plan == 1){
        if(anio > 2017 || anio < 2009){
            alert("Error!!!. La gestión de la fecha inicial debe estar entre 2009-2017");
            return false;
        }
    }
    else{//plan 2 nuevo 20018 pero no antes q hoy
        if(anio < 2018 || dias_a > 0){
            alert("Error!!!. La gestión de la fecha inicial debe ser mínimo 2018 y no mayor a la fecha de hoy");
            return false;   
        }
    }
    /////////////////////////////////
    ///////////////VALIDAMOS PLAN 1 ENTRE 90 - 240 Y PLAN 2 ENTRE 150 -180
    if(isNaN(dias)){ //SI FECHA FIN ESTA VACIO PASA
        document.getElementById("save").style.visibility = 'hidden';
        return true;
    }
    else{
        //////PARA EL PLAN 1
        if(plan==1){
            if(dias>=90 && dias<240){
                document.getElementById("save").style.visibility = 'hidden';
                return true;
            }
            else{
                alert("La fecha final debe ser mínimo 90 días mayor que la fecha inicial pero no mayor a 240 días (3 meses a 8 meses)");
                return false;
            }    
        }
        else{ // PLAN 2
            if(dias>=140 && dias<190){
                document.getElementById("save").style.visibility = 'hidden';
                return true;
            }
            else{
                alert("La fecha final debe ser mínimo 140 días mayor que la fecha inicial pero no mayor a 180 días (5 meses a 6 meses)");
                return false;
            }   
        }
        
    }
 }

  function validar_fecha2(){
    var f2 = document.getElementById("fecha_inicio").value;
    var f1 = document.getElementById("fecha_anterior_fin").value;
    var aFecha1 = f1.split('/'); 
    var aFecha2 = f2.split('/'); 
    var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]); 
    var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]); 
    var dif = fFecha2 - fFecha1;
    var dias = Math.floor(dif / (1000 * 60 * 60 * 24)); 
    if(dias>0){
        var f22 = document.getElementById("fecha_fin").value;
        var f11 = document.getElementById("fecha_inicio").value;
        var aFecha11 = f11.split('/'); 
        var aFecha22 = f22.split('/'); 
        var fFecha11 = Date.UTC(aFecha11[2],aFecha11[1]-1,aFecha11[0]); 
        var fFecha22 = Date.UTC(aFecha22[2],aFecha22[1]-1,aFecha22[0]); 
        var dif = fFecha22 - fFecha11;
        var dias1 = Math.floor(dif / (1000 * 60 * 60 * 24));         
        if(dias1>=90 && dias1<240){
            document.getElementById("save").style.visibility = 'hidden';
            return true;
        }
        else{
            alert("La fecha final debe ser mínimo 90 días mayor que la fecha inicial pero no mayor a 240 días (3 meses a 8 meses)");
            return false;
        }       
    //alert("si es mayor osea bien");
    }
    else{
        alert("La Fecha Inicial del nuevo curso debe ser mayor a la fecha de conclusión ("+ f1 +") del anterior curso realizado");
            //alert("La fecha inicial del nuevo curso debe ser mínimo 60 dias mayor que la fecha inicial");
        return false;
    }
 }

 $(function() {
$("#form_fecha_inicio").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es",
        });
$("#form_fecha_fin").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            language: "es"
        });
});
    $(function(){            
        $("#form_bloque").change(function(){
            var plan = document.getElementById("plan").value;
            if (plan == 2){
                var id_bloque = $(this).val();
                $("#form_parte").html('');                       
                var $province_selector = $('#form_parte');
                $province_selector.html('<option value="">Ámbito de Aprendizaje</option>');
                if (id_bloque==34){
                    $province_selector.append('<option value="14">La vida en familia</option>');
                    $province_selector.append('<option value="15">La vida en comunidad</option>');
                }
                else if (id_bloque==35) {
                    $province_selector.append('<option value="16">La vida en el País</option>');
                    $province_selector.append('<option value="17">La vida en el cosmos</option>');
                }
            }
        });

        $("#form_departamento").change(function(){                            
            var iddep = $(this).val();            
            var route = Routing.generate('sie_pnp_buscar_provincia', { ieid: iddep });                    
            var data;
            $.ajax({
                type: 'get',     
                url: route,
                data: data,
                success: function(data) {                        
                        datos = $.parseJSON(data);
                        $("#form_provincia").html('');                       
                        var $province_selector = $('#form_provincia');
                        $province_selector.html('<option value="">Provincia</option>');
                        for (var i=0, total = datos.length; i < total; i++) {
                            $province_selector.append('<option value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        }
                        $('#form_municipio').html("<option>Municipio</option>");
                    }
                });            
            });
        $("#form_provincia").change(function(){                            
            var iddep = $(this).val();            
            var route = Routing.generate('sie_pnp_buscar_provincia', { ieid: iddep });                    
            var data;
            $.ajax({
                type: 'get',     
                url: route,
                data: data,
                success: function(data) {                        
                        datos = $.parseJSON(data);
                        $("#form_municipio").html('');                       
                        var $province_selector = $('#form_municipio');
                        $province_selector.html('<option value="">Municipio</option>');
                        for (var i=0, total = datos.length; i < total; i++) {
                            $province_selector.append('<option value="' + datos[i].id + '">' + datos[i].provincia + '</option>');
                        }
                    }
                });            
            });
        })
</script>