<p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>NOTAS DEL PARTICIPANTE.
    </div>
    {% set cualitativa = 0 %}{% set aprobados = 0 %}{% set contar = 0 %}{% set ceros = 0 %}
    <div class="panel-body">
    <div class="panel-body">
        <div class="contenedor-tabla" style="width: 100%; overflow: scroll;">
            <table  id="tablaListadoPersonas" class="display" cellspacing="0" border="0" width="100%">   
              
                <tr>
                    <th>ASIGNATURA</th>
                    <th align="center">NOTA FINAL</th>
                    <th colspan="4" align="center">NOTA CUALITATIVA</th></div>
                </tr>
                {% for nota in notas %}
                    <tr>{% set contar = contar + 1 %}

                        <td>{{nota.asignatura|capitalize}} {% if contar == 5 %}({{modulo_emergente.moduloEmergente|capitalize}}){% endif %}</td>
                        <td align="center">{{ nota.nota_cuantitativa|round }}
                            {% if nota.nota_cuantitativa >= 51 %}{% set aprobados = aprobados + 1 %}{% elseif nota.nota_cuantitativa == 0 %} {% set ceros = ceros + 1 %} {% endif %}
                        </td>
                        {% if cualitativa == 0 %}
                            <td rowspan="5">
                               <textarea required="required" readonly name="nota_cualitativa" id="nota_cualitativa" maxlength="180" cols="16" rows="8">{{ nota.nota_cualitativa }}</textarea>
                            </td>
                            {% set cualitativa = 1 %}
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"> <strong>Estado: </strong>
                        <div id="estado_elegir">
                           <select class="form-control" required="required" name="estado">
                                {% if aprobados >= 5 %}
                                    <option value="62" selected>Promovida/o</option>
                                {% elseif ceros >= 5 %}
                                    <option value="61" selected>Retirada/o</option>
                                {% else %}
                                    <option value="63" selected>Postergada/o</option>
                                {%  endif %}
                            </select>
                        </div>
                    </td>
                </tr>
                      
                
                    {#}<tbody>
                    {% set i=0 %}
                        <tr>
                            <td>Matemáticas</td>{% set m=1 %}
                            {% for nota in notas %}
                                {% if nota.asignatura == 'MATEMATICAS' %}
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input type="number" {% if nota.nota_tipo == 'Nota Final' %} readonly="readonly" required="required" {% endif %} id="nota{{ i }}" name="nota[]" style="width: 50px;" size="3px" min="0" {% if m == 1 or m == 4 %} max="14" {% else %} max="21" {% endif %} maxlength="2" onchange="calcular();" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    {% set i=i+1 %}{% set m=m+1 %}
                                {% endif %}  
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <td>Lengua Castellano</td>{% set m=1 %}
                            {% for nota in notas %}
                                {% if nota.asignatura == 'LENGUA CASTELLANO' %}
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input type="number" {% if nota.nota_tipo == 'Nota Final' %} readonly="readonly" {% endif %} id="nota{{ i }}" required="required"; name="nota[]" style="width: 50px;" size="3px" min="0" {% if m == 1 or m == 4 %} max="14" {% else %} max="21" {% endif %} maxlength="2" onchange="calcular();" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    {% set i=i+1 %}{% set m=m+1 %}
                                {% endif %}    
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <td>Lenguas Originarias</td>{% set m=1 %}
                            {% for nota in notas %}
                                {% if nota.asignatura == 'LENGUAS ORIGINARIAS' %}
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input type="number" {% if nota.nota_tipo == 'Nota Final' %} readonly="readonly" {% endif %} id="nota{{ i }}" required="required" name="nota[]" style="width: 50px;" size="3px" min="0" {% if m == 1 or m == 4 %} max="14" {% else %} max="21" {% endif %} maxlength="2" onchange="calcular();" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    {% set i=i+1 %}{% set m=m+1 %}
                                {% endif %}    
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <td>Ciencias Naturales</td>{% set m=1 %}
                            {% for nota in notas %}
                                {% if nota.asignatura == 'CIENCIAS NATURALES' %}
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input type="number" {% if nota.nota_tipo == 'Nota Final' %} readonly="readonly" {% endif %} id="nota{{ i }}" name="nota[]" required="required" style="width: 50px;" size="3px" min="0" {% if m == 1 or m == 4 %} max="14" {% else %} max="21" {% endif %} maxlength="2" onchange="calcular();" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    {% set i=i+1 %}{% set m=m+1 %}
                                {% endif %}   
                            {% endfor %}
                        </tr> 
                       
                        <tr><td colspan="6"><hr></td></tr>
                        <tr>
                            <td><strong>Promedio Final</strong></td>
                            {% for nota in notas %}
                                {% if nota.asignatura == 'PROMEDIO FINAL' %}
                                    <td align="center"><strong><div id="nt">{{ nota.nota_cuantitativa|round }}</div></strong></td>
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input readonly="readonly" style="display: none;" type="number" id="nota{{ i }}" required="required" name="nota[]" style="width: 50px;" size="3px" min="0" max="70" maxlength="2" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    <td colspan="3"> <strong>Estado: </strong>
                                         <div id="estado_elegir"><select class="form-control" required="required" name="estado">
                                            {% if nota.nota_cuantitativa > 35 %}
                                                <option value="62" {% if nota.estadomatricula_tipo_id == 62 %} selected="selected" {% endif %}>C: En Clase</option>
                                            {% else %}
                                                <option value="61" {% if nota.estadomatricula_tipo_id == 61 %} selected="selected" {% endif %}>D: Desincorporado</option>
                                            {% endif %}
                                        </select></div>
                                    </td>
                                {% set i=i+1 %}
                                {% endif %}   
                            {% endfor %}
                        </tr> 
                    </tbody>
                {% endif %}

              
                        <tr><td colspan="6"><hr></td></tr>
                        <tr>
                            <td><strong>Promedio Final</strong></td>
                            {% for nota in notas %}
                                {% if nota.asignatura == 'PROMEDIO FINAL' %}
                                   <td align="center"><strong><div id="nt">{{ nota.nota_cuantitativa|round }}</div></strong></td>
                                    <input style="display: none;" id="idd" name="idd[]" size="2px" type="text" value={{ nota.id }} />
                                    <td align="center"><input readonly="readonly" style="display: none;" type="number" id="nota{{ i }}" required="required" name="nota[]" style="width: 50px;" size="3px" min="0" max="70" maxlength="2" value="{{ nota.nota_cuantitativa|round }}" /></td>
                                    <td colspan="3"> <strong>Estado: </strong>
                                       <div id="estado_elegir"><select class="form-control" required="required" name="estado">
                                            {% if nota.nota_cuantitativa > 35 %}
                                                <option value="62" {% if nota.estadomatricula_tipo_id == 62 %} selected="selected" {% endif %}>C: En Clase</option>
                                            {% else %}
                                                <option value="61" {% if nota.estadomatricula_tipo_id == 61 %} selected="selected" {% endif %}>D: Desincorporado</option>
                                            {% endif %}
                                        </select></div>
                                    </td>
                                {% set i=i+1 %}
                                {% endif %}    
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endif %}{#}
            </table>
        </div>
    </div>
</div>