{% extends 'layoutPermanente.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Inscripción de Participantes
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="">Participantes Inscritos</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notasOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Centro</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div id="no-more-tables">
                                <table class="table table-bordered cf">
                                    <thead class="cf">
                                        <tr>
                                            <th>Código SIE</th>
                                            <th>Nombre</th>
                                            <th>Gestión</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <td data-title="Código SIE">{{institucion.id}}</td>
                                    <td data-title="Nombre">{{institucion.institucioneducativa}}</td>
                                    <td data-title="Gestión">{{gestion}}</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-orange">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Curso</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelcurso"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelcurso" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            <div class="table-responsive">
                                <div id="no-more-tables" class="overflow">
                                    <table class="table table-bordered table-hover cf">
                                        <thead class="cf">
                                            <tr>
                                                <th>Código</th>
                                                <th>Carrera</th>
                                                <th>Curso</th>
                                                <th>Gestión</th>
                                                <th>Turno</th>
                                                <th>Grupo</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Finalización</th>
                                                <th>Nivel Acreditación</th>
                                                <th>Modalidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-title="Código">{{ ca.carreraespecialidadTipo.codigo }}&nbsp;</td>
                                                <td data-title="Carrera">{{ ca.carreraespecialidadTipo.carreraTipo.carrera }}&nbsp;</td>
                                                <td data-title="Especialidad">{{ ca.carreraespecialidadTipo.especialidad }}&nbsp;</td>
                                                <td data-title="Gestión">{{ ca.gestionTipo.gestion }}&nbsp;</td>
                                                <td data-title="Turno">{{ ca.turnoTipo.turno }}&nbsp;</td>
                                                <td data-title="Paralelo">{{ ca.paraleloTipo.paralelo }}&nbsp;</td>
                                                <td data-title="Fecha Inicio">{{ ca.fechaInicio|date('d-m-Y') }}&nbsp;</td>
                                                <td data-title="Fecha Fin">{{ ca.fechaFin|date('d-m-Y') }}&nbsp;</td>
                                                <td data-title="Nivel Acr.">{{ ca.nivelacreditacionTipo.nivelacreditacion }}&nbsp;</td>
                                                <td data-title="Modalidad">{{ ca.modalidadTipo.modalidad }}&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Participantes Inscritos</h4>
                    </div>
                    <div class="portlet-widgets">
                        <form action="{{path('estudianteinscripcionTecnica_new')}}" method="post" style="display:inline-block">
                            <input type="hidden" name="idCurso" value="{{ca.id}}">
                            <button type="submit" class="btn btn-green btn-xs"><i class="fa fa-user"></i> Nueva Inscripción</button>
                        </form>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            {% if inscritos is not empty %}
                                <div id="no-more-tables">
                                    <table class="table table-bordered table-hover cf" id="myTable">
                                        <thead class="cf">
                                            <tr>
                                                <th>N°</th>
                                                <th>RUDE</th>
                                                <th>Paterno</th>
                                                <th>Materno</th>
                                                <th>Nombres</th>
                                                <th>Matricula</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ins in inscritos %}
                                                {# set persona = maestro.persona #}
                                                {# set formacion = maestro.formacionTipo #}
                                                <tr>
                                                    <td data-title="N°">{{ loop.index }}&nbsp;</td>
                                                    <td data-title="Rude">{{ ins.estudiante.codigoRude }}&nbsp;</td>
                                                    <td data-title="Paterno">{{ ins.estudiante.paterno }}&nbsp;</td>
                                                    <td data-title="Materno">{{ ins.estudiante.materno }}&nbsp;</td>
                                                    <td data-title="Nombres">{{ ins.estudiante.nombre }}&nbsp;</td>
                                                    <td data-title="Matricula">{{ ins.estadomatriculaTipo.estadomatricula }}&nbsp;</td>
                                                    <td data-title="Acciones">
                                                        {% if (app.session.get('roluser') != 9) and (app.session.get('roluser') != 5) %}
                                                            <!--
                                                            <form action="{{path('estudianteinscripcionTecnica_edit')}}" method="post" style="display:inline-block">
                                                                <input type="hidden" name="idInscripcion" value="{{ins.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <input type="hidden" name="idMaestroInscripcion" value="{{ins.id}}">
                                                                <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                                            </form>-->
                                                            <form action="{{path('estudianteinscripcionTecnica_delete')}}" method="post" style="display: inline-block">
                                                                <input type="hidden" name="idInscripcion" value="{{ins.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="fa fa-trash-o text-danger"></i> Eliminar</button>
                                                            </form>
                                                        {% endif %}
                                                        {% if ca.carreraespecialidadTipo.carreraTipo.id == 11 %}
                                                        <form action="{{path('p_estudiantenotas_index')}}" method="post" style="display:inline-block">
                                                            <input type="hidden" name="idCurso" value="{{ca.id}}">
                                                            <input type="hidden" name="idInscripcion" value="{{ins.id}}">
                                                            <button type="submit" class="btn-link"><i class="glyphicon glyphicon-pencil"></i> Registrar Notas</button>
                                                        </form>
                                                        <form action="{{path('p_estudiantenotas_show')}}" method="post" style="display:inline-block">
                                                            <input type="hidden" name="idCurso" value="{{ca.id}}">
                                                            <input type="hidden" name="idInscripcion" value="{{ins.id}}">
                                                            <button type="submit" class="btn-link"><i class="fa fa-file-text-o"></i> Ver Notas</button>
                                                        </form>
                                                        {% endif %}
                                                        {% if ins.estadomatriculaTipo.id == 5 %}
                                                            <form action="{{path('asignaturas')}}" method="post" style="display:inline-block">
                                                                <input type="hidden" name="idCurso" value="{{ins.id}}">
                                                                <input type="hidden" name="idInstitucion" value="{{institucion.id}}">
                                                                <input type="hidden" name="gestion" value="{{gestion}}">
                                                                <button type="submit" class="btn-link"><i class="fa fa-print"></i> Imprimir Certificado</button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                No hay participantes inscritos
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{path('estudianteinscripcionTecnica')}}" class="btn-link"><i class="fa fa-arrow-circle-left"></i> Atras</a>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        
    </script>
{% endblock %}
