{% extends 'layoutRegular.html.twig' %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Solicitud 
                    <small>Adici贸n de Calificaciones</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-list-alt"></i>  <a href="{{path('solicitudAdicionCalificaciones')}}">Solicitudes</a></li>
                    <li><i class="fa fa-search"></i> Buscar Estudiante
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('noSearch') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('sendError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Buscar Estudiante</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="alert alert-info">
                            <h3 style="margin-top: 0px"><i class="fa fa-warning"></i> Aviso Importante</h3>
                            Las solicitudes de Adicion de Calificaciones ya se realizan desde el m贸dulo de <a href="{{path('solicitudModificacionCalificaciones_search',{'op':'search'})}}" style="color: #6065D9; font-weight: bold"> Solicitud de Modificaci贸n/Adici贸n de Calificaciones </a>.
                        </div>
                        {#
                        <div class="panel-body panel-primary">
                            {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form",'class':'form-horizontal'} } )}}
                            <div class="panel-body">
                                {% if UE is not defined %}
                                    <div class="form-group">
                                        <label for="form_codigoRude" class="col-sm-2 control-label">{{ form_label(form.codigoRude) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.codigoRude ) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form_codigoRude" class="col-sm-2 control-label">{{ form_label(form.idInstitucion) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.idInstitucion ) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">{{ form_label(form.gestion) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.gestion) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">

                                            {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label for="form_codigoRude" class="col-sm-2 control-label">{{ form_label(form.institucion) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.institucion ) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">{{ form_label(form.turno) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.turno,{'attr':{'onchange':'cargarNiveles()'} }) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">{{ form_label(form.nivel) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.nivel,{'attr':{'onchange':'cargarGrados()'} }) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">{{ form_label(form.grado) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.grado,{'attr':{'onchange':'cargarParalelos()'} }) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">{{ form_label(form.paralelo) }}</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form.paralelo) }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">

                                            {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {{form_end(form)}}
                        </div>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        function cargarNiveles() {
            var institucion = $('#form_idInstitucion').val();
            var turno = $('#form_turno').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('notas_cargar_niveles', {'idInstitucion': institucion,'turno':turno}),
                beforeSend: function () {
                    $("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_nivel").append('<option value="">Buscando...</option>');
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_nivel").append('<option value="">Seleccionar...</option>');
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.niveles, function (i, value) {
                        $("#form_nivel").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
        function cargarGrados() {
            var institucion = $('#form_idInstitucion').val();
            var turno = $('#form_turno').val();
            var nivel = $('#form_nivel').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('notas_cargar_grados', {'idInstitucion': institucion,'turno':turno,'nivel':nivel}),
                beforeSend: function () {
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.grados, function (i, value) {
                        $("#form_grado").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
        function cargarParalelos() {
            var institucion = $('#form_idInstitucion').val();
            var turno = $('#form_turno').val();
            var nivel = $('#form_nivel').val();
            var grado = $('#form_grado').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('notas_cargar_paralelos', {'idInstitucion': institucion,'turno':turno,'nivel':nivel,'grado':grado}),
                beforeSend: function () {
                    $("#form_paralelo").empty();
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_paralelo").empty();
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.paralelos, function (i, value) {
                        $("#form_paralelo").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
    </script>
{% endblock %}
