{% extends 'SieRueBundle:Default:rue.html.twig' %}

{% block contentoption%}
<!--      <div id="page-wrapper">-->

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Registro de Instituciones Educativas
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-search"></i>  <a href="{{path('rue')}}">Buscar</a></li>
					<li class="active">Resultado de la Busqueda</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>




        <div class="row">

            <div class="col-md-20">
                <!-- Website Stats  Widget -->
                <div class="panel panel-icon panel-success">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-4 col-md-3"><p class="text-center"><strong>Institucion Educativa</strong></p></div>
                            <div class="col-xs-4 col-md-3"><p class="text-center"><strong>Codigo Rue</strong> </p></div>
                            <div class="col-xs-4 col-md-3"><p class="text-center"><strong>Fecha Creacion</strong></p></div>
                            <div class="col-xs-4 col-md-3"><p class="text-center"><strong>Acciones</strong> </p></div>

                        </div>
                        {% for entity in pagination %}
                            <div class="row borderRadius">
                                <div class="col-xs-4 col-md-3"><p class="text-left">{{ entity.institucioneducativa }}</p></div>
<!--                                  <div class='clear-fix'></div>-->
                                <div class="col-xs-4 col-md-3"><p class="text-left">{{ entity.id }}</p></div>
                                <div class="col-xs-4 col-md-3"><p class="text-left">{% if entity.fechaResolucion %}{{ entity.fechaResolucion|date('Y-m-d H:i:s') }}{% endif %}</p></div>
                                <div class="col-xs-4 col-md-3">
                                     <form action="{{path('rue_edit')}}" method="post" style="display:inline-block">
                                           <input type="hidden" name="idRue" value="{{entity.id}}">
                                           <button type="submit" class="btn-link"><i class="fa fa-edit text-warning"></i> Editar</button>
                                     </form>
                                
                                </div>



                            </div>
                        {% endfor %}
                        <div class="panel-footer">
                            <div class="paginacion">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Website Stats Widget -->

            </div>
        </div>

<!--      </div> -->
{% endblock %}
