{% extends 'SieRieBundle:Default:rie.html.twig' %}

{% block contentoption%}

{{ form_start(form) }}

    <div class="block-header">
        <h2>CURSOS DE CAPACITACIÓN</h2>
    </div>

    <ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('cap_list', {'idRie': institucion.getId()})}}">Listado de Cursos Capacitación</a></li>
        <li class="active">Nuevo</li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-blue-grey">
                    <h2>
                        Nuevo Curso de Capacitación
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <fieldset>
                            <label class="form-label">Denominación de Instituto</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{institucion.getId()}} - {{institucion.getInstitucioneducativa()}}
                                </div>
                            </div>

                            <label class="form-label">{{form_label(form.ttecCarreraTipo)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.ttecCarreraTipo)}}  
                                </div>
                            </div>

                            <label class="form-label">{{form_label(form.resolucion)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.resolucion) }}
                                </div>
                            </div>

                            <label class="form-label">{{form_label(form.fechaResolucion)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.fechaResolucion) }}
                                </div>
                            </div>                                                                                    

                            <label class="form-label">{{form_label(form.regimenEstudio)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.regimenEstudio) }}
                                </div>
                            </div>                                                                                    

                            <label class="form-label">{{form_label(form.tiempoEstudio)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.tiempoEstudio) }}
                                </div>
                            </div>                                                                                    

                            <label class="form-label">{{form_label(form.cargaHoraria)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.cargaHoraria) }}
                                </div>
                            </div>                                                                                    
                            <label class="form-label pull-left col-blue">{{form_label(form.operacion)}}</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{form_widget(form.operacion) }}
                                </div>
                            </div>                                                                                    
                        </fieldset>
                            {{ form_widget(form.guardar,{ 'attr':{'class': 'btn btn-primary btn-lg m-l-15 waves-effect'} }) }}
                            <a href="{{path('cap_list', {'idRie': institucion.getId()})}}" class="btn btn-danger btn-lg m-l-15 waves-effect">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>            

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
            $(".validar").keydown(function(event){
            //alert(event.keyCode);
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });
        function cargarTiempoEstudio(){
            regimen = $("#form_regimenEstudio").val();
            //Anual = 1; Semestral=2; modular = 3

            //Anual
            if(regimen == 1)
            {
                $("#form_tiempoEstudio").empty();
                $("#form_tiempoEstudio").selectpicker('refresh');
                $("#form_tiempoEstudio").append('<option value="1">1</option>');
                $("#form_tiempoEstudio").append('<option value="2">2</option>');
                $("#form_tiempoEstudio").selectpicker('refresh');
            }

            //Semestral
            if(regimen == 2)
            {
                $("#form_tiempoEstudio").empty();
                $("#form_tiempoEstudio").selectpicker('refresh');
                $("#form_tiempoEstudio").append('<option value="1">1</option>');
                $("#form_tiempoEstudio").append('<option value="2">2</option>');
                $("#form_tiempoEstudio").append('<option value="3">3</option>');
                $("#form_tiempoEstudio").append('<option value="4">4</option>');
                $("#form_tiempoEstudio").append('<option value="5">5</option>');
                $("#form_tiempoEstudio").append('<option value="6">6</option>');
                $("#form_tiempoEstudio").selectpicker('refresh');
            }

            //Modular
            if(regimen == 3)
            {
                $("#form_tiempoEstudio").empty();
                $("#form_tiempoEstudio").selectpicker('refresh');
                $("#form_tiempoEstudio").append('<option value="1">1</option>');
                $("#form_tiempoEstudio").append('<option value="2">2</option>');
                $("#form_tiempoEstudio").append('<option value="3">3</option>');
                $("#form_tiempoEstudio").append('<option value="4">4</option>');
                $("#form_tiempoEstudio").append('<option value="5">5</option>');
                $("#form_tiempoEstudio").append('<option value="6">6</option>');
                $("#form_tiempoEstudio").append('<option value="7">7</option>');
                $("#form_tiempoEstudio").append('<option value="8">8</option>');
                $("#form_tiempoEstudio").selectpicker('refresh');
            }
        }

    </script>

{% endblock %}
