{% extends 'layoutInfra.html.twig' %}

{% block contentoption %}

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Ambientes Pedagógicos <span>Hoja 5</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('infra_list_index')}}">
                       Operativos
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">
                  <form action="{{path('infra_list_open')}}" method="post" style="display: inline-block">
                      <input type="hidden" id="form_gestion" name="form[gestion]" value="{{app.session.get('currentyear')}}">
                      <input type="hidden" id="form_data" name="form[sie]" required="required" value="{{app.session.get('ie_id')}}">
                      <input type="hidden" id="form_data" name="form[infraestructuraJuridiccionGeograficaId]" required="required" value="11392">
                      <button class='btn btn-link'>Menu de Opciones</button>
                  </form>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->



    <div class="body-content animated fadeIn">
    <div class="row">
          <div class="col-md-12">

              <!-- Start color horizontal tabs -->
              <div class="panel panel-tab panel-tab-double shadow">
                  <!-- Start tabs heading -->
                  <div class="panel-heading no-padding">
                      <ul class="nav nav-tabs">
                          <li class="nav-border nav-border-top-danger active">
                              <a href="component-tabsaccordion.html#tab4-1" data-toggle="tab" class="text-center" aria-expanded="true" onclick="openAmbPedagogico();">
                                  1. Ambientes para el desarrollo pedagógico
                              </a>
                          </li>
                          <li class="nav-border nav-border-top-primary">
                              <a href="component-tabsaccordion.html#tab4-2" data-toggle="tab" class="text-center" aria-expanded="false" onclick="openAmbPedagogicoDeportivo();">
                                  2. Ambientes para el desarrollo pedagógico deportivo, cultural y recreativo
                              </a>
                          </li>

                      </ul>
                  </div><!-- /.panel-heading -->
                  <!--/ End tabs heading -->

                  <!-- Start tabs content -->
                  <div class="panel-body">
                    <form action="#">
                      <!-- <div class="form-footer">
                          <div class="pull-right">
                              <button class="btn btn-danger mr-5">Cancel</button>
                              <button class="btn btn-success" type="submit">Submit</button>
                          </div>
                      </div> -->
                      <div class="tab-content">
                        <!-- start tab1 -->
                          <div class="tab-pane fade active in" id="tab4-1">
                            {# include 'SieInfraBundle:SheetFive:ambpedagogico.html.twig' with { 'data': 'data'} #}
                            <div id="idpedagogico">
                            </div>
                          </div>
                          <!-- end tab1 -->
                          <div class="tab-pane fade" id="tab4-2">
                            {# include 'SieInfraBundle:SheetFive:ambdeportivo.html.twig' with { 'data': 'data'} #}
                            <div id="idpedagogicoDeportivo">
                            </div>
                          </div>  <!-- end tab2 -->
                      </div>
                    </form>
                  </div><!-- /.panel-body -->
                  <!--/ End tabs content -->
              </div><!-- /.panel -->
              <!--/ End color horizontal tabs -->

          </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-table" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" id="modal">

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script type="text/javascript" charset="utf-8" >
     var openAmbPedagogico = function(){
      
       $.ajax({
             type: 'post',
             url: Routing.generate('infra_sheet_five_ambiente_pedagogico'),
             // data: formData,
             beforeSend: function () {
                 $("#idpedagogico").empty();
                 $("#idpedagogicoDeportivo").empty();
                 $("#idpedagogico").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="" /></div>');
             },
             success: function (data) {
                 $("#idpedagogico").empty();
                 $("#idpedagogico").append(data);
                 //location.reload(true);
             },
             statusCode: {
                 500: function () {

                 },
                 404: function () {

                 }
             }
          });

     };
     var openAmbPedagogicoDeportivo = function(){
            $.ajax({
             type: 'post',
             url: Routing.generate('infra_sheet_five_ambiente_pedagogico_deportivo'),
             // data: formData,
             beforeSend: function () {
                 $("#idpedagogico").empty();
                 $("#idpedagogicoDeportivo").empty();
                 $("#idpedagogicoDeportivo").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="" /></div>');
             },
             success: function (data) {
                 $("#idpedagogicoDeportivo").empty();
                 $("#idpedagogicoDeportivo").append(data);
                 //location.reload(true);
             },
             statusCode: {
                 500: function () {

                 },
                 404: function () {

                 }
             }
          });      

     };

    var newAmbPedagogico = function(infraestructuraJuridiccionGeograficaId){
       $.ajax({
                type: 'post',
                data: ({infraestructuraJuridiccionGeograficaId: infraestructuraJuridiccionGeograficaId}),
                url: "{{ path('infraestructurah4servicio_new_amb_pedagogico') }}",
                beforeSend: function () {
                    $('#modal').empty();
                },
                success: function (data) {
                    $('#modal').empty();
                    $('#modal').append(data);

                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
    };
   var saveNewAmbPedagogico = function(){

    formData = $('#idFormNewPedagogico').serialize();
       $.ajax({
                type: 'post',
                data: formData,
                url: "{{ path('infraestructura5pedagico_save_new_pedagogico') }}",
                beforeSend: function () {
                    $('#modal').modal('hide');
                    $('#idpedagogico').empty();
                    $("#idpedagogico").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="" /></div>');
                },
                success: function (data) {
                    $('#idpedagogico').empty();
                    $('#idpedagogico').append(data);

                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
    };

    </script>
    
{% endblock %}
