							<table class="table table-striped table-condensed">
							  <thead>
								<tr>

								  <th scope="col">#</th>
								  <th scope="col">{{tipoPeriodo}}</th>
								  <th scope="col">Recibido</th>
								  <th scope="col">Estudiantes</th>
								  <th scope="col">Textos</th>
								  <th scope="col">Dif.</th>
								  <th scope="col">Recepción</th>
								  <th scope="col">Obs.</th>
								  <th scope="col"></th>
								</tr>
							  </thead>
							  <tbody>
							  	{% for i in listadoEntregas %}
							  	{% set diferencia  = i.cantidad -estudiantes|length %}
							  	{% set recibido  = (i.recibido==1)?'Si':'No' %}
							  	{% set fechaEntrega  = (i.fechaEntrega)?i.fechaEntrega|date('d/m/Y'):'' %}

								<tr class='tr-texto-educativo-{{i.id}}'>

								  <th scope="row">{{loop.index}}</th>
								  <td>{{i.trimestreSemestre}}</td>
								  <td>{{recibido}}</td>
								  <td>{{estudiantes|length}}</td>
								  <td>{{i.cantidad}}</td>
								  <td>{{diferencia}} </td>
								  <td>{{fechaEntrega}}</td>
								  <td>{{i.observacion}}</td>
								  <td class="text-center">
									<a href="javascript:void(0)"  data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="deleteEntregaTextoEducativo({{i.id}})"><i class="fa fa-trash fa-2x fg-danger"></i></a>
								  </td>
								  
								</tr>
							  	{% endfor %}
							  </tbody>
							</table>