


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Institutos tecnológicos</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('webEstadistica/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{asset('webEstadistica/assets/plugins/chartist-js/dist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{asset('webEstadistica/assets/plugins/chartist-js/dist/chartist-init.css')}}" rel="stylesheet">
    <link href="{{asset('webEstadistica/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css')}}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{{asset('webEstadistica/assets/plugins/c3-master/c3.min.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{asset('webEstadistica/css/style.css')}}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{{asset('webEstadistica/css/colors/blue.css')}}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="card-no-border">


                {% block stylesheets %}
                <style>
                
                    .highcharts-figure {
                        min-width: 100%;
                        max-width: 800px;
                        margin: 1em auto;
                    }
                </style>
                {% endblock %}
        
                {% block contentoption %}
                   

                    
                {% endblock %}

            




    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{path('sie_tecnicaest_dashboard')}}">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            
                            <!-- Light Logo icon -->
                            <!-- <img src="{{asset('webEstadistica/assets/images/logo-light-icon.png')}}" alt="homepage" class="light-logo" /> -->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="btn btn-block btn-lg waves-effect waves-light text-white">                         
                            <!-- Light Logo text -->    
                            <!-- <img src="{{asset('webEstadistica/assets/images/logo-light-text.png')}}" class="light-logo" alt="homepage" /> --> 
                            INSTITUTOS
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse"> 
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <!-- <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li> -->
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- 
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> 
                            </form>
                        </li>
                        -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{asset('webEstadistica/assets/images/users/1.jpg')}}" alt="user" class="profile-pic m-r-10" />{{app.session.get('name')}}</a>
                        </li>
                        <li class="nav-item dropdown">                            
                            <a href="{{path('logout')}}" class="link nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="tooltip" title="Logout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-power"></i> </a> </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2022})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2022</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2021})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2021</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2020})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2020</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2019})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2019</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2018})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2018</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard', {'gestion' :  2017})}}" aria-expanded="false"><i class="mdi mdi-poll"></i><span class="hide-menu">GESTION 2017</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{{path('sie_tecnicaest_dashboard_listado')}}" aria-expanded="false"><i class="mdi mdi-view-list"></i><span class="hide-menu">LISTADO GENERAL</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- 
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Dashboard</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                    </div>
                </div>
                 -->
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th>ADMINISTRADOR SISTEMA ESTADISTICO INSTITUTOS</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                

                <div class="row">
                <!-- Column -->
                
                <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body profile-card">
                    <center class="mt-4">                            
                        <h4 class="card-title mt-2">CERRARON OPERATIVO</h4>
                        <h6 class="card-subtitle"><span class="label label-danger" style="border-style:double;font-size:20px;padding:10px">
                        {{total_cerradas}}
                      </span></h6>
                        <div class="row text-center justify-content-center">                            
                    </center>
                    </div>
                </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                    <div class="card-body profile-card">
                    <center class="mt-4">                            
                        <h4 class="card-title mt-2">NO CERRARON OPERATIVO</h4>
                        <h6 class="card-subtitle"> <span class="label label-info" style="border-style:double;font-size:20px;padding:10px">
                                                    {{ total_registros - total_cerradas}}
                                                    </span></h6>
                        <div class="row text-center justify-content-center">                            
                    </center>
                    </div>
                </div>
                </div>
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                    <div class="card-body profile-card">
                    <center class="mt-4">                            
                        <h4 class="card-title mt-2">TOTAL SEDES/SUBSEDES</h4>
                        <h6 class="card-subtitle"> <span class="label label-success" style="border-style:double;font-size:20px;padding:10px">
                                                      {{total_registros}}
                                                    </span></h6>
                        <div class="row text-center justify-content-center">                            
                    </center>
                    </div>
                </div>
                </div>
             </div>
            
             <div class="row">
                <form action="{{path('sie_university_menu')}}" method="post" name="form" id="form">
                    <input type="hidden" id="form_sede" name="form[sede]" value="">
                </form>
                <div class="col-sm-12" >
                    <div class="card">
                        <div class="card-body" style="padding: 50px;margin: 20px;">
                            <h4 class="card-title">LISTADO DE INSTITUTOS / SEDES</h4>
                            <hr>
                            <h6 class="card-subtitle"></h6>
                            <div class="table-responsive">
                            <table id="myTable1" class="table table-bordered dataTable ">
                                <thead>
                                    <tr>
                                        <th >
                                            #                                         
                                        </th>
                                        <th >
                                            INSTITUTO
                                        </th>                                        
                                        <th >
                                            SEDE
                                        </th>                                    
                                        <th >
                                            RITT
                                        </th>                                    
                                        <th >
                                            TIPO
                                        </th>                                    
                                        <th >
                                            ESTADO
                                        </th>   
                                        {#                                 
                                        <th >
                                            OPCIONES                                        
                                        </th>
                                        #}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set var = 1 %}
                                    {% for entity in data %}
                                        <tr>
                                            <td>
                                                {{ var }}
                                            </td>
                                            <td>
                                                {{ entity.instituto }}
                                            </td>                                           
                                            <td>
                                                {{ entity.sede }}
                                            </td>
                                            <td>
                                                {{ entity.sede_id }}
                                            </td>
                                            <td>
                                                {{ entity.naturalezajuridica }}
                                            </td>
                                            
                                            <td>                                            
                                                {% if entity.estado == 'CERRADO'  %}
                                                    {# es cerrado, no hay gestiones activas #} 
                                                    <span class="label label-danger" style="border-style:double;font-size:15px;">
                                                    CERRADO
                                                    </span>
                                                {% else %}
                                                    <span class="label label-primary" style="border-style:double;font-size:15px;">
                                                    ABIERTO
                                                    </span>
                                                {% endif %}
                                                
                                            </td>
                                            {#
                                            <td>
                                                <button class="btn btn-success text-white" data-toggle="tooltip" data-placement="top" data-original-title="" onclick="ingresoSede('{{ entity.id }}');">
                                                    Acceder                                        
                                                </button>
                                            </td>
                                            #}
                                        </tr>
                                        {% set var = var + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2017 Material Pro Admin by wrappixel.com </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ asset('webEstadistica/assets/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('webEstadistica/assets/plugins/bootstrap/js/tether.min.js') }}"></script>
    <script src="{{ asset('webEstadistica/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ asset('webEstadistica/js/jquery.slimscroll.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('webEstadistica/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('webEstadistica/js/sidebarmenu.js') }}"></script>
    <!--stickey kit -->
    <script src="{{ asset('webEstadistica/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('webEstadistica/js/custom.min.js') }}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{{ asset('webEstadistica/assets/plugins/chartist-js/dist/chartist.min.js') }}"></script>
    <script src="{{ asset('webEstadistica/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js') }}"></script>
    <!--c3 JavaScript -->
    <script src="{{ asset('webEstadistica/assets/plugins/d3/d3.min.js') }}"></script>
    <script src="{{ asset('webEstadistica/assets/plugins/c3-master/c3.min.js') }}"></script>
    <!-- Chart JS -->
    <script src="{{ asset('webEstadistica/js/dashboard1.js') }}"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>


    {% block javascripts %}

        
        

    {% endblock %}

<script src="{{asset('webherramienta/assets/global/plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        $('.dataTable').dataTable();
        } );

  

    </script>

</body>

</html>