{% extends 'SieRueBundle:Default:rueConsulta.html.twig' %}

{% block stylesheets %}
{{parent()}}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <style>
    	#lienzoMapa {
			top: 0;
			bottom: 0;
			width: 100%;
			height: 540px;
		}
		.marker {
			background-image: url("{{asset('images/mapbox-icon.png')}}");
			background-size: cover;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
		}
		.mapboxgl-popup {
			max-width: 200px;
		}  
		.mapboxgl-popup-content {
			text-align: center;
			font-family: 'Open Sans', sans-serif;
		}		  
    </style>
{% endblock %}

{% block contentoption %}

    <div class="block-header">
        <h2>RESULTADO DE LA BÚSQUEDA</h2>
    </div>

	<ol class="breadcrumb breadcrumb-bg-cyan">
        <li><a href="{{path('consulta_rue')}}">Inicio</a></li>
        <li class="active">Ver Institución Educativa</li>
    </ol>

	<!-- Basic Example -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header bg-blue-grey">
					<h2>
						<i class="material-icons">home</i> {{entity.id}} - {{entity.institucioneducativa}}
					</h2>
				</div>
				<div class="body">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="card">
								<div class="body">
									<h4 class="col-teal">1.- Datos Generales</h2>
										<div class="pull-right">
											<form action="{{path('reporte_rue_info_gral')}}" method="post">
												<input type="hidden" id="form_cod_rue" name="form[cod_rue]" value="{{entity.id}}">
												<button type="submit" class="btn btn-warning waves-effect"><i class="material-icons">save</i> Descargar .pdf</button>
											</form>
										</div>
									<ul class="dashboard-stat-list">
										<li>
											Código RUE:
											<span class="pull-right col-blue"><b>{{entity.id}}</b>
										</li>
										<li>
											Nombre:
											<span class="pull-right col-blue"><b>{{entity.institucioneducativa}}</b>
										</li>
										<li>
											Resolución:
											<span class="pull-right"><b>{{entity.nroResolucion}}</b>
										</li>
										<li>
											Fecha Resolución:
											<span class="pull-right"><b>{{entity.fechaResolucion|date('d-m-Y')}}</b>
										</li>
										<li>
											Dependencia:
											<span class="pull-right"><b>{{entity.dependenciaTipo.dependencia}}</b>
										</li>
										{% if entity.convenioTipo.id != 99 %}
											<li>
												Convenio:
												<span class="pull-right"><b>{{entity.convenioTipo.convenio}}</b>
											</li>
										{% endif %}
										<li>
											Estado:
											<span class="pull-right"><b>{{entity.estadoinstitucionTipo.estadoinstitucion}}</b>
										</li>
										<li>
											Subsistema:
											<span class="pull-right"><b>{{entity.institucioneducativaTipo.descripcion}}</b>
										</li>
										{#<li>
											Registro Legal RUE:
											<span class="pull-right">
												<b>{% if entity.fechaResolucion and date(entity.fechaResolucion) > date('01-01-1900') %}<span class="text-success">SI</span>{% else %}<span class="text-danger">NO</span>{% endif %}</b>
										</li>
										<li>
											{% if entity.institucioneducativaTipo.id == 1 %}Regularizada:
												<span class="pull-right"><b>{% if entity.nroResolucion and entity.nroResolucion != ' ' %}<span class="text-success">SI</span>{% else %}<span class="text-danger">NO</span>{% endif %}</b>
											{% else %}Acreditada:
												<span class="pull-right"><b>{% if entity.fechaResolucion and date(entity.fechaResolucion) >= date('31-08-2005') %}<span class="text-success">SI</span>{% else %}<span class="text-danger">NO</span>{% endif %}</b>
											{% endif %}
										</li>#}
									</ul>
								</div>
							</div>
						</div><!-- end Datos Generales -->

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="card">
								<div class="body">
									<h4 class="col-teal">2.- Localización del Edificio Escolar</h4>
									<ul class="dashboard-stat-list">
										<li>
											Código LE:
											<span class="pull-right col-blue"><b>{{entity.leJuridicciongeografica.id}}</b>
										</li>
										<li>
											Departamento:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugarTipo.lugarTipo.lugar}}</b>
										</li>
										<li>
											Provincia:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugarTipo.lugar}}</b>
										</li>
										<li>
											Municipio:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugarTipo.lugar}}</b>
										</li>
										<li>
											Cantón:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugarTipo.lugar}}</b>
										</li>
										<li>
											Localidad:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.lugarTipoLocalidad.lugar}}</b>
										</li>
										<li>
											Zona:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.zona}}</b>
										</li>
										<li>
											Dirección:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.direccion}}</b>
										</li>
										<li>
											Distrito:
											<span class="pull-right"><b>{{entity.leJuridicciongeografica.distritoTipo.distrito}}</b>
										</li>
									</ul>
								</div>
							</div>
						</div><!-- end Ubicación del edificio escolar -->

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="card">
								<div class="body">
									<h4 class="col-teal">3.- Niveles / Áreas de atención</h4>
									{% if areas %}
										<ul class="dashboard-stat-list">
										<h4>Áreas:</h4>
											{% for area in areas %}
												<li>
													{{area.areaEspecial}}
												</li>
											{% endfor %}
										</ul>
									{% endif %}<!-- end areas -->

									{% if niveles %}
										<ul class="dashboard-stat-list">
											<h4>Niveles Autorizados:</h4>
											{% for nivel in niveles %}
												<li>
													{{nivel.nivel}}
												</li>
											{% endfor %}
										</ul>
									{% endif %}<!-- end niveles -->
								</div>
							</div>
						</div><!-- end Áreas/Niveles -->
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header bg-blue-grey">
					<h2>
						<i class="material-icons">map</i> LOCALIZACIÓN GEOGRÁFICA DE LA INSTITUCIÓN EDUCATIVA
					</h2>
				</div>
				<div class="body">
					{% if (institucion.cordx and institucion.cordy) %}
						<div id="lienzoMapa"></div>
					{% else %}
						<div class="text-center"><span class="label label-danger">No se cuenta con coordenadas para mostrar la localización geográfica de la U.E.</span></div>							
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- #END# Basic Example -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if (institucion.cordx and institucion.cordy) %}
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
		<script>
			mapboxgl.accessToken = 'pk.eyJ1Ijoic2lnZWUiLCJhIjoiY2p5c3FmOWgxMG44ajNsbG0weTdmbHFqMCJ9.xzWqmSJjMqpM86r1Kf1jhg';

			var map = new mapboxgl.Map({
				container: 'lienzoMapa',
				style: 'mapbox://styles/mapbox/streets-v11',
				center: [{{institucion.cordy}}, {{institucion.cordx}}],
				zoom: 15,
				minZoom: 10
			});

			var geojson = {
				type: 'FeatureCollection',
				features: [{
				  	type: 'Feature',
				  	geometry: {
						type: 'Point',
						coordinates: [{{institucion.cordy}}, {{institucion.cordx}}]
				  	},
				  	properties: {
						ieducativa: '{{institucion.ieducativa}}',
						ieducativaId: '{{institucion.ieducativaId}}'
				  	}
				}]
			};			  
			  
			// add markers to map
			geojson.features.forEach(function(marker) {

				// create a HTML element for each feature
				var el = document.createElement('div');
				el.className = 'marker';
	
				// make a marker for each feature and add to the map
				new mapboxgl.Marker(el)
				.setLngLat(marker.geometry.coordinates)
				.addTo(map);

				new mapboxgl.Marker(el)
				.setLngLat(marker.geometry.coordinates)
				.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
				.setHTML('<p><strong>Código RUE: </strong>' + marker.properties.ieducativaId + '<p><strong>Institución Educativa: </strong>' + marker.properties.ieducativa + '</p>'))
				.addTo(map);
			});

			// Add controls to the map.
			map.addControl(new mapboxgl.FullscreenControl());
			map.addControl(new mapboxgl.NavigationControl());
		</script>
	{% endif %}
{% endblock %}