{% extends 'SieTramitesBundle:Tramite:dipHumIndex.html.twig' %}
{% block contentSearchBread %}
    <li class="active">Impresión Trámite</li>
{% endblock %}
{% block contentsearch %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form name="formtable" role="form" action="{{ path('tramite_detalle_diploma_humanistico_impresion_guarda') }}" method="POST" onsubmit="return verificaCampos()">
                <input type="hidden" name="_token" value="{{ csrf_token('imprimir') }}">
                <input type="hidden" name="_info" value="{{ datosBusqueda }}">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h4 class="panel-title">U.E.: {{infoAutorizacionUnidadEducativa.institucioneducativa}}</h4>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-danger" id="botonModalDevolver" name="botonModalDevolver" data-action="search" data-toggle="tooltip" data-placement="top" data-title="Devolver" data-original-title="" title="Devolver" disabled="true" >Devolver</button>
                            <input type="submit" name="botonAnular" id="botonAnular" class="btn btn-youtube" value="Anular" disabled="true" />
                            <input type="submit" name="botonAceptar" id="botonAceptar" class="btn btn-primary" value="Asignar Cartón" disabled="true" />
                            <a class="btn btn-lilac" href="{{ path('tramite_detalle_diploma_humanistico_impresion_lista_pdf', {'info': datosBusqueda}) }}" target="_blank">Acta</a>
                            <a class="btn btn-lilac" href="{{ path('tramite_detalle_diploma_humanistico_impresion_carton_pdf', {'info': datosBusqueda}) }}" target="_blank">Imp. Diplomas</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-search" style="display: none;">
                        <div class="input-group mb-15">
                            <input class="form-control" placeholder="Observación..." type="text" id="obs" name="obs" >
                            <span class="input-group-btn">
                                <input type="submit" name="botonDevolver" id="botonDevolver" class="btn btn-primary" value="Registrar la devolución" />
                                <button type="button" id="botonCancelarDevolver" name="botonCancelarDevolver" data-action="search" class="btn btn-danger">Cancelar</button>
                            </span>
                        </div>
                    </div><!-- /.panel-sub-heading -->
                    <div class="panel-sub-heading inner-all bg-teal">
                        {% if listaParticipante is defined and listaParticipante|length > 0 %}
                            <div class="pull-left">
                            </div>
                            <div class="pull-right">
                            </div>
                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        Nro. Serie Inicial: <input type="number" name="numeroSerie" id="numeroSerie" min="1" max="999999" class="form-control" onKeyDown="validarFormImpresion(this)" onKeyUp="validarFormImpresion(this) onchange="validarFormImpresion(this)"/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        Serie:
                                        <select class="form-control" name="serie" id="serie">
                                            {% for serie in series %}
                                                <option value="{{serie.serie}}">{{serie.serie}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    Fecha de emisión
                                        <input name="fechaSerie" id="fechaSerie" class="form-control date-range-picker-single" value="{{ "now"|date("d/m/Y", "America/La_Paz") }}" type="text">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if listaParticipante is defined and listaParticipante|length > 0 %}
                            {% if infoAutorizacionUnidadEducativa.secundaria == 0 %}
                                <div class="alert alert-danger">
                                    <strong>Alerta!</strong> No cuenta con la autorización correspondiente según R.U.E. para la emisión de diplomas humanísticos en educación regular.
                                </div>
                            {% endif %}
                            <table id="tablaParticipantes" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:50px; text-align:center;">#</th>
                                        <th style="text-align:center;">Trámite</th>
                                        <th style="text-align:center;">Código RUDEAL</th>
                                        <th style="text-align:center;">C.I.</th>
                                        <th style="text-align:center;">Paterno</th>
                                        <th style="text-align:center;">Materno</th>
                                        <th style="text-align:center;">Nombre</th>
                                        <th style="text-align:center;">Fecha y Lugar de Nacimiento</th>
                                        <th style="text-align:center;">Estado</th>
                                        <th style="width:50px; text-align:center;">
                                            <div class="ckbox ckbox-primary">
                                                <input id="participantesAll" type="checkbox" onchange="marcarTodos(this);">
                                                <label for="participantesAll"></label>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Trámite</th>
                                        <th>Código RUDEAL</th>
                                        <th>C.I.</th>
                                        <th>Paterno</th>
                                        <th>Materno</th>
                                        <th>Nombre</th>
                                        <th>Fecha y Lugar de Nacimiento</th>
                                        <th>Estado</th>
                                        <th style="text-align:center;">
                                            &nbsp;
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for participante in listaParticipante %}
                                        <tr {% if participante.segip_id > 1 or participante.segip_id == 0 %}class="text-danger"{% endif %}>
                                            <td style="text-align:center;">
                                                {% if participante.segip_id > 1 or participante.segip_id == 0 %}
                                                    <buttom onclick="participanteHistorial('{{ participante.estudiante_inscripcion_id|base64_encode }}');" data-toggle="modal" class="btn btn-circle btn-danger btn-stroke btn-xs" data-target=".bs-example-modal-table">{{ loop.index }}</buttom>
                                                {% else %}
                                                    <buttom onclick="participanteHistorial('{{ participante.estudiante_inscripcion_id|base64_encode }}');" data-toggle="modal" class="btn btn-circle btn-teal btn-stroke btn-xs" data-target=".bs-example-modal-table">{{ loop.index }}</buttom>
                                                {% endif %}
                                            </td>
                                            <td>{{ participante.tramite_id }}</td>
                                            <td>{{ participante.codigo_rude }}</td>
                                            <td>{{ participante.carnet_identidad }}</td>
                                            <td>{{ participante.paterno }}</td>
                                            <td>{{ participante.materno }}</td>
                                            <td>{{ participante.nombre }}</td>
                                            <td>{{ participante.fecha_nacimiento }} - {{ participante.lugar_nacimiento }}</td>
                                            <td>
                                                {% if participante.gestion_tipo_id != "now"|date("Y") %}
                                                  {% if participante.estadomatricula_tipo_id != 4 and participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                    <span class="label label-danger rounded">{{ participante.estadomatricula }}</span>
                                                  {% else %}
                                                    {{ participante.estadomatricula }}
                                                  {% endif %}
                                                {% else %}
                                                  {% if participante.nivel_tipo_id == 13 %}
                                                    {% if participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                      <span class="label label-danger rounded">{{ participante.estadomatricula }}</span>
                                                    {% else %}
                                                      {{ participante.estadomatricula }}
                                                    {% endif %}
                                                  {% else %}
                                                    {% if participante.estadomatricula_tipo_id != 4 and participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                      <span class="label label-danger rounded">{{ participante.estadomatricula }}</span>
                                                    {% else %}
                                                      {{ participante.estadomatricula }}
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% set registro = true %}
                                                {% set anular = false %}

                                                {% if participante.gestion_tipo_id != "now"|date("Y") %}
                                                  {% if participante.estadomatricula_tipo_id != 4 and participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                    {% set anular = true %}
                                                  {% endif %}
                                                {% else %}
                                                  {% if participante.nivel_tipo_id == 13 %}
                                                    {% if participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                      {% set anular = true %}
                                                    {% endif %}
                                                  {% else %}
                                                    {% if participante.estadomatricula_tipo_id != 4 and participante.estadomatricula_tipo_id != 5 and participante.estadomatricula_tipo_id != 55 %}
                                                      {% set anular = true %}
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}

                                                {% if participante.documento_id != "" %}
                                                    <span class="label label-success rounded">Dip. {{ participante.documento_serie_id }}</span>
                                                    {% set registro = false %}
                                                {% endif %}

                                                {% if participante.carnet_identidad == "" %}
                                                    <span class="label label-danger rounded">Sin C.I.</span>
                                                    {% set registro = false %}
                                                {% endif %}

                                                {% if participante.fecha_nacimiento == "" %}
                                                    <span class="label label-danger rounded">Sin Fecha Nac.</span>
                                                    {% set registro = false %}
                                                {% endif %}

                                                {% if participante.lugar_nacimiento == "" %}
                                                     <span class="label label-danger rounded">Sin Lugar Nac.</span>
                                                    {% set registro = false %}
                                                {% endif %}

                                                {% if infoAutorizacionUnidadEducativa.secundaria == 0 %}
                                                    <span class="label label-inverse rounded">No autorizado</span>
                                                    {% set registro = false %}
                                                {% endif %}

                                                {% if registro %}
                                                    <div class="ckbox ckbox-info">
                                                        <input name="participantes[]" id="{{ ("participantes"~loop.index)|base64_encode }}" value="{{ participante.tramite_id|base64_encode }}"  type="checkbox" onchange="validarFormImpresion(this);">
                                                        <label for="{{ ("participantes"~loop.index)|base64_encode }}"></label>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-warning">
                                <strong>!</strong> Sin participantes.
                            </div>
                        {% endif %}
                    </div><!-- /.panel-body -->
                    <div class="panel-footer">
                    </div><!-- /.panel-foot -->
                </div>
            </form>
        </div>
    </div><!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('juegos/assets/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('juegos/assets/global/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

    <script src="{{asset('juegos/assets/admin/js/pages/blankon.form.picker.js')}}"></script>
{% endblock %}
