{% extends 'layoutInfra.html.twig' %}

{% block contentoption %}
	<style>
		.fotografia{
			background:#EEEEEE;
			width: 100%;
			height: 300px;
			overflow: hidden;
			text-align: center;
		}

		.fotografia img{
			width: auto;
			height: 100%;
		}

		input[type=text]{
			text-transform: uppercase;
		}

		input[type=radio]{
			margin-left: 15px;
			margin-right: 5px;
		}

		.tabla tr{
			border: 1px solid #CCCCCC;
		}
	</style>


    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-table"></i> Datos generales <span>Hoja 1</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{path('infra_list_index')}}">
                       Operativos
                    </a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="active">
                  <form action="{{path('infra_list_open')}}" method="post" style="display: inline-block">
                      <input type="hidden" id="form_gestion" name="form[gestion]" value="{{app.session.get('currentyear')}}">
                      <input type="hidden" id="form_data" name="form[sie]" required="required" value="{{app.session.get('ie_id')}}">
                       <input type="hidden" id="form_data" name="form[infraestructuraJuridiccionGeograficaId]" required="required" value="10303">
                      <button class='btn btn-link'>Menu de Opciones</button>
                  </form>
                </li>

            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">
    	{{ form_start(edit_form) }}
    	<div class="row">
          <div class="col-md-12">

              <!-- Start color horizontal tabs -->
              <div class="panel panel-tab panel-tab-double shadow">
                  <!-- Start tabs heading -->
                  <div class="panel-heading no-padding">
                      <ul class="nav nav-tabs">
							<li class="nav-border nav-border-top-danger active">
							  <a href="component-tabsaccordion.html#tab1-1" data-toggle="tab" class="text-center" aria-expanded="true">
							      1. Datos de ubicación del edificio educativo (EE)
							  </a>
							</li>
							<li class="nav-border nav-border-top-primary">
							  <a href="component-tabsaccordion.html#tab1-2" data-toggle="tab" class="text-center" aria-expanded="false">
							      2. Registro Fotográfico
							  </a>
							</li>
							<li class="nav-border nav-border-top-success">
							  <a href="component-tabsaccordion.html#tab1-3" data-toggle="tab" class="text-center" aria-expanded="false">
							      3. Vias de acceso
							  </a>
							</li>
							<li class="nav-border nav-border-top-success">
							  <a href="component-tabsaccordion.html#tab1-4" data-toggle="tab" class="text-center" aria-expanded="false">
							      4. Unidades educativas que operan en este edificio educativo
							  </a>
							</li><li class="nav-border nav-border-top-success">
							  <a href="component-tabsaccordion.html#tab1-5" data-toggle="tab" class="text-center" aria-expanded="false">
							      5. Observaciones
							  </a>
							</li>
                      </ul>
                  </div><!-- /.panel-heading -->
                  <!--/ End tabs heading -->

                  <!-- Start tabs content -->
                  <div class="panel-body">
                      <div class="form-footer">
                          <div class="pull-right">
                            <button class="btn btn-success" type="submit">Guardar Cambios</button>
                              <!-- <button class="btn btn-danger mr-5">Cancelar</button> -->
                            <input value="Cancelar" class="btn btn-danger mr-5" onclick="history.back()" type="button">
                              
                          </div>
                          <div class="clear-fix"></div>
                      </div>
                      <hr>
                      <div class="tab-content">
                        <!-- start tab1 -->
                          <div class="tab-pane fade active in" id="tab1-1">
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        			<label>1.1 Código del Edificio Educativo</label>
                        			<input type="text" name="" id="" class="form-control" value="{{ ubicacion['codigo'] }}" disabled>

                        			<label>1.2 Departamento</label>
                        			<div class="row">
                        				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['departamentoCodigo'] }}" disabled>
                        				</div>
                        				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['departamentoNombre'] }}" disabled>
                        				</div>
                        			</div>

                        			<label>1.3 Provincia</label>
                        			<div class="row">
                        				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['provinciaCodigo'] }}" disabled>
                        				</div>
                        				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['provinciaNombre'] }}" disabled>
                        				</div>
                        			</div>

                        			<label>1.4 Municipio</label>
                        			<div class="row">
                        				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['municipioCodigo'] }}" disabled>
                        				</div>
                        				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['municipioNombre'] }}" disabled>
                        				</div>
                        			</div>

                        			<label>1.5 Cantón</label>
                        			<div class="row">
                        				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['cantonCodigo'] }}" disabled>
                        				</div>
                        				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['cantonNombre'] }}" disabled>
                        				</div>
                        			</div>

                        			<label>1.6 Ciudad o localidad</label>
                        			<div class="row">
                        				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['ciudadCodigo'] }}" disabled>
                        				</div>
                        				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        					<input type="text" name="" id="" class="form-control" value="{{ ubicacion['ciudadNombre'] }}" disabled>
                        				</div>
                        			</div>
                        		</div>
                        		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<label>1.7 Distrito Educativo</label>
									<input type="text" class="form-control" name="" value="{{ ubicacion['distrito'] }}" disabled>

									<label>1.8 Área geográfica</label>
									<input type="text" class="form-control" name="" value="{{ ubicacion['area'] }}" disabled>

									<label>1.9 Zona o Barrio</label>
									{{ form_widget(edit_form.n19Zonabarrio, {'attr': {'class':'form-control'} }) }}
									<br>
									<label>1.10 Dirección, Número</label>

									{{ form_widget(edit_form.n110InfraestructuraH1DireccionTipo, {'attr': {'class':''} }) }}


									{{ form_widget(edit_form.n110Direccion, {'attr': {'class':'form-control'} }) }}
                        		</div>
                        	</div>
                          </div>
                          <!-- end tab1 -->
                          <div class="tab-pane fade" id="tab1-2">
                         	<div class="row">
                         		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                         			<label>2.1 Registro fotográfico del Edificio Educativo</label>
                         			<hr>
                         		</div>
                         		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                         			<label>Adjuntar fotografía del ingreso principal</label>
                         			<div class="fotografia" id="fotoPrincipal">
                         				{% if entity.n21FotografiaPrincipal != null %}
                         					<img src="{{ asset('uploads/infraestructura/datosgenerales/' ~ entity.n21FotografiaPrincipal) }}">
                         				{% endif %}
                         			</div>
                         			{{ form_widget(edit_form.filePrincipal) }}
									<br>

									<label>Adjuntar fotografía con vista frontal</label>
									<div class="fotografia" id="fotoFrontal">
										{% if entity.n21FotografiaFrontal != null %}
											<img src="{{ asset('uploads/infraestructura/datosgenerales/' ~ entity.n21FotografiaFrontal) }}">
										{% endif %}
									</div>
                         			
                         			{{ form_widget(edit_form.fileFrontal) }}
                         		</div>
                         		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                         			<label>Adjuntar fotografía con vista lateral</label>
                         			<div class="fotografia" id="fotoLateral">
                         				{% if entity.n21FotografiaLateral != null %}
                         					<img src="{{ asset('uploads/infraestructura/datosgenerales/' ~ entity.n21FotografiaLateral) }}">
                         				{% endif %}
                         			</div>
                         			{{ form_widget(edit_form.fileLateral) }}
									<br>
									<label>Adjuntar fotografía con vista panoramica</label>
									<div class="fotografia" id="fotoPanoramica">
										{% if entity.n21FotografiaPanoramica != null %}
											<img src="{{ asset('uploads/infraestructura/datosgenerales/' ~ entity.n21FotografiaPanoramica) }}">
										{% endif %}
									</div>
                         			{{ form_widget(edit_form.filePanoramica) }}
                         		</div>
                         	</div>
                          </div>  <!-- end tab2 -->
                          <div class="tab-pane fade" id="tab1-3">
                        	
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        			<label>3.1 Tramo de red troncal</label>
                        			{{ form_widget(edit_form.n31Tramotroncal, {'attr':{'class':'form-control'} }) }}
                        			<label>3.2 Tramo de red complementaria</label>
                        			{{ form_widget(edit_form.n32Tramocomplementaria, {'attr':{'class':'form-control'} }) }}
                        			<label>3.2 Tramo de red vecinal</label>
                        			{{ form_widget(edit_form.n33Tramovecinal, {'attr':{'class':'form-control'} }) }}
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        			<label>3.4 Medio de transporte, tiempo y costo desde la Dirección Distrital</label>
									<table class="table">
									    <tr>
									        <td></td>
									        <td>Dias</td>
									        <td>Horas</td>
									        <td>Minutos</td>
									        <td>Costo</td>
									        <td colspan="4">Descripcion del medio de acceso</td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34PeatonalEsDist, {'attr':{'class':''} }) }}
									        			Peatonal
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalDistDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalDistHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalDistMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalDistCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									        <td></td>
									        <td></td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34VehicularEsDist, {'attr':{'class':''} }) }}
									        			Vehicular
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularDistDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularDistHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularDistMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularDistCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoDist1, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoDist2, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoDist3, {'attr':{'class':'form-control'} }) }}
									        </td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34FluvialEsDist, {'attr':{'class':''} }) }}
									        			Fluvial
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialDistDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialDistHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialDistMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialDistCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoFluvialTipoDist1, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoFluvialTipoDist2, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34AereoEsDist, {'attr':{'class':''} }) }}
									        			Aéreo
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoDistDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoDistHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoDistMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoDistCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoAereoTipoDist, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									        <td></td>
									    </tr>
									</table>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        			<label>3.4 Medio de transporte, tiempo y costo desde el municipio</label>
									<table class="table">
									    <tr>
									        <td></td>
									        <td>Dias</td>
									        <td>Horas</td>
									        <td>Minutos</td>
									        <td>Costo</td>
									        <td colspan="4">Descripcion del medio de acceso</td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34PeatonalEsMun, {'attr':{'class':''} }) }}
									        			Peatonal
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalMunDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalMunHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalMunMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34PeatonalMunCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									        <td></td>
									        <td></td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34VehicularEsMun, {'attr':{'class':''} }) }}
									        			Vehicular
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularMunDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularMunHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularMunMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34VehicularMunCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoMun1, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoMun2, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoVehicularTipoMun3, {'attr':{'class':'form-control'} }) }}
									        </td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34FluvialEsMun, {'attr':{'class':''} }) }}
									        			Fluvial
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialMunDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialMunHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialMunMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34FluvialMunCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoFluvialTipoMun1, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoFluvialTipoMun2, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									    </tr>
									    <tr>
									        <td>
									        	<div class="checkbox">
									        		<label>
									        			{{ form_widget(edit_form.n34AereoEsMun, {'attr':{'class':''} }) }}
									        			Aéreo
									        		</label>
									        	</div>
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoMunDias, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoMunHrs, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoMunMin, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34AereoMunCosto, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td>
									        	{{ form_widget(edit_form.n34InfraestructuraH1AccesoAereoTipoMun, {'attr':{'class':'form-control'} }) }}
									        </td>
									        <td></td>
									        <td></td>
									    </tr>
									</table>
                        		</div>
                        	</div>

                          </div>  <!-- end tab3 -->
                          <div class="tab-pane fade" id="tab1-4">
                          	<table class="table">
                          		<thead>
                          			<tr>
                          				<th>4.1 Unidad Educativa</th>
                          				<th>4.2 Subsistema / Ámbito</th>
                          				<th>4.3 Director</th>
                          				<th>4.4 Teléfono</th>
                          				<th>4.5 Tenencia</th>
                          				<th>4.6 Representante del consejo educativo social comunitario</th>
                          				<th>4.7 Ofrece BTH/Especialidad Técnica</th>
                          			</tr>
                          		</thead>
                          		<tbody>
                          			{% for unidad in ues %}
                          				<input type="hidden" name="uid[]" value="{{ unidad.id }}">
										<tr>
											<td>
												<input type="hidden" name="usie[]">
												{{ unidad.institucion }}
											</td>
											<td>{{ unidad.orgCurricularNombre }}</td>
											<td>{{ unidad.director }}</td>
											<td>
												<input type="text" name="utelefono[]" value="{{ unidad.telefono }}">
											</td>
											<td>
												<select name="utenencia[]">
													<option value="">Seleccionar...</option>
													{% for t in unidad.tenenciaTipo %}
													    <option value="{{ t.id }}" {% if t.id == unidad.tenencia %} selected {% endif %}>{{t.tenenciaTipo}}</option>
													{% endfor %}
												</select>
											</td>
											<td>
												<input type="hidden" name="upersona[]" id="{{ unidad.sie }}" value="{{ unidad.personaId }}">
												<span id="nombre_{{ unidad.sie }}">{{ unidad.persona }}</span>
												<button type="button" style="float:right" onclick="openModal({{ unidad.sie }},new String('{{ unidad.personaId }}'), new String('{{ unidad.persona }}'));">
													<i class="fa fa-search"></i>
												</button>
											</td>
											<td>
												<select name="ubth[]">
													<option value="">Seleccionar...</option>
													<option value="1" {% if unidad.bthEspecialidad == true %} selected {% endif %}>Si</option>
													<option value="2" {% if unidad.bthEspecialidad == false %} selected {% endif %}>No</option>
												</select>
											</td>
										</tr>
                          			{% endfor %}
                          		</tbody>
                          	</table>
                          </div>  <!-- end tab4 -->
                          <div class="tab-pane fade" id="tab1-5">
                              <div class="row">
                              	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              		<label>5.1 Observaciones</label>
                              		{{ form_widget(edit_form.n5Obs, {'attr':{'class':'form-control','rows':'7'} }) }}
                              	</div>
                              </div>
                          </div>  <!-- end tab5 -->
                      </div>
                  </div><!-- /.panel-body -->
                  <!--/ End tabs content -->
              </div><!-- /.panel -->
              <!--/ End color horizontal tabs -->
          </div>
      	</div>

      	{{ form_widget(edit_form) }}
      	{{ form_end(edit_form) }}
    </div>

	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"> <i class="fa fa-search"></i> Buscar persona</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<input type="text" class="form-control" id="bCarnet" placeholder="Carnet" maxlength="10">
						</div>
						<div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<input type="text" class="form-control" id="bComplemento" placeholder="Complemento">
						</div>
						<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<input type="text" class="form-control" id="bFechaNacimiento" placeholder="Fecha Nacimiento">
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<button type="button" class="btn btn-primary" onclick="buscarPersona()">Buscar</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div id="resultado" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; color: #6B88B0; background:#EEEEEE; padding:10px; padding-left: 20px;">
							No hay resultados
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button id="btnGuardar" type="button" class="btn btn-primary" onclick="actualizarPersona()" style="display:none">Actualizar representante</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

		var personaId;
		var personaNombre;
		var controlId;

		var personaIdResult;
		var personaNombreResult;

		$(function(){
			peatonal('Dist');
			peatonal('Mun');
			vehicular('Dist');
			vehicular('Mun');
			fluvial('Dist');
			fluvial('Mun');
			aereo('Dist');
			aereo('Mun');
		})

		$("#bFechaNacimiento").inputmask({ "alias": "dd-mm-yyyy" });
		$("#bComplemento").inputmask({mask: "9a"});
		$("#bCarnet").numeric("positiveInteger");

		function openModal(id, personaId, persona){

			controlId = id;
			personaId = personaId;
			personaNombre = persona;

			personaIdResult = '';
			personaNombreResult = '';

			$('#bCarnet').val('');
			$('#bComplemento').val('');
			$('#bFechaNacimiento').val('');
			$('#resultado').empty();

			$('#modal-id').modal('show');
			$('#btnGuardar').css('display','none');
		}

		function buscarPersona(){

			var bCarnet = $('#bCarnet').val();
			var bComplemento = $('#bComplemento').val();
			var bFechaNacimiento = $('#bFechaNacimiento').val();

			if(bCarnet != '' && bFechaNacimiento != ''){

				$.ajax({
					url: Routing.generate('infraestructurah1datosgenerales_buscarPersona', { carnet: bCarnet, fechaNacimiento: bFechaNacimiento, complemento: bComplemento }),
					type: 'get',
					beforeSend: function(){

						$('#resultado').empty();
						$('#resultado').append('<div><img src="{{asset("img/loading-sm.gif")}}"><br>Buscando resultados...</div');

					},
					success: function(data){

						$('#resultado').empty();

						if(data != null){
							personaIdResult = data.personaId;
							personaNombreResult = data.personaNombre;

							$('#resultado').append('<h4><small>Carnet:   </small>'+data.personaCarnet+'</h4><h4><small>Nombre: </small>'+data.personaNombre+'</h4>');
							$('#btnGuardar').css('display','inline-block');

						}else{
							personaIdResult = '';
							personaNombreResult = '';

							$('#resultado').append('<h4>No hay resultados</h4>');
							$('#btnGuardar').css('display','none');						
						}
						
					},
					error: function(data){
						$('#resultado').empty();
						$('#resultado').append('<h5>Verifique que los datos ingresados sean correctos e inténtelo nuevamente</h5>');
					}
				});
			}else{
				alert('Complete el numero de carnet y la fecha de nacimiento!!!')
			}
		}

		function actualizarPersona(){
			if(personaIdResult != '' && personaNombreResult != ''){ 
				personaId = personaIdResult;
				personaNombre = personaNombreResult;

				$('#'+controlId).val(personaId);
				$('#nombre_'+controlId).empty();
				$('#nombre_'+controlId).append(personaNombre);

				$('#modal-id').modal('hide');
			}
		}

		function fotoPreview(evt) {
			var files = evt.target.files; // FileList object

			// Obtenemos la imagen del campo "file".
			for (var i = 0, f; f = files[i]; i++) {
			//Solo admitimos imágenes.
			if (!f.type.match('image.*')) {
			    continue;
			}


			if(evt.target.id == 'sie_appwebbundle_infraestructurah1datosgenerales_filePrincipal'){
				var divContenedor = 'fotoPrincipal';
			}
			if(evt.target.id == 'sie_appwebbundle_infraestructurah1datosgenerales_fileFrontal'){
				var divContenedor = 'fotoFrontal';
			}
			if(evt.target.id == 'sie_appwebbundle_infraestructurah1datosgenerales_fileLateral'){
				var divContenedor = 'fotoLateral';
			}
			if(evt.target.id == 'sie_appwebbundle_infraestructurah1datosgenerales_filePanoramica'){
				var divContenedor = 'fotoPanoramica';
			}


			var reader = new FileReader();

			reader.onload = (function(theFile) {
			    return function(e) {
			      // Insertamos la imagen
			     document.getElementById(divContenedor).innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
			    };
			})(f);

			reader.readAsDataURL(f);
			}
        }

        document.getElementById('sie_appwebbundle_infraestructurah1datosgenerales_filePrincipal').addEventListener('change', fotoPreview, false);
        document.getElementById('sie_appwebbundle_infraestructurah1datosgenerales_fileFrontal').addEventListener('change', fotoPreview, false);
        document.getElementById('sie_appwebbundle_infraestructurah1datosgenerales_fileLateral').addEventListener('change', fotoPreview, false);
        document.getElementById('sie_appwebbundle_infraestructurah1datosgenerales_filePanoramica').addEventListener('change', fotoPreview, false);



		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34PeatonalEsDist').on('change', function(){
			peatonal('Dist');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34PeatonalEsMun').on('change', function(){
			peatonal('Mun');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34VehicularEsDist').on('change', function(){
			vehicular('Dist');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34VehicularEsMun').on('change', function(){
			vehicular('Mun');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34FluvialEsDist').on('change', function(){
			fluvial('Dist');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34FluvialEsMun').on('change', function(){
			fluvial('Mun');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34AereoEsDist').on('change', function(){
			aereo('Dist');
		});
		$('#sie_appwebbundle_infraestructurah1datosgenerales_n34AereoEsMun').on('change', function(){
			aereo('Mun');
		});

		function peatonal(lugar){
			if ($('#sie_appwebbundle_infraestructurah1datosgenerales_n34PeatonalEs'+lugar).is(':checked')) {
	           //$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').val('');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').removeAttr('readonly');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').attr('required','required');
	           //$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').val('');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').removeAttr('readonly');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').attr('required','required');
	           //$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').val('');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').removeAttr('readonly');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').attr('required','required');
	           //$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').val('');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').removeAttr('readonly');
	           $('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').attr('required','required');

	        }else{
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Dias').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Hrs').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Min').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Peatonal'+lugar+'Costo').removeAttr('required');

	        };
		}


		function vehicular(lugar){
			if ($('#sie_appwebbundle_infraestructurah1datosgenerales_n34VehicularEs'+lugar).is(':checked')) {
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').attr('required','required');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').attr('required','required');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'2').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'2').removeAttr('readonly');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'3').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'3').removeAttr('readonly');
	           

	        }else{
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Dias').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Hrs').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Min').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Vehicular'+lugar+'Costo').removeAttr('required');

	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').attr('readonly','readonly');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'1').removeAttr('required');

	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'2').val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'2').attr('readonly','readonly');

	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'3').val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoVehicularTipo'+lugar+'3').attr('readonly','readonly');

	        };
		}

		function fluvial(lugar){
			if ($('#sie_appwebbundle_infraestructurah1datosgenerales_n34FluvialEs'+lugar).is(':checked')) {
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').attr('required','required');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').attr('required','required');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'2').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'2').removeAttr('readonly');

	        }else{
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Dias').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Hrs').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Min').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Fluvial'+lugar+'Costo').removeAttr('required');

	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').attr('readonly','readonly');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'1').removeAttr('required');

	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'2').val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoFluvialTipo'+lugar+'2').attr('readonly','readonly');

	        };
		}

		function aereo(lugar){
			if ($('#sie_appwebbundle_infraestructurah1datosgenerales_n34AereoEs'+lugar).is(':checked')) {
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').attr('required','required');
				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').attr('required','required');

				//$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).val('');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).removeAttr('readonly');
				$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).attr('required','required');

	        }else{
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Dias').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Hrs').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Min').removeAttr('required');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').val('');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').attr('readonly','readonly');
	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34Aereo'+lugar+'Costo').removeAttr('required');

	        	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).val('');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).attr('readonly','readonly');
	           	$('#sie_appwebbundle_infraestructurah1datosgenerales_n34InfraestructuraH1AccesoAereoTipo'+lugar).removeAttr('required');

	        };
		}
	</script>
{% endblock %}
