{% extends 'layoutUniversity.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { top:0; bottom:0; width:100%; height: 300px; }
    </style>
{% endblock %}

{% block contentoption %}  
  <!-- Start page header -->
  <div class="header-content fixed-top">
      <h2>
          <i class="fa fa-home"></i>
          {% if titulo is defined  %}  {{ titulo }} {% endif %}
          <span>{% if subtitulo is defined  %}{{ subtitulo }} {% endif %}</span>
      </h2>
      <div class="breadcrumb-wrapper hidden-xs">
          <span class="label">Usted esta aquí:</span>
          <ol class="breadcrumb">
              <li>
                  <i class="fa fa-home"></i>
                  <a href="{{path('sie_university_homepage')}}">Inicio</a>
              </li>
          </ol>
      </div><!-- /.breadcrumb-wrapper -->
  </div><!-- /.header-content -->
  <!--/ End page header -->
    <!-- Start body content -->
  <div class="body-content animated fadeIn">
      <div class="row">
          <div class="col-lg-12">
              <div class="page-content">
                  {% for type, flashMessage in app.session.flashbag.all() %}
                      <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {% if flashMessage.title is defined %}
                              <strong><i class='fa fa-envelope'></i> {{ flashMessage.title }}: </strong>
                              {{ flashMessage.message }}
                          {% else %}
                              &nbsp;
                          {% endif %}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
      

  {% if usuario is defined %}
    {% set correo = usuario.persona.correo %}
    {% set telefono = usuario.persona.celular %}
    {% set username = usuario.username %}
    {% set nombre = usuario.persona.nombre ~ " " ~ usuario.persona.paterno ~ " " ~ usuario.persona.materno %}
  {% else %}  
    {% set correo = "" %}
    {% set telefono = "" %}
    {% set username = "" %}
    {% set nombre = "" %}
  {% endif %}  
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">    
            <form name="form" id="form" role="form" action="{{ path('sie_university_sede_index') }}" method="POST" onsubmit="return verificaCampos()">
                <input type="hidden" name="_token" value="{{ csrf_token('gestiones') }}">
                <input type="hidden" id="form_sede" name="form[sede]" value="{{sede.id|base64_encode}}">  
                <input type="hidden" id="form_gestion" name="form[gestion]" value="">             
            </form>            
            <ul class="nav nav-pills nav-stacked nav-email rounded">
                {% for gestion in gestiones %}
                    {% set id = gestion.id|base64_encode %}
                    {% set nombre = gestion.gestion %}
                    <li {%if datos.gestion == gestion.id %}class="active"{%endif%}>
                        <a href="javascript:void(0);" onclick="ingresoSedeGestion('{{id}}')">
                            {{nombre}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel shadow">
                        <div class="panel-heading text-center p-3 mb-2 bg-teal text-white">
                            <h4><span>{{ datos.gestion }}</span></h4>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div class="panel-sub-heading">
                            <div class="row inner-all">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <address>
                                        <i class="fa fa-phone"></i> <strong>Teléfono: </strong>{{datos.telefono}}<br>
                                        <i class="fa fa-mobile"></i> <strong>Celular: </strong>{{datos.celular}}<br>
                                        <i class="fa fa-phone-square"></i> <strong>Ref. Celular: </strong>{{datos.referenciaCelular}}<br>
                                        <i class="fa fa-calendar"></i> <strong>Inicio Calendario Académico: </strong>{{datos.inicioCalendarioAcademico}}<br>
                                        <i class="fa fa-envelope-o"></i> <strong>Correo: </strong>{{datos.correo}}<br>
                                        <i class="fa fa-fax"></i> <strong>Fax: </strong>{{datos.fax}}<br>
                                        <i class="fa fa-home"></i> <strong>Casilla: </strong>{{datos.casilla}}<br>
                                        <i class="fa fa-tag"></i> <strong>Sitio: </strong>{{datos.sitio}}<br>
                                        <i class="fa fa-globe"></i> <strong>Departamento: </strong>{{datos.departamento.lugar}}<br>
                                        <i class="fa fa-map-signs"></i> <strong>Provincia: </strong>{{datos.provincia.lugar}}<br>
                                        <i class="fa fa-map-marker"></i> <strong>Municipio: </strong>{{datos.municipio.lugar}}<br>
                                        <i class="fa fa-map-pin"></i> <strong>Comunidad: </strong>{{datos.comunidad.lugar}}<br>
                                        <i class="fa fa-map-o"></i> <strong>Zona: </strong>{{datos.correo}}<br>
                                        <i class="fa fa-ticket"></i> <strong>Dirección: </strong>{{datos.fax}}<br>
                                        <i class="fa fa-map"></i> <strong>Latitud: </strong>{{datos.latitud}}<br>
                                        <i class="fa fa-map"></i> <strong>Longitud: </strong>{{datos.longitud}}
                                    </address>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                                                              
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            {% if editar %}
                                <a href="javascript:void(0);" class="btn btn-primary btn-block" onclick="ingresoSedeSucursal('{{datos.info}}')" data-toggle="modal" data-target="#modal">Modificar</a>
                            {% else %} 
                                <a href="javascript:void(0);" class="btn btn-success btn-block" onclick="ingresoSedeSucursal('{{datos.info}}')" data-toggle="modal" data-target="#modal">Registrar</a>
                            {% endif %} 
                        </div><!-- /.panel-heading -->
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!--/ End body content -->

{% endblock %}
{% block javascripts%}
{{parent()}}
<script>

    var ingresoSedeSucursal = function (info){
        $.ajax({
            type: 'post',
            url: Routing.generate('sie_university_sede_form', {'info': info}),
            beforeSend: function () {
                $("#modalBody").empty();
                $("#modalBody").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading img-responsive" /></div>');
            },
            success: function (data) {      
                $("#modalBody").empty();  
                $("#modalBody").html(data);                  
            },
            error: function(error){          
                $("#modalBody").empty();           
                $("#modalBody").append('<div class="text-center">Error</div>');   
            },
        });     
    };


    {% if datos.latitud != "" %}
        mapboxgl.accessToken = 'pk.eyJ1IjoianVybGFuIiwiYSI6ImNqd3RkNjZjYzAxd2k0MGw1a3A4dmJuZjIifQ.hcnCGlBc18MaYfIFG22P-Q'; // Nuestro Token de acceso
        var map = new mapboxgl.Map({
            container: 'map', // id del contenedor
            style: 'mapbox://styles/mapbox/streets-v9', // localización del mapa de estilo
            center: [{{datos.latitud}},{{datos.longitud}}], // Posición inicial
            zoom: 13 // Zoom inicial
        });
        new mapboxgl.Marker().setLngLat([{{datos.latitud}},{{datos.longitud}}]).addTo(map);
    {% endif %}


    var ingresoSedeGestion = function (ges){
        var formGestion = $('#form_gestion');
        var formulario = $('#form')[0];
        formGestion.val(ges);
        if (formGestion.val() == ""){
          alert("Debe seleccionar una gestión válida");
          return false;
        }  
        formulario.submit();      
        return true;
    };

</script>
{% endblock %}