{% extends 'layoutUniversity.html.twig' %}
{% block contentoption %}  
  <!-- Start page header -->
  <div class="header-content fixed-top">
      <h2>
          <i class="fa fa-home"></i>
          {% if titulo is defined  %}  {{ titulo }} {% endif %}
          <span>{% if subtitulo is defined  %}{{ subtitulo }} {% endif %}</span>
      </h2>
      <div class="breadcrumb-wrapper hidden-xs">
          <span class="label">Usted esta aquí:</span>
          <ol class="breadcrumb">
              <li>
                  <i class="fa fa-home"></i>
                  <a href="{{path('sie_university_homepage')}}">Inicio</a>
              </li>
          </ol>
      </div><!-- /.breadcrumb-wrapper -->
  </div><!-- /.header-content -->
  <!--/ End page header -->
    <!-- Start body content -->
  <div class="body-content animated fadeIn">
      <div class="row">
          <div class="col-lg-12">
              <div class="page-content">
                  {% for type, flashMessage in app.session.flashbag.all() %}
                      <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {% if flashMessage.title is defined %}
                              <strong><i class='fa fa-envelope'></i> {{ flashMessage.title }}: </strong>
                              {{ flashMessage.message }}
                          {% else %}
                              &nbsp;
                          {% endif %}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
      

  {% if usuario is defined %}
    {% set correo = usuario.persona.correo %}
    {% set telefono = usuario.persona.celular %}
    {% set username = usuario.username %}
    {% set nombre = usuario.persona.nombre ~ " " ~ usuario.persona.paterno ~ " " ~ usuario.persona.materno %}
  {% else %}  
    {% set correo = "" %}
    {% set telefono = "" %}
    {% set username = "" %}
    {% set nombre = "" %}
  {% endif %}  
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="panel rounded shadow">
                <div class="panel-body">
                    <div class="inner-all">
                        <ul class="list-unstyled">
                            <li class="text-center">
                                <img data-no-retina="" class="img-circle img-bordered-primary" src="{{asset('user.png')}}" alt="usuario" width="100px" height="100px">
                            </li>
                            <li class="text-center">
                                <h4 class="text-capitalize">{{username}}</h4>
                                <p class="text-capitalize">{{nombre}}</p>
                            </li>
                            <li><br></li>
                            <li>
                                <div class="btn-group-vertical btn-block">
                                    <!-- <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Editar cuenta</a> -->
                                    <a href="{{path('logout')}}" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Cerrar sessión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.panel -->

            <div class="panel rounded shadow">
                <div class="panel-body no-padding rounded">
                    <ul class="list-group no-margin">
                        <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{correo}}</li>
                        <li class="list-group-item"><i class="fa fa-phone mr-5"></i> {{telefono}}</li>
                    </ul>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel shadow">
                        <div class="panel-heading">
                            <div id="tour-12" class="pull-left">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> Notificaciones</h3>
                            </div>
                            <div class="pull-right">
                                <div class="btn-green date-picker">                            
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel shadow">
                        <div class="panel-heading">
                            <div id="tour-12" class="pull-left">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> Notificaciones</h3>
                            </div>
                            <div class="pull-right">
                                <div class="btn-green date-picker">                            
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div><!-- /.panel-heading -->
                        <div id="tour-15" style="display: block;" class="panel-body">
                        </div><!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!--/ End body content -->

{% endblock %}
{% block javascripts%}
{{parent()}}
<script>

    var ingresoGestion = function (gestion){
        var formGestion = $('#form_gestion');
        var formulario = $('#form')[0];
        formGestion.val(gestion);
        formulario.submit(); 
        if (formGestion.val() == ""){
          alert("Debe seleccionar una gestión válida");
          return false;
        }       
        return true;
    };

</script>
{% endblock %}