{% extends 'layoutOlimpiadas.html.twig' %}

{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-file-text-o"></i> Olimpiadas <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    
                    <a href="{{ path('olimregistroolimpiada')}}"> Olimpiadas</a>
                    
                    <i class="fa fa-angle-right"></i>
                </li>


            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-12">
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('olimregistroolimpiada_new') }}" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Crear
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table records_list">
                            <thead>
                                <tr>
                                    {# <th>Id</th> #}
                                    <th>Nombre</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha fin</th>
                                    <th>Gestión</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    {# <td>{{ entity.id }}</td> #}
                                    <td>{{ entity.nombreOlimpiada }}</td>
                                    <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                                    <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ entity.gestionTipo.id }}</td>
                                    <td>
                                        <a href="{{ path('olimregistroolimpiada_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="fa fa-pencil"></i> 
                                        </a>
                                        <form action="{{ path('olimregistroolimpiada_delete') }}" method="post" style="display:inline-block; margin-left:-5px;" onsubmit="return confirm('¿Realmente desea eliminar el registro?'); ">
                                            <input type="hidden" name="id" value="{{ entity.id }}">
                                            <button type="submit" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                <i class="fa fa-times"></i>    
                                            </button>
                                        </form>
                                        <a href="{{ path('olimmateriatipo', { 'id': entity.id }) }}" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Configuración de opciones">
                                            <i class="fa fa-list"></i>
                                        </a>
                                        <button onclick="reporteOlimpiada({{entity.gestionTipo.id}})" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Generar archivos para descargar" id="buildBtn"><i class="fa fa-cog"></i></button>
                                        <a href="{{path('download_archs_olimpiadas_txt')}}" style="display:none;" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Descargar archivos generados" id="downloadBtn"><i class="fa fa-download"></i></a>
                                        <!--ROBÓTICA-->
                                        <button onclick="reporteOlimpiadaRobotica({{entity.gestionTipo.id}})" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Robótica: Generar archivos para descargar" id="buildBtnR"><i class="fa fa-cog"></i></button>
                                        <a href="{{path('download_archs_olimpiadas_robotica_txt')}}" style="display:none;" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Robótica: Descargar archivos generados" id="downloadBtnR"><i class="fa fa-download"></i></a>
                                        <div style="display:inline-block;" id="build"></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
    var reporteOlimpiada = function(gestion){
        $.ajax({
            type: 'post',
            url: Routing.generate('build_archs_olimpiadas_txt', {'gestion': gestion}),

            beforeSend: function () {
                $("#buildBtn").blur();
                $("#buildBtn").attr('disabled', true);
                $("#buildBtn").hide();
                $("#build").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:25px;" /></div>');  
            },
            success: function () {
                $("#build").empty();
                $("#build").append('<span class="text-success">¡Correcto!</span>');
                $("#buildBtn").removeAttr('disabled');
                $("#buildBtn").hide();
                $("#downloadBtn").show();
            },
            error: function () {
                $("#build").empty();
                $("#build").append('<span class="text-danger">¡Error!</span>');
                $("#buildBtn").removeAttr('disabled');
                $("#buildBtn").show();
            }
        });
    };

    //ROBÓTICA
    var reporteOlimpiadaRobotica = function(gestion){
        $.ajax({
            type: 'post',
            url: Routing.generate('build_archs_olimpiadas_robotica_txt', {'gestion': gestion}),

            beforeSend: function () {
                $("#buildBtnR").blur();
                $("#buildBtnR").attr('disabled', true);
                $("#buildBtnR").hide();
                $("#build").append('<div class="text-center"><img src="{{asset('img/loading.gif')}}" class="loading" style="width:25px;" /></div>');  
            },
            success: function () {
                $("#build").empty();
                $("#build").append('<span class="text-success">¡Correcto!</span>');
                $("#buildBtnR").removeAttr('disabled');
                $("#buildBtnR").hide();
                $("#downloadBtnR").show();
            },
            error: function () {
                $("#build").empty();
                $("#build").append('<span class="text-danger">¡Error!</span>');
                $("#buildBtnR").removeAttr('disabled');
                $("#buildBtnR").show();
            }
        });
    };
    </script>
{% endblock %}
