{% extends 'layoutOlimpiadas.html.twig' %}

{% block contentoption %}
    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-file-text-o"></i> Crear olimpiada <span></span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a href="{{ path('olimregistroolimpiada')}}"> Olimpiadas</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">
                    <i class="fa fa-angle-right"></i>
                    Crear
                </li>
            </ol>
        </div><!-- /.breadcrumb-wrapper -->
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-12">
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Datos olimpiada</h3>
                        </div>
                        <div class="pull-right">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
						
						{{ form_start(form) }}
							<div class="row">
								<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<label>Nombre</label>
									{{ form_widget(form.nombreOlimpiada, {'attr':{'class':'form-control'} }) }}
								</div>
								<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<label>Fecha inicio</label>
									{{ form_widget(form.fechaInicio, {'attr':{'class':'form-control'} }) }}
								</div>
								<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<label>Fecha final</label>
									{{ form_widget(form.fechaFin, {'attr':{'class':'form-control'} }) }}
								</div>
								<div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<label>Gestión</label>
									{{ form_widget(form.gestionTipo, {'attr':{'class':'form-control'} }) }}
								</div>
							</div>
							<button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Registrar </button>
							<a href="{{path('olimregistroolimpiada')}}" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancelar </a>
						{{ form_end(form) }}
                    </div><!-- /.panel-body -->
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">

        $(function(){
            // aplicamos las mascaras para las fechas
            $("#sie_appwebbundle_olimregistroolimpiada_fechaInicio").inputmask({ "alias": "dd-mm-yyyy" });
            $("#sie_appwebbundle_olimregistroolimpiada_fechaFin").inputmask({ "alias": "dd-mm-yyyy" });
        });
        
    </script>
{% endblock %}
