{% extends 'SieAppWebBundle:Default:sie.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet">
{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Inscripci칩n de Estudiantes
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('estudianteinscripcion')}}">{{ app.session.get('tituloTipo') }}</a>
                    </li>
                    <li class="active">Editar</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('errorEstudiante') %}
                <div class="alert alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %} 
            {% for flashMessage in app.session.flashbag.get('errorInscripcion') %}
                <div class="alert alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- Website Stats  Widget -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Editar Inscripci칩n</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            
                            {{form_start(formConRude, { 'attr': {'data-toggle': 'validator','role': "form"} } )}}
                            <fieldset><legend>1. Instituci칩n Educativa</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.codigoIns)}}
                                        {{form_widget(formConRude.codigoIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{form_label(formConRude.nombreIns)}}
                                        {{form_widget(formConRude.nombreIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.sucursalIns)}}
                                        {{form_widget(formConRude.sucursalIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <filedset><legend>2. Datos del Estudiante</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.rude)}}
                                        {{form_widget(formConRude.rude,{'attr':{'onkeyup':'buscarEstudiante(this.value)'} }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.paterno)}}
                                        {{form_widget(formConRude.paterno) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.materno)}}
                                        {{form_widget(formConRude.materno) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.nombre)}}
                                        {{form_widget(formConRude.nombre) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.fechaNacimiento)}}
                                        {{form_widget(formConRude.fechaNacimiento) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </filedset>
                            <fieldset><legend>3. Nivel A침o/Grado escolar de la o el Estudiante</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.nivel)}}
                                        {{form_widget(formConRude.nivel,{ 'attr':{'onchange':'gradosMostrar(this.value)'}  }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.grado)}}
                                        {{form_widget(formConRude.grado) }}    
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.paralelo)}}
                                        {{form_widget(formConRude.paralelo) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.turno)}}
                                        {{form_widget(formConRude.turno) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.periodo)}}
                                        {{form_widget(formConRude.periodo)}}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.fechaInscripcion)}}
                                        <div id="sandbox-container">
                                            {{form_widget(formConRude.fechaInscripcion)}}
                                        </div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-lg-12 text-center">
                                    {{ form_widget(formConRude.guardar ) }}
                                    <a href="{{path('estudianteinscripcion')}}" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                            {{form_end(formConRude)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/jquery-ui.min.js')}}"></script>
    <script>
        function gradosMostrar(nivel) {
            $.ajax({
                type: 'get',
                url: Routing.generate('listargrados', {'nivel': nivel}),
                beforeSend: function () {
                    $("#form_grado").empty();
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    //$("#form_grado").attr('disabled', 'disabled');
                },
                success: function (data) {
                    $("#form_grado").empty();
                    //$("#form_grado").removeAttr('disabled');
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $.each(data.listagrados, function (i, value) {
                        $("#form_grado").append('<option value="' + i + '">' + value + '</option>');
                    });
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }
        
    </script>
{% endblock %}



