{% if areasNivel is not empty %}

<div id="wizard">
    <ol>
        <li>Seleccionar Áreas</li>
        <li>Asignar Maestros</li>
    </ol>
    <div id="step1">
        <div class="checkbox" style="display:none">
            <label class="label green">Marcar Todos
            <input type="checkbox" name="marcarTodos" id="marcarTodos" onclick="marcarTodasAreas()">
            </label>
        </div>
        <div class="alert-info"><i class="fa fa-info-circle"></i> Seleccione las áreas que desea adicionar al curso, luego presione siguiente</div>
        <div id="no-more-tables">
        <table class="table table-bordered cf">
            <thead class="cf"> 
                <tr>
                    <th></th>
                    {% if esvisual == false %}
                        <th>Campo</th>
                        <th>Código</th>
                    {% endif %}
                    {% if progSer %}
                        <th>{{progSer}}</th>
                    {% else %}
                        <th>Área</th>
                    {% endif %}    
                </tr>
            </thead>
            <tbody>
                {% for areas in areasNivel %}
                    <tr {% if areas.bloqueado == '' %} class='' {% endif %}>
                        <td data-title="">
                            <div class="checkbox {{areas.bloqueado}}">
                                <label>
                                <input type="checkbox" name="areas[]" {{areas.marcado}} value="{{areas.codigo}}" {{areas.bloqueado}} class="form-control" onclick="cargarMaestro(this,this.value)">
                                </label>
                            </div>
                        </td>
                        {% if esvisual == false %}
                            <td data-title="Campo">{{areas.campo}}</td>
                            <td data-title="Código">{{areas.codigo}}</td>
                        {% endif %}
                        {% if areas.programaServicio %}
                            <td data-title='Área'>{{areas.programaServicio}}</td>
                        {% else %}
                            <td data-title='Área'>{{areas.asignatura}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div id="step2">
        <div class="row">
            <div class="col-md-12s">
                <div id="divAdicionMaestros" style="display:none">
                    <div class="alert-info"><i class="fa fa-info-circle"></i>
                        NOTA: Debe asignar el(los) maestro(s) a las áreas adicionadas.
                    </div>
                    <div class="row" id="modalidadCasa" style="display: none">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="centro_educativo">Código SIE</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="centro_educativo" autocomplete="off">
                                    <span class="input-group-addon" onclick="getMaestros()" style="cursor: pointer;"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="maestro_responsable">Maestro responsable</label>
                                <select class="chosen-select form-control" id="maestro_responsable" name="maestro_responsable">
                                    <option value="" disabled selected>Seleccione...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="no-more-tables">
                        <table class="table table-bordered cf" id="tablaAdicionMaestros">
                            <thead class="cf"> 
                                <tr>
                                     {% if progSer %}
                                        <th class="col-lg-4">{{progSer}}</th>
                                    {% else %}
                                        <th class="col-lg-4">Área</th>
                                    {% endif %} 
                                    <th class="col-lg-8">Maestro</th>            
                                </tr>
                            </thead>
                            <tbody>
                                {% for areas in areasNivel %}
                                    <tr id="fila{{areas.codigo}}" style="display:none">
                                        {% if areas.programaServicio %}
                                            <td data-title='Área'>{{areas.programaServicio}}</td>
                                        {% else %}
                                            <td data-title='Área'>{{areas.asignatura}}</td>
                                        {% endif %}
                                        <td data-title="Maestro">
                                            <select name="{{areas.codigo}}" id="{{areas.codigo}}" class="chosen-select form-control">
                                                <option value="">Seleccionar...</option>
                                                {% for ma in maestros %}
                                                    <option value="{{ma.id}}">{{ma.paterno}} {{ma.materno}} {{ma.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="text-align: right">
                    <button type="submit" class="btn btn-success" id="btnsave" onclick="return confirm('¿Está completamente segura/o de agregar el curso?, Nota: Una vez agregado no se puede eliminar.')"><i class="fa fa-save fa-fw"></i>Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.chosen-select').chosen({allow_single_deselect:false});
        $("#maestro_responsable").chosen({allow_single_deselect:false});
    });

    $('#wizard').bwizard();
    function cargarMaestro(control,curso){
        if(control.checked == true){
            $("#fila" +curso).css('display','table-row');
            $("#"+curso).attr('required','required');
        }else{
            $("#fila" +curso).css('display','none');
            $("#"+curso).removeAttr('required');
        }
        if ($('#tablaAdicionMaestros >tbody >tr').length == 0){
            $('#divAdicionMaestros').css('display','none');
        }else{
            $('#divAdicionMaestros').css('display','block');
        }
    }
    $('#centro_educativo').on('keypress',function(e) {
        if(e.which == 13) {
            e.preventDefault();
            getMaestros();
        }
    });
    function getMaestros() {
        var centro = $('#centro_educativo').val();
        if (centro == '') {
            $('#centro_educativo').focus();
        } else {
            $.ajax({
                type: 'post',
                url: Routing.generate('area_especial_listar_maestros_resp'),
                data: {'centro_educativo': centro},
                dataType: "json",
                beforeSend: function () {
                    $("#maestro_responsable").empty();
                    $("#maestro_responsable").append('<option value="">Buscando...</option>');
                    $("#maestro_responsable").trigger("chosen:updated");
                },
                success: function (data) {
                    $("#maestro_responsable").empty();
                    $("#maestro_responsable").append('<option value="" disabled selected>Seleccione...</option>');
                    $.each(data.maestros, function (i, value) {
                        $("#maestro_responsable").append('<option value="' + i + '">' + value + '</option>');
                    });
                    $("#maestro_responsable").trigger("chosen:updated");
                }
            });
        }
    }
</script>
{% else %}
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i> No hay áreas que adicionar al curso
    </div>
{% endif %}