{% extends 'layoutEspecialSie.html.twig' %}
{% block contentoption %}

<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-table"></i> Asignación Área/Maestro <span>Buscar</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted esta aquí:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Asignación Área/Maestro</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li class="active">Buscar</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->
<div class="body-content animated fadeIn">

    {% if institucion %}
        {% include 'SieEspecialBundle:Principal:infoue.html.twig' with {'titulo': 'Asignación Área/Maestro', 'gestion': gestion,'sie': institucion.id, 'ieducativa':institucion.institucioneducativa, 'opcion': 'Buscar'} %}
    {% else %}
        {% include 'SieEspecialBundle:Principal:infoue.html.twig' with {'titulo': 'Asignación Área/Maestro', 'gestion': gestion,'sie': '-1', 'ieducativa':'-1', 'opcion': 'Buscar'} %}
    {% endif %}
    {% include 'SieEspecialBundle:Principal:onlyview.html.twig'%}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('noSearch') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('noTuicion') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Buscar Institución Educativa</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Tomar en cuenta que:</strong> Únicamente se asignará Maestros a las Áreas de Visual, Auditiva, Múltiple e Intelectual.
                            </div>
                        </div>
                    </div>
                        {{form_start(form, { 'attr': {'data-toggle': 'validator','role': "form",'class':'form-horizontal'} } )}}
                            <div class="form-group">
                                <label for="form_codigoRude" class="col-sm-2 control-label">Código SIE</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.institucioneducativa,{ 'attr':{'class': 'form-control jnumbers','placeholder':'SIE Intitución Educativa','pattern':'[0-9]{7,9}'}  }) }}
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="form_area" class="col-sm-2 control-label">Área de Especial</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.area )}}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Gesti&oacute;n</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.gestion,{ 'attr':{'class': 'form-control','placeholder':''}  }) }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">

                                    {{ form_widget(form.buscar,{ 'attr':{'class':'btn btn-primary' } } ) }}
                                </div>
                            </div>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
