{% extends 'layoutPermanente.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/chosen.css')}}" rel="stylesheet">

{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>{{ app.session.get('tituloTipo') }}
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>  <a href="{{path('carrerastecnica')}}">{{ app.session.get('tituloTipo') }}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('newOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('newError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('updateError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteOk') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('deleteError') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-{{ app.session.get('sysporlet') }}">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{ app.session.get('tituloTipo') }}</h4>
                    </div>
                    <div class="portlet-widgets">
                        {% if 1 == 2 %}
                        <a href="{{ path('carrerastecnica_new') }}" class="btn btn-xs btn-green"><i class="fa fa-plus-circle"></i> Nuevo</a>
                        {% endif %}
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelmaestro"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelmaestro" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-primary">
                            {% if carreras is not empty %}
                                <table class="table table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Curso o Programa</th>
                                            <th>Descripción</th>
                                            <th>Org. Curricular</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ca in carreras %}
                                            <tr>
                                                <td>{{ca.codigo}}</td>
                                                <td>{{ca.carrera}}</td>
                                                <td>{{ca.descripcion}}</td>
                                                <td>{{ca.orgcurricularTipo}}</td>
                                                <td>
                                                    {% if 1 == 2 %}
                                                    <form action="{{path('carrerastecnica_edit')}}" method="post" style="display: inline-block">
                                                        <input type="hidden" name="idCarrera" value="{{ca.id}}">
                                                        <button type="submit" class="btn-link"><i class="fa fa-edit"></i> Editar</button>
                                                    </form>
                                                    <form action="{{path('carrerastecnica_delete')}}" method="post" style="display: inline-block">
                                                        <input type="hidden" name="idCarrera" value="{{ca.id}}">
                                                        <button type="submit" class="btn-link" onclick="return confirm('Se eliminara el registro!. ¿Desea continuar?');"><i class="glyphicon glyphicon-trash"></i> Eliminar</button>
                                                    </form>
                                                    {% endif %}
                                                    <form action="{{path('carrerastecnica_especialidades')}}" method="post" style="display: inline-block">
                                                        <input type="hidden" name="idCarrera" value="{{ca.id}}">
                                                        <button type="submit" class="btn-link"><i class="glyphicon glyphicon-list"></i> Cursos</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </body>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
           
{% endblock %}