
{% if exist == true %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Unidad Educativa: {{objUe.institucioneducativa}}</h3>
        </div><!-- /.panel-heading -->
        <div class="panel-body">

            <p> Niveles Autorizados para realizar la inscripción </p>
            <p>
                {%for infoue in levelAutorizados%}

                    <code>{{infoue.nivel}}</code><br>

                {% endfor%}
            </p>
            <p> Tiene un lapzo de 30 dias calendario para realizar la regularización de su documentación </p>


        </div><!-- /.panel-body -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel rounded shadow panel-lilac">
                <div class="panel-heading">
                    <h3 class="panel-title">Nieveles: </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover cf">
                            <tr >
                                {% for data in objLevels%}
                                    <td class="success">
                                        <a href="#" onclick="getGrados('{{data.nivelTipo}}', '{{sie}}', '{{gestion}}', '{{data.nivel}}', '{{typeInscription}}');" ><span class="fa fa-caret-square-o-down"></span> {{data.nivel}}</a>
                                    </td>
                                {%endfor%}
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- /.row -->
{%else%}

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('warninresult') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class='fa fa-linux'></i></strong> {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
    </div>
{%endif%}

<script>


</script>

