<div class="modal-dialog">
    <div class="modal-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modificar datos</h4>
            </div>
            <div class="panel-body">
                {{ form_start(form,{ 'attr': {'class': 'tab-content form-horizontal','id':'form_edit_tarea','onsubmit':'return false;'} } ) }}
                <div class="form-group">
                    <label class="col-sm-4">Rol</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.rol_edit, {'attr':{'class':'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Observación</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.observacion_edit, {'attr':{'class':'form-control'} }) }}                                                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Tipo de asignación de tarea</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.asignacion_edit, {'attr':{'class':'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Evaluación</label>
                    <div class="col-md-8">
                        {{ form_widget(form.evaluacion_edit, {'attr':{'class':'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Variable de valuación</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.varevaluacion_edit, {'attr':{'class':'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Plazo</label>
                    <div class="col-sm-2">
                        {{ form_widget(form.plazo_edit, {'attr':{'class':'form-control validar'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Ruta de la tarea</label>
                    <div class="col-md-8">
                        {{ form_widget(form.ruta_edit, {'attr':{'class':'form-control'} }) }}
                    </div>
                </div>
                {{ form_end(form) }}  
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="guardarEditTarea()">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
            $(function(){
            $(".validar").keydown(function(event){
            //alert(event.keyCode);
                if((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !==190  && event.keyCode !==110 && event.keyCode !==8 && event.keyCode !==9  ){
                    return false;
                }
            });
        });
</script>