{% if app.session.flashBag.has('exito') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('exito') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %} 

<table class="table table-striped table-primary" id="tablacondicion">
    <thead>
        <tr>
            {#<th>id_tarea</th>#}
            <th>Tarea</th>
            <th>Condición</th>
            <th>Tarea siguiente</th>
            <th>Tipo de condición</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tbodycondicion">
        {% for condicion in condiciones %}
        <tr>
            {#<td>{{ condicion.id }}</td>#}
            <td>{{ condicion.proceso_tipo }}</td>
            <td>{{ condicion.condicion }}</td>
            <td>{{ condicion.condicion_tarea_siguiente}}</td>
            <td>{{ condicion.tipo_compuerta }}</td>
            <td>
                <a href="{{ path('flujotipo_edit', { 'id': condicion.id }) }}" class="btn btn-primary btn-xs text-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{{ path('flujotipo_delete', { 'id': condicion.id }) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="return confirm('¿Esta suguro de eliminar?')">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>