{% if app.session.flashBag.has('exito') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('exito') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %}
<div id="msg">
</div>
<div class="table-responsive col-md-12">
<table class="table table-bordered table-striped table-primary" id="tabla_p">
    <thead>
        <tr>
                    {#<th>id_proceso</th>#}
                    <th>id_tarea</th>
                    <th>Tarea</th>
                    <th>Rol</th>
                    <th>Observacion</th>
                    {#<th>Nro. Orden</th>#}
                    <th>Tipo de asignacion</th>
                    <th>Evaluación</th>
                    <th>Variable Evaluación</th>
                    <th>Tarea Anterior</th>
                    <th>Tarea siguiente</th>
                    <th>Plazo(dias)</th>
                    <th>Ruta</th>
                    <th>Acciones</th>                                        
            </tr>
    </thead>
    <tbody id="tablatarea">
        
        {% for tarea in tareas %}
        <tr>
            <td>{{tarea.id}}</td>
            <td>{{tarea.proceso_tipo}}</td>
            <td>{{tarea.rol}}</td>
            <td>{{tarea.obs}}</td>
            <td>{{tarea.nombre}}</td>
            <td>
                {% if tarea.es_evaluacion =="1" %}
                    SI
                {% else %}
                    NO
                {% endif %}
            </td>
            <td>{{tarea.variable_evaluacion}}</td>
            <td>{{tarea.tarea_ant}}</td>
            <td>{{tarea.tarea_sig}}</td>
            <td>{{tarea.plazo}}</td>
            <td>{{tarea.ruta_formulario}}</td>
            <td>
                <a class="btn btn-primary btn-xs text-primary" data-toggle="modal" data-target="#modal" data-placement="top" title="Editar" onclick="ediatartarea({{tarea.id}})">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="eliminartarea({{tarea.id}})">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>