{% if app.session.flashBag.has('exito') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('exito') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
        {% endfor %}
    </div>
{% endif %} 

<table class="table table-striped table-primary" id="t_pasos">

    <thead>
        <tr>
            <th>id Tarea</th>
            <th>Tarea</th>
            <th>Paso</th>
            <th>Posición</th>
            <th>Tipo de paso</th>
            <th></th>
        </tr>
    </thead>
    <tbody id = "tbodypaso">
        {% for paso in pasos %}
        <tr>
            <td>{{paso.id}}</td>
            <td>{{paso.proceso_tipo}}</td>
            <td>{{paso.paso}}</td>
            <td>{{paso.posicion}}</td>
            <td>{{paso.tipo_paso}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>