{% extends 'layoutEspecialSie.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet">
{% endblock %}
{% block contentoption %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Inscripción de Estudiantes
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-user"></i>  <a href="{{path('estudianteinscripcion_especial',{'op':'result'})}}">{{ app.session.get('tituloTipo') }}</a></li>
                    <li class="active">Editar</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('errorEstudiante') %}
                <div class="alert alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %} 
            {% for flashMessage in app.session.flashbag.get('errorInscripcion') %}
                <div class="alert alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <!-- Website Stats  Widget -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-red">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Editar Inscripción</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="basic-form-elements.html#panelinstitucion"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="panelinstitucion" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="panel-body panel-teal">
                            {{form_start(formConRude, { 'attr': {'data-toggle': 'validator','role': 'form', 'onsubmit': 'return confirm("Es probable que usted haya modificado los datos de inscripción de la o el estudiante, en este caso se perderán las calificaciones asociadas. ¿Está segura/o de realizar los cambios?");'} } )}}
                            <fieldset><legend>1. Institución Educativa</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.codigoIns)}}
                                        {{form_widget(formConRude.codigoIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        {{form_label(formConRude.nombreIns)}}
                                        {{form_widget(formConRude.nombreIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
{#                                    
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.sucursalIns)}}
                                        {{form_widget(formConRude.sucursalIns) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
#}                                    
                                </div>
                            </fieldset>
                            <filedset><legend>2. Datos del Estudiante</legend>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{form_label(formConRude.rude)}}
                                        {{form_widget(formConRude.rude,{'attr':{'onkeyup':'buscarEstudiante(this.value)'} }) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.paterno)}}
                                        {{form_widget(formConRude.paterno) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.materno)}}
                                        {{form_widget(formConRude.materno) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.nombre)}}
                                        {{form_widget(formConRude.nombre) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6">
                                        {{ form_label(formConRude.fechaNacimiento)}}
                                        {{form_widget(formConRude.fechaNacimiento) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </filedset>
                                    <fieldset><legend>3. Nivel Año/Grado escolar de la o el Estudiante</legend>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.area)}}
                                                {{form_widget(formConRude.area) }}
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.turno)}}
                                                {{form_widget(formConRude.turno,{ 'attr':{'onchange':'cargarNiveles1()'}  }) }}
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.nivel)}}
                                                {{form_widget(formConRude.nivel,{ 'attr':{'onchange':'cargarGrados1()'}  }) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.grado)}}
                                                {{form_widget(formConRude.grado,{ 'attr':{'onchange':'cargarServicios1()'}}) }}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.servicio)}}
                                                {{form_widget(formConRude.servicio, { 'attr':{'onchange':'cargarProgramas1()'}}) }}
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.programa)}}
                                                {{form_widget(formConRude.programa,{ 'attr':{'onchange':'cargarParalelos1()'}})}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.paralelo)}}
                                                {{form_widget(formConRude.paralelo) }}
                                                <div class="help-block with-errors"></div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.periodo)}}
                                                {{form_widget(formConRude.periodo)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.fechaInscripcion)}}
                                                <div id="sandbox-container">
                                                    {{form_widget(formConRude.fechaInscripcion)}}
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
{#                                            
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.modalidadAtencion)}}
                                                <div id="sandbox-container">
                                                    {{form_widget(formConRude.modalidadAtencion)}}
                                                </div>
                                                <div class="help-block with-errors"></div>
                                           </div>
 #}  
                                        </div>
                                                    {#
                                            <div class="form-group col-lg-12 col-md-6">
                                                {{form_label(formConRude.servicio)}}
										        <ul>
										        {% for r in formConRude.servicio %}
										            <div>
										                {{ form_widget(r) }}
										                {{ form_label(r) }}
										            </div>
										        {% endfor %}    
										        </ul>
  
                                                <div class="help-block with-errors"></div>
                                            </div>
#}

                                    </fieldset>

                                    {% if app.session.get('idArea') == 6 %}
                                    <fieldset><legend>5. Datos de Inscripción (Dificultades de Aprendizaje)</legend>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.dificultadAprendizaje)}}
                                                {{form_widget(formConRude.dificultadAprendizaje) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.evaluacionPedagogica)}}
                                                {{form_widget(formConRude.evaluacionPedagogica)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.codigoPedagogico)}}
                                                {{form_widget(formConRude.codigoPedagogico) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.evaluacionUnidadEducativa)}}
                                                {{form_widget(formConRude.evaluacionUnidadEducativa)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.evaluacionEscolaridad)}}
                                                {{form_widget(formConRude.evaluacionEscolaridad)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    {% elseif  app.session.get('idArea') == 7 %}
                                    <fieldset><legend>6. Datos de Inscripción (Talento Extraordinario)</legend>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.informePsicopedagogico)}}
                                                {{form_widget(formConRude.informePsicopedagogico) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.codigoPsicopedagogico)}}
                                                {{form_widget(formConRude.codigoPsicopedagogico)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.deteccion)}}
                                                {{form_widget(formConRude.deteccion) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.gradoTalento)}}
                                                {{form_widget(formConRude.gradoTalento)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.talento)}}
                                                {{form_widget(formConRude.talento)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    {% else %}
                                    <fieldset><legend>4. Datos de Inscripción (Discapacidad)</legend>
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                {{ form_label(formConRude.discapacidadEspecial)}}
                                                {{form_widget(formConRude.discapacidadEspecial,{'attr':{'onchange':'cargarGradosDiscapacidad(this.value)'} }) }}
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.gradoDiscapacidad)}}
                                                {{form_widget(formConRude.gradoDiscapacidad)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.origenDiscapacidad)}}
                                                {{form_widget(formConRude.origenDiscapacidad)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                    </fieldset>

                                    {% endif %}



                                    <fieldset><legend>7. Aspectos Sociales</legend>
	                                    <fieldset><legend>Domicilio del Estudiante</legend>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.domicilioDepartamento)}}
                                                {{form_widget(formConRude.domicilioDepartamento,{'attr':{'onchange':'provincia1(this.value)'} }) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.domicilioProvincia)}}
                                                {{form_widget(formConRude.domicilioProvincia)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.domicilioMunicipio)}}
                                                {{form_widget(formConRude.domicilioMunicipio) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.domicilioLocalidad)}}
                                                {{form_widget(formConRude.domicilioLocalidad)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.direccionZona)}}
                                                {{form_widget(formConRude.direccionZona) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.direccionCalle)}}
                                                {{form_widget(formConRude.direccionCalle)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.direccionNro)}}
                                                {{form_widget(formConRude.direccionNro) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.direccionTelefono)}}
                                                {{form_widget(formConRude.direccionTelefono)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.direccionCelular)}}
                                                {{form_widget(formConRude.direccionCelular) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
	                                    </fieldset>
	                                    <fieldset><legend>Idiomas</legend>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.idiomaTipo1Id)}}
                                                {{form_widget(formConRude.idiomaTipo1Id) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.idiomaTipo2Id)}}
                                                {{form_widget(formConRude.idiomaTipo2Id)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.idiomaTipo3Id)}}
                                                {{form_widget(formConRude.idiomaTipo3Id) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.etniaTipoId)}}
                                                {{form_widget(formConRude.etniaTipoId)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
	                                    </fieldset>
	                                    <fieldset><legend>Aspectos Familiares</legend>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.viveCon)}}
                                                {{form_widget(formConRude.viveCon) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            {% if app.session.get('idArea') != 7 %}

                                            <div class="form-group col-lg-6 col-md-6">
                                                {{ form_label(formConRude.parienteDiscapacidad)}}
                                                {{form_widget(formConRude.parienteDiscapacidad)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.gradoParentesco)}}
                                                {{form_widget(formConRude.gradoParentesco) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            {% endif %}
                                        </div>
	                                    </fieldset>
	                                    <fieldset><legend>Salud</legend>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.seguro)}}
                                                {{form_widget(formConRude.seguro)}}    
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.medicacion)}}
                                                {{form_widget(formConRude.medicacion) }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-6">
                                                {{ form_label(formConRude.sangreTipoId)}}
                                                {{form_widget(formConRude.sangreTipoId)}}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
	                                    </fieldset>
                                    </fieldset>

                            <div class="form-group">
                                <div class="col-lg-12 text-center">
                                    {{ form_widget(formConRude.guardar ) }}
                                    <a href="{{path('estudianteinscripcion_especial',{'op':'result'})}}" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                            {{form_end(formConRude)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/jquery-ui.min.js')}}"></script>
    <script>  

        /*  functiones para seleccionar nivles grados y paralelos */
        function provincia1(d) {
            $.ajax({
                type: 'get',
                url: Routing.generate('search_provincias', {'departamento': d}),
                beforeSend: function () {
                    $("#form_domicilioProvincia").empty();
                    $("#form_domicilioProvincia").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_domicilioProvincia").empty();
                    $("#form_domicilioProvincia").append('<option value="">Seleccionar...</option>');
                    $.each(data.provincia, function (i, value) {
                        $("#form_domicilioProvincia").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }

        function cargarAreas1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_areas_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno}),
                beforeSend: function () {
                    $("#form_area").empty();
                	$("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_area").append('<option value="">Buscando...</option>');
                    $("#form_nivel").append('<option value="">Buscando...</option>');
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_area").empty();
                	$("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_paralelo").empty();
                    $("#form_area").append('<option value="">Seleccionar...</option>');
                    $("#form_nivel").append('<option value="">Seleccionar...</option>');
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.areas, function (i, value) {
                        $("#form_area").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }

        function cargarNiveles1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            var area = $('#form_idArea').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_niveles_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno,'area':area}),
                beforeSend: function () {
                    $("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_nivel").append('<option value="">Buscando...</option>');
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    $("#form_servicio").append('<option value="">Buscando...</option>');
                    $("#form_programa").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_nivel").empty();
                    $("#form_grado").empty();
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_nivel").append('<option value="">Seleccionar...</option>');
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $("#form_servicio").append('<option value="">Seleccionar...</option>');
                    $("#form_programa").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.niveles, function (i, value) {
                        $("#form_nivel").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
        
        function cargarGrados1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            var area = $('#form_idArea').val();
            var nivel = $('#form_nivel').val();
            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_grados_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno,'area':area,'nivel':nivel}),
                beforeSend: function () {
                    $("#form_grado").empty();
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_grado").append('<option value="">Buscando...</option>');
                    $("#form_servicio").append('<option value="">Buscando...</option>');
                    $("#form_programa").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_grado").empty();
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_grado").append('<option value="">Seleccionar...</option>');
                    $("#form_servicio").append('<option value="">Seleccionar...</option>');
                    $("#form_programa").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.grados, function (i, value) {
                        $("#form_grado").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }


        function cargarServicios1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            var area = $('#form_idArea').val();
            var nivel = $('#form_nivel').val();
            var grado = $('#form_grado').val();


            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_servicios_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno,'area':area,'nivel':nivel,'grado':grado}),
                beforeSend: function () {
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_servicio").append('<option value="">Buscando...</option>');
                    $("#form_programa").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_servicio").empty();
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_servicio").append('<option value="">Seleccionar...</option>');
                    $("#form_programa").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.servicios, function (i, value) {
                        $("#form_servicio").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }

        function cargarProgramas1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            var area = $('#form_idArea').val();
            var nivel = $('#form_nivel').val();
            var grado = $('#form_grado').val();
            var servicio = $('#form_servicio').val();


            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_programas_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno,'area':area,'nivel':nivel,'grado':grado,'servicio':servicio}),
                beforeSend: function () {
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_programa").append('<option value="">Buscando...</option>');
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_programa").empty();
                    $("#form_paralelo").empty();
                    $("#form_programa").append('<option value="">Seleccionar...</option>');
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.programas, function (i, value) {
                        $("#form_programa").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }

        

        function cargarParalelos1() {
            var institucion = $('#form_idInstitucion').val();
            var gestion = $('#form_gestion').val();
            var turno = $('#form_turno').val();
            var area = $('#form_idArea').val();
            var nivel = $('#form_nivel').val();
            var grado = $('#form_grado').val();
            var servicio = $('#form_servicio').val();
            var programa = $('#form_programa').val();

            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_paralelos_especial', {'idInstitucion': institucion,'gestion':gestion,'turno':turno,'area':area,'nivel':nivel,'grado':grado,'servicio':servicio,'programa':programa}),
                beforeSend: function () {
                    $("#form_paralelo").empty();
                    $("#form_paralelo").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_paralelo").empty();
                    $("#form_paralelo").append('<option value="">Seleccionar...</option>');
                    $.each(data.paralelos, function (i, value) {
                        $("#form_paralelo").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }

        function cargarGradosDiscapacidad(d) {
            $.ajax({
                type: 'get',
                url: Routing.generate('cargar_grados_discapacidad_especial', {'discapacidad': d}),
                beforeSend: function () {
                    $("#form_gradoDiscapacidad").empty();
                    $("#form_gradoDiscapacidad").append('<option value="">Buscando...</option>');
                },
                success: function (data) {
                    $("#form_gradoDiscapacidad").empty();
                    $("#form_gradoDiscapacidad").append('<option value="">Seleccionar...</option>');
                    $.each(data.grados, function (i, value) {
                        $("#form_gradoDiscapacidad").append('<option value="' + i + '">' + value + '</option>');
                    });
                }
            });
        }
        
        
    </script>
{% endblock %}



